@using IDB.Architecture.Language

<form class="hide" id="frmReplaceDocument" data-target="@Url.Action("ReplaceDocumentAsync", "DocumentManagement", new { area = ""})">
    <input id="replaceDocumentInput" name="replaceDocumentInput" type="file" class="hide" />
</form>

@Confluence.ModalWarning(new HtmlString(Localization.GetText("DM.Table.Confirm.Msg")),
    "dmReplaceWarningModal",
    new List<IDB.Presentation.MVC4.Models.Modal.ModalButtonsViewModel>
    {
        new IDB.Presentation.MVC4.Models.Modal.ModalButtonsViewModel
        {
            Id = "btnReplaceOk",
            Name = "btnReplaceOk",
            Text = Localization.GetText("GLOBAL.CONTROL.OK"),
            CloseAtEnd = true,
            Type = "buttonOrange"
        }
    },
    showTitleIcon: true,
    showDefaultCancelButton: true)