/**
 * ui_vi_001 Id's
 * Thu, 28 January 2014
 * eSmart Group
 */

#ui_ws_001-graph{}

.stats-column {
    display: inline-block;
    vertical-align: top;
}

.right-column {
    float: right;
}

.clear {
    clear: both;
}

#ui_ws_001-graph .kendoDropDown {
    width: 100%;
}
#ui_ws_001-graph .k-select{ display: inline-block; position: absolute; right: 0; text-decoration: none; top: 2px; vertical-align: top; }
#ui_ws_001-graph .k-dropdown-wrap { display: block !important; cursor: pointer;padding: 2px 0;}
#ui_ws_001-graph .k-dropdown{ display: inline-block; cursor: pointer;border: none !important; }
.k-state-hover { background-position: inherit !important; background-color: #eff4fb; }

.k-popup.k-list-container { border-right: 1px solid #CCDCF2; border-left: 1px solid #CCDCF2; border-bottom: 1px solid #CCDCF2; border-radius: 0 !important; }
.marginTop2px { margin-top: 2px;}