
    #FindingAndRecommendationTable
    {
        border: solid 1px #999;
        border-collapse: collapse;
    }

    #FindingAndRecommendationTable .stage-cell,
    #FindingAndRecommendationTable .categories-cell,
    #FindingAndRecommendationTable .dimensions-cell
    {
        border-right: 0 !important;
    }

    #FindingAndRecommendationTable textarea
    {
        height: 100px;
        margin: 20px 0;
        padding: 5px;
        overflow: auto;
    }

    #FRPage.edit-mode .view-mode,
    #FRPage.view-mode .edit-mode
    {
        display: none;
    }

    #FRPage.edit-mode .readonly .view-mode
    {
        display: block !important;
    }

    #FRPage.edit-mode .readonly .edit-mode
    {
        display: none !important;
    }


    #FindingAndRecommendationTable th
    {
        text-align: left !important;
    }

    #FindingAndRecommendationTable tbody tr:odd td
    {
        background: #CCC !important;
    }

    select option
    {
        width: 100% !important;
    }

    .addOneWrapper
    {
        width: 300px;
        height: 30px;
    }


    #categoriesModal ul li
    {
      list-style-type: none;
      margin: 0 !important;
      padding: 0 !important;
    }

    #categoriesModal ul li.dimension
    {
      font-weight: bold;
      padding: 20px 0 10px 0 !important;
        text-decoration: none !important;      
      
    }

    #categoriesModal ul li.category
    {
      padding: 5px 0 5px 10px !important;
      
    }

    #categoriesModal ul li.category input
    {
      margin-right: 10px;
      
    }

    select.edit-mode
    {
      color: #000 !important;
    }

    #FindingAndRecommendationTable > tbody > tr > td:first-child
    {
        border-right: 0; 
      
    }

    #FindingAndRecommendationTable table.delays
    {
        margin: 20px 0 20px;
        border: solid 1px #999;
        border-collapse: collapse;
    }

    .tableNormal tbody tr td
    {
        border-right: 0 !important;
    }

    #FindingAndRecommendationTable tr.odd td
    {
        background: #EEE !important;
    }


    #FindingAndRecommendationTable > tbody > tr[data-finding-id] td
    {
        border-top: solid 1px #BBB;
    }


    .delays-button
    {
        background: #FFF;
      border: solid 1px #DDD !important;
    }



    .category-button
    {
    vertical-align: middle;
      border: 0;
      background: transparent;
      cursor: pointer;
    }

    .category-button .icon-bar
    {
        display: block;
      margin: 2px 0;
      height: 5px;
      width: 19px;
      background: rgb(0,204,255) !important;
      border: solid 1px #444;
      border-radius: 1px;
    }


    #fr-search-block
    {
      margin: 30px 0 50px;
    }

    #fr-search-block .container
    {
      background: #F2F2F2;
      padding: 20px 20px;
      border-radius: 10px;
    }

    #fr-search-block .container .row:first-child
    {
        margin: 0 0 30px 0;
    }

    #fr-search-block .container label
    {
        padding-right: 15px; 
    }

    #fr-search-block > .container {
        margin: 0 !important;
        width: 100% !important;
        border: solid 1px #CCC !important;
        border-radius: 0 !important;
    }


    #fr-search-block > .container label
    {
        line-height: 30px;
    }


    .categories-list,
    .dimensions-list
    {
        background: #FFF;
      border: solid 1px #AAA;
      height: 70px;
      margin: 10px 20px 0 0;
      overflow: auto;
      padding: 5px; 
    }

    .categories-list span,
    .dimensions-list span 
    {
         
      border: solid 1px rgb(51,153,255);
      display: inline-block;
      padding: 2px;
      margin: 0 0 5px 0;
      font-size: 9pt;
    }

    #FRPage select
    {
        color: #000 !important;
        background: #FFF;
    }


    #categoriesModal label:hover
    {
        text-decoration: underline;
    }


    #FRPage.empty .empty-hide
    {
        visibility: hidden !important;
    }

    .empty-message
    {
        text-align: center;
      font-weight: bold;
      background: #EEE;
      padding: 40px 0;
      margin: 20px 0;
      
    }

    .centerAlign.addOneWrapper.centerContent
    {
        clear: both;
    }

.categories-list span,
    .dimensions-list span 
    {
         
      border: solid 1px rgb(51,153,255);
      display: inline-block;
      padding: 2px;
      margin: 0 0 5px 0;
      font-size: 9pt;
      background: transparent;
      border-radius: 5px;
    }


#filter-cycle
{
  height: 80px;
}



#filter-cycle
{
  height: 100px;
  width: 240px;
}

#filter-dimensions-list
{
  background: rgb(227,227,227);
  
}

#filter-dimensions-list span
{
  border: 0;
  background: rgb(244,245,246);
  border: solid 1px #CCC;
}


#dimensionsModal .modal-body
{
  padding: 0;
 
}

#dimensionsModal .modal-dialog
{
  
  width: 945px;
}


.delays select 
{
    width: 100% !important;
}



#dimensionsModal table thead tr th
{
  background: rgb(213,220,228);
  color: #000;
  text-align: center;
}


#dimensionsModal table tbody tr td
{
  border: solid 1px #000;
  padding: 10px 10px;
  color: #000;
  font-size: 11px;
}



#dimensionsModal table tbody tr.gray td
{
  background: rgb(213,220,228);  
}

/*#dimensionsModal table tbody tr:nth-child(2n+1) td.category,
#dimensionsModal table tbody tr:nth-child(2n+1) td.category-examples,
#dimensionsModal table tbody tr.odd td:first-child,
#dimensionsModal table tbody tr.odd td:nth-child(2)
{
  background: rgb(213,220,228);
}
*/

#dimensionsModal table
{
 width: 100%; 
}

#dimensionsModal table tbody td.dimension

{
    width: 100px;
  text-align: center;
}

#dimensionsModal table tbody td.category
{
  width: 150px;
  
}

#dimensionsModal table tbody td.dimension-description{
    vertical-align: top;
    width: 260px;
}


.categories-list,
    .dimensions-list
    {
        background: #FFF;
      border: solid 1px #AAA !important;
      height: 70px;
      margin: 10px 20px 0 0;
      overflow: auto;
      padding: 5px; 
    }

#FindingAndRecommendationTable td
{
  padding: 5px !important; 
}

#FindingAndRecommendationTable td textarea
{
  margin: 0 !important;
}


.delays th
{
  white-space: nowrap;
}

.delays select[name=type_id]
{
     width: 200px !important;
}

#FindingAndRecommendationTable label
{
    padding-left: 1px;
}


#categoriesModal.for-search h5.modal-title
{
    display: none;
}

#FindingAndRecommendationTable .otherdelaytext
{
    display: none;
}

#FindingAndRecommendationTable .name-cell.otherdelay-cell .otherdelaytext
{
    display: block !important;
}

#FindingAndRecommendationTable .name-cell.otherdelay-cell select
{
    display: none
}

#FindingAndRecommendationTable .red
{
    color: #F00;
}

#FindingAndRecommendationTable .input-error
{
    border: solid 1px #F00;
}



#FindingAndRecommendationTable .buttons-cell
{
  border-right: solid 1px #BBB;  
}


#FindingAndRecommendationTable tbody tr td:last-child
{
  border-right: solid 1px #BBB;
}

.bs-modal.modal {
  text-align: center;
  padding: 0!important;
}

.bs-modal.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; 
}

.bs-modal.modal .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  width: 70%;
}

.bs-modal.modal .modal-header {
    background: rgb(36,118,203);
    border-bottom: solid 1px #666;
}

.bs-modal.modal.modal-warning .modal-header,
.bs-modal.modal.modal-warning .modal-header .close {
    background-color: #e19c23;
}

.bs-modal.modal .modal-header .close {
    color: #FFF; 
    opacity: 0.8;
    border: solid 1px #222;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: rgb(66,139,202);
}

.bs-modal.modal .modal-header .modal-title {
    color: #FFF;
    font-weight: bold;
}

.bs-modal.modal .modal-dialog .modal-body {
    margin: 20px;
}

.bs-modal.modal .modal-footer {
    border-top: 0 !important;
}

.bs-modal.modal .buttonBlue.buttonYellow {
    background: rgb(225,156,35) !important;
}