    <div class="row row-header row-header-comment">
        <div class="col-md-12">
            <p>@IDB.MVCControls.General.Helpers.FormatHelper.Format(DateTime.Now)</p>
            <p>@Model.UserName</p>
        </div>
    </div>

    <div class="row repeater-item-comment">
        <div class="col-md-12 font-comment break-words">
            @ControlTemplates.InputTextArea(value: "", name: "txtFieldComment", id: "newWorkFlowComment",
                          dataAttributes: new Dictionary<string, string> { { "persist-id", "0" }, { "parsley-type", "alphanum" }, { "parsley-maxlength", "1000" } })
        </div>
        <div data-pagemode="edit" class="btnDeleteRepeater">
            @Display.Button(htmlClass: "btnDelete-repeater button07-left-icon button07_4", hasIcon: true,
          attributes: new Dictionary<string, string> { { "id", "btnClearWorkflowComment" } })
        </div>
    </div>


