@using IDB.Architecture.Language;
@using IDB.MW.Domain.Values;
@using IDB.MVCControls.General.Helpers;

@{
    Layout = null;
}

<body style="padding:20px;">
    <div style="text-align:right">
        <a href="javascript:window.history.back();">&laquo; Go back</a>
    </div>
    <div style="text-align:center;margin-top:45px;font-family:Arial;font-size:large">
        @if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))
        {           
             @ViewBag.ErrorMessage; 
            <br />
            <br />
            <a href="mailto:convergencehelp@iadb.org" title="convergencehelp@iadb.org">
                convergencehelp@iadb.org
            </a>
        }
        else
        {
            <p>@Localization.GetText(TCGlobalValues.ERROR_TC_ABSTRACT_SERVICE).HtmlEncode()</p>
        }
    </div>
</body>
