<script id="PMRCycle-template" type="text/x-handlebars-template">
   {{#each this}}
      <tr>
         <td>
            <input type="hidden" value="{{CloseOfCycleId}}">
         </td>
         <td>{{CycleDescription}}
         </td>
         <td>{{#if CycleIsClosed}}
               
            {{else}}
               <span>@Localization.GetText("OPEN")</span>
            {{/if}} 
         </td>
         <td>{{CycleClosingDateString}}</td>
      </tr>
   {{/each}}
</script>

<script id="PMRCycleCloseEdit-template" type="text/x-handlebars-template">
   {{#each this}}
      <tr>
         <td>
            <input type="hidden" value="{{CloseOfCycleId}}">
         </td>
         <td>{{CycleDescription}}
         </td>
         <td>{{#if CycleIsClosed}}
               <span>CLOSE</span>
            {{else}}
               <span>OPEN</span>
            {{/if}} 
         </td>
         <td>{{#if CycleIsClosed}}
            <span>{{CycleClosingDateString}}</span>
            {{else}}
            @Html.TextBox("CycleClosingDateVisual", "", new { @class = "datepicker", placeholder = "MM/dd/yyyy" })
            {{/if}}            
         </td>
      </tr>
   {{/each}}
</script>
