<ul class="menuGuia">
    <li>
        <a href="#infozone"><h1>Sección de Información</h1></a>
        <ul>
            @if (!ViewBag.Legacy)
            {
                <li><a href="#infValidation">Validacion</a></li>
            }
            <li><a href="#infTest">Entorno de pruebas</a></li>
        </ul>
    </li>
    <li>
        <a href="#botones"><h1>Sección de Botones</h1></a>
        <ul>
            <li><a href="#btnAzul">Boton Azul</a></li>
            <li><a href="#btnNaranjo">Boton Naranjo</a></li>
            <li><a href="#btnBlanco">Boton Blanco</a></li>
            <li><a href="#btnLink">Boton Link</a></li>
            <li><a href="#btnReload">Boton Reload</a></li>
            <li><a href="#btnColapsar">Boton Colapsar</a></li>
            <li><a href="#btnEliminar">Boton Eliminar</a></li>
            <li><a href="#BtnErase">Boton Erase</a></li>
            <li><a href="#btnDownload">Boton Download</a></li>
            <li><a href="#btnDownloadAction">Boton Download Action</a></li>
            <li><a href="#btnUpload">Boton Upload</a></li>
            <li><a href="#btnMove">Boton Move</a></li>
            <li><a href="#btnBack">Boton Back</a></li>
            <li><a href="#btnBack">Boton Flag</a></li>
            <li><a href="#btnChange">Boton Change</a></li>
            <li><a href="#btnVersion">Boton Version</a></li>
            <li><a href="#btnNewMessage">Boton New Message</a></li>
            <li><a href="#btnNuevaFila">Boton Nueva Fila</a></li>
            <li><a href="#btnShowFila">Boton Mostrar Fila</a></li>
            <li><a href="#btnExcel">Boton Excel</a></li>
            <li><a href="#btnWord">Boton Word</a></li>
            <li><a href="#btnPDF">Boton Pdf</a></li>
            <li><a href="#btnVSD">Boton Visio</a></li>
            <li><a href="#btnPUB">Boton Publisher</a></li>
            <li><a href="#btnWPD">Boton WordPerfect</a></li>
            <li><a href="#btnPST">Boton Outlook</a></li>
            <li><a href="#btnPPT">Boton PowerPoint</a></li>
            <li><a href="#btnPMPP">Boton Project</a></li>
            <li><a href="#btnGroup">Botones Graph Values</a></li>
            <li><a href="#btnmail">Boton Email</a></li>
            <li><a href="#btnmaillabel">Boton Email Label</a></li>
            <li><a href="#btnmailsend">Boton Email Send</a></li>
            <li><a href="#btnreturnlabel">Boton Return Label</a></li>
        </ul>
    </li>
    <li>
        <a href="#labels"><h1>Sección de Labels</h1></a>
        <ul>
            <li><a href="#txtTitulo">Titulo Principal</a></li>
            <li><a href="#txtGroup">Titulo de Grupo</a></li>
            <li><a href="#txtSubGroup">Titulo de Sub Grupo</a></li>
            <li><a href="#txtNormal">Texto Normal</a></li>
            <li><a href="#txtNormalBold">Texto Normal Negrita</a></li>
            <li><a href="#txtInt">Numero Normal</a></li>
            <li><a href="#txtIntBold">Numero Normal Negrita</a></li>
            <li><a href="#txtIntPer">Numero Porcentaje Normal</a></li>
            <li><a href="#txtIntPerBold">Numero Porcentaje Negrita</a></li>
            <li><a href="#txtMoney">Money Normal</a></li>
            <li><a href="#txtMoneyBold">Money Normal Negrita</a></li>
            <li><a href="#txtDecimal">Decimal Normal</a></li>
            <li><a href="#txtDecimalBold">Decimal Normal Negrita</a></li>
            <li><a href="#txtDecimalPer">Decimal Porcentaje Normal</a></li>
            <li><a href="#txtDecimalPerBold">Decimal Porcentaje Normal Negrita</a></li>
            <li><a href="#txtBool">Boleano a Texto</a></li>
            <li><a href="#txtBoolBold">Boleano a Texto Negrita</a></li>
            <li><a href="#txtDate">Date a Texto</a></li>
            <li><a href="#txtDateBold">Date a Texto Negrita</a></li>
            <li><a href="#txtDropDown">Dropdown a Texto</a></li>
            <li><a href="#txtDropDownBold">Dropdown a Texto Negrita</a></li>
            <li><a href="#txtDropDownMulti">MultiDropdown a Texto</a></li>
            <li><a href="#txtDropDownMultiBold">MultiDropdown a Texto Negrita</a></li>
            @if (ViewBag.Legacy)
            {
            <li><a href="#txtGroupLabel">Grupo Label</a></li>
            }
            <li><a href="#txtLink">Label Link</a></li>
            <li><a href="#txtNavigation">Texto con navegacion</a></li>
            <li><a href="#txtClose">Texto con boton de cerrar</a></li>
        </ul>
    </li>
    <li>
        <a href="#tablas"><h1>Sección de Tablas</h1></a>
        <ul>
            <li><a href="#tbNormal">Tabla Normal</a></li>
            <li><a href="#tbNormalPag">Tabla Normal Paginación</a></li>
            <li><a href="#tbtree">Tabla Tree</a></li>
            <li><a href="#tbtreeTitle">Tabla Tree Fila Titulo</a></li>
            <li><a href="#tbtreeAn">Tabla Tree Anidada</a></li>
            <li><a href="#tbtreeAntree">Tabla Tree Anidada Tabla Tree</a></li>
            <li><a href="#tbexpandNum">Expandible con numero</a></li>
            <li><a href="#tbexpandNumHide">Expandible oculta cabecera</a></li>
            <li><a href="#tbgris">Piel Gris</a></li>
            <li><a href="#tbLigthBlue">Piel Azul Claro</a></li>
            <li><a href="#tbSort">Tabla Ordenable</a></li>
            <li><a href="#tbSubSeccion">Tabla Sub Secciones</a></li>
        </ul>
    </li>
    <li>
        <a href="#inputs"><h1>Sección de Inputs</h1></a>
        <ul>
            <li><a href="#inptextarea">Textarea</a></li>
            <li><a href="#inpdropdown">Dropdown</a></li>
            <li><a href="#inpdropdownAsync">Dropdown Asincronico</a></li>
            <li><a href="#inpdropdownAsyncPic">Dropdown Asincronico con Foto</a></li>
            <li><a href="#inpdropdownAutoComplete">Dropdown AutoCompletar</a></li>
            <li><a href="#inpdropdownAutoCompleteList">Dropdown AutoCompletar Con Lista Previa</a></li>
            <li><a href="#inpdropdownAutoCompleteNonButton">Dropdown AutoCompletar sin boton</a></li>
            <li><a href="#inputButton">Input Button</a></li>
            <li><a href="#inputText">Input Text</a></li>
            <li><a href="#inputNumber">Input Number</a></li>
            <li><a href="#inputDecimal">Input Decimal</a></li>
            <li><a href="#inputPercent">Input Porcentaje</a></li>
            <li><a href="#inputdate">Input Fecha</a></li>
            <li><a href="#inputComent">Caja de comentarios</a></li>
            <li><a href="#inputrad">Input Radiobutton</a></li>
            <li><a href="#inputchk">Input Checkbox</a></li>
            <li><a href="#inputchklock">Input Checkbox PadLock</a></li>
            <li><a href="#inputmultiselect">Input MultiDropdown</a></li>
            <li><a href="#inputhide">Input Hidden</a></li>
            @if (ViewBag.Legacy)
            {
            <li><a href="#inputMuliText">Caja Multilenguaje Simple Text</a></li>
            <li><a href="#inputMuliArea">Caja Multilenguaje Simple Area</a></li>
            <li><a href="#inputMuli">Caja Multilenguaje</a></li>
            }
            <li><a href="#inputFile">Input File</a></li>
            @if (ViewBag.Legacy)
            {
            <li><a href="#inputRich">RichText</a></li>
            }
            <li><a href="#inputMoney">Input Money</a></li>
        </ul>
    </li>
    <li>
        <a href="#icons"><h1>Sección de Iconos</h1></a>
        <ul>
            <li><a href="#icoast">Asterisco</a></li>
            <li><a href="#icoCheck">Check a imagen</a></li>
            <li><a href="#icoFlagBlack">Flag Black</a></li>
            <li><a href="#icoFlagGreen">Flag Green</a></li>
            <li><a href="#icoFlagYellow">Flag Yellow</a></li>
            <li><a href="#icoFlagMagenta">Flag Magenta</a></li>
            <li><a href="#icoFlagGray">Flag Gray</a></li>
            <li><a href="#icoFlagRed">Flag Red</a></li>
            <li><a href="#icoFlagVmr">Flag VMR</a></li>
            <li><a href="#icoFlagVer">Flag VER</a></li>
            <li><a href="#icoCircleRed">Circle Red</a></li>
            <li><a href="#icoCircleOrange">Circle Orange</a></li>
            <li><a href="#icoCircleYellow">Circle Yellow</a></li>
            <li><a href="#icoCircleGreen">Circle Green</a></li>
            <li><a href="#icoIcoSuccess">IcoSuccess</a></li>
            <li><a href="#icoIcoWarning">IcoWarning</a></li>
            <li><a href="#icoIcoError">IcoError</a></li>
            <li><a href="#icoIcoVmr">Ico VMR</a></li>
            <li><a href="#icoIcoVer">Ico VER</a></li>
        </ul>
    </li>
    <li>
        <a href="#others"><h1>Sección de Otros</h1></a>
        <ul>
            <li><a href="#othPestana">Pestañas</a></li>
            <li><a href="#othPersona">Foto persona</a></li>
            <li><a href="#othPersonaElement">Foto persona + Elemento</a></li>
            <li><a href="#othinfAzul">Informacion</a></li>
            <li><a href="#othinfSec">Seccion de Informacion</a></li>
            <li><a href="#othfil">Caja filtros</a></li>

            @if (ViewBag.Legacy)
            {
                <li><a href="#othAlert">Alert Message</a></li>
            }
            <li><a href="#othInfoAlert">Alert Info Message</a></li>
            <li><a href="#othWarningAlert">Alert Warning Message</a></li>
            <li><a href="#othErrorAlert">Alert Error Message</a></li>
            <li><a href="#othSuccessAlert">Alert Success Message</a></li>
            <li><a href="#othInfoConfirm">Confirm Info Message</a></li>
            <li><a href="#othInfoConfirmCustom">Confirm Info Message Custom</a></li>
            <li><a href="#othWarningConfirm">Confirm Warning Message</a></li>
            <li><a href="#othErrorConfirm">Confirm Error Message</a></li>
            <li><a href="#othSuccessConfirm">Confirm Success Message</a></li>
            @if (ViewBag.Legacy)
            {
                <li><a href="#othWarning">Warning Message</a></li>
            }
            <li><a href="#othSuccesBar">Succes Bar</a></li>
            <li><a href="#othErrorBar">Error Bar</a></li>
            <li><a href="#othInfoBar">Info Bar</a></li>
            <li><a href="#othWarningBar">Warning Bar</a></li>
            @if (ViewBag.Legacy)
            {
                <li><a href="#othModal">Modal</a></li>
                <li><a href="#othDocsOffice">Docs Office 365</a></li>
            }
            <li><a href="#othModalInfo">Modal Info</a></li>
            <li><a href="#othModalSucces">Modal Success</a></li>
            <li><a href="#othModalWarning">Modal Warning</a></li>
            <li><a href="#othModalError">Modal Error</a></li>
            <li><a href="#othBoxUsr">Box Users</a></li>
            <li><a href="#othBoxUsrSimple">Box Users Simplet</a></li>
        </ul>
    </li>
</ul>

<a id="volverInicio" href="#titulos"><span class="caret"></span></a>