<div class="pull-right">
    @Confluence.ButtonOrange(Localization.GetText("CM.Button.Delete"), "removeContact", "removeContact")
    @Confluence.ButtonBlue(Localization.GetText("CM.Button.Edit"), "editContact", "editContact")
</div>
