@using IDB.MW.Application.SiscorModule.Enums;
@using IDB.Architecture.Language

@model IDB.MW.Application.SiscorModule.ViewModels.SiscorCorrespondenceViewModel
<div id="toValidateComment" data-parsley-validate="data-parsley-validate">
    @Confluence.Label(text: Localization.GetText("SC.SC.Correspondence.Labels.BusinessArea"))<br />
    @Confluence.InputDropDown(value: "", name: "cbBusinessAreaComment", elements: Model.LsBusinessAreas, htmlClass: "js_cbFilter", required: true)
    @Confluence.InputCommentBox(Confluence.Label(text: Model.CurrentUser), Confluence.Label(text: DateTime.Now.ToString("dd MMM yyyy")), null, "", name: "newComment")
</div>