@using System.Globalization

@using IDB.MW.Application.CPDModule.ViewModels.CountryProgram
@using IDB.MVCControls.DataTable.Helpers
@using IDB.MW.Application.CPDModule.ViewModels.Core

@model UseOfCountrySystemsTabViewModel

@{
    var config = Html.RenderDataTable(Model.StrengtheningInitiatives);
    config.TableClass = "tableNormal";
    config.Name("strengtheningInitiativesTable")
    .PrimaryKey(m => m.RowId.ToString(CultureInfo.InvariantCulture))
    .AddPrimaryKeyToName(false)
    .UseDataTableNet(false)
    .UsePageMode(false)
    .Columns(columns =>
    {
        columns.Bound(c => c.System)
        .Header(Localization.GetText("CPD.CountryProgram.UseOfCountrySystems.TableHeader.Systems"))
        .CssHeaderClass("w160")
        .Persistent();

        columns.Template(DrawMultiDropdown)
        .HeaderTemplate(ForseenActionsHeaderTitle())
        .CssHeaderClass("")
        .Persistent();

        columns.Bound(c => c.Comment)
        .Header(Localization.GetText("CPD.CountryProgram.UseOfCountrySystems.TableHeader.Comments"))
        .CssHeaderClass("w300")
        .Persistent();

    });
}

@Html.Partial("Controls/DataTable", config)

@helper DrawMultiDropdown(SystemRowViewModel model)
{
    <ul class="list-without-style mb5">
        @foreach (var option in model.ForeSeenActionNames)
        {
            <li>@Confluence.LabelBold(option)</li>
        }
    </ul>
}

@helper ForseenActionsHeaderTitle()
{
    @Localization.GetText("CPD.CountryProgram.UseOfCountrySystems.TableHeader.ForseenActions")
}