@using IDB.MW.Application.CPDModule.ViewModels.CountryProgram


@model UseOfCountrySystemsTabViewModel

<div class="row mb5">
    <div class="col-md-12">
        @Confluence.LabelBold(Localization.GetText("CPD.CountryProgram.UseOfCountrySystems.FinancialManagement"))
    </div>
</div>

<div class="row mb30">
    <div class="col-md-12">
        @Html.Partial("ReadPartial/UseCountrySysTab/UseOfCountrySystemsTablePartial", Model.FinancialManagements)
    </div>
</div>

<div class="row mb5">
    <div class="col-md-12">
        @Confluence.LabelBold(Localization.GetText("CPD.CountryProgram.UseOfCountrySystems.Title.Procurement"))
    </div>
</div>

<div class="row mb30">
    <div class="col-md-12">
        @Html.Partial("ReadPartial/UseCountrySysTab/UseOfCountrySystemsTablePartial", Model.Procurements)
    </div>
</div>