@Styles.Render("~/Content/Modules/AdministrationSecondPhase/VisualOutputsMapping/VisualOutputsMapping.css")
@Styles.Render("~/Content/common.css")

@Scripts.Render("~/Scripts/AdministrationSecondPhase/VisualOutputsMapping")

@model IDB.MW.Application.AdministrationModule.ViewModels.VisualOutputsMapping.VODViewModel

<div class="tabContent">
    <div class="col-md-12 mb20">
        @Html.Partial("Partials/VisualOutputsDownloadDataFilter/VisualOutputsDetails/VisualOutputsDetailsHeader", Model.VodHeaderViewModel)
    </div>

    <div class="col-md-12 mb20">
        @Html.Partial("Partials/VisualOutputsDownloadDataFilter/VisualOutputsDetails/VisualOutputsDetailsTable")
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        registerCallback(function () {
            $(document).ready(function () {
                VOMDownload.showFilterInput();
            });
        });
    </script>
}
