@using IDB.Presentation.MVC4.Areas.TC.Models

@model IDB.MW.Application.TCAbstractModule.ViewModels.AwardFundEligibility.AwardFundEligibilityViewModel

@if (Model.SubFund != null)
{
    <div data-pagemode="read">
        <div class="row row-body-40 font-body">
            <div class="col-md-12">
                @ControlTemplates.InputCheckbox(
                    isChecked: Model.SubFund.isChecked,
                    name: ClientFieldDataMappers.AWARD_ELIGIBILITY_SUBFUND_CHECK,
                    label: string.Format(
                        "{0} ({1})", Model.SubFund.SubFundName, Model.SubFund.SubFundCode),
                    disabled: true)
            </div>
        </div>
    </div>
    <div id="awardEligibilitySubFund" data-pagemode="edit">
        <div class="row row-body-40 font-body">
            <div class="col-md-12">
                @ControlTemplates.InputCheckbox(
                    isChecked: Model.SubFund.isChecked,
                    name: ClientFieldDataMappers.AWARD_ELIGIBILITY_SUBFUND_CHECK,
                    label: string.Format(
                        "{0} ({1})", Model.SubFund.SubFundName, Model.SubFund.SubFundCode))
            </div>
        </div>
    </div>
}
