@using IDB.MVCControls.General.Helpers

@model IDB.MW.Application.TCAbstractModule.ViewModels.TCAbstractService.TCMemberDataViewModel

<div class="col-md-4">
    <div class="dataMemberInfo">
        <div class="name">
            @Model.Name.HtmlEncode()
        </div>
        <div class="userName">
            @Model.UserName.HtmlEncode()
        </div>
        <div class="role">
            @Model.Role.HtmlEncode()
        </div>
        <div class="organizationalUnit">
            @Model.OrganizationalUnit.HtmlEncode()
        </div>
    </div>
</div>
