@using IDB.MW.Application.TCAbstractModule.ViewModels.TCAbstractService
@using IDB.MVCControls.General.Helpers
@using IDB.Presentation.MVC4.Helpers

@model TCOutputViewModel

<div data-id="@Model.OutputId">
    <div class="row row-body-40">
        <div class="col-md-2">
        </div>
        <div class="col-md-1 font-header">
            @Localization.GetText("TC.TCAbstract.ResultsMatrix.Output")
            <span class="asteriskColor">*</span>
        </div>
        <div class="col-md-8 font-body">
            <div data-pagemode="read">
                @Model.Description.HtmlEncode()
            </div>
            <div data-pagemode="edit">
                @ControlTemplates.InputText(
                    Model.Description,
                    "output",
                    required: true,
                    maxLength: 300,
                    dataAttributes: new Dictionary<string, string>
                    {
                        { "label", Localization.GetText("TC.TCAbstract.ResultsMatrix.Output") }
                    })
            </div>
        </div>
    </div>
</div>