@using IDB.MW.Application.TCAbstractModule.ViewModels.TCAbstractService
@using IDB.MVCControls.General.Helpers

@model TCOutcomeViewModel

<div data-pagemode="read">
    <div data-id="@Model.OutcomeId">
        <div class="row row-body-40 font-body">
            <div class="col-md-12">
                @Model.Description.HtmlEncode()
            </div>
        </div>
    </div>
</div>
<div data-pagemode="edit">
    <div data-id="@Model.OutcomeId">
        <div class="row row-body-50 font-body">
            <div class="col-md-12">
                    @ControlTemplates.InputTextArea(
                        Model.Description,
                        "outcomes",
                        required: true,
                        maxLength: 300,
                        rows: 6,
                        dataAttributes: new Dictionary<string, string>
                        {
                            { "label", Localization.GetText("TC.TCAbstract.ResultsMatrix.NewOutcome") }
                        })
            </div>
        </div>
    </div>
</div>