@using IDB.MVCControls.General.Helpers
@using IDB.MW.Application.TCAbstractModule.Enums
@using IDB.Presentation.MVC4.Helpers

@model IDB.MW.Application.TCAbstractModule.ViewModels.TCAbstractService.TCAbstractViewModel

<div data-name="risks-section">
    <div class="row row-header font-header">
        <div class="col-md-12">
            @Localization.GetText("TC.TCAbstract.Risk.Description").HtmlEncode() <span class="asteriskColor">*</span>
        </div>
    </div>

    <div class="row row-body-40 font-body">
        <div class="col-md-12">
            <div data-pagemode="read" id="risksRead">@Model.Risks.HtmlEncode()</div>
            <div data-pagemode="edit">
                @ControlTemplates.InputTextArea(Model.Risks, "descriptionRisk", rows: 6, maxLength: 3500,
                required: true, dataAttributes: new Dictionary<string, string>
                {
                    { "id", "risks" },
                    { "optional-required", "true" },
                    { "label", Localization.GetText( "TC.TCAbstract.Risks.Title" )}
                })
            </div>
        </div>
    </div>
</div>
