@using IDB.Presentation.MVC4.Models.Modal
@using IDB.Presentation.MVC4.General

    @Display.AddModalButton(new ModalViewModel(contentSelector: "#Outcomes-warning-remove",
        title: Localization.GetText("COMMON.Warning"),
        type: CssClass.ModalWarningNoIcon,
        moveOriginalContent: true,
        name: "Outcomes-open-warning-btn",
        closeOnOverlay: false,
        allowClose: true,
        actionOnClose: "")
          .AddButton(name: "cancel-delete",
          text: Localization.GetText("COMMON.Cancel"),
          type: CssClass.ButtonLink,
          callback: "")
          .AddButton(name: "confirm-delete",
          text: Localization.GetText("COMMON.Ok"),
          type: CssClass.Button05,
          callback: "ConfirmRemove",
          closeAtEnd: true))

    <div id="Outcomes-warning-remove" class="hide modalBody">
        @Localization.GetText("CS.ResultMatrix.Modal.TextDeleteIndicator")
    </div>