@using System.Collections.Generic

@using IDB.MW.Application.TCAbstractModule.ViewModels.NotifyFunding
@using IDB.Architecture.Language

@model TCNotifyFCFundCoordinatorViewModel

<div class="row notify-fund-row">
    <div class="col-md-7">
        <span data-pagemode="read" class="font-body">
            @Input.DropDownGetSelectedText(
                Model.ApplicableFundId,
                ViewBag.ApplicableFunds,
                "TrustFundingId",
                "FundCodeFundName")
        </span>
        <div data-pagemode="edit">
            @Input.DropDown(
                Model.ApplicableFundId,
                "fund-coord-applicableFund",
                ViewBag.ApplicableFunds,
                validateOnChange: true,
                valuePropertyName: "TrustFundingId",
                textPropertyName: "FundCodeFundName",
                attributes: new Dictionary<string , string>()
                {
                    { "data-parsley-noRepeatValue", "[name=fund-coord-applicableFund]" }
                })
        </div>
    </div>
    <div class="col-md-5 " style="padding-left:30px;">
        <span data-pagemode="read" class="fundCoordinator font-body">
            @Input.DropDownGetSelectedText(
                Model.ApplicableFundId,
                ViewBag.ApplicableFundsSelected)
        </span>
        <div data-pagemode="edit">
            @ControlTemplates.InputText(
                ControlTemplates.DropDownGetSelectedString(
                    Model.ApplicableFundId,
                    ViewBag.ApplicableFundsSelected),
                "fund-coord-fundCoordinator",
                disabled: false,
                required: true,
                isReadOnly: true,
                dataAttributes: new Dictionary<string , string>()
                {
                    { "parsley-required-message", Localization.GetText("TC.NotifyFC.FCRequired") }
                })
        </div>
    </div>
</div>
