@using IDB.Architecture.Language
@using IDB.Presentation.MVC4.Helpers
@using System.Collections.Generic

@model IDB.MW.Application.TCAbstractModule.ViewModels.NotifyFunding.TCNotifyFCFundCoordinatorViewModel
,
<div class="row notify-fund-row">
    <div class="col-md-7">
        <div data-pagemode="edit">
            @Input.DropDown(
                Model.ApplicableFundId,
                "fund-coord-applicableFund",
                ViewBag.ApplicableFunds,
                validateOnChange: true,
                valuePropertyName: "TrustFundingId",
                textPropertyName: "FundCodeFundName",
                attributes: new Dictionary<string , string>() { 
                    {"data-parsley-noRepeatValue",
                    "[name=fund-coord-applicableFund]"}
                })
        </div>
    </div>
    <div class="col-md-5 " style="padding-left:30px;">
        <div data-pagemode="edit">
            @ControlTemplates.InputText(
                ControlTemplates.DropDownGetSelectedString(
                    Model.ApplicableFundId ,
                    ViewBag.ApplicableFundsSelected),
                "fund-coord-fundCoordinator",
                disabled: false,
                required: true,
                isReadOnly: true,
                dataAttributes: new Dictionary<string, string>() {
                    {"parsley-required-message", Localization.GetText("TC.NotifyFC.FCRequired")}
                })
        </div>
    </div>
</div>