@using System.Collections.Generic

@using IDB.MW.Application.TCAbstractModule.ViewModels.NotifyFunding

@model TCNotifyFCRegionalTeamLeaderViewModel

<div class="row notify-rtl-row">
    <div class="col-md-7">
        <span data-pagemode="read" class="font-body">
            @Input.DropDownGetSelectedText(Model.CountryLiaisonId, ViewBag.CountryDepartmentList)
        </span>
        <div data-pagemode="edit">
            @Input.DropDown(
                Model.CountryLiaisonId,
                "countryDepartment-rgOperation",
                ViewBag.CountryDepartmentList,
                validateOnChange: true,
                valuePropertyName: "Value",
                textPropertyName: "Text",
                attributes: new Dictionary<string, string>()
                {
                    { "data-parsley-noRepeatValue", "[name=countryDepartment-rgOperation]" }
                })
        </div>
    </div>
    <div class="col-md-5 " style="padding-left:30px;">
        <span data-pagemode="read" class="fundCoordinator font-body">
            @Input.DropDownGetSelectedText(Model.CountryLiaisonId, ViewBag.RegionalTLSelected)
        </span>
        <div data-pagemode="edit">
            @ControlTemplates.InputText(
                ControlTemplates.DropDownGetSelectedString(
                    Model.CountryLiaisonId,
                    ViewBag.RegionalTLSelected),
                "regionalTeamLeader-rgOperation",
                disabled: false,
                required: false,
                isReadOnly: true)
        </div>
    </div>
</div>
