@model IDB.Presentation.MVC4.Areas.TCM.Models.MatrixChangesViewModel
@using IDB.Presentation.MVC4.Helpers

<div data-id="headerButtons" class="floatRight">
    <div data-pagemode="read">
        @Confluence.ButtonWhite(Localization.GetText("TCM.VerifyContent"), action: "verifyContent")
        
        @if (ViewBag.Edit && SecurityHelper.IsVisible(Model.FieldAccessList, "btnEditMatrixChange"))
        {
            @Confluence.ButtonBlue(Localization.GetText("TCM.Edit"), action: "edit", name: "EditCM", dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "btnEditMatrixChange" } })
        }
    </div>
    <div data-pagemode="edit">
        @Confluence.ButtonLink(Localization.GetText("TCM.Cancel"), action: "cancel")
        @Confluence.ButtonOrange(Localization.GetText("TCM.Save"), action: "save")
    </div>
</div>