
@using IDB.MW.Application.BEOProcurementModule.ViewModels.FirmProcurement
@using IDB.Presentation.MVC4.Areas.BEOProcurement.Components

@model List<ChecklistRowViewModel>

@if (Model != null)
{
    var config = Html.Checklist("tablaNueva")
        .Editable()
        .HeaderItemName("Checklist Item")
        .HeaderMandatory("Mandatory?")
        .HeaderCompleted("Completed?")
        .HeaderDateCompleted("Date Completed")
        .HeaderUser("User")
        .HtmlClass("tableNormal")
        .AddItem(new ChecklistRowViewModel()
        {
            ChecklistItem = "Validacion Automatica, Mandatory, tabla1 rellena",
            MandatoryType = "ChecklistItemManadtory",
            MandatorySelector = null,
            IsAuto = true,
            AutoCompleteText = "Auto (Upload File)",
            Validations = new List<CheckListValidationsViewModel>() 
            {
                new CheckListValidationsViewModel()
                {
                    Selector = "#tabla1",
                    Type = "TableRequired"
                }
            }
        })

        .AddItem(new ChecklistRowViewModel()
        {
            ChecklistItem = "Validacion Automatica, No Mandatory, tabla2 rellena",
            MandatoryType = "ChecklistItemNoManadtory",
            MandatorySelector = null,
            IsAuto = true,
            AutoCompleteText = "Auto (Enter Amount)",
            Validations = new List<CheckListValidationsViewModel>() 
            {
                new CheckListValidationsViewModel()
                {
                    Selector = "#tabla2",
                    Type = "TableRequired"
                }
            }
        })

        .AddItem(new ChecklistRowViewModel()
        {
            ChecklistItem = "Validacion Automatica, No Mandatory, sin otra validacion (no tiene sentido?)",
            MandatoryType = "ChecklistItemNoManadtory",
            MandatorySelector = null,
            IsAuto = true,
            AutoCompleteText = "Auto (Enter Technical Score)",
        })

        .AddItem(new ChecklistRowViewModel()
        {
            ChecklistItem = "Validacion Manual, No Mandatory",
            MandatoryType = "ChecklistItemNoManadtory",
            MandatorySelector = null,
            IsAuto = false,
            Completed = true,
        })

        .AddItem(new ChecklistRowViewModel()
        {
            ChecklistItem = "Validacion Manual, Mandatory",
            MandatoryType = "ChecklistItemManadtory",
            MandatorySelector = null,
            IsAuto = false,
        });
    
    
    
    @config
    
    <br />
    <br />
    <br />
    
    @config.Name("tablaNueva2").Editable(false)
    

    <br />
    <br />

    <span>tabla 1</span>
    <table id="tabla1" class="tableNormal">
        <thead>
            <tr>
                <th>Col 1</th>
                <th>Col 2</th>
            </tr>
        </thead>
        <tbody>
            <tr data-id="ss">
                <td>Fila 1</td>
                <td>Dato 1</td>
            </tr>
        </tbody>
    </table>

    <br />
    <br />
    
    <span>tabla 2</span>
    <table id="tabla2" class="tableNormal">
        <thead>
            <tr>
                <th>Col 1</th>
                <th>Col 2</th>
            </tr>
        </thead>
    </table>
    @*@(Html.Checklist("aajajaja0")
        .Items(Model)
        .HtmlClass("tableNormal")
    )
    <br />
    <br />


    @(Html.Checklist("jajaaj2")
        .Items(Model)
        .HtmlClass("tableNormal")
        .Editable(true)
    )*@
}


@Confluence.ButtonBlue("Validar", name: "validar")


@section scripts{
    <script type="text/javascript">

        registerCallback(function () {

            $(document).on('click', '[name="validar"]', function () {
                var table = $('[data-name=tablaNueva]');
                var checklist = table.data('checklist');
                var result = checklist.Validate(true);
            });
        });
    </script>
}