@using IDB.Presentation.MVC4.Helpers;
@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutMainframeEmpty.cshtml";
}
<div class="row p-10">
    <div class="col-md12" style="font-size: xx-large;">
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true" ></span>
        <text>An error has occurred!</text>
    </div>
</div>
<div class="row p-10">
    <div class="col-md12 alert alert-warning">
        <p>
            @Model.Exception
        </p>
    </div>
</div>