@using System.Globalization

@using IDB.MW.Application.IndicatorsModuleNew.ViewModels.Core.EditTemplates

@model EditTemplateViewModel



<div class="row mb20">
    <div class="col-md-12">
        @Confluence.LabelTitleGroup(Localization.GetText("IM.EditReadTemplates.TemplateData.Title"))
    </div>
</div>

<div class="row mb20">
    <div class="col-md-6 data-template-version">
        @Confluence.LabelsGroup(title : Localization.GetText("IM.EditReadTemplates.TemplateData.TemplateVersion"), contentAlways : Confluence.InputTextArea(Model.Common.Version, "version", maxLength : 140, htmlClass : "templateTextArea"), asterisk : true)
    </div>
    <div class="col-md-6 data-template-description">
        @Confluence.LabelsGroup(title : Localization.GetText("IM.EditReadTemplates.TemplateData.Description"), contentAlways : Confluence.InputTextArea(Model.Common.Description, "description", maxLength : 140, htmlClass : "templateTextArea"), asterisk : true)
    </div>
</div>
