@using IDB.MVCControls.General.Helpers
@using IDB.Presentation.MVC4.Models.Repeater
@using IDB.MW.Application.IndicatorsModuleNew.ViewModels.Core
@using IDB.Presentation.MVC4.General
@using IDB.Presentation.MVC4.Helpers

@model List<TechnicalFieldViewModel>
<div data-name="technicalFields-section">

    <div class="row">
        <div class="col-md-12">
            @Html.Partial("~/Views/Shared/Controls/Repeater.cshtml",
        new RepeaterModel<TechnicalFieldViewModel>
        {
            Name = "techincalFields",
            PartialViewName = "EditTemplate/TechnicalField",
            RepeaterModelData = Model.Where(x => x.TechnicalFieldTemplateId != 0).ToList(),
            ModelTemplate = new TechnicalFieldViewModel(),
            //ExtraData =
            PropertyNameId = "TechnicalFieldTemplateId",
            ButtonNewRowContainerStyle = "row row-header font-header",
            ButtonNewColContainerStyle = "col-md-12 text-center",
            ButtonNewStyle = CssClass.Button08,
            ButtonNewText = Localization.GetText("IM.EditReadTemplates.IndicatorTemplate.CreateNewTechnicalFieldButton"),
            ButtonNewPosition = "bottom",
            ButtonNewItemAction = "addNewTechnicalField",


            ButtonDeletePosition = Position.Left,
            ButtonDeleteAlign = Position.Top,
            //ButtonDeleteClass = CssClass.Button07_4 + " button-delete-technical-fields",
            //ButtonDeleteClass = "hide",
            ButtonDeleteHasIcon = true,
            CanRemoveElement = x => x.IsDraft,
            ShowDeleteButton = false,
        })
        </div>
    </div>

</div>