@using IDB.Architecture.Language

<div class="row row-body-40">
    <div class="col-md-12" id="divWorkflowComments">
        <div class="row">
            <div class="col-md-12 pr30 pl30">
                @if (Model != null)
                {
                    var classSpan = "";

                    foreach (var comment in Model)
                    {
                        classSpan = "template dont-hide-at-edit";

                        if (IDBContext.Current.UserName == comment.User)
                        {
                            classSpan = "data-pagemode=read";
                            <span data-pagemode="edit">
                                @Confluence.InputCommentBox(section1: Confluence.Label(Convert.ToDateTime(comment.Date).ToString("dd MMM yy"),
                                dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "lblCommentDate" } }),
                                                            section2: Confluence.Label(comment.User,dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "lblCommentUser" } }),
                                                            section3: Confluence.ButtonTrash(text: "", action: "deleteComment", dataAttributes: new Dictionary<string, string>
                                                            { { "idb-fieldname", "btnDeleteComment" },
                                                            { "commentId", Convert.ToString(comment.CommentId) } }), value: comment.Comment, name: "textComment", dataAttributes: new Dictionary<string, string> { { "commentid", Convert.ToString(comment.CommentId) } })
                                @Confluence.InputHidden(value: Convert.ToString(comment.CommentId), name: "commentId", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "txtCommentId" } })
                            </span>
                        }

                        <span @classSpan>@Confluence.InputCommentBox(section1: Confluence.Label(Convert.ToDateTime(comment.Date).ToString("dd MMM yy"), dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "lblCommentDate" } }),
                                                                     section2: Confluence.Label(comment.User, dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "lblCommentUser" } }), 
                                                                     section3: null, value: comment.Comment, name: "textComment", isReadOnly: true, dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "txtTextComment01" } })</span>
                    }
                }
            </div>

        </div>
        <span data-pagemode="edit">@Confluence.InputHidden(value: "", name: "deleteComments", required: false, dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnDeleteComment" } })</span>
    </div>
</div>
