@using System.Globalization

@using IDB.Architecture.Language
@using IDB.MVCControls.General.Helpers
@using IDB.MW.Application.OPUSModule.ViewModels.ApprovalOperationService
@using IDB.MW.Domain.Values
@using IDB.MW.Infrastructure.Configuration
@using IDB.Presentation.MVC4.Helpers

@model ApprovalOperationViewModel

@if (Model != null)
{
    <div class="header">
        <div class="row row-title">
            <div class="col-md-6" >      
                <h3 class="ml0 mt0">@Localization.GetText("OP.AP.Remarks")</h3>                            
            </div>
            <div class="col-md-6">
                <span class="text-right">
                    @Html.Partial("Partials/ApprovalOperation/buttonsRemarks", Model)
                </span>
            </div>
        </div>
    </div>
    <div class="content-expandable-canceled commentsBlock">     
        <div class="row row-body-40" id="wflowComments">
            @Html.Partial("Partials/ApprovalOperation/ApprovalOperationComments", Model.Comments)
        </div>
    </div>

    <div class="header">
        <div class="row row-title">
            <div class="col-md-12">
                <span class="text-right">
                    @Html.Partial("Partials/ApprovalOperation/buttonsRemarks")
                </span>
            </div>
        </div>
    </div>
}