@using IDB.Presentation.MVC4.Helpers
@using IDB.Architecture.Language
@model IDB.MW.Application.OPUSModule.ViewModels.ApprovalOperationService.ApprovalOperationViewModel

    <div data-id="headerButtons">

    @if (Model.ApprovalWrite)
    {
        <div data-pagemode="read" class="pull-right">
            @Confluence.ButtonBlue(
                Localization.GetText("OP.AP.Edit"),
                action: "editRemarks",
                dataAttributes: new Dictionary<string, string>
                    { { "idb-fieldname", "btnEdit" } }, htmlClass: "mb40")
        </div>
    }
    <div data-pagemode="edit" style="margin-bottom: 10px;">
        @Confluence.ButtonLink(
            Localization.GetText("OP.AP.Cancel"),
            action: "cancelTabRemarks",
            dataAttributes: new Dictionary<string, string>
                { { "idb-fieldname", "btnCancel" } })
        @Confluence.ButtonOrange(
            Localization.GetText("OP.AP.Save"),
            action: "saveRemarks",
            dataAttributes: new Dictionary<string, string>
                { { "idb-fieldname", "btnSaveRemarks" } })
        @Confluence.ButtonBlue(
            text: Localization.GetText("OP.AP.NewRemark"),
            action: "newComment",
            dataAttributes: new Dictionary<string, string>
                { { "idb-fieldname", "btnNewComment" } })
</div>

</div>

