@using IDB.Architecture.Language
@using IDB.MW.Application.OPUSModule.ViewModels.ApprovalOperationService

@model ApprovalDocumentViewModel

<div data-id="headerButtons">
    @if (Model.ApprovalWrite)
    {
        <div data-pagemode="read" class="pull-right">
            @Confluence.ButtonBlue(
                Localization.GetText("OP.AP.Edit"),
                action: "editDocuments",
                dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnEdit" } })
        </div>
        <div class="clear"><br /><br /></div>
    }
    <div data-pagemode="edit" style="margin-bottom: 10px;">
        @Confluence.ButtonLink(
            Localization.GetText("OP.AP.Cancel"),
            action: "cancelTabDocument",
            dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnCancel" } })
        @Confluence.ButtonOrange(
            Localization.GetText("OP.AP.Save"),
            action: "saveDocuments",
            dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnSaveDocuments" } })
    </div>
</div>
