@using IDB.Presentation.MVC4.Helpers
@using IDB.Architecture.Language

<h3 class="new-modal-title">
    <span class="new-modal-icon margin-left">&nbsp;</span>
    <span class="new-modal-text">Warning!</span>
</h3>

<div class="modalBody modalBodyColor">
    <div class="margin-Verify">
        @Localization.GetText("OP.AP.Comments.Delete.Message")
    </div>
    <hr />
    <div class="text-right buttonsAction">
        <button type="button" class="btn btn-link" data-action="cancelModal" data-idb-fieldname="btnCancel">@Localization.GetText("OP.AP.Cancel")</button>
        <button type="button" class="button01" data-ismodal="true" data-action="deleteComment" data-idb-fieldname="btnConfirm">@Localization.GetText("OP.AP.Confirm")</button>
    </div>
</div>
