@using System;

@using IDB.MW.Application.OPUSModule.ViewModels.ApprovalIncreasesRevampService;
@using IDB.MW.Domain.Values;

@model IncreaseRowButtonsViewModel

@if (Model.ValidationStageCode == OPUSGlobalValues.SENT_LMS_CODE)
{          
    @Confluence.ButtonBlue(
        Localization.GetText("Revoke"), 
        "revokeIncrease", 
        "revokeIncrease", 
        width: "110px",
        dataAttributes: new Dictionary<string, string>() 
        { 
            { "idb-fieldname", "btnRevokeIncrease" } 
        })
}
else
{

    @Confluence.ButtonTrash(null, action: "removeRowIncreases",
        dataAttributes: new Dictionary<string, string>() 
        { 
            { "idb-fieldname", "btnDeleteIncrease"} 
        })

    <span>
        @Confluence.ButtonBlue(
       Localization.GetText("Send LMS"),
       name: "btnIncreaseSendToLms",
       action: "IncreaseSendToLms",
       htmlClass: "mt5 ml5 floatLeft")
    </span>
}