@using IDB.Presentation.MVC4.Helpers
@using IDB.Architecture.Language

<h3 class="new-modal-title">
    <span class="new-modal-icon margin-left">&nbsp;</span>
    <span class="new-modal-text">Warning!</span>
</h3>

<div class="modalBody modalBodyColor">
    <div class="margin-Verify">
        @Localization.GetText("OP.AP.Info.SelectBLoan")
    </div>
    <hr />
    <div class="text-right buttonsAction">
        <button type="button" class="button02" data-ismodal="true" data-action="addLoan" data-quantity="1" >@Localization.GetText("OP.AP.OneBLoan")</button>
        <button type="button" class="button02" data-ismodal="true" data-action="addLoan" data-quantity="2">@Localization.GetText("OP.AP.TwoBLoan")</button>
        <button type="button" class="btn btn-link" data-action="cancelModal">@Localization.GetText("OP.AP.Cancel")</button>
    </div>
</div>
