<div class="mb20 contentFloats col-md-12">
    <div id="headerButtons" data-id="headerButtons" class="pull-right">
        <div data-pagemode="read">
            @Confluence.ButtonBlue(Localization.GetText("OP.AM.Edit"), action: "edit")
        </div>
        <div data-pagemode="edit">
            <div class="deleteBox" ondrop="dropDelete(event)" ondragover="allowDrop(event)">&#59177;</div>
            @Confluence.ButtonLink(Localization.GetText("OP.AM.Cancel"), action: "cancel")
            @Confluence.ButtonOrange(Localization.GetText("OP.AM.Save"), action: "save")
        </div>
    </div>
</div>