@using IDB.MVCControls.DataTable.Helpers
@model List<IDB.MW.Business.WorkSpaceModule.ViewModels.TemplateProfileRowViewModel>
               @Confluence.InputHidden(ViewBag.SerializedViewModel, "SerializedViewModel", id: "SerializedViewModel")
               @Confluence.InputHidden(ViewBag.TemplateId.ToString(), "TemplateId", id: "TemplateId")
<div class="dataTable">
    @{
        var config = Html.RenderDataTable(Model);
        config.Name("TableRoles")
            .AddPrimaryKeyToName(false)
            .Columns(columns =>
            {
                columns.Bound(c => c.RoleId).Hidden(true);
                columns.Template(c => Confluence.Label(c.RoleName)).EditableTemplate(c => Confluence.Label(c.RoleName)).Header(Localization.GetText("Workspace.Template.RoleName"));
                columns.Template(c => Confluence.LabelGetCheck(c.RoleIsChecked)).Center()
                    .EditableTemplate(row => Confluence.InputCheckbox(row.RoleIsChecked, "CheckedRow")).Header(Localization.GetText("Workspace.Template.Assign")).CssHeaderClass("w130");
            });

        config.TableClass = "tableNormal endSpacing";

        @Html.Partial("Controls/DataTable", config)
    }
</div>
