@using IDB.MW.Business.WorkSpaceModule.ViewModels
@using IDB.MVCControls.DataTable.Helpers
@model List<ChartRowViewModel>
@Confluence.InputHidden(ViewBag.SerializedViewModel, "SerializedViewModel", id: "SerializedViewModel")
@Confluence.InputHidden(ViewBag.RoleId, "RoleId", id: "RoleId")
<div class="dataTable">
    @{
        var config = Html.RenderDataTable(Model);
        config.Name("ChartTableRoles")
            .AddPrimaryKeyToName(false)
            .Columns(columns =>
            {
                columns.Bound(c => c.RowId).Hidden(true);
                columns.Template(c => Confluence.Label(c.Name)).EditableTemplate(c => Confluence.Label(c.Name)).Header(Localization.GetText("Workspace.Filter.ChartName"));
                columns.Template(c => Confluence.LabelGetCheck(c.IsChecked)).Center()
                    .EditableTemplate(row => Confluence.InputCheckbox(row.IsChecked, "CheckedRow")).Header(Localization.GetText("Workspace.Roles.Assign")).CssHeaderClass("w130");
            });

        config.TableClass = "tableNormal endSpacing";

        @Html.Partial("Controls/DataTable", config)
    }
</div>
