@using IDB.MW.Business.WorkSpaceModule.ViewModels
@using IDB.MVCControls.DataTable.Helpers
@model List<ChartRowViewModel>
               @Confluence.InputHidden(ViewBag.SerializedViewModel, "SerializedViewModel", id: "SerializedViewModel")
    <div class="dataTable">
        @{
            var config = Html.RenderDataTable(Model);
            config.Name("ChartTable")
                .AddPrimaryKeyToName(false)
                .Columns(columns =>
                {
                    columns.Bound(c => c.RowId).Hidden(true);
                    columns.Template(c => Confluence.ButtonLink(
                        c.Name,
                        dataNavigation: Url.Action(controllerName: "AdministrationWs", actionName: "Chart", routeValues: new { chartId = c.RowId })
                        )).Header(Localization.GetText("Workspace.Filter.ChartName"));
                    columns.Bound(c => string.Empty)
                        .EditableTemplate(row => Confluence.ButtonTrash(null, "removeRow", "removeRowChart", dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "btnDelete" } })).CssHeaderClass("w130");
                });

            config.TableClass = "tableNormal endSpacing";
            @Html.Partial("Controls/DataTable", config)
        }
    </div>
