@using IDB.Presentation.MVC4.Helpers

@if (SecurityHelper.GetPermission(ViewBag.Secirity, "btnsEditCharts"))
{
    <div class="pull-right">
        <div id="headerButtons" data-id="headerButtons" data-idb-fieldname="btnsEditCharts" class="right-buttons">
            <div data-pagemode="read">
                @Confluence.ButtonBlue(Localization.GetText("Workspace.Buttons.Edit"), action: "edit")
            </div>

            <div data-pagemode="edit">
                @Confluence.ButtonLink(Localization.GetText("Workspace.Buttons.Cancel"), action: "cancel")
                @Confluence.ButtonOrange(Localization.GetText("Workspace.Buttons.Save"), action: "save")
            </div>
        </div>
    </div>
}