@using IDB.MW.Business.WorkSpaceModule.ViewModels

@model AdministrationViewModel
@{
    var inputLenguage = new IDB.MVCControls.Confluence.Models.MultiLanguageBoxSimpleModel
    {
        MaxLength = 50,
        EnAreaName = "ChartNameEN",
        EnAreaValue = Model.ChartNameEn,
        EnRequired = true,
        EsAreaName = "ChartNameES",
        EsAreaValue = Model.ChartNameEs,
        EsRequired = true,
        PtAreaName = "ChartNamePT",
        PtAreaValue = Model.ChartNamePt,
        PtRequired = false,
        FrAreaName = "ChartNameFR",
        FrAreaValue = Model.ChartNameFr,
        FrRequired = false
    };
}
<div class="LabelsGroup">
    <label class="lgTit">
        @Localization.GetText("Workspace.Filter.ChartName")
    </label>

    @Confluence.InputMultiLanguageSimpleArea(inputLenguage)

</div>
