<tr>
    <td data-order="1" rowspan="1" colspan="1" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
    <td data-order="2" rowspan="1" colspan="1" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
    <td data-order="3" rowspan="1" colspan="1" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
    <td data-pagemode="edit">@Confluence.ButtonTrash(null, action: "remove")</td>
    <td class="w5 noborder">&nbsp;</td>
</tr>