@model IDB.MW.Business.WorkSpaceModule.ViewModels.TemplateViewModel
        
@Confluence.InputHidden(ViewBag.SerializedViewModel, "SerializedViewModel", id: "SerializedViewModel")

    <div data-pagemode="edit">
        @Confluence.InputHidden(value: ViewBag.TemplateId.ToString(), name: "TemplateId")
    </div>
    <div class="row row-header">
        <div class="col-md-12">
                @Confluence.LabelsGroup(Localization.GetText("Workspace.TemplateForm.TemplateName"),
                    Confluence.Label(ViewBag.TemplateId.ToString() == "0" ? string.Empty : Model.TemplateName),
                    Confluence.InputText(ViewBag.TemplateId.ToString() == "0" ? string.Empty : Model.TemplateName, "TemplateName", width: "100%", maxLength:50))
        </div>
    </div>


<div class="row row-header">
    <div class="col-md-12">
        @Html.Partial("Partials/DataTableTemplateProfile", Model.TemplateProfileList)
    </div>
</div>