@using IDB.Presentation.MVC4.Helpers

<div class="row filterNormal mb20" name="searchContent">
    <div class="row">
        <div class="col-md-12" id="inputFilter">
            @Confluence.LabelsGroup(Localization.GetText("Workspace.Filter.UserName"),
            Confluence.InputText(string.Empty, "TemplateName", required: false, width: "100%", maxLength: 50), false)
        </div>
    </div>
    <br />
@if (SecurityHelper.GetPermission(ViewBag.Secirity, "btnWsUserNameAdministration"))
{
    <div class="row" data-idb-fieldname="btnWsUserNameAdministration">
        <div class="col-md-12">
            <div class="floatRight">
                @Confluence.ButtonBlue(Localization.GetText("Workspace.Buttons.Search"), action: "searchRoleList")
                @Confluence.ButtonBlue(Localization.GetText("Workspace.Buttons.ClearAll"), action: "clean")
            </div>
        </div>
    </div>
}
</div>