@using IDB.MW.Infrastructure.Configuration
@using IDB.MW.Application.CPDModule.ViewModels.Annexes
@using IDB.Presentation.MVC4.Helpers

@model AnnexesViewModel

@{
    var configurationServiceFactory = ConfigurationServiceFactory.Current.GetApplicationSettings();
    var isPermissionsActive = configurationServiceFactory.ActiveCPDPermissions;
}

@if (!Model.IsOperationClosed && Model.ResultMatrixTab.IsCSMigrated)
{
    <div data-id="headerButtons" class="float-right">
        @if (SecurityHelper.IsVisible(Model.FieldAccessList, "cpd-results-matrix-edit-control") || !isPermissionsActive)
        {
            <div data-type="contentButtons" data-id="read-ResultMatrix">
                @Confluence.ButtonBlue(Localization.GetText("Common.Edit"), name: "edit-RM")
            </div>
        }
    </div>
}