
.tableNormal tbody tr.lineup > td {
    border-top: 0;
}

.tableNormal .tree span {
    background-color: transparent;
}

.tableNormal .tree {
    vertical-align: middle;
    text-align: inherit;
}

.tableNormal tr[data-id]:last-child td {
    border-right: inherit;
}

.inputText {
    font-size: 12px;
}

input::-webkit-input-placeholder {
    font-size: 12px;
}

.inputSearch input {
    font-size: 12px;
}

.dropdown .btn-default {
    font-size: 12px;
}

.dropdown-menu > li > a {
    font-size: 12px;
}

.dropdown-menu {
    font-size: 12px;
}

.inputSearch button {
    font-size: 12px;
}

.inputSearch.lupa button {
    top: 1px;
}

.datepicker-default {
    background-image: none;
}

    .datepicker-default:not([disabled]):focus {
        background-image: none;
    }

.ui-datepicker-month, .ui-datepicker-year {
    font-family: OpenSans-Bold !important;
    color: inherit;
    border: solid 1px rgb(169, 169, 169);
    border-radius: 0 !important;
}

select option {
    font-family: "OpenSans-Bold";
}


.ButtonApproval {
    background: none;
    border: 1px solid #cbdcf2;
    min-width: 45px;
    height: 25px;
    border-radius: 10px;
    padding: 0 10px;
    margin-top: 12px;
}

    .ButtonApproval:hover {
        background-color: #eff4fb;
        border: 1px solid #cbdcf2;
    }

        .ButtonApproval:hover span.tooltiptext {
            visibility: visible;
        }

    .ButtonApproval:active {
        background-color: #cbdcf3;
        border: 1px solid #cbdcf2;
    }

    .ButtonApproval span.icon {
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsSAAALEgHS3X78AAAA0ElEQVQ4y6WTzQ2CMBhAH8Q7E3QHBmhiN5ANdISOoBt0BJxARyhJB3AEkk7gBHj5ICSUgtpTD32v328xDAP/nAOA0rYGPFBl3t5icNekQGCALiPox4vStgV8DK4dBRXQxeDMVsgCn4EGaMtv8p3Bb8AAlL/CMbhXUqC0baSom/BCoLQ1wAPwoyQFK2290nZYCGJwHrhLUb3S9rn2czICkVxmklMOXi3iTJKFs10QSZ2DN9sYg+t37YKEWitt/c6xqIWZBEb24bhTME1i8e86fwDr7V8lnz4mbgAAAABJRU5ErkJggg==') no-repeat;
        width: 17px;
        height: 15px;
        display: inline-block;
        top: 1px;
        position: relative;
    }

    .ButtonApproval span.tooltiptext {
        visibility: hidden;
        position: absolute;
        width: 80px;
        border-radius: 5px;
        padding: 5px;
        background: #193A6E;
        color: #FFF;
        margin-top: 18px;
        margin-left: -80px;
    }

.ButtonSendToLms {
    background: none;
    border: 1px solid #cbdcf2;
    min-width: 45px;
    height: 25px;
    border-radius: 10px;
    padding: 0 10px;
    margin-top: 12px;
}

    .ButtonSendToLms:hover {
        background-color: #eff4fb;
        border: 1px solid #cbdcf2;
    }

        .ButtonSendToLms:hover span.tooltiptext {
            visibility: visible;
        }

    .ButtonSendToLms:active {
        background-color: #cbdcf3;
        border: 1px solid #cbdcf2;
    }

    .ButtonSendToLms span.icon {
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsSAAALEgHS3X78AAAAwUlEQVQ4y8WT4QnCMBCFv4r/zQKBbmAHCJgNXKEjZIS4QdzAERyhQv9bNyh0gXaC+ucEkaS2VPDBg5DcPd69I9k4jqzBhpXYAmjjGmD/pfbc1cFFBaT5BlSJ5hIokg4EVVcHHyvSxtnJEWagF6EcCIDv6tAsCbEUKuAIVNq4IupAHsKE2ADsJC/1mzW+Q2azH66UHHPgLi7skgwuwh44AfYV4twtKHHXAj41gtXG+YRADrRTGTyAgzCFa+wy+/tvfAK5LjJzoxGUvgAAAABJRU5ErkJggg==') no-repeat;
        width: 17px;
        height: 15px;
        display: inline-block;
        top: 1px;
        position: relative;
    }

    .ButtonSendToLms span.tooltiptext {
        visibility: hidden;
        position: absolute;
        width: 80px;
        border-radius: 5px;
        padding: 5px;
        background: #193A6E;
        color: #FFF;
        margin-top: 18px;
        margin-left: -80px;
    }

.ButtonRevoke {
    background: none;
    border: 1px solid #cbdcf2;
    min-width: 45px;
    height: 25px;
    border-radius: 10px;
    padding: 0 10px;
    margin-top: 12px;
}

    .ButtonRevoke:hover {
        background-color: #eff4fb;
        border: 1px solid #cbdcf2;
    }

        .ButtonRevoke:hover span.tooltiptext {
            visibility: visible;
        }

    .ButtonRevoke:active {
        background-color: #cbdcf3;
        border: 1px solid #cbdcf2;
    }

    .ButtonRevoke span.icon {
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsSAAALEgHS3X78AAAAuElEQVQ4y8WTwQ3CMBAEJyh/aCASJbiASLiElEAHuANSgktICdABDxcQOghyA6EC8zmkCGJDZCH26fOe9/bWRQiBHKzIRDl3WNXGAocP3Kt3VpWRogJuQBepa2AXVSAYvLNtRGH71qCqjQIaeXVc5IGQL8AaOAH7pSY+yXfATlS93jfe2f4na9QTFQYYALyz41dBElkaOIuBXWKF80GSJo3MvslKomAr+44FKdmgl6AcU1EGKP7+Gx/vDjKja0LCJQAAAABJRU5ErkJggg==') no-repeat;
        width: 17px;
        height: 15px;
        display: inline-block;
        top: 1px;
        position: relative;
    }

    .ButtonRevoke span.tooltiptext {
        visibility: hidden;
        position: absolute;
        width: 80px;
        border-radius: 5px;
        padding: 5px;
        background: #193A6E;
        color: #FFF;
        margin-top: 18px;
        margin-left: -80px;
    }

.ButtonRevoke2 {
    background: none;
    border: 1px solid #cbdcf2;
    min-width: 45px;
    height: 25px;
    border-radius: 10px;
    padding: 0 10px;
    margin-top: 12px;
}

    .ButtonRevoke2:hover {
        background-color: #eff4fb;
        border: 1px solid #cbdcf2;
    }

        .ButtonRevoke2:hover span.tooltiptext {
            visibility: visible;
        }

    .ButtonRevoke2:active {
        background-color: #cbdcf3;
        border: 1px solid #cbdcf2;
    }

    .ButtonRevoke2 span.icon {
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsSAAALEgHS3X78AAAAxUlEQVQ4y8WT4QkCMQyFvxMHcIGCG+gABR3BDbwR4gY3QtzAEXSDEzrAuYHQBW6D80+E/mi1ouCD/GiS98gjaTNNE99gxpeYAzgvA7B603uMQSUrYOQr0BfILbAuTmDoY9Au1+S8bF9aKJA6ABMdPxJwXk7AHrgkFuoEnBcxMsDSeemTWto6xKDymzWmiEHVeVnbFPcYdOe8LKw2Vh1SDNoCB+BsqZNF/RZiUE2eixoL2+fqMlgC91cCN2BjUcI5l2z+/hsftsQ5FJSbr/4AAAAASUVORK5CYII=') no-repeat;
        width: 17px;
        height: 15px;
        display: inline-block;
        top: 1px;
        position: relative;
    }

    .ButtonRevoke2 span.tooltiptext {
        visibility: hidden;
        position: absolute;
        width: 80px;
        border-radius: 5px;
        padding: 5px;
        background: #193A6E;
        color: #FFF;
        margin-top: 18px;
        margin-left: -80px;
    }

.ButtonGenerateAPR {
    background: none;
    border: 1px solid #cbdcf2;
    min-width: 45px;
    height: 25px;
    border-radius: 10px;
    padding: 0 10px;
    margin-top: 12px;
}

    .ButtonGenerateAPR:hover {
        background-color: #eff4fb;
        border: 1px solid #cbdcf2;
    }

        .ButtonGenerateAPR:hover span.tooltiptext {
            visibility: visible;
        }

    .ButtonGenerateAPR:active {
        background-color: #cbdcf3;
        border: 1px solid #cbdcf2;
    }

    .ButtonGenerateAPR span.icon {
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsSAAALEgHS3X78AAABhUlEQVQ4y6WTTShEURTHfyNLYigx9SRFmZKlhZdYKBv5WEjZsFJWVxZS1MiGlWslNmapWUxYjWykt2BHNJJ85MZoko8oZfNs7tWb92YoTt065557/vec/zkn5Lou/5HiQg7LFgJY0ma/cuRmvnchbwaWLWJAHSCBONCiXceA0OdIOTIWAPD9+JtMKEdKgCLPZZ33RVdzPSvTwwy0NrEw3usHKDeKFyCnxsb6Gk7TN9RUV6DuHv0AezkkWrboA77r2lmbJBq1ciIyD08kD8+MGbdsEVOOjIdc18WyRaCXG4tjJJL7DA60I9e2ObjMBIhQjgwVFWIpHC7hXGVpaIjw9vFZkE0DMKFbZZCJRi1SiVmqqspIJWapDZd4446B0W8A3ZIR423rmSGbfaV7cJ50WmHZgtvndy+AUI6M+7vQZ5RIRSkXF/dEKsu4un7Il3lHvlF+McrBZYahqVUAdk+u8gG8BOZAl7EMbAGdXk603ql9c2YKA7vgW6YRYF2bo6bmH5fpL/IFLe2Iq9WDVgEAAAAASUVORK5CYII=') no-repeat;
        width: 17px;
        height: 15px;
        display: inline-block;
        top: 1px;
        position: relative;
    }

    .ButtonGenerateAPR span.tooltiptext {
        visibility: hidden;
        position: absolute;
        width: 100px;
        border-radius: 5px;
        padding: 5px;
        background: #193A6E;
        color: #FFF;
        margin-top: 18px;
        margin-left: -100px;
    }

.ButtonGenerateAPR2 {
    background: none;
    border: 1px solid #cbdcf2;
    min-width: 45px;
    height: 25px;
    border-radius: 10px;
    padding: 0 10px;
    margin-top: 12px;
}

    .ButtonGenerateAPR2:hover {
        background-color: #eff4fb;
        border: 1px solid #cbdcf2;
    }

        .ButtonGenerateAPR2:hover span.tooltiptext {
            visibility: visible;
        }

    .ButtonGenerateAPR2:active {
        background-color: #cbdcf3;
        border: 1px solid #cbdcf2;
    }

    .ButtonGenerateAPR2 span.icon {
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsSAAALEgHS3X78AAABV0lEQVQ4y3WTTU7DMBCFv0ZdIpoLRC0naA4QiXKD3oCwZuOyZNP0Bl6UNe4BQLkBBXlPuQHFexROUDYvUpImI1kej+fPb55Hp9OJPkkyEwMGIHhbMCARw7IE1sA6yUw+5DSqO0gykwIWKIED4ICp/I5ADiyU2ARv9wDjRrJP7dcN25f2OfDWsJdA3H3CrqPPgDJ4mwL3wEsnwRkGtXEXvM2BK7UL8ARsG0XKFgYCqVBbMwXm0p3A3ACvwAdQyb+MkswUwLMAOwRvK4EYA/sGFnvgR3dTxZioZ/51B7HWou5Myc94YIGVRpUCl7qbqtoM+G6QK5XvXfC2iIK3VfDWinUT4EHt/jUYWARvnYpNxAPX5UGN+C1wATzq7IDfJDNOd7Vv2WVipewMEKklwdtRlwdLBWyAG71zrnWUbQW8S2//hZ5p5BoVAsz1+Y2Hflnw1mmkLeZ15R+/hn1KerQKhgAAAABJRU5ErkJggg==') no-repeat;
        width: 17px;
        height: 15px;
        display: inline-block;
        top: 1px;
        position: relative;
    }

    .ButtonGenerateAPR2 span.tooltiptext {
        visibility: hidden;
        position: absolute;
        width: 100px;
        border-radius: 5px;
        padding: 5px;
        background: #193A6E;
        color: #FFF;
        margin-top: 18px;
        margin-left: -100px;
    }

.ButtonGenerateAPR3 {
    background: none;
    border: 1px solid #cbdcf2;
    min-width: 45px;
    height: 25px;
    border-radius: 10px;
    padding: 0 10px;
    margin-top: 12px;
}

    .ButtonGenerateAPR3:hover {
        background-color: #eff4fb;
        border: 1px solid #cbdcf2;
    }

        .ButtonGenerateAPR3:hover span.tooltiptext {
            visibility: visible;
        }

    .ButtonGenerateAPR3:active {
        background-color: #cbdcf3;
        border: 1px solid #cbdcf2;
    }

    .ButtonGenerateAPR3 span.icon {
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsSAAALEgHS3X78AAABOklEQVQ4y42T0U3DMBiEv0QM0AFi0Q1SnmOJMgFlAtoJ4hFgA29AmKDtBBQpA6QbtMoCYQLzwLmyECE9ybKtX77/7mxnIQRSGOvWwBzwfesHJpCFEDDWzYAG2AFvqu2BATj0rW/GCG40O+BRIyKun0X+J3LNUeoXsAEepADg/K+FoqpXwFb7TZQrWx1wCxz71i/GFKSFU1wowKisNNYtjHVB5C/GukMkaBK5Tp0x1q2AUraegFnSaAn8EPStP8WNguvEvk3U7HToMyEZ0muMOZzlOQYabZUjGb7mSYe7vvVz4KjiWvksdStH4F120Nxkv1/iGIx1nfLqgI++9dnFwsTBtdTcJ+pK5eHyK5qfkuvdKbyzgh8IIUyOoqqXRVUHrZuiqn2s5VyHRSJ/njywy2eaQgf4xEZ8N3wDFi2XG61x1dIAAAAASUVORK5CYII=') no-repeat;
        width: 17px;
        height: 15px;
        display: inline-block;
        top: 1px;
        position: relative;
    }

    .ButtonGenerateAPR3 span.tooltiptext {
        visibility: hidden;
        position: absolute;
        width: 100px;
        border-radius: 5px;
        padding: 5px;
        background: #193A6E;
        color: #FFF;
        margin-top: 18px;
        margin-left: -100px;
    }

.ButtonGenerateAPR4 {
    background: none;
    border: 1px solid #cbdcf2;
    min-width: 45px;
    height: 25px;
    border-radius: 10px;
    padding: 0 10px;
    margin-top: 12px;
}

    .ButtonGenerateAPR4:hover {
        background-color: #eff4fb;
        border: 1px solid #cbdcf2;
    }

        .ButtonGenerateAPR4:hover span.tooltiptext {
            visibility: visible;
        }

    .ButtonGenerateAPR4:active {
        background-color: #cbdcf3;
        border: 1px solid #cbdcf2;
    }

    .ButtonGenerateAPR4 span.icon {
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsSAAALEgHS3X78AAABDElEQVQ4y6WT4U3DMBSEv0QZoAtE6QgMYAk6Qc0EhA3MBDUbeAPCBDgTFCT/bxmh8iDmzwMZyxYgTorsSM/P9+7OXUqJGkZlNoABiMFZGuhpQwMH4DAqM7eKuk8GozJXgAM8cAYWYJK6CzADN9LYxOBeAYas2UnW68pFE3DM/j2wKUd45vfwNQ18UbQCO/nWVoMupYSIZLOZ1xicLlzxwD7TxAJ+GJWxonaOmm02azABT8C255/oxboHofUTA7IR7mNwNs+BBl4KEZ3sTUYf4DYG58sc6OLGfXGoTKkvbdR/GP2ulgMNvAOP4v2lmHknWr3J/vtbqLzGWaxCBFtqdUOLYwxuGZXZNlL6hQ8KNlHcKaZeywAAAABJRU5ErkJggg==') no-repeat;
        width: 17px;
        height: 15px;
        display: inline-block;
        top: 1px;
        position: relative;
    }

    .ButtonGenerateAPR4 span.tooltiptext {
        visibility: hidden;
        position: absolute;
        width: 100px;
        border-radius: 5px;
        padding: 5px;
        background: #193A6E;
        color: #FFF;
        margin-top: 18px;
        margin-left: -100px;
    }

.ButtonGenerateApr5 {
    background: none;
    border: 1px solid #cbdcf2;
    min-width: 45px;
    height: 25px;
    border-radius: 10px;
    padding: 0 10px;
    margin-top: 12px;
}

    .ButtonGenerateApr5:hover {
        background-color: #eff4fb;
        border: 1px solid #cbdcf2;
    }

        .ButtonGenerateApr5:hover span.tooltiptext {
            visibility: visible;
        }

    .ButtonGenerateApr5:active {
        background-color: #cbdcf3;
        border: 1px solid #cbdcf2;
    }

    .ButtonGenerateApr5 span.icon {
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsSAAALEgHS3X78AAABAUlEQVQ4y41T0Q2CMBB9GP91gBIZgf+SABu4gWxQNgAmsG7gCI5QEwbQDTQs4Ab155HU2ipNLu1r7l7v3V1hrUXIhFSNkKp3cC+kany/NeKr8XAH4OQ7rX4QlABeAJAWbcW71yKCtGi3PN64z9j4vmsvMAOQAch5lfH1PXGeFi2mUZsgAXV3Dj7Q5nXknsQIZuaKNThRd0MZ+ktvpIUXIZV18ENIZUK+sS5sATwdvAt1AAASa61bxJ7HlgFnZwaulGh+FdEt4MbDJe2jnR8SplEnAGrCgXggrqdRJ9Oo+3+DFBuaR6gGIYLcwxWzW0yQMcDN4B77MKHfaLx0TSx9AHgDgleOSUQ4B38AAAAASUVORK5CYII=') no-repeat;
        width: 17px;
        height: 15px;
        display: inline-block;
        top: 1px;
        position: relative;
    }

    .ButtonGenerateApr5 span.tooltiptext {
        visibility: hidden;
        position: absolute;
        width: 100px;
        border-radius: 5px;
        padding: 5px;
        background: #193A6E;
        color: #FFF;
        margin-top: 18px;
        margin-left: -100px;
    }

.buttonTrash:hover span + span {
    visibility: visible;
}

.buttonTrash span + span {
    visibility: hidden;
    position: absolute;
    width: 80px;
    border-radius: 5px;
    padding: 5px;
    background: #193A6E;
    color: #FFF;
    margin-left: -80px;
    top: inherit;
}

.FinancingDetail [name=actionCol] button{
    margin-right: 0 !important;
    min-width: 45px;
}
.approvalContainer {
    width: 100%;
    overflow-x: auto;
}

.subTable {
    font-size: 11px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.glyphicon {
    display: inline-block !important;
}

.approval-tables-container {
    width: calc(100% + 30px);
    height: calc(100% + 120px);
    overflow-x: auto;
    overflow-y:hidden;
    position:relative;
    padding-bottom : 50px;
    padding-left: 20px;
    margin: 50px -15px 30px -15px;
}

.no-wrap {
    white-space: nowrap;
}

.approval-tables-container .dropdown-over {
    position: fixed;
    position: -ms-page;
    bottom:auto !important;
}

.approval-tables-container .no-striped tr[data-id]:nth-child(even) {
    background-color: #ffffff;
}