.labelNormal {font-size: 14px; font-family: 'OpenSans-Light'; color: #333;}
    .labelNormal.bold {font-weight: bold; font-family: 'OpenSans-Bold';}

.buttonBlue {border-radius: 10px; width: auto; padding: 12px 15px; min-width:105px; font-family: 'OpenSans-Semibold'; font-size: 14px; color: #fff; text-align: center; background-color: #3275c7; border: none; text-shadow: 2px 2px #1551a0;}
    .buttonBlue:hover {background-color:#22509d;}
    .buttonBlue:active {background-color:#162f6c;}
    .buttonBlue[disabled] {color: #bfdbf1 !important;background-color:#7eb5e2; text-shadow: none;}

.buttonWhite {border-radius: 10px; width: auto; padding: 11px 14px; min-width:105px; font-family: 'OpenSans-Regular'; font-size: 14px; color: #252125; text-align: center; background-color: #fff; border: 1px solid #cbdcf2;}
    .buttonWhite:hover {background-color:#eff4fb;}
    .buttonWhite:active {background-color:#cbdcf3; border-color: #cbdcf2;}
    .buttonWhite[disabled] {color: #bbb;background-color:#fafbfb; border-color: #e0e9f4;}

::-webkit-input-placeholder { color: #aaaaaa !important; font-family: 'OpenSans-Italic' !important; font-size: 14px; }
::-moz-placeholder { color: #aaaaaa !important; font-family: 'OpenSans-Italic' !important; font-size: 14px; }
:-moz-placeholder { color: #aaaaaa !important; font-family: 'OpenSans-Italic' !important; font-size: 14px; }
:-ms-input-placeholder { color: #aaaaaa !important; font-family: 'OpenSans-Italic' !important; font-size: 14px;}
.placeholder {color: #aaaaaa !important; font-family: 'OpenSans-Italic' !important; font-size: 14px;font-style: italic;}
    .placeholder.dropdown .btn-default .valueText {color: #aaaaaa !important;}
    .placeholder.dropdown li { font-style: normal;}
    .placeholder .parsley-errors-list {color: #333333 !important;line-height: 20px;}

.mb16 {
    margin-bottom: 16px;
}

.mt20 {
    margin-top: 20px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    font-size: 14px;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    cursor: pointer
}

.select2-selection--multiple:after {
    content:"";
    position:absolute;
    right:10px;
    top:15px;
    width:0;
    height:0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #888;
    cursor: pointer
}

.modal-body {
    max-height: calc(100vh - 340px);
    overflow-y: auto;
}

.select2-selection li.select2-selection__choice,
.select2-selection li.select2-selection__choice a {
    background: #22509d none !important;
    color: #fff;
    border-color: #22509d;
    box-shadow: none;
    line-height: 20px;
}

.select2-selection .select2-selection__choice__remove {
    float: right;
    color: #FFF !important;
    font-size: 16px;
    margin: 1px 0 0 4px;
    
}