.alignReadAmount {
    float: right; 
    text-align: right; 
    position: relative; 
    display: block; 
    width: 220px; 
    margin-right: 258px;
}

.alignEditAmount {
    float: right; 
    text-align: right; 
    position: relative; 
    display: block; 
    width: 220px; 
    margin-right: 298px;
}

.alignCPFinancing{
    float:right; 
    position: relative; 
    display: block;
    width: 530px;
}

.alignReadOperationCost{
    float: right; 
    position: relative; 
    display: block; 
    width: 250px; 
    margin-right: 278px;
}

.alignEditOperationCost{
    float: right; 
    position: relative; 
    display: block; 
    width: 250px;
    margin-right: 278px;
}

.alignReadOriginal{
    float: right; 
    position: relative; 
    display: block; 
    width: 315px;
}

.visibilityHidden{
    visibility: hidden;
}

.FinancingDetail th.subHeaderBlue {
    background-color: #22509d;
}

.FinancingDetail th.subHeaderBlue:hover {
    background-color: #3275c7;
}

.overflowHidden {
    overflow: hidden;
}

.minh400 {
    min-height: 400px;
}

.backgroundColorSubLevel {
    background-color: #eee;
}

div.dropdown > ul[aria-labelledby = "id-ApprovalProcessSubTable"]{
    height: 120px !important;
}

div.dropdown > ul[aria-labelledby = "id-ApprovalAuthority"]{
    height: 120px !important;
}

.alignTotalAmount {
    margin-right: 50%;
}

#OperationDataRelatedOperations[data-view=OperationData] .buttonTrash[data-action=removeRelatedOperation]:not(.is-ops-relationship) {
    display: none;
}

.tableNormal.child-table.relation-table .tree i.tree-line {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-top: solid 2px #eeeeee;
    position: absolute;
    margin: 10px 0 0 -20px;
}

tr.customRowEven.selfOperation, 
tr.customRowOdd.selfOperation {
    background-color:#f7f5ce !important;
}

tr.selfOperation, 
tr.selfOperation {
    background-color:#f7f5ce !important;
}

.tableNormal .tree span {
    left: 9px;
}

.tableNormal tr:last-child .tableNormal td.tree span + span.selected {
    top: 0%;
}

.tableNormal tr:last-child .tableNormal td.tree span {
    height: 50%;
}

.span-selected {
    position: relative !important;
    top: -50% !important;
}

.span-selected-tree {
    position: relative !important;
    height: 100% !important;
}

.tableNormal tbody tr.lineup td {
    border-top: 3px solid #0076e1;
}

.tableNormal tbody tr.lineup td:first-child,
.tableNormal tbody tr.lineup {
    border-top: none;
}

.tc-abstract-not-editable-message .information {
    font-size: 13px;
    font-family: OpenSans-Italic;
    color: #999999;
}

.opdata-table-like {
    display: table;
}

.opdata-cell-like {
    display: table-cell;
}

.opdata-padding-left {
    padding-left: 15px;
}

.showDataEdit.opdata-display-inline-block {
    display: inline-block !important;
    vertical-align: bottom;
    margin-left: 15px;
}

#relationsTable .buttonTrash.is-ops-relationship-for-parent[data-action=removeRelatedOperation] {
    display: none;
}