@using IDB.Presentation.MVC4.Helpers

@if (ViewBag.SPDRole)
{
    <div data-PageMode="read">
        <button class="btn btn-primary" data-action="editEffectivenessModal">@Localization.GetText("PCR.Edit")</button>
    </div>
    <div data-PageMode="edit">
        <button class="btn btn-link" data-action="cancelEditEffectivenessModal">@Localization.GetText("PCR.Cancel")</button>
        <button id="btnSaveEffectivenessModal" class="btn btn-warning" data-action="saveEffectivenessModal">@Localization.GetText("PCR.Save")</button>
    </div>
}