@using IDB.Presentation.MVC4.Helpers
@model System.Boolean
@{
    var showButtons = (ViewBag.IsPCRRequired != null && ViewBag.IsPCRRequired) ?
        true : ViewBag.SPDCoord;
}
@if (showButtons)
{
    <span data-pagemode="read">
        <button class="btn btn-primary" data-action="editFollowUp" @(Model ? "disabled=disabled" : "")>@Localization.GetText("PCR.Edit")</button>
    </span>
    <span data-pagemode="edit">
        <button class="btn btn-link" data-action="cancelEditFollowUp">@Localization.GetText("PCR.Cancel")</button>
        <button class="btn btn-warning" name="save" data-action="checkSave" data-modal-theme="vex-theme-warning">@Localization.GetText("PCR.Save")</button>
    </span>
}