@using IDB.Presentation.MVC4.Helpers
@if (ViewBag.WritePermissionStage)
{
    <div data-PageMode="read">
        <button class="btn btn-primary" data-action="editSummary">@Localization.GetText("PCR.Edit")</button>
    </div>
    <div data-PageMode="edit">
        <button class="btn btn-link" data-action="cancelEditSummary">@Localization.GetText("PCR.Cancel")</button>
        <button class="btn btn-warning" data-action="saveSummary">@Localization.GetText("PCR.Save")</button>
    </div>
}