@using IDB.Presentation.MVC4.Helpers
@if (ViewBag.WritePermissionValidations)
{
    <div class="buttom-Padding" data-PageMode="read">
        <button class="btn btn-primary" data-action="editValidation">@Localization.GetText("PCR.Edit")</button>
    </div>
    <div class="buttom-Padding" data-PageMode="edit">
        <button class="btn btn-link" data-action="cancelEditValidation">@Localization.GetText("PCR.Cancel")</button>
        <button class="btn btn-warning" data-action="saveValidation">@Localization.GetText("PCR.Save")</button>
    </div>
}