@using IDB.MW.Infrastructure.Configuration
@using IDB.MW.Application.CPDModule.ViewModels.CSProgressToDate;
@using IDB.MW.Infrastructure.Configuration
@using IDB.Presentation.MVC4.Helpers

@model ProgressToDateViewModel
@{
    var configurationServiceFactory = ConfigurationServiceFactory.Current.GetApplicationSettings();
    var isPermissionsActive = configurationServiceFactory.ActiveCPDPermissions;
}
@if (!Model.IsOperationClosed)
{
    <div data-id="headerButtons" class="float-right">
        @if (SecurityHelper.IsVisible(Model.FieldAccessList, "cpd-progress-to-date-edit-control") || !isPermissionsActive)
        {
            <div data-type="contentButtons" data-id="read-ProgressDate">
                @Confluence.ButtonBlue(Localization.GetText("Common.Edit"), name: "edit-PTD")
            </div>
        }
        @if (SecurityHelper.IsVisible(Model.FieldAccessList, "cpd-country-systems-progress-to-date-edit-control") || !isPermissionsActive)
        {
            <div data-type="contentButtons" data-id="read-UseCS">
                @Confluence.ButtonBlue(Localization.GetText("Common.Edit"), name: "edit-UseCS")
            </div>
        }
    </div>
}