@using IDB.Presentation.MVC4.Models.Modal
@using IDB.Presentation.MVC4.General

<div class="row">
    <div class="col-md-12">
        <button class="button01"
                data-new-modal="#selectorContenido"
                data-new-modal-type="error"
                data-new-modal-allowclose="true"
                data-new-modal-validate="false"
                data-new-modal-title="Titulo"
                data-new-modal-buttons='["save", "send", "cancel"]'
                data-new-modal-button-save="Button"
                data-new-modal-button-save-type="button01"
                data-new-modal-button-save-callback=""
                data-new-modal-button-send="Button"
                data-new-modal-button-send-type="button03"
                data-new-modal-button-send-callback=""
                data-new-modal-button-cancel="Link"
                data-new-modal-button-cancel-type="buttonLink"
                data-new-modal-button-cancel-callback="">
            Error
        </button>
        <button class="button01"
                data-new-modal="#selectorContenido"
                data-new-modal-type="success"
                data-new-modal-allowclose="true"
                data-new-modal-validate="false"
                data-new-modal-title="Titulo"
                data-new-modal-buttons='["save", "cancel"]'
                data-new-modal-button-save="Button"
                data-new-modal-button-save-type="button01"
                data-new-modal-button-save-callback=""
                data-new-modal-button-cancel="Link"
                data-new-modal-button-cancel-type="buttonLink"
                data-new-modal-button-cancel-callback="">
            Successful
        </button>
        <button class="button01"
                data-new-modal="#selectorContenido"
                data-new-modal-type="warning"
                data-new-modal-allowclose="true"
                data-new-modal-validate="false"
                data-new-modal-title="Titulo"
                data-new-modal-buttons='["save", "cancel"]'
                data-new-modal-button-save="Button"
                data-new-modal-button-save-type="button01"
                data-new-modal-button-save-callback=""
                data-new-modal-button-cancel="Link"
                data-new-modal-button-cancel-type="buttonLink"
                data-new-modal-button-cancel-callback="">
            Warning
        </button>
        <button class="button01"
                data-new-modal="#selectorContenido"
                data-new-modal-type="information"
                data-new-modal-allowclose="true"
                data-new-modal-validate="false"
                data-new-modal-title="Titulo"
                data-new-modal-buttons='["save", "cancel"]'
                data-new-modal-button-save="Button"
                data-new-modal-button-save-type="button01"
                data-new-modal-button-save-callback=""
                data-new-modal-button-cancel="Link"
                data-new-modal-button-cancel-type="buttonLink"
                data-new-modal-button-cancel-callback="">
            Information
        </button>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        @Display.AddModalButton(new ModalViewModel("#selectorContenido",
                                                    type: CssClass.ModalError,
                                                    typeButton: CssClass.Button01,
                                                    allowClose: true,
                                                    validateForm: false,
                                                    title: "Titulo",
                                                    text: "Error")
                                .AddButton("save", text: "Button", type: CssClass.Button01)
                                .AddButton("send", text: "Button", type: CssClass.Button03)
                                .AddButton("cancel", text: "Link", type: CssClass.ButtonLink)
        )
        @Display.AddModalButton(new ModalViewModel("#selectorContenido",
                                                    type: CssClass.ModalSuccess,
                                                    typeButton: CssClass.Button01,
                                                    allowClose: true,
                                                    validateForm: false,
                                                    title: "Titulo",
                                                    text: "Successful")
                                .AddButton("save", text: "Button", type: CssClass.Button01)
                                .AddButton("cancel", text: "Link", type: CssClass.ButtonLink)
        )
        @Display.AddModalButton(new ModalViewModel("#selectorContenido",
                                                    type: CssClass.ModalWarning,
                                                    typeButton: CssClass.Button01,
                                                    allowClose: true,
                                                    validateForm: false,
                                                    title: "Titulo",
                                                    text: "Warning")
                                .AddButton("save", text: "Button", type: CssClass.Button01)
                                .AddButton("cancel", text: "Link", type: CssClass.ButtonLink)
        )
        @Display.AddModalButton(new ModalViewModel("#selectorContenido",
                                                    type: CssClass.ModalInformation,
                                                    typeButton: CssClass.Button01,
                                                    allowClose: true,
                                                    validateForm: false,
                                                    title: "Titulo",
                                                    text: "Information")
                                .AddButton("save", text: "Button", type: CssClass.Button01)
                                .AddButton("cancel", text: "Link", type: CssClass.ButtonLink)
        )
    </div>
</div>

<div id="selectorContenido" class="hide">
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>

<div class="row">
    <div class="col-md-12">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</div>