@using IDB.MW.Application.SGPModule.ViewModels.ProcurementDetail
@using IDB.MW.Domain.StoredProcedures.Outputs.SGP

@model ProcurementDetailViewModel

@{
    var statusInfo = Model.ViewContainer.GetValue<GetProcurementStatusInfoOutput>("StatusInfo");
    var canEditSGP = Model.ViewContainer.GetValue<bool>("canEditSGP");
    var isProcFiduciary = Model.ViewContainer.GetValue<bool>("isProcFiduciary");

    if ((statusInfo != null) && statusInfo.CAN_EDIT && (canEditSGP && !isProcFiduciary))
    {
        <div data-id="headerButtons" class="float-right">
            <div data-type="contentButtons" data-id="#linktabLots">
                @Confluence.ButtonBlue(Localization.GetText("Common.Edit"), name: "Edit-Lots")
            </div>
        </div>
    }
}
