@using System.Web.Mvc

@using IDB.MVCControls.General.Helpers
@using IDB.MW.Infrastructure.Configuration
@using IDB.MW.Infrastructure.SecurityService.Enums
@using IDB.Presentation.MVC4.Helpers
@using IDB.Architecture.Language
@using IDB.MW.Application.SGPModule.Constants
@using IDB.MW.Application.SGPModule.ViewModels.ProcurementDetail

@model ProcurementDetailViewModel

@if (Model.LotsTab != null)
{
    var appSettings = ConfigurationServiceFactory.Current.GetApplicationSettings();
    var formatIntegerDolar = appSettings.FormatIntegerDolar;
    
    <div class="row">
        <div class="col-xs-12">
            @Confluence.LabelMainSubTitle(Localization.GetText("SGP.Label.Lots"), htmlClass: "subTitleSG mb0")
        </div>
    </div>  
    <div class="row">
        <div class="col-xs-10"></div>
        <div class="col-xs-2 text-right groupMinHeigh45 ">
            @Confluence.LabelsGroup(title: Localization.GetText("SGP.Label.TotalLotAmount"),
           contentAlways: FormatHelper.Format(Model.LotsTab.TotalLotAmount, formatIntegerDolar), asterisk: false)
        </div>
    </div>    
    <div class="row mb30">
        <div class="col-xs-12">
		    @Html.Partial("ReadPartial/Lots/LotsDataTablePartial", Model.LotsTab)		   
        </div>
    </div>
    <div class="row mb40">
        <div class="col-xs-12">	   
        </div>
    </div>
    
    
@Html.ScriptBlock(
    @<script type="text/javascript">
        registerCallback(function () {
            $('#lots-Table').sortableConfluence();
        });
    </script>
   )
}