<div class="floatRight">
        @Confluence.ButtonBlue(Localization.GetText("TCM.CA.TCCycleAdmin.CloseReportingPeriod"), "close", "close", dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "btnRepotingPeriod" } })
</div>
