@using IDB.MVCControls.DataTable.Helpers
@model List<IDB.MW.Application.AdministrationModule.ViewModels.CycleAdmin.TablePeriodClosureModel>
    @{
        <div div class="col-md-5">
            @{
                var config = Html.RenderDataTable(Model);
                config.Name("tableReportingPeriod")
                    .Columns(columns =>
                    {
                        columns.Bound(c => c.PmrCycleId).Hidden(true);
                        columns.Bound(c => c.TcReportingPeriod.ToString()).Header(Localization.GetText("TCM.CA.TCCycleAdmin.TCReportingPeriod")).CssHeaderClass("w425");
                        columns.Template(c => Confluence.LabelGetDate(c.ClosureDate != DateTime.MinValue ? c.ClosureDate : (DateTime?)null)).Header(Localization.GetText("TCM.CA.TCCycleAdmin.ClosureDate")).CssHeaderClass("w425");
                    });
                config.TableClass = "tableNormal endSpacing";

                @Html.Partial("Controls/DataTable", config)
            }
        </div>
    }
