.StyleColorLavender {
    background-color: lavender;
}

.StyleWidth10p {
    width: 10%;
}

.StyleWidth40p {
    width: 40%;
}

.fillinformation.informationplace {
    padding: 20px; 
    color: #193A6E;
    font-weight: bold;
}

.new-modal-content .fillinformation.informationplace {
    font-size: 10pt;
    padding-top: 5px;    
}

.new-modal-content .fillinformation.informationplace .information-text {
    line-height: 20px;
}