@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.Architecture.Language

@if(ViewBag.WriteRole || ViewBag.IsESGSpeacialistGlobal)
{
    <div data-id="headerButtons" class="float-right">
        <div data-pagemode="read">
            @Confluence.ButtonBlue(
            Localization.GetText("Edit"),
            action: "edit"
            )
        </div>
        <div data-pagemode="edit">
            @Confluence.ButtonLink(
            Localization.GetText("Cancel"),
            action: "cancel")

            @Confluence.ButtonOrange(
            Localization.GetText("Save"),
            action: "save")
        </div>
    </div>
}
