<script id="visit-template" type="text/x-handlebars-template">
    <div class="verticalMargin40 font08em" id="activitiesUISP002Edit">
                <!-- Activity component -->
                <div class="verticalMargin40 activityComponent">
                    <div class="leftMargin40 relative borderLeft paddingLeft20 marginBottom2">
                        <div class="verticalMargin20 paddingTop10px">
                            
                            <div class="componentNumber grayColor absolute">{{contVisit}}</div>
                            <div class="minMaxButtonContainer absolute">
                                <input class="minMaxButton cursorPointer plus" type="button" value="" />
                            </div>
                                <div class="relative h50px">
                                <div class="absolute w80">
                                            <select id="{{contVisit}}" name="visit" style="height:20px;width:1000px" onchange="SelectTypeVisit(this.id);" class="valid">
                                                <option id="t">Environmental Visit</option>    
                                                <option id="t">Finnancial Visit</option>    
                                           </select>
                                </div>
                                <div class="absRight absolute">
                                    <input type="button" value="Delete" class="deleteTextButton verticalAlignTop absolute absRight">
                                </div>
                            </div>
                                <div class="inline-block w20 leftAlign">
                                    <div class="disabledColor">Planned</div>                                                           
                                          <input class="greyInputBorder horizontalPadding5 verticalPadding2 grid w70" data-val="true" data-val-required="The Planned field is required." id="Planned" name="Planned" type="text" value="">          
                                </div>
                                  <div class="inline-block w20 leftAlign">
                                    <div class="disabledColor">Actual</div>                                        
                                    <input class="greyInputBorder horizontalPadding5 verticalPadding2 grid w70" id="Actual" name="Actual" type="text" value="">    
                                </div>
                            <div class="relative h50px">
                                <div class="absolute w80">
                                </div>
                            </div>
                        </div>
                    </div>
         </div>
    </script>