@using IDB.MW.Domain.Models.Visit;
@using IDB.Presentation.MVC4.Areas.Visits.Controllers
@model VisitPlanModel
@{
    ViewBag.Title = "Visit Plan New";
    var selectedYear = (int)ViewBag.SelectedYear;
    var Operationnum = (string)ViewBag.OperationNumber;
    var years = ViewBag.years; 
}

<script type="text/javascript">

    $(document).ready(function () {
        $("#Save").on("click", function () {
            $("#SaveNewPlan").submit();
        });
        $("#years").kendoDropDownList();

        $("#CancelDelete").click(function () {
            var modal = $(".dinamicModal").data("kendoWindow");
            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $("body").find(".ui-widget-overlay").remove();
            $(".ui-widget-overlay").remove();
            $(".k-window").remove();
            modal.close();
        });

        $("input:submit").click(function () {
            var submit = false;
            var element = $("#yearsdiv");
            if ($("#years").val() == "0") {
                $("#message").fadeIn(1, null);
                $("#message").removeClass("hide");
                $("#message").fadeOut(4000, null);
                submit = false;
            } else {
                $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
                $("body").find(".ui-widget-overlay").remove();
                $(".ui-widget-overlay").remove();
                $(".k-window").remove();
                submit = true;
                idbg.lockUi(null, true);
            }
            return submit;
        });

    });

</script>

<div class="w800px centerContent popUpContainer">
@{ object htmlIntegerAttribs = new { data_view = "Visits", @class = "optionSelect kendoDropDown" };}
@using (Html.BeginForm("SavePlan", "Visits",new { operationNumber = Operationnum}, FormMethod.Post, new { id = "SaveNewPlan"})){
    
    @Html.Hidden("OperationNumber", Operationnum)
    <Fieldset> <legend></legend>
        <div class="popUpBody">
            <div class="padding20 font08em marginBottom2 ">
                <div class="w30 absolute">
                    <div class="marginBottom2 w96 centerContent boldFont" style="font-size:16px;">Select year for the visit plan</div> 
                </div>
                <div class="w50 absolute left35 boldFont" id="yearsdiv" style="font-size:16px;">
                        
                    <script>$("#years").attr("data-role","dropdownlist");</script>
                   
                    <div id="ActivitiesPanel">
                        <div class="absolute w80" id="SupervisionPlanPanel">
                            @Html.DropDownList("years", null, htmlIntegerAttribs)
                            <label id="message" class="hide input-validation-error" style="background-color:#FFF8E7;border-radius:5px;border:1px solid #FF0000;padding:3px;font-size:14px;">@Localization.GetText("Is not selected one year")</label>
                        </div>
	                </div>

                    
                </div><br /><br />
                <div class="tabsContainer verticalMargin20"></div>
                <div class="borderTopGray w100 paddingTop30px">
                    <div class="horizontalPadding20">
                        <div class="relative h60px w106 centerContent">
                            <div class="absolute absRight verticalAlignMiddle rightAlign">
                                <input type="button" class="button blueButton" style="font-size:16px;" id="CancelDelete" value="@Localization.GetText("Cancel")" />
                                <input type="submit" class="button blueButton" style="font-size:16px;" id="Save" value="Save">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
}

</div>
        