@using IDB.Presentation.MVC4.Helpers
@using IDB.Architecture.Language
@using IDB.MW.Infrastructure.Configuration
@using IDB.Presentation.MVC4.Helpers
@using System.Globalization

<h4 class="titlePrincipal">
    @Localization.GetText("OP.NOT.Notifications")
</h4>

<div class="filterNormal col-md-12 mt20">
    <div class="row">
        <div class="col-md-10">
            <label class="labelNormal bold media-object">@Localization.GetText("OP.NOT.Notification")</label>
            @Confluence.InputDropDownAutoComplete(null, "dropdownCompleteNotification", (List<System.Web.Mvc.SelectListItem>)ViewBag.ListItem, width: "100%", showButton: true, buttonAction: "actionButtonSearchNotification", placeholder: @Localization.GetText("OP.NOT.Notification.SearchNameCode"))
        </div>
    </div>
</div>
