


<script>
    $(document).ready(function () {
        $("#lnkCancelDeleteIndicator").click(function () {
            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $(".ui-widget-overlay").remove();
            $(".k-window").remove();
        });

        $("#btnSaveDeleteIndicator").click(function () {
            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $(".ui-widget-overlay").remove();
            $(".k-window").remove();
            var urlRoute = $("#hdnDeleteIndicatorPost").val() + "?resultsMatrixId=@ViewData["resultsMatrixId"]&impactIndicatorId=@ViewData["impactId"]";
            redirectPage(urlRoute);
        });
    });
</script>

@using (Html.BeginForm("Delete", "ImpactIndicator", FormMethod.Post, new { id = "indicatorDeleteForm" }))
{
    <div style="padding: 20px;">
        @Localization.GetText("This action will delete the component and all the outputs. Would you like to proceed with the deletion?")
    </div>
    <div class="pie pieReassign">
        <div class="botones">
            <a title="@Localization.GetText("Cancel")" class="cancel" id="lnkCancelDeleteIndicator" href="javascript:void(0)"> @Localization.GetText("Cancel")</a>
            <label for="delete">
                <input type="button" value=" @Localization.GetText("Save")" class="btn-primary" id="btnSaveDeleteIndicator">
            </label>
        </div>
    </div>
}
