

@*---------------------------------------------------OtherCost----------------------------------------------------------------------*@
<script id="OtherCost-template" type="text/x-handlebars-template">
   <tr class="nivel01 hoverOtherCost">
      <td class="dato01" style="position: static;">
         <input id="OtherCosts_Index" name="OtherCosts.Index" type="hidden" value="{{otherCostIndex}}">
         <textarea class="dato01 valid" cols="55" id="OtherCosts_{{otherCostIndex}}__Definition" name="OtherCosts[{{otherCostIndex}}].Definition" rows="2" data-val='true' data-val-required="The Definition field is required."></textarea>
         <div class="actionbar">
            <a class="btn_entypo first" title="@Localization.GetText("Move Up")" onclick="moveUpOtherCost(this);" href="javascript:void(0);">&#59231;</a>
            <a class="btn_entypo first" title="@Localization.GetText("Move Down")" onclick="moveDownOtherCost(this);" href="javascript:void(0);">&#59228;</a>
            <a class="btn_entypo first " title="@Localization.GetText("Delete")" href="javascript:void(0);" onclick="deleteOtherCost(this);"></a>
         </div>
      </td>
      <td class="dato07">
         <table>
            <tbody>
               <tr class="rm_p_row">
                  <td>P</td>
               </tr>
               <tr class="rm_pa_row">
                  <td>P(a)</td>
               </tr>
               <tr class="rm_ac_row">
                  <td>A</td>
               </tr>
            </tbody>
         </table>
      </td>
      {{#each  options}}
         <td data-rowcolumnrelated="{{otherCostYearPlansIndex}}" class="dato07 yearPlanData">
            <input id="OtherCosts_{{otherCostIndex}}__OtherCostYearPlans_{{otherCostYearPlansIndex}}__OtherCostYearPlanId"
               name="OtherCosts[{{otherCostIndex}}].OtherCostYearPlans[{{otherCostYearPlansIndex}}].OtherCostYearPlanId" type="hidden" value="">
            <input id="OtherCosts_{{otherCostIndex}}__OtherCostYearPlans_{{otherCostYearPlansIndex}}__Year"
               name="OtherCosts[{{otherCostIndex}}].OtherCostYearPlans[{{otherCostYearPlansIndex}}].Year" type="hidden" class="hiddenYear" value="{{year}}">
            <table>
               <tbody>
                  <tr class="rm_p_row">
                     <td>
                        <label class="editLabel" for="OtherCosts_{{otherCostIndex}}__OtherCostYearPlans_{{otherCostYearPlansIndex}}__OriginalPlan">
                           {{#if isOriginalValueBlock}}
                           <input class="input min_input numberInput" 
                              id="OtherCosts_{{otherCostIndex}}__OtherCostYearPlans_{{otherCostYearPlansIndex}}__OriginalPlan"
                              name="OtherCosts[{{otherCostIndex}}].OtherCostYearPlans[{{otherCostYearPlansIndex}}].OriginalPlan" type="text" data-referenceyear="{{referenceYear}}" value="" readonly="readonly" data-v-min="-9999999999999999.99" data-v-max="9999999999999999.99">
                           {{else}}
                           <input class="input min_input numberInput" 
                              id="OtherCosts_{{otherCostIndex}}__OtherCostYearPlans_{{otherCostYearPlansIndex}}__OriginalPlan"
                              name="OtherCosts[{{otherCostIndex}}].OtherCostYearPlans[{{otherCostYearPlansIndex}}].OriginalPlan" type="text" data-referenceyear="{{referenceYear}}" value="" data-v-min="-9999999999999999.99" data-v-max="9999999999999999.99">
                           {{/if}}   
                        </label>
                     </td>
                  </tr>
                  <tr class="rm_pa_row">
                     <td>
                        <label class="editLabel" for="OtherCosts_{{otherCostIndex}}__OtherCostYearPlans_{{otherCostYearPlansIndex}}__AnnualPlan">
                           {{#if isAnnualValueBlock}}
                           <input class="input min_input numberInput" 
                              id="OtherCosts_{{otherCostIndex}}__OtherCostYearPlans_{{otherCostYearPlansIndex}}__AnnualPlan"
                              name="OtherCosts[{{otherCostIndex}}].OtherCostYearPlans[{{otherCostYearPlansIndex}}].AnnualPlan" type="text" value="" data-referenceyear="{{referenceYear}}" readonly="readonly" data-v-min="-9999999999999999.99" data-v-max="9999999999999999.99">
                           {{else}}
                            <input class="input min_input numberInput" 
                               id="OtherCosts_{{otherCostIndex}}__OtherCostYearPlans_{{otherCostYearPlansIndex}}__AnnualPlan"
                               name="OtherCosts[{{otherCostIndex}}].OtherCostYearPlans[{{otherCostYearPlansIndex}}].AnnualPlan" type="text" value="" data-referenceyear="{{referenceYear}}" data-v-min="-9999999999999999.99" data-v-max="9999999999999999.99">
                           {{/if}}    
                        </label>
                     </td>
                  </tr>
                  <tr class="rm_ac_row">
                     <td>
                        <label class="editLabel" for="OtherCosts_{{otherCostIndex}}__OtherCostYearPlans_{{otherCostYearPlansIndex}}__ActualValue">
                           {{#if isActualValueBlock}}
                           <input class="input min_input numberInput" 
                              id="OtherCosts_{{otherCostIndex}}__OtherCostYearPlans_{{otherCostYearPlansIndex}}__ActualValue"
                              name="OtherCosts[{{otherCostIndex}}].OtherCostYearPlans[{{otherCostYearPlansIndex}}].ActualValue" type="text" value="" data-referenceyear="{{referenceYear}}" readonly="readonly" data-v-min="-9999999999999999.99" data-v-max="9999999999999999.99">
                           {{else}}
                           <input class="input min_input numberInput" 
                              id="OtherCosts_{{otherCostIndex}}__OtherCostYearPlans_{{otherCostYearPlansIndex}}__ActualValue"
                              name="OtherCosts[{{otherCostIndex}}].OtherCostYearPlans[{{otherCostYearPlansIndex}}].ActualValue" type="text" value="" data-referenceyear="{{referenceYear}}" data-v-min="-9999999999999999.99" data-v-max="9999999999999999.99">
                           {{/if}}                           
                        </label>
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      {{/each}}
      <td class="dato07 totalOtherCostYearPlan">
         <input id="OtherCosts_{{otherCostIndex}}__OtherCostYearPlans_{{maxOtherCostYearPlan}}__OtherCostYearPlanId"
            name="OtherCosts[{{otherCostIndex}}].OtherCostYearPlans[{{maxOtherCostYearPlan}}].OtherCostYearPlanId" type="hidden" value="">
         <input id="OtherCosts_{{otherCostIndex}}__OtherCostYearPlans_{{maxOtherCostYearPlan}}__Year"
            name="OtherCosts[{{otherCostIndex}}].OtherCostYearPlans[{{maxOtherCostYearPlan}}].Year" type="hidden" value="-1">
         <table>
            <tbody>
               <tr class="rm_p_row">
                  <td>
                     <label class="editLabel" for="OtherCosts_{{otherCostIndex}}__OtherCostYearPlans_{{maxOtherCostYearPlan}}__OriginalPlan">
                        <input class="input min_input numberInput" 
                           id="OtherCosts_{{otherCostIndex}}__OtherCostYearPlans_{{maxOtherCostYearPlan}}__OriginalPlan"
                           name="OtherCosts[{{otherCostIndex}}].OtherCostYearPlans[{{maxOtherCostYearPlan}}].OriginalPlan" type="text" value="" data-referenceyear="{{referenceYear}}" readonly="readonly" data-v-min="-9999999999999999.99" data-v-max="9999999999999999.99">
                     </label>
                  </td>
               </tr>
               <tr class="rm_pa_row">
                  <td>
                     <label class="editLabel" for="OtherCosts_{{otherCostIndex}}__OtherCostYearPlans_{{maxOtherCostYearPlan}}__AnnualPlan">
                        <input class="input min_input numberInput" 
                           id="OtherCosts_{{otherCostIndex}}__OtherCostYearPlans_{{maxOtherCostYearPlan}}__AnnualPlan"
                           name="OtherCosts[{{otherCostIndex}}].OtherCostYearPlans[{{maxOtherCostYearPlan}}].AnnualPlan" type="text" value="" data-referenceyear="{{referenceYear}}" readonly="readonly" data-v-min="-9999999999999999.99" data-v-max="9999999999999999.99">
                     </label>
                  </td>
               </tr>
               <tr class="rm_ac_row">
                  <td>
                     <label class="editLabel" for="OtherCosts_{{otherCostIndex}}__OtherCostYearPlans_{{maxOtherCostYearPlan}}__ActualValue">
                        <input class="input min_input numberInput" 
                           id="OtherCosts_{{otherCostIndex}}__OtherCostYearPlans_{{maxOtherCostYearPlan}}__ActualValue"
                           name="OtherCosts[{{otherCostIndex}}].OtherCostYearPlans[{{maxOtherCostYearPlan}}].ActualValue" type="text" value="" data-referenceyear="{{referenceYear}}" readonly="readonly" data-v-min="-9999999999999999.99" data-v-max="9999999999999999.99">
                     </label>
                  </td>
               </tr>
            </tbody>
         </table>
      </td>
   </tr>
</script>

<script id="OtherCostHeader-template" type="text/x-handlebars-template">
   <th class="btn_azul_oscuro" data-othercostyearplanindex="{{othercostyearplanindex}}">
      <table>
         <tbody style="border-bottom-width: 0px;">
            <tr>
               <td>
                  <div class="filterDropDown selectCustom">
                     <ul class="optionList small">
                        <li class="small">
                           <select class='optionSelect optionSelectOtherCostYearPlan'
                              id='OtherCosts_OtherCostYearPlanComboYear_{{othercostyearplanindex}}'
                              name='OtherCosts_OtherCostYearPlanComboYear_{{othercostyearplanindex}}'>
                              {{#each  options}}
                                    {{#if isSelected}}
                                       <option value="{{value}}" selected="selected">{{name}}</option>
                              {{else}}
                                       <option value="{{value}}">{{name}}</option>
                              {{/if}}                               
                                 {{/each}}
                           </select>
                        </li>
                     </ul>
                  </div>
               </td>
               <td>
                  <div title="Delete Year" onclick="deleteCurrentOtherCostYear(this);" class="deleteYear">
                     X
                  </div>
               </td>
            </tr>
         </tbody>
      </table>
   </th>
</script>


<script id="OtherCostBody-template" type="text/x-handlebars-template">
   <td data-rowcolumnrelated="{{othercostyearplanindex}}">
      <input class="hiddenYear" id="OtherCosts_{{otherCostIndex}}__OtherCostYearPlans_{{othercostyearplanindex}}__Year"
         name="OtherCosts[{{otherCostIndex}}].OtherCostYearPlans[{{othercostyearplanindex}}].Year" type="hidden" value="{{year}}">
      <table>
         <tbody>
            <tr>
               <td>
                  <label class="editLabel" for="OtherCosts_{{otherCostIndex}}__OtherCostYearPlans_{{othercostyearplanindex}}__OriginalPlan">
                     {{#if isOriginalValueBlock}}
                     <input class="input min_input numberInput" 
                        id="OtherCosts_{{otherCostIndex}}__OtherCostYearPlans_{{othercostyearplanindex}}__OriginalPlan"
                        name="OtherCosts[{{otherCostIndex}}].OtherCostYearPlans[{{othercostyearplanindex}}].OriginalPlan" type="text" value="" data-referenceyear="{{referenceYear}}" readonly="readonly" data-v-min="-9999999999999999.99" data-v-max="9999999999999999.99">
                     {{else}}
                     <input class="input min_input numberInput" 
                        id="OtherCosts_{{otherCostIndex}}__OtherCostYearPlans_{{othercostyearplanindex}}__OriginalPlan"
                        name="OtherCosts[{{otherCostIndex}}].OtherCostYearPlans[{{othercostyearplanindex}}].OriginalPlan" type="text" value="" data-referenceyear="{{referenceYear}}" data-v-min="-9999999999999999.99" data-v-max="9999999999999999.99">
                     {{/if}}   
                  </label>
               </td>
            </tr>
            <tr>
               <td>
                  <label class="editLabel" for="OtherCosts_{{otherCostIndex}}__OtherCostYearPlans_{{othercostyearplanindex}}__AnnualPlan">
                     {{#if isAnnualValueBlock}}
                     <input class="input min_input numberInput" 
                        id="OtherCosts_{{otherCostIndex}}__OtherCostYearPlans_{{othercostyearplanindex}}__AnnualPlan"
                        name="OtherCosts[{{otherCostIndex}}].OtherCostYearPlans[{{othercostyearplanindex}}].AnnualPlan" type="text" value="" data-referenceyear="{{referenceYear}}" readonly="readonly" data-v-min="-9999999999999999.99" data-v-max="9999999999999999.99">
                     {{else}}
                     <input class="input min_input numberInput" 
                        id="OtherCosts_{{otherCostIndex}}__OtherCostYearPlans_{{othercostyearplanindex}}__AnnualPlan"
                        name="OtherCosts[{{otherCostIndex}}].OtherCostYearPlans[{{othercostyearplanindex}}].AnnualPlan" type="text" value="" data-referenceyear="{{referenceYear}}" data-v-min="-9999999999999999.99" data-v-max="9999999999999999.99">
                     {{/if}}   
                  </label>
               </td>
            </tr>
            <tr>
               <td>
                  <label class="editLabel" for="OtherCosts_{{otherCostIndex}}__OtherCostYearPlans_{{othercostyearplanindex}}__ActualValue">
                     {{#if isActualValueBlock}}
                           <input class="input min_input numberInput" 
                              id="OtherCosts_{{otherCostIndex}}__OtherCostYearPlans_{{othercostyearplanindex}}__ActualValue"
                              name="OtherCosts[{{otherCostIndex}}].OtherCostYearPlans[{{otherCostYearPlansIndex}}].ActualValue" type="text" value="" data-referenceyear="{{referenceYear}}" readonly="readonly" data-v-min="-9999999999999999.99" data-v-max="9999999999999999.99">
                     {{else}}
                           <input class="input min_input numberInput" 
                              id="OtherCosts_{{otherCostIndex}}__OtherCostYearPlans_{{othercostyearplanindex}}__ActualValue"
                              name="OtherCosts[{{otherCostIndex}}].OtherCostYearPlans[{{otherCostYearPlansIndex}}].ActualValue" type="text" value="" data-referenceyear="{{referenceYear}}" data-v-min="-9999999999999999.99" data-v-max="9999999999999999.99">
                     {{/if}}
                  </label>
               </td>
            </tr>
         </tbody>
      </table>
   </td>
</script>
