@*---------------------------------------------------Milestones----------------------------------------------------------------------*@

<script id="milestoneHeader-template" type="text/x-handlebars-template">
   <tr class="nivel02">
      <td colspan="{{colspanmilestone}}">
         <div class="minimizeTable" style="padding-bottom: 18px;">
            <div class="minimizeBar">
               <div class="tableOperator">Minimize/Maximize</div>
            </div>
            <div class="operatorBar"></div>
            <div class="tableGrid">
               <table class="grid milestoneTable">
                  <thead>
                     <tr>
                        <th class="btn_azul_oscuro dato00">@Localization.GetText("Milestones")</th>
                        <th class="btn_azul_oscuro dato04">@Localization.GetText("Unit of measure")</th>
                        <th class="btn_azul_oscuro dato04"></th>
                        {{#each  options}}
                        <th class="btn_azul_oscuro selects" data-milestoneyearplanindex="{{milestoneyearindex}}">{{year}}
                        </th>
                        {{/each}}
                        <th class="btn_azul_oscuro dato04" style="text-align: center; vertical-align: middle; width: 1em;"></th>
                        <th class="btn_azul_oscuro dato05">@Localization.GetText("EOP") {{EndProjectYear}}</th>
                     </tr>
                  </thead>
                  <tbody>
                  </tbody>
               </table>
            </div>
         </div>
      </td>
   </tr>
</script>

<script id="MilestoneYearHeader-template" type="text/x-handlebars-template">
   <th class="btn_azul_oscuro selects" data-milestoneyearplanindex="{{milestoneyearplanindex}}">{{year}}                                                   
   </th>
</script>

<script id="Milestone-template" type="text/x-handlebars-template">
   <tr class="hoverMilestone" data-milestoneindex="{{milestoneIndex}}">
      <td class="dato01" style="position: static;">
         <input id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__Milestones_Index"
            name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].Milestones.Index" type="hidden" value="{{milestoneIndex}}">
         <textarea class="dato01" cols="55" data-val="true" data-val-required="Please enter a name for the milestone"
            id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__Milestones_{{milestoneIndex}}__Definition"
            name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].Milestones[{{milestoneIndex}}].Definition" rows="2"></textarea>
         <div class="actionbar2">
            @*<a class="btn_awesome first" title="Move" href="javascript:void(0);"></a>*@
            <a class="btn_entypo first" title="@Localization.GetText("Delete")" href="javascript:void(0);" onclick="deleteMilestone(this);"></a>
         </div>
      </td>
      <td>
         <label class="editLabel ici" for="unit01">
            <input class="input min_input" id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__Milestones_{{milestoneIndex}}__UnitOfMeasure" name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].Milestones[{{milestoneIndex}}].UnitOfMeasure" type="text" value="">
         </label>
      </td>
      <td>
         <table>
            <tbody>
               <tr>
                  <td class="rm_edit_rh">P</td>
               </tr>
               <tr>
                  <td class="rm_edit_rh">P(a)</td>
               </tr>
               <tr>
                  <td class="rm_edit_rh">A</td>
               </tr>
            </tbody>
         </table>
      </td>
      {{#each  options}}
         <td data-rowcolumnrelated="{{milestoneYearPlanIndex}}" class="dato07">
            <input class="hiddenYear" id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__Milestones_{{milestoneIndex}}__MilestoneYearPlans_{{milestoneYearPlanIndex}}__Year"
               name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].Milestones[{{milestoneIndex}}].MilestoneYearPlans[{{milestoneYearPlanIndex}}].Year" type="hidden" value="{{year}}">
            <input id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__Milestones_{{milestoneIndex}}__MilestoneYearPlans_Index" class="milestoneYearPlanIndex"
               name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].Milestones[{{milestoneIndex}}].MilestoneYearPlans.Index" type="hidden" value="{{milestoneYearPlanIndex}}">
            <table class="fixedTableDisaggregation">
               <tbody>
                  <tr class="rm_p_row">
                     <td>
                        <label class="editLabel" for="Components_{{componentIndex}}__Outputs_{{outputIndex}}__Milestones_{{milestoneIndex}}__MilestoneYearPlans_{{milestoneYearPlanIndex}}__OriginalPlan">
                           {{#if isOriginalValueBlock}}
                                <input class="input min_input numberInput"
                                   id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__Milestones_{{milestoneIndex}}__MilestoneYearPlans_{{milestoneYearPlanIndex}}__OriginalPlan"
                                   name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].Milestones[{{milestoneIndex}}].MilestoneYearPlans[{{milestoneYearPlanIndex}}].OriginalPlan" type="text" value="" data-referenceyear="{{referenceYear}}" readonly="readonly">
                           {{else}}
                                <input class="input min_input numberInput"
                                   id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__Milestones_{{milestoneIndex}}__MilestoneYearPlans_{{milestoneYearPlanIndex}}__OriginalPlan"
                                   name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].Milestones[{{milestoneIndex}}].MilestoneYearPlans[{{milestoneYearPlanIndex}}].OriginalPlan" type="text" data-referenceyear="{{referenceYear}}" value="">
                           {{/if}}
                        </label>
                     </td>
                  </tr>
                  <tr class="rm_pa_row">
                     <td>
                        <label class="editLabel" for="Components_{{componentIndex}}__Outputs_{{outputIndex}}__Milestones_{{milestoneIndex}}__MilestoneYearPlans_{{milestoneYearPlanIndex}}__AnnualPlan">
                           {{#if isAnnualValueBlock}}
                                <input class="input min_input numberInput"
                                   id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__Milestones_{{milestoneIndex}}__MilestoneYearPlans_{{milestoneYearPlanIndex}}__AnnualPlan"
                                   name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].Milestones[{{milestoneIndex}}].MilestoneYearPlans[{{milestoneYearPlanIndex}}].AnnualPlan" type="text" value="" data-referenceyear="{{referenceYear}}" readonly="readonly">
                           {{else}}
                                <input class="input min_input numberInput"
                                   id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__Milestones_{{milestoneIndex}}__MilestoneYearPlans_{{milestoneYearPlanIndex}}__AnnualPlan"
                                   name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].Milestones[{{milestoneIndex}}].MilestoneYearPlans[{{milestoneYearPlanIndex}}].AnnualPlan" type="text" data-referenceyear="{{referenceYear}}" value="">
                           {{/if}}      
                        </label>
                     </td>
                  </tr>
                  <tr class="rm_ac_row">
                     <td>
                        <label class="editLabel" for="Components_{{componentIndex}}__Outputs_{{outputIndex}}__Milestones_{{milestoneIndex}}__MilestoneYearPlans_{{milestoneYearPlanIndex}}__ActualValue">
                           {{#if isActualValueBlock}}      
                              <input class="input min_input numberInput"
                                 id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__Milestones_{{milestoneIndex}}__MilestoneYearPlans_{{milestoneYearPlanIndex}}__ActualValue"
                                 name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].Milestones[{{milestoneIndex}}].MilestoneYearPlans[{{milestoneYearPlanIndex}}].ActualValue" type="text" value="" data-referenceyear="{{referenceYear}}" readonly="readonly">
                           {{else}}
                              <input class="input min_input numberInput"
                                 id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__Milestones_{{milestoneIndex}}__MilestoneYearPlans_{{milestoneYearPlanIndex}}__ActualValue"
                                 name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].Milestones[{{milestoneIndex}}].MilestoneYearPlans[{{milestoneYearPlanIndex}}].ActualValue" type="text" value="" data-referenceyear="{{referenceYear}}">
                           {{/if}}      
                        </label>
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      {{/each}}
      <td></td>
      <td class="fixedTableDisaggregation totalMilestoneYearPlan dato07">
         <input class="hiddenId" id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__Milestones_{{milestoneIndex}}__MilestoneYearPlans_0__OutputYearPlanId"
            name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].Milestones[{{milestoneIndex}}].MilestoneYearPlans[0].OutputYearPlanId" type="hidden" value="0">
         <input id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__Milestones_{{milestoneIndex}}__MilestoneYearPlans_0__Year"
            name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].Milestones[{{milestoneIndex}}].MilestoneYearPlans[0].Year" type="hidden" value="-1">
         <input id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__Milestones_{{milestoneIndex}}__MilestoneYearPlans_Index"
            name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].Milestones[{{milestoneIndex}}].MilestoneYearPlans.Index" type="hidden" value="0">
         <table class="fixedTableDisaggregation totalMilestoneYearPlan">
            <tbody>
               <tr class="rm_p_row">
                  <td>
                     <label class="editLabel" for="Components_{{componentIndex}}__Outputs_{{outputIndex}}__Milestones_{{milestoneIndex}}__MilestoneYearPlans_0__OriginalPlan">

                        <input class="input min_input numberInput" readonly="readonly" id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__Milestones_{{milestoneIndex}}__MilestoneYearPlans_0__OriginalPlan"
                           name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].Milestones[{{milestoneIndex}}].MilestoneYearPlans[0].OriginalPlan" type="text" value="" data-referenceyear="{{referenceYear}}">
                     </label>
                  </td>
               </tr>
               <tr class="rm_pa_row">
                  <td>
                     <label class="editLabel" for="Components_{{componentIndex}}__Outputs_{{outputIndex}}__Milestones_{{milestoneIndex}}__MilestoneYearPlans_0__AnnualPlan">
                        <input class="input min_input numberInput" readonly="readonly" id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__Milestones_{{milestoneIndex}}__MilestoneYearPlans_0__AnnualPlan"
                           name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].Milestones[{{milestoneIndex}}].MilestoneYearPlans[0].AnnualPlan" type="text" value="" data-referenceyear="{{referenceYear}}">
                     </label>
                  </td>
               </tr>
               <tr class="rm_ac_row">
                  <td>
                     <label class="editLabel" for="Components_{{componentIndex}}__Outputs_{{outputIndex}}__Milestones_{{milestoneIndex}}__MilestoneYearPlans_0__ActualValue">
                        <input class="input min_input numberInput" readonly="readonly" id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__Milestones_{{milestoneIndex}}__MilestoneYearPlans_0__ActualValue"
                           name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].Milestones[{{milestoneIndex}}].MilestoneYearPlans[0].ActualValue" type="text" value="" data-referenceyear="{{referenceYear}}">
                     </label>
                  </td>
               </tr>
            </tbody>
         </table>
      </td>
   </tr>
</script>

<script id="milestoneYearBody-template" type="text/x-handlebars-template">
   <td data-rowcolumnrelated="{{milestoneYearPlanIndex}}" class="dato07">
      <input class="hiddenYear" id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__Milestones_{{milestoneIndex}}__MilestoneYearPlans_{{milestoneYearPlanIndex}}__Year"
         name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].Milestones[{{milestoneIndex}}].MilestoneYearPlans[{{milestoneYearPlanIndex}}].Year" type="hidden" value="{{year}}">
      <input id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__Milestones_{{milestoneIndex}}__MilestoneYearPlans_Index" class="milestoneYearPlanIndex"
         name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].Milestones[{{milestoneIndex}}].MilestoneYearPlans.Index" type="hidden" value="{{milestoneYearPlanIndex}}">
      <table class="fixedTableDisaggregation">
         <tbody>
            <tr class="rm_p_row">
               <td>
                  <label class="editLabel" for="Components_{{componentIndex}}__Outputs_{{outputIndex}}__Milestones_{{milestoneIndex}}__MilestoneYearPlans_{{milestoneYearPlanIndex}}__OriginalPlan">
                     {{#if isOriginalValueBlock}}
                                <input class="input min_input numberInput"
                                   id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__Milestones_{{milestoneIndex}}__MilestoneYearPlans_{{milestoneYearPlanIndex}}__OriginalPlan"
                                   name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].Milestones[{{milestoneIndex}}].MilestoneYearPlans[{{milestoneYearPlanIndex}}].OriginalPlan" type="text" value="" readonly="readonly" data-referenceyear="{{referenceYear}}">
                     {{else}}
                                <input class="input min_input numberInput"
                                   id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__Milestones_{{milestoneIndex}}__MilestoneYearPlans_{{milestoneYearPlanIndex}}__OriginalPlan"
                                   name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].Milestones[{{milestoneIndex}}].MilestoneYearPlans[{{milestoneYearPlanIndex}}].OriginalPlan" type="text" value="" data-referenceyear="{{referenceYear}}">
                     {{/if}}
                  </label>
               </td>
            </tr>
            <tr class="rm_pa_row">
               <td>
                  <label class="editLabel" for="Components_{{componentIndex}}__Outputs_{{outputIndex}}__Milestones_{{milestoneIndex}}__MilestoneYearPlans_{{milestoneYearPlanIndex}}__AnnualPlan">
                     {{#if isAnnualValueBlock}}
                                <input class="input min_input numberInput"
                                   id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__Milestones_{{milestoneIndex}}__MilestoneYearPlans_{{milestoneYearPlanIndex}}__AnnualPlan"
                                   name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].Milestones[{{milestoneIndex}}].MilestoneYearPlans[{{milestoneYearPlanIndex}}].AnnualPlan" type="text" value="" readonly="readonly" data-referenceyear="{{referenceYear}}">
                     {{else}}
                                <input class="input min_input numberInput"
                                   id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__Milestones_{{milestoneIndex}}__MilestoneYearPlans_{{milestoneYearPlanIndex}}__AnnualPlan"
                                   name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].Milestones[{{milestoneIndex}}].MilestoneYearPlans[{{milestoneYearPlanIndex}}].AnnualPlan" type="text" value="" data-referenceyear="{{referenceYear}}">
                     {{/if}}      
                  </label>
               </td>
            </tr>
            <tr class="rm_ac_row">
               <td>
                  <label class="editLabel" for="Components_{{componentIndex}}__Outputs_{{outputIndex}}__Milestones_{{milestoneIndex}}__MilestoneYearPlans_{{milestoneYearPlanIndex}}__ActualValue">
                     {{#if isActualValueBlock}}      
                              <input class="input min_input numberInput"
                                 id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__Milestones_{{milestoneIndex}}__MilestoneYearPlans_{{milestoneYearPlanIndex}}__ActualValue"
                                 name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].Milestones[{{milestoneIndex}}].MilestoneYearPlans[{{milestoneYearPlanIndex}}].ActualValue" type="text" value="" readonly="readonly" data-referenceyear="{{referenceYear}}">
                     {{else}}
                              <input class="input min_input numberInput"
                                 id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__Milestones_{{milestoneIndex}}__MilestoneYearPlans_{{milestoneYearPlanIndex}}__ActualValue"
                                 name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].Milestones[{{milestoneIndex}}].MilestoneYearPlans[{{milestoneYearPlanIndex}}].ActualValue" type="text" value="" data-referenceyear="{{referenceYear}}">
                     {{/if}}      
                  </label>
               </td>
            </tr>
         </tbody>
      </table>
   </td>
</script>
