<div id="buttonsSubmitSection">
    <div data-pagemode="read">
        @Confluence.ButtonBlue(Localization.GetText("VMR.MM.MeetingRoom.Edit"), "editBasicData")
    </div>

    <div data-pagemode="edit" class="showDataEdit hide">
        @Confluence.ButtonLink(Localization.GetText("VMR.MM.MeetingRoom.Cancel"), action: "cancelVmrSubmit")
        @Confluence.ButtonOrange(Localization.GetText("VMR.MM.MeetingRoom.Save"),action: "saveBasicData")
    </div>
</div>