
<div data-id="headerButtons" class="float-right">
    <div data-type="contentButtons" data-id="#linktabDetails">
        @Confluence.ButtonLink(Localization.GetText("Common.Cancel"), name: "cancel-Participants")
        @Confluence.ButtonOrange(Localization.GetText("Common.Save"), name: "save-Participants")
    </div>
</div>
