@*@if (ViewBag.HasWritePermission)*@
@using IDB.Presentation.MVC4.Helpers;
@using IDB.MW.Application.ESW_CIPModule.ViewModels;
@model AnnualAllocationContainerViewModel
<div class="col-md-12 text-right hideContent">

    <span data-pagemode="read">

        @if (Model.HasAnnualAllocationWritePermission && SecurityHelper.IsVisible(Model.FieldAccessList, "btnEditAllocation"))
        {
            @Confluence.ButtonBlue(text: Localization.GetText("R6.Proposal.AnnualAllocation.Edit"), action: "editAllocation", name: "editAllocation", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnEditAllocation" } })
        }

    </span>

    <span data-pagemode="edit">

        @Confluence.ButtonLink(text: Localization.GetText("R6.Proposal.AnnualAllocation.Cancel"), action: "cancelRequestAllocation", name: "cancelRequestAllocation", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnCancelRequestAllocation" } })

        @Confluence.ButtonOrange(text: Localization.GetText("R6.Proposal.AnnualAllocation.Save"), action: "saveNewAllocation", name: "saveNewAllocation", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnsave02" } })

        @Confluence.ButtonOrange(text: Localization.GetText("R6.Proposal.AnnualAllocation.Submit"), action: "submitAllocation", name: "submitNewAllocation", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnsave2" } }, disabled: true)

    </span>
</div>
