/*---- TABLE PLEGABLE ----*/
.minimizeTable2 {
    float: left;
    margin-left: 2.8%;
    margin-bottom: 2em;
    position: relative;
}

    .minimizeTable2 .plegableSeparator {
        border-bottom: 2px solid #193B70;
        clear: both;
        display: block;
        width: 100%;
        text-indent: -100000px;
    }

    .minimizeTable2 .minimizeBar {
        float: left;
        z-index: 10000;
    }

        .minimizeTable2 .minimizeBar .trackOrder {
            font-family: "OpenSans-Bold";
            font-size: 1.125em;
            float: left;
            display: block;
            width: 1.125em;
            height: 1.125em;
            text-align: center;
            color: #999999;
            position: absolute;
            left: -1.4em;
            top: 0;
        }

        .minimizeTable2 .minimizeBar .tableOperator {
            background: url("../Images/modulos/tables/icon_minimizeTables.png") no-repeat center center #dddddd;
            width: 1.125em;
            height: 1.125em;
            display: block;
            float: left;
            cursor: pointer;
            position: absolute;
            top: 13.7em;
            left: -0.5em;
            text-indent: -1000000px;
            z-index: 100000;
            border: 0.0625em solid #dddddd;
        }

            .minimizeTable2 .minimizeBar .tableOperator:hover {
                border: 0.0625em solid #0076e1;
                background-color: #EFF4FB;
            }

            .minimizeTable2 .minimizeBar .tableOperator.active {
                background: url("../Images/modulos/tables/icon_maximizeTables.png") no-repeat center -2px #123b70;
                border: 0.0625em solid #123b70;
            }

    .minimizeTable2 .operatorBar {
        background-color: #eeeeee;
        width: 0.125em;
        height: 99.3%;
        position: absolute;
        top: 0.3125em;
        left: 0;
    }

    .minimizeTable2 .mod_tabla {
        clear: none;
        margin: 0 auto 3%;
    }

        .minimizeTable2 .mod_tabla tbody tr {
            font-size: 0.875em;
        }

    .minimizeTable2 .mod_tabla_plegable {
        margin-left: 1.25em;
        overflow: hidden;
    }

        .minimizeTable2 .mod_tabla_plegable tbody td:nth-child(1) {
            font-family: "OpenSans-Bold";
            color: #3B73B3;
        }

        .minimizeTable2 .mod_tabla_plegable tbody td:nth-child(3) {
            font-family: "OpenSans-Bold";
        }

        .minimizeTable2 .mod_tabla_plegable td {
            vertical-align: middle;
        }

        .minimizeTable2 .mod_tabla_plegable .k-state-selected td {
            font-family: "OpenSans-Regular";
        }

        .minimizeTable2 .mod_tabla_plegable .reviewTrack {
            font-family: "OpenSans-Italic";
            color: #E39B00;
        }

            .minimizeTable2 .mod_tabla_plegable .reviewTrack strong {
                font-family: "OpenSans-BoldItalic";
                clear: both;
                display: block;
            }

    .minimizeTable2 .operationData {
        width: 95%;
    }

    .minimizeTable2 .plegableTitle {
        width: 70%;
        margin: 0;
        padding: 0;
        float: left;
    }

    .minimizeTable2 .plegableSubtitle {
        width: 80%;
        display: inline-block;
        color: #999999;
        margin: 0 0 2.5em 0;
    }

        .minimizeTable2 .plegableSubtitle.strong {
            font-family: "OpenSans-Bold";
            margin: 0 0.625em 0 0;
            display: inline-block;
            float: left;
        }

    .minimizeTable2 .btnTrack {
        margin: 0.3125em 3% 0;
        float: right;
        width: 10%;
    }

        .minimizeTable2 .btnTrack .btn-secondary {
            text-align: left;
            padding: 0.5em 10%;
            width: 100%;
            margin: 0;
            background: url("../Images/modulos/buttons/icon_trackItemButton.png") no-repeat 95% center white;
        }

            .minimizeTable2 .btnTrack .btn-secondary:hover {
                background-color: #CBDCF2;
            }

    .minimizeTable2 .data4 {
        margin: 0 0 2.8125em 2em;
    }

.mod_tabla_impacts .nivel02 .minimizeTable2 {
    margin-bottom: 1.25em;
    width: 97.2%;
}

.mod_tabla_impacts .minimizeTable2 {
    width: 97.2%;
}

.mod_contenido_central .minimizeTable2 .operationData {
    padding: 0 0 0 4.32%;
}

    .mod_contenido_central .minimizeTable2 .operationData .data4 {
        width: 18.2%;
        margin: 0 0 1.5em 1.2%;
    }

        .mod_contenido_central .minimizeTable2 .operationData .data4:first-child {
            margin-left: 0;
        }

.mod_contenido_central.impacts .mod_tabla_impacts .minimizeTable2 {
    margin-top: 2em;
}

    .mod_contenido_central.impacts .mod_tabla_impacts .minimizeTable2 .minimizeBar .tableOperator {
        top: 10em;
    }

    .mod_contenido_central.impacts .mod_tabla_impacts .minimizeTable2 .operationData.dataDetails {
        padding: 2.5em 0 2.5em 2.813em;
    }

.mod_contenido_central.impacts .mod_tabla_impacts.editable .minimizeTable2 .minimizeBar .tableOperator {
    top: 10.5em;
}

.mod_contenido_central.outputs .mod_tabla_impacts .minimizeTable2 .operationData.dataDetails {
    padding: 2.5em 0 2.5em 2.813em;
}

.mod_contenido_central.outputs .mod_tabla_impacts .minimizeTable2 .minimizeBar .tableOperator {
    top: 11.6em;
}

.mod_contenido_central.outputs .mod_tabla_impacts.table_outputs .minimizeTable2 .minimizeBar .tableOperator {
    top: 2.9em;
}

.mod_contenido_central.outputs .mod_tabla_impacts.table_outputs .nivel02 .minimizeBar .tableOperator {
    top: 0;
}

.mod_contenido_central.outputs .mod_tabla_impacts.milestone .minimizeTable2 .minimizeBar .tableOperator {
    top: 2.9em;
}

.w16 {
    width: 200px !important;
}

.inputTextOutput {
    background-color: #FFF;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.3em 0.3em;
    position: relative;
    color: #333;
}

.inputTextOutput {
    width: 5em;
    float: left;
    font-family: "OpenSans-Italic";
    color: #333;
}

.inputTextOutputVerification {
    width: 15em;
    float: left;
    font-family: "OpenSans-Italic";
    color: #333;
}

.inactiveOutput {
    color: #999999 !important;
    background-color: #DBDBDB !important;
}

/* Styles for validation helpers */
.field-validation-error {
    color: #ff0000;
    font-size: 13px;
    text-align: justify;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000 !important;
    background-color: white !important;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

.labelNewComponent {
    margin-right: 0% !important;
}

.statementErrorLocation {
    padding-top: 30px;
}

.actionbar2 {
    position: absolute !important;
    display: none;
    background-color: #FFF;
    z-index: 5;
    left: 3%;
    width: 93.6%;
    padding: 0.5em 1.7%;
    box-shadow: 0px 3px 7px #999999;
}

/*.mod_tabla_impacts.editable tbody tr:hover .actionbar2 {
    display: block;
}*/

.mod_tabla_impacts.editable .actionbar2 .btn_awesome {
    font-size: 1em;
    margin-top: 0;
    width: 3.75em;
    height: 2.083em;
    line-height: 2.083em;
}

.deleteYear {
    cursor: pointer;
    border: 2px solid #a1a1a1;
    font-weight: bold;
    margin-left: 4px;
    margin-top: 1px;
    border-radius: 0.4em;
    width: 1.2em;
}

.fixedTableDisaggregation td {
    padding-top: 0.5em !important;
}

.mod_tabla_impacts .selects {
    width: 5.5em;
    text-align: center;
}

.textDeactivated {
    color: grey !important;
}

.informationStatement {
    background: url("../../../../Images/icons/informationStatementIcon.png") no-repeat left center;
    height: 30px;
    line-height: 30px;
    padding-left: 40px;
}

input:read-only {
    background-color: #f6f7f8 !important;
    border-color: #DDDDDD !important;
    color: #999 !important;
}

.page-number {
    border: 1px solid #F7F7F7;
    color: #FFFFFF;
    display: block;
    float: left;
    margin-right: 3px;
    padding: 1px 5px 1px;
    text-decoration: none;
    font-size: 1em;
    background-color: #3275C7;
    cursor: pointer;
}

.pagingFooter {
    background-color: #F5F5F5;
    float: right;
}

.pagingFooterRight {
    float: right;
    width: auto;
    margin-right: 10px;
}

.pagingFooterLeft {
    float: left;
    width: 50%;
    color: #6E6E6E;
}

.availableChampions {
    padding: 4px;
    padding-left: 8px;
    color: #1691D3;
}

.currentPage {
    color: #3275C7;
    background-color: #FFFFFF;
    cursor: default;
}

.divtblFooter {
    min-height: 20px;
    padding: 10px;
}

.outputsContainer ul.optionList.small .k-input {
    padding: 0 0.5em 0 0;
}

.outputsContainer ul.optionList .k-icon {
    margin-top: 13px;
}

.outputsContainer ul.optionList .small {
    font-size: 13px;
}

.k-list-container.k-popup.k-group.k-reset {
    width: 370px !important;
}

.modal-dialog.errorModal .buttonLink {
    border-radius: 10px;
    width: auto;
    padding: 11px 14px;
    min-width: 105px;
    font-family: 'OpenSans-Regular';
    font-size: 14px;
    color: #252125;
    text-align: center;
    background-color: #fff;
    border: 1px solid #cbdcf2;
    margin-right: 5px;
}

.btn-style {
    padding: 6px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    background-color: #fff; 
    color: #000; 
    width: auto; 
    font-size: 14px; 
    height: 35px; 
}

ul.optionList .k-icon, ul.optionList .k-sprite, ul.optionList .k-editor-button .k-tool-icon {
    height: 30px !important;
}