@model IDB.Presentation.MVC4.Areas.BusinessRules.Models.SampleViewModel
@{
    ViewBag.Title = "BRTest";
}

<h2 id="titleTest" >BRTest</h2>


@section scripts{
    @BusinessRules.FrontEndRule("RULE991")

    @BusinessRules.FrontEndRule("RULE993")
    
}

Calculated Value:
<div>
   @Html.Raw(Model.Value)
</div>
