@using IDB.MVCControls.General.Helpers
@using IDB.MVCControls.DataTable.Helpers
@using IDB.MW.Business.BusinessRulesModule.DTOs
@using System.Globalization
@using System.Web.Mvc.Html
@using IDB.MW.Infrastructure.Configuration
@using IDB.MVCControls.DataTable.Models
@model List<BRERuleDTO>

    @{
        Layout = "~/Areas/OPUS/Views/Shared/_LayoutPreRelease.cshtml";

        ViewBag.HasWritePermission = true;
    }


    <div class="row row-body-40">
        <div class="col-md-12">
            @{
                var relatedOperationsTableName = "relatedOperationsTable";
                var configRelated = Html.RenderDataTable(Model);

                configRelated.Name(relatedOperationsTableName)
                    .PrimaryKey(m => m.RuleId.ToString(CultureInfo.InvariantCulture))
                    .AddPrimaryKeyToName(false)
                    .Columns(columns =>
                    {
                        columns.Bound(c => c.Code).Header("Code").Persistent();
                        columns.Bound(c => c.Description).Header("Description").Persistent();
                        columns.Bound(c => c.RuleId);
                    });

                configRelated.TableClass = "tableNormal endSpacing";
                configRelated.useCusomRowClass = false;
            }
            @Html.Partial("Controls/DataTable", configRelated)

            @if (ViewBag.HasWritePermission)
            {
                <div class="col-md-12">
                    <div data-pagemode="edit" class="text-center">
                        @Confluence.ButtonAddNewRows(Localization.GetText("OP.OD.TabBasicData.RelatedOperations.AddRelationship"), relatedOperationsTableName, null, "showNewRelatedOperationModal")
                    </div>
                </div>
            }
        </div>
    </div>
