@using IDB.MW.Application.VMRModule.ViewModels

@model List<CommentViewModel>

@if (Model != null && Model.Any())
{
    foreach (var element in Model)
    {
        <div class="sectionCommentGroup">
            @Html.Partial("~/Areas/VMR/Views/MeetingRoom/Partials/CommentPartial/Comment.cshtml", element)
        </div>
    }
}