@using IDB.MVCControls.General.Helpers
@using IDB.MW.Infrastructure.Configuration

@{ var formatDate = ConfigurationServiceFactory.Current.GetApplicationSettings().FormatDate;}

<div class="col-md-12 rowComment">
    <div data-pagemode="edit">
        @Confluence.InputCommentBox(Confluence.Label(IDBContext.Current.UserName),
                         Confluence.Label(FormatHelper.Format(Convert.ToDateTime(DateTime.Now), formatDate)),
                null, null, "commentComment")
        <div class="hide">
            <span class="hide"><input type="hidden" name="commentCommentId" value="0" /></span>
            <span class="hide"><input type="hidden" name="commentUser" value="@IDBContext.Current.UserName" /></span>
        </div>
    </div>

    <div data-pagemode="edit" class="col-md-12">
        @Confluence.ButtonTrash(null, null, "removeRowComment", false)
    </div>
    <br /><br /><br />
</div>