<div class="header">

    <div class="row">

        <div class="col-md-12">

            @Confluence.LabelMainTitle(Localization.GetText("R6.Proposal.ProposalList.ProposalTitle"), dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "lblProposalTitle" } })
            <br />
        </div>
       
    </div>

</div>
