@using IDB.Presentation.MVC4.Helpers
@model IDB.MW.Application.Core.ViewModels.FormRendering.FormDataViewModel
@{
    Layout = null;
}


<div data-pagemode="read">
    <button class="btn btn-primary" data-action="editForm"> Edit </button>
</div>
<div data-pagemode="edit">
    <button class="btn btn-link" data-action="cancelEditForm"> Cancel </button>
    <button class="btn btn-warning" data-action="saveForm"> Save </button>
    <button class="btn btn-warning" data-action="deleteAll">  Delete all </button>
</div>


<br />
<br />


<input type="hidden" id="hidViewModel" value="@ViewBag.SerializedViewModel" />
@if (Model != null)
{
    @Html.Partial("FormRendering/FormRenderer", Model, new ViewDataDictionary() { { "pageName", "UI-OPE-003Partial-TabClassificationData" } })   
}



