

<script>
    $(document).ready(function () {
        $("#lnkCancelSaveChanges").click(function () {
            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $('.loading-container').remove();
            $(".ui-widget-overlay").remove();
            $(".k-window").remove();
        });

        $("#btnSaveChanges").click(function () {
            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $(".ui-widget-overlay").remove();
            $(".k-window").remove();
            idbg.lockUiRM(null, true);
            SaveChanges();
        });
    });
</script>

@{
    var confirmMessage = "";
    confirmMessage = int.Parse(ViewData["changesCount"].ToString()) <= 1 ? "This change will be registered on the “Changes to the Matrix” section and you will be required to explain it. Would you like to proceed?" : "These changes will be registered on the “Changes to the Matrix” section and you will be required to explain it. Would you like to proceed?";
}

<div style="padding: 20px;">
    @confirmMessage
</div>
<div class="pie pieReassign">
    <div class="botones">
        <a title="@Localization.GetText("Cancel")" class="cancel" id="lnkCancelSaveChanges" href="javascript:void(0)"> @Localization.GetText("Cancel")</a>
        <label for="delete">
            <input type="button" value=" @Localization.GetText("Save")" class="btn-primary" id="btnSaveChanges">
        </label>
    </div>
</div>

