@model int

<div class="verticalMargin10" style="margin-left: 20px;">
    <form id="form">
        <div class="padding20" style="margin: auto; text-align: center;">
            <img src="@Url.Content("~/Images/Modulos/assets/Mistakeimage.png")" Style="width:150px; height:150px; " />
            <br />
            <h2>
                @if (Model == 1)
                {
                    @Localization.GetText(
                        "The operation does not have information available for this stage")
                }
                else if (Model == 2)
                {
                    @Localization.GetText(
                        "The Results Matrix for this operation does not have Outputs for the year in analysis")
                }
                else if (Model == 3)
                {
                    @Localization.GetText(
                        "Missing some persistence data. Cannot display information.")
                }
            </h2>
        </div>
    </form>
</div>