@using IDB.MW.Application.CountryStrategyModule.ViewModels.ProductProfile
@using IDB.Presentation.MVC4.Helpers

@model ProductDataViewModel

<div data-id="headerButtons" class="float-right">
@if (SecurityHelper.IsVisible(Model.FieldAccessList, "cs-basic-data-edit-control"))
{
    <div data-type="contentButtons" data-id="edit-BasicData" data-idb-fieldname="cs-basic-data-edit-control" class="">
        @Confluence.ButtonLink(Localization.GetText("Common.Cancel"), name: "cancel-BD")
        @Confluence.ButtonOrange(Localization.GetText("Common.Save"), name: "save-BD")
    </div>
}
@if (SecurityHelper.IsVisible(Model.FieldAccessList, "cs-resp-data-edit-control"))
{
    <div data-type="contentButtons" data-id="edit-RespData" data-idb-fieldname="cs-resp-data-edit-control" class="">
        @Confluence.ButtonLink(Localization.GetText("Common.Cancel"), name: "cancel-RD")
        @Confluence.ButtonOrange(Localization.GetText("Common.Save"), name: "save-RD")
    </div>

}
    
</div>
