@model List<IDB.MW.Application.TCAbstractModule.ViewModels.TCAbstractService.TCMemberDataViewModel>

@if (Model != null && Model.Any())
{
    var numRowElements = 3;
            
    for (int i = 0; i < Model.Count; i = i + numRowElements)
    {
        <div class="row">
            @for (var j = 0; j < numRowElements; j++) 
            {
                var item = Model.ElementAtOrDefault(i + j);

                if (item != null)
                {
                    @Html.Partial("Partials/TCMemberDataInfo", item)
                }   
            }
        </div>
    }
}
