/**
 * ui_fi_002_edit Id's
 * Thu, 14 november 2013
 * eSmart Group
 */
#tableUIFI002Edit{}

#tableUIFI002Edit.grid.fixedValues table tr:last-child{
    text-align: left;
}

#tableUIFI002Edit.grid.fixedValues table tr:last-child td{
    padding: 15px;
}

#tableUIFI002Edit.grid.fixedValues th, #tableUIFI002Edit.grid.fixedValues table.innerGrid tr:first-child td{
    width: 50%;
}

#tableUIFI002Edit.grid.fixedValues table.innerGrid tr:first-child td:first-child{
    width: 51%;
}

