/**
 * ui_fi_004 Id's
 * Fri, 15 november 2013
 * eSmart Group
 */
#ui_fi_004{

}

#tableSortUIFI004-1, #tableSortUIFI004-2{
    text-align: left;
    padding-left: 15px;
}

#tableSortUIFI004-1.grid.fixedValues th:nth-child(1), #tableSortUIFI004-1.grid.fixedValues table td:nth-child(1),
#tableSortUIFI004-2.grid.fixedValues th:nth-child(1), #tableSortUIFI004-2.grid.fixedValues table td:nth-child(1){
    width: 15%;
}

#tableSortUIFI004-1.grid.fixedValues th:nth-child(2), #tableSortUIFI004-1.grid.fixedValues table td:nth-child(2),
#tableSortUIFI004-2.grid.fixedValues th:nth-child(2), #tableSortUIFI004-2.grid.fixedValues table td:nth-child(2){
    width: 15%;
}

#tableSortUIFI004-1.grid.fixedValues th:nth-child(3), #tableSortUIFI004-1.grid.fixedValues table td:nth-child(3),
#tableSortUIFI004-2.grid.fixedValues th:nth-child(3), #tableSortUIFI004-2.grid.fixedValues table td:nth-child(3){
    width: 37%;
}

#tableSortUIFI004-1.grid.fixedValues th:nth-child(4), #tableSortUIFI004-1.grid.fixedValues table td:nth-child(4),
#tableSortUIFI004-2.grid.fixedValues th:nth-child(4), #tableSortUIFI004-2.grid.fixedValues table td:nth-child(4){
    width: 15%;
}

#tableSortUIFI004-1.grid.fixedValues th:nth-child(5), #tableSortUIFI004-1.grid.fixedValues table td:nth-child(5),
#tableSortUIFI004-2.grid.fixedValues th:nth-child(5), #tableSortUIFI004-2.grid.fixedValues table td:nth-child(5){
    width: 15%;
}

#tableSortUIFI004-1.grid.fixedValues th:nth-child(6), #tableSortUIFI004-1.grid.fixedValues table td:nth-child(6),
#tableSortUIFI004-2.grid.fixedValues th:nth-child(6), #tableSortUIFI004-2.grid.fixedValues table td:nth-child(6){
    width: 3%;
    padding-left: 5px;
}

#tableSortUIFI004-1 th, #tableSortUIFI004-1 .innerGrid td, #tableSortUIFI004-2 th, #tableSortUIFI004-2 .innerGrid td {
    padding-left: 15px;
}

