/**
 * ui_fi_002 Id's
 * Thu, 14 november 2013
 * eSmart Group
 */
#tableUIFI002{}

#tableUIFI002.grid.fixedValues table tr:last-child{
    text-align: left;
}

#tableUIFI002.grid.fixedValues table tr:last-child td{
    padding: 15px;
}

#tableUIFI002.grid.fixedValues th, #tableUIFI002.grid.fixedValues table.innerGrid tr:first-child td{
    width: 50%;
}

#tableUIFI002.grid.fixedValues table.innerGrid tr:first-child td:first-child{
    width: 51%;
}

