/**
 * ui_fi_005 Id's
 * Thu, 14 november 2013
 * eSmart Group
 */

#tableSortUIFI005{}

#tableSortUIFI005.grid.fixedValues table tr:last-child{
    text-align: left;
}

#tableSortUIFI005.grid.fixedValues table tr:last-child td{
    padding: 15px;
}

#tableSortUIFI005.grid.fixedValues th, #tableSortUIFI005.grid.fixedValues table td{
    width: 10%;
}
#tableSortUIFI005.grid.fixedValues th:nth-child(2), #tableSortUIFI005.grid.fixedValues table td:nth-child(2){
    width: 30%;
}
#tableSortUIFI005.grid.fixedValues th:last-child, #tableSortUIFI005.grid.fixedValues table td:last-child{
    width: 5%;
}