/**
 * ui_fi_006_edit Id's
 * Thu, 14 november 2013
 * eSmart Group
 */

#tableSortUIFI004-1, #tableSortUIFI004-2{
    text-align: left;
    padding-left: 15px;
}

#tableSortUIFI004-1 textarea, #tableSortUIFI004-2 textarea{
    min-height: 70px;
}

#tableSortUIFI004-1 .k-dropdown-wrap, #tableSortUIFI004-2 .k-dropdown-wrap{
    border-radius: 5px;
    padding: 0 10px;
}

#tableSortUIFI004-1.grid.fixedValues th:nth-child(1), #tableSortUIFI004-1.grid.fixedValues table td:nth-child(1),
#tableSortUIFI004-2.grid.fixedValues th:nth-child(1), #tableSortUIFI004-2.grid.fixedValues table td:nth-child(1){
    width: 15%;
}

#tableSortUIFI004-1.grid.fixedValues th:nth-child(2), #tableSortUIFI004-1.grid.fixedValues table td:nth-child(2),
#tableSortUIFI004-2.grid.fixedValues th:nth-child(2), #tableSortUIFI004-2.grid.fixedValues table td:nth-child(2){
    width: 40%;
}

#tableSortUIFI004-1.grid.fixedValues th:nth-child(3), #tableSortUIFI004-1.grid.fixedValues table td:nth-child(3),
#tableSortUIFI004-2.grid.fixedValues th:nth-child(3), #tableSortUIFI004-2.grid.fixedValues table td:nth-child(3){
    width: 20%;
}

#tableSortUIFI004-1 th, #tableSortUIFI004-1 .innerGrid td, #tableSortUIFI004-2 th, #tableSortUIFI004-2 .innerGrid td {
    padding-left: 15px;
}

#tableSortUIFI004-1 .innerGrid td:last-child{
    width: 8%;
}

#ui_fi_004_edit .addOneWrapper{
    width: 30%;
}