/**
 * ui_fi_001 Id's
 * Thu, 14 november 2013
 * eSmart Group
 */

#tableSortUIFI001{}

#tableSortUIFI001.grid.fixedValues table tr:last-child{
    text-align: left;
}

#tableSortUIFI001.grid.fixedValues table tr:last-child td{
    padding: 15px;
}

#tableSortUIFI001.grid.fixedValues th, #tableSortUIFI001.grid.fixedValues table td{
    width: 12%;
}

#tableSortUIFI001.grid.fixedValues th:last-child, #tableSortUIFI001.grid.fixedValues table td:last-child{
    width: 4%;
}

#tableSortUIFI001.grid.fixedValues th:nth-child(2), #tableSortUIFI001.grid.fixedValues th:nth-child(3), #tableSortUIFI001.grid.fixedValues th:nth-child(6),
#tableSortUIFI001.grid.fixedValues table td:nth-child(2), #tableSortUIFI001.grid.fixedValues table td:nth-child(3), #tableSortUIFI001.grid.fixedValues table td:nth-child(6){
    width: 16%;
}

#tableSortUIFI001.grid.fixedValues table.innerGrid tr:last-child tr.show td{
    padding: 0;
}
