@using IDB.MW.Application.CountryStrategyModule.ViewModels.UseCountry
@using IDB.Presentation.MVC4.Helpers
@using IDB.MW.Application.CountryStrategyModule.Enums

@model UseCountrySystemViewModel

@if (Model.OperationStatus == CSOperationStatusEnum.Draft &&
    SecurityHelper.IsVisible(Model.FieldAccessList, "cs-country-system-edit-control"))
{
    <div class="float-right" data-idb-fieldname="cs-country-system-edit-control">
        @Confluence.ButtonBlue(text: Localization.GetText("Common.Edit"), name: "edit")
    </div>
}
