<div class="float-right">
    @Confluence.ButtonWord("exportWordUseCountrySistem", action: "downloadWord")
    @*Confluence.ButtonExcel("exportExcelUseCountrySistem", action: "downloadXls")*@
    @Confluence.ButtonPdf("exportPdfUseCountrySistem", action: "downloadPdf")
</div>
