@using System.Globalization
@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.MVCControls.DataTable.Helpers
@using IDB.MW.Infrastructure.Configuration
@using IDB.Presentation.MVC4.Areas.CountryStrategy.Models
@using IDB.MW.Application.CountryStrategyModule.ViewModels.UseCountry

@model  CSStytemRecordTableViewModel

@{
    var appSettings = ConfigurationServiceFactory.Current.GetApplicationSettings();
    var formatPercent = appSettings.FormatPercent;

    var config = Html.RenderDataTable(Model.CSStytemRecordRowViewModels);
    config.TableClass = "tableNormal";
    config.Name(Model.Name+"Table")
    .PrimaryKey(m => m.SystemRecordId.ToString(CultureInfo.InvariantCulture))
    .AddPrimaryKeyToName(false)
    .UseDataTableNet(false)
    .UsePageMode(false)
    .Columns(columns =>
    {
        columns.Bound(c => c.UseCountrySystemType)
        .Header(Localization.GetText("CS.UseCountrySystem.CsSystemRecord.UseCountrySystems"))
        .CssHeaderClass("header170px")
        .Persistent();

        columns.Bound(c => c.BaseLineYear)
        .Header(Localization.GetText("CS.UseCountrySystem.CsSystemRecord.BaselineYear"))
        .CssHeaderClass("header140px")
        .Persistent();

        columns.Bound(c => c.BaseLine.IsEmpty() ? string.Empty : c.BaseLine + " %")
        .Header(Localization.GetText("CS.UseCountrySystem.CsSystemRecord.Baseline"))
        .CssHeaderClass("header140px")
        .Persistent();

        columns.Bound(c => c.EstimateUseYear)
        .Header(Localization.GetText("CS.UseCountrySystem.CsSystemRecord.EstimateUseYear"))
        .CssHeaderClass("header140px")
        .Persistent();

        columns.Bound(c => c.EstimatedUse.IsEmpty() ? string.Empty : c.EstimatedUse + " %")
        .Header(Localization.GetText("CS.UseCountrySystem.CsSystemRecord.EstimatedUse"))
        .CssHeaderClass("header140px")
        .Persistent();

        columns.Template(DrawMultiDropdown)
        .Header(Localization.GetText("CS.UseCountrySystem.CsSystemRecord.ForeseenActions"))
        .Persistent();

        columns.Template(Comment)
        .Header(Localization.GetText("CS.UseCountrySystem.CsSystemRecord.Comments"))
        .CssHeaderClass("header170px")
        .Persistent();
        
    });
}

@helper DrawMultiDropdown(CSStytemRecordRowViewModel model)
{
    <ul class="list-without-style">
          @foreach (var option in model.ForeseenActions)
          {
             <li>@option</li>
          }
    </ul>
}

@helper Comment(CSStytemRecordRowViewModel row)
{
    @row.Comment.HtmlEncode()
}

@helper White(object model)
{
    <span></span>
    <span class="selected"></span>
}

@Html.Partial("Controls/DataTable", config)






