@using System.Globalization
@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.MVCControls.DataTable.Helpers
@using IDB.MW.Infrastructure.Configuration
@using IDB.MW.Application.CountryStrategyModule.ViewModels.UseCountry

@model List<UserCountrySysResultMatrixRowViewModel>

@{
    var appSettings = ConfigurationServiceFactory.Current.GetApplicationSettings();
    var formatPercent = appSettings.FormatPercent;

    var config = Html.RenderDataTable(Model);
    config.TableClass = "tableNormal";
    config.Name("ResultMatrixDataTable")
    .PrimaryKey(m => m.SystemIndicatorId.ToString(CultureInfo.InvariantCulture))
    .AddPrimaryKeyToName(false)
    .UseDataTableNet(false)
    .UsePageMode(false)
    .Columns(columns =>
    {
        columns.Bound(c => c.StrategicObjectiveType)
        .Persistent()
        .Header(Localization.GetText("CS.UseCountrySystem.ResultMatrix.StrategicObjetive"));

        columns.Bound(c => c.ExpectedResult)
        .Header(Localization.GetText("CS.UseCountrySystem.ResultMatrix.ExpectedResults"))
        .Persistent();

        columns.Bound(c => c.IndicatorName)
        .Header(Localization.GetText("CS.UseCountrySystem.ResultMatrix.Indicator"))
        .Persistent();

        columns.Bound(c => c.Baseline)
        .Header(Localization.GetText("CS.UseCountrySystem.ResultMatrix.Baseline"))
        .Persistent();

        columns.Bound(c => c.MainTargets)
        .Header(Localization.GetText("CS.UseCountrySystem.ResultMatrix.MainTargets"))
        .Persistent();

        columns.Bound(c => c.TimmingType)
        .Header(Localization.GetText("CS.UseCountrySystem.ResultMatrix.Timming"))
        .Persistent();
    });
}

@helper White(object model)
{
    <span></span>
    <span class="selected"></span>
}

@Html.Partial("Controls/DataTable", config)






