
<div data-id="headerButtons" class="floatRight">
      
        <div data-pagemode="read">

            @Confluence.ButtonBlue(Localization.GetText("OP.IN.Edit"), action: "editNotification")            

        </div>

        <div data-pagemode="edit">

            @Confluence.ButtonLink(Localization.GetText("OP.IN.Cancel"), action: "returnSearch")
          
            @Confluence.ButtonOrange(Localization.GetText("OP.IN.Save"), action: "saveNotification")            

        </div>
    
</div>
