.w100percent {
    width: 100% !important;
}

.Pagination {
    width: 100% !important;
    max-width: 100% !important;
}

.w70percent {
    width: 70% !important;
}

.inputSearch.lupa {
    width: 100% !important;
}


.inputSearch.lupa button {
    top: 0 !important;
    left: -2px !important;
    height: 100%;
}

.img-flag {
    margin-top: 5px !important;
}

.w48percent {
    width: 49% !important;
}

.buttonTrash {
    margin-top: -2px !important;
}

.filter-buttons {
    margin-right: -25px !important;
}

.w321 {
    width: 321px !important;
}

body {
    padding: 0;
}

a {
    text-decoration: none;
}

.cursorPointer {
    cursor: pointer;
}