/* Start Override Input Multiselect */

.inputMultiSelect + div.chosen-container-multi > ul {
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
    padding: 3px 10px 3px 10px !important;
    box-shadow: none !important;
    background: #fff none !important;
}

.chosen-container .chosen-results li {
    line-height: 32px !important;
}

    .chosen-container .chosen-results li.highlighted,
    .chosen-container .chosen-results li.group-option {
        font-family: 'OpenSans-Regular' !important;
        font-size: 14px !important;
        color: #333 !important;
        line-height: 32px !important;
    }

    .chosen-container .chosen-results li.group-result {
        line-height: 15px !important;
    }

    .chosen-container .chosen-results li.highlighted {
        background: #eff4fb none !important;
    }

.chosen-container-multi .chosen-choices {
    overflow-y: auto !important;
}

    .chosen-container-multi .chosen-choices li.search-choice {
        background: #22509d none !important;
        color: #fff !important;
        border-color: #22509d !important;
        box-shadow: none !important;
    }

        .chosen-container-multi .chosen-choices li.search-choice span {
            color: #fff !important;
        }

    .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
        color: #aaa !important;
        font-size: 14px !important;
    }

.chosen-container-multi .chosen-drop .chosen-results li[data-option-array-index] {
    text-align: left;
}

/* End Override Input Multiselect */

.float-left {
    float: left;
}

td.bold label {
    font-weight: bold;
}

.yellow {
    background-color: #F5F6CE;
}

select.statusSearchFilter {
    font-size: 11px !important;
    font-family: 'OpenSans-Regular' !important;
    margin-bottom: 5px !important;
    width: 100% !important;
    height: 100px !important;
    padding: 0 !important;
}

    select.statusSearchFilter:focus {
        background-color: white !important;
    }

    select.statusSearchFilter option {
        width: 100% !important;
        padding: 0 12px !important;
        color: #000 !important;
        font-size: 14px !important;
        /*font-family: 'OpenSans-Bold' !important;*/
    }

.filterNormalExtension {
    background-color: #f6f6f6;
    border: 1px solid #e9e9e9;
    padding: 15px;
}

.format-edit-template {
    margin-left: 70px;
}

/* Buttons */

.right-buttons {
    float: right;
    padding-right: 15px;
}

/* Start Collapse Single (Button Expand Table in Confluence */

.collapse-single-button {
    background-color: rgb(238, 238, 238);
    border-collapse: collapse;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: rgb(18, 59, 112);
    cursor: pointer;
    display: inline-block;
    font-family: OpenSans-Bold;
    font-size: 18px;
    font-weight: bold;
    height: 20px;
    line-height: 18px;
    text-align: center;
    width: 20px;
}

    .collapse-single-button:focus,
    .collapse-single-button:active {
        background-color: #123b70;
        color: #fff;
        outline: 1px solid #123b70 !important;
    }

    .collapse-single-button:hover {
        outline: 1px solid #0076e1 !important;
    }

    .collapse-single-button:before {
        content: "-";
    }

    .collapse-single-button.collapse:before {
        content: "+";
    }

    /* With Arrow */

    .collapse-single-button.arrow {
        background: none;
        border: 1px solid transparent !important;
        background-color: transparent;
        height: 25px;
        border-radius: 5px;
        outline: none !important;
    }

        .collapse-single-button.arrow:hover {
            background-color: #eff4fb;
            background-color: transparent;
            outline: none !important;
        }

        .collapse-single-button.arrow:focus,
        .collapse-single-button.arrow:active {
            background-color: #cbdcf3;
            background-color: transparent;
            border: 1px solid #cbdcf2;
            color: rgb(18, 59, 112);
        }

        .collapse-single-button.arrow:before {
            font-family: 'entypo';
            font-size: 2.2em;
            /*color: #123a70;*/
            line-height: 0.1em;
            content: "\25b4";
        }

        .collapse-single-button.arrow.collapse:before {
            font-family: 'entypo';
            font-size: 40px !important;
            /*color: #123a70;*/
            line-height: 0.1em;
            content: "\25be";
        }

/* End Collapse Single (Button Expand Table in Confluence */

/* Popup Ovveride */

.vex.vex-theme-default .vex-content .new-modal-content {
    color: #666666;
    font-family: 'OpenSans-Regular';
    font-size: 13px;
    font-weight: normal;
    line-height: 1.2em;
    padding: 20px;
}

/* Result Matrix */

body > section:nth-child(4) > div:nth-child(9) > div:nth-child(2) > div {
    margin-top: 18px;
}

#tabResultMatrix > div:nth-child(2) > div {
    margin-top: -20px;
}

.maxWidth300 ul {
    max-width: 300px !important;
}

.resultMatrixArea {
    padding-left: 60px;
}

.component-container-data {
    padding-bottom: 20px;
}

.component-container-data {
    margin-left: -16px;
    padding-left: 16px;
    border-left: 2px solid #eee;
}

.component-objective-container {
    margin-top: 20px;
}

.component-collapse {
    float: left;
    margin-left: -25px;
}

.component-order-number {
    float: left;
    margin-left: -60px;
    color: #999;
    font-family: OpenSans-Bold;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

.component-objective-order-number {
    float: left;
    margin-left: -60px;
    color: #999;
    font-family: OpenSans-Bold;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

.inputTextarea.textAreaResultMatrix.parsley-error + .filled{
    display: inline-block;
}

ul.linked-indicators, ul.linked-indicator {
    padding: 0;
    list-style: none;
}

    ul.linked-indicators li:before {
        content: "";
        float: left;
        margin-left: -15px;
        margin-top: 3px;
        display: inline-block;
        width: 10px;
        height: 10px;
        background-image: url('../images/svg/flag-icon.svg');
        background-repeat: no-repeat;
        background-size: 10px, 10px;
    }


    /*** A USAR CUANDO TENGAMOS LOS ICONOS DE BANDERAS SEPARADAS POR ALIGNMENT Y CONTRIBUTION ***/


    ul.linked-indicators li.alignment:before {
        background-image: url('../images/svg/flag-icon-brown.svg');
    }

    ul.linked-indicators li.contribution:before {
        background-image: url('../images/svg/flag-icon-black.svg');
    }

    /*** FIN DE ZONA A USAR CUANDO TENGAMOS ICONOS DE BANDERA PARA ALIGNMENT Y CONTRIBUTION ***/

    ul.linked-indicator li label:before {
        content: "";
        float: left;
        margin-left: -15px;
        margin-top: 3px;
        position: relative;
        left: 40px;
        width: 10px;
        height: 10px;
        background-image: url('../images/svg/flag-icon.svg');
        background-repeat: no-repeat;
        background-size: 10px, 10px;
    }

.textLink {
    position: relative;
    left: 15px;
}

ul.linked-indicators.unlink li:before {
    margin-top: 20px;
    position: relative;
    left: 70px;
}

ul.linked-indicators.unlink span.textLink {
    margin-left: 10px;
}

ul.linked-indicators.alignmnetCRF li {
    margin-bottom: 5px;
}

.resultMatrixArea .lblvalue.bold{
    color: #1f251f !important;
}

.resultMatrixArea .labelNormal {
    font-size: 14px;
    font-family: 'OpenSans-Regular';
    color: rgb(112,119,131);
}

.resultMatrixArea .contentboxlanguage .labelNormal{
    color: #333;
    font-family: 'OpenSans-Regular';
}
/*list-style-image: url('../images/svg/flag-icon.svg');*/
}



/*** BEGIN COUNTRY STRATEGY ***/

/*Begin Legend*/

.searchPanelFontStyle {
    font-family: 'OpenSans-Regular' !important;
    color: #333 !important;
    font-size: 12px !important;
}

.legendFontStyle {
    font-family: 'OpenSans-Regular' !important;
    color: #707783 !important;
    font-size: 12px !important;
    font-weight: 400 !important;
}

.legendStatusInformation {
    font-family: 'OpenSans-Regular' !important;
    color: #707783 !important;
    font-size: 14px !important;
    font-weight: 300 !important;
}

.legendTitle {
    font-weight: bold !important;
    font-weight: 700 !important;
}

.paddingLeft0px {
    padding-left: 0px !important;
}

td.row-title {
    background-color: rgb(204,204,204);
    font-family: 'OpenSans-Bold' !important;
    color: #000 !important;
}

td.row-title-total {
    font-family: 'OpenSans-Bold' !important;
    font-weight: bold !important;
}

button.linkpaddingTopMinor {
    padding-top: 0px !important;
}

/*End Legend*/

/*Begin Search Panel*/

.searchPanel {
    margin-left: 2% !important;
    padding-right: 4% !important;
}

.alignSubtitle {
    margin-top: -4px;
    margin-left: -30px !important;
}

.list-without-style {
    list-style: none;
}

.header170px {
    width: 170px;
}

.forseenActionsCombo {
    width: 100% !important;
}

.header140px {
    width: 140px;
}


.iconPercentInput100px {
    position: absolute;
    margin-left: 80px;
    margin-top: 10px;
    color: #cccccc;
}

.inputPercentFocus {
    color: #0f7bd1 !important;
}
/*End Search Panel*/


/* Start Monitoring*/

.tab-detail-row {
    padding-left: 70px !important;
    padding-right: 0px !important;
}

.first-level-order-number {
    color: #999;
    font-family: OpenSans-Bold;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

.second-level-order-number {
    color: #999;
    font-family: OpenSans-Bold;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

.first-level-order-number-tab {
    float: left;
    margin-left: -45px;
}

.second-level-order-number-tab {
    float: left;
    margin-left: -35px;
    padding-top: 2px;
}

.strAlignEqualityImg {
    width: 36px;
    height: 32px;
    display: inline-block;
    background-image: url('../images/01-Equiality-32x32.png');
}

.strSInclusionImg {
    width: 39px;
    height: 32px;
    display: inline-block;
    background-image: url('../images/02_SocialInclusion-32x32.png');
}



.strAlignClimateChangeImg {
    width: 35px;
    height: 32px;
    display: inline-block;
    background-image: url('../images/03-Climate Change-32x32.png');
}


.strAlignHProductivityImg {
    width: 34px;
    height: 32px;
    display: inline-block;
    background-image: url('../images/04-HighProductivity-32x32.png');
}


.strAlignFullEconomicImg {
    width: 41px;
    height: 32px;
    display: inline-block;
    background-image: url('../images/05-FullEconomic-32x32.png');
}


.strAlignInstCapacityImg {
    width: 37px;
    height: 32px;
    display: inline-block;
    background-image: url('../images/06-InstitutionalCapacity-32x32.png');
}

td.row-bold {
    background-color: rgba(194, 194, 195, 0.35);
}

td.columnDelete {
    padding-left: 0px !important;
    padding-right: 5px !important;
    padding-top: 15px !important;
}

    td.columnDelete button.buttonTrash:last-child {
        margin: 0px !important;
    }

.marginDissapear {
    padding-right: 0px;
    padding-left: 0px;
}

.size-Fixed {
    width: 35%;
}

/* End Monitoring */

/* Start Use of Country Systems */

.use-country-RM-title {
    font-size: 16px;
}

.ucs-comment {
    min-height: 34px;
}

/* End Use of Country Systems */

/* Begin Product Profile */
#operationTeamsTable > tbody > tr > td > div.pictureLabel > img.img-flag {
    margin-bottom: 5px;
}
/* End Product Profile*/


/* Result Matrix */

#tabResultMatrix > div[data-section="formContent"] > div.component-container > div.component-container-data > div > div.float-right > button.buttonX > span.icon {
    margin-top: 10px;
}

.tooltip-cs {
    opacity: inherit !important;
    display: inline-block !important;
    font-size: inherit !important;
    position: inherit !important;
}

#tabResultMatrix > div:nth-child(1) > div.float-right.mb20 > button {
    margin-right: 15px !important;
}


/*Portfolio*/
.number-style {
    font-family: OpenSans-Regular;
    font-weight: normal !important;
}

.column-1 {
    width: 23%;
    margin-right: -10px;
}

.column-2 {
    width: 24%;
    margin-right: 2%;
}

.column-3 {
    width: 24%;
    margin-right: 0%;
}

.column-4 {
    width: 23.2%;
    margin-right: 0%;
}

.column-5 {
    width: 20%;
}

.iconRemodelated {
    margin-left: 67px;
}


/*End Portfolio*/


/* Link to Predefined Indicator */
#LinkIndicator-link-modal > div.filterNormalExtension.row.mb20 > div > div:nth-child(3) > div.col-md-10 > input,
#LinkIndicator-link-modal > div.filterNormalExtension.row.mb20 > div > div:nth-child(4) > div.col-md-10 > input,
#LinkIndicator-link-modal > div.filterNormalExtension.row.mb20 > div > div:nth-child(5) > div.col-md-10 > input {
    width: 200px;
}
/* End Link to Predefined Indicator*/

.input80Height {
    height: 80px;
}

.padding5pxCell {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.tableNormal.tableResultsMatrix tbody tr[data-id].custom-even td:first-child {
    background-color: #ffffff !important;
}

.tableNormal.tableResultsMatrix tbody tr[data-id].custom-odd td:first-child {
    background-color: #ffffff !important;
}

td.borderButtonGray {
    border-bottom: 2px solid #eee;
    height: 42px !important;
    border-right:none !important;
}

.inputResultMatrix {
    height: 40px;
}

.tableNormal.tableResultsMatrixEdit tr[data-id] td input, textarea {
    vertical-align: top;
}

.tableNormal.tableResultsMatrixEdit tbody tr td {
    vertical-align: top !important;
}

textarea.tableResultsMatrixEdit {
    display: flex;
}

.tableNormal.tableResultsMatrixEdit tbody tr.custom-even td {
    background-color: #ffffff;
}
.tableNormal.tableResultsMatrixEdit tbody tr.custom-odd td {    
    background-color: #f6f7f8;
}

.tableNormal.tableResultsMatrixEdit tbody tr td:first-child {
    background-color: #ffffff;
}

.tableNormal.tableResultsMatrix tbody tr[data-id]:last-child  td {
   border-bottom: 2px solid #eee;
   border-right:none !important;
}

.collpseMlmodified
{
    margin-left: -30px !important;
}

.numberModified
{
    margin-left: -50px !important;
    font-size:16px;
}

.componentModified
{
   margin-left: -21px !important;
   padding-left: 20px !important;
}

/*** END COUNTRY STRATEGY ***/




