td.row-title {
    background-color: rgb(204,204,204);
    font-family: 'OpenSans-Bold' !important;
    color: #000 !important;
}

td.row-title-total {
    font-family: 'OpenSans-Bold' !important;
    font-weight: bold !important;
}

.right-buttons {
    float: right;
    padding-right: 15px;
}

table.totalRow tr td, tr.sumAmountsColor {
    background-color: #dddddd;
}

table.tableNormal tbody tr td {
    vertical-align: top;
}

.cellVerticalCenterRight {
    vertical-align: middle !important;
    text-align: right !important;
}

.cellVerticalCenterLeft{
    vertical-align: middle !important;
    text-align: left !important;
}

table.tableNormal tbody tr td:first-child {
    vertical-align: middle;
}

.textalign-right {
    text-align: right !important;
}

.textalign-center {
    text-align: center !important;
}

.textalign-left {
    text-align: left !important;
}

.infoText {
    position: relative;
    bottom: 10px;
    line-height: 2;
}

.iconPercentInput100px {
    position: absolute;
    margin-left: 80px;
    margin-top: 10px;
    color: #cccccc;
}

/* CS Progress to Date (Use of Country Systems) */

.list-without-style {
    list-style: none;
}

.forseenActionsCombo {
    width: 100% !important;
}

.inputTextWidth {
    width: 100% !important;
}

/* End CS Progress to Date (Use of Country Systems) */

/* Country Program (Use of Country Systems) */
.collapse-Title {
    margin-top: 5px !important;
}
/* End Country Program (Use of Country Systems) */

.ftl {
    float: left !important;
}

.ftr {
    float: right !important;
}

.rowShadow {
    background-color: rgb(204,204,204);
}

.rowBold {
    font-weight: bold !important;
}

.space {
    padding: 9px 0px !important;
}

.space-RM {
    padding: 9px 9px !important;
    margin-right: 14px !important;
}

/* Result Matrix */
.objective-order-number {
    float: left;
    margin-left: -45px;
    color: #999;
    font-family: OpenSans-Bold;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

.objective-container-data {
    margin-left: -21px;
    padding-left: 21px;
    border-left: 2px solid #eee;
}

.objective-collapse{
    margin-top : -2px !important;
}

.mh35 {
    min-height: 35px;
}

.mh105 {
    max-height: 100%;
}

.textarea-padding 
{
   
   padding: 0px !important;
   padding-top: 2px !important;
   padding-left: 10px !important;
   padding-right: 10px !important;
   padding-bottom: 0px !important;
}

.fonts18 {
    font-size: 18px !important;
}

/* Progress to Date */

.space-username {
    padding-left : 132px  !important; 
}

.space-approved {
    padding-left : 63px !important;
}

div.icon-container-inf > div.icon-inf > table > tbody > tr > td.icon-container-align > div {
   margin-left: 0px !important;
   padding-right: 10px;
}

div > div.row.mb30.icon-container-inf > div.col-md-12.mb20.icon-inf > table > tbody > tr > td.icon-container-align.pr10.vAlg > div {
    margin-left: 0px !important;
}

.vAlg {
    vertical-align: sub;
}

.labelNormalBold {
    font-size:13px !important;
    color:#333 !important;
    font-family: 'OpenSans-Regular' !important;
}

.labelNormalNotBold {
    font-size:13px !important;
    font-family: 'OpenSans-Regular' !important;
    color:#666666;
}

.labelGroups {
    font-size:14px !important;
    font-family: 'OpenSans-Regular' !important;
    color:#666666;
}

.line {
    line-height:20px;
}

div.row.mb20.labelRow > div > label > span.checkbox-default-text > label {
    font-size:14px !important;
    font-family: 'OpenSans-Regular' !important;
    color:#666666;
}

div.row.mb30.space-line-ext > div.col-md-12.space-line-int > div > div.information-text {
    line-height:24px !important;
}

.component-order-number {
    float: left;
    margin-left: -60px;
    color: #999;
    font-family: OpenSans-Bold;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

.numberModified
{
    margin-left: -50px !important;
    font-size:16px;
}

.component-container-data {
    margin-left: -16px;
    padding-left: 16px;
    border-left: 2px solid #eee;
}


ul.linked-indicators, ul.linked-indicator {
    padding: 0;
    list-style: none;
}

    ul.linked-indicators li:before {
        content: "";
        float: left;
        margin-left: -15px;
        margin-top: 3px;
        display: inline-block;
        width: 10px;
        height: 10px;
        background-image: url('../images/svg/flag-icon.svg');
        background-repeat: no-repeat;
        background-size: 10px, 10px;
    }

td.borderButtonGray {
    border-bottom: 2px solid #eee;
    height: 42px !important;
    border-right:none !important;
}

.tableNormal tbody tr.lineup
{
  border-top: none !important;
}

.tableNormal tbody tr.lineup
{
  border-top: none !important;
}

.tableNormal tbody tr.lineup td:not(.tree)
{
  border-top: 3px solid #0076e1;
}

.tableNormal tbody tr.linedown {
  border-bottom: none !important;
}

.tableNormal tbody tr.linedown td:not(.tree) {
    border-bottom: 3px solid #0076e1;
}

.tableNormal tbody tr[data-row-parent-id].showChildRow.linedown.hide 
{
    display: none !important;
}

.tableNormal .tree.icon span.icon {
        width: 20px;
    height: 20px;
    background-color: #eee;
    color: #123b70;
    display: inline-block;
    text-align: center;
    font-size: 1.5em;
    line-height: 1em;
    cursor: pointer;
    font-family: 'OpenSans-Bold';
    left: 0;
    z-index: 2;
    margin-top: 8px;
}
/* End Progress to Date*/

/* Country Program (Use of Country Systems) */
.textalign-middle {
    vertical-align: middle !important;
}
/* End Country Program (Use of Country Systems) */