.delegationColumns.col-md-4:nth-child(3n+1){
    clear: left;
}
.delegationTitle {
    background-color: white; 
    margin-left:34px; 
    text-align:left; 
    position:relative; 
    margin-top: -24px;
    margin-bottom:0px;
}
.delegationTitle label{
    color:black;
    font-weight:600; 
    font-size:17px;
    line-height:22px;
    
}
.delegationTitleH4 {
    background-color: white; 
    margin-left:25px; 
    text-align:left; 
    position:relative; 
    margin-top: -26px;
    margin-bottom:0px;
}
.delegationTitleH4 label {
    font-size:27px;
    font-weight:600;
}
.tableNormal tbody tr th .delegationTitle .labelNormal{
    font-size:16px;
}

.filterName .inputSearch {
    margin-top: -2px;
}
.delegationColumn {
    border-right:1px solid black;
    margin-bottom:-9999px; padding-bottom:9999px;
}
.delegationColumnFix {
    overflow:hidden;
}
.delegationContainer {
    min-height:100%; overflow:hidden;
}
.tableAttribute tbody tr td{
    padding:0px;
}
.delegationlistAttribute {
    margin-bottom:30px;
}
.delegationlistAttribute h4 {
    margin-top:25px;
}
.delegationlistAttributeTitle {
    font-size:14px !Important;
    font-weight:600;
}
.delegationListAttribute {
    background-color: white; border-bottom:1px solid #CCC;border-left:1px solid #CCC; list-style-type:none; padding-top:35px; margin-left:15px; position:relative; padding-bottom:15px;
}
.delegationListAttribute label.labelNormal {
    display:inline;
    }
.delegationListAttributeValues
{
    padding-left:10px; border-bottom:none; width:100%; background-color:white; position:absolute; left:20px; top:40px; z-index:1;
}
.subTitlePrincipal {
    text-align:left;
    margin-top:-23px;
    margin-left:50px;
}

.subTitlePrincipalFindingsRecommendations {
    margin-top:0;
}

.header#header-proposals .subTitlePrincipal {
    margin-top: 0;
}

.tableNormal tbody tr td .subfont .labelNormal {
    font-size:14px !Important;
}
.delegationContainerCollapse {
    padding-left:0px;
    margin-bottom:30px;
}
.delegationContainerCollapse div{
    padding-left:0px;
}
.assignLabelTitleGroup {
    text-align: left;
    padding-left:15px;
    margin-top:0px;
}
.thCheckContainer {
    background-color: white !important;
    padding: 0px;
    text-align: left;
    border: hidden !important;
}
.selectNewPosition {
    position:absolute; top:-18px; left:0px;
}

.selectNewPosition label {
    width: 110px;
}

.tasksDelegateTitleContainer .LabelsGroup {
    min-height: 30px!important;
}

.operationsListTitle {
    text-align: left;
    margin-top: -23px;
    margin-left: 0px;
}

.operationNumberItem {
    margin-right: 10px;
    width: 120px;
}

.authorizeCollapserIcon {
    width: 20px;
    height: 20px;
    background-color: #eee;
    color: #123b70;
    display: inline-block;
    text-align: center;
    font-size: 1.5em!important;
    line-height: 1em;
    cursor: pointer;
    font-family: 'OpenSans-Bold';
    left: 0;
    z-index: 2;
}

.authorizationTitle button {
    padding-left:0px;
}
.authorizationTitle div {
    position:relative;
    margin-left:-11px;
}
.subtitleModified {
    margin-bottom:0px;
    margin-top:0px !important;
}

.button-new-comment {
    position: relative !important;
    left: 140px !important;
    bottom: 25px !important;
}

.tableNormal .tree.icon span.icon {
    z-index: 1;
}

label.checkbox-default label.labelNormal {
    display: inline !important;
}

.verticalLine {
 border-right: solid thin #000000;
}