.documentViewer {
    border: 1px solid black;
    width: 100%;
    height: 650px;
    padding: 5px;
    overflow-y: scroll;
}

.templateIdLabel {
    color: white;
}

.glyphicon-duplicate:before {
    content: "\e224";
}
