button.buttonTrash:last-child {margin-right: 10px !important;}

.textAreaBody {
    display:  inline-block;
    position: relative;
}

.textAreaButton {
    position:absolute;
    bottom:10px;
    right:10px;
}

.centeredContent { margin-right: auto; margin-left: auto; }
.centeredText { line-height: 90px; text-align: center;}

.titleBreakLines { width: 70em; }

.greyBackGround {
    background-color: #eeeeee;
}

.greyBackGround textarea {
    background-color: #eeeeee;
    border: none;
}

.greyBackGround textarea:hover {
    border: none;
}

.tabWithError {
    color: #EA4F35!important;
}

.proposalHorizontalRuler{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #CCC;
}

.inputDecimal{
    width: 115px!important;
}

.activityColumn{
    width: 350px!important;
}

button[name="btnAddNewActivity"] {
    margin: 0% -37.5%;
}

button[name="btnAddNewDeliverable"] {
    margin: 0% -25.5%;
}


