/*--------------------------------------
-----Financial Plan Header -------------
---------------------------------------*/
.financial-header {
}

.financial-header .titlePrincipal{
    margin-bottom:20px;
}

.financial-header-buttons li{
    margin-left:30px;
}
/*--------------------------------------
-----Financial Plan Information Panel---
---------------------------------------*/
.financial-information{
    margin-top:10px;
}

.financial-information-column {
    border-left:1px solid #989898;
}

.financial-information-column-content {
}
/*---------------------------------------------
-----Financial Plan Information Filter Selector---
---------------------------------------------*/
.information-filter-selector {
    text-align:right;
    margin-top:40px;
}
/*---------------------------------------------
-----Financial Plan Tables---------------------
---------------------------------------------*/
.financial-tables-collapse {
    margin-top:40px;
    padding-top: 55px;
}

.table-responsive {
    overflow-x:auto;
}

.tableNormal td ul li {
    list-style-type:none;
}

.financial-title-values, .financial-table-results-columns-titles {
    padding:0px;
}

.financial-title-values li, .financial-table-results-columns-titles li{
    width:180px;
}
.financial-table-results-columns-titles li {
    background-color:white;
    border:1px solid #999;
    border-radius:5px;
}
.financial-taks-name {
    width:250px;
    display:block;
}

.financial-table-results-bottom tr{
    /*background-color:#9dbdf7;*/
}

.financial-table-results-bottom ul li {
    font-weight:bold;
}

.financial-table-results-bottom-titles {
    background-color:#193a6f;
    padding:0px;
}

.financial-table-results-bottom-titles ul li {
    color:white;
    border-top:2px solid white;
    width:100%;
}
.financial-tables .tableNormal tr td {
    padding:0px;

}
.financial-tables .tableNormal tr td li{
    padding-left:15px;
    padding-right:15px;
    padding-top:5px;
    padding-bottom:5px;
}

.financial-tables .tableNormal tr td p{
    padding-left:15px;
    padding-right:15px;
    padding-top:5px;
    padding-bottom:5px;
}

.financialMonth, .financialTdValues, .financialTdValues input, .financial-totals-edit input, .financialMonth-edit input, .disbursement-edit input, #tableDisbursementExtra tbody tr td ul li, .tableDisbursementItems tr td:last-child, .notJustifiedExpenses p input {
    text-align:right;
}
.financialMonth input, .financialTdValues input, .financial-totals-edit input, .financialMonth-edit input, .disbursement-edit input, .notJustifiedExpenses p input{
    height:26px;
    font-size:12px;
    border-color: #999 !important;
}

aside .tabs{
    margin-bottom:0px !important;
}

.financial-header-items {
    margin-bottom:40px;
}

.financial-header-items-only-excel {
    margin-bottom:0px !Important;
}

.buttons-panel {
    margin-top:15px !Important;
    margin-bottom:15px !Important;
}

.buttons-panel-only-excel {
    margin-top:15px !Important;
    margin-bottom:0px !Important;
}

.financial-header-items-columns > .financial-information-column:first-child{
    border-left:none !important;
}
.filter-search {
    visibility:hidden;
}

#id-monthFilterFrom, #id-monthFilterTo {
    height: 35px!important;
}

#id-yearFilterFrom, #id-yearFilterTo {
    height: 35px!important;
    width: 80%!important;
}

.top-and-border-light-color {
    border-top:10px solid #193a6f;
}

.top-and-border-dark-color {
    border-top:1px solid #333;
}

.financial-totals-edit ul li, .financialMonth-edit ul li, .disbursement-edit ul li {
    padding:1px !important;
}
.financialButtonCancel {
    list-style-type: none;
}

.financialTdClear {
    width: 76px;
}

.filterButtonContainer {
    margin-top: -0.45%;
}

.filterButton {
    margin-right:0px !Important;
    margin-top:-3px;
}

.re-align-items {
    margin-right:0px !Important;
    padding-right:0px !Important;
    padding-bottom:0px !Important;
}

.colorGreyTableTask {
    background-color: #F6F7F9;
}

.colorBlackTableTask {
    background-color: black;
}
/*---------------------------------------------
-----Financial Plan Tabla Label Edit Mode------
---------------------------------------------*/
.topLabelIdb {
    height: 30px;
}

.midLabelLocal {
    height: 30px;
    margin-top: 1px;
}

.bottonLabelCofinancig {
    height: 30px;
    margin-top: 1px;
}
/*---------------------------------------------
-----Financial Plan Tabla Label View Mode------
---------------------------------------------*/
.topLabelIdbView {
    margin-top: 1px;
}

.midLabelLocalView {
    margin-top: 1px;
    margin-bottom: 2px;
}

.bottonLabelCofinancigView {
    margin-bottom: 2px;
}

.widthDropdownCurrency {
    width:80px;
}
.footer {
    margin-top:40px;
    margin-bottom:40px;
}

.negative { 
    color : red;
}

.ButtonErase {
    margin-left: -40%;
}

.executionMode {
    display:none;
}

.preparationMode {
    display:block;
}

.financial-header-style {
    margin-bottom: -35px;   
}

.financial-information-style {
    margin-bottom: 15px;
}

.financial-information-hide {
    display:none;
}

td.financial-totals {
    text-align: right;
}

.financial-tooltip, .financial-tooltip-table-header {
    background-color:#FFF;
    border-radius: 5px;
    border:1px solid #F6F7F9;  
    padding: 5px 15px;
    position: absolute; 
    top: 40px;
    left: 10px;
    width: 250px;
    font-family: 'OpenSans-Regular'!important;
    font-size: 14px!important;
    font-weight: normal !important;        
    color: #707783 !important;
    margin-bottom: 5px!important;
    z-index: 2;
}

.financial-tooltip-table-header {
    top: -40px!important;
}

.erase-tooltip {
    top: 20px;
    left: -210px !important;
    width: 210px;
    text-align: center;
}

.financial-relative {
    position:relative !important;
}


#planningPeriodBudgetQuota .lgCont input {
    width: 100%;
    box-sizing: border-box;
}

.extraReportTableContainer {
    display:none;
}

.instructions-container {
    width: 80%!important;
}

.updatedInPEP {
    background-color: lightgoldenrodyellow!important;
}

.header-buttons-non-list {
    list-style-type: none;
}

.filter-labels-text-projection-start {
    margin-right: 127px !important;
}

.filter-labels-text-projection-end {
   margin-right: 200px !important;
}

.monthFilter {
    width:100px !Important;
    display: inline-block !Important;
}

.filter-input-dropdown {
    text-align:right !Important; 
    padding-top:5px !Important; 
    padding-right:0px !Important; 
    margin-right:0px !Important;
}

.space-top-labels {
    text-align:right !Important; 
    padding-bottom:3px !Important;
}

.planning-period-text-container {
    margin-bottom: 20px;
}

.totalLabel {
  display: table-cell;
  vertical-align: middle;
  padding-right: 4px;
}

.yearInput {
  display: table-cell;
  width: 77%;
}

.horizontalScrollTopBar, .horizontalScrollBottomBar { 
    width: 100%; 
    overflow-x: auto; 
    overflow-y: hidden;
}

.scroll-top-height {
    height: 20px !Important;
    margin-top:20px;
}

.withoutInfoMinHeight {
    min-height: 30px!important;
}

.financial-tables-collapse  div label {
    width: 75px !important;
    display: inline-block !important;
    overflow: hidden !important;
    height: 17px !important;
    padding-top: 0px !important;
}

.financial-tables-collapse div > span {
    display:block !important;
    float:left !important;
    margin-right:4px !important;
}

.input-filter-search, .dropdown-task {
  width:100% !important;
}

.clearFilterSearch {
    margin-right:20px;
}

.dropdown-filter-operators {
    width:80px !important;
    margin-bottom:5px
}

.label-filter-search {
    margin-bottom:5px;
    display:block;
}

.filterContainer {
   background-color:#F6F6F6;
   border:1px solid #EAEAEA;
   margin-top:20px;
}

#errorEmptyFieldFilter label {
    color:red;
}

.filterTrHide {
    display:none;
}

.alignButtonsFinancial {
    text-align: right !important;
}
