[data-pagemode="edit"] {display: none;}
.showDataEdit {display: block !important;}
    td[data-pagemode="edit"].showDataEdit {display: table-cell !important; }
    th[data-pagemode="edit"].showDataEdit {display: table-cell !important; }
    .filterNormal[data-pagemode="edit"].showDataEdit {display: inline-block !important; }