.dropdown {
  width: 100%;
}

.inputText, .inputTextarea{
  width: 100%;
}

/* Indicator List */

.filterNormalExtension {
  background-color: #f6f6f6;
  border: 1px solid  #e9e9e9;
  padding: 15px;
}


div.col-md-2.name-data-input, div.col-md-1.name-data-input {
  min-width: 140px;
}
/* End Indicator List */


/* Filters IndicatorPage Link To Results Framework Predefined Indicators */

.name-data-input {
    padding-top : 10px;
}


/* End Filters*/

/* Country */

label.lgTit > button.link-indicator-country-button {
    display : inline;
}
/* end Edit Indicators*/




/* Indicators Template */

span.button-trash-templeate button.buttonTrash {
   margin-left : 10px;
}

/* end Indicators Template  */


/* Edit Indicators */
div.col-md-3.lineGrayRight > div.col-md-12 > div.LabelsGroup,
div.col-md-3.ml16 > div.col-md-12 > div.LabelsGroup,
div.col-md-3 > div.col-md-12 > div.LabelsGroup,
div.col-md-3.lineGrayRight > div.row1 > div.col-md-12 > div.LabelsGroup,
div.grouping-section > div.col-md-3.ml16 > div > div.row2 > div > div  {
  min-height : 0px !important;
}

.character-active {
  font-size: large;
  font-weight: bolder; 
  text-align: center;
}
/* End Edit Indicators */

/* Read Template */

div.col-md-5.read-technicalField {
  height : 36px;
}
/* End Read Template*/

/* Edit Template */

.format-edit-template {
    margin-left: 70px;
}

.radio-button-enable {
    margin-right : 80px;
}

.button-trash-CategoryOneLevel {
  margin-left : 15px;
}

.data-template-version {
  min-width: 270px;
}
/* end Edit Template*/

/* Tables */
/* Set Column Transparent and Auto */

th.columnHide, td.columnHide{
    width: 10px !important;
    background-color: #fff !important;
    border: none !important;
}

.trashButtonExtension{
  padding-left: 0px !important;
}

.disableExtension{
  padding-right: 0px !important;
}

.typeExtension{
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-left: -60px !important;
}

.selectionExtension{
  margin-left: -30px !important;
}

.col-md-6:not(.data-template-version,.data-template-description) div.LabelsGroup label.lgTit
{
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 14px;
  color: #5b5b5b;
}

.templateTextArea{
  height: 60px;
  font-family: "OpenSans-Regular" !important;
  font-size: 14px !important;
  color: #000 !important;
}


/*** OWN CSS OPTIONS TO OVERWRITE HELPERS ***/
input[name="technicalFieldName"]
, .col-md-6 div.LabelsGroup label.lgCont
, div.col-md-4 div.LabelsGroup div[data-pagemode="read"] label.lgCont
, div.col-md-3 div.LabelsGroup div.lgCont div label.labelNormal
, div.row.row-body-40.font-body div.col-md-4 label.labelNormal
, div.col-md-12 div.row.mb16 div.col-md-12 label.labelNormal
, .dropDownContent
, div.read-technicalField div.LabelsGroup label.lgCont
,div.col-md-6.data-template-version div.LabelsGroup span.lgCont label.labelNormal
,div.col-md-6.data-template-description div.LabelsGroup span.lgCont label.labelNormal
,div.col-md-5.read-technicalField div.LabelsGroup span.lgCont label.labelNormal
{
  font-family: "OpenSans-Regular" !important;
  font-size: 14px !important;
  color: #000 !important;
}

.tableTitle{

}

div.grouping-section > div.col-md-3.lineGrayRight > div.row1 > div:nth-child(1),
div.grouping-section > div.col-md-3.ml16 > div > div.row2 > div{
  margin-bottom: 6px !important;
}

div.grouping-section > div.grouping-section > div.col-md-3.lineGrayRight > div.col-md-12.lblcontent{
  margin-bottom: 20px !important;
}

.row1{
  min-height: 75px !important;
}

.row2{
  min-height: 60px !important;
  margin-bottom: 20px !important;
}

.row3{
  min-height: 40px !important;
}

.col-md-6_5{
  width: 51%;
}

.chosen-container.chosen-group-selectable,
.chosen-container.standarized-themes-select{
  width: 100% !important;
}


/* Standardize Output */
.standardized-title-theme
{
    font-weight: bold;
    color: #000000;
    font-size: 14px;
    font-family: 'OpenSans-Regular';
    margin-bottom: 16px;
}

.standardized-fund
{
  padding-left : 20px;
}


div.standardized-select-fund select
{
    font-size: 11px;
    font-family: 'OpenSans-Regular';
    margin-bottom: 5px;
    width:100%;
    height: 60px;
    padding: 0;
}

div.standardized-select-fund select:focus
{
    background-color: white;
}

div.standardized-select-fund select option
{
    width:100%;
    padding: 0 12px;
    color: #000;
    font-size: 14px;
    font-family: 'OpenSans-Bold';
}


div.col-md-12.standarized-themes-option
{
  margin-bottom : 10px;
}

.nonLast
{
  margin-bottom : 5px !important;
}

div.col-md-3.lblvalue, .chosenMultiSelect.col-md-3
{
  margin-bottom : 10px;
  padding-left : 0px;
}

/*
div.standardized-select-fund select option:checked
{
  font-family: 'OpenSans-Bold';
}*/

/* End Standardize Output*/


.category-tabulation
{
  padding-left : 20px;

}

/* Message parsley */

li.parsley-required {

  text-align : left;

}

/* End Message parsley*/

/* Start Override Input Multiselect */
.inputMultiSelect + div.chosen-container-multi > ul {
  border: 1px solid #ccc !important; 
  border-radius: 5px !important;
  padding:3px 10px 3px 10px !important; 
  box-shadow: none !important; 
  background: #fff none !important;
}

.chosen-container .chosen-results li {
  line-height: 32px !important;
}

.chosen-container .chosen-results li.highlighted,
.chosen-container .chosen-results li.group-option {
  font-family: 'OpenSans-Regular' !important;
  font-size: 14px !important;
  color: #333 !important;
  line-height: 32px !important;
}

.chosen-container .chosen-results li.group-result {
  line-height: 15px !important;
}


.chosen-container .chosen-results li.highlighted {
  background: #eff4fb none !important;
}

.chosen-container-multi .chosen-choices {
  overflow-y: auto !important;
}

  .chosen-container-multi .chosen-choices li.search-choice {
    background: #22509d none !important;
    color: #fff !important;
    border-color: #22509d !important;
    box-shadow: none !important;
  }

    .chosen-container-multi .chosen-choices li.search-choice span {
      color: #fff !important;
    }

  .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    color: #aaa !important;
    font-size: 14px !important;
  }

  .chosen-container-multi .chosen-drop .chosen-results li[data-option-array-index]
  {
    text-align : left;
  }

  .chosen-container.chosen-container-multi.inputMultiSelect
  {
      width: 100% !important;
  }

  /* End Override Input Multiselect */

/*  */

table.tableNormal{
  counter-reset: order;
}

table.tableNormal span.count-order:before{
  counter-increment: order;
  content: counter(order)
}


.strAlignEqualityImg {
    width: 36px;
    height: 32px;
    display: inline-block;
    background-image: url('../images/01-Equiality-32x32.png');
}

.strSInclusionImg {
    width: 39px;
    height: 32px;
    display: inline-block;
    background-image: url('../images/02_SocialInclusion-32x32.png');
}



.strAlignClimateChangeImg {
    width: 35px;
    height: 32px;
    display: inline-block;
    background-image: url('../images/03-Climate Change-32x32.png');
}


.strAlignHProductivityImg {
    width: 34px;
    height: 32px;
    display: inline-block;
    background-image: url('../images/04-HighProductivity-32x32.png');
}


.strAlignFullEconomicImg {
    width: 41px;
    height: 32px;
    display: inline-block;
    background-image: url('../images/05-FullEconomic-32x32.png');
}


.strAlignInstCapacityImg {
    width: 37px;
    height: 32px;
    display: inline-block;
    background-image: url('../images/06-InstitutionalCapacity-32x32.png');
}

.loading-window {
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    line-height: 100px !important;
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

