/* Start Collapse Single (Button Expand Table in Confluence */

.collapse-single-button {
    background-color: rgb(238, 238, 238);
    border-collapse: collapse;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: rgb(18, 59, 112);
    cursor: pointer;
    display: inline-block;
    font-family: OpenSans-Bold;
    font-size: 18px;
    font-weight: bold;
    height: 20px;
    line-height: 18px;
    text-align: center;
    width: 20px;
}

    .collapse-single-button:focus,
    .collapse-single-button:active {
        background-color: #123b70;
        color: #fff;
        outline: 1px solid #123b70 !important;
    }

    .collapse-single-button:hover {
        outline: 1px solid #0076e1 !important;
    }

    .collapse-single-button:before {
        content: "-";
    }

    .collapse-single-button.collapse:before {
        content: "+";
    }

    /* With Arrow */

    .collapse-single-button.arrow {
        background: none;
        border: 1px solid #cbdcf2 !important;
        height: 25px;
        border-radius: 5px;
        outline: none !important;
    }

        .collapse-single-button.arrow:hover {
            background-color: #eff4fb;
            outline: none !important;
        }

        .collapse-single-button.arrow:focus,
        .collapse-single-button.arrow:active {
            background-color: #cbdcf3;
            border: 1px solid #cbdcf2;
            color: rgb(18, 59, 112);
        }

        .collapse-single-button.arrow:before {
            font-family: 'entypo';
            font-size: 2.2em;
            /*color: #123a70;*/
            line-height: 0.1em;
            content: "\25b4";
        }

        .collapse-single-button.arrow.collapse:before {
            font-family: 'entypo';
            font-size:  40px !important;
            /*color: #123a70;*/
            line-height: 0.1em;
            content: "\25be";
        }

/* End Collapse Single (Button Expand Table in Confluence */

.component-collapse {
    float: left;
    margin-left: -25px;
}

.alignSubtitle {
    margin-top: -4px;
    margin-left: -30px !important;
}