

/*------ David's section ------ */


/*------ Seccion Claudio ------ */

/* TextGroupInput*/

.input-groupTextButton {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: table-cell;
    position: relative;
    z-index: 2;
    float: left;
    height: 34px;
}


/* ButtonGroupInput*/
.ButtonGroupInput {
    padding: 0 15px;
    min-width: 105px;
    height: 34px;
    font-family: 'OpenSans-SemiBold';
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    background: none;
    background-color: #3275c7;
    text-shadow: -2px 2px 2px #1551A0;
    border: none;
    border-radius: 0px 10px 10px 0px;
}

    .ButtonGroupInput:not([disabled]):hover {
        background-color: #22509d;
    }

    .ButtonGroupInput:not([disabled]):active {
        background-color: #162f6c;
    }

    .ButtonGroupInput[disabled] {
        background-color: #7eb5e2;
        color: #bfdbf1;
        text-shadow: none;
    }

    .ButtonGroupInput.ButtonGroupInput-small {
        font-size: 13px;
        min-width: 81px;
        height: 27px;
    }

    .ButtonGroupInput .button-icon {
        background: url('../images/svg/searchIconGrupInput.svg') no-repeat;
        background-size: 18px 18px;
        background-position-y: 0px;
        width: 18px;
        height: 18px;
        display: inline-block;
        -webkit-filter: drop-shadow(-2px 2px 2px #1551A0);
    }

     .ButtonGroupInput[disabled] .button-icon {
        background: url('../images/svg/searchIconGrupInputDisabled.svg') no-repeat;
        background-size: 18px 18px;
        background-position-y: 0px;
        width: 18px;
        height: 18px;
        display: inline-block;
        -webkit-filter:initial;
    }

.parsley-errors-list.filled ~ .input-group-btn {
    vertical-align: top;
}

.input-group > .parsley-errors-list.filled {
    display: table;
    width: 100%;
}

/*Searchable*/

.text-searchable {
position: relative;
}
    .text-searchable > .text-searchable-icon {
        background: url('../images/svg/searchIcon.svg') no-repeat;
        width: 16px;
        height: 16px;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor:pointer;
    }

    
    .text-searchable:hover > .text-searchable-icon {
        background: url('../images/svg/searchIconHover.svg') no-repeat;
    }

/* vex */

.vex-theme-default.vex .vex-close:hover { 
    background-color: #22509d; 
}   

.vex-theme-default.vex .vex-close:active { 
    background-color: #162f6c; 
}

/* end vex */

.sin-padding-right {
    padding-right: 0;
}

.overrideIncreasesBTN1 {
    float: left;
}

.overrideIncreasesTrash {
    float: left;
    margin-left: 5px;
}