/* adjust */
.firstLabel > label.labelNormal.bold {width: 16em; display:inline-block;}
.ctlComplete {display:inline-block;}
.Wrapper_Table_700 {min-width: 700px; width: 700px; max-width: 700px;}


.td {
    height: 40px;
    font-family: OpenSans-Regular;
    font-size: 12px;
    color: #333333;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.td-no-padding {
    padding: 0 !important;
}

.td-margin-left {
    border-left: solid 1px #05162a;
}

.td-margin-right {
    border-right: solid 1px #05162a;
}

.new-modal-content > div > string {word-wrap: break-word;}

.margin-top-12{
    margin-top:12px;
}

.row-body-40 { margin-bottom: 20px;}

.mb40 { margin-bottom: 40px;}

.mb10 { margin-bottom: 10px;}

.mb20 { margin-bottom: 20px;}

.padding0 { padding: 0 !important;}

.paddingLeft70 { padding-left: 70px !important; }

.paddingLeft85 { padding-left: 85px !important; }

.paddingLeft5Percent { padding-left:5%;}

.paddingLeft3Percent { padding-left:3%;}

.labelImportant, .labelImportant * {font-size: 14px !important; font-family: 'OpenSans-Light' !important; color: #333 !important;}

label.titleLabel span label, .titleLabel
{
    font-family: OpenSans-Regular !important;
    color: #707783 !important;
}

.errorText{
    color: red !important;
}


/* Strategic Alignment*/

#tabStrAligData > div.mb50.pl10 > div.row.mb20 > div.col-md-12 > div[data-pagemode="read"] > div.col-md-12.mb10 > label.radiobutton-default input[checked] ~ span.radiobutton-default-icon
{
    background-color :#cccccc;
}

.iconPercentInput100px {
    position: absolute;
    margin-left: 80px;
    margin-top: 10px;
    color: #cccccc;
}

.inputPercentFocus {
    color: #0f7bd1 !important;
}
.selected-objective label{
    color: #000 !important;
    font-size: 14px !important;
    font-family: 'OpenSans-Regular' !important;
    margin-top: 0;
}
.op-radio-container label{
    font-family: OpenSans-Regular !important;
    color: #707783 !important;
    font-size: 14px;
}
/* End Strategic Alignment*/
.additionalValidatorsDropdown {
    margin-left: 86%;
}

/* Climate Change & Environmental Sustainability*/
.w_icon {
    width:120px !important;
}

.informationBox {
    font-family: OpenSans-Regular !important;
    text-align: justify;
    min-height:100px;
    padding-bottom: 20px;

}

.tree label:only-child {
    text-align : left;
}

[dd-contenedor="climateChangeTable"] > span > span {
    left: -10px;
}

[dd-contenedor="climateChangeTable"].collapse > span > span {
    left: 0;
}

li[dd-tab="#tabClimateChange"]{
    padding-bottom: 5px;
    padding-top: 6px;
    max-width: 275px;
    text-align: center
  }

.normalize-text {
    font-size: 14px;
    margin-bottom: 3px;
}

.user-date-cces {
    color: #a8abb1;
    font-size: 11px;
}

.user-just-text {
    padding-right: 15px;
}

.sub-category {
    margin-left: 160px;
    width: 37%;
    font-weight: bold;
    text-align: left;
    padding-left: 0;
    margin-bottom: 5px;
    margin-top: 15px;
}

.sub-category-value {
    margin-left: 160px;
    width: 37%;
    text-align: left;
    padding-left: 0;
}

.alert-block {
    background-color: #FFCC99;
    border: solid 1px #FF6E4A;
    border-radius: 0;
}

.tableNormal .tree.icon div {
    text-align: left;
}

.buttonTrash {
   min-width: 0px;
}

.informationBox-close {
    top: 3px;
    right: 3px;
    margin-right: 0px !important;
        
}

.cces-ddl {
    max-width: 1000px;
}
.cces-ddl-soc {
    max-width: 274px;
}

.cces-ddl-parent {
    max-width: 400px;
}

.cces-ddl-parent-mit {
    max-width: 190px;
}

.cces-ddl-parent-env {
    max-width: 190px;
}

.cces-ddl-parent-dis {
    max-width: 190px;
}

.cces-ddl-parent-soc {
    max-width: 180px;
}

.cces-ddl-parent-sub-soc{
    max-width: 180px;
}

.cces-info > div{
    font-size: 14px;
    line-height: 1.42857143;
}
/* End Climate Change & Environmental Sustainability*/

.labelDataExtraTwo {
    font-family: 'OpenSans-Regular';
    font-size: 14px !important;
    color:#707783 !important;
    font-weight:normal !important;
}
.labelDataExtra {
    font-family: 'OpenSans-Bold';
    font-size: 14px !important;
    color: #1f251f !important;
}
.LabelsGroup .lgCont .labelNormal {
    font-size:14px !important;
}

.singleTableCollapseCofinancing {
    vertical-align: initial!important;
}

.singleTableCollapseCofinancing span:last-child {
    display: none!important;
}

.cofinancing-tables-collapse > .buttonExpand {
    float: right;
}

.complementary-resources-info-text {
    color: #666666;
    font-family: 'OpenSans-Regular';
    font-size: 12.7px;
    font-weight: normal;
    margin-left: -3%;
}

.amounts-left-position {
    margin-left: 42%;
    margin-top: 0.25%;
}

.amounts-left-position-cofinancing {
    margin-left: 80%;
    margin-top: -2%;
}

.amounts-left-position-total-operation-cost {
    margin-left: 80%;
}

.amounts-left-position-counterpart {
    margin-left: 51%;
}

.cofinancing-tables-header-wrapper {
    margin-left: 3%;
    margin-top: -1.65%;
}

.no-height {
    height: 0px!important;
}

.row-body-20 {
    margin-bottom: 20px;
}

.LabelsGroup .lgCont .tooltip-inner
{
    max-width: 200px;
    padding: 3px 8px;
    color: #fff !important;
    text-align: center;
    text-decoration: none;
    background-color: #000;
    border-radius: 4px;
}

.link-document-id{
    display: inline-block;
    min-width: 30%;
}

[data-pagemode="edit"] .link-document-id{
    margin-top: 14px;
}

tr .inputText[disabled], tr .inputTextarea[disabled]{
    color: black;
}

a.buttonLink{
    text-align: center;
    padding: 0;
    display: inline-block;
}

.alignCoFinancing {
    float:right;
    position: relative;
    display: block;
    width: 530px;
}

.coFinancing-column-width-thirteen-percent {
    table-layout: fixed;
    width: 13%!important;
}

.coFinancing-column-width-ten-percent {
    width: 10%;
}

.coFinancing-column-width-eighteen-percent {
    width: 18%;
}

.coFinancing-column-width-thirtyfive-percent {
    width: 35%;
}

.coFinancing-column-width-four-percent {
    width: 4%;
}

.coFinancing-column-width-twentyfive-percent {
    width: 25%;
}

.FinancingDetail.tableNormal tbody tr.linedown > td {
    border-bottom: none;
}

div.chosenMultiSelect ul.chosen-choices.disabled {
    background: #EEE !important;
    border: 0 !important;
}