/*  Buttons Override*/
button.buttonTrash {
    margin: 0 !important;
    position: relative;
    top: -1px;
}

button {
    margin: 0 !important;
}

.w100p {
    width: 100% !important;
}

.LabelsGroup-2row-head .LabelsGroup {
    min-height: unset;
}

.size-column-100 {
    width: 40% !important;
    max-width: 100% !important;
}



.LabelsGroup-2row-head .LabelsGroup .lgTit {
    /*min-height: 32px;*/
    /*text-align: center;*/
}

.justificationTextSize {
    min-height: 121px !important;
    width: 100% !important;
}

.inputText[disabled], .inputTextarea[disabled] {
    color: #000;
}

    .inputTextarea[disabled].generalCommentsArea, .generalCommentsArea {
        background-color: #fff !important;
        min-height: 150px !important;
    }

.customDatepicker {
    width: 140px !important;
}

.rowInfo {
    background-color: #e4f0fb;
    padding-left: 5px;
    padding-right: 5px;
}

.model-table-row {
    margin-bottom: 15px;
    width: 100%;
}

table.model-table-row tr {
    padding-top: 20px;
    margin-top: 20px;
}

    table.model-table-row tr td {
        padding-right: 0.5%;
    }

/*EXECUTION*/

table.model-table-row-exe {
    margin-left: 17px;
    margin-bottom: 15px;
    width: 100%;
}

    table.model-table-row-exe tr td {
        padding-right: 0.5%;
    }

.model-table-file-exe {
    height: 21px;
    padding-top: 14px;
    margin-top: 14px;
}

/*** WIDTH ***/

/* PERCENT */
.w70p {
    width: 70% !important;
}

.w75p {
    width: 75% !important;
}

.w80p {
    width: 80% !important;
}

.w100p {
    width: 100% !important;
}

/*** TABLES ***/

/* COLORS */
table.totalRow tr td, tr.sumAmountsColor {
    background-color: #dddddd;
}

.lightgrayGrid {
    border: 1px solid;
    border-color: lightgray;
}

/*SEPARATION*/

.separation {
    margin-top: 30px;
}


/*** TEXT  ***/

/* ALIGNMENT */
.textalign-left {
    text-align: left !important;
}

.textalign-center {
    text-align: center;
}

.textalign-right {
    text-align: right;
}

/* INFO TEXT */
.infoText {
    position: relative;
    bottom: 10px;
    line-height: 2;
}

.linkLook {
    color: #3b73c3;
    font-weight: bold;
}

.
/*** FONT  ***/
/* SIZES */
.fontSize10 {
    font-size: 10px !important;
}

.fontSize11 {
    font-size: 11px !important;
}

.fontSize12 {
    font-size: 12px !important;
}

.fontSize13 {
    font-size: 13px !important;
}

.fontSize14 {
    font-size: 14px !important;
}

.fontSize15 {
    font-size: 15px !important;
}

/* Start  Typography */

.subTitlePrincipalOv {
    margin-left: 0;
    margin-top: 50px;
    margin-bottom: 40px;
}

.font-14 > h4 {
    font-size: 14px;
}
/* End  Typography */


#ProcurementList > tbody > tr.read-only > td > div > div > div > div > div > div > ul {
    background: transparent !important;
    padding-left: 0px !important;
    border: 0 solid white !important;
}

/* Start Override Input Multiselect */
select.inputMultiSelect > option {
    width: 100%;
}

.inputMultiSelect + div.chosen-container-multi > ul {
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
    padding: 3px 10px 3px 10px !important;
    box-shadow: none !important;
    background: #fff none !important;
}

.chosen-container .chosen-results li {
    line-height: 32px !important;
}

    .chosen-container .chosen-results li.highlighted,
    .chosen-container .chosen-results li.group-option {
        font-family: 'OpenSans-Regular' !important;
        font-size: 14px !important;
        color: #333 !important;
        line-height: 32px !important;
    }

    .chosen-container .chosen-results li.group-result {
        line-height: 15px !important;
    }


    .chosen-container .chosen-results li.highlighted {
        background: #eff4fb none !important;
    }

.chosen-container-multi .chosen-choices {
    overflow-y: auto !important;
}

    .chosen-container-multi .chosen-choices li.search-choice {
        background: #22509d none !important;
        color: #fff !important;
        border-color: #22509d !important;
        box-shadow: none !important;
    }

        .chosen-container-multi .chosen-choices li.search-choice span {
            color: #fff !important;
        }

    .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
        color: #aaa !important;
        font-size: 14px !important;
    }

.chosen-container-multi .chosen-drop .chosen-results li[data-option-array-index] {
    text-align: left;
}



/* End Override Input Multiselect */


/* Start Procurement List */

.valign-top {
    vertical-align: top;
}

.tableNormal tbody tr td.valign-top {
    vertical-align: top;
}

.associatedOutput {
    width: 100% !important;
    height: 100px !important;
}

.procListId, .procListEditId {
    min-width: 145px;
    max-width: 145px;
    width: 145px;
}

.procListName, .procListEditName {
}

.procListStage, .procListEditStage {
    min-width: 96px;
    max-width: 96px;
    width: 96px;
}

.procListStatus, .procListEditStatus {
    min-width: 70px;
    max-width: 70px;
    width: 70px;
}

.procListModality, .procListEditModality {
    min-width: 185px;
    max-width: 185px;
    width: 185px;
}

.procListConfidential, .procListEditConfidential {
    min-width: 90px;
    max-width: 90px;
    width: 90px;
}

    .procListEditName > input,
    .procListEditStage > .dropdown,
    .procListEditStatus > .dropdown,
    .procListEditModality > .dropdown,
    .procListEditConfidential > .dropdown {
        width: 100%;
    }

#ProcurementList > tbody > tr.read-only > td > div > div > div > span > textarea,
#ProcurementList > tbody > tr.read-only > td > div > div > div > span > input {
    border: none !important;
    background: transparent !important;
    padding-left: 0 !important;
}

#ProcurementList > tbody > tr.read-only > td > div > div > div > span > textarea {
    padding-top: 0;
    padding-bottom: 0;
}

#ProcurementList > tbody > tr.read-only > td > div > tbody > tr > td {
    border: none !important;
}

#ProcurementList > tbody > tr > td > table > tbody > tr > td {
    border: none !important;
}

#collapse-single-85
/* End Procurement List */
.tableNormal tr.custom-even {
    background-color: #ffffff !important;
}

.tableNormal tr.custom-odd {
    background-color: #f6f7f8 !important;
}

.tableNormal tr.custom-even {
    background-color: #ffffff !important;
}

    .tableNormal tr.custom-even + .extend-custom,
    .tableNormal tr.custom-even + .extend-custom + .extend-custom {
        background-color: #ffffff !important;
    }

.tableNormal tr.custom-odd + .extend-custom,
.tableNormal tr.custom-odd + .extend-custom + .extend-custom {
    background-color: #f6f7f8 !important;
}

td > div.align-buttons-td > span.collapse-single-button.arrow {
    position: relative;
    top: -2px;
}

.aligment > h3 {
    margin-left: 0 !important;
    margin-bottom: 0 !important;
}

tr.buttonCollapseExpanded {
    border-bottom: 3px solid #0076e1;
}

tr.buttonCollapseExpandedTop {
    border-top: 3px solid #0076e1;
}

/* Override Disabled --> ReadOnly */
.read-only textarea[disabled],
.read-only input[disabled],
.read-only button[disabled] {
    background-color: #fff !important;
    color: #000;
    border: 1px solid #ccc;
}

.read-only .chosen-disabled {
    opacity: initial !important;
}

    .read-only .chosen-disabled li.search-choice {
        /*padding-right: 5px;*/
    }

    .read-only .chosen-disabled .search-choice-close {
        /*display: none !important;*/
    }

/*.read-only .dropdown{
    background-color: white;
}*/

/*.read-only button[disabled], input[disabled] {
    background-color: white !important;
    /*background-color: rgba(0, 0, 0, 0.1) !important;*/

/* Commit Funds table */

.italicStyle {
    font-style: italic;
}

.italicBolderStyle {
    font-style: italic;
    font-weight: bolder;
}

.space {
    height: 32px;
    width: 85%;
    border: none;
    margin: 0;
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
}

#FinalFirmScorings > tbody > tr.rowInfo > td > div.informationBox-container {
    margin: 9px !important;
    margin-right: -5px !important;
}

/* end commit funds table */

.associatedOutput ul.chosen-choices {
    height: 100px !important;
}

.icon-container-align {
    vertical-align: top !important;
    text-align: left;
    padding: 0 !important;
}

.text-container-align {
    width: 100%;
    padding-top: 15px !important;
}
/* Summary Data*/

.tableSumaryData tbody tr td {
    border: solid 1px #dddddd;
    height: 30px;
    font-family: OpenSans-Regular;
    font-size: 12px;
    color: #333333;
    vertical-align: middle;
    padding-left: 10px;
}
/* End Summary Data*/

/* Poup Procurement*/
.outputIndicator {
    height: 40px;
}
/* End Poup Procurement*/
.dropdown button {
    margin-right: 0 !important;
}

.listUp > ul {
    top: 35.9px;
}

.min-width200 {
    min-width: 200px;
}

.bkg-red {
    background: #FFCCCC;
}

.widthDrop {
    width: 100% !important;
}

/* NEGOTIATION */


td.inputDatePicker input.inputText {
    width: 130px;
}

.collapse-ContractDate {
    position: relative;
    left: 20px;
}

.dropdownStyleList {
    list-style: none;
    padding-left: 0;
}

.white-background {
    background: white;
}

.dropdown-listItems-selection > li > a[disabled] {
    background: white !important;
    cursor: no-drop !important;
}

/* END NEGOTIATION*/


.LabelsGroup .lgCont .tooltip-inner {
    color: #fff !important;
    font-family: OpenSans-Regular;
    font-size: 12px !important;
}

.dropdown-separated-list {
    height: 1px;
    background: #dfdfdf;
    margin-top: 3px;
    margin-bottom: 3px;
}

.collapse-All-margin {
    margin-top: -10px;
}

.hCollapse {
    height: 100px;
}

/* Transparent Table */
table.table-transparent {
    width: 100%;
}

    table.table-transparent tr {
        background-color: transparent !important;
        height: unset !important;
    }

    table.table-transparent td, table.table-transparent th {
        border: 1px solid transparent !important;
        background-color: transparent !important;
        padding: 0 !important;
        height: unset !important;
    }

    table.table-transparent th {
        padding-bottom: 10px !important;
    }

    table.table-transparent .table-transparent-buttons {
        vertical-align: bottom;
        text-align: right;
        width: 50px;
    }

        table.table-transparent .table-transparent-buttons:not(:last-child) {
            padding-right: 10px !important;
        }

    table.table-transparent .table-transparent-text.protests-document {
        vertical-align: bottom;
    }

/* END Transparent Table */


/* Override Components */
div[data-role="collapse-all"] {
    text-align: left;
}

div[data-role="collapse-all"], [data-blank-link], button.buttonBlue {
    white-space: nowrap;
}

/* Table Column Styles */

.colAction80 {
    min-width: 80px;
    max-width: 80px;
    width: 80px;
}

.colAction90 {
    min-width: 90px;
    max-width: 90px;
    width: 90px;
}

.colAction120 {
    min-width: 120px;
    max-width: 120px;
    width: 120px;
}

.colAction150 {
    min-width: 150px;
    max-width: 150px;
    width: 150px;
}

.colAmount {
    min-width: 115px;
}

    .colAmount input {
        width: 100%;
    }

.colCurrencyRead {
    min-width: 85px;
    max-width: 85px;
    width: 85px;
}

.colCurrencyEdit {
    min-width: 100px;
    max-width: 100px;
    width: 100px;
}

.colDate {
    min-width: 145px;
    max-width: 115px;
    width: 145px;
}

.colDocumentUser {
    min-width: 115px;
    max-width: 115px;
    width: 115px;
}

.colDocumentNumber {
    min-width: 115px;
    max-width: 115px;
    width: 115px;
}

.colUser {
    min-width: 115px;
    max-width: 115px;
    width: 115px;
}

/* Specific Table */

/* Identification */
.ideTCFundColOpNumber {
    min-width: 100px;
    max-width: 100px;
    width: 100px;
}

.ideTCFundColAmount {
    max-width: 120px;
    width: 120px;
}

.ideAdminFundColAmount {
    max-width: 185px;
    width: 185px;
}

.ideFirmColShort {
    min-width: 125px;
    max-width: 125px;
    width: 125px;
}

.ideFirmColNationality {
    min-width: 180px;
    max-width: 180px;
    width: 180px;
}

.ideREOIColPublish {
    min-width: 78px;
    max-width: 78px;
    width: 78px;
}

/* Evaluation */
.evaFirmScoringWinner {
    min-width: 80px;
    max-width: 80px;
    width: 80px;
}

.evaFirmScoringStatus {
    min-width: 140px;
    max-width: 140px;
    width: 140px;
}

.evaProposalSumFirmName {
    min-width: 150px;
    max-width: 150px;
    width: 150px;
}

.evaFirmScoringScore {
    min-width: 80px;
    max-width: 80px;
    width: 80px;
}

.evaComments {
    min-width: 270px;
    max-width: 270px;
    width: 270px;
}

/* Negotiation */

.negCommitFundsApprovalNumber {
    min-width: 160px;
    max-width: 160px;
    width: 160px;
}

.negCommitFundsOperationNumber {
    min-width: 94px;
    max-width: 94px;
    width: 94px;
}

.negCommitFundsAmount {
    min-width: 105px;
    max-width: 105px;
    width: 105px;
}

.negCommitFundsCurrency {
    min-width: 78px;
    max-width: 78px;
    width: 78px;
}

.negAdministrativeON {
    min-width: 300px;
    max-width: 300px;
    width: 300px;
}

.negAdministrativeTableColumn {
    min-width: 105px;
    max-width: 105px;
    width: 105px;
}

.negAdministrativePOColumn {
    min-width: 105px;
    max-width: 105px;
    width: 105px;
}

.negCheckbox {
    min-width: 115px;
    max-width: 115px;
    width: 115px;
}

.userColumn {
    min-width: 115px;
    max-width: 115px;
    width: 115px;
}

.negProtestNumber {
    min-width: 140px;
    max-width: 140px;
    width: 140px;
}

.negFinalFirmScoringFirmName {
    min-width: 410px;
    max-width: 410px;
    width: 410px;
}

.negFinalFirmScoringTotalScore {
    min-width: 125px;
    max-width: 125px;
    width: 125px;
}

.negFinalFirmScoringWinners {
    min-width: 125px;
    max-width: 125px;
    width: 125px;
}

/* Execution */

.exeAssociateTaskProcurementId {
    min-width: 145px;
    max-width: 145px;
    width: 145px;
}

.exeAssociateTaskON {
    min-width: 100px;
    max-width: 100px;
    width: 100px;
}

.exeAssociateTaskAN {
    min-width: 145px;
    max-width: 145px;
    width: 145px;
}

.exeAssociateTaskFinalAmount {
    min-width: 120px;
    max-width: 120px;
    width: 120px;
}

.exeSanctionNoPerformTaskNumber {
    min-width: 145px;
    max-width: 145px;
    width: 145px;
}

.exeSanctionNonPerformFirm {
    min-width: 200px;
    max-width: 200px;
    width: 200px;
}

.exeFirmPerformEvalOverall {
    min-width: 145px;
    max-width: 145px;
    width: 145px;
}

.exeFirmPerformEvalRecommended {
    min-width: 145px;
    max-width: 145px;
    width: 145px;
}

/* Document Managment*/
.selected .dm-selectedRow {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAAV1BMVEUAAAAmyGQmyGQmyGQmyGQmyGQmyGQmyGQmyGQmyGQmyGQmyGQmyGQmyGQmyGT///8myGRBz3fx/PU0y27W9eK77s+F4Kig57tc1otP0oGT5LJ33Z5q2ZTB6HcSAAAAD3RSTlMAECAwQGBwgI+fr7/P3+/Lm0b7AAAAl0lEQVR4Xn3Q7Q6CMAyFYRgDZQxPN77V+79OOboyoonvnyVP2qRZ8b/K2i+xTpivM5VOtL5S85K7Je0IWQ2tzrAOuzpif9iCO599tDpsA1Zic94eMdG4fyFsQWRGHIR1CRFDiJhFsf5sjhNGEV03xBABbAkbvf0JLJLi9VbYYxqSXQvWyjlfFqo/38SzNMe5lLl4TrX2DS+NTxDlAZX52AAAAABJRU5ErkJggg==');
    width: 20px;
    height: 20px;
    display: inline-block;
}

.col-min-120 {
    min-width: 120px;
}
