.aligment {
    margin-left: 0 !important;
    margin-bottom: 0 !important;
}

/* Common Style Columns */

.colDocumentUser {
    min-width: 90px;
    max-width: 90px;
    width: 90px;
}

.colDate {
    min-width: 115px;
    max-width: 115px;
    width: 115px;
}

.colStatus {
    min-width: 110px;
    max-width: 110px;
    width: 110px;
}

.colDocumentNumber {
    min-width: 115px;
    max-width: 115px;
    width: 115px;
}

.colAction65 {
    min-width: 65px;
    max-width: 65px;
    width: 65px;
}

.colAction90 {
    min-width: 90px;
    max-width: 90px;
    width: 90px;
}

.colAction120 {
    min-width: 120px;
    max-width: 120px;
    width: 120px;
}

.colAction125 {
    min-width: 125px;
    max-width: 125px;
    width: 125px;
}

.colAction132 {
    min-width: 132px;
    max-width: 132px;
    width: 132px;
    padding-left:0px !important;
    padding-right:4px !important;
}

.colAction140 {
    min-width: 140px;
    max-width: 140px;
    width: 140px;
}

.colNonObjectionStatus {
    min-width: 108px;
    max-width: 108px;
    width: 108px;
}


/* Table Column Styles */

.tableNormal tr[data-id]:last-child td {
    border: none !important;
}

table.tableNormal tbody tr td {
    vertical-align: middle;
}

.collapse-title {
    position: relative;
    left: -55px;
}

.collapse-table-title {
    position: relative;
    left: -40px;
}

.collapse-title-new {
    position: relative;
    left: -45px;
}

.colApprovalNumber {
    min-width: 120px;
    max-width: 120px;
    width: 120px;
}

.colLastNonObjDate {
    min-width: 115px;
    max-width: 115px;
    width: 115px;
}

.colLastNonObjBy {
    min-width: 115px;
    max-width: 115px;
    width: 115px;
}

.sort.sortDes {
    background-position: 94% 50% !important;
}

.sort.sortAsc {
   background-position: 94% 50% !important;
}

.sort.sortTing {
   background-position: 94% 50% !important;
}
/* Contract Amendment */

.colAmmendmentUserEdit {
    min-width: 89px;
    max-width: 89px;
    width: 89px;
}

.colAmendmentSignatureDate {
    min-width: 125px;
    max-width: 125px;
    width: 125px;  
}

.colAmendmentModification {
    min-width: 220px;
    max-width: 220px;
    width: 220px;
}

.colAmendmentModification {
    min-width: 220px;
    max-width: 220px;
    width: 220px;
}

.colAmendmentModificationRead {
    min-width: 150px;
    max-width: 150px;
    width: 150px;
}

/* End Table Column Styles */

/* Transparent Table */
table.table-transparent {
    width: 100%;
}

    table.table-transparent tr {
        background-color: transparent !important;
        height: unset !important;
    }

    table.table-transparent td, table.table-transparent th {
        border: 1px solid transparent !important;
        background-color: transparent !important;
        padding: 0 !important;
        height: unset !important;
    }

    table.table-transparent th {
        padding-bottom: 10px !important;
    }

    table.table-transparent .table-transparent-buttons {
        vertical-align: bottom;
        text-align: right;
        width: 115px;
        white-space: nowrap;
    }

    table.table-transparent .table-transparent-buttons:not(:last-child) {
        padding-right: 0 !important;
    }

/* END Transparent Table */


/* Override Components */
div[data-role="collapse-all"] {
    text-align: left;
}

div[data-role="collapse-all"], [data-blank-link], button.buttonBlue {
    white-space: nowrap;
}

/* FILTER Procurement Plan Tab */
.filterNormalExtension {
  background-color: #f6f6f6;
    border: 1px solid #e9e9e9;
  padding: 15px;
}
/* END FILTER Procurement Plan Tab* /

/*plan table*/

.color-link {
    color: #4671ff;
}

.tableNormal tr[data-detail] {
    background-color: #ffffff !important;
}

tr.buttonCollapseExpanded {
    border-bottom: 3px solid #0076e1;
}

tr.buttonCollapseExpandedTop:not(.row-transparent) {
    border-top: 3px solid #0076e1;
}

.align-subtitle {
    vertical-align: bottom;
}

.subTitleSG {
    margin-left: 0px !important;
}

.grouping-section .lblcontent.col-md-3 {
    margin-bottom: 6px;
}

.grouping-section .lblcontent.col-md-4 {
    margin-bottom: 6px;
}

.grouping-section .lblcontent.col-md-5 {
    margin-bottom: 6px;
}

.grouping-section .lblvalue.col-md-1 {
    padding-left: 0;
    text-align: left;
}

.grouping-section .lblvalue.col-md-2 {
    padding-left: 0;
    text-align: left;
}

.grouping-section .lblvalue.col-md-3 {
    padding-left: 0;
    text-align: left;
}

.grouping-section .lblvalue.col-md-4 {
    padding-left: 0;
    text-align: left;
}

.grouping-section .lblvalue.col-md-5 {
    padding-left: 0;
    text-align: left;
}

.grouping-section .lblvalue.col-md-6 {
    padding-left: 0;
    text-align: left;
}

.grouping-section .lblcontent .inputSearch.lupa button span.glyphicon {
    font-family: 'Glyphicons Halflings' !important;
    color: #fff !important;
}

.trashMarginTop0 {
    margin-top: 0 !important;
}

.details-search {
    width: 100%;
}

.textalign-center {
    text-align: center;
}

.tab-detail-row {
    padding-left: 70px !important;
    padding-right: 70px !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}


/* DETAILS */
.details-manualId {
    height: 15px;
}
/***********/

/* CONTRACT SECTION */
.color-change {
    color: #d55b09 !important;
}

.LabelsGroup div.color-change label {
    color: #d55b09 !important;
    font-weight: bold !important;
    font-family: 'OpenSans-Bold' !important;
}

/* Contracts Table*/

.colContractId {
    min-width: 235px;
    max-width: 235px;
    width: 235px;
}

.colAwadedBidder {
    min-width: 444px;
    max-width: 444px;
    width: 444px;
}

.colStatusContracts {
    min-width: 240px;
    max-width: 240px;
    width: 240px;
}

.colActions {
    min-width: 106px;
    max-width: 106px;
    width: 106px;
}

/* Contract Details */

.square {
    width: 25px;
    height: 25px;
    background-color: #d55b09;
    display: inline-block;
}
/* Amendments */
.colDateAmendments {
    min-width: 70px;
    max-width: 70px;
    width: 70px;
}

.colActionAmedment {
    min-width: 125px;
    max-width: 125px;
    width: 125px;
}

.colDocumentNumberAmendments {
    min-width: 73px;
    max-width: 73px;
    width: 73px;
}

.h110 {
    height: 110px;
}

.w750p {
    width: 750px !important;
}

.levels-label {
    height: 25px;
}

/* END CONTRACT SECTION*/


/*LOTS SECTION*/
.notSpacingAmount {
    white-space: nowrap;
}

.colLotId {
    min-width: 80px;
    max-width: 80px;
    width: 80px;
    text-align: center;
}

.colLotsContracts {
    min-width: 150px;
    max-width: 150px;
    width: 150px;
    text-align: center;
}

.colLotsAction {
    min-width: 70px;
    max-width: 70px;
    width: 70px;
}
    
.buttonlink-lots {
    padding: 0px 0px !important;
}

/*END LOTS SECTION*/


.textalign-right {
    text-align: right !important;
}


.tableNormal tr.custom-even {
    background-color: #ffffff !important;
}

.tableNormal tr.custom-odd {
    background-color: #f6f7f8 !important;
}

.tableNormal tr.custom-even + .extexd-custom,
.tableNormal tr.custom-even + .extexd-custom + .extexd-custom {
    background-color: #ffffff !important;
}

.tableNormal tr.custom-odd + .extexd-custom,
.tableNormal tr.custom-odd + .extexd-custom + .extexd-custom {
    background-color: #f6f7f8 !important;
}


.row-yellow, .tableNormal tr.custom-even.row-yellow, .tableNormal tr.custom-odd.row-yellow {
    background-color: #FFF4B5 !important;
}

.row-grey, 
.tableNormal tbody tr.row-grey td,
.tableNormal tbody tr.row-grey td label,
.tableNormal tbody tr.row-grey td button {
    color: #e0e0e0;
}

.buttonTrash {
    margin-top: 0;
}

td .buttonTrash {
    position: relative;
    top: -1px;
}

.no-wrap-space {
    white-space: nowrap;
}

.proc-row--detail-col {
    float: left;
    width: 200px;
}

.proc-row--detail-col-ProcActivities {
    float: left;
    width: 200px;
}

    .proc-row--detail-col:not(:first-child) {
    width: calc(100% - 215px);
    margin-left: 15px;
}

.repeat-proc-coments {
    position: relative;
    top: -32px;
}

.tableNormal tbody tr[data-id].row-grey.custom-even:hover,
.tableNormal tbody tr[data-id].row-grey.custom-odd:hover {
    background-color: #e0e0e0 !important;
}

.tableNormal tbody tr[data-id].row-grey.custom-even:hover td,
.tableNormal tbody tr[data-id].row-grey.custom-even:hover td label,
    .tableNormal tbody tr[data-id].row-grey.custom-even:hover td button {
        color: #ffffff !important;
}

.tableNormal tbody tr[data-id].row-grey.custom-odd:hover td,
.tableNormal tbody tr[data-id].row-grey.custom-odd:hover td label,
    .tableNormal tbody tr[data-id].row-grey.custom-odd:hover td button {
        color: #f6f7f8 !important;
}

.colWidth123px {
    width: 124px;
    min-width: 124px;
    max-width: 124px;
}

.colWidth50px {
    width: 50px;
    min-width: 50px;
    max-width: 50px;
}

.colPadding1px {
    padding: 1px !important;
}

.document-number {
    color: #3b73c3 !important;
}

.fontSize20px {
    font-size: 20px !important;
}

.fontSize11px {
    font-size: 11px !important;
}

.fontSize14px
{
    font-size: 14px !important;
}

.fontSize16
{
    font-size:16px;
}

.subTitlePrincipal
{
    margin-left: 0;
    margin-bottom: 0px;
}

/* PARAMETRIZATION SECTION */

.page-with-collapse {
    padding-left: 30px;
}

    .page-with-collapse .collapse-single-button {
    margin-left: -30px;
    margin-right: 5px;
    position: relative;
    top: -3px;
}

/*.component-collapse {
    float: left;
    margin-left: -25px !important;
    margin-bottom: 10px !important;
}*/
.component-collapse-h3 {
    /*font-size: 18px;*/
    display: inline-block;
}

.component-container-data {
    padding-bottom: 20px;
}

.component-container-data {
    margin-left: -16px;
    padding-left: 16px;
    border-left: 2px solid #eee;
}

.colCustomProcurementMethodsAction {
    min-width: 80px;
    max-width: 80px;
    width: 80px;
    text-align: center;
}

.colNationalSystemSelect {
    min-width: 100px;
    max-width: 100px;
    width: 100px;
    text-align: center;
}

.colNationalSystemSupervisionMethod {
    min-width: 220px;
    max-width: 220px;
    width: 220px;
}

.colParametrizationProcurementType {
    min-width: 500px;
    max-width: 500px;
    width: 500px;
}

.checkbox-default .checkbox-default-icon {
    background-color: white;
}

.collapseDetailAmedment {
    width: 55px !important;
}

.colBaseline {
    min-width: 149px;
    max-width: 149px;
    width: 149px;
    text-align: center;
}

.colPlanning {
    min-width: 160px;
    max-width: 160px;
    width: 160px;
    text-align: center;
}

.colCompletionDate {
    min-width: 149px;
    max-width: 149px;
    width: 149px;
    text-align: center;
}

.colBaseline input,
.colPlanning input,
    .colCompletionDate input {
    width: 130px;
}

.listUp {
    width: 460px;
}

.modalSGP {
    padding-top: 0px;
    padding-bottom: 0px;
}

.checkbox-default input:checked ~ .checkbox-default-icon {
    background-color: white;
}

.colDefaultSupervisionMethods {
    min-width: 230px;
    max-width: 230px;
    width: 230px;
}

.radiobutton-default .radiobutton-default-text {
    margin-right: 25px !important;
}

/* END PARAMETRIZATION SECTION */

.custom-hide {
    display: none;
}

.buttonLink {
    padding: 0;
    text-align: left;
}

.leyend {
    display: inline-block;
}

.leyend div:not(.clearfix) {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    height: 45px;
    display: table;
}

.leyend div label {
    display: table-cell;
    vertical-align: middle;
}

.leyend div.row-yellow {
    width: 200px;
}

.leyend .leyend-box {
    border: 1px solid #ddd;
    margin-left: 5px;
}

.pending-proc {
    display: table;
    float: right;
}

.pending-proc label {
    display: table-cell;
    vertical-align: middle;
}

.pending-proc button {
    margin-left: 20px;
}

.multiDropdownSGP {
     width: 100% !important;
}

.multiDropdown130SGP {
     width: 130px !important;
}

.display-table {
    display: table;
}

.display-cell {
    display: table-cell;
}

.display-cell.v-align-middle {
    vertical-align: middle;
}

.change-info {
    display: inline-block;
    margin-left: 50px;
}

    .change-info .color-change {
    padding-left: 15px;
}

div.groupMinHeigh45 div.LabelsGroup {
    min-height: 45px !important;
}

/* Transparent Table */
div.table-transparent {
    width: 100%;
    display: table;
}

div.table-transparent div {
    display: table-cell;
}

div.table-transparent div.table-transparent-buttons {
    vertical-align: bottom;
    text-align: right;
    width: 115px;
    white-space: nowrap;
}

div.table-transparent div.table-transparent-buttons:not(:last-child) {
    padding-right: 0 !important;
}

/* BIDDING */

/* Style Columns */

.colDocumentNumberBidding {
    min-width: 85px;
    max-width: 85px;
    width: 85px;
}

.colActualDate {
    min-width: 150px;
    max-width: 150px;
    width: 150px;
}

.colW150 {
    min-width: 150px;
    max-width: 150px;
    width: 150px;
}

.tableNormal tbody tr td.columnActionOnlyCollapse {
    cursor: pointer;
}

.columnAction-draft-request{
    padding-top : 10px !important;
}

.multi-dropdown-width-100{
    width: 100% !important;
}

/* participant */

.fontCursive {
    font-style : italic !important;
}

.font0 {
    font-size: 0px;
} 

.wh0 {
    width:25px !important;
    height:0px !important;
    cursor:pointer;
}

.vat {
    vertical-align:top;
}

.cancelledInegibilityButtonLink {
    color: #3b73c3 !important;
    text-decoration:underline;
}
 
.colNationalityParticipant {
     min-width: 95px;
    max-width: 95px;
    width: 95px;
 }

.fontSize27{
    font-size: 27px !important;
}

.lineGrayLeft 
{
    border-left-width: 1px;
    border-left-color: #bbbbbc;
    border-left-style: solid;
}

.differentDataSGP 
{
   color: rgb(204,102,0);
}

.iconOrangeBox
{
    background-color: rgb(204,102,0);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: rgb(204,102,0);
    display: inline-block;
    height: 20px;
    width: 13px;
    margin-left:5px;
    margin-right:5px;
}
