.spMainContainer {
    min-height: 600px
}

.tableNormal .treeNumber {
    vertical-align: top;
}

button[disabled] {
    cursor: no-drop !important;
}

.modalAddDetailed {
    max-height: 500px;
    overflow: auto;
    padding: 10px 10px 10px 10px;
}

.OperationNumberAdm {
    font-size: 11px !important;
    font-weight: bold !important;
}

.totalCol {
    background-color: darkgray;
}

.skinGray {
    background-color: gray !important;
}

.skinTotalColumn {
    background-color: #22509d !important;
}

.skinTotalSource {
    background-color: #F5F5F5 !important;
}

#tableSummary .buttonVersion {
    position: relative;
    top: -10px;
}

#budgettwoCell {
    height: 50px;
    min-width: 230px;
    max-width: 230px;
    width: 230px;
}

#sourceBudget {
    width: 100%;
    float: right;
    text-align: right;
}

#CategoryBudget {
    width: 100%;
    float: right;
    text-align: left;
}

#lineBudget {
    position: relative;
    top: 11px;
    left: -14px;
    height: 10px;
    width: 235px;
    border-top: solid 1px #ffffff;
    -webkit-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    transform: rotate(12deg);
}

.tableNormal tbody tr td.textLonguer {
    word-break: break-all;
}

.requestZone {
    float: right;
    position: relative;
    top: 30px;
}

.subTitleCountry {
    font-size: 24px;
    margin: 0;
    font-family: 'OpenSans-Light';
    color: #333;
}

.outerAyear::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {

    -webkit-appearance: none;

    margin: 0;

}



table.scroll tbody,
table.scroll thead { display: block; }


table.scroll tbody {
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}
.filerAdministrationSP div.placeholder span {
    font-family: Opensans;
    font-size: 16px;
}


div.modalAddDetailed{
   overflow-y: hidden;
  }

div#addNewOutput {
    padding-bottom: 30px; 
}
div#addNewRisk{
    padding-bottom: 30px; 
}
div.ActivityScroll {
    overflow-x: auto;
    overflow-y: hidden;
}

.skinGray thead tr {
    height: 2.5em;
}

.tableNormal tr:last-child td.tree span {
    height: 100%;
}

.tableNormal .tree span {
    height: calc(100% + 22px);
}

.tableNormal thead tr th{
    font-size: 10.5px !important; 
}

.tableNormal tbody tr td .labelNormal{
    font-size: 10.5px !important;
}

.pwAction {
    width: 6% !important;  
 }

.tableBudget .bold {
    font-family: 'OpenSans-Bold' !important;
}

.tableBudget.tableNormal thead tr th,
.tableBudget.tableNormal tbody tr td,
.tableBudget.tableNormal tbody tr td .labelNormal {
    font-size: 13px !important;
}