.tcmTitleTable {
    font-size: 18px !important;
    font-weight: bold;
}

.tcmHeaderYear {
    min-width: 130px;
    width: 130px;
    padding-right: 0 !important;
}

.spanYear {
    cursor: pointer;
    margin-top: 0;
    display: inline-block;
    border: 2px solid #a1a1a1;
    padding: 0.2em;
    padding-top: 0.7em;
    height: 2.8em;
    border-radius: 0.4em;
    width: 20px;
}

.span-min-square {
    cursor: pointer;
    margin-top: 0;
    display: inline-block;
    border: 2px solid #a1a1a1;
    height: 1.5em;
    border-radius: 0.4em;
    width: 1.3em;
    font-size: small;
    text-align: center;
    padding-left: 0.05em;
}

.span-min-square:hover {
    color: red;
}

#outcomes-container tbody tr td {
    padding: 0;
}

#outcomes-container tbody tr:hover {
    background-color: inherit;
}

.custom-odd {
    background-color: #f6f7f8 !important;
}

#outcomes-container tbody tr td.tree {
    padding: 0 10px 0 0;
}

.wp100 {
    width: 100%;
}


/*Results Matrx Custom Input Styles */

.input-text-grid, .input-text-area-grid {
    padding: 0 0.3em 0.1em 0.3em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    width: 100%;
    height: 20px;
}

.input-text-area-grid {
    min-height: 4.3em;
    width: 99%;
    resize: none;
}

.input-text-grid:hover, .input-text-area-grid:hover {
    border: 1px solid #0f7bd1;
}

.input-text-grid:hover ~ .iconPercent, .input-text-grid:active ~ .iconPercent, .input-text-grid:focus ~ .iconPercent {
    color: #0f7bd1;
}

.input-text-grid:active, .input-text-area-grid:active, .input-text-grid:focus, .input-text-area-grid:focus {
    border: 1px solid #0f7bd1;
    color: #333;
}

.input-text-grid[disabled], .input-text-area-grid[disabled] {
    color: #000;
    background-color: #f4f6f6;
    border-color: #ccc;
}

.input-text-grid ~ .iconPercent {
    margin-left: -24px;
    color: #cccccc;
}

.input-text-grid .blue-input {
    background-color: #193A6E !important;
    color: #fff !important;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.action-bar {
    position: absolute !important;
    left: 5.4%;
    display: none;
    background-color: #FFF;
    z-index: 5;
    margin-top: 0.8em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 0%;
    padding-left: 1.7%;
    box-shadow: 0px 3px 7px #999999;
    text-align: left;
    max-width: 100%;
    min-width: 92.7%;
}

.bar-outcomes {
    width: 88.3% !important;
}

#operation-info-container .operation-info:first-child {
    margin-top: 2.5em;
}

.operation-info {
    float: left;
    width: 100%;
}

.operation-info div:first-child {
    margin-left: 0;
}

.operation-info div {
    float: left;
    margin: 0 0 2.8125em 3.45%;
}

.operation-info .info-text {
    font-family: "OpenSans-Bold";
    width: 100%;
}

#partial-header-container {
    margin-left: 2.5%;
}

.original-value-row {
    background-color: #e6e7e8 !important;
    border: 1px solid #E0E0E0 !important;
}

.annual-value-row {
    background-color: #ffffff !important;
    border: 1px solid #E0E0E0 !important;
}

.actual-value-row {
    background-color: #DEE9F7 !important;
    border: 1px solid #E0E0E0 !important;
}

.square-button {
    border-radius: 5px !important;
    width: 14em !important;
}

.square-button.narrow {
    width: auto !important;
    color: #193A6E;
}

.square-button.pressed {
    background-color: #193A6E !important;
    color: white;
}

.no-bold {
    font-family: 'OpenSans-Light' !important;
}


.btn-action {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-action-group {
    float: left;
    border: 1px solid #EDEFF2;
    background: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    width: 220px;
    padding: 3.3px 3px;
}

.btn-action-group.activo .btn-action-fondo {
    background-color: #85b200;
}

.btn-action-group .btn-action-fondo {
    float: left;
    background-color: #123B70;
    border-radius: 10px;
    margin: 0.3em 0.75em 0.3em 0.3em;
    width: 4em;
    height: 1.8em;
    cursor: pointer;
}

.btn-action-group.activo .btn-action-fondo .btn-action-punto {
    margin: 0.2em 0 0 2.6em;
    box-shadow: -2px 0 0 #398D01;
}

.btn-action-group .btn-action-fondo span {
    text-indent: -10000px;
}

.btn-action-group .btn-action-punto {
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    margin: 0.2em;
    border-radius: 1000px;
    background-color: #FFFFFF;
    box-shadow: 2px 0 0 #0D2057;
}

.btn-action-group .btn-action {
    padding-top: 7px;
    font-family: "OpenSans-Regular";
    font-size: 14px;
    background: none;
    color: #202520;
    cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.order-number-container {
    position: absolute;
    left: 50px;
    background: #FFF;
    margin-left: -25px;
}

#predefined-indicator-icons-container {
    /*position: absolute;*/
    /*margin-top: 34px;*/
    /*left: 75px;
    float:left;
    position:absolute;*/
}

.predefined-indicator-icon {
    font-family: 'entypo';
    font-size: 2.8em;
}

.crf {
    color: #000000;
}

.standar-output-edit-mode {
    /*position: absolute;*/
    margin-top: 25px;
    left: 95px;
    color: #CC0000;
    padding-left: 5px;
}

.crf-indicator-edit-mode {
    /*position: absolute;*/
    margin-top: 25px;
    left: 95px;
    color: black;
    padding-left: 5px;
}

.standar-output-read-mode {
    /*position: absolute;*/
    margin-top: -9px;
    left: 84px;
    color: #CC0000;
}

.unit-of-measure {
    background-color: #193A6E !important;
    color: white !important;
}


.inactive-output {
    background-color: #DBDBDB !important;
}

.custom-black {
    color: black !important;
}

.w271 {
    width: 271px;
}

.wOutcomesStatement {
    width: calc(99% - 200px);
    padding-left: 5px;
    padding-right: 5px;
}

.td-padding {
    padding-left: 4px !important;
    padding-right: 4px !important;
}

.tdheigth55 td {
    height: 55px !important;
}

.textBreak {
    word-wrap: break-word;
    max-width: 1520px;
}

.desheadingh3 {
    float: left;
    width: 70%;
    margin: 0.95em 0 0 39px;
}

#verifyContentModal {
    overflow-y: auto;
    height: 500px;
}

.desheadingh3 .description {
    color: #999999;
    font-family: "OpenSans-Regular";
    font-size: 1.125em;
}

.headingh2 {
    width: 67%;
    display: block;
    float: left;
    margin: 0.575em 0 0.875em 39px;
}

.headingh2.tipo1 {
    margin-bottom: 0;
    margin-left: 4.7%;
    font-size: 1.7em;
}

.headingh4 {
    font-family: "OpenSans-Regular";
    margin-bottom: 2.8125em;
    font-size: 1.25em;
    margin-left: 55px;
}

.desheadingh3 .tipo1 {
    color: #999999;
    font-family: "OpenSans-Regular";
    font-size: .9em;
}


.desheadingh3 .tipo2 {
    color: #999999;
    font-family: "OpenSans-Regular";
    font-size: .8em;
}

.ml47 {
    margin-left: 4.7%;
}

.bold {
    font-weight: bold;
}

.tableHead {
    font-size: .7em;
}

.chkItem > span label {
    font-size: 0.9em !important;
}

.wTextBox {
    width: 95px !important;
    height: 20px !important;
    font-size: 11px !important;
}

.font15Important {
    font-family: 'OpenSans-Regular' !important;
    font-size: 15px !important;
}

.mt12 {
    margin-top: 12px
}

.h40px {
    height: 40px
}

h3  {
    font-size: 24px;
    margin-left: 0 !important;
    margin-bottom: 0;
}
.flag-icon {
    font-family: 'entypo';
    font-size: 3em;
}

.magenta {
    color: #CC0000;
}

.rtextLabel {
    overflow: auto;
    height: 40px;
    vertical-align: middle;
    padding: 10px;
}

.textBreakOutcome {
    word-wrap: break-word;
    max-width: 1300px;
}

.input-text-Outcome {
    padding: 0 0.3em 0.1em 0.3em;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #000;
    width: 100%;
    height: 35px !important;
}
.unitMeasure {
    width: 100px;
    min-width: 100px;
}

.overflow {
    overflow: auto;
    overflow-y: hidden;
}
.outputIndicator {
    min-width: 190.67px;
    width: 1400px;
}
.outputPPaA {
    min-width: 50px;
    width: 50px;
}

.paddingTopBottom {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.componentMappingTitle {
    font-family: OpenSans-Regular;
    color: #333333;
    text-align: left;
    margin-bottom: 15px;
}

.fontSizes {
    font-size: 12px !important;
    padding: 0;
}

.paddingTd {
    padding: 5px !important;
}

.componentMappingTitleMain {
    font-family: OpenSans-Regular;
    color: #333333;
    text-align: left;
    margin-bottom: 15px;
}

.borderButton tr[data-id]:last-child td{
    border-bottom: 0 !important;
}

.textBreakReason {
    word-wrap: break-word;
    max-width: 200px;
}

.cursiveInformation {
    font-style: italic;
}

table.financialOutput td.treeNumber {
    width: 40px !important;
    min-width: 36.6px !important;
}

#layoutLoadingPassDiv 
{
            display: none;
            width: 300px;
            height: 200px;
            z-index: 999999999;
            top: 0%;
            left: 0%;
            position: fixed;
            background-color: #000000; 
            background-color: rgba(254, 254, 254, 0.74);
            height: 100%;
            width: 100%;
}

.unlink-icon {
    background: url("../../Images/Icons/unlink.png") no-repeat 12px 2px !important;
}

.wMilestone {
    width: 1650px;
    min-width: 160px;
}

.wDisaggregation {
    width: 1750px;
    min-width: 260px;
}
li.listError{
    background-position-y:0.55em !important;
    padding: 0.15em 0 0.5em 1.5em;
    margin-bottom: 0;
    text-indent: 0.4em;
}

.w100p {
    width: 100%;
}

.outputFinancial {
    min-width: 190.67px;
    width: 1600px;
}
.outputFinancialEmpty {
    min-width: 70px;
    width: 70px;
}
.containerOutcomeDetail {
    padding-right: 35px !important;
}

.wOutcomeHeader {
    min-width: 190.67px;
    width: 1400px;
}

.positionFlag {
    position: relative;
    top: -50px;
}
.positionButton {
    position: absolute;
    right: 175px;
}


.italic {
    font-style: italic !important;
}

#tcmInformationBox {
    padding: 15px 15px 40px 25px; 
    width: 75%; 
    max-height: 500px !important;
    text-align: justify;
    z-index: 9999;
}

.tcmTextAling {
    text-align: initial;
    width: 85%;
}

.mr160 {
     margin-right: 160px !important;
}

.iconPopup {
    float: left;
    font-size: 25px;
    padding-right: 15px;
    margin-top: 15px;
}

.contentWarningPopup {
    background-color: #e19c23;
    height: 60px;
    margin-top: 15px;
    border-radius: 10px;
    font-size: 0.7em;
    color: white
}

.ico_warning:before {
    font-family: "awesome";
    font-size: 1em;
    margin-right: 2%;
    content: "\f071";
    color: #fff;
}

.buttonTrash .asteriskColor {
    color: #ff3333;
}

.btn-alternative.hovered {
    background-color: #cbdcf3;
}