
/*Typography*/

/* TCAbstract Operation Team List */
ul.list-without-style {
    padding: 0;
    list-style: none;
}

/*End Typography*/

/*Buttons*/

/*End Buttons*/

/*Tables*/

/* Financing Table TCAbstract*/
/* Tables */

.awardTableFooter {
    background-color: #DDDDDD;
    height: 40px;
    font-weight: bold;
}
/* end Financing Table TCAbstract */

/*End Tables*/

/*Modals*/

/*End Modals*/

/*Inputs*/

/*End Inputs*/

/* Search Document Modal */
/* End Search Document Modal */



/*------ Seccion Claudio ------ */


/* Estilos Genericos Alineado */
.center-align {
    text-align: center;
}

.float-left {
    float: left;
}

/*Typography*/

/* Estilo H1 con Flecha*/
.title-arrow span {
    background: url('../images/svg/arrow-title.svg') no-repeat;
    background-size: 15px 15px;
    background-position-y: center;
    width: 15px;
    display: inline-block;
}

.title-arrow a {
    text-decoration: none;
}

/* Fuente Comentarios SWMeeting*/
.font-comment {
    color: #333333;
    font-size: 13px;
    font-family: OpenSans-Regular;
    word-wrap: break-word;
    word-break: break-word;
}

/* Eliminar el Margen de 70 del H3*/
h3.leftmarginh3 {
    margin-left: 0;
}

/* Eliminar el Margen de 30 del H2*/
h2.leftmarginh2 {
    margin-left: 0;
}

/* Fuente Enlace SWMeeting*/
.clickable-text {
    color: #428bca;
    text-decoration: none;
    cursor: pointer;
}

/*Texto informacion Email*/
.informationEmail {
    font-family: OpenSans-Italic;
    font-size: 10px;
    text-align: left;
    color: #3275c7;
    margin-left: 15px;
}
/*End Typography*/

/*Buttons*/

/*Botón de Comentarios, SWM, SWO*/
span.commentIcon {
    background: url('../images/commentIcon.png') no-repeat /*./images/commentIcon.png*/;
    height: 20px;
    width: 22px;
    border: none;
    display: inline-block;
    cursor: pointer;
}

button.commentIcon:hover {
    border: none;
}

/*Botón de Email*/

button.sendEmail {
    background: url('../images/svg/mail_2.svg') no-repeat;
    height: 12px;
    width: 18px;
    border: none;
    border-radius: 0;
    vertical-align: middle;
}

    button.sendEmail:hover {
        border: none;
    }

/*Botón de X , para Eliminar*/
button.buttondelete {
    background: url('../images/svg/delete.svg') no-repeat;
    width: 16px;
    height: 16px;
    border: 1px solid #a7a7a7;
    border-radius: 5px;
    background-position: center center;
    background-size: 10px 10px;
}

/*Margenes Estilos, Repeaterr*/
button.marginButtonTopRepeater {
    margin-top: 30px;
}

.notify-fund-row {
    min-height: 46px;
}

.fundButton {
    margin-top: 40px;
}

button.buttonRepeaterMarginButtom {
    margin-bottom: 20px;
}


/*Estilo Imagen Arrow, Select*/
select:not([size]) {
    background: #ffffff url(../images/svg/ArrowDown.svg) no-repeat;
    background-position: right 12px center;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0 27px 0 0;
}

select:focus:not([size]) {
    background: #162f6c url(../images/svg/ArrowUPSelect.svg) no-repeat;
    background-position: right 12px center;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #588ed1;
}


.button07-left-icon.buttonTic .button-icon {
    background: url('../images/svg/tic-icon_123A70.svg') no-repeat; /*  Fill -> 123A70 */
    background-size: 10px 10px;
    background-position-y: 4px;
}

.temaAllMemebers {
    background: url('../images/svg/teamIcon.svg') no-repeat;
    color: #000000;
    padding: 0 20px;
    text-decoration: underline !important;
    cursor: pointer;
}

    .temaAllMemebers:hover {
        text-decoration: none;
    }


/* TextGroupInput*/

.input-groupTextButton {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: table-cell;
    position: relative;
    z-index: 2;
    float: left;
    height: 34px;
}

/* ButtonGroupInput*/
.ButtonGroupInput {
    padding: 0 15px;
    min-width: 105px;
    height: 34px;
    font-family: 'OpenSans-SemiBold';
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    background: none;
    background-color: #3275c7;
    text-shadow: -2px 2px 2px #1551A0;
    border: none;
    border-radius: 0px 10px 10px 0px;
}

    .ButtonGroupInput:not([disabled]):hover {
        background-color: #22509d;
    }

    .ButtonGroupInput:not([disabled]):active {
        background-color: #162f6c;
    }

    .ButtonGroupInput[disabled] {
        background-color: #7eb5e2;
        color: #bfdbf1;
        text-shadow: none;
    }

    .ButtonGroupInput.ButtonGroupInput-small {
        font-size: 13px;
        min-width: 81px;
        height: 27px;
    }

    .ButtonGroupInput .button-icon {
        background: url('../images/svg/searchIconGrupInput.svg') no-repeat;
        background-size: 18px 18px;
        background-position-y: 0px;
        width: 18px;
        height: 18px;
        display: inline-block;
        -webkit-filter: drop-shadow(-2px 2px 2px #1551A0);
    }

    .ButtonGroupInput[disabled] .button-icon {
        background: url('../images/svg/searchIconGrupInputDisabled.svg') no-repeat;
        background-size: 18px 18px;
        background-position-y: 0px;
        width: 18px;
        height: 18px;
        display: inline-block;
        -webkit-filter: initial;
    }

.parsley-errors-list.filled ~ .input-group-btn {
    vertical-align: top;
}

.input-group > .parsley-errors-list.filled {
    display: table;
    width: 100%;
}


/* Estilo DropDown*/

.k-dropdown {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    position: relative;
    height: 30px;
    width: 100%;
    font-family: "OpenSans-Italic";
    font-size: 14px;
    color: #cccccc;
    border: 1px solid #ccdcf2;
    border-radius: 5px;
    background: #ffffff url(../images/svg/ArrowDown.svg) no-repeat;
    background-position: right 12px center;
    padding: 6px 27px 0 5px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .k-dropdown:hover {
        background-color: #eff4fb;
        cursor: pointer;
        color: black;
    }

        .k-dropdown > .k-dropdown-wrap > .k-input {
            color: #333333;
        }

        .k-dropdown > .k-dropdown-wrap.k-dropdown-item-placeholder > .k-input {
            color: #cccccc;
        }

        .k-dropdown > .k-dropdown-wrap.k-state-active > .k-input {
            color: #ffffff;
        }

        .k-dropdown > .k-dropdown-wrap.k-state-active.k-dropdown-item-placeholder > .k-input {
            color: #588ed1;
        }

    .k-dropdown.k-state-border-down {
        background: #162f6c url(../images/svg/ArrowUPSelect.svg) no-repeat;
        background-position: right 12px center;
    }

    .k-dropdown.k-state-border-up {
        background: #162f6c url(../images/svg/ArrowUPSelect.svg) no-repeat;
        background-position: right 12px center;
    }

.k-icon {
    color: transparent;
}

.k-list-container ul {
    margin-top: 5px;
    background: #ffffff;
    list-style: none;
    padding-left: 0px;
    max-height: 200px;
    overflow-y: auto;
    -webkit-box-shadow: -2px 0px 3px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -2px 0px 3px 0px rgba(0, 0, 0, 0.25);
    box-shadow: -2px 0px 3px 0px rgba(0, 0, 0, 0.25);
    margin-top: 5px;
}

    .k-list-container ul li {
        min-height: 40px;
        padding: 10px 0px 5px 12px;
        font-family: 'OpenSans-Regular';
        cursor: pointer;
    }

        .k-list-container ul li.k-state-selected {
            font-family: 'OpenSans-Bold';
        }

            .k-list-container ul li.k-state-selected.k-dropdown-item-placeholder {
                font-family: 'OpenSans-Italic';
            }

        .k-list-container ul li.k-item.k-dropdown-item-placeholder {
            color: #aaaaaa;
        }

        .k-list-container ul li.k-state-hover {
            background-color: #eff4fb;
        }


.k-dropdown > .k-dropdown-wrap {
    background-color: transparent;
    border: none;
}

.k-dropdown:hover > .k-dropdown-wrap {
    background-color: transparent;
    cursor: pointer;
}

.k-dropdown.k-state-border-down > .k-dropdown-wrap {
    background-color: transparent;
}

.k-dropdown:hover .k-state-border-down > .k-dropdown-wrap {
    background-color: transparent;
}

.k-dropdown .k-icon {
    background: none;
    vertical-align: none;
}

.k-icon.k-i-arrow-s {
    background: none;
}


.k-dropdown.k-state-border-down > .k-dropdown-wrap .k-input {
    color: #ffffff;
}

.k-dropdown.k-state-border-down > .k-dropdown-wrap.k-dropdown-item-placeholder > .k-input {
    color: #588ed1;
    font-family: 'OpenSans-Italic';
}


/*RadioButton para Table Selectable*/

.radiobutton-Selectable .radiobutton-default-icon, .radiobutton-default input[disabled]:checked ~ radiobutton-default-icon {
    height: 18px;
    width: 18px;
    border-radius: 10px;
}


.radiobutton-Selectable input:checked ~ .radiobutton-default-icon:before {
    margin-top: 2.3px;
    margin-left: 2.3px;
}

.radiobutton-Selectable input[disabled]:checked ~ .radiobutton-default-icon:before {
    margin-top: 2.3px;
    margin-left: 2.3px;
}

.radiobutton-Selectable input:checked ~ .radiobutton-default-icon:before {
    width: 9px;
    height: 9px;
    border-radius: 10px;
}

/*End Buttons*/

/*Tables*/

/*Afectará al contenedor de todas la tablas, 
dando un scroll horizontal en caso de necesitarlo*/

.dataTables_wrapper {
    overflow-x: auto;
}

.noScroll .dataTables_wrapper {
    overflow: initial !important;
}

/*Estilo fila no elegible SWM*/
table .not-elegible {
    color: rgb(153, 153, 153);
}

/*Tabla Detalles del Fondo, SWM, SWO*/
table.table-fundDetail {
    width: 100%;
}

    table.table-fundDetail tbody tr:first-child {
        border-top: 2px solid #edeff2;
    }

    table.table-fundDetail > tbody > tr > td {
        padding: 8px 10px;
    }

    table.table-fundDetail > thead > tr > th {
        padding: 8px 10px;
    }

/*Tabla Row Seleccionable, BasicData*/

.table-selectable {
}

table.table-selectable > tbody > tr:hover {
    background-color: #edeff2;
    cursor: pointer;
}

table.table-selectable > tbody > tr.checked {
    background-color: #cee4f5;
    font-family: 'OpenSans-Bold';
    color: #333333;
}

table.table-default > thead > tr > th.header-checkSelectable {
    width: 38px;
    background: url('../images/svg/tic-icon_ffffff.svg') no-repeat;
    background-size: 12px 12px;
    background-position: center center;
}


/*End Tables*/

/*Modals Fichas de Información de Miembros, TCABstract*/

div.dataMemberInfo {
    border: 1px solid #d7e3f4;
    padding: 12px 10px;
    border-radius: 5px;
    text-align: left;
    font-family: OpenSans-Regular;
    font-size: 12px;
    color: #333333;
    margin-bottom: 10px;
}

    div.dataMemberInfo > div.name {
        font-family: OpenSans-Light;
        font-size: 18px;
        margin-bottom: 5px;
    }

    div.dataMemberInfo > div.userName {
        font-family: OpenSans-Italic;
        margin-bottom: 20px;
    }

    div.dataMemberInfo > div.role {
        font-family: OpenSans-Bold;
        margin-bottom: 5px;
    }

div.modalBodyInformation > div {
    padding: 3px;
}

/*End Modals*/

/*Inputs*/

/*Margen Listado RadioButtons, EligDecision*/
.infoRadioButton {
    margin-top: 15px;
}

/*Padding para Inputs con Expandable*/
.inputExpandable {
    padding-right: 27px;
}


/*End Inputs*/

/*Collapse*/

h4 > label.buttonCollapse {
    margin-right: 10px;
}

/*Collapse*/

.expandable-triangle {
    display: flex;
    background: none;
    width: 12px;
    height: 9px;
    cursor: pointer;
}

    .expandable-triangle input {
        display: none;
    }


    .expandable-triangle .button-icon {
        background: url('../images/svg/ArrowUP.svg') no-repeat;
        background-size: 12px 9px;
        display: inline-block;
        width: 12px;
        height: 9px;
        position: relative;
        top: 0;
        left: 0;
    }


    .expandable-triangle input:checked + .button-icon {
        background: url('../images/svg/ArrowDown.svg') no-repeat;
        background-size: 12px 9px;
        display: inline-block;
        width: 12px;
        height: 9px;
        position: relative;
        top: 0;
        left: 0;
    }


/*------ David's section ------ */

/* Datepicker */

/* Comment Areas */

.font-comment {
    font-size: 12px;
}

.row-header-comment {
    font-family: OpenSans-Light;
    color: #333333;
    font-size: 12px;
}

.row-body-comment .textarea-default {
    border-color: #999999;
}

.repeater-item-comment .font-comment {
    border: solid 1px #F4F4F4;
    padding: 10px 10px;
}


/* icono information */

.information {
    font-family: OpenSans-Italic;
    font-size: 10px;
    color: #999999;
    text-align: left;
}

/* Tables */
/* Default table styles */
table.table-default > tbody > tr > td, table.table-default > tfoot > tr > td {
    padding: 8px 10px;
}

table.table-default input[type=text] {
    border: 1px solid #cbdcf2;
    color: #4c4c4c;
}

.collapsible-h3 {
    position: absolute;
    top: 25px;
}

    .collapsible-h3 + h3 {
        margin-left: 30px;
        display: inline-block;
    }

    .collapsible-h3 + ul + h3 {
        margin-left: 30px;
        display: inline-block;
    }

.dSWOButtons {
    margin-top: 20px;
}

.warning.vex-theme-default.vex .vex-close:hover {
    background-color: #ba7719;
}

.warning.vex-theme-default.vex .vex-close:active {
    background-color: #73440f;
}

.vex-theme-default.vex .vex-close:hover {
    background-color: #22509d;
}

.vex-theme-default.vex .vex-close:active {
    background-color: #162f6c;
}

/*------ End David's section ------ */

/* Single Window Decision */
.title-withdraw-type {
    margin-right: 15px;
}

/* End Single Window Decision */


/* FP Information Styles */
.header-filterFund {
    border: solid 1px #c7c7c7;
    padding: 15px;
    background-color: #f6f6f6;
    margin-left: 5px;
    margin-right: 0px;
}

.header-fundInform {
    border-bottom: solid 1px #05162a;
    border-top: solid 1px #05162a;
    padding: 40px;
}

.list-items-fundInform {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 13px;
    color: #000000;
}
/* end FP Information Styles */

.teamAllMemebers {
    background: url('../images/svg/teamIcon.svg') no-repeat;
    color: #000000;
    padding: 0 20px;
    text-decoration: underline !important;
    cursor: pointer;
}

    .teamAllMemebers:hover {
        text-decoration: none;
    }


    .dropdown-noteligible-font {
    font-size: 13px !important;
}

.readMode {
    border: none !important;
    background-color: white !important;
}

.dropPagination {
    display: inline;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    width: 100% !important;
}

.showDataEdit .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    color: #aaa !important;
    font-style: italic;
    font-family: 'OpenSans-Regular';
}

.dropdown .btn-default .valueText {
    font-family: 'OpenSans-Regular' !important;
}

.dropdown-menu > li > a {
    font-family: 'OpenSans-Regular' !important;
}


/* Fund Information */

#tabBasicInformation > div.grouping-section > div.col-md-3.lineGrayRight,
#tabBasicInformation > div.grouping-section > div.col-md-3
{
    padding-left : 10px;
}

.LabelsGroup .lgCont input {
    font-family: 'OpenSans-Regular' !important;
    font-size: 14px !important;
    color: #000 !important;
}


#Delegates > div[data-repeater-buttons] > div.row > div.col-md-12 > div > button {
    width: 95%;
    }

.modalWarning {
    background: #e19c23 !important;
    border-radius: 10px 10px 0 0;
}

.btn-warning {
    -ms-border-radius: 10px !important;
    background: #e19c23;
    border: none;
    border-radius: 10px !important;
    color: #ffffff;
    cursor: pointer;
    padding: 0 15px;
    height: 35px;
    min-width: 105px;    
    font-family: 'OpenSans-SemiBold';
    font-size: 14px;
    text-shadow: -2px 2px 2px #BC7700;
}
    
.btn-link {
    padding: 12px 10px !important;
    font-family: 'OpenSans-Regular' !important;
    background: none;
    color: #3b73c3;
}

.amount-alignment
{
    text-align : right;
}