.verticalAlignTop {
    vertical-align: top !important;
}
.verticalAlignMiddle {
    vertical-align: middle !important;
}

.mb7 {
    margin-bottom: 7px !important;
}

.mb19 {
    margin-bottom: 19px !important;
}

.mb1 {
    margin-bottom: 1px !important;
}

.h40{
    height: 40px !important;
}