.lgTitOverride {font-family: 'OpenSans-Regular' !important; margin-bottom: 5px;}
.mt2 { margin-top: 2px !important;}
.mt4 { margin-top: 4px !important;}

.tree,
.tree .ul {
  margin:0 0 0 20px;
  padding:0;
  list-style:none;
  color:#369;
  position:relative;
  width:100%;
}

.tree .ul { width:100%;} 

.tree:before,
.tree .ul:before {
  content:"";
  display:block;
  width:0;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  border-left:1px solid;
}

.tree .li {
    margin: 0;
    padding: 0 20px 0 40px;
    font-weight: bold;
    position: relative;
}

.tree .li:before {
  content:"";
  display:block;
  width:40px; 
  height:0;
  border-top:1px solid;
  margin-top:-1px; 
  position:absolute;
  top:1em; /* (line-height/2) */
  left:0;
}

.tree .li:last-child:before {
  background:white; 
  height:auto;
  top:4em; 
  bottom:0;
}

.commenthead{
    font-weight: bold;
    font-size: 15px;
    line-height: 2em;
    font-family: 'OpenSans-Light';
}

.message{
    background-color: white;
    font-weight: normal;
    padding: 15px;
    width: 100%;
    border: darkgrey 1px solid;
    font-size: 14px;
    font-family: 'OpenSans-Light';
    padding-right: 0px;
}

.message_main{   
    font-weight: normal;
    width: 100%;
    border: white 1px solid;
    padding: 1px;
}

.message_all{
    padding: 15px;
    background-color: aliceblue;
    width: 100%;
    font-size: 14px;
    font-family: 'OpenSans-Light';
}    

span#title_comment {
    font-size: 20px;
    margin-bottom:10px;
}
span#info_username {
    margin-top: 5px;
}

span#info_onbehalf {
    margin-top: 5px;
    padding-right:10px;
    padding-left:10px;
}

span#info_created {
    margin-top: 5px;
    font-size: 14px;
    font-family: 'OpenSans-Light';
}

#info_answer {
    padding: 0 0 10px;
    margin: -13px 67px 0 0;
    font-size: 14px;
    font-family: 'OpenSans-Light';
}

span#topic_comment {
    margin-left: 20px;
    line-height: 32px;
}

.showbutton{
    text-decoration: underline;
    color: blue;
    text-align: right;
}

.show{
   margin: 0 !important;
   line-height: 18px;
}

.showlink{
    line-height: 18px;
    margin-top: -22px;
    float: right;
    text-align: right;
    background-color:aliceblue;
    position:relative;
}


.showless{
    line-height: 18px;
    height:75px;
    overflow: hidden;
    margin: 0 !important;
}

.expanded{
    margin-top: -19px;
    float: right;
    text-align: right;
    z-index:100;
    background-color:aliceblue;
    position:relative;
}

.showlinkTree{
    float: right;
    text-align: right;
    position:relative;
    cursor: pointer;
    top: 45px;
}
.showlinkTree.bottom {top: auto;}

.textMainMessage { background-color: aliceblue; }

.buttonNewMessage { top: -5px; position: relative; }
.tree .buttons { font-weight: normal; }