@using IDB.Presentation.MVC4.Helpers
@using IDB.Architecture.Language
@using IDB.MVCControls.General.Helpers

@model IDB.MW.Application.MissionsModule.ViewModels.Workflows.MissionsWorkflowViewModels

@Confluence.LabelMainTitle(Localization.GetText("OP.MS.Missions"), dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "lblWFHeaderMissionCode" } })
<div class="row row-body-40">
    <div class="col-md-12 pt20">
        <div class="pull-left">@Confluence.LabelTitleGroup(text:Model.missionCode, htmlClass:"bold")</div>
        <div class="pull-right">
            @Html.Partial("Partials/Controls/MissionWorkflowButtons")
        </div>
    </div>
</div>

