@model List<IDB.MW.Domain.Models.Architecture.Clauses.UserCommentModel>

<div id="CommentsPanel" class="verticalMargin40 font08em">
@foreach (var comment in Model) {
    <div class="padding10 leftAlign">
        <div class="verticalMargin10 w100">
            <div class="verticalMargin10 inline-block">@comment.Modified.Value.ToString("dd MMM yyyy")</div>
            <div class="verticalMargin10 inline-block bold marginLeft3">@comment.ModifiedBy</div>
        </div>
        <div class="verticalMargin10 w100">
            <div class="padding10">
                @comment.Text
            </div>
        </div>
    </div>
}
</div>

