
@using System.Linq.Dynamic
@using IDB.MW.Domain.Models.Supervision.SupervisionPlan
@using IDB.MW.Domain.Values
@model List<IDB.MW.Domain.Models.Supervision.SupervisionPlan.CriticalProductModel>

<script>
    $(document).ready(function () {
        if ($("#hdnIsApprovedPlan").val() == "True") {
            $("#budgetInformationContainer").show();
        }
    });
</script>

<div id="ProductsPanel">
   @if (ViewBag.ModalityType == SpGlobalValues.SpDetailed)
   {
    <div id="Detailed">
        @Html.Partial("~/Areas/SupervisionPlan/Views/SupervisionPlanLegacy/Partial/DetailedPartial.cshtml", Model)
    </div>
   }
   else
   {
    <div id="Simplified">
        @Html.Partial("~/Areas/SupervisionPlan/Views/SupervisionPlanLegacy/Partial/SimplifiedPartial.cshtml", Model)
    </div>
   }

</div>
