@using IDB.MW.Application.IndicatorsModuleNew.ViewModels.LinkPredefinedIndicator

@model List<IndicatorsListTestViewModel>

<ul>
    @foreach(var item in Model)
    {
        <li>
            @item.Name
            @if(item.SubIndicators != null)
            {
                <ul>
                    @foreach(var item2 in item.SubIndicators)
                    {
                        <li>
                            @item2
                        </li>
                    }
                </ul>
            }
        </li>
    }
</ul>