@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.Architecture.Language


    <div data-id="headerButtons" class="float-right">
            @Confluence.ButtonBlue(
            Localization.GetText("MrBlue.CustomReport.ClearAll"),
            action: "clearAll")
            @Confluence.ButtonBlue(
            Localization.GetText("MrBlue.CustomReport.ExportExcel"),
            action: "exportExcel")
 </div>

