@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.Architecture.Language

@if (ViewBag.ReadRole ?? false)
{
    <div data-id="headerButtons" class="float-right">
            @Confluence.ButtonBlue(
         Localization.GetText("MrBlue.CustomReport.ExportExcel"),
            action: "download")
    </div>
}
