@using IDB.MW.Application.DEMModule.ViewModels

@model DemViewModel

@if (Model != null)
{
    <div class="footer">
        <div class="row">
            <div class="col-md-12" id="footerSection">
                @if (Model.IsEditable || Model.IsEditableInWF)
                {
                    @Html.Partial("Partials/PButtons")
                }
            </div>
        </div>
    </div>
}