@using IDB.MW.Application.DEMModule.ViewModels

@model DemViewModel

@if (Model != null)
{
<div class="header">
    <div class="row">
        <div class="col-md-8">
            @Confluence.LabelMainTitle(
                Localization.GetText("R6.DEM.Main.Title"), 
                dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "lblDemTitle" } })
        </div>

        <div class="col-md-4" id="buttonsSection">
            @if (Model.IsEditable || Model.IsEditableInWF)
            {
                @Html.Partial("Partials/PButtons")
            }
        </div>
    </div>
</div>
}


