@model IDB.MW.Application.DEMModule.ViewModels.DemViewModel

<div class="header">
    <div class="row">
        <div class="col-md-8">
            @Confluence.LabelMainTitle(
                Localization.GetText("R6.DEM.Main.Title"),
                dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "lblDemTitle" } })
        </div>
    </div>
    <br />
    <div class="informationplace" id="messageSection">
        <div class="information-text ml5">@Confluence.Label(Model.ErrorMessageDEM)</div>
    </div>
</div>