@using IDB.MW.Application.DEMModule.ViewModels

@model DemViewModel

@if (Model != null )
{
    var tabsList = new Dictionary<string, string>();
    <span class="marginFix"></span>
    tabsList.Add("tabSummaryContent", Localization.GetText("R6.DEM.Tabs.Summary"));

    if (Model.Required)
    {
        tabsList.Add("tabChecklist", Localization.GetText("PCR.Checklist.Title"));
    }

    @Confluence.Tabs(tabsList)

    <div id="containerTabs" class="tab-content tabContainer">

        <div class="tab-pane" id="tabSummaryContent">
            @if (Model != null)
            {
                @Html.Partial("Partials/Tabs/PTabsSummary", Model)
            }
        </div>

        @if (Model != null && Model.Required)
        {
            <div class="tab-pane" id="tabChecklist">
                @Html.Partial("Partials/Tabs/PTabsCheckList", Model)
            </div>
        }
    </div>
}