@using IDB.MW.Business.SupervisionPlan.ViewModels.SupervisionPlan

@model SummaryModel

@{
    var isEditPlan = (Model.SupervisionPlan.Year >= DateTime.Today.Year);
}
<div class="pull-right mb10">
    @if (ViewBag.EditMode != null && ((bool)ViewBag.EditMode))
    {
        @Confluence.ButtonLink(Localization.GetText("SP.Summary.Cancel"), action: "cancel")
        if (Html.HasPermission("Supervision Plan Write"))
        {
            @Confluence.ButtonOrange(Localization.GetText("SP.Summary.Save"), action: "save")
        }

        if (Model.SupervisionPlan.ActualVersionIsInDraftOrModified)
        {
            if (Html.HasPermission("Supervision Plan Request"))
            {
                @Confluence.ButtonBlue(Localization.GetText("SP.Summary.SaveRequest"), action: "saverequest")
            }
        }
    }
    else
    {
        if (Model.SupervisionPlan.ActualVersionEditable && isEditPlan && ViewBag.isInTask == false)
        {
            if (Html.HasPermission("Supervision Plan Write") )
            {
                @Confluence.ButtonBlue(Localization.GetText("SP.Summary.Edit"), action: "edit")
            }
        }
    }
</div>