@model IDB.MW.Application.Contacts.ViewModels.OperationContactsRowViewModel
<div class="pull-right">
    @Ajax.ActionLink(Localization.GetText("Cancel"), "ReadControlPanelContact"
                         , "ControlPanelContacts"
                         , new { executorContactId = Model.ExecutorContactId, userName = Model.UserName}
                         , new AjaxOptions
                         {
                             OnSuccess = "showLoaderOptional()",
                             OnComplete = "hideLoaderOptional()",
                             HttpMethod = "GET",
                             UpdateTargetId = "PageContent",
                             InsertionMode = InsertionMode.Replace,
                             OnFailure = "AjaxOnFailure"
                         },
                         new { @class = "buttonLink" }
                         )
    @Confluence.ButtonOrange(Localization.GetText("CM.Button.Save"), "saveEdit", "saveEdit")
</div>