@{
    var tempId = DateTime.Now.ToString("yyyyMMddHHmmssffff");
}

@model IDB.MW.Application.Contacts.ViewModels.OperationContactsViewModel

<tr data-id="@tempId">
    <td class="w250 pl0">@Confluence.InputDropDownAsync(null, "contactOperation", Url.Action("GetOperationsList", "ControlPanelContacts", new { area = "Contacts" }), placeholder: "(Operation Number)")</td>
    <td class="w300">
        @Confluence.InputDropDown(null, "eaRoles", Model.EaRole.Select(x => new SelectListItem
   {
       Text = x.Text,
       Value = x.Value
   })
                    , orderAsc: false, htmlClass: "w100percent", placeholder: "(External User Role)", required: false)
    </td>
    <td class="w60" align="center">@Confluence.ButtonTrash(null, "removeRole", "removeRow", false)</td>
</tr>
