@using IDB.Presentation.MVC4.Helpers
@using IDB.Architecture.Language
@using IDB.MVCControls.General.Helpers

@model IDB.MW.Application.TCM.ViewModels.K2Workflow.WorkflowViewModels

@Confluence.LabelMainTitle(Localization.GetText("TCM.TR.TaskAndRequestFoundCoordinator.SubmitTitle"))
<div class="row row-body-40">
    <div class="col-md-12 pt20">       
        <div class="pull-right">
            @Html.Partial("Partials/WorkflowButtons")
        </div>
    </div>
</div>
