@using IDB.Architecture.Language
@model IDB.Presentation.MVC4.Models.Mainframe.MainframeViewModel


<a href="#" class="popoverLink" data-toggle="popover" data-trigger="click">...</a>

<div id="popOverRelatedOperations" class="popover-content hide">
    <div class="popOverRelatedOperations">
        @Html.Raw(string.Join(",", Model
                            .OperationHeader.RelatedOperationsData
                            .Select(o => Html.ActionLink(o.OperationNumber, "Operation", new { operationNumber = o.OperationNumber }, new { title = o.RelationshipTypeName }).ToString())
                            .ToArray()))

    </div>
</div>