@using IDB.Architecture.Language
@model IDB.Presentation.MVC4.Models.Mainframe.MainframeViewModel


<a class="taskIcon popoverLink"
   id="headerTaskLink"
   data-toggle="popover"
   data-trigger="focus"
   href="#">
</a>
<div id="modalTasks" class="popover-content hide">
    <div class="userPreferences">
        <div class="col-md-12">
            <h3 class="marginTB5 margin5">@Localization.GetText("Tasks")</h3>
        </div>
        <div id="taskDivPopover" class="popoverBody">

        </div>
        <div class="col-md-12 seeAllTask ml10 mb10">

            @Html.ActionLink(Localization.GetText("See All"),
                                                    "Index",
                                                    new
                                                    {
                                                        controller = "Mainframe",
                                                        menuItemId = Model.NavigationMenu.GetMenuSubItemByTitle("My Tasks", "Workspace").MenuItemId
                                                    }
                                                   )
            (<span class='seeAllTaskCount'>0</span>)
        </div>
    </div>
</div>

<div class="headerCounterTask CounterBlue">
    <a id="globalUserTaskCounter">-</a>
</div>
