@using IDB.Architecture.Language
@model IDB.Presentation.MVC4.Models.Mainframe.MainframeViewModel

<a class="taskIcon popoverLink"
   id="headerAlarmLink"
   data-toggle="popover"
   data-trigger="focus"
   href="#"></a>

<div class="popover-content hide">
    <div class="userPreferences">
        <div class="col-md-12">
            <h3 class="marginTB5 margin5">@Localization.GetText("Notifications")</h3>
        </div>
        <div id="notificationsDivPopover" class="popoverBody">

        </div>
        <div class="col-md-12 seeAllTask ml10 mb10">
            @Html.ActionLink(Localization.GetText("See All"), "Index",
                                                    new
                                                    {
                                                        menuItemId = Model.NavigationMenu.GetMenuSubItemByTitle("My Notifications", "Workspace").MenuItemId
                                                    })
            (<span class='seeAllNotificationsCount'>0</span>)
        </div>
    </div>
</div>
<div id="alertNotifications" class="headerCounterAlarm CounterBlue"><a id="globalUserNotificationsCounter">-</a></div>