.tabs-reformulation {
    margin-top: 20px;
}

.tabs-reformulation button {
    min-width: 150px;
}

.tabs-reformulation .active {
    background: #4f7cc6 !important;
    color: #FFF;
}

.tabs-reformulation .is-current {
    background: #193a6e;
    color: #FFF;
}

.reformulation-group-content .tab-pane {
    display: none;
}

.reformulation-group-content .tab-pane.active {
    display: block !important;
}