.dateSelect .k-widget .k-picker-wrap .k-select {
    width: 30%;
    position: absolute;
    right: 0;
    top: 0;
    text-indent: -1000000px;
    cursor: pointer;
    padding: 0.3125em 5%;
}

.dateSelect {
    font-family: sans-serif;
    max-width: 9.6875em;
    font-size: 0.85em;
    float: left;
    position: relative;
    background-color: transparent;
    margin: 0 0 0 0;
    border-radius: 0.25em;
}

/*.filter .cajaGeneralFilter2 {
            margin: 0 0 2em;
        }*/

ul.optionList .k-dropdown-wrap {
    position: relative;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

.filter {
    width: 96.5%;
}

    .filter .cajaGeneralFilter2 {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 2em;
        margin-left: 1em;
    }

.mod_contenido_central .btn-primary, .mod_contenido_central .btn-primary_2 {
    width: 10em;
    margin: 1.6625em 0 2.3125em 0;
    float: right;
}

table {
    width: 100%;
}

td {
    padding-right: 20px;
}
