@using IDB.Architecture.Extensions;
@using IDB.MW.Application.Core.ViewModels;
@using IDB.Presentation.MVC4.Helpers

@model IList<ListItemViewModel>

@{ 
    var firstActivity = Model.Where(f => f.Value == default(int).ToString()).FirstOrDefault();
}

<p style="font-size: 12px">@Localization.GetText("RISK.SELECT.ACTIVITY")</p> 
<br />
@Confluence.InputDropDown(firstActivity != null ? firstActivity.Value : string.Empty, "ddlActivities", Html.BuildSelectItemList(Model, m => m.Text, m => m.Value), width: "100%", required: false, orderAsc:false, showEmptyOption: false, placeholder: null)