@using IDB.Architecture.Extensions;
@using IDB.MW.Application.Core.ViewModels;
@using IDB.Presentation.MVC4.Helpers

<p style="font-size: 12px">@Localization.GetText("RISK.MATERIALIZED.DESCRIPTION.ISSUE")</p>
<br />
@Confluence.InputText(null, id: "descriptionMaterialized", name: "descriptionMaterialized", width: "100%", required: false, maxLength : 2000)