@using IDB.MW.Application.ESW_CIPModule.ViewModels;

@model CoordinationMDBsViewModel

@ESWCIP.TitleWithNotRequiredInputText(Localization.GetText("R6.Proposal.Pcoordination.Title"), Model.SummaryOfCollaborationText, "inputTextSummaryOfCollaboration")

<div data-id="ModalRegion">
    <div id="showBiggerText" class="hide modalBody"></div>
</div>