@using IDB.MW.Application.ESW_CIPModule.ViewModels;

@model RisksViewModel

@ESWCIP.TitleWithInputText(Localization.GetText("R6.Proposal.Prisks.Title"), Model.ImplementationRisks, "inputTextRisksContent", Localization.GetText("R6.Proposal.TabObjective.MouseOverRisks"))

<div data-id="ModalRegion">
   <div id="showBiggerText" class="hide modalBody"></div>
</div>
