<script id="predefinedIndicator-template" type="text/x-handlebars-template">
    {{#each this}}
    <tr>                                                   
        <td>
            {{IndicatorNumber}}
        </td>      
        <td> 
            {{NameEn}}
        </td>
        <td> 
            {{PredefinedIndicatorTypes.0.PredefinedIndicatorTypes.NameEn}}
        </td>
        <td> 
            {{UnitOfMeasureEn}}
        </td>          
        <td> 
            <a href='{{DetailUri}}?predefinedIndicatorId={{PredefinedIndicatorId}}'>@Localization.GetText("Detail")</a>
        </td>
    </tr>
    {{/each}}
</script>