@model IDB.MW.Application.SiscorModule.ViewModels.SiscorResponseInformationViewModel

    @Confluence.Navigation(
Confluence.LabelMainTitle(Localization.GetText("SC.SC.Response.MainTitle")),
prevNavigation: Url.Action("Index", "CorrespondenceView", new { area = "Siscor" }))

@*@Confluence.LabelTitleGroup(text: Localization.GetText("SC.SC.Response.RelatedCorrespondence"))*@
@*<span class="pull-right">
    @Html.Partial("Partials/Controls/SiscorResponseHeaderButtons", Model)
    </span>*@
