@{
    Layout = null;
}

<!-- INICIO DE FILTROS -->
<div class="filter" style="display:none; margin-top: 7px;" id="divFilters">
    <div class="cajaGeneralFilter2">
        <form class="filter2Content" id="frmFilterMyOperations" name="fil">
            <div class="contenidoFilter5">   
                
                <input type="text" style="width:95%;" id="filterValue" placeholder="@Localization.GetText("Operation Name, Operation Number, Loan Number")" class="textoGrandeFilter2 no-margin dataTitle"/>
                <input class="btn-primary ftr marginRight3" style="margin-top:17px;" type="button" value="@Localization.GetText("Clear")" id="clearBtn">
                <input class="btn-primary ftr marginRight3" style="margin-top:17px;" type="button" value="@Localization.GetText("Filter")" id="btnFilterGrid">
                                 
               
            </div>
        </form>
    </div>
</div><!-- FIN DE LOS FILTROS -->