@using IDB.MW.Infrastructure.Configuration
@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.MW.Infrastructure.SecurityService.Enums
@using System.Web.Script.Serialization
@using Newtonsoft.Json
@using IDB.Architecture.Language
@using IDB.MW.Application.MrBlueModule.ViewModels.Star

@model String

<div class="page">
    <div class="row">
        <div class="col-md-12">
            <h4>@Html.Raw(Model)</h4>
        </div>
    </div>
</div>

@section scripts{
    @ModuleScripts.KeyWordsToolkit(Url)
}