#CND-form #CND-expectedResults,
#CND-form #CND-detail {
    width: 500px;
    display: inline-block;
}
 
#CND-form .modal-body {
    font-size: 14px;
}

#CND-form label {
    padding-right: 10px;
    font-weight: bold;
    line-height: 30px
}

#CND-form label.mandatory:after {
    color: #F00;
    content: ' *'
}

#CND-form #CND-expectedResults {
    margin-top: 10px;
}

#CND-form .user-item img {
    width: 20px;
}

.select2-container .user-item img,
.select2-results .user-item img {
    height: 20px;
    margin-right: 10px;
}

#CND-form  #CND-total-planned-ammount {
    display: block;
    font-weight: bold;
    font-family: mono;
    font-size: 16px
}

#CND-form  #CND-total-planned-ammount:before {
    content: '$ '
}

#CND-form #CND-beneficiaries-block {
    margin: 10px 0;
    border: solid 1px #AAA;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

#CND-form #CND-beneficiaries-block.empty {
    padding: 10px;
    color: #999;
    background: #EEE;
}

#CND-beneficiaries-block .item {
    padding: 5px 10px;
    border-bottom: solid 1px #CCC;
    border-radius: 5px;
}

#CND-beneficiaries-block .item:last-child {
    border-bottom: 0;
}

#CND-beneficiaries-block .item:nth-child(even) {
    background: #EEE;
}

#CND-beneficiaries-block .item .text {
    font-size: 12px;
    line-height: 25px;
}

#CND-beneficiaries-block .item .delete-icon {
    font-size: 8px;
    font-weight: bold;
    padding: 4px;
}

#CND-modal .modal-body {
    font-size: 14px !important
}

#CND-modal.bs-modal.modal {
  text-align: center;
  padding: 0!important;
}

#CND-modal.bs-modal.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; 
}

#CND-modal.bs-modal.modal .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  width: 70%;
}

#CND-item-modal.bs-modal.modal .modal-header,
#CND-modal.bs-modal.modal .modal-header {
    background: rgb(36,118,203);
    border-bottom: solid 1px #666;
}

#CND-modal.bs-modal.modal.modal-warning .modal-header,
#CND-modal.bs-modal.modal.modal-warning .modal-header .close {
    background-color: #e19c23;
}

#CND-item-modal.bs-modal.modal .modal-header .close,
#CND-modal.bs-modal.modal .modal-header .close {
    color: #FFF; 
    opacity: 0.8;
    border: solid 1px #222;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: rgb(66,139,202);
}

#CND-item-modal.bs-modal.modal .modal-header .modal-title,
#CND-modal.bs-modal.modal .modal-header .modal-title {
    color: #FFF;
    font-weight: bold;
}

#CND-modal.bs-modal.modal .modal-dialog .modal-body {
    margin: 20px;
}

#CND-modal.bs-modal.modal .modal-footer {
    border-top: 0 !important;
}

#CND-modal.bs-modal.modal .buttonBlue.buttonYellow {
    background: rgb(225,156,35) !important;
}

#CND-form .form-group {
    margin-bottom: 10px !important;
}

#CND-item-form .buttons,
#CND-form .buttons {
    text-align: right;
    border-top: solid 1px #CCC;
    margin-top: 20px;
    padding-top: 20px;
}

#CND-item-form .buttons button,
#CND-form .buttons button {
    margin-left: 20px;
    padding: 5px 30px;
}

.ui-datepicker-unselectable {
    color: #CCC;
}

#CND-item-form select {
    width: auto;
    display: inline !important;
    margin: 0 0 0 0;
    min-width: 400px;
}

#support-providers-container {
    margin: 30px 0 0 0;
}

#support-providers-container .title{
    margin: 30px 0 20px 0;
}

#support-providers-container .title{
    font-weight: bold;
    text-decoration: underline;
    font-size: 18px;
}


#support-providers-container .approval-option{
    padding: 3px 10px;
}

#support-providers-container .approval-option label {
    padding: 0 0 0 10px;
    vertical-align: middle;
}

#support-providers-container .approval-option * {
    
    vertical-align: middle;
}

#support-providers-container .approval-option label:hover {
    text-decoration: underline;
    cursor: pointer;
}

#CND-modal .modal-dialog {
    margin-top: 0 !important;
    vertical-align: top !important;
    
}

#CND-item-modal .modal-body {
    font-size: 14px;
}

#CND-modal button.close,
#CND-item-modal button.close {
    position: relative;
    top: -6px;
    left: 10px;
}

#CND-item-modal ul#activity-group-block-options li,
#CND-item-modal ul#activity-group-block-options {
    list-style: none;
}

#CND-item-modal ul#activity-group-block-options {
    padding-left: 10px;
}

#CND-item-modal ul#activity-group-block-options li {
    padding: 5px 0;
}

#CND-item-modal ul#activity-group-block-options li input {
    vertical-align: middle;
}

#CND-item-modal ul#activity-group-block-options li label {
    font-size: 13px;
    margin-left: 10px;
    vertical-align: middle;
}

#CND-item-modal ul#activity-group-block-options li label:hover {
    cursor: pointer;
    text-decoration: underline;
}

#CND-item-modal label.mandatory:after {
    color: #F00;
    content: ' *'
}


.cnd-detail, 
.cnd-expectedResults {
     width: 180px !important;
    float: lefT !important;
    vertical-align: middle;
}

.cnd-expectedResults {
    
    line-height: 70px !important;
}


label.cnd-amount {
    float: left;
}

div.cnd-amount {
    float: right;
    width: 250px; 
    text-align: right;
    margin-top: -5px;
    margin-bottom: 10px;
    margin-right: 15px;
}

div.cnd-amount input {
    width: 250px !important; 
    
}

.form-group {
    clear: both;
}

#CND-beneficiaries-block {
   
}

#CND-beneficiaries-block .empty-block {
    padding: 5px;
}

#CND-beneficiaries-table {
    width: 100%;
    padding: 10px;
}

#CND-beneficiaries-table th {
    background: #EEE;
}

#CND-beneficiaries-table th,
#CND-beneficiaries-table td {
    border: solid 1px #CCC;
    padding: 5px;
    font-size: 12px;
}

#CND-beneficiaries-table .delete-icon {
    font-size: 12px;
}

select#CND-item-mbf {
    min-width: 250px;
}