<div class="col-md-12 contentWarningPopup" id="crf-warning-container" style="display:none">
    <spam class="ico_warning iconPopup"></spam>
    <spam style=" vertical-align: middle; ">
        Please note that when selecting a CRF indicator for contribution the unit of measure of the indicator will be replaced with the unit of measure of the predefined indicator. When selecting a CRF indicator for alignment no substitution will take place.
    </spam>
</div>