@model IDB.MW.Application.AdministrationModule.ViewModels.VisualOutputsMapping.VisualOutputsMappingViewModel

<div class="tabContent">
    <div class="col-md-12 mb20">
        @Html.Partial("Partials/VisualOutputsLoadData/VisualOutputsLoadDataUploadFile", Model)
    </div>

    <div class="col-md-12 mb20 loadTableResultsContainer">
        @Html.Partial("Partials/VisualOutputsLoadData/VisualOutputsLoadDataResultsTable", Model.VisualOutputsLoadResultsViewModel)
    </div>
</div>