@model IDB.MW.Application.AdministrationModule.ViewModels.VisualOutputsMapping.DownloadFilterResultsViewModel

<div class="tabContent">
    <div class="col-md-12 mb20">
        @Html.Partial("Partials/VisualOutputsDownloadDataFilter/VisualOutputDownloadDataFilter")
    </div>

    <div class="col-md-12 mb20 downloadTableResultsContainer">
        @Html.Partial(
            "Partials/VisualOutputsDownloadDataFilter/VisualOutputDownloadDataFilterResultsTable", 
            Model)
    </div>
</div>


