<div class="col-md-12 mt20" id="commentBox">
    <div class="col-md-12">
        <div class="inputComment">
            <div class="labels col-md-12 mb0">
                <label class="w90">
                    @Confluence.LabelBold(Localization.GetText("SP.Administration.AdministrationTable.Justification"))
                </label>
                <label class="w90">
                    @Confluence.Label(IDBContext.Current.UserName)
                </label>
                <label class="col-md-12">
                    @Confluence.LabelGetDate(DateTime.Now)
                </label>
                <label class="mr0">
                    @Confluence.ButtonTrash(null, null, "removeComment", htmlClass: "mt0")
                </label>
            </div>
            <div class="col-md-12">
                <textarea name="JustificationEdit" class="inputTextarea" style="overflow-y:auto" onblur="collapseJustification(this);"></textarea>
            </div>
        </div>
    </div>
</div>