@using IDB.MW.Business.SupervisionPlan.DTOs
@model List<SPJustifications>

@if (Model != null)
{
    foreach (var comment in Model.OrderBy(x=>x.JustificationDate))
    {
        
            <div class="col-md-12" id="commentBoxRead">
                <div class="col-md-12">
                    <div class="inputComment">
                        <div class="labels col-md-12 mb10">
                            <label class="w90">
                                @Confluence.LabelBold(Localization.GetText("SP.Administration.AdministrationTable.Justification"))
                            </label>
                            <label class="w90">
                                @Confluence.Label(comment.UserName)
                            </label>
                            <label class="col-md-12">
                                @Confluence.Label(string.Format("{0:dd MMM yyyy HH:mm:ss}", comment.JustificationDate))
                            </label>
                        </div>
                        <div class="col-md-12 bold">
                            @Confluence.InputTextArea(comment.JustificationText, "JustificationRead", isReadOnly: true, disabled: true, htmlClass: "bold")
                        </div>
                    </div>
                </div>
            </div>
        
    }
}