    
@Confluence.Label("Please select the role you want to enter with to the Supervision Plans Management module:")
<div id="ContainerRole" class=" text-left mt20" data-parsley-validate="data-parsley-validate"
     data-parsley-excluded="[disabled]">
    @Confluence.InputDropDown("", "spUserRole", ViewBag.ListRoles, width: "50%")
</div>
