.tooltipster-mrblue {
	border-radius: 5px;
	border-bottom: 3px;
	background: #333333;
	color: #ffffff;
}
.tooltipster-mrblue .tooltipster-content {
	font-family: 'OpenSans-Regular';
	font-size: 11px;
	line-height: 16px;
	padding:  10px;
}

.tooltipster-mrblue .tooltipster-content .title{
   font-family: 'OpenSans-Regular';
   font-weight:bold;
   font-size: 11px;
}