<!-- Activity component -->
<div class="verticalMargin40 activityComponent new">
    <div class="leftMargin40 relative borderLeft paddingLeft20 marginBottom2">
        <div class="verticalMargin20 paddingTop10px">
            <div class="componentNumber grayColor absolute">1</div>
            <div class="minMaxButtonContainer absolute">
                <input class="minMaxButton cursorPointer plus" type="button" value="" />
            </div>
            <div class="relative h50px">
                <div class="absolute w80">
                    <select class="kendoDropDown">
                        <option value="" selected>Vivamus vulputate sagittis magna</option>
                        <option value="">Option 2</option>
                        <option value="">Option 3</option>
                        <option value="">Option 4</option>
                    </select>
                </div>
                <div class="absRight absolute">
                    <input type="button" value="Delete" class="deleteTextButton verticalAlignTop absolute absRight">
                </div>
            </div>
            <div class="verticalMargin40">
                <div class="inline-block w20 leftAlign">
                    <div class="disabledColor">Planned</div>
                    <div class="boldFont verticalMargin10"><input class="grayBorder w40" type="text" value="" /></div>
                </div>
                <div class="inline-block w20 leftAlign">
                    <div class="disabledColor">Actual</div>
                    <div class="boldFont verticalMargin10"><input class="grayBorder w40" type="text" value="" /></div>
                </div>
            </div>
        </div>
        <h3 class="font1-5em verticalMargin10">Documents</h3>
        <!-- inicio tabla -->
        <div class='marginBottom2'>
            <table class="grid w100">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Date</th>
                        <th>IDB Doc number</th>
                        <th>Content</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>MGARCIA</td>
                        <td>
                            <input type="text" placeholder="DD Mmm YY" class="kendoDatePicker padding10">
                        </td>
                        <td><a href="#">123456</a></td>
                        <td><textarea class="h50px"></textarea></td>
                        <td>
                            <input type="button" value="" class="operationButton editIcon">
                            <input type="button" class="noBorder operationButton documentSupportDownloadIcon cursorPointer" />
                            <input type="button" value="" class="operationButton removeIcon">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="centerAlign addOneWrapper centerContent verticalMargin20 w40">
                <div class="addOneContainer w100 h100">
                    <input type="button" value="New" class="noBorder h100 addOne cursorPointer w100" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End activity component -->