<tr class="new">
    <td>USERNAME</td>
    <td>
        <input type="text" placeholder="DD Mmm YY" class="kendoDatePicker padding10">
    </td>
    <td><a href="#">DOC NUMBER</a></td>
    <td><textarea class="h50px"></textarea></td>
    <td>
        <input type="button" value="" class="operationButton editIcon">
        <input type="button" class="noBorder operationButton documentSupportDownloadIcon cursorPointer" />
        <input type="button" value="" class="operationButton removeIcon">
    </td>
</tr>