<div class="row new">
    <div class="inline-block w65 boldFont"><textarea></textarea></div>
    <div class="inline-block w10 boldFont marginLeft3">
        <select class="kendoDropDown">
            <option value="" selected>Q1</option>
            <option value="">Q2</option>
            <option value="">Q3</option>
            <option value="">Q4</option>
        </select>
    </div>
    <div class="inline-block w10 boldFont">
        <select class="kendoDropDown">
            <option value="" selected>Yes</option>
            <option value="">No</option>
        </select>
    </div>
    <div class="inline-block">
        <input type="button" value="Delete" class="deleteTextButton verticalAlignTop">
    </div>
</div>