<div class="padding20 popUpBody">
    <div class="marginBottom2">
        <div>
             @Localization.GetText("Please save the changes before load other content.")
        </div>
        <div class="rightAlign absolute right1 verticalPadding10 w60">
            <input type="button" class="button blueButton" id="ConfirmSaveWarning" value=" @Localization.GetText("OK")"  onclick="javascript:idbg.lockUi(null, true);"/>
        </div>
    </div>
</div>