<script type="text/javascript"> 
    var planId;
    $(document).ready(function () {
        $("#CancelDelete").click(function () {
            var modal = $(".dinamicModal").data("kendoWindow");
            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $("body").find(".ui-widget-overlay").remove();
            $(".ui-widget-overlay").remove();
            $(".k-window").remove();
            modal.close();
        });

        $("#ConfirmDelete").click(function () {
            event.preventDefault();

            var planIdPrimerCiclo = $("#plan_id").val();

            if (planIdPrimerCiclo != null && planIdPrimerCiclo != "undefined") {
               planId = $("#plan_id").val();
            }
            var route = $('.ac-DeletePlan').attr("data-route");
            var year = $("#main-form").find("#Year").attr("value");
            var opertationNumber = $("#main-form").find("#OperationNumber").attr("value");
            route += "?planVersionId=" + planId + "&year=" + year + "&operationNumber=" + opertationNumber;
            location.href = route;
            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $("body").find(".ui-widget-overlay").remove();
            $(".ui-widget-overlay").remove();
            $(".k-window").remove();
            idbg.lockUi(null, true);
            deletemodal__()
        });

    });
     
</script>
<div class="padding20 popUpBody">
    <input type="hidden" id="plan_id" value="@ViewBag.planVersionId" />
    <div class="marginBottom2">
        <div>
             @Localization.GetText("This action cannot be undone, are you sure you wish to continue?")
        </div>
        <div class="rightAlign absolute right1 verticalPadding10 w60">
            <input type="button" class="button blueButton" id="CancelDelete" value="@Localization.GetText("Cancel")" />
            <input type="button" class="button blueButton" id="ConfirmDelete" value="@Localization.GetText("Delete")" />
        </div>
    </div>
</div>