@using IDB.Architecture.Language

<div class="hide modalBody" id="deteleRow">
    <div class="row modalContent">
        <div class="col-md-12 delete-modal-text">
           @Confluence.Label(Localization.GetText("MRBlue.Modal.DeleteRow.Message"))
        </div>
    </div>
</div>