@font-face
{
    font-family: "OpenSans-Regular";
    src: url("open-sans/OpenSans-Regular.eot"); 
    src: url('open-sans/OpenSans-Regular.eot?#OpenSans-Regular') format('embedded-opentype'), url('open-sans/OpenSans-Regular.woff') format('woff'), url('open-sans/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: "OpenSans-Bold";
    src: url("open-sans/OpenSans-Bold.eot"); 
    src: url('open-sans/OpenSans-Bold.eot?#OpenSans-Bold') format('embedded-opentype'), url('open-sans/OpenSans-Bold.woff') format('woff'), url('open-sans/OpenSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: "OpenSans-Semibold";
    src: url("open-sans/OpenSans-Semibold.eot"); 
    src: url('open-sans/OpenSans-Semibold.eot?#OpenSans-Semibold') format('embedded-opentype'), url('open-sans/OpenSans-Semibold.woff') format('woff'), url('open-sans/OpenSans-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: "OpenSans-Italic";
    src: url("open-sans/OpenSans-Italic.eot"); 
    src: url('open-sans/OpenSans-Italic.eot?#OpenSans-Italic') format('embedded-opentype'), url('open-sans/OpenSans-Italic.woff') format('woff'), url('open-sans/OpenSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: "OpenSans-Light";
    src: url("open-sans/OpenSans-Light.eot"); 
    src: url('open-sans/OpenSans-Light.eot?#OpenSans-Light') format('embedded-opentype'), url('open-sans/OpenSans-Light.woff') format('woff'), url('open-sans/OpenSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: "OpenSans-BoldItalic";
    src: url("open-sans/OpenSans-BoldItalic.eot"); 
    src: url('open-sans/OpenSans-Light.eot?#OpenSans-BoldItalic') format('embedded-opentype'), url('open-sans/OpenSans-BoldItalic.woff') format('woff'), url('open-sans/OpenSans-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: "entypo";
    src: url("entypo/entypo.eot"); 
    src: url('entypo/entypo.eot?#entypo') format('embedded-opentype'), url('entypo/entypo.woff') format('woff'), url('entypo/entypo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: "entypo-social";
    src: url("entypo/entypo-social.eot"); 
    src: url('entypo/entypo-social.eot?#entypo-social') format('embedded-opentype'), url('entypo/entypo-social.woff') format('woff'), url('entypo/entypo-social.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: "awesome";
    src: url("awesome/awesome.eot"); 
    src: url('awesome/awesome.eot?#awesome') format('embedded-opentype'), url('awesome/awesome.woff') format('woff'), url('awesome/awesome.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
