@import url("awesome/font-awesome.css");
body { background-color: #fff; }



/*common*/
.clear { clear: left; }
.textDeactivated { color: grey !important; }

/*kendo-commons*/
.k-icon { display: inline-block; width: 17px; height: 17px; overflow: hidden; background-repeat: no-repeat; font-size: 0; line-height: 0; text-align: center; font: normal normal normal 18px/1 awesome; }
.k-warning:before { content: "\f06a"; }
.k-loading:before { content: "\f013"; }
.k-i-calendar:before { content: "\f073"; }
.fa-spin { margin: 0 !important; padding: 0 !important; }

/*kendo-calendar*/
.k-picker-wrap .k-select { right: 5px; top: 5px; position: absolute; z-index: 10; color: #818181; }
.kendo-calendar .k-icon { cursor: pointer; }
.kendo-calendar .k-picker-wrap { border: none; }

/*kendo overlay*/
.k-overlay { position: fixed; top: 0; left: 0; z-index: 10001; width: 100%; height: 100%; background-color: #000; filter: alpha(opacity=50); opacity: .5; }
#kendo-dialog { border-radius: 0px 0px 5px 5px; width: 100%; float: left; background: #FFFFFF; }
#kendo-dialog-container { display: inline-block; position: absolute; z-index: 10001; border-style: solid; border-width: 1px; padding-top: 2em; top: auto; left: auto; margin: 0; box-shadow: 0 0 19px 4px #000; border: none; border-radius: 10px; background-color: #FFF; }
.kendo-dialog-message { padding: 22px 20px; }
.kendo-dialog-buttons { line-height: 60px; text-align: right; padding: 0 22px; }
    .kendo-dialog-buttons input { margin-left: 11px; }
.k-state-focused { border: none; }
.k-widget.k-window .k-window-titlebar.k-header { float: left; width: 100%; background: #2476CB; border-radius: 10px 10px 0 0; padding: 1.1em 0 1em 0; }
    .k-widget.k-window .k-window-titlebar.k-header .k-window-actions .k-window-action.k-link { float: left; margin-right: 1.25em; height: 30px; width: 30px; background: none; }
    .k-widget.k-window .k-window-titlebar.k-header .k-window-actions { float: right; }
    .k-widget.k-window .k-window-titlebar.k-header .k-icon.k-i-close { float: left; color: transparent; border-radius: 28px; width: 28px; height: 28px; }
        .k-widget.k-window .k-window-titlebar.k-header .k-icon.k-i-close:before { font-family: "awesome"; content: "\f00d"; color: #fff; font-size: 15px; border: 1px solid #fff; border-radius: 20px; padding: 4px; width: 16px; height: 16px; display: block; }
.k-window-content:focus {outline:0 !important; }
.k-window-titlebar .k-window-title { color: #fff; font-family: 'OpenSans-Light'; font-size: 24px; margin-left: 20px; }
.k-content-frame { width: 100%; height: 100%; }
.warning.k-window .k-header { background: #E19C23 !important; }
.warning.k-window .k-icon.k-i-close:before { border-color: #CA8401 !important; }
.warning.k-window .k-window-title:before {font-family: "awesome"; content: "\f071"; color: #fff; font-size: 20px; margin-right:10px }

/*upload controls*/
.k-upload-button { position: relative; min-width: 7.167em; overflow: hidden!important; direction: ltr; }
    .k-upload-button input[type=file] { position: absolute; top: 0; right: 0; z-index: 1; font: 200px monospace!important; filter: alpha(opacity=0); opacity: 0; margin: 0; padding: 0; cursor: pointer; }
.k-upload-files { margin-top: 15px; }
    .k-upload-files .k-filename { font-size: 12px; }
    .k-upload-files .k-upload-action { background: url(images/delete-gray-small.png) left transparent; width: 18px; height: 18px; border: none; margin: 4px 10px 0 0; float: left; }
    .k-upload-files > li { background-color: #f6f6f6; padding: 3px; }

/*overlay filter*/
.idb-popup-filters > div { margin: 10px 0; }
.edit-form.idb-popup-filters input[type=text] { padding: 5px; }

/*upload controls*/
.k-upload-button { position: relative; min-width: 7.167em; overflow: hidden!important; direction: ltr; }
    .k-upload-button input[type=file] { position: absolute; top: 0; right: 0; z-index: 1; font: 200px monospace!important; filter: alpha(opacity=0); opacity: 0; margin: 0; padding: 0; cursor: pointer; }
.k-upload-files { margin-top: 15px; float: left; width: 100%; }
    .k-upload-files .k-filename { font-size: 12px; margin-left: 15px; line-height: 32px; }
    .k-upload-files .k-upload-action { background-color: transparent; width: 18px; height: 18px; border: none; margin: 4px 10px 0 0; float: left; }
    .k-upload-files > li { background-color: #f6f6f6; padding: 3px; margin-bottom: 2px; width: 100%; float: left; box-sizing: border-box; }
    .k-upload-files .k-file-error { background-color: #FCEFEA; }
.k-upload .k-dropzone { background-color: #FAFAFA; padding: 25px 15px; float: left; width: 100%; box-sizing: border-box; border: 1px solid #fff; }
    .k-upload .k-dropzone .k-button { float: left; margin-right: 15px; }
    .k-upload .k-dropzone em { line-height: 35px; color: #999; font-family: 'OpenSans-Italic'; font-size: 14px; }
.k-upload .k-dropzone-hovered { background-color: #EFFDF4; border: 1px solid #C2DBCC; }
.k-upload .k-upload-status { float: right; color: #999; line-height: 35px; }
.k-upload-status .k-icon { padding-left: 15px; margin-right: 15px; }
.k-file > .k-icon { display: none; }
.k-file .k-retry { display: none; }
.k-file-success { background-color: #ddffd0 !important; }
.k-upload-status { margin-right: 15px; }


/*loading window*/
.loading-container { position: absolute; }
.loading-overlay { background-color: #fff; opacity: 0.6; width: 100%; height: 100%; }
.loading-icon { background-image: url('images/convergence-loading-3.gif'); position: absolute; width: 32px; height: 32px; }
.loading-window { border: 1px solid #CCC; position: absolute; padding: 5px 0px 5px 47px; font-size: 12px; background: url('images/convergence-loading-3.gif') no-repeat #fff 5px; -webkit-box-shadow: 0px 0px 11px 1px rgba(213,213,213,1); -moz-box-shadow: 0px 0px 11px 1px rgba(213,213,213,1); box-shadow: 0px 0px 11px 1px rgba(213,213,213,1); height: 2.5%; }
.loading-icon { width: 0px; height: 0px; background: url('images/convergence-loading-3.gif') no-repeat #fff 5px; }

/*content-page*/
.idb-content-page { padding: 20px; height: auto; position: relative; }
    .idb-content-page h1 { font-size: 32px; font-family: "OpenSans-Light"; color: #333333; margin-bottom: 20px; margin-top: 20px; font-weight: normal; }
        .idb-content-page h1 a:link, .idb-content-page h1 a:visited { font-family: "opensans-light"; }
    .idb-content-page h2 { font-family: "OpenSans-Light"; color: #333333; font-size: 24px; }
    .idb-content-page .content-block { margin: 16px 0 16px 0; float: left; width: 100%; }
        .idb-content-page .content-block .title { font-size: 12px; }
        .idb-content-page .content-block .content { font-size: 14px; font-family: "OpenSans-Bold"; }
        .idb-content-page .content-block .center { margin: 0 auto; }
    .idb-content-page .content-separator { height: 15px; display: block; width: 100%; float: left; }
    .idb-content-page .content-list { width: 100%; }
        .idb-content-page .content-list li { float: left; min-height: 45px; padding: 0 15px 0 0; }
    .idb-content-page .one.content-list li { width: 100%; box-sizing: border-box; }
    .idb-content-page .two.content-list li { width: 50%; box-sizing: border-box; }
    .idb-content-page .three.content-list li { width: 33%; box-sizing: border-box; }
    .idb-content-page .four.content-list li { width: 25%; box-sizing: border-box; }
    .idb-content-page .six.content-list li { width: 16%; box-sizing: border-box; }
    .idb-content-page > li .title { font-size: 12px; }
    .idb-content-page > li .content { font-size: 13px; }
.double-height.content-list > li { min-height: 65px; }
.idb-content-page .right { float: right; }
.idb-content-page .left { float: left; }
    .idb-content-page .left h1 { margin-top: -7px; }

.idb-content-page h1 .back-arrow { background-image: url('images/left-arrow.png'); background-repeat: no-repeat; background-position: 50%; width: 20px; display: inline-block; height: 20px; }

/*content-page.table*/
.idb-content-page .grid { border-spacing: 0px; width: 100%; }
    .idb-content-page .grid input[type=text] { background-color: #fff; width: 50px; text-align: center; border: solid 1px #ccc; padding: 0px; border-radius: 3px; }
    .idb-content-page .grid th, .idb-content-page .grid td { font-family: "OpenSans-Regular", Arial; font-size: 12px; padding: 10px 10px; line-height: 16px; border: 1px solid #ccc; }
    .idb-content-page .grid th { min-height: 20px; }
        .idb-content-page .grid th:hover { background-color: #22509D; }
    .idb-content-page .grid thead tr { background-color: #003E76; color: #fff; }
    .idb-content-page .grid thead th { border-right: none; font-family: "OpenSans-Bold"; vertical-align: bottom; text-align: left; border-left: 1px solid #051D3C; border-bottom: none; border-top: none; }
    .idb-content-page .grid .border-botom { border-bottom: 1px solid #0E2A52; }
    .idb-content-page .grid tbody td { border: solid 1px #fff; border-width: 1px 1px 0 0; }
    .idb-content-page .grid tbody tr { background-color: #F7F7F7; }
        .idb-content-page .grid tbody tr:hover { background-color: #E6E7E8; }
            .idb-content-page .grid tbody tr:hover .drag-hover { background-image: url(images/dragIcon.png); border: solid 1px #ccc; border-radius: 3px; }
    .idb-content-page .grid .fa { font-size: 18px; margin-right: 4px; }
    .idb-content-page .style2.grid thead tr{background-color:#787878 }
        .idb-content-page .style2.grid thead tr th {border-left: 1px solid #5F5F5F; }
        .idb-content-page .style2.grid th:hover { background-color: #949494; }
.idb-content-page .level-container { width: 100%; }
.idb-content-page .grid .minimal-line-height { line-height: 13px; padding: 5px 10px; }
.idb-content-page .td-middle.grid td { vertical-align: middle; }
.idb-content-page .drag-element { cursor: pointer; color: #6B6B6B; width: 15px; height: 71px; display: block; }
/*buttons*/
.button { padding: 0 1.5em; line-height: 35px; border-radius: 10px; display: inline-block; background-color: #3275c7; color: #fff; text-shadow: 2px 2px #1551a0; font-size: 14px; cursor: pointer; text-align: center; }
    .button:hover { background-color: #22509d; }
    .button:active { background-color: #162f6c; }
    .button:focus { outline: 0; }
.gray.button { border: solid 1px #AAA; background-color: #CCC; color: #000; }
.mini.button { display: inline-block; padding: 4px; line-height: 7px; border-radius: 3px; margin: 3px; text-shadow: none; font-size: 12px; }
.white.button { background-color: #fff; border: 1px solid #CBDCF2; text-shadow: none; color: #000; }
    .white.button:hover { background-color: #eff4fb; }
.yellow.button { text-shadow: 0 2px 0 #bc7700; background-color: #e19c23; }
    .yellow.button:hover { background-color: #ba7719; }
.plus-blue.button { background: url(images/plus-blue.png) no-repeat 10px 50%; }
.icon-map.button { background: url(images/map-icon.png) no-repeat 10px 50%; padding-left: 33px; }
.icon-edit.button { background: url(images/edit-icon.png) no-repeat 10px 50%; padding-left: 33px; }
.disabled.button { background-color: #F0F0F0; color: #A3A3A3; text-shadow: none; cursor: default; }
.small.button { line-height: 23px; font-size: 12px; padding: 0 10px; }
.loading-uniform { width:16px; height:16px; background-image:url(kendo/uniform/loading_small.gif); display:inline-block; margin:0 5px;}
/*kendo-dropdown*/
.kendo-dropdown { display: inline-block; outline: none; font-size: 14px; }
    .kendo-dropdown .k-dropdown-wrap { -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; padding: 2px; display: inline-block; cursor: pointer; width: 100%; background: #ffffff; border: 1px solid #ccc; }
    .kendo-dropdown .k-select { float: right; }
    .kendo-dropdown .k-icon { vertical-align: initial !important; }
    .kendo-dropdown .k-input { margin-left: 4px; }
.k-popup.k-list-container { margin-top: 2px; }

.k-icon.k-i-arrow-s { background: url('../Images/icons/comboRow.png') no-repeat scroll center; color: transparent; }
.k-list .k-state-focused, .k-list .k-state-selected { font-family: "OpenSans-Bold"; }
.k-popup .k-list .k-item { line-height: 2.5em; min-height: 2.5em; padding: 0 0 0 0.75em; cursor: pointer; }
.k-popup .k-list .k-item { color: #656668; margin: 0; padding: 0 5px; }
.k-popup .k-list .k-state-selected { color: #FFFFFF; border: none; background: #0977D0; }
.k-popup.k-list-container, .k-picker-wrap, .k-calendar { background: #ffffff; border: 1px solid #ccc; }
.k-animation-container { overflow: auto; }
.k-list-container { overflow: auto; width: auto; font-size: 14px; }

/*custom controls*/
.minMaxButton { background: url('../Images/icons/maxMinButton.png') no-repeat scroll -40px 0 transparent; border: none; height: 20px; width: 20px; cursor: pointer; }
    .minMaxButton.plus { background-position: 0 0; }

/*form*/
.edit-form .label { font-size: 12px; }
.edit-form .form-item { margin-bottom: 10px; }
    .edit-form .form-item .content { font-size: 13px; }
.edit-form input[type=text], .edit-form textarea { padding: 5px; border: solid 1px #CCC; border-radius: 3px; box-sizing: border-box; font: 14px OpenSans-regular; color: #333; outline: none; }
    .edit-form input[type=text]:focus, .edit-form textarea:focus { border: 1px solid #0f7bd1; }
    .edit-form input[type=text].invalid { border-color: #EA4F35; color:#EA4F35 }
    textarea.invalid, .invalid-input { border: solid 1px #EA4F35 !important;color:#EA4F35 }
.edit-form label { font-family: "OpenSans-Bold"; font-size: 12px; }

/*tabs*/
.tabs { float: left; width: 100%; outline: none; }
    .tabs > .content-item { display: none; }
    .tabs .links { float: left; font-size: 13px; line-height: 19px; }
        .tabs .links li { margin: 2px; color: #0074DD; cursor: pointer; }
            .tabs .links li a { }
    .tabs h2 { float: left; }
    .tabs .content-item-collapsible { margin-top: 15px; padding: 10px; border: 1px solid #CCC; border-radius: 5px; }

.vertical.tabs .links .k-state-active { background: url('images/right-arrow.png') 110% 3px no-repeat; }
.vertical.tabs .links { border-right: 2px solid #2276CC; margin: 0 10px 0 0; }
    .vertical.tabs .links li { padding: 2px 23px 2px 0px; }
.horizontal.tabs .links { float: left; width: 100%; border-bottom: 1px solid #ccc; }
    .horizontal.tabs .links > li { float: left; text-align: center; margin-bottom: -1px; }
        .horizontal.tabs .links > li a { padding: 10px 20px; display: inline-block; font-size: 14px; color: #0074dd; }
    .horizontal.tabs .links .k-state-active { float: left; border-bottom: 2px solid #2276CC; }
        .horizontal.tabs .links .k-state-active a { color: #333; font-family: "OpenSans-Bold"; }
.horizontal.tabs > .content-item { padding: 15px; float: left; width: 100%; box-sizing: border-box; }
.stronglinks.tabs .links > li a { padding: 10px 45px; }

/*checkbox*/
.idb-checkbox { background: url('images/checkbox.png'); width: 20px; height: 20px; display: block; cursor: pointer; }
.checked.idb-checkbox { background-position-y: -20px; }
.element-disabled.idb-checkbox { cursor: auto; opacity: 0.4; }
.checked-disabled.idb-checkbox { cursor: auto; opacity: 0.4; background-position-y: -40px; }

/*filter-box*/
.filter-box { background-color: #f6f6f6; padding: 16px 0; width: 100%; margin-top: 15px; }
    .filter-box .filter-input { width: 95%; margin-left: 15px; }
        .filter-box .filter-input input { padding: 4px; font-size: 14px; }
    .filter-box #filter-items { margin: 15px 0 0 15px; }
        .filter-box #filter-items div { font-size: 12px; padding: 4px; float: left; border: 1px solid #ccc; border-radius: 4px; background-color: #fff; cursor: pointer; margin: 2px; }
            .filter-box #filter-items div span { background: url(images/delete-small.png); display: inline-block; width: 18px; height: 17px; margin-bottom: -3px; margin-left: 7px; }
.k-list li { font-size: 14px; }
    .k-list li:hover { background-color: #F8F8F8; }

/*custom controls*/
.infobox { display: inline-block; font-family: 'Times New Roman'; width: 11px; font-size: 10px; background-color: #005FA7; text-align: center; text-shadow: none; border: solid 1px; border-radius: 3px; cursor: pointer; margin-left: 5px; }
.map-icon { background: url('images/map-icon.png') 0 no-repeat; padding-left: 20px; }
.image-loader { background: url('images/loading.gif') 50% 50% no-repeat #fff; border: solid 1px #ccc; position: relative; }
    .image-loader .image-type { background-color: #FFFFFF; color: #000; text-align: center; font-size: 10px; line-height: 11px; bottom: 0px; position: absolute; padding: 2px; opacity: 0.7; }
.not-found.image-loader { background-image: url('images/warning.png'); }


.collapse-control { border: solid 1px #EDEFF2; border-radius: 4px; float: left; font-size: 12px; padding: 4px; cursor: pointer; }
    .collapse-control .slider { float: left; background-color: #123B70; width: 40px; height: 19px; border-radius: 15px; }
        .collapse-control .slider span { background-color: #fff; border-radius: 20px; width: 12px; height: 12px; display: block; float: left; margin: 3px 0 0 4px; }
    .collapse-control .text { float: left; margin: 0 5px 0 5px; }
.collapsed.collapse-control .slider span { margin-left: 25px; }
.collapsed.collapse-control .slider { background-color: #85B200; }

/*validation controls*/
#validation-errors { font-family: arial; font-size: 14px; }
    #validation-errors ul { background-color: #FCEFEA; color: #D63301; border: 1px solid #FF7C54; float: left; width: 100%; padding: 10px 5px; box-sizing: border-box; }
    #validation-errors li { list-style-type: disc; margin-left: 15px; }



/*additional validators*/
.validator-list h4 { font-family: "OpenSans-Light"; color: #333; font-size: 1.5em; margin-bottom: 15px; }
.validator-list .btn-primary { float: none; width: auto; margin: 0; }
.validator-list .center { text-align: center; }
.validator-list-add { text-align: right; margin: 10px 0; background-color: #FAFAFA; padding: 5px; border: solid 1px #E0DFDF; }

/*visulization module*/
.visualization-table table { border-spacing: 1px; width: 100%; }
    .visualization-table table td { background-color: #fff; line-height: 28px; padding: 10px 5px !important; text-align: center; }
.visualization-components .statement-header { margin-top: 15px; font-family: "OpenSans-Regular" !important; }
.level-container { position: relative; margin-top: 4px; }
    .level-container .first-column { width: 40px; font-size: 14px; vertical-align: top; margin-top: 15px; }
        .level-container .first-column span { width: 40px; display: block; text-align: center; line-height: 37px; }
    .level-container .minMaxButton { margin: 0 auto; margin-top: 10px; position: relative; }
    .level-container .expansion-line { border: none; background-color: #DCDCDC; width: 2px; height: 100%; margin: 0 auto; }
    .level-container .child-expand-icon { position: absolute; background-color: #DCDCDC; width: 45px; left: -21px; top: 20px; z-index: 0; height: 2px; }
.visualization-components .minMaxButton { display: none; }
.visualization-components .expansion-line { display: none; }
.visualization-wf-entity { cursor: pointer; min-width: 85px; }
    .visualization-wf-entity .idb-checkbox { background-color: #fff; }
    .visualization-wf-entity span { float: left; margin-right: 5px; }
.submit-tl.visualization-wf-entity { float: left; float: left; border: solid 1px #4DA545; padding: 2px; border-radius: 4px; background-color: #B8FAB3; }
.submit-tm.visualization-wf-entity { float: left; float: left; border: solid 1px #9B9B9B; padding: 2px; border-radius: 4px; background-color: #E2E2E2; }
.submit-rejected.visualization-wf-entity { float: left; float: left; border: solid 1px #9B9B9B; padding: 2px; border-radius: 4px; background-color: #E2E2E2; }

/*user-comments*/
.idb-content-page .comments.grid th { border: none; color: #000; text-shadow: none; }
.idb-content-page .comments.grid .onhovershow { display: none; }
.idb-content-page .comments.grid th:hover { background-color: transparent; }
.idb-content-page .comments.grid tr:hover { background-color: #F7F7F7; }
    .idb-content-page .comments.grid tr:hover .onhoverline { border-left: 2px solid #2086E1; }
    .idb-content-page .comments.grid tr:hover .onhovershow { display: block; }
.idb-content-page .comments.grid .onhoverline { border-left: 2px solid transparent; }
.idb-content-page .comments.grid .comment-info { border-bottom: 1px solid #E0E0E0; margin-bottom: 5px; padding: 3px; }
.idb-content-page .comments.grid .spacer { height: 10px; }
.idb-content-page .comments.grid td { border-radius: 5px; background-color: #fff; border: solid 1px #EDEDED; }
.idb-content-page .user-comment-text { font-size: 110%; }
.idb-content-page .comments.grid textarea { height: 18px; padding: 4px; width: 500px; font-family: "OpenSans-Regular", Arial; }


/*contextual help*/
.contextual-help { color: #999; font-size: 14px; font-family: 'OpenSans-Italic'; }

/*media-list*/
.media-list li { float: left; background-color: #f6f6f6; border: 1px solid #eeeeee; width: 140px; margin: 10px 17px; border-radius: 5px; padding: 10px 15px; box-sizing: border-box; min-height: 148px; cursor: pointer; position: relative; }
    .media-list li:hover { border-color: #0079d7; }
    .media-list li .title { font-family: "OpenSans-Bold"; font-size: 12px; margin-bottom: 4px; }
    .media-list li .info { font-family: "OpenSans-Regular"; font-size: 10px; }
    .media-list li .name { width: 110px; overflow: hidden; font-size: 14px; }
.media-list .selected { background-color: #0079d7; color: #fff; }
    .media-list .selected:before { content: "\f058"; font: normal normal normal 22px/1 awesome; position: absolute; right: -10px; top: -5px; color: #85B200; background-color: #fff; -moz-border-radius: 15px; -webkit-border-radius: 15px; height: 20px; }
.media-list .image-loader { position: relative; }
    .media-list .image-loader:hover:before { content: "\f08e"; font: normal normal normal 16px/1 awesome; color: #fff; position: absolute; right: 5px; bottom: 5px; text-shadow: 0px 0px 3px #000; }

/*jquery ui tooltip*/
.ui-tooltip { padding: 3px; position: absolute; top: 100px; z-index: 9999; max-width: 300px; background-color: #FCE1DC; color:#333333 !important; font-size: 12px; border-radius:5px; padding:10px;font-family: "OpenSans-Regular" }
body .ui-tooltip { border-width: 2px; }

.grid.visualization-table tr.vo-deactivated {
    color: #999999;
    background-color: #DBDBDB !important;
}