/* ****************************************************************************/
/* Proyecto: BID                                                              */
/* Titulo: datepicker.css                                                        */
/* Desripcion: Estilos para los modulos, cajas y plantillas de contenidos     */
/* ****************************************************************************/
/* COLORES PROYECTO BID*/
/* BOTON SEARCH */
/* BOTONES PRIMARIOS */
/* TH DE TABLAS */
/*--------------------------------------------*/
.inputSearch { margin: 0 1em 0 0; float: left; font-size: 0.75em; background-color: #FFF; overflow: hidden; min-width: 18.75em; min-height: 2.5em; }
.inputSearch .search { color: #aaaaaa; margin: 0 -0.5em 0 0; border: 1px solid #CCC; border-radius: 4px 0 0 4px; padding: 0.6em 2% 0.6em; border-radius: 0.25em; width: 61%; font-family: "OpenSans-Italic"; float: left; }
.inputSearch .search:hover { border-color: #0f7bd1; }
.inputSearch .search:active, .inputSearch .search:focus { font-family: "OpenSans-Regular"; border-color: #0f7bd1; color: #333333; }
.inputSearch .searchButton { cursor: pointer; float: right; width: 29%; border: 1px solid #CCC; border-radius: 0 4px 4px 0; min-height: 1.75em; text-align: center; font-weight: bold; display: block; background-color: #0977CF; font-style: normal; color: #FFF; padding: 0.6em 2% 0.2em; float: left; text-shadow: 0.0625em 0.0625em 1px #333333; }

.dateSelect { font-family: sans-serif; max-width: 9.6875em; font-size: 0.85em; float: left; position: relative; background-color: transparent; margin: 0 1em 0 0; border-radius: 0.25em; }
.dateSelect .k-widget { display: block; float: left; width: 100%; border-radius: 4px; }
.dateSelect .k-widget .k-picker-wrap { width: 100%; float: left; width: 100%; }
.dateSelect .k-widget .k-picker-wrap input.datepicker { float: left; font-style: italic; line-height: 1.25em; font-size: 0.875em; padding: 0.85em 3%; width: 93% !important; border-radius: 4px; }
.dateSelect .k-widget .k-picker-wrap .k-select { width: 13%; position: absolute; right: 0; top: 0; text-indent: -1000000px; cursor: pointer; padding: 0.3125em 5%; }
.dateSelect .k-widget .k-picker-wrap .k-select .k-icon.k-i-calendar { display: block; height: 2em; width: auto; }
.dateSelect .k-widget .k-picker-wrap.k-state-default { border: 1px solid #ccc; border-radius: 4px; }
.dateSelect .k-widget .k-picker-wrap.k-state-default input.datepicker { color: #CCC; }
.dateSelect .k-widget .k-picker-wrap.k-state-default .k-select .k-icon.k-i-calendar { background: url(../Images/modulos/datepicker/icon_datepicker_grey.png) no-repeat scroll center transparent; }
.dateSelect .k-widget .k-picker-wrap.k-state-default.k-state-focused { border: 1px solid #CDDCF2; }
.dateSelect .k-widget .k-picker-wrap.k-state-default.k-state-focused input.datepicker { color: #333; font-style: normal; }
.dateSelect .k-widget .k-picker-wrap.k-state-default.k-state-border-down input.datepicker { color: #FFF; font-style: normal; }
.dateSelect .k-widget .k-picker-wrap.k-state-default.k-state-border-up input.datepicker { color: #FFF; font-style: normal; }
.dateSelect .k-widget .k-picker-wrap.k-state-active .k-select .k-icon.k-i-calendar { background: url(../Images/modulos/datepicker/icon_datepicker_white.png) no-repeat scroll center transparent; }
.dateSelect .k-widget .k-picker-wrap.k-state-active .datepicker { background-color: #162F6C; }
.dateSelect .k-widget .k-picker-wrap.k-state-active.k-state-focused { border: 1px solid #CDDCF2; }
.dateSelect .k-widget .k-picker-wrap.k-state-active.k-state-focused input.datepicker { font-style: normal; }
.dateSelect .k-widget .k-picker-wrap.k-state-active.k-state-focused .k-select .k-icon.k-i-calendar { background: url(../Images/modulos/datepicker/icon_datepicker_white.png) no-repeat scroll center transparent; }
.dateSelect .k-widget .k-picker-wrap.k-state-focused { border: 0.0625em solid #cddcf2; }
.dateSelect .k-widget .k-picker-wrap.k-state-focused input.datepicker { font-style: normal; color: #588ED1; }
.dateSelect .k-widget .k-picker-wrap.k-state-focused .k-select .k-icon.k-i-calendar { background: url(../Images/modulos/datepicker/icon_datepicker_grey.png) no-repeat scroll center transparent; }
.dateSelect .k-widget .k-picker-wrap.k-state-hover .k-select .k-icon.k-i-calendar { background: url(../Images/modulos/datepicker/icon_datepicker_grey.png) no-repeat scroll center transparent; }
.dateSelect .k-widget .k-picker-wrap.k-state-hover input.datepicker { background-color: #EFF4FB; color: #588ED1; }
.dateSelect .k-widget .k-picker-wrap.k-state-hover.k-state-focused { border: 1px solid #CDDCF2; }
.dateSelect .k-widget .k-picker-wrap.k-state-hover.k-state-focused input.datepicker { color: #333; font-style: normal; }
.dateSelect .k-widget .k-picker-wrap.k-state-hover.k-state-focused .k-select .k-icon.k-i-calendar { background: url(../Images/modulos/datepicker/icon_datepicker_grey.png) no-repeat scroll center transparent; }
.dateSelect .k-widget:hover { background-color: #EFF4FB; }
.dateSelect .k-widget:hover .k-picker-wrap { border: 1px solid #CDDCF2; }
.dateSelect .k-widget:hover .datepicker { background-color: #EFF4FB; }
.dateSelect .k-widget.k-state-border-down { background-color: #162F6C; }
.dateSelect .k-widget.k-state-border-down:hover { background-color: #EFF4FB; }
.dateSelect .k-widget.k-state-border-down:hover .datepicker { background-color: #EFF4FB; }
.dateSelect .k-header { color: #333333; font-weight: bold; position: relative; }

.k-animation-container { float: left; font-size: 0.85em; }
.k-animation-container .k-calendar-container { left: 0em; top: -0.1875em; background-color: #FFF; float: left; padding: 0 0.625em 0.625em 0.625em; border: 1px solid #ccc; box-shadow: 0.125em 0.125em 0.3125em #999999; }
.k-animation-container .k-calendar-container.k-state-border-up { border-top: 0; border-radius: 0 0.25em 0.25em 0.25em; }
.k-animation-container .k-calendar-container .k-calendar { font-family: sans-serif; }
.k-animation-container .k-calendar-container .k-calendar .k-header { text-align: center; padding: 0.625em 0; /*font-weigth: bold;*/ }
.k-animation-container .k-calendar-container .k-calendar .k-header .k-link { /*font-weigth: bold;*/ }
.k-animation-container .k-calendar-container .k-calendar .k-header thead { font-family: Arial; /*font-weigth: bold;*/ }
.k-animation-container .k-calendar-container .k-calendar .k-header thead tr { /*font-weigth: bold;*/ }
.k-animation-container .k-calendar-container .k-calendar .k-header thead tr th { /*font-weigth: bold;*/ }
.k-animation-container .k-calendar-container .k-calendar .k-footer { text-align: center; padding: 0.625em 0; }
.k-animation-container .k-calendar-container .k-calendar .k-content thead { /*font-weigth: bold;*/ }
.k-animation-container .k-calendar-container .k-calendar .k-content thead tr { /*font-weigth: bold;*/ vertical-align: middle; }
.k-animation-container .k-calendar-container .k-calendar .k-content thead tr th { text-align: center; width: 1.875em; height: 1.875em; margin: 0; /*font-weigth: bold;*/ }
.k-animation-container .k-calendar-container .k-calendar .k-content tr { vertical-align: middle; /*font-weigth: bold;*/ }
.k-animation-container .k-calendar-container .k-calendar .k-content tr td a.k-link { text-align: center; width: 1.875em; height: 1.875em; float: left; border-radius: 0.25em; }
.k-animation-container .k-calendar-container .k-calendar .k-content tr td.k-other-month .k-link { color: #ccc; }
.k-animation-container .k-calendar-container .k-calendar .k-content tr td.k-state-selected .k-link { background-color: #162F6C; color: #FFF; }
.k-animation-container .k-calendar-container .k-calendar .k-content tr td.k-state-focused .k-link { background-color: #162F6C; color: #FFF; border-radius: 0.25em; }
.k-animation-container .k-calendar-container .k-calendar .k-content .k-link { vertical-align: middle; display: block; line-height: 1.875em; color: #333; }
.k-animation-container .k-calendar-container .k-calendar .k-content .k-link:hover { background-color: #162F6C; color: #FFF; }
.k-animation-container .k-calendar-container .k-calendar .k-content.k-meta-view .k-link { padding: 0.75em; text-align: center; }
.k-animation-container .k-calendar-container .k-calendar .k-link { color: #333; }
