/**
 * Operation Visualization Module
 * Disbursement Projections Module
 * Mon, 18 Octuber 2013
 * eSmart Group
 */

/*
 * Helper Classes
 */

.h50px{
    height: 50px;
}

.h22px{
    height: 22px;
}

.w708px{
    width: 708px;
}

.w28{
    width: 28%;
}
.w29{
    width: 29%;
}

.w45-2{
    width: 45.2%;
}

.w64{
    width: 64%;
}

.w65{
    width: 65%;
}

.w70-8{
    width: 70.8%;
}

.w52{
    width: 52%;
}

.w800px{
    width: 800px;
}

.h100px{
    height: 100px;
}

.h70px{
    height: 70px;
}

.w12{
    width: 12%;
}

.topMargin16px{
    margin-top: 16px;
}

.topMargin5px{
    margin-top: 5px;
}

input{
    padding: 3px 5px;
    outline: none;
}
.everisWidth{
    width: 99%;
}

.block{
    display: block;
}

.inline-block{
    display: inline-block;
    vertical-align: top;
}

.inline-block-fix{
    display: inline-block;
    margin: 0 4px 0 0;
    vertical-align: top;
}

.absRight{
    right: 0;
}

.bottom0{
    bottom: 0;
}

.borderLeft{
    border-left: 2px solid #EEEEEE;
}

.centerContent{
    margin-left: auto;
    margin-right: auto;
}

.checkboxContainer{
    background: #FFFFFF;
    border: 1px solid #EDEFF2;
    border-radius: 5px;
    margin-top: 5px;
    padding: 15px;
    z-index: 1000;
}

.rightAlign{
    text-align: right;
}

.leftAlign{
    text-align: left;
}

.centerAlign{
    text-align: center;
}

.leftMargin10{
    margin-left: 10px;
}

.leftMargin40{
    margin-left: 40px;
}

.right1{
    right: 1%;
}

.right25{
    right: 25%;
}

.left25{
    left: 25%;
}

.left34{
    left: 34%;
}

.left35{
    left: 35%;
}

.left41{
    left: 41%;
}
.paddingLR15{
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.paddingLeft20{
    padding-left: 20px !important;
}

.paddingRight0{
    padding-right: 0 !important;
}

.paddingRight20{
    padding-right: 20px;
}

.verticalAlignTop{
    vertical-align: top;
}

.verticalAlignMiddle{
    vertical-align: middle;
}

.verticalAlignBottom{
    vertical-align: bottom;
}

.verticalAlignTextBottom{
    vertical-align: text-bottom;
}

.verticalAlignSub{
    vertical-align: sub;
}

.selectOptions li{
    border-right: 2px solid #000000;
    padding: 0 10px;
}

.selectOptions li:last-child{
    border: none;
}

.selectAlike{
    background: url('../Images/icons/comboRow.png') no-repeat 90% center;
    border: 1px solid #EDEFF2;
    border-radius: 5px;
    padding: 6px;
    text-align: left;
    width: 100px;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.padding20{
    padding: 20px;
}

.padding10{
    padding: 10px;
}

.padding4{
    padding: 4px;
}

.inputContainer{
    margin-top: 20px;
    margin-bottom: 20px;
}

.inputContainer.checkbox{

}

/*.inputContainer div{
    width: 100%;
}

.inputContainer input{
    width: 100%;
}*/

.inputBoder{
    border: 1px solid #707682;
    border-radius: 5px;
}

.inputBoder:disabled{
    background: transparent;
}

.greyInputBorder{
    border: 1px solid #cccccc;
}

.width30px{
    width: 30px;
}

.width50px{
    width: 50px;
}

.width80px{
    width: 80px;
}

.width100px{
    width: 100px;
}

.width130px{
    width: 130px;
}

.width150px{
    width: 150px;
}

.boldFont{
    font-weight: bold;
}

.normalFont{
    font-weight: normal;
}

.rightPadding5{
    padding-right: 5%;
}

.font14{
    font-size: 14px;
}

.imageLinkContainer{

}

.relatedImagesContainer{

}

.marginRight20{
    margin-right: 20px;
}

.horizontalPadding5{
    padding-right: 5px;
    padding-left: 5px;
}
.verticalPadding2{
    padding-top: 2px;
    padding-bottom: 2px;
}

.horizontalPadding15{
    padding: 0 15px;
}

.inputContainer label{
    padding-right: 15px;
}

.grayBackground{
    background: #F6F7F9;
}

.verticalMargin10{
    margin-top: 10px;
    margin-bottom: 10px;
}

.verticalMargin20{
    margin-bottom: 20px;
    margin-top: 20px;
}

.verticalMargin40{
    margin-bottom: 40px;
    margin-top: 40px;
}

.verticalMargin80-0-20{
    margin: 80px 0 20px;
}
.horizontalMargin10{
    margin-left: 10px;
    margin-right: 10px;
}

.horizontalMargin20{
    margin-left: 20px;
    margin-right: 20px;
}

.verticalPadding10{
    padding-top: 10px;
    padding-bottom: 10px;
}
.verticalPadding20{
    padding-top: 20px;
    padding-bottom: 20px;
}

.paddingTop10px{
    padding-top: 10px;
}

.backArrowTitle{
    background: url("../Images/icons/leftArow.png") no-repeat 10px center;
    padding-left: 30px;
}

.BlockSaveRequest {
     background: url("../Images/General/Loading/progress.gif") no-repeat center center;
}

.backArrowTitle:hover{
    background-position: 0 center;
}

.font20px{
    font-size: 22px;
    font-family:"OpenSans-Light";
    color:#333333;
}

.font2em{
    font-size: 2em;
    font-family:"OpenSans-Light";
    color:#333333;
}

.font1-5em{
    font-family:"OpenSans-Light";
    font-size: 1.5em;
}

.font075em{
    font-size: 0.75em;
}

.font08em{
    font-size: 0.8em;
}

.searchContainer{
    padding: 20px 30px;
}

.greyColor{
    color: #999999;
}

.lineHeight1em{
    line-height: 1em;
}

.lineHeight2em{
    line-height: 2em;
}
h20px
.disabledColor{
    color: #B8BBC2;
}

.h20px{
    height: 20px;
}

.grayColor{
    color: #999999;
}

.blackColor{
    color: #000000;
}

/**
 * Popout
 */

.popUpInformationCotainer{
    margin-left: -3px;
}

.popUpGreyBackground{
    background: #F6F6F6;
}

.popUpActiveFiltersContainer{
    border-bottom: 1px solid #ECF0F3;
}

.popUpResultContainer{

}

.popUpPictureContainer{
    height: 426px;
    overflow-y: scroll;
}

.popUpPictureContainer .inline-block:nth-child(even){
    margin-left: 20px;
}

.popUpPictureContainer img:hover{
    border: 2px solid #2476CB;
    width: 166px;
    height: 113px;
}

.popUpHeaderBackground{
    background: #2476CB;
    color: #ffffff;
    border-radius: 5px 5px 0 0;
}

.popUpHeaderBackground .font2em{
    color: #ffffff;
}

.popUpBackground{
    background: #5B5B5B;
}

.popUpSelectedPicture{
    background: #2476CB url("../Images/icons/selectedPictureIcon.png") no-repeat center center;
    width: 20px;
    height: 20px;
    top: 0;
    right: 0;
}

.popUpSelectedPituresContainer{

}

.closePopUp{
    background: url("../Images/icons/popUpIcon.png") left center;
    width: 30px;
    height: 30px;
    right: 20px;
    top: 28px;
}

.closePopUp:hover{
    background: url("../Images/icons/popUpIcon.png") 60px center;
}

.closePopUp:active{
    background: url("../Images/icons/popUpIcon.png") 30px center;
}

.popUpContainer{

}

.popUpBody{
    background: #ffffff;
    border-radius: 0 0 5px 5px;
}

.horizontalPadding10{
    padding: 0 10px;
}

.horizontalPadding20{
    padding-right: 20px;
    padding-left: 20px;
}

.leftMargin5{
    margin-left: 5px;
}

.leftPadding40{
    padding-left: 40px;
}

.leftPadding20{
    padding-left: 20px;
}

.leftPadding10{
    padding-left: 10px;
}

.separator{
    border-top: 1px solid #cacaca;
}

.draggable{

}

/**
 * Tabs  Classes
 */
.tabsContainer{
    border-bottom: 1px solid #ECF0F3;
}
.tabItem{
    color: #0074DD;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 20px;
    text-align: center;
}
.tabItem:hover{
    border-bottom: 2px solid #999999;
}
.tabItem.active{
    border-bottom: 2px solid #0074DD;
    color: #333333;
    font-weight: bold;
}

.tabItem.p10{
    padding: 10px;
}
/*
 * Statements
 */
.informationStatement{
    background: url("../Images/icons/informationStatementIcon.png") no-repeat left top;
    line-height: 30px;
}

.locationMarkerIcon{
    background: url("../Images/icons/locationMarkerIcon.png") no-repeat 20px 0;
}

/**
 * Buttons Styles
 */
.button{
    border: none;
    border-radius: 10px;
    font-size: 0.875em;
    padding: 6px 25px;
    cursor: pointer;
}

#graphBtn{
    background: url('../Images/icons/graphIcon.png') no-repeat 10px center #FFFFFF;
    border-radius: 3px 0 0 3px;
}

#graphBtn:hover{
    border-color: #1E3A6C;
}

#graphBtn.active{
    background: url('../Images/icons/graphIconHover.png') no-repeat 10px center #1E3A6C;
    border-color: #1E3A6C;
    color: #FFFFFF;
}

#tableBtn{
    background: url('../Images/icons/tableIcon.png') no-repeat 10px center #FFFFFF;
    border-radius: 0 3px 3px 0;
    border-left: none;
}

#tableBtn:hover{
    border-color: #1E3A6C;
}

#tableBtn.active{
    background: url('../Images/icons/tableIconHover.png') no-repeat 10px center #1E3A6C;
    border-color: #1E3A6C;
    color: #FFFFFF;
}

.tabButton{
    border: 1px solid darkgray;
    cursor: pointer;
    font-size: 0.8em;
    margin-left: -5px;
    padding: 6px 10px 6px 40px;
}

.tabButton.normalButton{
    border-radius: 3px;
    border: none;
    padding: 6px 18px;
}

.tabButton.active{
    background: #1E3A6C;
    color: #FFFFFF;
}

.download.button{
    background: url('../Images/icons/download.png') no-repeat 20px center #0977D0;
    color: #FFFFFF;
    padding: 6px 40px 6px 50px;
}

.noBorder{
    border: none;
}

.noBorderRight{
    border-right: none!important;
}

.darkBlueButton{
}

.blueButton{
    background: #3275C7;
    color: #ffffff;
}

.blueButton:hover{
    background: #22509d;
}

.yellowButton{
    background: #E19C23;
    color: #ffffff;
}

.yellowButton:hover{
    background: #ba7719;
}

.createButton{
    background: url("../Images/icons/addOperationIcon.png") no-repeat center bottom;
    cursor: pointer;
    height: 25px;
    width: 25px;
}

.createButton:hover{
    background: url("../Images/icons/addOperationIcon.png") no-repeat center top;
    cursor: pointer;
    height: 25px;
    width: 25px;
}

.deleteButton{
    background: url("../Images/icons/deleteOperationIcon.png") no-repeat center bottom;
}

.deleteButton:hover{
    background-position-y: top;
}

.editButton{
    background: url("../Images/icons/editOperationIcon.png") no-repeat center bottom;
}

.editButton:hover{
    background-position-y: top;
}

.duplicateButton{
    background: url("../Images/icons/duplicateOperationIcon.png") no-repeat center bottom;
}

.duplicateButton:hover{
    background-position-y: top;
}

.updateButton{
    background: url("../Images/icons/updateOperationIcon.png") no-repeat center bottom;
}

.updateButton:hover{
    background-position-y: top;
}

.operationButton{
    width: 40px;
    height: 25px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #cbdcf2;
}

.documentSupportUploadIcon{
    background: #ffffff url("../Images/icons/loadSupportDocumentIcon.png") no-repeat center center;
}

.documentSupportDownloadIcon{
    background: #ffffff url("../Images/icons/downloadSupportDocumentIcon.png") no-repeat center center;
}

.excelDownloadIcon{
    background: #ffffff url("../Images/icons/excel16.png") no-repeat center center;
}
.pdfDownloadIcon{
    background: #ffffff url("../Images/icons/pdf16.png") no-repeat center center;
}


.editIcon{
    background: #ffffff url("../Images/icons/editIcon.png") no-repeat center center;
}

.lensIcon{
    background: #ffffff url("../Images/icons/lensIcon.png") no-repeat center center;
}

.removeIcon{
    background: #ffffff url("../Images/icons/removeIcon.png") no-repeat center center;
}

.deleteTextButton{
    background: #ffffff url("../Images/icons/removeIcon.png") no-repeat 5px center;
    border: 1px solid #cbdcf2;
    border-radius: 5px;
    color: #0F336F;
    cursor: pointer;
    font-size: 0.8em;
    font-weight: bold;
    padding: 5px 10px 5px 25px;
}

.operationButton:hover, .deleteTextButton:hover{
    background-color: #eff4fb;
}

.operationButton:active{
    background-color: #cbdcf3;
}

.collapseDarkControl{
    width: 25px;
    height: 25px;
    background: url("../Images/icons/collapsableDarkIcon.png") no-repeat center bottom;
}

.collapseDarkControl.expanded{

}

.collapseDarkControl.collapsed{

}

.collapseLightControl{
    width: 25px;
    height: 25px;
    background: url("../Images/icons/collapsableLightIcon.png") no-repeat center bottom;
}

.collapseLightControl.expanded{

}

.collapseDarkControl.collapsed{

}

.cursorPointer{
    cursor: pointer;
}

.noPadding{
    padding: 0 !important;
}

/*
 * Input Fancy Controles (checkbox, radiobuttons, etc)
 */

/* Checkbox */
input[type=checkbox].fancy-checkbox {
    display:none;
}

input[type=checkbox].fancy-checkbox + label.fancy-label {
    padding-left:25px;
    height:20px;
    display:inline-block;
    line-height:20px;
    background-repeat:no-repeat;
    background-position: 0 0;
    vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].fancy-checkbox:checked + label.fancy-label,input[type=checkbox].fancy-checkbox:checked + label.fancy-label.white {
    background-position: 0 -20px;
}

label.fancy-label {

    padding-left:25px;
    height:20px;
    display:inline-block;
    line-height:20px;
    background-repeat:no-repeat;
    background-position: 0 0;
    vertical-align:middle;
    cursor:pointer;

    background-image:url("images/checkbox.png");
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

label.fancy-label.white {
    background-image:url("../Images/controls/checkboxWhite.png");
}
/* Radio */
input[type=radio].fancy-radio {
    display:none;
}

label.fancy-label-radio:hover {
    border-color: #1E3A6C;
}

label.fancy-label-radio {
    border: 1px solid darkgrey;
    background: #ffffff;
    padding: 4px;
    cursor: pointer;
}

input[type=radio].fancy-radio:checked + label.fancy-label-radio{
    background: #1E3A6C;
    border-color: #1E3A6C;
    color: #ffffff;
}

label.fancy-label-radio-circle {
    background: url('../Images/controls/radioButtonInactive.png') no-repeat scroll 0 0 transparent;
    padding-left: 23px;
    cursor:pointer;
}

input[type=radio].fancy-radio:checked + label.fancy-label-radio-circle{
    background: url('../Images/controls/radioButtonActive.png') no-repeat scroll 0 0 transparent;
}

.inputContainer.checkbox .fancy-label{
    width: 150px;
}

.operationsLabelFirst{
    border-radius: 5px 0 0 5px;
}

.operationsLabelSecond{
    border-radius: 0 5px 5px 0;
}

textarea{
    border: 1px solid #CCCCCC;
    font-family: 'OpenSans-Regular';
    font-size: 100%;
    margin: 0;
    overflow:hidden;
    resize: none;
    white-space: normal;
}

.grayBorder{
    border: 1px solid #CCCCCC;
}

/**
 * Grid layout
 */
table{
    border-spacing: 0;
}

table.grid{
    border-spacing: 0;
    font-size: 0.75em;
    /*border-collapse: collapse;*/
}

/*.grid{
    text-align: center;
}*/

.grid td{
    vertical-align: middle;
    padding: 5px 10px;
}

.grid thead, .statsHeader{
    background: #1F396C;
    color: #ffffff;
    font-family: "OpenSans-Bold";
}



.grid thead tr{
    font-family: "OpenSans-Bold";
    height: 40px;
    line-height: 1.4;
}

.grid thead tr th:hover, .grid thead tr td.gridHeader:hover{
    background-color: #22509d;
    cursor: pointer;
}

.grid thead tr td.gridHeader{
    border-bottom: 2px solid #000000;
    border-right: 2px solid #000000;
    vertical-align: middle;
   /* font-weight: bold;*/
    padding: 0 5px;
}

.grid thead tr th .gridSubHeader{

}

.grid thead tr th{
    border-right: 2px solid #000000;
    padding: 5px 10px 5px;
    text-align: left;
    vertical-align: bottom;
}

.statsHeader{
    padding: 10px;
}

.grid thead th.header {
    background: url("../Images/controls/unsortArrow.png") no-repeat right center;
}

.grid thead tr.subHeader th.header:last-child {
    border-right: 2px solid #000000;
}

.grid thead th.headerSortDown {
    background: url("../Images/controls/sortDown.png") no-repeat right center;
}

.grid thead th.headerSortUp {
    background: url("../Images/controls/sortUp.png") no-repeat right center;
}

.grid thead th:last-child{
    
}

.grid tbody {

}

.grid.noInnerPadding td{
    padding: 0;
}

.grid tbody tr:hover, .grid tbody tr:nth-child(even):hover, .grid tbody tr:nth-child(even):hover{
    background: #EEEFF3;
}

.grid tbody tr:nth-child(even){
    background: #F6F7F9;
}


.grid tbody tr:nth-child(odd) .innerGrid tr:nth-child(even):hover{
    background: #EEEFF3;
}

.grid tbody tr:nth-child(odd) .innerGrid tr:nth-child(even){
    background: #ffffff;
}

.grid tbody tr{
    height: 40px;
}

.grid tbody tr.expanded, .grid tbody tr.expanded a{
    background: #0977D0;
    color: #FFFFFF;
}

.grid textarea{
    width: 98%;
}

.grid.draggable tbody td:first-child{
    background: url("../Images/icons/dragIcon.png") no-repeat 5px center;
    text-align: right;
}

.innerGrid{
    border-spacing:0;
    border-collapse:collapse;
}

.innerGrid tr:last-child{
    display: none;
}

.innerGrid tr.expanded:last-child{
    display: block;
}

.arrow{
    background: url('../Images/controls/arrowDown.png') no-repeat scroll center center transparent;
    width: 20px;
}

.expanded .arrow{
    background: url('../Images/controls/arrowUp.png') no-repeat scroll center center transparent;
}

.disabled{
    background: #dddddd !important;
}

.alignLeft{
    text-align: left;
}

.contentRecomendationsToDisplay  .k-dropdown-wrap{
    border-radius: 5px;
    padding: 2px 10px;
}

.trClosest{
    background: url("../Images/icons/btn-delete.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    width: 16px;
}

.trClosest:hover {
    background: url("../Images/icons/btn-delete-hover.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}

/**
 * Drag and Drop Styles
 */

.draggingRow{
    background: #ffe3b6 !important;
}

/*Pager styles*/
.pager{}

.pagerItem{
    font-size: 12px;
    width: 32px;
    height: 34px;
    text-align: center;
    line-height: 34px;
}
.pagerItem.active{
    font-weight: bold;
    height: 32px;
    border-bottom: 2px solid #0b78cf;
}

.pagerItem a{
    color: #000000;
    text-decoration: none;
}

.pagerItem:hover{
    background-color: #f6f7f8;
}

.pagerItem.active:hover{
    background: none;
}

/*Collapse/Expand controller*/

.collapseControl{
    border: 1px solid #EDEFF2;
    border-radius: 5px;
    height: 24px;
    padding: 5px;
    width: 150px;
}

.whiteDotContainer{
    height: 24px;
    width: 50px;
}

.colorBackground{
    background: #123B70;
    border-radius: 18px;
    display: block;
    height: 16px;
    padding: 4px;
    width: 40px;
}

.greenBackground .colorBackground{
    background: #85B200;
}

.whiteBackground{
    background: #FFFFFF;
}

.whiteDot{
    background: #FFFFFF;
    border-radius: 100%;
    font-size: 0;
    height: 16px;
    width: 16px;
}
.right .whiteDot{
    right: 4px;
}

#collapseControlButton{
    background: transparent;
    height: 24px;
    outline: none;
}

/*Add one*/

.addOneWrapper{
    border: 1px solid #EDEFF2;
    border-radius: 5px;
    padding: 4px;
    height: 20px;
}

.addOneWrapper:hover{
    background-color: #eff4fb;
}

.addOneWrapper:active{
    background-color: #cbdcf3;
}

.addOneContainer{
    background: url('../Images/icons/blueCross.png') no-repeat 0 center transparent;
}

.addOne{
    background: url('../Images/icons/blueCross.png') no-repeat right center transparent;
}


/* Icons */

.riskStatusActiveIcon{
    background: url('../Images/icons/active.png') no-repeat left center transparent;
}

.riskProbabilityHighIcon{
    background: url('../Images/icons/row_green_up.png') no-repeat left center transparent;
}

.riskImpactMediumIcon{
    background: url('../Images/icons/risk_medium.png') no-repeat left center transparent;
}

.riskLevelMediumIcon{
    background: url('../Images/icons/risk_medium.png') no-repeat left center transparent;
}

.riskHighIcon{
    background: url('../Images/icons/row_red_up.png') no-repeat left center transparent;
}

/*Hierarchical grids*/

.hierarchicalComponent{

}

.componentTitle{

}

.componentNumber{
    top: 10px;
    left: -30px;
}

.componentSubnumber{
    left: -45px;
}

.grid tbody tr.componentSubnumber:hover{
    background: none;
}

.minMaxButtonContainer{
    left: -11px;
}

.minMaxButton{
    background: url('../Images/icons/maxMinButton.png') no-repeat scroll -40px 0 transparent;
    border: none;
    height: 20px;
    width: 20px;
}

.minMaxButton.plus:hover{
    background-position: -20px 0;
}

.minMaxButton.plus{
    background-position: 0 0;
}

.thumbnailcontainer{
    padding-right: 5px;
}

.thumbnailcontainer:last-child{
    padding-right: 0;
}

.thumbnailcontainer.active img{
    border-bottom: 2px solid #0b78cf;
}

/* Classification/Indicators */

.classification{
    height: 10px;
    width: 10px;
    vertical-align: middle;
}

.classification.rounded{
    border-radius: 100%;
}

.classification.problem, .classification.outlier{
    background: #FA4F01;
}

.classification.alert{
    background: #FBAC45;
}

.classification.yellow, .classification.satisfactory{
    background: #8DDD13;
}

.indicator{
    height: 15px;
    width: 15px;
}

.indicator.pv{
    background: #000000;
}

.indicator.ac, .indicator.spi{
    background: #00DBA5;
}

.indicator.ev, .indicator.cpi{
    background: #FFB142;
}

.indicator.pva, .indicator.spia{
    background: #BE4288;
}

.indicator.eva, .indicator.cpia{
    background: #AEAEAE;
}

.status{
    height: 18px;
    width: 18px;
}

.status.active{
    background: url('../Images/icons/statusActive.png') no-repeat;
}

.status.mitigated{
    background: url('../Images/icons/statusMitigated.png') no-repeat;
}

/*Operation member*/

.operationMemberContainer{
    background: #EEEEEE;
    font-size: 0.8em;
}

.blackLink{
    color: #000000;
    text-decoration: underline !important;
}

.allTeam{
    background: url('../Images/icons/teamIcon.png') no-repeat;
    color: #000000;
    font-size: 0.75em;
    padding: 0 20px;
    text-decoration: underline !important;
}

/*Notificactions Global*/

#notificationQty{
    background: #3275C7;
    color: #FFFFFF;
    padding: 0.2em 0.3em;
    min-width: 1.15em;
    text-align: center;
}

.notificationButton{
    background-color: #ffffff;
    border-radius: 5px;
    color: #656668;
    cursor: pointer;
    height: 29px;
    padding: 0 15px;
}

.notificationButton.active{
    background: #1F396C;
    color: #FFFFFF;
    border-color: #1F396C;
}

.notificationQty{
    font-weight: bold;
    padding: 0 18px 0 0;
}

#readUnread{
    background: url('../Images/icons/readUnreadIcon.png') no-repeat 5px center !important;
    padding: 0 7px 0 37px;
    width: 140px;
}

.workflowNotification{
    background: url('../Images/icons/leftArrowBlack.png') no-repeat 5px center;
    padding-left: 25px;
}

.expanded .workflowNotification{
    background: url('../Images/icons/leftArrowWhite.png') no-repeat 5px center;
}

.notification .title{
    color: #000000;
}

.notification .expanded .title{
    color: #FFFFFF;
}

.unread .title{
    font-weight: bold;
}

.membersContainer{
    height: 400px;
    font-size: 0.8em; 
    overflow: auto;
    padding: 20px;
}

.memberContainer{
    background: #EEEEEE;
    padding: 0 0 10px 10px;
    height: 110px;
    width: 140px;
}

.membersContainer .memberContainer:hover, .membersContainer .memberContainer.active{
    border: 2px solid #2476CB;
    cursor: default;
    padding: 0 0 8px 8px;
    height: 108px;
    width: 138px;
}

.membersContainer .memberContainer:hover .teamMember, .membersContainer .memberContainer.active .teamMember{
    padding: 8px 0 0 20px;
}

.teamMember{
    background: url('../Images/icons/teamIcon.png') 0 bottom no-repeat;
    padding: 10px 0 0 20px;
    vertical-align: middle;
}


.linkdashboard,.linkdashboard:visited{
    background: url('../Images/icons/LinkIcon.png') 0 bottom no-repeat;
    padding: 8px;
    padding-left: 40px;
}

.linkdashboard:hover,.linkdashboard:active{
    background: url('../Images/icons/LinkIconHover.png') 0 bottom no-repeat;
}