/** * Operation Visualization Module * Disbursement Projections Module * Mon, 18 Octuber 2013 * eSmart Group */
/* * Helper Classes */
.scopepEsmart {

}
.scopepEsmart .h50px {
  height: 50px;
}
.scopepEsmart .h50px {
  height: 50px;
}
.scopepEsmart .w708px {
  width: 708px;
}
.scopepEsmart .w28 {
  width: 28%;
}
.scopepEsmart .w29 {
  width: 29%;
}
.scopepEsmart .w45-2 {
  width: 45.2%;
}
.scopepEsmart .w64 {
  width: 64%;
}
.scopepEsmart .w65 {
  width: 65%;
}
.scopepEsmart .w70-8 {
  width: 70.8%;
}
.scopepEsmart .w52 {
  width: 52%;
}
.scopepEsmart .w800px {
  width: 800px;
}
.scopepEsmart .h100px {
  height: 100px;
}
.scopepEsmart .h70px {
  height: 70px;
}
.scopepEsmart .w12 {
  width: 12%;
}
.scopepEsmart .topMargin16px {
  margin-top: 16px;
}
.scopepEsmart .topMargin5px {
  margin-top: 5px;
}
.scopepEsmart input {
  padding: 3px 5px;
  outline: none;
}
.scopepEsmart .everisWidth {
  width: 1074px;
}
.scopepEsmart .block {
  display: block;
}
.scopepEsmart .inline-block {
  display: inline-block;
  vertical-align: top;
}
.scopepEsmart .inline-block-fix {
  display: inline-block;
  margin: 0 4px 0 0;
  vertical-align: top;
}
.scopepEsmart .absRight {
  right: 0;
}
.scopepEsmart .bottom0 {
  bottom: 0;
}
.scopepEsmart .borderLeft {
  border-left: 2px solid #EEEEEE;
}
.scopepEsmart .centerContent {
  margin-left: auto;
  margin-right: auto;
}
.scopepEsmart .checkboxContainer {
  background: #FFFFFF;
  border: 1px solid #EDEFF2;
  border-radius: 5px;
  margin-top: 5px;
  padding: 15px;
  z-index: 1000;
}
.scopepEsmart .rightAlign {
  text-align: right;
}
.scopepEsmart .leftAlign {
  text-align: left;
}
.scopepEsmart .centerAlign {
  text-align: center;
}
.scopepEsmart .leftMargin10 {
  margin-left: 10px;
}
.scopepEsmart .leftMargin40 {
  margin-left: 40px;
}
.scopepEsmart .right1 {
  right: 1%;
}
.scopepEsmart .right25 {
  right: 25%;
}
.scopepEsmart .left25 {
  left: 25%;
}
.scopepEsmart .left34 {
  left: 34%;
}
.scopepEsmart .left35 {
  left: 35%;
}
.scopepEsmart .left41 {
  left: 41%;
}
.scopepEsmart .paddingLeft20 {
  padding-left: 20px !important;
}
.scopepEsmart .paddingRight0 {
  padding-right: 0 !important;
}
.scopepEsmart .paddingRight20 {
  padding-right: 20px;
}
.scopepEsmart .verticalAlignTop {
  vertical-align: top;
}
.scopepEsmart .verticalAlignMiddle {
  vertical-align: middle;
}
.scopepEsmart .verticalAlignBottom {
  vertical-align: bottom;
}
.scopepEsmart .verticalAlignTextBottom {
  vertical-align: text-bottom;
}
.scopepEsmart .verticalAlignSub {
  vertical-align: sub;
}
.scopepEsmart .selectOptions li {
  border-right: 2px solid #000000;
  padding: 0 10px;
}
.scopepEsmart .selectOptions li:last-child {
  border: none;
}
.scopepEsmart .selectAlike {
  background: url("../Images/icons/comboRow.png") no-repeat 90% center;
  border: 1px solid #EDEFF2;
  border-radius: 5px;
  padding: 6px;
  text-align: left;
  width: 100px;
}
.scopepEsmart .relative {
  position: relative;
}
.scopepEsmart .absolute {
  position: absolute;
}
.scopepEsmart .padding20 {
  padding: 20px;
}
.scopepEsmart .padding10 {
  padding: 10px;
}
.scopepEsmart .padding4 {
  padding: 4px;
}
.scopepEsmart .inputContainer {
  margin-top: 20px;
  margin-bottom: 20px;
}
.scopepEsmart .inputBoder {
  border: 1px solid #707682;
  border-radius: 5px;
}
.scopepEsmart .inputBoder:disabled {
  background: transparent;
}
.scopepEsmart .greyInputBorder {
  border: 1px solid #cccccc;
}
.scopepEsmart .width30px {
  width: 30px;
}
.scopepEsmart .width50px {
  width: 50px;
}
.scopepEsmart .width80px {
  width: 80px;
}
.scopepEsmart .width100px {
  width: 100px;
}
.scopepEsmart .width130px {
  width: 130px;
}
.scopepEsmart .width150px {
  width: 150px;
}
.scopepEsmart .boldFont {
  font-weight: bold;
}
.scopepEsmart .normalFont {
  font-weight: normal;
}
.scopepEsmart .rightPadding5 {
  padding-right: 5%;
}
.scopepEsmart .font14 {
  font-size: 14px;
}
.scopepEsmart .marginRight20 {
  margin-right: 20px;
}
.scopepEsmart .horizontalPadding5 {
  padding-right: 5px;
  padding-left: 5px;
}
.scopepEsmart .verticalPadding2 {
  padding-top: 2px;
  padding-bottom: 2px;
}
.scopepEsmart .horizontalPadding15 {
  padding: 0 15px;
}
.scopepEsmart .inputContainer label {
  padding-right: 15px;
}
.scopepEsmart .grayBackground {
  background: #F6F7F9;
}
.scopepEsmart .verticalMargin10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.scopepEsmart .verticalMargin20 {
  margin-bottom: 20px;
  margin-top: 20px;
}
.scopepEsmart .verticalMargin40 {
  margin-bottom: 40px;
  margin-top: 40px;
}
.scopepEsmart .verticalMargin80-0-20 {
  margin: 80px 0 20px;
}
.scopepEsmart .horizontalMargin10 {
  margin-left: 10px;
  margin-right: 10px;
}
.scopepEsmart .horizontalMargin20 {
  margin-left: 20px;
  margin-right: 20px;
}
.scopepEsmart .verticalPadding10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.scopepEsmart .verticalPadding20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.scopepEsmart .paddingTop10px {
  padding-top: 10px;
}
.scopepEsmart .backArrowTitle {
  background: url("../Images/icons/leftArow.png") no-repeat 10px center;
  padding-left: 30px;
}
.scopepEsmart .backArrowTitle:hover {
  background-position: 0 center;
}
.scopepEsmart .font20px {
  font-size: 22px;
  font-family: "OpenSans-Light";
  color: #333333;
}
.scopepEsmart .font2em {
  font-size: 2em;
  font-family: "OpenSans-Light";
  color: #333333;
}
.scopepEsmart .font1-5em {
  font-family: "OpenSans-Light";
  font-size: 1.5em;
}
.scopepEsmart .font075em {
  font-size: 0.75em;
}
.scopepEsmart .font08em {
  font-size: 0.8em;
}
.scopepEsmart .searchContainer {
  padding: 20px 30px;
}
.scopepEsmart .greyColor {
  color: #999999;
}
.scopepEsmart .lineHeight1em {
  line-height: 1em;
}
.scopepEsmart .lineHeight2em {
  line-height: 2em;
}
.scopepEsmart .disabledColor {
  color: #B8BBC2;
}
.scopepEsmart .grayColor {
  color: #999999;
}
.scopepEsmart .blackColor {
  color: #000000;
}
.scopepEsmart .popUpInformationCotainer {
  margin-left: -3px;
}
.scopepEsmart .popUpGreyBackground {
  background: #F6F6F6;
}
.scopepEsmart .popUpActiveFiltersContainer {
  border-bottom: 1px solid #ECF0F3;
}
.scopepEsmart .popUpPictureContainer {
  height: 426px;
  overflow-y: scroll;
}
.scopepEsmart .popUpPictureContainer .inline-block:nth-child(even) {
  margin-left: 20px;
}
.scopepEsmart .popUpPictureContainer img:hover {
  border: 2px solid #2476CB;
  width: 166px;
  height: 113px;
}
.scopepEsmart .popUpHeaderBackground {
  background: #2476CB;
  color: #ffffff;
  border-radius: 5px 5px 0 0;
}
.scopepEsmart .popUpHeaderBackground .font2em {
  color: #ffffff;
}
.scopepEsmart .popUpBackground {
  background: #5B5B5B;
}
.scopepEsmart .popUpSelectedPicture {
  background: #2476cb url("../Images/icons/selectedPictureIcon.png") no-repeat center center;
  width: 20px;
  height: 20px;
  top: 0;
  right: 0;
}
.scopepEsmart .closePopUp {
  background: url("../Images/icons/popUpIcon.png") left center;
  width: 30px;
  height: 30px;
  right: 20px;
  top: 28px;
}
.scopepEsmart .closePopUp:hover {
  background: url("../Images/icons/popUpIcon.png") 60px center;
}
.scopepEsmart .closePopUp:active {
  background: url("../Images/icons/popUpIcon.png") 30px center;
}
.scopepEsmart .popUpBody {
  background: #ffffff;
  border-radius: 0 0 5px 5px;
}
.scopepEsmart .horizontalPadding10 {
  padding: 0 10px;
}
.scopepEsmart .horizontalPadding20 {
  padding-right: 20px;
  padding-left: 20px;
}
.scopepEsmart .leftMargin5 {
  margin-left: 5px;
}
.scopepEsmart .leftPadding40 {
  padding-left: 40px;
}
.scopepEsmart .leftPadding20 {
  padding-left: 20px;
}
.scopepEsmart .leftPadding10 {
  padding-left: 10px;
}
.scopepEsmart .separator {
  border-top: 1px solid #cacaca;
}
.scopepEsmart .tabsContainer {
  border-bottom: 1px solid #ECF0F3;
}
.scopepEsmart .tabItem {
  color: #0074DD;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 20px;
  text-align: center;
}
.scopepEsmart .tabItem:hover {
  border-bottom: 2px solid #999999;
}
.scopepEsmart .tabItem.active {
  border-bottom: 2px solid #0074DD;
  color: #333333;
  font-weight: bold;
}
.scopepEsmart .tabItem.p10 {
  padding: 10px;
}
.scopepEsmart .informationStatement {
  background: url("../Images/icons/informationStatementIcon.png") no-repeat left center;
  height: 30px;
  line-height: 30px;
}
.scopepEsmart .locationMarkerIcon {
  background: url("../Images/icons/locationMarkerIcon.png") no-repeat 20px 0;
}
.scopepEsmart .button {
  border: none;
  border-radius: 10px;
  font-size: 0.875em;
  padding: 6px 25px;
  cursor: pointer;
}
.scopepEsmart #graphBtn {
  background: url("../Images/icons/graphIcon.png") no-repeat 10px center white;
  border-radius: 3px 0 0 3px;
}
.scopepEsmart #graphBtn:hover {
  border-color: #1E3A6C;
}
.scopepEsmart #graphBtn.active {
  background: url("../Images/icons/graphIconHover.png") no-repeat 10px center #1e3a6c;
  border-color: #1E3A6C;
  color: #FFFFFF;
}
.scopepEsmart #tableBtn {
  background: url("../Images/icons/tableIcon.png") no-repeat 10px center white;
  border-radius: 0 3px 3px 0;
  border-left: none;
}
.scopepEsmart #tableBtn:hover {
  border-color: #1E3A6C;
}
.scopepEsmart #tableBtn.active {
  background: url("../Images/icons/tableIconHover.png") no-repeat 10px center #1e3a6c;
  border-color: #1E3A6C;
  color: #FFFFFF;
}
.scopepEsmart .tabButton {
  border: 1px solid darkgray;
  cursor: pointer;
  font-size: 0.8em;
  margin-left: -5px;
  padding: 6px 10px 6px 40px;
}
.scopepEsmart .tabButton.normalButton {
  border-radius: 3px;
  border: none;
  padding: 6px 18px;
}
.scopepEsmart .tabButton.active {
  background: #1E3A6C;
  color: #FFFFFF;
}
.scopepEsmart .download.button {
  background: url("../Images/icons/download.png") no-repeat 20px center #0977d0;
  color: #FFFFFF;
  padding: 6px 40px 6px 50px;
}
.scopepEsmart .noBorder {
  border: none;
}
.scopepEsmart .noBorderRight {
  border-right: none !important;
}
.scopepEsmart .blueButton {
  background: #3275C7;
  color: #ffffff;
}
.scopepEsmart .blueButton:hover {
  background: #22509d;
}
.scopepEsmart .yellowButton {
  background: #E19C23;
  color: #ffffff;
}
.scopepEsmart .yellowButton:hover {
  background: #ba7719;
}
.scopepEsmart .createButton {
  background: url("../Images/icons/addOperationIcon.png") no-repeat center bottom;
  cursor: pointer;
  height: 25px;
  width: 25px;
}
.scopepEsmart .createButton:hover {
  background: url("../Images/icons/addOperationIcon.png") no-repeat center top;
  cursor: pointer;
  height: 25px;
  width: 25px;
}
.scopepEsmart .deleteButton {
  background: url("../Images/icons/deleteOperationIcon.png") no-repeat center bottom;
}
.scopepEsmart .deleteButton:hover {
  background-position-y: top;
}
.scopepEsmart .editButton {
  background: url("../Images/icons/editOperationIcon.png") no-repeat center bottom;
}
.scopepEsmart .editButton:hover {
  background-position-y: top;
}
.scopepEsmart .duplicateButton {
  background: url("../Images/icons/duplicateOperationIcon.png") no-repeat center bottom;
}
.scopepEsmart .duplicateButton:hover {
  background-position-y: top;
}
.scopepEsmart .updateButton {
  background: url("../Images/icons/updateOperationIcon.png") no-repeat center bottom;
}
.scopepEsmart .updateButton:hover {
  background-position-y: top;
}
.scopepEsmart .operationButton {
  width: 40px;
  height: 25px;
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #cbdcf2;
}
.scopepEsmart .documentSupportUploadIcon {
  background: white url("../Images/icons/loadSupportDocumentIcon.png") no-repeat center center;
}
.scopepEsmart .documentSupportDownloadIcon {
  background: white url("../Images/icons/downloadSupportDocumentIcon.png") no-repeat center center;
}
.scopepEsmart .editIcon {
  background: white url("../Images/icons/editIcon.png") no-repeat center center;
}
.scopepEsmart .lensIcon {
  background: white url("../Images/icons/lensIcon.png") no-repeat center center;
}
.scopepEsmart .removeIcon {
  background: white url("../Images/icons/removeIcon.png") no-repeat center center;
}
.scopepEsmart .deleteTextButton {
  background: white url("../Images/icons/removeIcon.png") no-repeat 5px center;
  border: 1px solid #cbdcf2;
  border-radius: 5px;
  color: #0F336F;
  cursor: pointer;
  font-size: 0.8em;
  font-weight: bold;
  padding: 5px 10px 5px 25px;
}
.scopepEsmart .operationButton:hover, .scopepEsmart .deleteTextButton:hover {
  background-color: #eff4fb;
}
.scopepEsmart .operationButton:active {
  background-color: #cbdcf3;
}
.scopepEsmart .collapseDarkControl {
  width: 25px;
  height: 25px;
  background: url("../Images/icons/collapsableDarkIcon.png") no-repeat center bottom;
}
.scopepEsmart .collapseLightControl {
  width: 25px;
  height: 25px;
  background: url("../Images/icons/collapsableLightIcon.png") no-repeat center bottom;
}
.scopepEsmart .cursorPointer {
  cursor: pointer;
}
.scopepEsmart .noPadding {
  padding: 0 !important;
}
.scopepEsmart input[type=checkbox].fancy-checkbox {
  display: none;
}
.scopepEsmart input[type=checkbox].fancy-checkbox + label.fancy-label {
  padding-left: 25px;
  height: 20px;
  display: inline-block;
  line-height: 20px;
  background-repeat: no-repeat;
  background-position: 0 0;
  vertical-align: middle;
  cursor: pointer;
}
.scopepEsmart input[type=checkbox].fancy-checkbox:checked + label.fancy-label, .scopepEsmart input[type=checkbox].fancy-checkbox:checked + label.fancy-label.white {
  background-position: 0 -20px;
}
.scopepEsmart label.fancy-label {
  padding-left: 25px;
  height: 20px;
  display: inline-block;
  line-height: 20px;
  background-repeat: no-repeat;
  background-position: 0 0;
  vertical-align: middle;
  cursor: pointer;
  background-image: url("images/checkbox.png");
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.scopepEsmart label.fancy-label.white {
  background-image: url("../Images/controls/checkboxWhite.png");
}
.scopepEsmart input[type=radio].fancy-radio {
  display: none;
}
.scopepEsmart label.fancy-label-radio:hover {
  border-color: #1E3A6C;
}
.scopepEsmart label.fancy-label-radio {
  border: 1px solid darkgrey;
  background: #ffffff;
  padding: 4px;
  cursor: pointer;
}
.scopepEsmart input[type=radio].fancy-radio:checked + label.fancy-label-radio {
  background: #1E3A6C;
  border-color: #1E3A6C;
  color: #ffffff;
}
.scopepEsmart label.fancy-label-radio-circle {
  background: url("../Images/controls/radioButtonInactive.png") no-repeat scroll 0 0 transparent;
  padding-left: 23px;
  cursor: pointer;
}
.scopepEsmart input[type=radio].fancy-radio:checked + label.fancy-label-radio-circle {
  background: url("../Images/controls/radioButtonActive.png") no-repeat scroll 0 0 transparent;
}
.scopepEsmart .inputContainer.checkbox .fancy-label {
  width: 150px;
}
.scopepEsmart .operationsLabelFirst {
  border-radius: 5px 0 0 5px;
}
.scopepEsmart .operationsLabelSecond {
  border-radius: 0 5px 5px 0;
}
.scopepEsmart textarea {
  border: 1px solid #CCCCCC;
  font-family: 'OpenSans-Regular';
  font-size: 100%;
  margin: 0;
  overflow: hidden;
  resize: none;
  white-space: normal;
}
.scopepEsmart .grayBorder {
  border: 1px solid #CCCCCC;
}
.scopepEsmart table {
  border-spacing: 0;
}
.scopepEsmart table.grid {
  border-spacing: 0;
  font-size: 0.75em;
  /*border-collapse: collapse;*/
}
.scopepEsmart .grid td {
  vertical-align: middle;
  padding: 5px 10px;
}
.scopepEsmart .grid thead, .scopepEsmart .statsHeader {
  background: #1F396C;
  color: #ffffff;
  font-family: "OpenSans-Bold";
}
.scopepEsmart .grid thead tr {
  font-family: "OpenSans-Bold";
  height: 40px;
  line-height: 1.4;
}
.scopepEsmart .grid thead tr th:hover, .scopepEsmart .grid thead tr td.gridHeader:hover {
  background-color: #22509d;
  cursor: pointer;
}
.scopepEsmart .grid thead tr td.gridHeader {
  border-bottom: 2px solid #000000;
  border-right: 2px solid #000000;
  vertical-align: middle;
  /* font-weight: bold;*/
  padding: 0 5px;
}
.scopepEsmart .grid thead tr th {
  border-right: 2px solid #000000;
  padding: 5px 10px 5px;
  text-align: left;
  vertical-align: bottom;
}
.scopepEsmart .statsHeader {
  padding: 10px;
}
.scopepEsmart .grid thead th.header {
  background: url("../Images/controls/unsortArrow.png") no-repeat right center;
}
.scopepEsmart .grid thead tr.subHeader th.header:last-child {
  border-right: 2px solid #000000;
}
.scopepEsmart .grid thead th.headerSortDown {
  background: url("../Images/controls/sortDown.png") no-repeat right center;
}
.scopepEsmart .grid thead th.headerSortUp {
  background: url("../Images/controls/sortUp.png") no-repeat right center;
}
.scopepEsmart .grid.noInnerPadding td {
  padding: 0;
}
.scopepEsmart .grid tbody tr:hover, .scopepEsmart .grid tbody tr:nth-child(even):hover, .scopepEsmart .grid tbody tr:nth-child(even):hover {
  background: #EEEFF3;
}
.scopepEsmart .grid tbody tr:nth-child(even) {
  background: #F6F7F9;
}
.scopepEsmart .grid tbody tr:nth-child(odd) .innerGrid tr:nth-child(even):hover {
  background: #EEEFF3;
}
.scopepEsmart .grid tbody tr:nth-child(odd) .innerGrid tr:nth-child(even) {
  background: #ffffff;
}
.scopepEsmart .grid tbody tr {
  height: 40px;
}
.scopepEsmart .grid tbody tr.expanded, .scopepEsmart .grid tbody tr.expanded a {
  background: #0977D0;
  color: #FFFFFF;
}
.scopepEsmart .grid textarea {
  width: 98%;
}
.scopepEsmart .grid.draggable tbody td:first-child {
  background: url("../Images/icons/dragIcon.png") no-repeat 5px center;
  text-align: right;
}
.scopepEsmart .innerGrid {
  border-spacing: 0;
  border-collapse: collapse;
}
.scopepEsmart .innerGrid tr:last-child {
  display: none;
}
.scopepEsmart .innerGrid tr.expanded:last-child {
  display: block;
}
.scopepEsmart .arrow {
  background: url("../Images/controls/arrowDown.png") no-repeat scroll center center transparent;
  width: 20px;
}
.scopepEsmart .expanded .arrow {
  background: url("../Images/controls/arrowUp.png") no-repeat scroll center center transparent;
}
.scopepEsmart .disabled {
  background: #dddddd !important;
}
.scopepEsmart .alignLeft {
  text-align: left;
}
.scopepEsmart .contentRecomendationsToDisplay .k-dropdown-wrap {
  border-radius: 5px;
  padding: 2px 10px;
}
.scopepEsmart .trClosest {
  background: url("../Images/icons/btn-delete.png") no-repeat scroll center center transparent;
  width: 16px;
}
.scopepEsmart .trClosest:hover {
  background: url("../Images/icons/btn-delete-hover.png") no-repeat scroll center center transparent;
}
.scopepEsmart .draggingRow {
  background: #ffe3b6 !important;
}
.scopepEsmart .pagerItem {
  font-size: 12px;
  width: 32px;
  height: 34px;
  text-align: center;
  line-height: 34px;
}
.scopepEsmart .pagerItem.active {
  font-weight: bold;
  height: 32px;
  border-bottom: 2px solid #0b78cf;
}
.scopepEsmart .pagerItem a {
  color: #000000;
  text-decoration: none;
}
.scopepEsmart .pagerItem:hover {
  background-color: #f6f7f8;
}
.scopepEsmart .pagerItem.active:hover {
  background: none;
}
.scopepEsmart .collapseControl {
  border: 1px solid #EDEFF2;
  border-radius: 5px;
  height: 24px;
  padding: 5px;
  width: 150px;
}
.scopepEsmart .whiteDotContainer {
  height: 24px;
  width: 50px;
}
.scopepEsmart .colorBackground {
  background: #123B70;
  border-radius: 18px;
  display: block;
  height: 16px;
  padding: 4px;
  width: 40px;
}
.scopepEsmart .greenBackground .colorBackground {
  background: #85B200;
}
.scopepEsmart .whiteBackground {
  background: #FFFFFF;
}
.scopepEsmart .whiteDot {
  background: #FFFFFF;
  border-radius: 100%;
  font-size: 0;
  height: 16px;
  width: 16px;
}
.scopepEsmart .right .whiteDot {
  right: 4px;
}
.scopepEsmart #collapseControlButton {
  background: transparent;
  height: 24px;
  outline: none;
}
.scopepEsmart .addOneWrapper {
  border: 1px solid #EDEFF2;
  border-radius: 5px;
  padding: 4px;
  height: 20px;
}
.scopepEsmart .addOneWrapper:hover {
  background-color: #eff4fb;
}
.scopepEsmart .addOneWrapper:active {
  background-color: #cbdcf3;
}
.scopepEsmart .addOneContainer {
  background: url("../Images/icons/blueCross.png") no-repeat 0 center transparent;
}
.scopepEsmart .addOne {
  background: url("../Images/icons/blueCross.png") no-repeat right center transparent;
}
.scopepEsmart .riskStatusActiveIcon {
  background: url("../Images/icons/active.png") no-repeat left center transparent;
}
.scopepEsmart .riskProbabilityHighIcon {
  background: url("../Images/icons/row_green_up.png") no-repeat left center transparent;
}
.scopepEsmart .riskImpactMediumIcon {
  background: url("../Images/icons/risk_medium.png") no-repeat left center transparent;
}
.scopepEsmart .riskLevelMediumIcon {
  background: url("../Images/icons/risk_medium.png") no-repeat left center transparent;
}
.scopepEsmart .riskHighIcon {
  background: url("../Images/icons/row_red_up.png") no-repeat left center transparent;
}
.scopepEsmart .componentNumber {
  top: 10px;
  left: -30px;
}
.scopepEsmart .componentSubnumber {
  left: -45px;
}
.scopepEsmart .grid tbody tr.componentSubnumber:hover {
  background: none;
}
.scopepEsmart .minMaxButtonContainer {
  left: -11px;
}
.scopepEsmart .minMaxButton {
  background: url("../Images/icons/maxMinButton.png") no-repeat scroll -40px 0 transparent;
  border: none;
  height: 20px;
  width: 20px;
}
.scopepEsmart .minMaxButton.plus:hover {
  background-position: -20px 0;
}
.scopepEsmart .minMaxButton.plus {
  background-position: 0 0;
}
.scopepEsmart .thumbnailcontainer {
  padding-right: 5px;
}
.scopepEsmart .thumbnailcontainer:last-child {
  padding-right: 0;
}
.scopepEsmart .thumbnailcontainer.active img {
  border-bottom: 2px solid #0b78cf;
}
.scopepEsmart .classification {
  height: 10px;
  width: 10px;
  vertical-align: middle;
}
.scopepEsmart .classification.rounded {
  border-radius: 100%;
}
.scopepEsmart .classification.problem, .scopepEsmart .classification.outlier {
  background: #FA4F01;
}
.scopepEsmart .classification.alert {
  background: #FBAC45;
}
.scopepEsmart .classification.satisfactory {
  background: #8DDD13;
}
.scopepEsmart .indicator {
  height: 15px;
  width: 15px;
}
.scopepEsmart .indicator.pv {
  background: #000000;
}
.scopepEsmart .indicator.ac, .scopepEsmart .indicator.spi {
  background: #00DBA5;
}
.scopepEsmart .indicator.ev, .scopepEsmart .indicator.cpi {
  background: #FFB142;
}
.scopepEsmart .indicator.pva, .scopepEsmart .indicator.spia {
  background: #BE4288;
}
.scopepEsmart .indicator.eva, .scopepEsmart .indicator.cpia {
  background: #AEAEAE;
}
.scopepEsmart .status {
  height: 18px;
  width: 18px;
}
.scopepEsmart .status.active {
  background: url("../Images/icons/statusActive.png") no-repeat;
}
.scopepEsmart .status.mitigated {
  background: url("../Images/icons/statusMitigated.png") no-repeat;
}
.scopepEsmart .operationMemberContainer {
  background: #EEEEEE;
  font-size: 0.8em;
}
.scopepEsmart .blackLink {
  color: #000000;
  text-decoration: underline !important;
}
.scopepEsmart .allTeam {
  background: url("../Images/icons/teamIcon.png") no-repeat;
  color: #000000;
  font-size: 0.75em;
  padding: 0 20px;
  text-decoration: underline !important;
}
.scopepEsmart #notificationQty {
  background: #3275C7;
  color: #FFFFFF;
  padding: 0.2em 0.3em;
}
.scopepEsmart .notificationButton {
  background-color: #ffffff;
  border-radius: 5px;
  color: #656668;
  cursor: pointer;
  height: 29px;
  padding: 0 15px;
}
.scopepEsmart .notificationButton.active {
  background: #1F396C;
  color: #FFFFFF;
  border-color: #1F396C;
}
.scopepEsmart .notificationQty {
  font-weight: bold;
  padding: 0 18px 0 0;
}
.scopepEsmart #readUnread {
  background: url("../Images/icons/readUnreadIcon.png") no-repeat 5px center;
  padding: 0 7px 0 37px;
}
.scopepEsmart .workflowNotification {
  background: url("../Images/icons/leftArrowBlack.png") no-repeat 5px center;
  padding-left: 25px;
}
.scopepEsmart .expanded .workflowNotification {
  background: url("../Images/icons/leftArrowWhite.png") no-repeat 5px center;
}
.scopepEsmart .notification .title {
  color: #000000;
}
.scopepEsmart .notification .expanded .title {
  color: #FFFFFF;
}
.scopepEsmart .unread .title {
  font-weight: bold;
}

.commentsIcon {
background-image: url("../Images/Icons/comment_blue.png");
display: block;
width: 16px;
height: 16px;
margin-right: 7px;
margin-top: 2px;
}
