/*
    All @font-face declarations should be here

    TODO: Add WOFF2 fonts
    Sample with Woff2
     @font-face {
        font-family: 'OpenSans-Bold';
        src:  url('myfont.woff2') format('woff2'),
              url('../fonts/OpenSans/Bold/OpenSans-Bold.woff') format('woff');
    }    
*/

/*Open Sans*/
@font-face {
  font-family: 'OpenSans-Regular';
  src: local("☺"),url('../fonts/OpenSans/Regular/OpenSans-Regular.woff') format('woff');
}
@font-face {
  font-family: 'OpenSans-Bold';
  src: local("☺"),url('../fonts/OpenSans/Bold/OpenSans-Bold.woff') format('woff');
}
@font-face {
  font-family: 'OpenSans-Semibold';
  src: local("☺"),url('../fonts/OpenSans/Semibold/OpenSans-Semibold.woff') format('woff');
}
@font-face {
  font-family: 'OpenSans-Italic';
  src:  url('../fonts/OpenSans/Italic/OpenSans-Italic.woff') format('woff');
}
@font-face {
  font-family: 'OpenSans-Light';
  src: local("☺"),url('../fonts/OpenSans/Light/OpenSans-Light.woff') format('woff');
}

/*
    Commented for performance, enable them if needed

  @font-face {
  font-family: 'OpenSans-BoldItalic';
  src: local("☺"),url('../fonts/OpenSans/BoldItalic/OpenSans-BoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: local("☺"),url('../fonts/OpenSans/ExtraBold/OpenSans-ExtraBold.woff') format('woff');
}
@font-face {
  font-family: 'OpenSans-ExtraBoldItalic';
  src: local("☺"),url('../fonts/OpenSans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'OpenSans-LightItalic';
  src: local("☺"),url('../fonts/OpenSans/LightItalic/OpenSans-LightItalic.woff') format('woff');
}


@font-face {
  font-family: 'OpenSans-SemiboldItalic';
  src: local("☺"),url('../fonts/OpenSans/SemiboldItalic/OpenSans-SemiboldItalic.woff') format('woff');
}*/
