@charset "utf-8";

/* *************************************************************************** */
/* Proyecto: BID                                                         */
/* Título: general.css		                     							   */
/* Desripción: Directrices comunes para la estructura general   			   */
/* ****************************************************************************/

/*----------------- RESET ----------------------------------------------------------*/

html, body, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, strong, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, input, legend, table, caption, tbody, tfoot, thead, tr, th, td, div {
    margin: 0;
    padding: 0;
    border: none;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

ul, ol, dl {
    list-style: none;
}

body {
    font-size: 100%;
    background: #F8F8F8;
}

/* ------------ INCRUSTACIÓN DE FUENTE: Ejemplo con "PROTOTYPE" ------------------------------- */
@font-face {
    font-family: "OpenSans-Regular";
    src: url("open-sans/OpenSans-Regular.eot"); /*COMANDO PARA IMPORTACIÓN DE FUENTE EN IE, DESDE IE4 HASTA IE8, SIEMPRE SE PONE PRIMERO ESTE COMANDO!! */
    src: url('open-sans/OpenSans-Regular.eot?#OpenSans-Regular') format('embedded-opentype'), url('open-sans/OpenSans-Regular.woff') format('woff'), url('open-sans/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url("open-sans/OpenSans-Bold.eot"); /*COMANDO PARA IMPORTACIÓN DE FUENTE EN IE, DESDE IE4 HASTA IE8, SIEMPRE SE PONE PRIMERO ESTE COMANDO!! */
    src: url('open-sans/OpenSans-Bold.eot?#OpenSans-Bold') format('embedded-opentype'), url('open-sans/OpenSans-Bold.woff') format('woff'), url('open-sans/OpenSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans-Semibold";
    src: url("open-sans/OpenSans-Semibold.eot"); /*COMANDO PARA IMPORTACIÓN DE FUENTE EN IE, DESDE IE4 HASTA IE8, SIEMPRE SE PONE PRIMERO ESTE COMANDO!! */
    src: url('open-sans/OpenSans-Semibold.eot?#OpenSans-Semibold') format('embedded-opentype'), url('open-sans/OpenSans-Semibold.woff') format('woff'), url('open-sans/OpenSans-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans-Italic";
    src: url("open-sans/OpenSans-Italic.eot"); /*COMANDO PARA IMPORTACIÓN DE FUENTE EN IE, DESDE IE4 HASTA IE8, SIEMPRE SE PONE PRIMERO ESTE COMANDO!! */
    src: url('open-sans/OpenSans-Italic.eot?#OpenSans-Italic') format('embedded-opentype'), url('open-sans/OpenSans-Italic.woff') format('woff'), url('open-sans/OpenSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans-Light";
    src: url("open-sans/OpenSans-Light.eot"); /*COMANDO PARA IMPORTACIÓN DE FUENTE EN IE, DESDE IE4 HASTA IE8, SIEMPRE SE PONE PRIMERO ESTE COMANDO!! */
    src: url('open-sans/OpenSans-Light.eot?#OpenSans-Light') format('embedded-opentype'), url('open-sans/OpenSans-Light.woff') format('woff'), url('open-sans/OpenSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans-BoldItalic";
    src: url("open-sans/OpenSans-BoldItalic.eot"); /*COMANDO PARA IMPORTACIÓN DE FUENTE EN IE, DESDE IE4 HASTA IE8, SIEMPRE SE PONE PRIMERO ESTE COMANDO!! */
    src: url('open-sans/OpenSans-Light.eot?#OpenSans-BoldItalic') format('embedded-opentype'), url('open-sans/OpenSans-BoldItalic.woff') format('woff'), url('open-sans/OpenSans-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "entypo";
    src: url("entypo/entypo.eot"); /*COMANDO PARA IMPORTACIÓN DE FUENTE EN IE, DESDE IE4 HASTA IE8, SIEMPRE SE PONE PRIMERO ESTE COMANDO!! */
    src: url('entypo/entypo.eot?#entypo') format('embedded-opentype'), url('entypo/entypo.woff') format('woff'), url('entypo/entypo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "entypo-social";
    src: url("entypo/entypo-social.eot"); /*COMANDO PARA IMPORTACIÓN DE FUENTE EN IE, DESDE IE4 HASTA IE8, SIEMPRE SE PONE PRIMERO ESTE COMANDO!! */
    src: url('entypo/entypo-social.eot?#entypo-social') format('embedded-opentype'), url('entypo/entypo-social.woff') format('woff'), url('entypo/entypo-social.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "awesome";
    src: url("awesome/awesome.eot"); /*COMANDO PARA IMPORTACIÓN DE FUENTE EN IE, DESDE IE4 HASTA IE8, SIEMPRE SE PONE PRIMERO ESTE COMANDO!! */
    src: url('awesome/awesome.eot?#awesome') format('embedded-opentype'), url('awesome/awesome.woff') format('woff'), url('awesome/awesome.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, a, h1, h2, h3, h4, h5, h6, table, p {
    font-family: "OpenSans-Regular";
}


/* ------------- ENLACES, ENCABEZADOS, TITULARES Y PÁRRAFOS ------------------------------ */

/* ENLACES */
a {
    font-family: "OpenSans-Regular";
    color: #3B73C3;
}

    a:link {
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }
    /* cuando un link es visitado recupera el color original del link */
    a:hover {
        text-decoration: none;
        color: #264A7F;
    }

    a:focus {
        text-decoration: none;
    }

    a:active {
        text-decoration: none;
        color: #264A7F;
    }

    a:disabled {
        text-decoration: underline;
        color: #999999;
    }

.enlace {
    font-size: 14px;
}

/* ENCABEZADOS CON Y SIN ENLACE */
h1, h2, h3, h4, h5, h6 {
}

    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
        color: inherit;
    }

h1 {
}

h2 {
}

h3 {
}

h4 {
}

h5 {
}

.headingh1, .headingh2, .headingh3, .headingh4, .headingh5 {
    font-family: "OpenSans-Light";
    color: #333333;
}

.headingh1 {
    font-size: 2.5em;
}

.headingh2 {
    font-size: 2em;
    margin: 1.575em 0 1.875em 0.95em;
}

.headingh3 {
    font-size: 1.5em;
    margin: 0 0 1.675em 2.08em;
}

.headingh4 {
    font-size: 1.125em;
}

.headingh5 {
    font-size: 0.875em;
    font-family: "OpenSans-Regular";
}

.tipo1 {
    background: url("../Images/general/headings/flecha-izquierda-azul.png") no-repeat 0.5em 0.6em transparent;
    padding: 0 0 0 1.28em;
    color: #333333;
    font-family: "OpenSans-Light";
}

    .tipo1:hover {
        background: url("../Images/general/headings/flecha-izquierda-azul.png") no-repeat 0.4em 0.6em transparent;
        color: #333333;
    }

    .tipo1:active, .tipo1.activo {
        background: url("../Images/general/headings/flecha-izquierda-azul-activo.png") no-repeat 0em 0.386em transparent;
        padding: 0 0 0 1.28em;
        color: #333333;
    }

.desheadingh3 {
    float: left;
    width: 70%;
    margin: 0.95em 0 0 4.7%;
}

    .desheadingh3 .title {
        color: #333333;
        font-family: "OpenSans-Bold";
        font-size: 0.875em;
    }

        .desheadingh3 .title .draft {
            padding: 0 2.5em;
        }

        .desheadingh3 .title .titleTo {
            font-family: "OpenSans-Regular";
        }

    .desheadingh3 .description {
        color: #999999;
        font-family: "OpenSans-Regular";
        font-size: 0.875em;
    }

        .desheadingh3 .description .descriptionBold {
            font-family: "OpenSans-Bold";
        }

/* TITULARES */
/*[Estilos especificos para todos los titulares de la aplicación]*/

/* SUBTITULARES */
/*[Estilos especificos para todos los subtitulares de la aplicación]*/

/* PÁRRAFOS */
p {
}

/* FONT-FAMILY */
.ffamilyRegular {
    font-family: "OpenSans-Regular;";
}

.ffamilyBold {
    font-family: "OpenSans-Bold;";
}

.ffamilyItalic {
    font-family: "OpenSans-Italic;";
}

.ffamilySemiBold {
    font-family: "OpenSans-SemiBold;";
}



/*------------ CLASES GENÉRICAS ---------------------*/
.w250 {
    width: 250%!important;
}

.w200 {
    width: 200%!important;
}

.w150 {
    width: 150%!important;
}

.w100 {
    width: 100%!important;
}

.w98-7 {
    width: 98.7%;
}

.w98 {
    width: 98%;
}

.w97-7 {
    width: 97.7%;
}

.w97-2 {
    width: 97.2%;
}

.w96 {
    width: 96%;
}

.w95 {
    width: 95%;
}

.w92-6 {
    width: 92.6%;
}

.w90 {
    width: 90%;
}

.w88 {
    width: 88%!important;
}

.w82 {
    width: 82%!important;
}

.w80 {
    width: 80%!important;
}

.w75 {
    width: 75%;
}

.w73 {
    width: 73%;
}

.w70 {
    width: 70%;
}

.w69-5 {
    width: 69.5%;
}

.w67 {
    width: 67%!important;
}

.w65-5 {
    width: 65.5%;
}

.w63Con6 {
    width: 63.6%!important;
}

.w60 {
    width: 60%;
}

.w50 {
    width: 50%!important;
}

.w48 {
    width: 48%!important;
}

.w45 {
    width: 45%!important;
}

.w40 {
    width: 40%!important;
}

.w38-6 {
    width: 38.6%;
}

.w38 {
    width: 38%;
}

.w37 {
    width: 37%;
}

.w34 {
    width: 34%;
}

.w33 {
    width: 33%;
}

.w32-5 {
    width: 32.5%;
}

.w31-5 {
    width: 31.5%;
}

.w30 {
    width: 30%!important;
}

.w25 {
    width: 25%;
}

.w24 {
    width: 24%;
}

.w23 {
    width: 23%;
}

.w20 {
    width: 20%;
}

.w19-4 {
    width: 19.4%;
}

.w18-4 {
    width: 18.4%;
}

.w18 {
    width: 18%;
}

.w15 {
    width: 15%;
}

.w16 {
    width: 16%;
}

.w17 {
    width: 17%;
}

.w10 {
    width: 10%;
}

.wAuto {
    width: auto;
}

h100 {
    height: 100%;
}

.ftl {
    float: left!important;
}

.ftr {
    float: right!important;
}

.ftn {
    float: none!important;
}

.marginLeft10 {
    margin-left: 10%;
}

.marginLeft5 {
    margin-left: 5%;
}

.marginLeft3 {
    margin-left: 3%;
}

.marginLeft2-2 {
    margin-left: 2.2%;
}

.marginLeft1 {
    margin-left: 1%;
}

.marginLeft4Con7 {
    margin-left: 4.7%;
}

.marginRight3 {
    margin-right: 3%!important;
}

.marginRight7 {
    margin-right: 7%;
}

.marginRight5 {
    margin-right: 5%;
}

.marginSides3-1 {
    margin: 0 3% 0 2%;
}

.no_marginRight {
    margin-right: 0!important;
}

.marginRight2Con5 {
    margin-right: 2.5%;
}

.no_marginTop {
    margin-top: 0!important;
}

.marginTop1Con25 {
    margin-top: 1.25em!important;
}

.marginTop-1em {
    margin-top: -1em!important;
}

.marginTop2Bottom1 {
    margin-top: 2em!important;
    margin-bottom: 1em!important;
}

.marginBottom1Con25 {
    margin-bottom: 1.25em!important;
}

.marginBottom2 {
    margin-bottom: 2em!important;
}

.marginBottom2Con8 {
    margin-bottom: 2.8em!important;
}

.margin20-10 {
    margin: 20px 10px;
}

.margin5 {
    margin: 5px;
}

.paddingTop0Con3 {
    padding-top: 0.3em;
}

.paddingBottom2 {
    padding-bottom: 2em;
}

.borderLateralIzquierdo {
    border-left: solid 1px #000;
    padding-left: 0.2em;
}

.borderLateralIzquierdo {
    border-left: solid 1px #000;
    padding-left: 0.2em;
}

.hide {
    display: none!important;
}

.hideNI {
    display: none;
}

.show {
    display: block;
}

.showIM {
    display: block!important;
}

.inline {
    display: inline;
}

.hidden {
    visibility: hidden;
}

.no_border {
    border: none !important;
}

.clearBoth {
    clear: both;
}

.no_padding {
    padding: 0 !important;
}

.no_margin {
    margin: 0 !important;
}

.bold {
    font-weight: bold;
}

.textIndent-1000000 {
    text-indent: -1000000px;
}

.height5 {
    height: 5em;
}

.height0Con1em {
    height: 0.1em;
}

.backgroundFFFFFF {
    background-color: #FFFFFF!important;
}
/*-----------------CONTENEDOR GENERAL -------------------------------------*/
.contenedor_general {
    width: 100%;
    height: 100%;
    float: left;
    background-color: #F8F8F8;
}

* + html .contenedor_general {
    width: 99.95%;
}

/*---------------- CONTENEDORES PRINCIPALES ------------------------------------*/

.wrapper {
    margin: 0 auto; /* centra el contenido de la pagina */

}
/* Contenedor envolvente del contenido */


/* --------------- CABECERA ----------------------------------------------------------- */
.cabecera {
    min-width: 80em;
    width: 100%;
    background-color: #1E396C;
    float: left;
}

/* --------------- CONTENIDO ----------------------------------------------------------- */
.contenido {
    width: 100%;
    padding: 0;
    float: left;

}

.contenidoSmall {
    background-color: #FFFFFF;
}

/* --------------- PIE -----------------------------------------------------------------*/
.pie {
    width: 100%;
    float: left;
}


/* -------------- LAYOUTS DE COLUMNAS ------------------------------------------------- */

/* DEFINICIÓN DE COLUMNAS AUXILIARES IZQUIERDA Y DERECHA */

.izquierda {
    width: 16.2%;
    position: relative;
    z-index: 1;
    display: table-cell;
    vertical-align: top;
    background-color: #0977CF;
}

.derecha {
    float: right;
    width: 33.3%;
    position: relative;
    z-index: 1;
}

/* LAYOUT TRES COLUMNAS */
.layoutTresCols .central {
    padding: 0 34% 0% 34%;
}

/* LAYOUT DOS COLUMNAS CON COLUMNA DERECHA */
.layoutDosColsDcha .central {
    display: table-cell;
    padding: 0% 0 0% 0%;
}

/* LAYOUT DOS COLUMNAS CON COLUMNA IZQUIERDA */
.layoutDosColsIzda .central {
    display: table-cell;
    padding: 0 0 0 0;
}

/* LAYOUT UNA COLUMNA CENTRAL */
.central {
    padding: 0% 0% 0% 0%;
    background-color: #ffffff;
}

#addressSuggestion {
    display: block;
    position: relative;
}

.ui-autocomplete {
    position: absolute;
}

.geloLocationAddressScrollBarclass {
    width: 200px;
    height: 50px;
    overflow: auto;
}

.marginBottom3 {
    margin-bottom: 3em!important;
}

#footerVersionContainer {
    position: absolute;
    bottom: 0;
    width: 98%;
    text-align: right;
}

#footerVersionContainer p {
    font-weight: bolder;
    font-family: "OpenSans-Bold";
    font-size: 0.78em;
    color: #D8D8D8;
}

/*Exportbutton*/
.exportdata { 
    width:35px;
    height:35px;
    border:none;
    display: inline-block;
    position: relative;
    line-height: normal;
    margin-right: .1em;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    overflow: visible;
    background:none;
}
.exportdata.excel { 
    background: url('../Images/icons/export_Excel.png') no-repeat 90% center;
}
.exportdata.pdf { 
    background: url('../Images/icons/export_pdf.png') no-repeat 90% center;
}
.exportdata.excel:hover { 
    background: url('../Images/icons/export_Excel_Hover.png') no-repeat 90% center;
}
.exportdata.pdf:hover { 
    background: url('../Images/icons/export_pdf_Hover.png') no-repeat 90% center;
}
.trasladar{
    background: url('../Images/icons/btnBuscar.png') #3275c7;
    width:42px;
    height:35px;
    background-position-x:12px;
    background-position-y:10px;
    background-repeat:no-repeat;
    border-radius:5px;

}
.loadingdatawarning { 
    /*background: url('../Images/Modulos/ResultsMatrix/ajax-bar-loader.gif') no-repeat 85% center;
    background: url('../Content/kendo/metroblack/loading-image.gif') no-repeat 85% center;*/
    height: 50px;
    text-align: right;
    font-size: 12px;
    background: url('images/convergence-loading-3.gif') no-repeat 80% center;
    width:400px;
}

.styleContentReport {
    text-align: right;
    width: 97%;
}

#labelForOtherDisbursement {
    position: absolute;
    margin-top: 2.3em;
    display:none;
    margin-left: 1em;
}

.fl{
    float: left;
}

#dem-block-description {
    font-weight: bold; 
    font-size: 14px; 
    color: black;
    line-height: 100%;
}

#dem-block-description-outputs {
    font-weight: bold; 
    font-size: 14px; 
    color: black;
    line-height: 100%;
    padding-left: 2%;
}

.messi {
    top: 10% !important;
}