@keyframes vex-fadein
{
    /* line 9, ../sass/_keyframes.sass */
    0%
    {
        opacity: 0;
    }
    /* line 11, ../sass/_keyframes.sass */
    100%
    {
        opacity: 1;
    }
}

@-webkit-keyframes vex-fadein
{
    /* line 9, ../sass/_keyframes.sass */
    0%
    {
        opacity: 0;
    }
    /* line 11, ../sass/_keyframes.sass */
    100%
    {
        opacity: 1;
    }
}

@-moz-keyframes vex-fadein
{
    /* line 9, ../sass/_keyframes.sass */
    0%
    {
        opacity: 0;
    }
    /* line 11, ../sass/_keyframes.sass */
    100%
    {
        opacity: 1;
    }
}

@-ms-keyframes vex-fadein
{
    /* line 9, ../sass/_keyframes.sass */
    0%
    {
        opacity: 0;
    }
    /* line 11, ../sass/_keyframes.sass */
    100%
    {
        opacity: 1;
    }
}

@-o-keyframes vex-fadein
{
    /* line 9, ../sass/_keyframes.sass */
    0%
    {
        opacity: 0;
    }
    /* line 11, ../sass/_keyframes.sass */
    100%
    {
        opacity: 1;
    }
}

@keyframes vex-fadeout
{
    /* line 16, ../sass/_keyframes.sass */
    0%
    {
        opacity: 1;
    }
    /* line 18, ../sass/_keyframes.sass */
    100%
    {
        opacity: 0;
    }
}

@-webkit-keyframes vex-fadeout
{
    /* line 16, ../sass/_keyframes.sass */
    0%
    {
        opacity: 1;
    }
    /* line 18, ../sass/_keyframes.sass */
    100%
    {
        opacity: 0;
    }
}

@-moz-keyframes vex-fadeout
{
    /* line 16, ../sass/_keyframes.sass */
    0%
    {
        opacity: 1;
    }
    /* line 18, ../sass/_keyframes.sass */
    100%
    {
        opacity: 0;
    }
}

@-ms-keyframes vex-fadeout
{
    /* line 16, ../sass/_keyframes.sass */
    0%
    {
        opacity: 1;
    }
    /* line 18, ../sass/_keyframes.sass */
    100%
    {
        opacity: 0;
    }
}

@-o-keyframes vex-fadeout
{
    /* line 16, ../sass/_keyframes.sass */
    0%
    {
        opacity: 1;
    }
    /* line 18, ../sass/_keyframes.sass */
    100%
    {
        opacity: 0;
    }
}
.vex
{
    -webkit-overflow-scrolling: touch;
    bottom: 0;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
}

/* line 25, ../sass/vex.sass */

.vex-overlay
{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    background: black;
    filter: alpha(opacity=40);
}

/* line 30, ../sass/vex.sass */

.vex-overlay
{
    -moz-animation: vex-fadein 0.5s;
    -ms-animation: vex-fadein 0.5s;
    -o-animation: vex-fadein 0.5s;
    -webkit-animation: vex-fadein 0.5s;
    -webkit-backface-visibility: hidden;
    animation: vex-fadein 0.5s;
    background: rgba(0, 0, 0, 0.4);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}