.help-urlBox {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}

.help-titleBox {
    clear: both;
    display: block;
    float: left;
    padding: 3px 10px 3px 0px;
    width: 30px;
}

    .help-titleBox label {
        color: rgb(59,115,195);
    }

.help-contentBox {
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: rgb(34,118,204);
    display: block;
    float: left;
    min-height: 26px;
    padding: 3px 0px 3px 10px;
    width: calc(100% - 30px);
}

        .help-contentBox label {
            cursor: pointer;
            font-style: italic;
            text-align: left;
            word-break: break-all;
        }

                .help-contentBox label:hover {
                    color: rgb(59,115,195);
                }

        .help-contentBox a { 
            text-decoration: none; 
        }

.help-hide {
    display: none;
}

.help-floatCenter {
    display: block;
    text-align: center;
}

.help-table label {
    font-size: 14px !important;
}

.help-table tbody tr td {
    vertical-align: middle;
}

.help-table tbody tr td .buttonTrash {
    margin-top: 0;
}

.help-multiline {
    white-space: pre-wrap;
}