/* ****************************************************************************/
/* Proyecto: BID                                                              */
/* Titulo: loading.css                                                        */
/* Desripcion: Estilos para los iconos loading en general a las pantallas     */
/* ****************************************************************************/
/* COLORES PROYECTO BID*/
/* ICONO LOADIND */

/*--------------------------------------------*/
/*Iconos*/
.ico_ajuste {
    background: url("../Images/General/header/herramientas.png") no-repeat scroll 0.8em 0.8em transparent;
    text-indent: -10000px;
}

    .ico_ajuste:hover {
        background: url("../Images/General/header/herramientas_hover.png") no-repeat scroll 0.8em 0.8em #22509d;
    }

.ico_check_green {
    background: url("../Images/Modulos/modal/ico_check_green.png") no-repeat scroll 0px 0px transparent;
    position: absolute;
    top: -8px;
    left: 95%;
    width: 20px;
    height: 20px;
    text-indent: -100000px;
    display: none;
}

.ico_team {
    background: url("../Images/Contenido/basicdata/ico_team.png") no-repeat scroll 0 0 transparent;
    text-indent: -1000000px;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0 0.3em 0 0;
}

.ico_cruz_azul {
    background: url("../Images/Modulos/tables/cruz_azul.png") no-repeat scroll 0.8em 0.8em transparent;
}

.ico_close_azul {
    background: url("../Images/Modulos/filter/ico-close-azul.png") no-repeat right center transparent;
}

    .ico_close_azul:hover {
        background: url("../Images/Modulos/filter/ico-close-azul-hover.png") no-repeat right center transparent;
    }

    .ico_close_azul:active {
        background: url("../Images/Modulos/filter/ico-close-azul-active.png") no-repeat right center transparent;
    }

/*Loader Kendo*/
.loading-window {
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    line-height: 100px !important;
}
