@charset "UTF-8";
/* ****************************************************************************/
/* Proyecto: BID                                                              */
/* T├¡tulo: navegacion.css                                                    */
/* Desripci├│n: Estilos de menus y navegaciones de la web                     */
/* ****************************************************************************/
/* COLORES PROYECTO BID*/
/* BOTON SEARCH */
/* BOTONES PRIMARIOS */
/* TH DE TABLAS */
/*-------------------------- MENU LISTAS DESPLEGABLES --------------------------*/
.navMenuPrincipal { width: 100%; float: left; }

.menu_listas_desplegables { position: relative; float: left; width: 100%; background-color: #0977CF; display: block; }
.menu_listas_desplegables ul.level_1 { float: left; width: 100%; }
.menu_listas_desplegables ul.level_1 a { float: left; color: #FFFFFF; text-decoration: none; }
.menu_listas_desplegables ul.level_1 a:hover { float: left; color: #000000; text-decoration: none; }
.menu_listas_desplegables ul.level_1 li.item_level_1 { float: left; display: block; margin-top: 0.7em; font-size: 1em; margin-left: 2.3%; }
.menu_listas_desplegables ul.level_1 li.item_level_1:hover, .menu_listas_desplegables ul.level_1 li.item_level_1:active { float: left; display: block; background-color: #006ec5; color: #FFFFFF; border-radius: 0.625em 0.625em 0 0; }
.menu_listas_desplegables .item_level_1:hover .level_2 { display: block; float: left; }
.menu_listas_desplegables ul.level_1 li.item_level_1 a { padding: 0.6em 1.5em; float: left; min-height: 1.45em; }
.menu_listas_desplegables ul.level_1 li.item_level_1:hover a, .menu_listas_desplegables ul.level_1 li.item_level_1 a:hover { color: #FFFFFF; }
.menu_listas_desplegables ul.level_2 { float: left; width: 100%; display: none; position: absolute; top: 3.1em; left: 0; background: none; padding-top: 0.8em; }
.menu_listas_desplegables ul.level_2 li.item_level_2 { float: left; position: relative; padding-left: 1.9%; }
.menu_listas_desplegables ul.level_2 li.item_level_2:hover { border-bottom: 1px solid #fff; background: none; }
.menu_listas_desplegables ul.level_2 li.item_level_2 a { padding: 0.5em 1em; text-align: center; color: #3c74c3 !important; font-size: 0.875em; background: none; }
.menu_listas_desplegables ul.level_2 li.item_level_2 a:hover { color: black !important; }
.menu_listas_desplegables ul.level_2 li.item_level_2 a:active { color: black !important; font-family: "OpenSans-Bold"; }
.menu_listas_desplegables ul.level_1 li.item_level_1.sel a { color: #000; float: left; }
.menu_listas_desplegables ul.level_1 li.item_level_1.sel ul.level_2 { display: block; float: left; }
.menu_listas_desplegables ul.level_2 li.item_level_2.sel a { color: black !important; font-family: "OpenSans-Bold"; }
.menu_listas_desplegables ul.level_1.sel { display: block; }
.menu_listas_desplegables ul.level_1 li.item_level_1.sel { background-color: #FFFFFF; box-shadow: 0 -2px 4px -2px #1E396C; float: left; border-radius: 0.625em 0.625em 0 0; }

/*JQuery*/
.navMenuPrincipal .submenu { float: left; width: 100%; min-height: 2.8em; background-color: #FFFFFF; border-bottom: 1px solid #EDEFF2; }

/*-------------------------- FIN MENU LISTAS DESPLEGABLES --------------------------*/
/*-------------------------- MAXIMIZABLE  --------------------------*/
.menu_max {
    display: block;
    float: right;
    background-color: #4800ff;
    width: 24px;
    height: 24px;
    margin: 0.45em 1em 0 0;
    cursor: pointer;
    background: url("../Images/Icons/fullScreen.png") no-repeat 0 0;
}
.max {
    background: url("../Images/Icons/fullScreen.png") no-repeat 0 -20px;
}
/*-------------------------- FIN MAXIMIZABLE  --------------------------*/
/*---------------- NAVEGACION HERRAMIENTAS -----------------------*/
/*DESPEGABLES CABECERAS*/
/*BOTON DE AJUSTES*/
.navAjustes { width: 28%; float: right; }
.navAjustes li { width: 100%; position: relative; float: right; display: block; }
.navAjustes a { padding: 0.52em 0 0.6em; width: 100%; min-height: 12px; float: left; }

/*DESPEGABLES CABECERAS*/
.botonDespegable { position: relative; }
.botonDespegable .level2 { display: none; z-index: 9999; }
.botonDespegable ul { width: 100%; position: absolute; left: 0; font-size: 1.1em; background: #fff; top: 2.1em; float: left; }
.botonDespegable .botonDespliegue { width: 0.5em; padding: 0; text-indent: -2000px; }
.botonDespegable ul.listado_normal { background: #22509D; width: 8.3em; z-index: 9999; text-indent: 0; }
.botonDespegable ul.listado_normal li { background: none repeat scroll 0 0 #22509D; border: medium none; display: block; float: left; padding: 0 0 0 1em; position: relative; width: 88%; }

/*LISTADOS DESPEGABLES CABECERA*/
.listado_normal li div { width: 100%; float: left; }

.botonDespegable ul.listado_normal li div a { color: #fff; margin: 0; padding: 0; padding-left: 1em; font-size: 0.7em; text-indent: 0; }
.botonDespegable ul.listado_normal li.first .primerEnlace { float: right; background: none; font-size: 0.7em; }
.botonDespegable ul.listado_normal li div p { float: left; font-size: 0.7em; padding-left: 1.6em; color: #ccc; }
.botonDespegable ul.listado_normal li.first .primerParrafo { padding-left: 0em; font-weight: bold; color: #fff; font-size: 0.7em; padding-top: 0.8em; padding: 6% 6% 0 6%; width: 88%; }
.botonDespegable ul.listado_normal li.first div { border-bottom: 1px solid #555; float: left; padding-bottom: 0.3em; width: 100%; margin-bottom: 0.6em; }
.botonDespegable ul.listado_normal li img { width: 48px; height: 43px; margin-left: 0; float: left; border: 1px solid #dfdfdf; border-radius: 2px; }
.botonDespegable ul.listado_normal li .contenedorConImagen { color: #FFFFFF; font-size: 0.8em; width: 82.5%; float: left; padding: 0.7em 0 0.7em 1.6em; }
.botonDespegable ul.listado_normal li.first .contenedorConImagen { border: none; width: 75%; margin: 0; }
.botonDespegable ul.listado_normal li a.contenedorConImagen.activo { font-family: "OpenSans-Bold"; background: url("../Images/general/navegacion/rectangulo_amarillo_fino.png") no-repeat scroll 0.2em 0.7em #22509d; }
.botonDespegable ul.listado_normal li a.contenedorConImagen:hover { background: #0E2A52; }
.botonDespegable ul.listado_normal li.first .contenedorConImagen a { background: none; }
.botonDespegable ul.listado_normal li.last { background: #1E396C; padding: 0; width: 83.2%; padding-left: 0.7em; padding-right: 0.7em; }
.botonDespegable ul.listado_normal li.last div { border-top: 1px solid #555; float: left; width: 100%; margin-top: 0.6em; padding-top: 0.3em; }
.botonDespegable ul.listado_normal li.last a { background: none; padding-left: 0; text-decoration: none; }
.botonDespegable ul.listado_normal li.last a.fontMenos { float: left; width: 33%; text-align: center; padding: 0.76em 0; }
.botonDespegable ul.listado_normal li.last a.fontNormal { float: left; width: 33%; text-align: center; padding: 0.8em 0 0.75em; }
.botonDespegable ul.listado_normal li.last a.fontMas { float: left; width: 33%; text-align: center; padding: 0.5em 0 0.65em; }
.botonDespegable ul.listado_normal li.last a:hover { background-color: #0E2A52; box-shadow: 0 3px 3px -3px #0E2A52; }
.botonDespegable ul.listado_normal li.last .fontMenos span { font-size: 0.7em; color: #FFFFFF; }
.botonDespegable ul.listado_normal li.last .fontNormal span { font-size: 1em; color: #FFFFFF; font-family: "OpenSans-Bold"; }
.botonDespegable ul.listado_normal li.last .fontMas span { font-size: 1.25em; color: #FFFFFF; }
.botonDespegable ul.listado_normal li.last .fontMenos span.activo, .botonDespegable ul.listado_normal li.last .fontNormal span.activo, .botonDespegable ul.listado_normal li.last .fontMas span.activo { color: #FFB23F; }
.botonDespegable ul.listado_seguir { width: 8.1em; left: -5.5em; background: url("../Images/cabecera/modulos/menu_sup/flechaBg.png") no-repeat scroll 6.3em top transparent; }
.botonDespegable ul.listado_seguir a { width: 100%; float: left; padding-top: 0.5em; padding-bottom: 0.5em; color: #FFF; font-size: 0.68em; }
.botonDespegable:hover .level2 { display: block; }

/*HOVER PARA LOS DESPEGABLES DE LOS MENUS TANTO DE CABECERA COMO SUBMENU*/
/* FIN MEN├Ü DE NAVEGACI├ôN CABECERA*/
/*---------------- FIN NAVEGACION HERRAMIENTAS -----------------------*/
/*-- MENU SECUNDARIO --*/
.menu_secundario { position: relative; float: left; width: 100%; background-color: #FFFFFF; border-bottom: 1px solid #CBDCF2; }
.menu_secundario ul.level_1 { width: 96.9%; margin-left: 3.15%; background: none; }
.menu_secundario ul.level_1 li.level_1 { float: left; position: relative; }
.menu_secundario ul.level_1 li.level_1:hover { border-bottom: 1px solid #fff; background: none; }
.menu_secundario ul.level_1 li.level_1 a { padding: 0.5em 1em; min-width: 5.9em; text-align: center; color: #000000; font-size: 0.875em; background: none; }
.menu_secundario ul.level_1 li.item_level_1 { width: 15%; float: left; padding-left: 0.6%; }
.menu_secundario ul.level_1 li.item_level_1:first-child { padding-left: 0; }
.menu_secundario ul.level_1 li.item_level_1 a { float: left; padding: 0.5em 1em 0.5em 0.5em; color: #3C74C3; font-size: 0.875em; }
.menu_secundario ul.level_1 li.item_level_1 a:hover { color: #000000; }
.menu_secundario ul.level_1 li.item_level_1 a:active { float: left; position: absolute; padding-bottom: 1em; color: #000000; z-index: 999; background: none; font-family: "OpenSans-Bold"; background: url("../Images/general/navegacion/flecha_abajo_azul.png") no-repeat scroll center bottom transparent; }
.menu_secundario ul.level_1 li.item_level_1.sel { float: left; width: 15%; padding: 0 0 0.1em; }
.menu_secundario ul.level_1 li.item_level_1.sel a { float: left; position: absolute; padding-bottom: 1em; z-index: 9; font-family: "OpenSans-Bold"; color: #000000; background: url("../Images/general/navegacion/flecha_abajo_azul.png") no-repeat scroll center bottom transparent; }
.menu_secundario ul.level_1 li.item_level_1 span.numero { float: left; font-family: "OpenSans-Bold"; font-size: 0.75em; border: 1px solid #CADCF3; border-radius: 0.6em; padding: 0 6.5%; margin: 0.6em 0; text-align: center; min-height: 1.5em; }

/*-- FIN MENU SECUNDARIO --*/
/*------------------------------ NAVEGACION LATERAL ------------------------*/
.lista_desplegable_b { position: relative; float: left; width: 100%; background-color: #0977CF; }
.lista_desplegable_b ul.level1 { position: relative; float: left; width: 100%; overflow: hidden; }
.lista_desplegable_b li { display: block; float: left; width: 100%; cursor: pointer; }
.lista_desplegable_b li:first-child { padding-top: 0; border-top: 0; }
.lista_desplegable_b li a { display: block; width: auto; padding: 0.813em 1.8em 0.813em 0.9em; font-size: 0.92em; font-weight: normal; }
.lista_desplegable_b li a span { color: #FFFFFF; font-size: 0.875em; }
.lista_desplegable_b li.item_level1 { position: relative; }
.lista_desplegable_b li.item_level1:focus { position: relative; font-family: "OpenSans-Bold"; }
.lista_desplegable_b li.item_level1.activo a span { position: relative; font-family: "OpenSans-Bold"; color: #214b92; }
.lista_desplegable_b li.item_level1_desp { background: none; }
.lista_desplegable_b li.item_level1_desp a { margin-left: 1.1em; border-bottom: 1px solid #005FA7; background: url("../Images/general/navegacion/flecha_abajo_negra.png") no-repeat scroll 92% 1.3em transparent; width: auto; padding: 0.813em 1.8em 0.813em 0.9em; }
.lista_desplegable_b li.item_level1_desp a.activo.itemSlider { background: url("../Images/general/navegacion/flecha_arriba_blanca.png") no-repeat scroll 92% 1.3em transparent; font-family: "OpenSans-Bold"; border-bottom: 0; }
.lista_desplegable_b li.item_level1 a { margin-left: 1.1em; border-bottom: 1px solid #005FA7; width: auto; padding: 0.813em 1.8em 0.813em 0.9em; }
.lista_desplegable_b li.item_level1_desp:first-child a { border-top: 0; }
.lista_desplegable_b li a:hover { background-color: #0064AF; }
.lista_desplegable_b li.item_level1_desp.desplegado a { background: url("../Images/general/navegacion/flecha_arriba_blanca.png") no-repeat 92% center transparent; }
.lista_desplegable_b li.item_level1_desp.desplegado a:hover { background-color: #0064AF; }
.lista_desplegable_b li.item_level1_desp.desplegado.activo > a > span { color: #FFFFFF; font-family: "OpenSans-Bold"; font-size: 0.875em; background: url("../Images/general/navegacion/rectangulo_amarillo.png") no-repeat 12em center; }
.lista_desplegable_b ul.level2 { float: left; background-color: #003E76; }
.lista_desplegable_b ul.level2 li { border: 0; }
.lista_desplegable_b ul.level2 li a:hover { background: url("../Images/general/navegacion/rectangulo_azul.png") no-repeat scroll 1em center #00386d; }
.lista_desplegable_b ul.level2 li a:active, .lista_desplegable_b ul.level2 li a.active { background: url("../Images/general/navegacion/rectangulo_amarillo.png") no-repeat 1em center transparent; font-family: "OpenSans-Bold"; }
.lista_desplegable_b .level2 li a { border: 0; width: auto; padding: 0.5em 0em 0.5em 14%; background: none; }
.lista_desplegable_b .level2 li a span { color: #FFFFFF; font-size: 0.75em; }
.lista_desplegable_b .item_level1_desp.desplegado .level2 li a { border: 0; width: auto; padding: 0.5em 0em 0.5em 14%; background: none; }
.lista_desplegable_b .item_level1_desp.desplegado .level2 li.activo a span { color: #214b92 !important; font-weight: bold; }
.lista_desplegable_b .filtro { margin-top: 6.5em; }
.lista_desplegable_b .filtro h3 { display: block; width: 100%; font-size: 1.08em; color: #666; margin-bottom: 0.6em; text-indent: 0.2em; }
.lista_desplegable_b .filtro li.item_level1.activo { left: 0; background: none; }
.lista_desplegable_b .filtro li.item_level1.activo a { margin-left: 0; }

/*------------------------------ FIN NAVEGACION LATERAL ------------------------*/
/*------------------------------ NAVEGACION LATERAL TASKS------------------------*/
.nav_tasks { position: relative; float: left; width: 100%; background-color: #0977cf; }
.nav_tasks ul.level1 { position: relative; float: left; width: 100%; overflow: hidden; }
.nav_tasks .nav_item { display: block; float: left; margin: 0.0625em 0; width: 100%; cursor: pointer; }
.nav_tasks .nav_item:first-child { margin: 0 0 0.5em 0; cursor: initial; }
.nav_tasks .nav_item:first-child span { display: block; padding: 1em 1.8em; width: auto; font-size: 0.92em; font-family: "OpenSans-Bold"; text-align: center; background-color: #fff; }
.nav_tasks .nav_item .item { display: block; width: auto; padding: 0.813em 0.9em; margin-left: 1.1em; font-size: 0.8125em; }
.nav_tasks .nav_item .item:hover { background-color: #fff; }
.nav_tasks .nav_item .item:hover span { color: #3c74c3; }
.nav_tasks .nav_item .item:hover.icon:before { color: #3c74c3; }
.nav_tasks .nav_item .item span { color: #fff; margin-left: 0.3125em; }
.nav_tasks .nav_item .item .count { display: inline-block; margin: 0; min-width: 1.25em; text-align: right; font-family: "OpenSans-Semibold"; }
.nav_tasks .nav_item .item.icon:before { top: 1px; position: relative; font-family: "entypo"; font-size: 2em; color: #fff; line-height: 0; }
.nav_tasks .nav_item .item.hight:before { content: "\2B06"; }
.nav_tasks .nav_item .item.medium:before { content: "\2796"; }
.nav_tasks .nav_item .item.low:before { content: "\2B07"; }
.nav_tasks .nav_item .item.myList:before { content: "\E70C"; }
.nav_tasks .nav_item .item.people:before { content: "\1F465"; }
.nav_tasks .nav_item.selected a { background-color: #fff; }
.nav_tasks .nav_item.selected a span { color: #3c74c3; }
.nav_tasks .nav_item.selected a.icon:before { color: #3c74c3; }
.nav_tasks .nav_item.uncollapsed { margin-left: 3em; width: auto; }
.nav_tasks .nav_item .btn-secondary { padding: 0.3125em 0; margin: 0.3125em 0 0 0; width: 90%; height: auto; min-height: 1em; color: #3c74c3; }
.nav_tasks .nav_item .btn-secondary span { margin-left: 0.3125em; color: #3c74c3; }
.nav_tasks .nav_item .btn-secondary:hover { color: #000; }
.nav_tasks .nav_item .btn-secondary:hover span { color: #000; }
.nav_tasks .nav_item .btn-secondary:before { font-family: "entypo"; font-size: 2em; line-height: 0; content: "\2795"; }

/*------------------------------ FIN NAVEGACION LATERAL TASKS--------------------*/
/*------------------------------ TAG LIST------------------*/
.lst_tag { float: left; margin: 0.25em 0; width: 100%; overflow: hidden; }
.lst_tag .tag_item { display: inline-block; }
.lst_tag .tag_item a { display: block; margin: 0.25em 0.125em; padding: 0; font-size: 0.75em; }
.lst_tag .tag_item a span { display: block; padding: 0.3125em; margin: 0; color: #fff; background: #264A7F; }
.lst_tag .tag_item a:hover span { color: #fff; background: #22509d; }
.lst_tag .tag_item a.selected span { color: #fff; background: #22509d; }

.editable .select_tag { display: inline-block; position: relative; }
.editable .select_tag .lst_select { min-width: 3.125em; width: auto; }
.editable .select_tag .select { position: relative; }
.editable .select_tag .select .icon { position: absolute; z-index: 1; }
.editable .select_tag .select .k-input:before { top: 2px; position: relative; margin: 0; padding: 0 0.1em; font-family: "entypo"; font-size: 2em; line-height: 0; }
.editable .select_tag .select.ico_tag .k-input:before { content: "\E70C"; }
.editable .select_tag .select.ico_hight .k-input:before { content: "\2B06"; }
.editable .select_tag .select.ico_medium .k-input:before { content: "\2796"; }
.editable .select_tag .select.ico_low .k-input:before { content: "\2B07"; }
.editable .select_tag .select .k-input { padding: 0 1.5em 0 0.1em; }
.editable .select_tag .select .k-select { z-index: 2; width: 100%; }
.editable .select_tag .select .k-icon { position: absolute; top: 8px; right: 6px; }

.editable .select_tag_list { display: inline-block; position: relative; /**/ }
.editable .select_tag_list .lst_select { display: none; position: absolute; top: 1.4375em; min-width: 3.125em; width: auto; }
.editable .select_tag_list .select { margin-top: 0.1em; padding-bottom: 0.3em; border: 1px solid #ccdcf2; border-radius: 5px; background-color: #fff; }
.editable .select_tag_list .select:hover + .lst_select { display: block; }
.editable .select_tag_list .select:active + .lst_select { display: block; }

/*------------------------------ END TAG LIST------------------*/
/*------------------------------ NAVEGATION TABS_03 ------------------------------*/
.mod_tabs03 { float: left; width: 100%; }
.mod_tabs03 ul { border-bottom: 1px solid #eeeeee; height: 2.375em; }
.mod_tabs03 ul li { min-width: 12.5em; min-height: 2.375em; float: left; text-align: center; padding: 0 0.0625em; }
.mod_tabs03 ul .itemList { padding: 0.662em 3.215em; font-family: "OpenSans-Regular"; font-size: 0.875em; color: #0074dd; float: left; }
.mod_tabs03 ul .itemList:hover { border-bottom: 2px solid #999999; }
.mod_tabs03 ul .itemList.active { border-bottom: 2px solid #0074dd; font-family: "OpenSans-Bold"; color: #333333; }

/*------------------------------  END NAVEGATION TABS_03 ------------------------------*/