/*Searchable*/

.text-searchable {
position: relative;
}
    .text-searchable > .text-searchable-icon {
        background: url('../Content/images/svg/searchIcon.svg') no-repeat;
        width: 16px;
        height: 16px;
        position: absolute;
        top: 11px;
        right: 12px;
        cursor:pointer;
    }

    
    .text-searchable:hover > .text-searchable-icon {
        background: url('../Content/images/svg/searchIconHover.svg') no-repeat;
    }