@model Dictionary<string, int>
@{
    int i = 0;
    var filterName = ViewData.ContainsKey("filterName") ? (string)ViewData["filterName"] : "NoFilter";
    var url = string.Format("{0}?{1}=", Url.Action("Index", "Search"), filterName);
}
@foreach (var m in Model) {
    var paramValue = m.Key;
    if (filterName.ToLowerInvariant().Equals("eligibility")) {
        paramValue = (m.Key.ToLowerInvariant().Contains("not") ? "-" : "") + (string)ViewData["dateModifier"];
    }
    <div>
        <div class="colIcon col_@i"></div><a href="@(url + Url.Encode(paramValue))">@m.Key (@m.Value)</a>
    </div>

    i = i + 1;
    //Reset the color since we only have 9 colors
    if (i >= 9) {
        i = 0;
    }
}