@model List<IDB.MW.Domain.Models.Global.StatisticsValuesModel>
@{
    int i = 0;
    var filterName = ViewData.ContainsKey("filterName") ? (string)ViewData["filterName"] : "NoFilter";
    var url = string.Format("{0}?{1}=", Url.Action("Index", "Search",new { area="Search"}), filterName);
    var paramUrlUserName = ViewData.ContainsKey("UserName") ? (string)ViewData["UserName"] : "NoFilter";
    //var paramUrlUserName = string.Format("&UserName={0}", IDBContext.Current.UserName);
}
@foreach (var m in Model) {
    <div>
        <div class="colIcon col_@i"></div><a href="@(url + Url.Encode(m.Code) + paramUrlUserName)">@m.Name_EN (@m.Value)</a>
    </div>

    i = i + 1;
    //Reset the color since we only have 9 colors
    if (i >= 9) {
        i = 0;
    }
}