@using IDB.Presentation.MVC4.Models.Documents
@using IDB.MW.Domain.Values

<div class="col-md-6 text-right">
    <div id="ConditionDocuments-modal-add" class="hide">
        @Html.Partial("Controls/IDBDocsNew/AddIDBDoc", new SearchDocumentModalViewModel
        {
            SearchModalId = "tablaPagContentCondition",
            MultipleSelection = false,
            TargetFunction = "addDocumentInTable",
            BusinessAreaCode = AgreementsAndConditionsConstants.BA_CONDITIONS,
            OperationNumber = ViewBag.OperationNumber
        })
    </div>
</div>