.itemCheckDelegation {
    padding-left:35px; border-bottom:none;
}

#subdelegationContainer {
    width: 100%;
}

.delegationColumnsBlocks {
    border-left: 1px solid #CCC;
}

.delegationColumnsBlocks:first-child {
    border-left: none;
}