@{
    <tr data-id="field">
        <td><span data-pagemode="edit">@Confluence.InputDropDown(null, "GroupIdValue", ViewBag.ListGroup)</span></td>
        <td><span data-pagemode="edit">@Confluence.InputText(null, "SecurityGroup", width: "100%")</span></td>
        <td><span data-pagemode="edit">@Confluence.ButtonTrash(null, action: "removeRowGroupAssigned")</span></td>
        <td class="hide"><span data-pagemode="edit">@Confluence.InputText("0", "RowId")</span></td>
        
    </tr>
}