<div style="text-align: right; width: 90%; margin-top: 2%">
    <div>
        @Confluence.ButtonWhite(Localization.GetText("TC.VP.ValidationProcess.Cancel"))
        @Confluence.ButtonBlue(Localization.GetText("TC.VP.ValidationProcess.Save"))
    </div>
</div>
