IDB.MW.Application.Core.ViewModels.FormRendering
@using IDB.Presentation.MVC4.Helpers



<div class="operationData dataDetails">
    <div class="data4">
        <p class="dataTitle">11 Aug 2014</p>
    </div>
    <div class="data4">
        <p class="dataTitle"> ajoven</p>
    </div>
</div>

<div>
    <div style="text-align: center;">
        @Confluence.InputTextArea(null, "textarea2", width: "80%", height: "80px")
    </div>
    <div>
        @Confluence.ButtonTrash("")
    </div>
</div>

