<div style="text-align: right; width: 99%;">

    @Confluence.ButtonBlue(Localization.GetText("TCM.TR.TaskAndRequestFoundCoordinator.New"))"

</div>
<div>

    <div>
        <h3 class="headingh3" style="margin-left: 0px">@Localization.GetText("TCM.TR.TaskAndRequestFoundCoordinator.Comments")</h3>
    </div>
    <div class="operationData dataDetails">
        <div class="data4">
            <p class="dataTitle">11 Aug 2014</p>
        </div>
        <div class="data4">
            <p class="dataTitle"> ajoven</p>
        </div>
    </div>
    <div class="operationData">
        <div class="listWrapper" style="width: 90%">
            <dl class="ftl">
                <dd class="dataText"> I have completed the Results Matrix</dd>
            </dl>
        </div>
    </div>
</div>
