@using IDB.MW.Application.MrBlueModule.ViewModels.DynamicQuestionnaire
@using System.Collections.Generic

@model List<DynamicQuestionnaireViewModel>

@foreach (var quiestionnaire in Model)
{
    <div class="row mb20">
        <div class="col-md-12">
            @Html.Partial("DynamicQuestionnaire/DynamicForm", quiestionnaire)
        </div>
    </div>
}