@using IDB.MW.Application.MrBlueModule.ViewModels.DynamicQuestionnaire

@model DynamicQuestionnaireViewModel

<div data-pagemode="edit" class="esgFormContainer" data-questionnaireid="@Model.VersionId" data-disabled="@Model.IsReadOnly">
    @if (Model.QuestionGroups != null)
    {
        foreach (var group in Model.QuestionGroups.OrderBy(g => g.Order))
        {
            @Html.Partial("DynamicQuestionnaire/DynamicQuestionGroup", group)
        }
    }
</div>