@using IDB.MVCControls.General.Helpers
@using IDB.Presentation.MVC4.Models.Repeater
@using IDB.MW.Application.IndicatorsModuleNew.ViewModels.Core
@using IDB.Presentation.MVC4.General

@model List<TechnicalFieldViewModel>
<div data-name="technicalFields-section">

    <div class="row mb20">
        <div class="col-md-12">
            @Confluence.Label(Localization.GetText("IM.EditReadTemplates.IndicatorTemplate.TechnicalFields.Instructions"))
        </div>
    </div>

    @foreach(var field in Model)
    {

        <div class="row mb16">
            <div class="col-md-5 read-technicalField">
                @Confluence.LabelsGroup(Localization.GetText("IM.EditReadTemplates.IndicatorTemplate.TechnicalFields.FieldName"), Confluence.LabelBold(field.Name), false)



            </div>
        </div>


    }
</div>
