@using IDB.MW.Infrastructure.Configuration
@using IDB.MW.Application.CPDModule.ViewModels.CountryProgram
@using IDB.MW.Infrastructure.Configuration
@using IDB.Presentation.MVC4.Helpers

@model CountryProgramViewModel

@{
    var configurationServiceFactory = ConfigurationServiceFactory.Current.GetApplicationSettings();
    var isPermissionsActive = configurationServiceFactory.ActiveCPDPermissions;
}

@if (!Model.IsOperationClosed)
{
    <div data-id="headerButtons" class="float-right">
        @if (SecurityHelper.IsVisible(Model.FieldAccessList, "cpd-country-program-edit-control") || !isPermissionsActive)
        {
            <div data-type="contentButtons" data-id="read-CountryProgram">
                @Confluence.ButtonBlue(Localization.GetText("Common.Edit"), name: "edit-CP")
            </div>
        }
        @if (SecurityHelper.IsVisible(Model.FieldAccessList, "cpd-country-systems-country-program-edit-control") || !isPermissionsActive)
        {
            <div data-type="contentButtons" data-id="read-UseCountrySystem">
                @Confluence.ButtonBlue(Localization.GetText("Common.Edit"), name: "edit-UseCS")
            </div>
        }
        @if (SecurityHelper.IsVisible(Model.FieldAccessList, "cpd-strategic-alignment-program-edit-control") || !isPermissionsActive)
        {
            <div data-type="contentButtons" data-id="read-StrategicAlignment">
                @Confluence.ButtonBlue(Localization.GetText("Common.Edit"), name: "edit-SA")
            </div>
        }
    </div>
}