<div data-id="headerButtons" class="text-right" data-idb-fieldname="btnEditTempl">
    <div data-pagemode="read">
        @Confluence.ButtonLink(Localization.GetText("OP.DTG.TemplateGen.Button.Cancel"), null, "cancel")
        @Confluence.ButtonBlue(Localization.GetText("OP.DTG.TemplateGen.Button.Edit"),
            action: "editTemplate", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnEditTempl" } })
    </div>
    <div data-pagemode="edit">
        @Confluence.ButtonLink(Localization.GetText("OP.DTG.TemplateGen.Button.Cancel"), null, "cancel")
        @Confluence.ButtonOrange(Localization.GetText("OP.DTG.TemplateGen.Button.Save"), null, "saveTemplate")
    </div>
</div>