@model IDB.Presentation.MVC4.Areas.DocumentTemplate.Models.TemplateViewModel
<div class="hide" data-pagemode="edit">
    @Confluence.InputHidden(Model.FileName, "templateTempFileName")
    @Confluence.InputHidden(Model.FullPathDownloadFolder, "templateFileName")
</div>
<div class="row">
    <div class="col-xs-6 col-md-4">
        @* Document *@
        <div class="documentViewer">
            @Html.Raw(Model.HtmlDocument)
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-8">
        @* Inputs *@
        @Html.Partial("Partials/Bookmarks", Model)
    </div>
</div>