<tr data-id="0" class="custom-even" role="row">
    <td>@Confluence.InputText(null, "CriticalDescription", width: "100%", placeholder:"Enter Text")</td>
    <td>
       @Confluence.InputDropDown(null, "Quarter", ViewBag.Quarter, required: false, width: "100px")
    </td>
    <td>
        @Confluence.InputDropDown(null, "Compliance", ViewBag.Completed, required: false, width: "100px")
    </td>
    <td class="text-center">
        @Confluence.ButtonTrash(null, null, "DelCriticalProductSimplied")
    </td>
</tr>