    .taskTable {
        width:100%;
    }

    .taskTable thead tr th{
        border:0;
        color:black;
        background-color:#ddd;
    }
    .taskTable thead tr{
        border:0;
        background-color:#ddd;
    }

    .taskTable thead tr td{
        border:0;
        background-color:#ddd;
    }
    .taskTable thead tr th:hover {
        background-color:#ddd;
    }

    .taskTable tbody tr td{
        border:0;
        background-color:#ddd;
        text-align:center;
    }

    .taskTable tr[data-id]:last-child td {
        border:0;
    }

    .institutionTask {
        background-color:#ddd;
        color:black;
    }
    .institutionTask .tabs{
        color:black;
        border:0
    }

    .institutionTask .tabs > li.active {
        color:black;
    }
    .institutionTask .tabs > li {
        color:black;
    }