@model IDB.MW.Application.Contacts.ViewModels.OperationContactsRowViewModel

<div class="pull-right">
    @Ajax.ActionLink(Localization.GetText("Cancel"), "ReadContact"
                         , "Contacts"
                         , new { operationNumber = Model.OperationNumber, executorContactId = Model.ExecutorContactId, userName = Model.UserName, onlyRead = Model.ReadOnly }
                         , new AjaxOptions
                           {
                               OnSuccess = "showLoaderOptional()",
                               OnComplete = "hideLoaderOptional()",
                               HttpMethod = "GET",
                               UpdateTargetId = "PageContent",
                               InsertionMode = InsertionMode.Replace,
                               OnFailure = "AjaxOnFailure"
                           },
                         new { @class = "buttonLink" }
                         )
    @Confluence.ButtonOrange(Localization.GetText("CM.Button.Save"), "saveEdit", "saveEdit")
</div>