@model IDB.MW.Application.Contacts.ViewModels.OperationContactsViewModel

<div class="pull-right">
    @Ajax.ActionLink(Localization.GetText("CM.Button.Cancel"), "OperationContacts"
                         , "Contacts"
                         , new { operationNumber = Model.OperationNumber, readOnly = Model.OnlyRead }
                         , new AjaxOptions
                         {
                             OnSuccess = "showLoaderOptional()",
                             OnComplete = "hideLoaderOptional()",
                             HttpMethod = "GET",
                             UpdateTargetId = "PageContent",
                             InsertionMode = InsertionMode.Replace,
                             OnFailure = "AjaxOnFailure"
                         },
                         new { @class = "buttonLink" }
                         )
    @Confluence.ButtonOrange(Localization.GetText("CM.Button.Save"), "saveEdit", "CreateContact")
</div>