@using IDB.Presentation.MVC4.Helpers
<div class="pull-right">
    <div id="headerButtons" data-id="headerButtons" class="right-buttons">
        <div data-pagemode="read">
            @Confluence.ButtonBlue(Localization.GetText("OP.MD.MG.Edit"), "btnEdit", "edit")
        </div>

        <div data-pagemode="edit">
            @Confluence.ButtonLink(Localization.GetText("OP.MD.MG.Cancel"), "btnCancel", "cancel")
            @Confluence.ButtonOrange(Localization.GetText("OP.MD.MG.Save"),"btnSave","saveManagement")
        </div>
    </div>
</div>

