@using IDB.Presentation.MVC4.Helpers
@using System.Web.Mvc
@using IDB.MVCControls.General.Helpers
@using IDB.MVCControls.Confluence.Models
<div class="pull-right">
    <div id="headerButtons" data-id="headerButtons" class="right-buttons">
        <div data-pagemode="read">
            @Confluence.ButtonBlue(@Localization.GetText("OP.MD.SE.New"), action: "NewMasterData")
            <div data-pagemode="edit">
                @Confluence.ButtonBlue(@Localization.GetText("OP.MD.SE.New"), action: "NewMasterData")
            </div>

        </div>
    </div>
</div>