@model List<IDB.MW.Application.VMRModule.ViewModels.MyMeeting.MyMeetingsRowViewModel>
<div id="tabMyMeeting" data-idb-fieldname="tabMyMeeting"
     data-parsley-validate="data-parsley-validate"
     data-parsley-excluded="[disabled]"
     data-loadurl="@Url.Action("MyMeetingsContent", "MyMeetings", new {area = "VMR"})">
   
        @Html.Partial("Partials/DataTables/MyMeetingsTable", Model)
   
</div>