@if (ViewBag.IncreaseWritePermission ?? false)
{
    <div data-id="headerButtons" class="pull-right">
        <div data-pagemode="read">
            @Confluence.ButtonBlue(Localization.GetText("OP.FD.Edit"), action: "edit",
            dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "btnEdit" } })
        </div>
        <div data-pagemode="edit">
            @Confluence.ButtonLink(Localization.GetText("OP.FD.Cancel"), action: "cancel",
                dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "btnCancel" } })
            @Confluence.ButtonOrange(Localization.GetText("OP.FD.Save"), action: "save",
                dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "btnSave" } })
        </div>
    </div>
}
