@using IDB.Presentation.MVC4.Helpers
@model  IDB.MW.Application.OPUSModule.ViewModels.FinancialDataExecutionService.ContractLevelViewModel

@if (Model != null)
{
    var OperationsList = @Html.BuildSelectItemList(
        dataSource: Model.Operations,
        textExpression: o => o.ContractData.ContractId,
        valueExpression: o => o.ContractData.ContractId)
        .ToList();

    <div class="row row-body-30">
        <div class="col-md-12">
            <div class="LabelsGroup row col-md-3" style="margin-top: 2px;">
                <div class="lgCont">
                    @Confluence.InputDropDown(
                        OperationsList.Any() ? OperationsList[0].Value: null,
                        "currentoperation",
                        OperationsList,
                        validateOnChange: true,
                        showEmptyOption: false,
                        placeholder: null,
                        width: "200px",
                        dataAttributes: new Dictionary<string, string>()
                        {
                            { "idb-fieldname", "ddlContract" }
                        }, 
                        contracLevelFunction: true)
                </div>
            </div>

        </div>
    </div>

    <div class="tab-content">
        <div class="tab-pane active tabContratLevelDynamicContent"
             data-loadurl="@Url.Action("FinancialDataExecutionReloadContract", "View", new {area = "OPUS"})">
            @if (Model.Operations.FirstOrDefault() != null)
            {
                @Html.Partial("Partials/FinancialDataExecution/FDEContractLevelOperationTabPartial", Model.Operations.First())

            }
        </div>
    </div>
}