@using IDB.MW.Infrastructure.Configuration
@using IDB.MVCControls.General.Helpers
@using IDB.MVCControls.DataTable.Models
@using IDB.MVCControls.DataTable.Helpers
@using System.Globalization
@using IDB.MW.Application.OPUSModule.ViewModels.FinancialDataExecutionService

@model List<FinancingDataRowViewModel>
@{
    var formatDecimal = ConfigurationServiceFactory.Current.GetApplicationSettings().FormatDecimal;
}

@if (Model != null)
{
    <div class="row row-header">
        <div class="col-md-12 subtitleGroup">
            @Localization.GetText("OP.FD.Header.Title")
        </div>
    </div>

    <div class="content-expandable">
        <div class="row row-header">
            <div class="col-md-12">
                @{
    var tableName = "financingDataTable";

    var config = Html.RenderDataTable(Model);

    config.Name(tableName)
        .AddPrimaryKeyToName(false)
    .PrimaryKey(m => m.RowId.ToString(CultureInfo.InvariantCulture))
    .Columns(columns =>
    {
        columns.Bound(c => Localization.GetText(c.Description)).Header(Localization.GetText("OP.FD.TabContractLevel.Desc"));
        columns.Bound(c => FormatHelper.Format(c.FundCurrencyAmount, formatDecimal)).Persistent().Header(Localization.GetText("OP.FD.TabContractLevel.FundCurrencyAmount")).CssHeaderClass("w325").Right();
        columns.Bound(c => c.Currency).Persistent().Header(Localization.GetText("OP.FD.TabContractLevel.Currency"));
        columns.Bound(c => FormatHelper.Format(c.USDAmount, formatDecimal)).Persistent().Header(Localization.GetText("OP.FD.TabContractLevel.USDAmount")).CssHeaderClass("w325").Right();

    });

                config.TableClass = "tableNormal";
                config.useCusomRowClass = false;


    @Html.Partial("Controls/DataTable", config)
                }
            </div>
        </div>
    </div>
}


