    <div class="right-buttons">
        @Confluence.ButtonGraphValues("graphpanel", "valuespanel",
            dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", ""} })
    </div>

