@using IDB.MW.Infrastructure.Configuration
@using IDB.MVCControls.DataTable.Helpers
@using IDB.MVCControls.General.Helpers
@using System.Globalization

@model IDB.MW.Application.OPUSModule.ViewModels.FinancialDataExecutionService.OperationLevelViewModel

@{
    var appSettings = ConfigurationServiceFactory.Current.GetApplicationSettings();
    var formatDecimal = appSettings.FormatDecimal;
}

@if (Model != null)
{
    <div data-id="valuespanel">
        <label class="subtitleGroup">@Localization.GetText("OP.FD.TabOperationLevel.FundInform")</label>
        <div class="row row-body-40">
            <div class="pl15 w450">
                @{
                        var config = Html.RenderDataTable(Model.Funds);
                        config.Name("fundTable")
                            .PrimaryKey(m => m.RowId.ToString(CultureInfo.InvariantCulture))
                            .AddPrimaryKeyToName(true)
                            .Columns(columns =>
                            {
                                columns.Bound(c => c.Fund).Header(Localization.GetText("OP.FD.TabOperationLevel.Fund")).Persistent();
                                columns.Bound(c => FormatHelper.Format(c.Amount, formatDecimal)).Header(Localization.GetText("OP.FD.TabOperationLevel.Amount")).Persistent().CssClass("text-right");
                            });
                        config.TableClass = "tableNormal w450";
                        config.useCusomRowClass = false;

                }

                @Html.Partial("Controls/DataTable", config)
            </div>
        </div>
    </div>
}