@using IDB.MVCControls.DataTable.Helpers
@model IDB.MW.Application.OPUSModule.ViewModels.FinancialDataExecutionService.OperationLevelViewModel

@if (Model != null)
{
    <div class="mb20">
        <label class="subtitleGroup">@Localization.GetText("OP.FD.TabOperationLevel.CurrencyBalances")</label>
        @{
    var config = Html.RenderDataTable(Model.CurrencyBalances);
    config.Name("DataTableCurrencyBalances")
        .AddPrimaryKeyToName(false)
        .Columns(columns =>
        {
            columns.Bound(c => c.Currency).Header(Localization.GetText("OP.FD.TabContractLevel.Currency")).Persistent();
            columns.Template(c => Confluence.LabelDecimal(c.OriginalIDB)).Header(Localization.GetText("OP.FD.TabIncreases.CurrentFunds.OriginalIDB")).Persistent().Right();
            columns.Template(c => Confluence.LabelDecimal(c.Increased)).Header(Localization.GetText("OP.FD.TabOperationLevel.Increased")).Persistent().Right();
            columns.Template(c => Confluence.LabelDecimal(c.Cancellations)).Header(Localization.GetText("OP.FD.TabOperationLevel.Cancellations")).Persistent().Right();
            columns.Template(c => Confluence.LabelDecimal(c.CurrentIDB)).Header(Localization.GetText("OP.FD.TabContractLevel.CurrentIDB")).Persistent().Right();
            columns.Template(c => Confluence.LabelDecimal(c.DisbAmountToDate)).Header(Localization.GetText("OP.FD.TabOperationLevel.DisbAmountToDate")).Persistent().Right();
            columns.Template(c => Confluence.LabelDecimalPercent(c.DisbPercent, true)).Header(Localization.GetText("OP.FD.TabOperationLevel.PercentDisbursed")).Right();
            columns.Template(c => Confluence.LabelDecimal(c.Undisbursed)).Header(Localization.GetText("OP.FD.TabOperationLevel.Undisbursed")).Persistent().Right();
            columns.Template(c => Confluence.LabelDecimal(c.Commited)).Header(Localization.GetText("OP.FD.TabOperationLevel.Committed")).Persistent().Right();
            columns.Template(c => Confluence.LabelDecimal(c.Available)).Header(Localization.GetText("OP.FD.TabOperationLevel.Available")).Persistent().Right();
        });
    config.TableClass = "tableNormal mb40";
    config.useCusomRowClass = false;
        }
        @Html.Partial("Controls/DataTable", config)
    </div>
}
