


<script>
    $(document).ready(function () {
        $("#lnkCancelSaveIndicatorChanges").click(function () {
            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $(".ui-widget-overlay").remove();
            $(".k-window").remove();
        });

        $("#btnSaveIndicatorChanges").click(function () {
            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $(".ui-widget-overlay").remove();
            $(".k-window").remove();
            SaveChanges();
        });
    });
</script>

@{
    var confirmMessage = string.Empty;
    confirmMessage = "This change will be registered on the “Changes to the Matrix” section and you will be required to explain it. Would you like to proceed?";
}

<div style="padding: 20px;">
    @confirmMessage
</div>
<div class="pie pieReassign">
    <div class="botones">
        <a title="@Localization.GetText("Cancel")" class="cancel" id="lnkCancelSaveIndicatorChanges" href="javascript:void(0)"> @Localization.GetText("Cancel")</a>
        <label for="delete">
            <input type="button" value=" @Localization.GetText("Save")" class="btn-primary" id="btnSaveIndicatorChanges">
        </label>
    </div>
</div>

