@using System.Globalization
@using IDB.MVCControls.DataTable.Helpers
@using IDB.MW.Business.BusinessRulesModule.DTOs
@model List<BRERuleDTO>
    @{
        const string bussinessRulesTable = "relatedOperationsTable";
        var configRelated = Html.RenderDataTable(Model);

        configRelated.Name(bussinessRulesTable)
            .PrimaryKey(m => m.RuleId.ToString(CultureInfo.InvariantCulture))
            .AddPrimaryKeyToName(false)
            .Columns(columns =>
            {
                columns.Bound(c => c.Code).Header("Code").Persistent();
                columns.Bound(c => c.Description).Header("Description").Persistent();
                columns.Bound(c => c.BreTypeDto.Code).Header("Type").Persistent();
                columns.Bound(c => c.StartDate.ToString("dd MMM yyyy")).Header("Start Date");
                columns.Bound(c => c.EndDate.ToString("dd MMM yyyy")).Header("End Date");
                columns.Bound(c => c.IsEnabled ? "Yes" : "No").Header("Is Enabled?").Persistent();
                columns.Template(c => Confluence.ButtonBlue("View", "View", dataNavigation:
                    Url.Action(c.BreTypeDto.Code == "Frontend" ? "FrontendBusinessRuleEditor" : "BackendBusinessRuleEditor"
                    , "View", new { brCode = c.Code }))).Header("Actions").Persistent();
            });

        configRelated.TableClass = "tableNormal endSpacing";
        configRelated.useCusomRowClass = false;
    }

    <div class="row row-body-40">
        <div class="col-md-12">
            @Html.Partial("Controls/DataTable", configRelated)

            
        </div>
    </div>
