<div data-id="headerButtons" class="floatRight">
    
    @Confluence.ButtonLink(Localization.GetText("VER.GLOBAL.Cancel"))

    @Confluence.ButtonOrange(Localization.GetText("VER.GLOBAL.Save"))

    @Confluence.ButtonBlue(Localization.GetText("VER.GLOBAL.Submit"))

    @Confluence.ButtonBlue(Localization.GetText("VER.GLOVAL.Edit"))

</div>