@using System.Globalization
@using IDB.MW.Infrastructure.Configuration
@using IDB.MVCControls.DataTable.Helpers
@using IDB.MVCControls.DataTable.Models
@using IDB.MVCControls.General.Helpers
@using IDB.MW.Application.SGPModule.ViewModels
@using IDB.MW.Infrastructure.BaseClasses
@using IDB.MW.Application.Core.ViewModels
@using IDB.Presentation.MVC4.Areas.SGP.Mappers
@using IDB.Architecture.Language

@using IDB.MW.Application.SGPModule.ViewModels.ProcurementDetail

@model ProcDetailTabViewModel

@{
    var appSettings = ConfigurationServiceFactory.Current.GetApplicationSettings();
    var formatDate = appSettings.FormatDate;
    var tableName = "documentTableDetails";

    var config = Html.RenderDataTable(Model.Documents)
        .Name(tableName)
        .AddPrimaryKeyToName(false)
        .PrimaryKey(x => x.Id.ToString(CultureInfo.InvariantCulture))
        .UseDataTableNet(true)
        .UsePageMode(false)
        .Columns(columns =>
        {
            columns.Bound(c => c.User)
            .Orderable(false)
            .CssClass("colDocumentUser textalign-center")
            .CssHeaderClass("colDocumentUser")
            .Header(Localization.GetText("COMMON.User"))
            .Hidden(false);
            
            columns.Bound(c => FormatHelper.Format(c.Date, formatDate))
            .Orderable(false)
            .CssClass("colDate textalign-center")
            .CssHeaderClass("colDate")
            .Header(Localization.GetText("COMMON.Date"))
            .Hidden(false);

            columns.Template(c => Confluence.ButtonLink(c.DocumentNumber, "documentNumberLink", htmlClass: "bold"))
            .Orderable(false)
            .CssClass("document-number colDocumentNumber textalign-center")
            .CssHeaderClass("colDocumentNumber")
            .Header(Localization.GetText("COMMON.SVQ.DocNumber#"))
            .Hidden(false);
            
            columns.Bound(c => c.Description)
            .Orderable(false)
            .CssClass("")
            .CssHeaderClass("")
            .Header(Localization.GetText("COMMON.Description"))
            .Hidden(false);
            
            columns.Template(c => Confluence.InputText(c.DocumentNumber, tableName + "-DocumentIDBDoc", disabled: false, width: "100%", required: false))
            .Orderable(false)
            .Hidden(true);
            
            columns.Template(c => ActionsTermsReference(c))
            .Orderable(false)
            .CssClass("colAction120")
            .CssHeaderClass("colAction120")
            .Header(Localization.GetText("COMMON.Action"))
            .Hidden(false);
        });
   config.TableClass = "tableNormal";
        
}

@Html.Partial("Controls/DataTable", config)

@helper ActionsTermsReference(SimpleDocRowViewModel row)
{
    <div class="textalign-center">
        @Confluence.ButtonDownload("", "DownLoadDoc")
    </div>
}