@{
    Layout = "~/Areas/SupervisionPlan/Views/Shared/_Layout.cshtml";
}

<form id="OperationBudgetForm" method="GET">
    @Confluence.InputHidden(null, "year")
</form>
<div id="masterOperationBudget" class="masterOperationBudget">
    @Html.Partial("Partials/_tableBudget")
</div>

@section JS{
<script type="text/javascript">
    function downloadOperationBudgetDocument(source) {
        var formatDoc = source.attr('name');
        var selectYear = $('#id-Years').find('.valueText').text();
        var url = '@Url.Action("DownloadOperationBudgetProgress", "OperationBudget", new { area = "SupervisionPlan" })' + "?formatType=" + formatDoc + "&year=" + selectYear;
        var data = { formatType: formatDoc, year: selectYear };
        postUrlWithOptions(url, null, data).done(function () {
            window.open(url, '_blank');
        });
    }
    function RefreshIndexOperationBudget() {
          $('[name="Years"]').change(function () {
            var selectYear = $('#id-Years').find('.valueText').text();
            showLoader();
            $('[name="year"]').val(selectYear);
            $('#OperationBudgetForm').submit();
        });
    }

    function openSupervisionPlanDashboard(source) {
        var url = "@string.Format("{0}{1}",
            Model.SupervisionPlanDashboardRoute,
            Model.SpOperationBudgetDto.OperationNumber)";
        var win = window.open(url, '_blank');
        win.focus();
    }

    $(document).ready(function () {
        RefreshIndexOperationBudget();
 });

  </script>
}

