@using IDB.MW.Application.MrBlueModule.ViewModels.HighRisk

@model HighRiskDashboardViewModel

@if( Model != null )
{
    <input type="hidden" id="hidViewModel" value="@ViewBag.SerializedViewModel" />

    if( Model.History != null )
    {
        <div class="row mb20">
            <div class="col-md-8">
                @Html.Partial( "Partials/HistoryPartial" , Model )
            </div>
        </div>
    }
}