@using IDB.MW.Application.MrBlueModule.ViewModels.HighRisk

@model HighRiskViewModel

@if (Model != null)
{
    <input type="hidden" id="hidViewModel" value="@ViewBag.SerializedViewModel" />

    <div data-id="informationStar" class=" row mb20">
        <div class="col-md-12">
            @if(Model.CreatedBy != null)
            {
                @Confluence.LabelsGroup(title : Model.DateHighRisk,
                contentAlways : Localization.GetText("MrBlue.Star.By") +
                " " + Model.CreatedBy,
                asterisk : false)
            }
        </div>
    </div>

    @Html.Partial("DynamicQuestionnaire/_DynamicQuestionnaire", Model.HighRiskDynamicQuestionnaire)

}
