/**
 * ui_pmi_003_table Id's
 * Tue, 05 december 2013
 * eSmart Group
 */

#ui_pmi_003_table{}

#ui_pmi_003_table .grid thead tr:first-child th:first-child{
    text-align: left;
    padding-left: 2%;
    width: 52%;
}

#ui_pmi_003_table .grid tbody tr td:nth-child(2){
    width: 14%;
}