@using IDB.MW.Application.SGPModule.ViewModels.ProcurementDetail
@using IDB.MW.Domain.StoredProcedures.Outputs.SGP
@using IDB.Architecture.Language

@model ProcurementDetailViewModel

@{
    var statusInfo = Model.ViewContainer.GetValue<GetProcurementStatusInfoOutput>("StatusInfo");
    var canEditBidding = Model.BiddingDocTab.CanEditBidding ? "true" : "false";
    var canEditSGP = Model.ViewContainer.GetValue<bool>("canEditSGP");
    var isProcFiduciary = Model.ViewContainer.GetValue<bool>("isProcFiduciary");

    if ((statusInfo != null) && statusInfo.CAN_EDIT && (canEditSGP && !isProcFiduciary))
    {
        <div data-id="headerButtons" class="float-right">
            <div data-type="contentButtons" data-id="#linktabBidding">
                @Confluence.ButtonBlue(Localization.GetText("Common.Edit"), name: "edit-bidding", dataAttributes: new Dictionary<string, string> { { "canEditBidding", canEditBidding } })
            </div>
        </div>
    }
}
