@using System.Globalization

@using IDB.MVCControls.General.Helpers


@model IDB.Presentation.MVC4.Areas.Indicators.Models.ActiveViewModel


@if(Model.IsEditMode)
{
    @ControlTemplates.InputCheckbox(Model.IsActive, "isActive",
        dataAttributes : new Dictionary<string, string>() { { "id", Model.Id.ToString(CultureInfo.InvariantCulture) } })
}

@if(!Model.IsEditMode && Model.IsActive)
{
    <div class="character-active"> &#10003</div>
}