@using IDB.MVCControls.General.Helpers

@model IDB.Presentation.MVC4.Areas.Indicators.Models.LinkViewModel

@{
    RouteValueDictionary routeValues = null;
    if ((Model.Parameters == null) || !Model.Parameters.Any())
    {
        routeValues = new RouteValueDictionary();
    }
    else
    {
        routeValues = new RouteValueDictionary(dictionary: Model.Parameters);
    }
    routeValues.Add("area", Model.Area);
}

<a href="@Url.Action(Model.Action, Model.Controller, routeValues: routeValues)">@((Model.Text ?? "").HtmlEncode())</a>

@if (Model.isActive && Model.EffectiveDate > DateTime.Today)
{
    @Confluence.LabelAsterisk();
}