@using IDB.Presentation.MVC4.Helpers
@using IDB.MW.Application.CountryStrategyModule.ViewModels.MonitoringResultMatrix

@model CSObjectiveDetailViewModel

@*@if (SecurityHelper.IsVisible(Model.FieldAccessList, "cs-monitoring-edit-control"))*@
@* { *@
    <div data-id="headerButtons" class="float-right" data-idb-fieldname="cs-monitoring-edit-control">
        @Confluence.ButtonLink(Localization.GetText("Common.Cancel"), name: "cancel")
        @Confluence.ButtonOrange(Localization.GetText("Common.Save"), name: "save")
    </div>
@* } *@