@model IDB.MW.Application.AdministrationModule.ViewModels.VisualOutputsMapping.VisualOutputsMappingViewModel

<div class="row mb1em">
    <div class="col-md-12">
        @Confluence.LabelMainTitle(Localization.GetText("OPUS.Search.VOM-POC"))
    </div>
</div>

@Confluence.Tabs(new Dictionary<string, string>
{
    {"tabDownloadData",Localization.GetText("OPUS.Search.DownloadData")},
    {"tabLoadData",Localization.GetText("OPUS.Search.LoadData")},
})

<div class="tab-content">
    <div class="tab-pane active" id="tabDownloadData" data-tableId="visualOutputDownloadFilterResultsTable">
        @Html.Partial("Partials/Tabs/VisualOutputDownloadData", Model.DownloadFilterResultsViewModel)
    </div>
    <div class="tab-pane" id="tabLoadData" data-tableId="visualOutputLoadFilterResultsTable">
        @Html.Partial("Partials/Tabs/VisualOutputLoadData", Model)
    </div>
</div>

