@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers

@if (ViewBag.WriteRole)
{
    <div data-id="headerButtons" class="float-right main-buttons">

        @Confluence.ButtonLink(
            Localization.GetText("Cancel"),
            action: "cancel")

        @Confluence.ButtonOrange(
            Localization.GetText("MrBlue.Save"),
            action: "save")
    </div>
}
