<div class="pull-right">
    <div id="headerButtons" data-id="headerButtons" class="right-buttons">
        @if (ViewBag.Permission != false || ViewBag.AttributePermission != false)
        {

            <div data-pagemode="read">
                @Confluence.ButtonBlue(Localization.GetText("OP.AP.Edit"), action: "edit")
            </div>

            <div data-pagemode="edit">
                @Confluence.ButtonLink(Localization.GetText("OP.AM.Cancel"), action: ViewBag.ID > 0 ? "cancel" : "cancelNew")
                @Confluence.ButtonOrange(Localization.GetText("OP.AM.Save"), action: "saveAttribute")

            </div>
        }
    </div>
</div>
