@using IDB.MW.Application.OPUSModule.ViewModels.Common

@model GenericCommentsViewModel

<div data-id="@Model.CommentId">
    <div class="row row-header row-header-comment">
        <div class="col-md-12">
            <p>@Convert.ToDateTime(DateTime.Now).ToString("dd MMM yy")</p>
            @if (!string.IsNullOrWhiteSpace(ViewBag.user))
            {
                <p>@ViewBag.user</p>
            }
        </div>
    </div>

    <div class="row row-body-comment">
        <div data-pagemode="edit">
            
            <div class="col-md-12 font-comment break-words">
                <b>
                    @ControlTemplates.InputTextArea(Model.Comment, "commentComment", rows: 6, required: true)
                </b>
            </div>
            <input type="hidden" name="commentCommentId" value="0" />
        </div>


   </div>
</div>
