@using IDB.Architecture.Extensions
@using IDB.MW.Application.OPUSModule.Helpers
@using IDB.MW.Application.OPUSModule.ViewModels.Common

@model RelationsViewModel

@{
    var operTypeCode = ViewData.ContainsKey("OperTypeCode") ?
        (string)ViewData["OperTypeCode"] : string.Empty;
}

@if (RelatedOperationsHelper.HasAnyNotParent(Model.RelatedOperations))
{
    @Html.Partial("_TableRelationsChild", Model)
}

@if (Model.ExtendedRelatedOperations.HasAny())
{
    foreach (var relationship in Model.ExtendedRelatedOperations)
    {
        <table id="relationsTable"
               class="tableNormal child-table relation-table"
               style="margin-bottom: 18px"
               name="relationsTable">
            <thead>
                @Html.Partial(
                    "_TableRelationsHeader",
                    relationship,
                    new ViewDataDictionary { { "RelationshipClass", "notCollapse" } })
            </thead>
            <tbody>
                @if (relationship.HasParent)
                {
                    @Html.Partial(
                        "_TableRelationsRowParent",
                        RelatedOperationsHelper.GetRelatedParentOperation(
                            Model.RelatedOperations,
                            relationship.RelatedOperations),
                        new ViewDataDictionary {
                            { "RelationshipClass", "notCollapse" },
                            { "OperTypeCode", operTypeCode },
                        })
                }
                <tr class="notCollapse">
                    @if (relationship.HasParent)
                    {
                        <td class="tree"><span></span></td>
                    }
                    <td colspan="9" class="subnivel">
                        <div>
                            @Html.Partial(
                                "_TableRelationsChild",
                                relationship,
                                new ViewDataDictionary { { "RelationshipClass", "notCollapse" } })
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    }
}
