@using IDB.Presentation.MVC4.Areas.Global.Models;
@using IDB.MW.Domain.Models.Global;

@model DelegatingTaskSearchModel

@{
    var username = (string) ViewBag.Username;

    var delegatingTaskAssignedViewModel = new DelegatedTaskUserModel
    {
        OperationNumber = string.Empty,
        TaskId = Model.TaskId,
        UserData = new TaskDelegatedModel
        {
            UserName = username
        }
    };
}
<div class="popUpBody" 
     id="DelegatingTaskWindow" 
     style="position:relative" 
     data-window-title="@Localization.GetText("Delegating task")">
    
    @if(string.IsNullOrWhiteSpace(username))
    {
        @Html.Partial("DelegatingTaskSearch", Model, 
            new ViewDataDictionary())
    }
    else
    {
        @Html.Partial("DelegatingTaskAssigned", delegatingTaskAssignedViewModel, 
            new ViewDataDictionary())
}

</div>