
<script>
    $(document).ready(function () {
        $("#lnkAcceptWorkFlow").click(function () {
            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $(".ui-widget-overlay").remove();
            $(".k-window").remove();
            $(".k-overlay").remove();
        });
    });
</script>

@{
    var confirmMessage = Localization.GetText("When the operation's classification is modified by a user, it is mandatory to insert a comment along with your validation.  Please explain the reasons behind the change, and the factors considered in the decision.");
        
}
<div style="padding: 20px;">
    @confirmMessage
</div>
<div class="pie pieReassign">
    <div class="botones">
        <a title="@Localization.GetText("Accept")" class="btn-primary" id="lnkAcceptWorkFlow" href="javascript:void(0)">@Localization.GetText("Accept")</a>
    
    </div>
</div>