
<h1 class="misection">Contenido del modal</h1>
<button class="buttonBlue" onclick="testModal()">Demo</button>
@Confluence.InputText(null, "modalInput")
<script>
    function testModal() {        var modalInput = $("[name=modalInput]");
        $("[name=modalTag]").val(modalInput.serialize());
}
</script>