
<script>
    $(document).ready(function () {

        $(".loading-container").remove();
        
        $("#btnAccept").click(function () {
            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $(".ui-widget-overlay").remove();
            $(".k-window").remove();
            $(".loading-container").remove();
        });

    });
</script>

@{
    var customMessage = ""; 
    var messageCode = int.Parse(ViewData["messageCode"].ToString());
    string id = ViewBag.id;
    switch (messageCode)
    {
        case 1: customMessage = Localization.GetText("Please provide a clear and specific justification for changing the performance classification"); break;
        case 2: customMessage = Localization.GetText("Please provide a clear and specific justification for changing the performance classification"); break;
        case 3: customMessage = Localization.GetText("Please, add a comment in order to reject the task"); break;
        case 4: customMessage = Localization.GetText("Are you sure to remove this message?"); break;
        case 5: customMessage = Localization.GetText("Please, add a comment in order to reject the task"); break;
        case 6: customMessage = Localization.GetText("PMI.Task.Message.Change.Classification"); break;
        default: customMessage = "Action Not Valid"; break;
    }
}

<div style="padding: 20px;">
    @customMessage
</div>
<div class="pie pieReassign">
    <div class="botones">
        <label for="delete">
            @if (string.IsNullOrEmpty(id)) {
                <input type="button" value="@Localization.GetText("Accept")" class="btn-primary" id="btnAccept">
            }
            else
            {
                <input type="button" value="@Localization.GetText("Cancel")" class="btn-primary" id="btnAccept">
                <input type="button" value="@Localization.GetText("Accept")" class="btn-primary" onclick="removecommentfinal('@id')">
            }
        </label>
    </div>
</div>

