<div class="row">
    <div class="col-md-6">
        <div class="field">
            <input placeholder="Operation number" id="txtOperationNumber" name="txtOperationNumber" class="modalInput">
        </div>
        <div class="field">
            <input placeholder="IDBDocs number" id="txtIDBDocsNumber" name="txtIDBDocsNumber" class="modalInput">
        </div>
        <div class="field">
            <input placeholder="Document ID" id="txtDocumentId" name="txtDocumentId" class="modalInput">
        </div>
        <div class="field">
            <input placeholder="Document content" id="txtDocumentContent" name="txtDocumentContent" class="modalInput">
        </div>
        <div class="field">
            @ControlTemplates.InputCheckbox(false, "chkInputCorrespondence", id: "chkInputCorrespondence", label: "Input correspondence", forceValidation: false,
                                            dataAttributes: new Dictionary<string, string>{{ "action", "toggleInputCorrespondence" }})
            
            <div id="inputCorrespondenceContainer" class="row hide">
                <div class="col-md-4">
                    <input placeholder="Number" id="txtDocumentNumberInput" name="txtDocumentNumberInput" class="modalInputSmall">
                </div>
                <div class="col-md-4">
                    <select name="cboInputCorrespondenceYear" id="cboInputCorrespondenceYear" class="modalInputSmall">
                        <option value="">Year</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                        <option value="2011">2011</option>
                        <option value="2010">2010</option>
                        <option value="2009">2009</option>
                        <option value="2008">2008</option>
                        <option value="2007">2007</option>
                        <option value="2006">2006</option>
                        <option value="2005">2005</option>
                        <option value="2004">2004</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <input placeholder="Asigned to" id="txtAsignedToInput" name="txtAsignedToInput" class="modalInputSmall">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="field">
            <input placeholder="Contract number" id="txtContractNumber" name="txtContractNumber" class="modalInput">
        </div>
        <div class="field">
            <input placeholder="Document name" id="txtDocumentName" name="txtDocumentName" class="modalInput">
        </div>
        <div class="field">
            <input placeholder="IDB Author User ID" id="txtIDBAuthorUserId" name="txtIDBAuthorUserId" class="modalInput">
        </div>
        <div class="field" style="height: 32px;">
        </div>
        <div class="field">
            @ControlTemplates.InputCheckbox(false, "chkOutputCorrespondence", id: "chkOutputCorrespondence", label: "Output correspondence", forceValidation: false,
                                            dataAttributes: new Dictionary<string, string>{{ "action", "toggleOutputCorrespondence" }})
            <div id="outputCorrespondenceContainer" class="row hide">
                <div class="col-md-4">
                    <input placeholder="Assigned To" id="txtReference" name="txtReference" class="modalInputSmall">
                </div>
                <div class="col-md-4">
                    <select name="cboOutputCorrespondenceYear" id="cboOutputCorrespondenceYear" class="modalInputSmall">
                        <option value="">Year</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                        <option value="2011">2011</option>
                        <option value="2010">2010</option>
                        <option value="2009">2009</option>
                        <option value="2008">2008</option>
                        <option value="2007">2007</option>
                        <option value="2006">2006</option>
                        <option value="2005">2005</option>
                        <option value="2004">2004</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <input placeholder="References number" id="txtReferencesNumberOutput" name="txtReferencesNumberOutput" class="modalInputSmall">
                </div>
            </div>
        </div>
    </div>
</div>