@using IDB.Architecture.Language

@if (!string.IsNullOrEmpty(ViewBag.WarningMessage))
{
    <script type="text/javascript">
            $(document).ready(function () {
                $('#WarningLog').modal();
            });
    </script>

    <div class="modal fade" id="WarningLog" tabindex="-1" role="dialog">
        <div class="modal-dialog warningModal" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h3 class="modal-title">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        @Localization.GetText("GLOBAL.CONTROL.WARNING")
                    </h3>
                </div>
                <div class="modal-body">
                    @ViewBag.WarningMessage
                </div>
            </div>
        </div>
    </div>
}