h1 {
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    font-family: opensans-regular;
}

h6 {
    float: right;
}

a[name]:hover {
    text-decoration: none !important;
}

.ContenidoColapsableTest {
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    text-align: center;
}

#volverInicio {
    margin: 0;
    display: inline;
    position: fixed;
    right: 0;
    bottom: 50%;
    height: 40px;
    width: 40px;
    background-color: #428bca;
    color: #fff;
    overflow: hidden;
    text-decoration: none;
}

    #volverInicio:hover {
        background-color: #888;
        text-decoration: none;
    }

    #volverInicio .caret {
        border-bottom: 8px solid;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        left: 10px;
        position: relative;
        top: 9px;
        border-top: 0;
    }

h1.secciones {
    font-size: 1.5em;
    border: none;
    background-color: #888;
    padding: 1em;
    color: #fff;
    margin-bottom: 0;
    border-radius: 0.5em 0.5em 0 0;
}

.bloqueSeccion {
    border: 2px solid #ccc;
    padding: 3em;
    border-radius: 0 0 1em 1em;
    border-top: 0;
    box-shadow: 0 3px 10px 0px #ccc;
}

.container-fluid {
    padding-right: 35px;
    padding-left: 35px;
}

.menuGuia {
    margin: 0;
}

    .menuGuia > li {
        list-style: none;
        width: 22%;
        display: inline-table;
        margin-right: 2%;
    }

.explain {
    margin: 20px 20px 20px 20px;
    border-color: blue;
    display: block;
}

    .explain ul li {
        margin: 20px 20px 20px 20px;
    }

.floatButtons {
    position: fixed;
    top: 2px;
    right: 2px;
}
