@if (ViewBag.EditableScreen == true)
{

    <div data-id="headerButtons" class="text-right" data-idb-fieldname="btnEditParticipantTab">
        <div data-pagemode="read">
            @Confluence.ButtonBlue(Localization.GetText("VER.GLOBAL.Edit"), action: "edit", dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "btnEditParticipantTab" } })
        </div>

        <div data-pagemode="edit" class="hide">
            @Confluence.ButtonLink(Localization.GetText("VER.GLOBAL.Cancel"), null, "cancel")
            @Confluence.ButtonOrange(Localization.GetText("VER.GLOBAL.Save"), null, "save")
        </div>
    </div>
}