@using IDB.MVCControls.DataTable.Helpers
@using IDB.MW.Application.VMRModule.ViewModels.MyMeeting
@using IDB.MW.Domain.Values.Vmr
@model List<MyMeetingsRowViewModel>
@Confluence.InputHidden(ViewBag.SerializedVmrInstancesViewModel, id: "myMeetingsViewModel")
    @{
        var domainShp = @Globals.GetSetting("BasePath", string.Empty);
        var operationNumber = IDBContext.Current.Operation;
    }
    <div class="tableNormal" id="tableMyMeetings">
        @{
            var resultMyMeetingTable = Html.RenderDataTable(Model);
            resultMyMeetingTable.Name("MyMeetingsTable")
                .Columns(columns =>
                {
                    columns.Template(c => Confluence.Label(c.OperationNumber))
                        .Header(Localization.GetText("VMR.MM.MyMeetingsTab.OperationNumber"))
                        .HeaderAttribute("order-type", "text")
                        .CssHeaderClass("w180 sort");
                    columns.Template(c => Confluence.LabelLink(
                        c.Name,
                        htmlClass: "text-left",
                        action: !string.IsNullOrEmpty(operationNumber)
                            ? "goToMeeting"
                            : "goToMeetingSharepoint",
                        dataAttributes: new Dictionary<string, string>
                        {
                            {
                                "url",
                                domainShp +
                                VmrGlobalValues.LINK_VMR.Replace(
                                    VmrGlobalValues.OPERATION_NUMBER_REPLACE, c.OperationNumber) +
                                c.VmrInstanceId
                            },
                            {
                                "urlShp",
                                domainShp +
                                VmrGlobalValues.LINK_NOT.Replace(
                                    VmrGlobalValues.OPERATION_NUMBER_REPLACE, c.OperationNumber) +
                                c.VmrInstanceId
                            }
                        }))
                        .CssHeaderClass("sort w790")
                        .HeaderAttribute("order-type", "text")
                        .Header(Localization.GetText("VMR.MM.MyMeetingsTab.Name"));
                    columns.Template(c => Confluence.LabelGetDate(c.CreationDate))
                        .CssHeaderClass("w160 sort")
                        .HeaderAttribute("order-type", "date")
                        .Header(Localization.GetText("VMR.MM.MyMeetingsTab.CreationDate"));
                    columns.Template(c => Confluence.Label(c.Type))
                        .Header(Localization.GetText("VMR.MM.MyMeetingsTab.Type"))
                        .HeaderAttribute("order-type", "text")
                        .CssHeaderClass("w290 sort");
                    columns.Template(c => Confluence.Label(
                        string.Format("{0:dd MMM yyyy}", c.MeetingPeriodInitial) + " - " +
                        string.Format("{0:dd MMM yyyy}", c.MeetingPeriodFinal)))
                        .Header(Localization.GetText("VMR.MM.MyMeetingsTab.MeetingPeriod"))
                        .CssHeaderClass("w200");
                    columns.Template(c => Confluence.LabelGetBool(c.FaceToFace))
                        .Header(Localization.GetText("VMR.MM.MyMeetingsTab.FaceToFace"))
                        .CssHeaderClass("w130");
                    columns.Template(c => Confluence.Label(c.Status))
                        .HeaderAttribute("order-type", "text")
                        .Header(Localization.GetText("VMR.MM.MyMeetingsTab.Status"))
                        .CssHeaderClass("w160 sort");
                    columns.Bound(c => c.OperationNumber)
                        .EditableTemplate(row => Confluence.InputText(
                            row.OperationNumber.ToString(), "operationNumber"))
                        .Hidden(true);
                });

            resultMyMeetingTable.TableClass = "tableNormal endSpacing";

            @Html.Partial("Controls/DataTable", resultMyMeetingTable)
        }
    </div>