
<div class="col-md-12">
    <button class="buttonBlue pull-right" type="submit">Edit</button> @*PACI.EDIT*@
    @Confluence.ButtonBlue("Edit", name: "btnpacieditmode", disabled: !Model.IsEditMode)
</div>
<div class="col-md-12">
    <button class="buttonBlue pull-right" type="submit">Edit</button> @*PACI.EDIT*@
    @Confluence.ButtonLink("Cancel", name: "btnpacicanceledit", disabled: Model.IsEditMode)
</div>