<span class="italicStyle">
    @Confluence.LabelHelper(Localization.GetText("TCP.FirmProcurement.Legend.CommitFundsSimple.RevisedAmount"))
</span>
@(new HtmlString("&colon;"))
@Confluence.LabelHelper(Localization.GetText("TCP.FirmProcurement.Legend.CommitFundsSimple.ProvidedVPSChangedExecution"))

