@using IDB.Presentation.MVC4.Helpers
@using IDB.Architecture.Language

<h3 class="new-modal-title">
    <span class="new-modal-icon margin-left">&nbsp;</span>
    <span class="new-modal-text">Warning!</span>
</h3>

<div class="modalBody modalBodyColor">
    <div id="exAgModalMessage" class="margin-Verify">
    </div>
    <hr />
    <div class="text-right">
        <button type="button" class="button01" data-ismodal="true" data-action="closeModal">
            @Localization.GetText("OP.FD.OK")
        </button>
    </div>
</div>
