@using IDB.MW.Application.OPUSModule.ViewModels.FinancialDataPreparationService

@model List<FinancialDataPreparationoBLDModels>

@foreach (var item in Model.ToList())
{
    <tr dd-bld>
        @if (ViewBag.tipoTabla != "noTree")
        {
            <td class="tree"><span></span><span class="selected"></span></td>
        }
        <td></td>
        <td><span class="font10">@item.Nombre</span></td>
        <td id="fundTbdColumn">
            <input type="hidden" id="isTbd" />
        </td>
        <td class="text-right"><span class="font10">@Confluence.LabelDecimal(item.Amount)</span></td>
        <td></td>
    </tr>
}