

<div class="text-right">
    <span data-pagemode="edit">
        @Confluence.ButtonLink(text: Localization.GetText("OP.AP.Cancel"), action: "SCCancel")
    </span>
    <span data-pagemode="read" class="hidden">
        @Confluence.ButtonBlue(text: Localization.GetText("SC.SC.Correspondence.Buttons.Edit"), action: "SCEdit", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnEdit" } })
    </span>
    @Confluence.ButtonBlue(text: Localization.GetText("SC.SC.Correspondence.Buttons.Filter"), action:"SCFilter")
</div>
