@model IDB.MW.Application.AdministrationModule.ViewModels.Delegation.DelegationFilterViewModel

<div id="authorizeAllFilter" class="filterNormal">
    <div class="col-md-12">
        <div class="col-md-8">
            @Confluence.LabelsGroup(Localization.GetText("Delegation.Filter.Authorizer"),
                Confluence.InputDropDownAsync(Model.DelegatorUserName, "User", Url.Action("SearchUser", "DelegationView", new { area = "AdministrationSecondPhase" }), textSelected: Model.DelegatorName, width: "80%", disabled: !Model.IsEditable, resetOnClick: false),
                false)
        </div>
    </div>
    <div class="col-md-12">
        <div class="pull-right mr30">
            @Confluence.ButtonBlue(Localization.GetText("Clear"), action: "clear", disabled: !Model.IsEditable)
            @Confluence.ButtonBlue(Localization.GetText("OP.DE.Filter"), action: "searchDelegatorFilter", disabled: !Model.IsEditable)
        </div>
    </div>
</div>
