@using IDB.Presentation.MVC4.Helpers
@using IDB.Architecture.Language

<div id="headerButtons">
    <div data-pagemode="edit">
        @Confluence.ButtonLink(text: Localization.GetText("OP.MS.Cancel"), action: "cancelSupervisionPlanTask",
        dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnCancelSupervisionPlanTask" } })
        @Confluence.ButtonBlue(text: Localization.GetText("Save & Validate"), name: "ValidateTask", action: "save")
        @Confluence.ButtonBlue(text: Localization.GetText("Save & Reject"), name: "RejectTask", action: "saveAndReject")
        @Confluence.ButtonWhite(Localization.GetText("Save"), name: "", action: "save")
    </div>
</div>


