.information-message {
    float: right;
    width: calc(100% - 50px);
    font-size: 12px !important;
}

.information-nowrap-top {
    white-space: nowrap;
    vertical-align: top;
}

.information-nowrap-bottom {
    white-space: nowrap;
    vertical-align: bottom;
}

.information-bottom {
    vertical-align: bottom;
}

.info-operational-support {
    margin-bottom: 25px;
    white-space: nowrap;
}

.info-message-operational-support {
    font-size: 14px;
    font-weight: bolder;
}

.check-message-operational-support {
    padding-top: 8px;
    font-size: 14px;
    font-weight: bolder;
}

.check-operational-support {
    padding-top: 7px;
}

.info-match-counterpart {
    font-size: 14px;
    font-weight: bolder;
}