@if (ViewBag.EditableScreen == true)
{
    <div data-id="btnEditTab" class="text-right">
        <div data-pagemode="read">
            @Confluence.ButtonBlue(Localization.GetText("VMR.MM.MeetingRoom.Edit"), null, "edit")
        </div>

        <div data-pagemode="edit">
            @Confluence.ButtonLink(Localization.GetText("VMR.MM.MeetingRoom.Cancel"), null, "cancel")
            @Confluence.ButtonOrange(Localization.GetText("VMR.MM.MeetingRoom.Save"), null, "save")
        </div>
    </div>
}