@{
    Layout = null;
    string servicePath = Url.Action("Index");
    servicePath = servicePath.Substring(0, servicePath.ToLower().IndexOf("publications"));
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publications</title>
    <script src="~/scripts/jquery-1.10.2.min.js" defer></script>
    <script src="~/scripts/angular/1.6/angular.min.js" defer></script>
    <script src="~/scripts/angular/angular-sanitize.min.js" defer></script>
    <script src="~/scripts/kendo2015/kendo.all.min.js" defer></script>
    <script src="~/scripts/bootstrap/bootstrap.min.js" defer></script>
    <script src="~/scripts/bootstrap/validator.js" defer></script>
    <script src="~/Scripts/angular/angular-translate.min.js" defer></script>
    <script src="~/scripts/bootstrap/ui-bootstrap-tpls-2.5.0.js" defer></script>
    <script src="~/scripts/kendo2015/jszip.min.js" defer></script>
    <script src="~/scripts/angular/plugins/ng-tags-input-custom.js" defer></script>

    <link rel="stylesheet" href="~/content/bootstrap/kendo.common.min.css">
    <link rel="stylesheet" href="~/content/bootstrap/kendo.default.min.css">
    <link rel="stylesheet" href="~/content/bootstrap/3.3.7/bootstrap.min.css">
    <link rel="stylesheet" href="~/content/bootstrap/animate.css">
    <link rel="stylesheet" href="~/Content/bootstrap/ng-tags-input.bootstrap.css" />

    <script src="~/app/modules/publication/publication-app.js" defer></script>
    <script src="~/app/modules/publication/publication-service.js" defer></script>
    <script src="~/app/modules/publication/publication-rules.js" defer></script>
    <script src="~/app/modules/publication/list/create-publication.js" defer></script>
    <script src="~/app/modules/publication/list/publication-list.js" defer></script>
    <script src="~/app/modules/publication/activity/activity-templates.js" defer></script>
    <script src="~/app/modules/publication/shared/add-document.js" defer></script>
    <script src="~/app/modules/publication/publication-external-link.js" defer></script>
    <link rel="stylesheet" href="~/content/bootstrap/publications.css">
    <link id="linkRoot" href="~/" rel="tag" />
    <base href="/">
    <link id="serviceRoot" href="@servicePath" rel="tag" />
    <link id="currentLanguage" href="@IDBContext.Current.CurrentLanguage" rel="tag" />
    <link id="currentCountry" href="us" rel="tag" />
    <link id="ConcurrenceControlEnabled" href="@((!Globals.GetSetting(" SecurityMode", string.Empty).Equals("Local")).ToString())" rel="tag" />
    @{Html.RenderPartial("~/Views/Shared/TrackingHeader.cshtml");}
</head>
<body>
    <div class="container body-content">
        <div ng-app="publications" class="publications">
            <div ng-controller="listController" id="listGrid">
                <div intermodule-messages></div>
				<div ng-include="modeInformationUrl" class="k-grid"></div>		
                <div publication-list-actions></div>
                <div publication-list></div>
            </div>
        </div>
    </div>
</body>
</html>
