@using IDB.MW.Application.OPUSModule.ViewModels.CreationFormService;

@model CreationFormViewModel

@if (Model != null)
{
    <div id="tableFinancingData" class="@(ViewBag.Visibility.FinancingData != true ? "hide" : null)">
        <div class="row row-header">
            <div class="col-md-12">
                @Confluence.LabelSubTitleGroup(
                    Localization.GetText("OP.CR.CreationForm.BD.FinancingData"),
                    htmlClass: "w150 floatLeft")
                @Confluence.InformationSection(
                    Localization.GetText("OP.CR.CreationForm.BD.FD.Info"),
                    "80%",
                    "floatLeft")
            </div>
        </div>
        @Html.Partial("Partials/CreationForm/DataTables/ExpectedIDB")
    </div>
}
