<div data-id="headerButtons" class="text-right">
    <div data-type="contentButtons" data-id="read-climate-change" data-idb-fieldname="climate-change-edit-control">
        @Confluence.ButtonBlue(Localization.GetText("OP.OD.Edit"), name: "edit-ClimateChange")
    </div>
</div>
