@using IDB.Presentation.MVC4.Helpers

@if (SecurityHelper.IsVisibleByDefault(ViewBag.FieldAccessList, "btnEditClsn"))
{
    <div data-id="headerButtons" class="text-right" data-idb-fieldname="btnEditClsn">
        <div data-pagemode="read">
            @Confluence.ButtonBlue(Localization.GetText("OP.OD.Edit"),
                            action: "edit",
                            disabled: SecurityHelper.IsReadOnly(ViewBag.FieldAccessList, "btnEditClsn"),
                            dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "btnEditClsn" } })
        </div>

        <div data-pagemode="edit">
            @Confluence.ButtonLink(Localization.GetText("OP.OD.Cancel"), null, "cancel")
            @Confluence.ButtonOrange(Localization.GetText("OP.OD.Save"), null, "saveOperationData")
        </div>
    </div>
}