@using IDB.Architecture.Language
@using IDB.MW.Application.OPUSModule.ViewModels.OperationDataService

@model StrategicAlignmentViewModel

@if (!Model.DEMLockReviewProcessData.IsLockReviewProcessDEM)
{
    if (Model.IsButtonsVisible)
    {
    <div data-id="headerButtons" class="text-right" data-idb-fieldname="btnEditStrAlig">
        <div data-pagemode="read">
            @Confluence.ButtonBlue(Localization.GetText("OP.OD.Edit"),
            name: "SAedit",
            action: "edit",
            dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "btnEditStrAlig" } })
        </div>
        <div data-pagemode="edit">
            @Confluence.ButtonLink(Localization.GetText("OP.OD.Cancel"), action: "cancel")
            @Confluence.ButtonOrange(Localization.GetText("OP.OD.Save"), action: "saveOperationData")
        </div>
    </div>
    }
}
else
{
    <div id="dem-block-description">@Html.Raw(Model.DEMLockReviewProcessData.LockDescription)</div>
    @:&nbsp;
}
