<div data-id="headerButtons" class="text-right">
    <div data-type="contentButtons" data-id="edit-climate-change" data-idb-fieldname="climate-change-save-control">
        @Confluence.ButtonLink(Localization.GetText("OP.OD.Cancel"), "cancel-climate-change")
        @Confluence.ButtonOrange(Localization.GetText("OP.OD.Save"), "save-climate-change", "SaveClimate")
    </div>
</div>