@Styles.Render("~/Content/ClassificationModal")
@Scripts.Render("~/bundles/ClassificationModal")

<div id="classificationsContainer" ng-app="ClassificationsApp" ng-controller="ClassificationsCtrl">
    <div class="col-md-12">
        <h4>
            {{Model.HeaderPopupMessage}}
        </h4>
    </div>

    <div ng-repeat="classification in Model.Classifications">
        <div class="col-md-12 mt20">
            <label class="lbltitle" ng-bind="classification.ClassificationName"></label>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <label class="labelNormal">@Localization.GetText("Impact")</label>
                <div class="mb16">
                    <select class="init-select select-impact" multiple="multiple" data-ng-model="classification.AssociatedImpactIndicators">
                        <option value="{{impact.Value}}" ng-repeat="impact in Model.AvailableImpactIndicators" ng-selected="classification.AssociatedImpactIndicators">
                            {{impact.Text}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <label class="labelNormal">@Localization.GetText("Outcome")</label>
                <div class="mb16">
                    <select class="init-select select-outcome" multiple="multiple" data-ng-model="classification.AssociatedOutcomeIndicators">
                        <option value="{{impact.Value}}" ng-repeat="impact in Model.AvailableOutcomeIndicators" ng-selected="classification.AssociatedOutcomeIndicators">
                            {{impact.Text}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <label class="labelNormal">@Localization.GetText("Output")</label>
                <div class="mb16">
                    <select class="init-select select-output" multiple="multiple" data-ng-model="classification.AssociatedOutputIndicators">
                        <option value="{{impact.Value}}" ng-repeat="impact in Model.AvailableOutputIndicators" ng-selected="classification.AssociatedOutputIndicators">
                            {{impact.Text}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>

</div>
