.gc-adjust-display {
    display: inline-block;
}

.gc-adjust-checkbox {
    vertical-align: top;
    margin-top: 8px;
}

.gc-disabled {
    cursor: no-drop !important;
}

.LabelsGroup {
    margin-bottom: 15px;
}