@using IDB.MW.Application.CountryStrategyModule.ViewModels.ProductProfile
@using IDB.Presentation.MVC4.Helpers

@model ProductDataViewModel

@{
    var editClass = Model.IsExpired ? "hide" : string.Empty;


}


<div data-id="headerButtons" class="float-right">
    @if (SecurityHelper.IsVisible(Model.FieldAccessList, "cs-basic-data-edit-control"))
    {
         <div  data-type="contentButtons" data-id="read-BasicData" data-idb-fieldname="cs-basic-data-edit-control" class="">
              @Confluence.ButtonBlue(Localization.GetText("Common.Edit"),htmlClass: editClass, name: "edit-BD")
         </div>
    }
    @if ( SecurityHelper.IsVisible(Model.FieldAccessList, "cs-resp-data-edit-control"))
    {
        <div data-type="contentButtons" data-id="read-RespData" class="hide" data-idb-fieldname="cs-resp-data-edit-control">
            @Confluence.ButtonBlue(Localization.GetText("Common.Edit"), htmlClass: editClass, name: "edit-RD")
        </div>
    }
</div>
