@using System.Globalization
@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.MVCControls.DataTable.Helpers
@using IDB.MW.Infrastructure.Configuration
@using IDB.Presentation.MVC4.Models.Modal
@using IDB.Presentation.MVC4.General
@using IDB.MW.Application.CountryStrategyModule.ViewModels.ProductProfile
@using IDB.MW.Domain.Values

@model  List<OperationTeamRowViewModel>

<div class="row row-header">
    <div class="col-md-10 subtitleGroup">
        @Localization.GetText("CS.ProductData.Team")
    </div>
    <div class="col-md-2 text-right ">
        @Confluence.ButtonExcel("TeamDataReport", "exportTeamData")
    </div>
</div>
<div class="row row-body-20">
    <div class="col-md-12">
        @{
            var configOperationTeamTable = Html.RenderDataTable(Model);
            configOperationTeamTable.TableClass = "tableNormal endSpacing";
            configOperationTeamTable.Name("operationTeamsTable")
                .PrimaryKey(m => m.RowId.ToString(CultureInfo.InvariantCulture))
                .AddPrimaryKeyToName(false)
                .UsePageMode(false)
                .Columns(columns =>
                {
                    columns.Template(x => Confluence.Label(x.Name))
                    .Header(Localization.GetText("CS.ProductData.Name"));

                    columns.Template(x => Confluence.Label(x.RoleName))
                    .Header(Localization.GetText("CS.ProductData.Role"));

                    columns.Template(c => Confluence.Label(c.UserName))
                    .Header(Localization.GetText("CS.ProductData.UserID"));

                    columns.Template(c => Confluence.Label(c.OrganizationalUnit))
                    .Header(Localization.GetText("CS.ProductData.OrganizationalUnit"));

                    columns.Template(c => Confluence.Label(c.Delegate))
                    .Header(Localization.GetText("CS.ProductData.Delegate"));
                    
                });
        }

        @Html.Partial("Controls/DataTable", configOperationTeamTable)
    </div>
</div>