@model int

<span>
    &nbsp;
    <button class="sendEmail"
            data-action="downloadEmailDonorAndESCDecision"
            data-url='@Url.Action(
                     "DownloadWordDonorAndESCDecision",
                     "View",
                     new { area = "TC", trustfundid = Model })'>
    </button>
    <span class="informationEmail">
        @Localization.GetHtmlText("TC.SentToEmailGenericInformation")
    </span>
</span>
