<div id="headerButtons" data-id="EligibilityButtons" class="float-right main-buttons">
    @if (ViewBag.CanEdit)
    {
        <div data-pagemode="read">
            @Display.Button01(
                Localization.GetText("TC.Edit"),
                action: "editEligibility")
        </div>
        <div data-pagemode="edit">
            @Display.ButtonLink(
                Localization.GetText("TC.Cancel"),
                action: "cancelEligibility")
            @Display.Button05(
                Localization.GetText("TC.Save"),
                action: "saveEligibility")
            @Display.Button01(
                Localization.GetText("TC.SaveAndSend"),
                name: "sendButton",
                action: "sendEligibility")
        </div>
    }
</div>
