@using IDB.Architecture.Language
@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.MW.Infrastructure.SecurityService.Enums

@if (MvcHelpers.CheckSomeRoles(ViewBag.GLobalRoleList, ActionEnum.GCMChiefWrite, ActionEnum.SWCoordinatorWritePermission) || (ViewBag.IsMyFund ?? false))
{
    <div data-id="buttonsDonorContact" class="float-right donorContactDetails-headerButtons">
        <div data-pagemode="read">
            @Display.Button02(Localization.GetText("TC.Close"), action: "closeDonorContactDetails")
            @Display.Button01(Localization.GetText("TC.Edit"), action: "editDonorContactDetails")
        </div>

        <div data-pagemode="edit">
            @Display.ButtonLink(Localization.GetText("TC.Cancel"), action: "candelDonorContactDetails")
            @Display.Button05(Localization.GetText("TC.Save"), action: "saveDonorContactDetails")
        </div>
    </div>
}