@if ((bool)ViewBag.ReadRole)
{
    <div class="row export-buttons">
        <div class="col-md-12">
            <button data-action="downloadWord"
                    data-urldownloadreport='@Url.Action("TCAbstractExportToWord", "View",
                        new
                        {
                            area = "TC"
                        })'
                    class="btn btn-link buttonExport exportWord"></button>
            <button data-action="downloadPdf"
                    data-urldownloadreport='@Url.Action("TCAbstractExportToPDF", "View",
                        new
                        {
                            area = "TC"
                        })'
                    class="btn btn-link buttonExport exportPDF"></button>
        </div>
    </div>
}