@using IDB.Presentation.MVC4.Models.Modal
@using IDB.Presentation.MVC4.General

@if (ViewBag.IsCoordinator)
{
    <div id="headerButtons" class="float-right main-buttons priorityTCButtons">
        <div data-pagemode="read">
            @Display.Button01(Localization.GetText("TC.Edit"), action: "editPriorityTC")
        </div>
        <div data-pagemode="edit">
            @Display.ButtonLink(Localization.GetText("TC.Cancel"), action: "cancelPriorityTC")

            @Display.AddModalButton(
                new ModalViewModel(
                    typeButton: CssClass.Button05,
                    allowClose: true,
                    contentSelector: "#saveModal",
                    type: CssClass.ModalWarning,
                    title: Localization.GetText("TC.PriorityTC.SaveModal.Title"),
                    validateForm: true,
                    text: Localization.GetText("TC.Save"))
                .AddButton(
                    "cancel",
                    text: Localization.GetText("TC.Cancel"),
                    type: CssClass.ButtonLink,
                    callback: "")
                .AddButton(
                    "save",
                    text: Localization.GetText("TC.Save"),
                    type: CssClass.Button05,
                    callback: "saveModalConfirm",
                    closeAtEnd: true))

            @Display.AddModalButton(
                new ModalViewModel(
                    typeButton: CssClass.Button01,
                    allowClose: true,
                    contentSelector: "#sendModal",
                    type: CssClass.ModalWarning,
                    title: Localization.GetText("TC.PriorityTC.SendModal.Title"),
                    validateForm: true,
                    text: Localization.GetText("TC.Header.SaveAndSend"))
                .AddButton(
                    "cancel",
                    text: Localization.GetText("TC.Cancel"),
                    type: CssClass.ButtonLink,
                    callback: "")
                .AddButton(
                    "save",
                    text: Localization.GetText("TC.Header.SaveAndSend"),
                    type: CssClass.Button01,
                    callback: "saveAndSend",
                    closeAtEnd: true))
    </div>
</div>
}
