    <div class="row float-right export-buttons">
        <div class="col-md-12">
            <button data-action="downloadWord" class="btn btn-link buttonExport exportWord"></button>
            <button data-action="downloadPdf" class="btn btn-link buttonExport exportPDF"></button>
        </div>
    </div>
