<style type="text/css">.reviewTCAbstract-headerButtons { }</style>

@using IDB.Presentation.MVC4.Models.Modal
@using IDB.Presentation.MVC4.General

@if (ViewBag.WriteRole)
{
    <div id="headerButtons" class="float-right main-buttons reviewTCAbstract-headerButtons">
        <div data-pagemode="read">
            @Display.Button01(Localization.GetText("TC.Edit"), action: "editReviewTCAbstract")
        </div>
        <div data-pagemode="edit">
            @Display.ButtonLink(Localization.GetText("TC.Cancel"), action: "cancelEditReviewTCAbstract")

            @Display.AddModalButton(
                 new ModalViewModel(
                     typeButton: CssClass.Button05,
                     allowClose: true,
                     contentSelector: "#saveModal",
                     name: "saveModal",
                     type: CssClass.ModalWarning,
                     title: Localization.GetText("TC.TCAbstractModalSave.Title"),
                     validateForm: false,
                     validateOptialRequired: false,
                     text: Localization.GetText("TC.Save"))
                 .AddButton("cancel",
                     text: Localization.GetText("TC.Cancel"),
                     type: CssClass.ButtonLink,
                     callback: "")
                 .AddButton("save",
                     text: Localization.GetText("TC.Save"),
                     type: CssClass.Button05,
                     callback: "saveReviewTCAbstract",
                     closeAtEnd: true))

            @if (ViewBag.WriteTLRole)
            {
                @Display.AddModalButton(
                    new ModalViewModel(
                        typeButton: CssClass.Button01,
                        allowClose: true,
                        contentSelector: "#sendModal",
                        name: "sendModal",
                        type: CssClass.ModalWarning,
                        title: Localization.GetText("TC.TCAbstractModalSend.Title"),
                        validateForm: true,
                        text: Localization.GetText("TC.Header.SendSingleWindow"),
                        actionOnClose: "openModalSendToSingleWindow",
                        closeOnOverlay: false)
                    .AddButton("cancel",
                        text: Localization.GetText("TC.Cancel"),
                        type: CssClass.ButtonLink,
                        callback: "")
                    .AddButton("send",
                        id: "EditReviewTCAbstract_SSW_Send",
                        text: Localization.GetText("TC.Header.SendSingleWindow"),
                        type: CssClass.Button01,
                        callback: "saveAndSendReviewTCAbstract",
                        closeAtEnd: true))
            }
        </div>
    </div>
}