<div class="float-right">
    <button data-action="downloadWord" class="btn btn-link buttonExport exportWord"></button>
    <button data-action="downloadXls" class="btn btn-link buttonExport exportExcel"></button>
</div>