@using IDB.Presentation.MVC4.Helpers

@if( ViewBag.WriteRole )
{
    <div data-id="headerButtons" class="float-right main-buttons singleWindowOperationsButtons">
        <div data-pagemode="read">
            @Display.Button01( Localization.GetText( "TC.Edit" ) , action: "editOperations" )
    </div>
        <div data-pagemode="edit">
            @Display.ButtonLink( Localization.GetText( "TC.Cancel" ) , action: "cancelOperations" )
            @Display.Button05( Localization.GetText( "TC.Save" ) , action: "saveOperations" )
	</div>
</div>
}