<div class="row export-buttons" style="text-align:right;">
    <div class="col-md-12">
        <button data-action="downloadWord"
                class="btn btn-link buttonExport exportWord"
                name="TCAbstractWord">
        </button>
        <button data-action="downloadPdf"
                class="btn btn-link buttonExport exportPDF"
                name="TCAbstractPDF">
        </button>
    </div>
</div>
