@if (ViewBag.WriteRole != null && (bool)ViewBag.WriteRole)
{
    <div class="float-right">
        <button data-action="downloadWord" class="btn btn-link word boxImg"></button>
        <button data-action="downloadPdf" class="btn btn-link pdf boxImg"></button>
        <button data-action="downloadXls" class="btn btn-link exportXls boxImg"></button>
    </div>
}