@if (ViewBag.WriteRole)
{
    <div id="headerButtons" class="float-right main-buttons notifyFCButtons">
        <div data-pagemode="read">
            @Display.Button01(Localization.GetText("TC.Edit"), action: "edit")
        </div>
        <div data-pagemode="edit">
            @Display.ButtonLink(Localization.GetText("TC.Cancel"), action: "cancel")
            @Display.Button05(Localization.GetText("TC.Save"), action: "save")
            @Display.Button01(Localization.GetText("TC.SaveAndSend"), action: "sendAndSave")
        </div>
    </div>
}
