.disbursement { width: 95% !important; }
.disbursement .editingButtonsEdit { text-align: right; }
.disbursement h3 { float: left; }
.grid_editmode, .grid_editmode_block { display: none; }

.messages { font-size:14px; margin: 0px 0px 10px 0px; width: 100%; line-height: 30px; padding-left: 25px; display: none;}

.message-warning { background: #E19C23 no-repeat 5px;border: solid 1px #FFC4AF; cursor: default; display: inline;}
.message-notification { background-color: #287000; border: solid 1px #287000;  display: inline;}
.message-error { color: #8C2E0B; background-color: #FEF5F1; border: solid 1px #FFD7D7;  display: inline;}

.grid td { padding: 5px 5px; }
#projected_graph_container { min-height: 260px; }
.grid-projections td, .grid-projections th { text-align: center !important; }
.yellow { background-color: #FFFF83;}
.classification.yellow{
    background: #FFFF83;
    border: 1px solid #c0c0c0;
}
.classification.gray{
    background: #c0c0c0;
    border: 1px solid #c0c0c0;
}
.smallFontDP {
    font-size: 11px !important;
}

.noPadding {
    padding:0!important;
}

.heigth50p {
    height:50%!important;
}

/* button group */
.btn-group {margin-bottom: 1em;}
.btn-group button, .btn-group button:active {margin: 0 !important; background-color: #fff; border: 1px solid #193a6e !important; box-shadow: none;}
.btn-group button.active {background-color: #193a6e; color: #fff;}
.btn-group button.graphButton, .btn-group button.graphButton:hover {background: 10px center no-repeat url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAM1BMVEUAAACzs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7MAM6MoAAAAEHRSTlMAECAwQFBgcICPn6+/z9/vIxqCigAAAJlJREFUeF6tkUsOwyAMRAHnAwTH7/6nLaQlKGoWbdXZ2PKTxmPZ/VV8AUK4B2LlHijxFkT0umOiNG8BuQC/A7GV9ZoqUSLoRhlxfWgOFpwUahlgY/f6dFh1cQMsGiMqWV6jdT53BEMUmw+QGQeWlidBqgsVkw4Wdl/LbGhQ1J+pjOnoRaHNO8jkfmVt/UiVqlFX+OBR73K/6AEVlAd59JNf5wAAAABJRU5ErkJggg=='); padding-left: 3em;}
.btn-group button.valuesButton, .btn-group button.valuesButton:hover {background: 10px center no-repeat url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYAQMAAADaua+7AAAABlBMVEUAAACzs7P//+bLAAAAAXRSTlMAQObYZgAAABVJREFUeF5jwAfs//8DYWQ+TjEcAADKvQ+lexrCIgAAAABJRU5ErkJggg=='); padding-left: 3em;}
.btn-group button.graphButton.active, .btn-group button.graphButton.active:hover {background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAM1BMVEUAAAD///////////////////////////////////////////////////////////////+3leKCAAAAEHRSTlMAECAwQFBgcICPn6+/z9/vIxqCigAAAJlJREFUeF6tkUsOwyAMRAHnAwTH7/6nLaQlKGoWbdXZ2PKTxmPZ/VV8AUK4B2LlHijxFkT0umOiNG8BuQC/A7GV9ZoqUSLoRhlxfWgOFpwUahlgY/f6dFh1cQMsGiMqWV6jdT53BEMUmw+QGQeWlidBqgsVkw4Wdl/LbGhQ1J+pjOnoRaHNO8jkfmVt/UiVqlFX+OBR73K/6AEVlAd59JNf5wAAAABJRU5ErkJggg=='); background-color: #193a6e;}
.btn-group button.valuesButton.active, .btn-group button.valuesButton.active:hover {background-image :url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYAQMAAADaua+7AAAABlBMVEUAAAD///+l2Z/dAAAAAXRSTlMAQObYZgAAABVJREFUeF5jwAfs//8DYWQ+TjEcAADKvQ+lexrCIgAAAABJRU5ErkJggg=='); background-color: #193a6e; background-position-x: 10px;}

div.LabelsGroup{
    margin-right:5px;
}