@model IDB.MW.Application.AdministrationModule.ViewModels.VisualOutputsMapping.VisualOutputsMappingViewModel

<div id="uploadFileContainer" class="col-md-12">
    <div class="filterNormal mb20" name="visuaslOutputsLoadMappingContent">
        <div class="col-md-12">
            @VisualOutputsMapping.InputFile2("browseFile",
                          isMultiple: false,
                          acceptFormats: ".xls, .xlsx, .xlsm",
                          width: "100%",
                          buttonText: @Localization.GetText("OPUS.Search.Browse"))
        </div>
    </div>
</div>
