<div class="text-right">
    <div id="filterButtons" data-id="filterButtons">
        @Confluence.ButtonBlue(
            Localization.GetText("CM.Button.ClearAll"),
            name: "clearAll",
            dataAttributes: 
                new Dictionary<string, string>
                {
                    { "url", Url.Action(actionName: "GetDataByClearFilter") }
                })
        @Confluence.ButtonBlue(
            Localization.GetText("CM.Button.Filter"),
            name: "searchFilter",
            dataAttributes:
                new Dictionary<string, string>
                {
                    { "url", Url.Action(actionName: "GetDataByFilter") }
                })
    </div>
</div>