@using IDB.Presentation.MVC4.Areas.AdministrationSecondPhase.Models.Help

@model ButtonControlViewModel

<div class="row">
    <div class="col-md-12 mb50 text-right">
        <div id="pageModeButtons">
            <span data-pagemode="read">
                @if (Model.HasNewButton)
                {
                    @Confluence.ButtonOrange(
                        Localization.GetText("AP.HELP.Button.NewView"),
                        name: "newView",
                        dataNavigation: Model.NavigationNew)
                }

                @if (Model.HasEditButton)
                {
                    @Confluence.ButtonBlue(
                        Localization.GetText("CM.Button.Edit"),
                        name: "edit",
                        action: Model.ActionEdit)
                }
            </span>
            <span class="hide" data-pagemode="edit">
                @Confluence.ButtonWhite(
                    Localization.GetText("CM.Button.Cancel"),
                    name: "cancel",
                    action: Model.ActionCancel,
                    dataNavigation: Model.NavigationCancel)
                @Confluence.ButtonOrange(
                    Localization.GetText("CM.Button.Save"),
                    name: "save",
                    action: Model.ActionSave,
                    dataAttributes: new Dictionary<string, string> { { "url", Model.UrlSave } })
            </span>
        </div>
    </div>
</div>
