<div>
    <div class="col-md-12 text-right">
        @Confluence.ButtonExcel(
            action: "downloadReport",
            dataAttributes:
                new Dictionary<string, string>
                {
                    { "url", Url.Action(actionName: "DownloadReport") }
                })
    </div>
</div>