@model IDB.MW.Application.AdministrationModule.ViewModels.Help.AliasItemViewModel

<tr data-id="0" name="viewCode">
    <td class="hide" data-pagemode="read">
        @Confluence.LabelBold(Model.ViewCode)
    </td>
    <td data-pagemode="edit">
        @Confluence.InputText(
            Model.ViewCode,
            "viewCode",
            required: true,
            dataAttributes: new Dictionary<string, string>()
            {
                { "name", "newViewCode" },
                { "parsley-required", "true" } },
            width: "100%")
    </td>
    <td class="text-center" data-pagemode="edit" data-id="@Model.Id">
        @Confluence.ButtonTrash(null, action: "deleteRow")
    </td>
</tr>