@model IDB.MW.Application.AdministrationModule.ViewModels.Help.DetailsViewModel

<div class="row mb20" id="tableContent">
    <div class="col-md-12">
        <table id="tableData" class="mb20 tableNormal help-table">
            <thead>
                <tr>
                    <th class="col-md-12">
                        @Localization.GetText("AP.HELP.Title.ViewCode")
                    </th>
                    <th class="hide" data-pagemode="edit" style="width:40px"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Alias != null)
                {
                    foreach (var alias in Model.Alias)
                    {
                        <tr id=@alias.Id data-id=@alias.Id name="viewCode">
                            <td>
                                @Confluence.LabelBold(
                                    text: alias.ViewCode,
                                    dataAttributes: 
                                        new Dictionary<string, string>
                                        {
                                            { "name", "viewCode" },
                                            { "id", alias.Id.ToString() }
                                        })
                            </td>
                        <td class="hide text-center" data-pagemode="edit">
                            @Confluence.ButtonTrash(null, action: "deleteRow", required: false)
                        </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <div id="emptyTable" class="mt10 hide">
            @Confluence.Label(Localization.GetText("CM.Table.Empty"))
        </div>
    </div>
</div>