.MultiSelectCustomCR
{
    text-shadow: 0px;
    padding:0px; 
    margin: 0px; 
    border:0px; 
    font-family: 'Lucida Sans';
    color: #686868; 
    border: 1px solid #c8c5c5; 
    font: bold; 
    width:23em;
    height: 90px; 
    overflow-x: auto;
    border-color: #ccc;
    margin-right: 20px;  
}

.largeLabel {
    display:block;
    text-align:left;
    font-size:13px;
    color:#6f6f6f;
    width:23em;
}

.box1 
{
    margin-top:5px;
}

.box2 
{
    margin-top:70px;
}

.box3 
{
    margin-top:80px;
}

.box4 
{
    margin-left: 27px;
    margin-top:37px;
    color:#6f6f6f;
}

#DateClauseReportContainer {
    width:600px;
    
    margin-left:60px;
    margin-top:37px;
}

#DateClauseReportContainer label{
    font-size:13px;
    color:#6f6f6f;
}

.spanMargin {
margin-left:10px;
}

.marginLeft2 {
margin-left:65px;
}





