.MultiSelectCustom
{
    padding:0px; 
    margin: 0px; 
    border: 1px solid #c8c5c5;  
    font-family: 'Lucida Sans';
    color: #686868; 
    width: 23em;
    height: 90px; 
    overflow-x: auto;
    display:block;
}

.labelCustomClause {
    display:block;
    font-size:13px;
    color:#6f6f6f;
}

.listContainerCustom 
{
/*background-color: #ff0000;*/ 
border-bottom:50px;
}

.dateContainerCustom 
{
    display: block;
    margin-top:20px;
    left: 26em;
    padding: 0px;
    color: #686868;     
}

.checkContainerCustom 
{
    margin-top:90px;
    /*background-color:#b6ff00;*/
}

.firstContent {
    margin-top:40px;
    /*background-color:#000000;*/
}

.secontContent {
    margin-top:70px;
    /*background-color:#b200ff;*/
}

.thirdContend {
    margin-top:20px;
    /*background-color:#ff006e;*/
}

