.MultiSelectCustom
{
    font-family: 'Lucida Sans';
    color: #686868; 
    border: 1px solid #c8c5c5;  
    font: bold; 
    width:330px;
    height: 90px; 
    overflow-x: auto;
}

.alignFilter 
{
    height: 130px;
    width: 330px;  
}

.textFilter 
{
    font-family: 'Lucida Sans'; 
    font-size: 13px;
    color:  #686868; 
    width: 150px; 
    margin-bottom: 3px; 
}

.testMain 
{
    background-color:#ffd800; 
}

.CheckAlingLeft 
{
    margin: 0px; 
    padding: 0px; 
    float:left; 
    height:17px; 
    width: 17px; 
    margin-right: 10px; 
    border-radius: 2px 2px 2px 2px; 
    border: solid 4px #099bbb; 
    
    
}

.spanCustomLabel
{   
    margin-left:25px;
    width:200px;
}

.labelCustom {
    float:left;
    font-size:13px;
    color:#6f6f6f;
    display:inline-block;
}



