.MultiSelectCustom
{
    font-family: 'Lucida Sans';
    color: #686868; 
    border: 1px solid #c8c5c5;  
    font: bold; 
    width:360px;
    height: 90px; 
    overflow-x: auto;
}


.labelSelectNormalPMROperation {
    display:block;
    text-align:left;
    font-size:13px;
    color:#6f6f6f;
    width:23em;
}


.labelSelectNormalPMROperation2 {
    display:block;
    text-align:left;
    font-size:13px;
    color:#6f6f6f;
    margin:0px;
    padding:0px;
    width: 29em;
}


#ContainerDatePMROperation{
    background-image: url(); 
    padding: 0px;
    margin:0px;
    color:#6f6f6f;
    width: 41em;
}