.MultiSelectCustom
{
    text-shadow: 0px;
    padding:0px; 
    margin: 0px; 
    border:0px; 
    font-family: 'Lucida Sans';
    color: #686868; 
    border: 1px solid #c8c5c5; 
    font: bold; 
    width:23em;
    height: 90px; 
    overflow-x: auto;
    border-color: #ccc;
    margin-right: 20px;  
}

.largeLabel {
    display:block;
    text-align:left;
    font-size:13px;
    color:#6f6f6f;
    width:23em;
}

.box 
{
    margin-bottom:70px;
}

.containerBox 
{
    margin-right:80px;
}

.containerBoxRadioOption 
{
    width:400px;
    padding-top:30px;
}

.radioCustom 
{
    padding-bottom:10px;
}

.displayNone
{
    display:none;
}