.MultiSelectCustom
{
    text-shadow: 0px;
    padding:0px; 
    margin: 0px; 
    border:0px; 
    font-family: 'Lucida Sans';
    color: #686868; 
    border: 1px solid #c8c5c5;  
    font: bold; 
    width:24em;
    height: 90px; 
    overflow-x: auto;
    border-color: #ccc;
    margin-right: 20px;  
}

.largeLabel {
    display:block;
    text-align:left;
    font-size:13px;
    color:#6f6f6f;
    width:24em;
}

.box1 
{

}

.box2 
{
margin-top: 70px; 
}

.box3 
{
    margin-top:80px;
}

.boxFilter 
{
    margin-top: 100px; 
}
