/**
 * portfolio_ui_rt_001 Id's
 * Fri, 27 december 2013
 * eSmart Group
 */

#portfolio_ui_rt_001{}

#portfolio_ui_rt_001 .kendoDropDown, #portfolio_ui_rt_001 .kendoDatePicker{
    text-align: left;
    width: 100%;
}

#searchBoxContainerReportsPORTFOLIO001{}

#tablePORTFOLIOUIRT001 thead tr th:nth-child(1), #tablePORTFOLIOUIRT001 tbody tr td:nth-child(1),
#tablePORTFOLIOUIRT001 thead tr th:nth-child(2), #tablePORTFOLIOUIRT001 tbody tr td:nth-child(2),
#tablePORTFOLIOUIRT001 thead tr th:nth-child(3), #tablePORTFOLIOUIRT001 tbody tr td:nth-child(3),
#tablePORTFOLIOUIRT001 thead tr th:nth-child(4), #tablePORTFOLIOUIRT001 tbody tr td:nth-child(4),
#tablePORTFOLIOUIRT001 thead tr th:nth-child(5), #tablePORTFOLIOUIRT001 tbody tr td:nth-child(7){
    width: 13%;
}

#tablePORTFOLIOUIRT001 thead tr th:nth-child(6), #tablePORTFOLIOUIRT001 tbody tr td:nth-child(6),
#tablePORTFOLIOUIRT001 thead tr th:nth-child(8), #tablePORTFOLIOUIRT001 tbody tr td:nth-child(8){
    width: 10%;
}