.labelCustomClause {
    display:block;
    text-align:left;
    font-size:13px;
    color:#6f6f6f;
    width:25em;
}

.labelSelectNormalCustomClause {
    display:block;
    text-align:left;
    font-size:13px;
    color:#6f6f6f;
    width:22em;
}

.SelectCustomRiskReport{
    color:#6f6f6f;
    width:20em;
    text-align:left;
}



.MultiSelectCustomRiskReport
{
    padding:0px;
    margin: 0px;
    border: 1px solid #c8c5c5; 
    font-family: 'Lucida Sans';
    color: #686868; 
    font: bold; 
    width:24em;
    height: 90px; 
    display:block;
}

.rigthExtraCustom 
{
    margin-left:20px;
}


.box1 
{
    margin-top:5px;
}

.box2 
{
    margin-top:70px;
}

.box3 
{
    margin-top:80px;
}

.box4 
{
    margin-top:70px;
}














