.box2 
{
    margin-top:70px;
}

.box3 
{
    margin-top:80px;
}

.box4
{
    margin-top:90px;
}

.MultiSelectCustom
{
    padding:0px; 
    margin: 0px; 
    border: 1px solid #c8c5c5; 
    font-family: 'Lucida Sans';
    color: #686868; 
    font: bold; 
    width:23em;
    height: 100px; 
    display:block;
}
