/**
 * ui_rt_013 Id's
 * Thu, 17 december 2013
 * eSmart Group
 */

#ui_rt_013{}

#showFilterButtonReports011{
    
}

#searchBoxContainerReports011{}

#searchBoxContainerReports011 label{
    line-height: 1.1em;
    margin-right: 2.5%;
    padding: 0;
}

#searchBoxContainerReports011 > div:nth-child(3n+1){
    margin-left: 3%;
}

#searchBoxContainerReports011 .kendoDropDown, #searchBoxContainerReports011 .kendoDatePicker{
    width: 100%;
}

#tableUIRT011{}

#tableUIRT011 tbody tr td{
    padding: 0 5px;
}

#tableUIRT011 thead tr th > label, #tableUIRT011 tbody tr td > label{
    width: 76%;
}

#tableUIRT011 thead tr th:first-child, #tableUIRT011 tbody tr td:first-child,
#tableUIRT011 thead tr th:nth-child(2), #tableUIRT011 tbody tr td:nth-child(2){
    width: 20%
}

#tableUIRT011 thead tr th:last-child, #tableUIRT011 tbody tr td:last-child,
#tableUIRT011 thead tr th:nth-child(4), #tableUIRT011 tbody tr td:nth-child(4){
    width: 16%
}