/**
 * ui_rt_013 Id's
 * Thu, 17 december 2013
 * eSmart Group
 */

#ui_rt_013{}

#searchBoxContainerReports013{}

#searchBoxContainerReports013 label{
    line-height: 1.1em;
    margin-right: 2.5%;
    padding: 0;
}

#searchBoxContainerReports013 div:nth-child(3n+1){
    margin-left: 3%;
}

#searchBoxContainerReports013 .kendoDropDown{
    width: 100%;
}