.labelCustom{
    display:block;
    text-align:left;
    font-size:13px;
    color:#6f6f6f;
    width:23em;
}
.MultiSelectCustom
{
    padding:0px; 
    margin: 0px; 
    border: 1px solid #c8c5c5; 
    font-family: 'Lucida Sans';
    color: #686868; 
    width:23em;
    height: 90px; 
    display:block;
}

.selectCustom {
    width:23em;
}

.textBoxCustom {
width: 23em;
}


.box1 
{

}

.box2 
{
    margin-top:60px;
}

.box3 
{
    margin-top:65px;
}

.box4
{
    margin-top:40px;
}