#ProductsPanel textarea{
    height: 50px;
    width: 100%;
}

#ProductsPanel .kendoDropDown{
    width: 100%;
}

#ProductsPanel .row{
    margin: 10px 0 30px;
}

#ActivitiesPanel .grid thead tr th:nth-child(4), #ActivitiesPanel .grid tbody tr td:nth-child(4) {
    width: 60%;
}

#ActivitiesPanel .grid tbody tr td:last-child {
    width: 20%;
    text-align: center;
}

#ActivitiesPanel .kendoDropDown{
    width: 100%;
}

#ActivitiesPanel .k-picker-wrap{
    padding: 2px 0;
}

#BudgetPanel thead tr th.diagonalLine{
    background: url('../../../Images/Modulos/assets/diagonalLine.png') no-repeat;
    width: 150px;
}

#BudgetPanel tbody tr td:first-child{
    text-align: left;
    width: 15%;
}

#BudgetPanel .diagonalLine .bottomLeft{
    bottom: 5px;
    left: 10px;
}

#BudgetPanel .diagonalLine .topRight{
    top: 5px;
    right: 10px;
}

#BudgetPanel thead tr th, #tableUISP003 tbody tr td{
    width: 13%
}

/*#BudgetPanel tbody tr td{
    text-align: center;
}*/

#BudgetPanel tbody tr.total, #BudgetPanel tbody tr.total:hover{
    background: #DDDDDD;
}

#BudgetPanel tbody tr.total td{
    font-weight: bold;
}

#SupervisionPlanPanel .k-select{ display: inline-block; position: absolute; right: 0; text-decoration: none; top: 2px; vertical-align: top; }
#SupervisionPlanPanel .k-dropdown-wrap { display: block !important; cursor: pointer;padding: 2px 0;}
#SupervisionPlanPanel .k-dropdown{ display: inline-block; cursor: pointer;border: none !important; }
.k-state-hover { background-position: inherit !important; background-color: #eff4fb; }

.k-popup.k-list-container { border-right: 1px solid #CCDCF2; border-left: 1px solid #CCDCF2; border-bottom: 1px solid #CCDCF2; border-radius: 0 !important; }

.table-row, .header-row {
    padding: 0 5px;
}


#tableUISP003  thead tr th {
text-align: center;
vertical-align: middle;
}


.verticalMargin5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.selected-row {
    border: 2px solid #0074DD;
    margin: 4px 0;
    cursor: pointer;
}

.selectable-row:hover {
    background-color: #ebebeb;
    cursor: pointer;
}

.mod_style table tbody tr {
    font-size: 1em !important;
}

/*table.grid{
    border-spacing: 0;
    font-size: 0.75em;
}

.grid{
    text-align: center;
}

.grid td, .grid th{
    vertical-align: middle;
    padding: 5px 10px;
}

.grid thead{
    background: #1F396C;
    color: #ffffff;
}

.grid thead tr{
    height: 40px;
    font-weight: bold;
}

.grid thead tr th:hover, .grid thead tr td.gridHeader:hover{
    background-color: #22509d;
    cursor: pointer;
}

.grid thead tr td.gridHeader{
    border-bottom: 2px solid #000000;
    border-right: 2px solid #000000;
    vertical-align: middle;
    font-weight: bold;
    padding: 0 5px;
}

.grid thead tr th .gridSubHeader{

}

.grid thead tr th{
    border-right: 2px solid #000000;
    vertical-align: bottom;
    text-align: left;
    padding: 0 10px 5px;
    font-family:"OpenSans-Bold";
}

.grid thead th.header {
    background: url("../../../Images/Modulos/controls/unsortArrow.png") no-repeat right center;
}

.grid thead tr.subHeader th.header:last-child {
    border-right: 2px solid #000000;
}

.grid thead th.headerSortDown {
    background: url("../../../Images/Modulos/controls/sortDown.png") no-repeat right center;
}

.grid thead th.headerSortUp {
    background: url("../../../Images/Modulos/controls/sortUp.png") no-repeat right center;
}

.grid thead th:last-child{
    border: none;
}

.grid tbody {

}

.grid.noInnerPadding td{
    padding: 0;
}

.grid tbody tr:hover, .grid tbody tr:nth-child(even):hover, .grid tbody tr:nth-child(even):hover{
    background: #EEEFF3;
}

.grid tbody tr:nth-child(even){
    background: #F6F7F9;
}


.grid tbody tr:nth-child(odd) .innerGrid tr:nth-child(even):hover{
    background: #EEEFF3;
}

.grid tbody tr:nth-child(odd) .innerGrid tr:nth-child(even){
    background: #ffffff;
}

.grid tbody tr{
    height: 40px;
}

.grid tbody tr.expanded{
    background: #0977D0;
    color: #FFFFFF;
}

.grid textarea{
    width: 98%;
}

.grid.draggable tbody td:first-child{
    background: url("../../../Images/Modulos/icons/dragIcon.png") no-repeat 5px center;
    text-align: right;
}

.innerGrid{
    border-spacing:0;
    border-collapse:collapse;
}

.innerGrid tr:last-child{
    display: none;
}

.innerGrid tr.expanded:last-child{
    display: block;
}*/

.arrow{
    background: url('../../../Images/Modulos/controls/arrowDown.png') no-repeat scroll center center transparent;
    width: 20px;
}

.expanded .arrow{
    background: url('../../../Images/Modulos/controls/arrowUp.png') no-repeat scroll center center transparent;
}

.disabled{
    background: #dddddd !important;
}

.alignLeft{
    text-align: left;
}

.contentRecomendationsToDisplay  .k-dropdown-wrap{
    border-radius: 5px;
    padding: 2px 10px;
}

.trClosest{
    background: url("../../../Images/Modulos/icons/btn-delete.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    width: 16px;
}

.trClosest:hover {
    background: url("../../../Images/Modulos/icons/btn-delete-hover.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}

.priorVersionButton{
    background: #ffffff url("../../../Images/icons/duplicateOperationIcon.png") no-repeat center top;
}