.wp20 { width: 20%; float: left;}

.blackColor {background: #DDDDDD;}

.middleIcon {
    vertical-align: 70%;
}

#related-operations-info-icon {
    width: 70%;
}

#related-operations-info-icon .icoInformation {
    width: 70%;
    margin-left: 5%;
}

#related-operations-info-icon .icoInformation .information-text {
    margin-left: 50px;
    line-height: 2em;
    width: 100%;
}