/**
 * ui_sp_002 Id's
 * Thu, 19 december 2013
 * eSmart Group
 */

#ui_sp_002_edit{}

#ui_sp_002_edit .grid thead tr th:nth-child(4), #ui_sp_002_edit .grid tbody tr td:nth-child(4) {
    width: 60%;
}

#ui_sp_002_edit .grid tbody tr td:last-child {
    width: 20%;
    text-align: center;
}

#ui_sp_002_edit .kendoDropDown{
    width: 100%;
}

#ui_sp_002_edit .k-picker-wrap{
    padding: 2px 0;
}