/**
 * ui_sp_003Edit_edit Id's
 * Wed, 18 december 2013
 * eSmart Group
 */

#ui_sp_003_edit{}

#tableUISP003Edit thead tr th.diagonalLine{
    background: url('../../../Images/Modulos/assets/diagonalLine.png') no-repeat;
    width: 150px;
}

#tableUISP003Edit tbody tr td:first-child{
    text-align: left;
    width: 15%;
}

#tableUISP003Edit .diagonalLine .bottomLeft{
    bottom: 5px;
    left: 10px;
}

#tableUISP003Edit .diagonalLine .topRight{
    top: 5px;
    right: 10px;
}

#tableUISP003Edit thead tr th, #tableUISP003Edit tbody tr td{
    width: 13%
}

#tableUISP003Edit tbody tr td{
    text-align: right;
}

#tableUISP003Edit tbody tr.total, #tableUISP003Edit tbody tr.total:hover{
    background: #DDDDDD;
}

#tableUISP003Edit tbody tr.total td{
    font-weight: bold;
}
