/**
 * ui_sp_002 Id's
 * Thu, 19 december 2013
 * eSmart Group
 */

#ActivitiesPanel .grid thead tr th:nth-child(4), #ActivitiesPanel .grid tbody tr td:nth-child(4) {
    width: 60%;
}

#ActivitiesPanel .grid tbody tr td:last-child {
    width: 20%;
    text-align: center;
}

#ActivitiesPanel .kendoDropDown{
    width: 100%;
}

#ActivitiesPanel .k-picker-wrap{
    padding: 2px 0;
}