/**
 * ui_sp_001 Id's
 * Wed, 18 december 2013
 * eSmart Group
 */

#ui_sp_001{}

#newProductUISP001{}

#productsUISP001{}

#ProductsPanel textarea{
    height: 50px;
    width: 100%;
}

#ProductsPanel .kendoDropDown{
    width: 60%;
}

#ProductsPanel .row{
    margin: 10px 0 30px;
}