/**
 * ui_sp_003 Id's
 * Wed, 18 december 2013
 * eSmart Group
 */

#ui_sp_003{}

#BudgetPanel thead tr th.diagonalLine{
    background: url('../../../Images/Modulos/assets/diagonalLine.png') no-repeat;
    width: 150px;
}

#BudgetPanel tbody tr td:first-child{
    text-align: left;
    width: 15%;
}

#BudgetPanel .diagonalLine .bottomLeft{
    bottom: 5px;
    left: 10px;
}

#BudgetPanel .diagonalLine .topRight{
    top: 5px;
    right: 10px;
}

#BudgetPanel thead tr th, #tableUISP003 tbody tr td{
    width: 13%
}

#BudgetPanel tbody tr td{
    text-align: right;
}

#BudgetPanel tbody tr.total, #BudgetPanel tbody tr.total:hover{
    background: #DDDDDD;
}

#BudgetPanel tbody tr.total td{
    font-weight: bold;
}
