/**
 * ui_sp_001_edit Id's
 * Wed, 18 december 2013
 * eSmart Group
 */

#ui_sp_001_edit{}

#newProductUISP001Edit{}

#productsUISP001Edit{}

#productsUISP001Edit textarea{
    height: 50px;
    width: 100%;
}

#productsUISP001Edit .kendoDropDown{
    width: 60%;
}

#productsUISP001Edit .row{
    margin: 10px 0 30px;
}