/**
 * ui_sp_002 Id's
 * Thu, 19 december 2013
 * eSmart Group
 */

#ui_sp_004{}

#ui_sp_004 .grid tbody tr td{
    width: 22%;
}

#ui_sp_004 .grid tbody tr td:last-child{
    text-align: center;
    width: 12%;
}