@using IDB.MVCControls.General.Helpers
@using IDB.MVCControls.DataTable.Helpers
@using System.Globalization
@using IDB.MW.Domain.Values

@model List<IDB.MW.Application.OPUSModule.ViewModels.CreationFormService.OperationTeamRowViewModel>

@if (Model != null)
{
    <div class="row row-header subtitleGroup">
        @Localization.GetText("OP.OD.TabResponsibilityData.OperationTeam.Title")
    </div>

    <div class="row row-body-20">
        <div class="col-md-12">
            @{
                var configOperationTeamTable = Html.RenderDataTable(Model);
                configOperationTeamTable.Name("operationTeamsTable")
                    .PrimaryKey(m => m.RowId.ToString(CultureInfo.InvariantCulture))
                    .AddPrimaryKeyToName(false)
                    .Columns(columns =>
                    {
                        columns
                            .Template(c => Confluence
                                .PictureElement(c.PictureUrl, Confluence.Label(c.Name)))
                            .Header(Localization.GetText(
                                "OP.OD.TabResponsibilityData.OperationTeam.Name"));

                        columns
                            .Template(c => Confluence.Label(c.RoleName))
                            .Header(Localization.GetText(
                                "OP.OD.TabResponsibilityData.OperationTeam.Role"));

                        columns
                            .Template(c => Confluence.Label(c.UserName))
                            .Header(Localization.GetText(
                                "OP.OD.TabResponsibilityData.OperationTeam.UserId"));

                        columns
                            .Template(c => Confluence.Label(c.OrganizationalUnit))
                            .Header(Localization.GetText(
                                "OP.OD.TabResponsibilityData.OperationTeam.OrganizationalUnit"));

                        columns
                            .Template(c => Confluence.Label(c.Delegate))
                            .Header(Localization.GetText(
                                "OP.OD.TabResponsibilityData.OperationTeam.Delegate"));
                    });

                configOperationTeamTable.TableClass = "tableNormal endSpacing";
            }

            @Html.Partial("Controls/DataTable", configOperationTeamTable)
            </div>
        </div>
}
