<tr data-id="0" class="custom-even odd" role="row">
    <td class="hide">
        <span data-pagemode="read" class="hide"></span>
        <span data-pagemode="edit">
            <input type="hidden" name="CountryRelatedId" value="0" />
        </span>
    </td>
    <td>
        <span data-pagemode="read" class="hide"></span>
        <span data-pagemode="edit">
            @Confluence.InputDropDown(null, "associatedCountriesRole", ViewBag.AssociatedCountriesRoleList, dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "ddlAssociatedCountriesRole" } })
        </span>
    </td>
    <td>
        <span data-pagemode="read" class="hide"></span>
        <span data-pagemode="edit">
            @Confluence.InputDropDownMulti("listCountry", 
                ViewBag.Countries, 
                width: "100%", 
                required: false, 
                placeholder: "N/A")
        </span>
    </td>
    <td class="text-center">
        <span data-pagemode="edit">
            @Confluence.ButtonTrash(null, null, "removeRow", dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "btnRemoveAssociatedCntryRow" } })
        </span>
    </td>
</tr>

