@using IDB.MW.Domain.Values;

@{
    var jquerySelector = "{\"ElementFilter\":{\"closest\":\"tr\",\"find\":\"[name='responsibleUnitsRole']\"}}";
}

<tr data-id="0" class="custom-even odd" role="row">
    <td class="hide">
        <span data-pagemode="edit">
            <input type="hidden" name="responsibleUnitId" value="0" />
        </span>
    </td>
    <td>
        <span data-pagemode="edit">
            @Confluence.InputDropDown(
                null,
                "responsibleUnitsRole",
                ViewBag.ResponsibleUnitsRoleList,
                dataAttributes: new Dictionary<string, string>() {
                    { "idb-fieldname", "ddlResponsibleUnitsRole" }
                })
        </span>
    </td>
    <td>
        <span data-pagemode="edit">
            @Confluence.InputDropDownAsync(
                null,
                "responsibleUnitsOrganizationalUnit",
                Url.Action("GetOrganizationalUnits", "View", new { area = "Opus", origin = OPUSGlobalValues.OPERATION_DATA }),
                dataAttributes: new Dictionary<string, string>() {
                    { "idb-fieldname", "ddlResponsibleOrgUnit" } },
                evalGuaranteed: true,
                dependenceComponentSelectors: jquerySelector)
        </span>
    </td>
    <td class="text-right">
        <span data-pagemode="edit">
            @Confluence.InputNumber(
                null,
                "responsibleUnitsEffortInDays",
                minValue: "1",
                maxValue: "360",
                dataAttributes: new Dictionary<string, string>() {
                    { "idb-fieldname", "txtResponsibleUnitsEffortDays" } },
                required: false)
        </span>
    </td>
    <td class="text-right" data-id="contribution">
        <span data-pagemode="edit">
            0.000
        </span>
    </td>
    <td class="text-right" data-id="contributionPercent">
        <span data-pagemode="edit">0%</span>
    </td>
    <td class="text-center" data-pagemode="edit">
        <span data-pagemode="edit">
            @Confluence.ButtonTrash(null, null, "removeRow")
        </span>
    </td>
</tr>
