@using IDB.MVCControls.General.Helpers
@using IDB.MW.Infrastructure.Configuration
@{var formatDate = ConfigurationServiceFactory.Current.GetApplicationSettings().FormatDate; }
<div class="col-md-12">
        <div data-pagemode="edit">
            @Confluence.InputCommentBox(Confluence.Label(IDBContext.Current.UserName),
                         Confluence.Label(FormatHelper.Format(Convert.ToDateTime(DateTime.Now), formatDate)),
                null, null, "commentComment")
            <div class="hide">
                <span class="hide"><input type="hidden" name="commentCommentId" value="0" /></span>
            </div>           
        </div>

    <div data-pagemode="edit" class="btnDeleteRepeater col-md-12">
        @Confluence.ButtonTrash(null, null, "removeRowUserComment")
    </div>
    <br /><br /><br />
</div>