
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SequenceContainsNoElements</title>
</head>
<body>
    <div style="text-align:center;margin-top:45px;font-family:Arial;font-size:x-large">
        A general system error has ocurred.
        </br>
        </br>
        We are unable to acces this page at the moment.
    </div>
</body>
</html>
<br />
<br />
<br />
<div style="text-align:right">
    <a href="javascript:window.history.back();">&laquo; Go back</a>
</div>

