@{
    ViewBag.Title = "title";
    Layout = null;
}
<html>
<head>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
</head>
<body>
    <style>
        body { font-family: Arial, 'Trebuchet MS'; }
    </style>

    <h2 id="progress_message">Logging in, please wait...</h2>
    <div id="errorMessage"></div>
    @if (!Globals.GetSetting("SecurityMode", string.Empty).Equals("Local"))
    {
        <script type="text/javascript">
            jQuery(document).ready(function () {
                var h = (window.parent.document);
                var ticket = $(h).find('#SPUserTicket').val();
                var user = window.parent.userNot;
                jQuery.ajax(
                    '@Url.Action("AuthenticateUser")',
                {
                    type: 'POST',
                    data: {
                        ticket: ticket,
                        expectedUser: user
                    },
                    success: function (result) {
                        if (result == 'true') {
                            window.location = '@Url.Content(Request["returnUrl"])';
                            return;
                        }

                        $('#progress_message').text("");
                        $('#errorMessage').text(result);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $('#progress_message').text("");
                        $('#errorMessage').text(jqXHR.responseText);
                    }
                }
                );
            });
        </script>
    }
</body>
</html>
