@using IDB.Architecture.Extensions
@using IDB.MW.Application.TCAbstractModule.ViewModels.TCAbstractService
@using IDB.Presentation.MVC4.Areas.TC.Values
@using IDB.MVCControls.General.Helpers

@model TCAbstractBasicDataViewModel

<div>
    @Model.Taxonomy.Label.HtmlEncode()
    @ControlTemplates.InputText(
        value: Model.Taxonomy.Value,
        name: TCBasicDataField.Taxonomy,
        required: Model.Taxonomy.IsRequired,
        htmlClass: "hide",
        dataAttributes: new Dictionary<string, string>
        {
            { "label", Localization.GetText("TC.TCAbstract.BasicData.Taxonomy") }
        })
</div>

@if (Model.OperationalSupport.HasOperationalSupport)
{
    <div>
        @Confluence.InputNumber(
            value: Model.OperationalSupport.SupportedOperations.Count(),
            name: "supportedOperationsCount",
            required: true,
            dataAttributes: new Dictionary<string, string>
            {
                { "parsley-NonZero", "0" },
                { "parsley-NonZero-message", Localization.GetText("TC.Taxonomy.OperationalSupport.Validation") },
                { "label", Localization.GetText("TC.Taxonomy.OperationalSupport.Validation") }
            },
            htmlClass: "hide")
    </div>

    if (Model.OperationalSupport.SupportedOperations.HasAny())
    {
        <div>
            @ControlTemplates.InputText(
                value: "numSelectedOperations",
                name: "validatorMinSelectedOperations",
                htmlClass: "hide",
                dataAttributes: new Dictionary<string, string>
                {
                    { "parsley-minElementsFilled", "1;[name=checkRelatedOperation]" },
                    { "parsley-minElementsFilled-message", Localization.GetText("TC.Taxonomy.OperationalSupport.Selected.Validation") },
                    { "label", Localization.GetText("TC.Taxonomy.OperationalSupport.Selected.Validation") }
                })
        </div>
    }
}