@using IDB.Presentation.MVC4.Models.Modal
@using IDB.Presentation.MVC4.General

@Display.AddModalButton(new ModalViewModel(contentSelector: "[data-name=\"activate-modal\"]",
            title: Localization.GetText("COMMON.Warning"),
        type: CssClass.ModalWarningNoIcon,
        moveOriginalContent: true,
        name: "btn-open-popup-activate",
        closeOnOverlay: false,
        allowClose: true,
        actionOnClose: "")
    .AddButton(name: "btn-activate-cancel",
                    text: Localization.GetText("Common.Cancel"),
                    type: CssClass.ButtonLink,
                    callback: "")
    .AddButton(name: "btn-activate-add",
                    text: Localization.GetText("Common.Ok"),
                    type: CssClass.Button01,
                    callback: "activateSystemsResultsMatrix",
                    closeAtEnd: true))

<div data-name="activate-modal" class="hide modalBody">
    <div class="row">
        <div class="col-md-12 mb30">
            @Localization.GetText("CS.UseCountrySystem.Modal.Message.Activate")
        </div>
    </div>
</div>
