<div class="row row-body-40">
    <div class="col-md-12">
        @Html.Partial("Partials/Controls/EligibilityDecisionButtons")
    </div>
</div>

@Html.Partial("Partials/Controls/PartialButtonsDownloadReport")
