@using IDB.MVCControls.General.Helpers

<div class="row">
    <h2><img src="~/Content/images/left-arrow.png" /> @(((string)ViewBag.Title).HtmlEncode())</h2>
</div>

<div class="row row-title">        
    <div class="col-md-12">

        <span class="text-right">@Html.Partial("Partials/Controls/ESCDecisionButtons")</span>

        <h3>@(((string)ViewBag.Subtitle).HtmlEncode())</h3>
    </div>
</div>
