<div class="row row-body-40">
    <div class="col-md-12">
        @Html.Partial("Partials/Controls/ReviewPostValidationButtons")
    </div>
</div>

@if (ViewBag.ReadRole)
{
    <div class="row row-header font-header">
        <div class="col-md-8">
                @Localization.GetHtmlText("TC.Header.Instructions")
        </div>
        <div class="col-md-4">
            @Html.Partial("Partials/Controls/TCAbstractWordExcelButtonsDownload")
        </div>
    </div>
    <div class="row row-body-40 font-body">
        <div class="col-md-12">
            @Localization.GetHtmlText("TC.ReviewTC.DescriptionInstructions")
        </div>
    </div>
}
