@using IDB.MVCControls.General.Helpers


<div class="header">
    <div class="row row-body-40" style="margin-top:20px;">
        <div class="col-md-12">
            <span class="glyphicon glyphicon-play glyphicon-hide-menu-rotate glyphicon-hide-menu-pointer">
        </div>
        <div class="col-md-12">
            @Html.Partial("Partials/Controls/SingleWindowOperationsButtons")
            <h2>@(((string)ViewBag.Subtitle).HtmlEncode())</h2>
            @Html.Partial("Partials/Controls/SingleWindowOperationsDownload")
        </div>
    </div>
</div>


