@model IDB.MW.Application.TCAbstractModule.ViewModels.TCAbstractService.HeaderViewModel

<div class="row row-body-40">
    <div class="col-md-12">
        @Html.Partial("Partials/Controls/ReviewTCAbstractButtons")
    </div>
</div>

@if (ViewBag.ReadRole)
{
    <div class="row-body-40">
        <div class="row">
            <div class="col-md-8">
                <p>@Localization.GetText("TC.Header.Instructions")</p>
            </div>
            <div class="col-md-4">
                @Html.Partial("Partials/Controls/TCAbstractWordExcelButtonsDownload")
            </div>
        </div>
        <div class="row font-body">
            <div class="col-md-12">
                @Localization.GetText("TC.ReviewValidationTC.DescriptionInstructions")
            </div>
        </div>
    </div>
}
