@using IDB.MVCControls.General.Helpers
@using IDB.Presentation.MVC4.Helpers

@model IDB.MW.Application.TCAbstractModule.ViewModels.TCAbstractService.HeaderViewModel

<div class="row row-body-40">
    <div class="col-md-12">
        @Html.Partial("Partials/Controls/ValidationTCAbstractButtons")
    </div>
</div>

@if (ViewBag.ReadRole)
{
    @Html.Partial("Partials/Controls/TCAbstractWordExcelButtonsDownload")
}

@if (ViewBag.ReadRole)
{
<div class="row row-header font-header">
    <div class="col-md-8">
        @Localization.GetText("TC.Header.Instructions").HtmlEncode()
    </div>
</div>
<div class="row row-body-50 font-body">
    <div class="col-md-12">
        <p>@Localization.GetText("TC.ValidationTC.DescriptionInstructions")</p>
    </div>
</div>
}
