<div class=" verticalAlignMiddle" id="CountryDiv">
    @Html.DropDownList("CountryList", new SelectList(ViewBag.CountryList, "Code", "Name_EN", null ), new { @class = "kendoDropDown", @ID = "countrydll" })                            
</div>
<script>
    function setDropDownLists() {
        $("#countrydll").kendoDropDownList({
            dataTextField: "text",
            dataValueField: "value",
            height: 100
        });
    }
    setDropDownLists();                    
</script>