<div class=" verticalAlignMiddle" id="DivisionDiv">
    @Html.DropDownList("DivisionList" , new SelectList(ViewBag.DivisionList, "Code2", "Code", null ), new { @class = "kendoDropDown", @ID = "divisiondll" })                            
</div>
<script>
    function setDropDownLists() {
        $("#divisiondll").kendoDropDownList({
            dataTextField: "text",
            dataValueField: "value",
            height: 100
        });
    }
    setDropDownLists();                    
</script>