<div id="ui_sp_001_edit" class="padding20 everisWidth" style="margin: auto; text-align: center;">
   <div class="relative h50px verticalMargin20">
      <h3 class="headingh2">500 - @Localization.GetText("INTERNAL SERVER ERROR")</h3>
      <h2 class="error">
         <p>@Localization.GetText("The requested page cannot be accessed because the related configuration")</p>
         <p>@Localization.GetText("data for the page is invalid")</p>
      </h2>
      <img src="@Url.Content("~/Images/Modulos/assets/Mistakeimage.png")" Style="width:150px; height:150px; "/>
      <br />
   </div>
</div>
<div class="fondooff" id="fondo"></div>
