                <div class="centerContent  relative h50px">
                    <div class="inline-block inputContainer w48 absolute">
                        <div class="verticalAlignMiddle">
                            <select id="supervisionPlanValidationStatusFilterSearches" class="kendoDropDown">
                                <option value="" selected>@Localization.GetText("Supervision Plan Validation Status")</option>
                                <option value="">Component 2</option>
                                <option value="">Component 3</option>
                                <option value="">Component 4</option>
                            </select>
                        </div>
                    </div>
                    
                </div>

                <script>
                    function setDropDownLists() {
                        $("#supervisionPlanValidationStatusFilterSearches").kendoDropDownList({
                            dataTextField: "text",
                            dataValueField: "value",
                            height: 100
                        });
                    }
                    setDropDownLists();                    
                </script>

