@using IDB.Architecture.Language
@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.Presentation.MVC4.Areas.TC.Controllers
@using IDB.Presentation.MVC4.Areas.TC.Enums

@model IDB.MW.Application.TCAbstractModule.ViewModels.FundInformation.FIDonorContactDetailViewModel

<div data-id="DataContact"
     data-parsley-validate="data-parsley-validate"
     data-parsley-excluded="[disabled]"
     data-loadurl="@Url.Action( "DonorContactDetailsEdit" , "View" , new { area = "TC" , donorName = Model.Name , fundId = Model.FundId } )"
     data-url="@Url.Action( "DonorContactDetails" , "Save" , new { area = "TC" } )">

    @Html.Partial( "Partials/FundInformation/FIDonorsContactDetailsModalForm" , Model )
</div>