.k-grid-header .k-header {
            overflow: hidden;
            border-style: solid;
            border-width: 0 0 1px 1px;
            font-weight: normal;
            background-color: #264a7f;
        }

        .k-grid-header {
            padding-right: 0px !important;
        }

            .k-grid-header .k-header .k-link {
                display: block;
                min-height: 18px;
                line-height: 18px;
                margin: -0.5em -0.6em -0.4em -0.6em;
                padding: .5em .6em .4em .6em;
            }

        .gridDetails {
            border: red 2px solid;
            position: relative;
            top: 40px;
            left: -550%;
            width: 550%;
            padding: 10px;
            padding-bottom: 50px;
            padding-bottom: 50px;
            display: none;
        }

        .grid_details_C {
            width: 70%;
            display: inline-block;
            padding: 5px !Important;
            margin-left: 30px !Important;
        }

        .grid_details_Chk {
            display: none;
        }

        .grid_details_Chk:checked ~ .gridDetails {
                display: block;
         }

        .k-minus,.k-plus {
            z-index:50 !Important;
        }  
        .k-minus:after {
            content: '___';
            background: url('../../../Images/Modulos/tables/flecha_arriba_azul_table.png') no-repeat 5px;
            color: transparent;
        }

        .k-plus:after {
            content: '___';
            background: url('../../../Images/Modulos/tables/flecha_abajo_azul_oscuro_table.png') no-repeat 5px;
            color: transparent;
        }

        .comments_loading {
            background: url('../../../Images/Modulos/ResultsMatrix/ajax-loader.gif') no-repeat 8% 18px;
        }

        .Comments_List {
            padding: 15px;
        }

            .Comments_List:hover {
                background: #EDEFF2;
            }

        .k-detail-row:hover {
            background: transparent !important;
        }

        .Comment_delete {
            position: relative;
            left: 86%;
            top: 5px;
        }

        .comment_textvalidate {
            font-weight: bold;
            font-size: 12px;
            color: #909090;
        }

        .combodetail {
            display: initial;
            position: relative;
            left: 30%;
            font-size: 14px;
            font-weight: bold;
        }

        .k-item {
            font-size: 13px !important;
        }

        .disablecombodetail {
            border: #AAAAAA solid 1px;
            font-size: 12.5px;
            color: #908E8E;
            background: url('../../../Images/Modulos/controls/arrowDown.png') no-repeat 90%;
            width: 60%;
            padding: 4px 0px 4px 10px !Important;
        }

        .classificationdetail {
            padding: 5px !Important;
        }
        .Justificationandreccomendation {
            float: right;
            width: 45%;
            padding: 10px 15px;   
            padding-top: 55px;
        }

        .filtercmb {
            width: 70% !Important;
        }
        th.k-header {
            border-left: 0px none !Important;
            border-right: 1px solid black !Important;
        }
        th.k-hierarchy-cell {
            width: 20px;
            border: black solid 1px !Important;
            border-top: 0px !Important;
            border-right: 0px !Important;
        }
        .k-master-row .k-hierarchy-cell {
            border: none !Important;
            width: 20px !important;
        }
        tr.k-master-row td {
                position: relative !Important;
                left: 0 !Important;
                text-align:left;
                padding: 10px 1px 0px !Important;
        }
        .disableTaskFPFlexFunding {
            background-color: rgba(0, 0, 0, 0.1) !important;
        }

        .disableLinkTaskFPFlexFunding {
           color: #666666 !important;
        }

@media screen and (min-width: 1300px) {
    tr.k-master-row td {
    }
}