/**
 * ui_gl_006 Id's
 * Mon, 27 january 2013
 * eSmart Group
 */

#ui_gl_006{}

#showFilterButtonGlobal006{}

#searchBoxContainerGlobal006{}


#ui_gl_006 .kendoDatePicker,
#ui_gl_006 .kendoDropDown{
    width: 100%;
}

#tableSortUIGL006 tbody tr{
    background: #ffffff;
}

#tableSortUIGL006 tbody tr.expanded{
    background: #0977D0;
}

#tableSortUIGL006 thead tr th,
#tableSortUIGL006 .innerGrid tr td{
    width: 23%;
}

#tableSortUIGL006 thead th:first-child,
#tableSortUIGL006 .innerGrid tr td:first-child,
#tableSortUIGL006 thead th:last-child,
#tableSortUIGL006 .innerGrid tr td:last-child{
    width: 5%;
}

#tableSortUIGL006 thead tr th:nth-child(2),
#tableSortUIGL006 .innerGrid tr td:nth-child(2),
#tableSortUIGL006 thead tr th:nth-child(6),
#tableSortUIGL006 .innerGrid tr td:nth-child(6){
    width: 10%;
}
