@using IDB.Presentation.MVC4.Helpers
@using IDB.MW.Domain.Models.Security;
@using System.Collections.Generic;

@model List<FieldAccessModel>


<div data-id="headerButtons" class="text-right">


    @if (SecurityHelper.IsVisible(Model, "btnEditOutputDetails"))
    {
        <div data-pagemode="read">
            @Confluence.ButtonBlue(Localization.GetText("TCM.Edit"), action: "edit", dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "btnEditOutputDetails" } })
        </div>
    }

    <div data-pagemode="edit">
        @if (SecurityHelper.IsVisible(Model, "btnCancelOutputDetails"))
        {
            @Confluence.ButtonLink(Localization.GetText("TCM.Cancel"), null, "cancel", dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "btnCancelOutputDetails" } })
        }
        @if (SecurityHelper.IsVisible(Model, "btnSaveOutputDetails"))
        {
            <button class="buttonOrange" onclick="save()" data-idb-fieldname="btnSaveOutputDetails">@Localization.GetText("TCM.Save")</button>
        }
    </div>
</div>
