<div class="col-md-12">
    <div class="ml70 w130 col-md-1">
        @ControlTemplatesTCM.BlackFlag(Localization.GetText("TCM.IndicatorFlag.CRFIndicator"))
    </div>
    <div class="w210 col-md-1">
        @ControlTemplatesTCM.MagentaFlag(Localization.GetText("TCM.IndicatorFlag.StandardIndicator"))
    </div>
</div>