.boxOverviewCustom {
margin-bottom:5px; 
padding-bottom:25px;
}

.link {
    color: #428bca !important;
    text-decoration: none;
}

.link .titleGroup {
    color: #428bca !important;
}

.linkdashboard, .linkdashboard:visited {
    padding: 0 !important;
    padding-left: 40px !important;
}

.operationTeamModal {   
    max-height: 500px;
    overflow-y: auto;
}

.operationTeamModal li {
    list-style: none;
}

.operationTeamModal li .thumbnail {
    margin: 0 0 1em 1.6em;
}