<div class="modal fade text-left" id="verWarningMessage" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog warningModal" role="document">
        <div class="modal-content ui-draggable" style="top: 258px;">
            <div class="modal-header ui-draggable-handle">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h3 class="modal-title">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    @Localization.GetText("Warning")
                </h3>
            </div>
            <div class="modal-body" style="line-height: 1.2;">
            </div>
            <div class="modal-footer">
                <button type="button" class="buttonWhite" data-dismiss="modal">
                    @Localization.GetText("VER.GLOBAL.Cancel")
                </button>
            </div>
        </div>
    </div>
</div>