.AlignTitles {
    padding-left: 30px;
}

.alignFilterButtonRight {
    float : right;
}

.mod_tabla {
  clear: both;
  display: table;
  width: 43.75em;
  margin: 0 0;
}

.buttonsPanelContainer{
  width : 94%;
}

.checkAllPanelContainer{
  width : 94%;
  padding-bottom: 10px;
}

.filtersPanelContainer{
    width : 98%;
}

.checkersPanelContainer {
    width : 94%;
}

.tableContainer {
     width:94%;
}

.imageMargins {
    margin : -3px 4px 0 4px;
}

.buttonMargins {
    margin : 0 4px 0 4px;
}

.pdfbuttonstyle {
  color:white;
  border-radius:4px;
}

.excelbuttonstyle {
  color:white;
  border-radius:4px;
}

.operationButton {
    width: 30px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #cbdcf2;
}

.aStyle {
    display:none;
}

.verticalMargin30{
    margin-bottom: 30px;
    margin-top: 30px;
}

.tdResults {
    font-size : 10pt;
}

.width200px {
  width: 200px;
}

.filters {
    font-size:14px!important;
}

span.k-dropdown{
	background-image:none;
}

.k-dropdown{
	position: relative;
	display: inline-block;
	width: 12.4em;
	overflow: visible;
	border-width: 0;
	vertical-align: middle;
	cursor:pointer;
}

.k-widget{
	font-size: 100%;
	font-family: inherit;
	-webkit-appearance: none;
	line-height:normal;
	outline: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.k-dropdown .k-icon{
    background:url('../../../Images/icons/comboRow.png') no-repeat scroll center;
    vertical-align: middle;
    color:transparent;
}
.k-icon{
    display: inline-block;
    width: 16px;
    height: 16px;
    overflow: hidden;
    background-repeat: no-repeat;
    font-size: 0;
    line-height: 0;
    text-indent: -3333px;
    text-align: center;
}

.k-dropdown-wrap .k-select {
    min-height: 1.65em;
    line-height: 2em;
    vertical-align: middle;
    -moz-box-sizing: border-box;
    text-align: center;
    width: 1.9em;
    height: 100%;
    overflow: hidden;
    border: 0;
    text-decoration: none;
    font: inherit;
    color: inherit;
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
}

.k-dropdown-wrap .k-input{
    height: 1.65em;
    line-height: 1.65em;
    padding: .177em 0;
    text-indent: 4px;
    border: 0;
    margin: 0;
    color: #656668;
    font-size: 14px;
}

.k-dropdown .k-input{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    background:transparent;
    font-family: inherit;
    border-width: 0;
    outline: 0;
}

.k-input{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.k-dropdown-wrap{
    border-width: 1px;
    border-style: solid;
    padding: 0 1.9em 0 0;
    display: block;
    background-repeat: repeat;
    background-position: 0 center;
    background: #ffffff;
    border: 1px solid #ccc;
}
.MultiSelectCustomPMRPublic
{
    text-shadow: 0px;
    padding:0px; 
    margin: 0px; 
    border:0px; 
    font-family: 'Lucida Sans';
    color: #686868; 
    border: 1px solid #c8c5c5; 
    font: bold; 
    width:23em;
    height: 90px; 
    overflow-x: auto;
    border-color: #ccc;
    margin-right: 20px;  
}