button.commentIcon {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAUBAMAAAB7UtADAAAAKlBMVEUAAAD/dw3/eBD/ehL/fxv/gR7/jDL/l0b/pWD/rW3/xZn/yqD/0Kz///9cRfLsAAAAAXRSTlMAQObYZgAAAEBJREFUeF5jwA3YBUGgAMwWhACwsPRdENgIkmCUBbMvClCPjTAfZm/uFUG4eySvCDDAgOIRBHthMILNIciAGwAAIxg2e6zv6KcAAAAASUVORK5CYII=') /*./images/commentIcon.png*/;
    height: 20px;
    width: 22px;
    border: 0;
}
