.inputFileButton{
    float: left!important;
    border-radius: 10px;
    width: 110px!Important;
}

.inputSearch input {
    border-radius: 5px 5px 5px 5px!important;
    border-right: 5px!important;
    margin-left: 15px;
}

.inputSearch.uploadFile {
    height: 0px!important;
}

.filter-box {
    width: 25%;
}

input#visualization-filters {
    width: 100%;
}

button.excelButton {
    padding: 15px;
}

.modal-header {
    background-color: #3275c7;
}

.downloadModalText {
    font-size: 16px;
}

.modal-title {
    color: white;
    font-weight: bold;
    display: inline !important;
}

.button-modal-content {
    float: right !important;
    padding-top: 3px;
}

.button-modal-content:before {
    border-radius: 50% !important;
    display: block;
    width: 20px !important;
    height: 20px;
    line-height: 20px;
}
