.clauses-create-new-clause .operationData .dropDown .optionSelect {
    font-size: 70%;
}

.clauses-create-new-clause .k-select {
    margin-top: .5em;
}

.clauses-create-last-disbursement .k-widget.k-dropdown.optionSelect {
    font-size: 70%;
}

.clauses-edit-clause-draft .k-widget.k-dropdown.optionSelect {
    font-size: 70%;
}

.clauses-edit-clause-track-with-draw .k-widget.k-dropdown.k-header{
    font-size: 80%;
}

.clauses-edit-clause-track-with-draw .k-select {
    margin-top: .5em;
}