.tableInfo {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
    margin: 0 0px 20px;
    padding: 0 30px 0;
    font-size: 10pt;
    color: #000;
}

.tableInfo thead {
    width: 100%;
    border-collapse: separate;
}

.tableInfo thead th{
    padding: 8px 0;
    font-weight: bold;
    position: relative;
    top: 10px;
    text-transform: uppercase;
    font-size: 12pt;
}

.tableInfo tbody th {
    padding: 6px 0; 
    padding-bottom: 0 !important;
    color: #888;
}

.tableInfo tbody td {
    padding: 0;  
    font-weight: bold;
}

.tableInfo tbody td * {
    font-weight: bold;
}

.tableInfo .input {
    border: solid 1px #CCC !important;
    borde-radius: 2px;
}

.titleHeaderClauseIndividualReturned {
    padding: 8px 0;
    font-weight: bold !important;
    position: relative;
    top: 10px;
    text-transform: uppercase;
    font-size: 12pt;
    margin: 35px;
    color: black;
}

#clauseIndividualReturned-detail td span.title {
    color: #888;
}

#clauseIndividualReturned-detail td span.bold {
    font-weight: bold !important;
    color:black;
}

#clauseIndividualReturned-detail {
    width: 100% !important;
    border-collapse: separate;
    border-spacing: 10px !important;
    margin: 0 0px 20px !important;
    padding: 0 30px 0 !important;
    font-size: 10pt !important;
}

#clauseIndividualReturned-detail .collapse-button {
    width: 20px;
    height: 20px;
    background-color: #eee;
    color: #123b70;
    display: inline-block;
    text-align: center;
    font-size: 1.5em;
    line-height: 20px;
    cursor: pointer;
    font-family: 'OpenSans-Bold';
    left: 0;
    z-index: 2;
    position: relative; 
    margin-top: 1px;
    margin-right: 5px;
}

#clauseIndividualReturned-detail .collapse-button::before {
    content: '-';
}

#clauseIndividualReturned-detail .collapse-button.collapsed::before {
    content: '+' !important;
}

#clauseIndividualReturned-detail tbody.collapsed {
    display: none;
}

.LabelReturnToBack {
    text-align: right;
    float: right;
    margin-right: 45px;
}

.labelNoReturnToBack {
    text-align: right;
    float: right;
    margin-right: 45px;
    color:black !important;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.6em;
}