#tester {
    display: none;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 25%;
    left: 50%;
    margin: -100px 0 0 -150px;
    position: fixed;
}

#box {
    width: 71px;
    height: 67px;
    z-index: 15;
    top: 25%;
    left: 50%;
    margin: -100px 0 0 -150px;
    position: fixed;
}

.expire-clause-icon {
    border: 1px solid #333;
    padding: 0.1em;
    width: 0.99em;
    border-radius: 75px;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    display: table-cell;
    vertical-align: middle;
}

.expired-icon {
    background-color: #FF0000;
}

.expire-10-days-icon {
    background-color: #FFA500;
}

.expire-beyond-11-days-icon {
    background-color: #FFFF00;
}

.lcd-Dependency-clause-icon {
    border: 1px solid #333;
    padding: 0.1em;
    width: 0.99em;
    border-radius: 75px;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    display: table-cell;
    vertical-align: middle;
}

.lcd-dependency-icon {
    background-color: #00ff21;
}

.hiddenclass {
    display: none;
}

.minimizeTable .mod_tabla_plegable tbody td:nth-child(4) {
    font-family: "OpenSans-Bold";
}

.minimizeTable .mod_tabla_plegable tbody td:nth-child(3) {
    font-family: "OpenSans-Regular";
}

.fixedLimitColumnForText {
    width: 200px;
}

.fixedTextCenter {
    text-align: center;
}

.fixedLimitColumnSatus {
    width: 100px;
}

.mod_style table td {
    padding: 1em 0 1em 1em;
}

.mod_style {
    width: 96%;
}

.tableInfo {
    border-collapse: collapse;
    border-spacing: 10px;
    font-size: 11pt;
    margin: 0 0 40px;
    float: left;
    width: calc(100% - 200px);
}

    .tableInfo tbody th {
        text-align: left;
        color: #999;
        font-size: 13px;
    }

    .tableInfo tbody td {
        font-weight: bold;
    }

        .tableInfo tbody td * {
            font-weight: bold;
            font-size: 13px;
        }

    .tableInfo td,
    .tableInfo th {
        padding: 10px 40px;
    }

    .tableInfo td {
        padding-bottom: 30px;
    }

    .tableInfo tr:last-child td {
        padding-bottom: 0px;
    }

    .tableInfo tbody td .tooltip-container {
        cursor: pointer;
    }

    .tableInfo tbody td .tooltip-text {
        display: none;
        position: absolute;
        width: 250px;
        border: solid 1px #CCC;
        border-radius: 5px;
        box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
        padding: 5px;
        background: #193A6E;
        color: #FFF;
        font-size: 12px;
    }

    .tableInfo tbody td .tooltip-code {
        text-decoration: underline;
    }

    .tableInfo tbody td .tooltip-container:hover .tooltip-text {
        display: block;
    }

    .tableInfo tbody td .tooltip-container:hover .tooltip-code {
        visibility: hidden;
    }

    .tableInfo tbody td .code {
        text-decoration: underline;
    }

    .tableInfo tbody td.border-right,
    .tableInfo tbody th.border-right {
        border-right: solid 1px #CCC;
    }

    .tableInfo tbody th {
        padding-bottom: 10px;
    }

    .tableInfo .pl0 {
        padding-left: 0;
    }

div.mod_contenido_central.contracts_and_clauses div.filterContracts {
    float: left;
    width: 95%;
    margin: 0 20px 0 1.8%;
}

div.filterContracts a.filter-clauses {
    margin-top: 0;
}

div.mod_contenido_central.contracts_and_clauses .operationBlock {
    clear: both;
}

    div.mod_contenido_central.contracts_and_clauses .operationBlock .headingh4.plegableSubtitle {
        float: left;
        width: auto;
    }

    div.mod_contenido_central.contracts_and_clauses .operationBlock .btnTrack {
        float: right;
    }

div.mod_contenido_central.contracts_and_clauses div.operationBlock a.btn-primary {
    float: right !important;
    width: auto !important;
    margin: -10px 3px 0 20px !important;
}

div.mod_contenido_central.contracts_and_clauses .minimizeTable {
    float: left;
    width: 95%;
}

    div.mod_contenido_central.contracts_and_clauses .minimizeTable .filterDropDown {
        float: left;
    }

        div.mod_contenido_central.contracts_and_clauses .minimizeTable .filterDropDown ul {
            float: left;
        }

        div.mod_contenido_central.contracts_and_clauses .minimizeTable .filterDropDown.btnTrack {
            float: right;
            text-align: right;
        }

div.mod_contenido_central.contracts_and_clauses span.reformulationTitle {
    float: left;
    margin-left: 8%;
    font-weight: bold;
}

div.mod_contenido_central.contracts_and_clauses div.normative {
    float: left;
    margin-left: 20%;
}

    div.mod_contenido_central.contracts_and_clauses div.normative span.title {
        font-weight: bold;
        font-style: italic;
        padding: 0 10px 0 0;
    }

div.mod_contenido_central.contracts_and_clauses .selectContainer {
    float: right;
    text-align: left;
    padding-right: 2.8%;
}

div.mod_contenido_central.contracts_and_clauses .editingButtonsEdit {
    float: right;
    padding-right: 2.75%;
}

div.mod_contenido_central.contracts_and_clauses .minimizeTable .plegableTitle {
    width: auto;
}

.mod_contenido_central.contracts_and_clauses .filterDropDown.btnTrack .btn-primary {
    margin: 0 0px 0 20px;
}

.mod_contenido_central.contracts_and_clauses .filterDropDown.btnTrack {
    margin-right: 3.75%;
}

.mod_contenido_central.contracts_and_clauses .filterContracts .filterDropDown {
    width: 24%;
}

.k-button- {
    border: 1px solid #edeff2;
    width: 300px;
    height: 25px;
    border-radius: 5px;
    padding: 0 10px !important;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background: none !important;
}

    .k-button- .k-button-left-x {
        float: left;
        font-weight: bold;
    }

    .k-button- .k-button-right-x {
        float: right;
        font-weight: bold;
    }
