<div class="row pull-right">
    <div class="col-md-12">
        @Confluence.ButtonBlue(
            text: Localization.GetText("CM.Button.ClearAll"),
            name: "clearfields",
            action: "clearFields")
        @Confluence.ButtonOrange(
            text: Localization.GetText("CM.Button.Execute"),
            name: "execute",
            action: "executeApproval",
            dataAttributes: new Dictionary<string, string> {
                { "url", Url.Action(actionName: "ExecuteApproval") }
            })
    </div>
</div>