@using IDB.MW.Application.AdministrationModule.ViewModels.GenericCase

@model ClausesViewModel

<div class="row grouping-section"
     id="generic-case-fields"
     data-parsley-validate="data-parsley-validate">
    <div class="col-md-4 groupColumn" id="workflow-fields">
        @Html.Partial("Partial/_WorkflowFields", Model)
    </div>
    <div class="col-md-4 groupColumn" id="elegibility-fields">
        @Html.Partial("Partial/_ElegibilityFields", Model)
    </div>
    <div class="col-md-4 groupColumn" id="clause-extension-fields">
        @Html.Partial("Partial/_ClauseExtensionFields", Model)
    </div>
</div>