<div class="mb40 mt50"
     id="aditional-data"
     data-parsley-validate="data-parsley-validate">
    <div class="row mb10">
        <div class="col-md-12">
            @Confluence.LabelsGroup(
                title: Localization.GetText("AP.GC.Title.JIRANumber"),
                contentAlways: Confluence.InputText(
                    value: null,
                    name: "jira-number",
                    required: true,
                    maxLength: 50,
                    width: "25%",
                    htmlClass: "mr10",
                    dataAttributes: new Dictionary<string, string> {
                        { "field-name", "JIRANumber" }
                    }),
                asterisk: true)
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Confluence.LabelsGroup(
                title: Localization.GetText("OP.AP.Comments"),
                contentAlways: Confluence.InputTextArea(
                    value: null,
                    name: "comments",
                    required: true,
                    placeholder: Localization.GetText("AP.GC.PlaceHolder.Comments"),
                    width: "100%",
                    height: "207px",
                    dataAttributes: new Dictionary<string, string> {
                        { "field-name", "Comments" }
                    }),
                asterisk: true)
        </div>
    </div>
</div>