<a name="infozone"><h1 class="secciones">Sección de Información Genérica</h1></a>
<div class="bloqueSeccion mb30">
    @if (!ViewBag.Legacy)
    {
        @Html.Partial("Information/Validation")
    }

    @Html.Partial("Information/Pruebas")
    
</div>