@{
    string ruta, archivo;
    if (!ViewBag.Legacy)
    {
        ruta = Url.Action("Working", "View");
        archivo = "Working";
    }
    else
    {
        ruta = Url.Action("WorkingLegacy", "View");
        archivo = "WorkingLegacy";
    }
}

<a name="infTest">
    <h1>Entorno de Pruebas</h1>
    <h6>Pagina</h6>
</a>

<div class="filterNormal explain mt50">
    Existe un entorno de desarrollo con todo lo necesario para poder hacer una prueba de elementos o construir helper internos<br />
    La ruta desde local es la siguiente:<br /><br />
    <a href="@ruta">@ruta</a><br /><br />
    <span>La ruta dentro del proyecto es: Areas/Styles/View/@string.Format("{0}.cshtml", archivo)</span><br /><br />
    Cuenta con un entorno limpio y de carga rapida para poder testear lo necesario, viene con secciones pre definidas
     y comentadas para su utilizacion. <br />
    <ul>
        @if (ViewBag.Legacy)
        {
            <li>Trae por defecto lo necesario (botones y funciones para probar en modo edit y view mode)</li>
        }
        <li>Una seccion para poner codigo razor, ya sea para variables globales de la pagina o calculos, etc</li>
        <li>Una seccion para añadir css desde archivos o probar en duro</li>
        <li>Una seccion para añadir js desde archivos o probar en duro</li>
        <li>Una seccion de funciones para ser utilizada desde helpers</li>
        <li>Una seccion para diseñar un helper</li>
    </ul>
</div>
<br />