<a name="infValidation">
    <h1>Validacion</h1>
    <h6>Pluging: Validation</h6>
</a>

<div class="filterNormal explain mt50">
    Parametros de la funcion:<br />
    <ul>
        <li>
            <span class="bold">Validation.Init(container, isNotLifeValidation)</span><br />
            Inicializa la funcion, si no se llena el contenedor usa por defecto el documento entero<br />
            tambien permite desactivar la validacion en caliente. (con parametros booleanos)
        </li>
        <li>
            <span class="bold">Validation.Destroy()</span><br />
            Destruye todos los elementos de validacion, y deja de trabajar.
        </li>
        <li>
            <span class="bold">Validation.Container(container)</span><br />
            Devuelve un booleano si pasa la prueba de validacion de un contenedor.<br />
            Si no se llena el contenedor por defecto toma el documento completo
        </li>
    </ul>
    <br />
    <br />
    Parametros de funcionamiento:
    <ul>
        <li>
            <span class="bold">data-parsley-required</span>
            Sirve para inicializar el Validador y decir que es requerido<br />
            Viene por defecto en los helper con el parametro required
        </li>
        <li>
            <span class="bold">data-validation-req-msg</span><br />
            Sirve para poner un mensaje personalizado en la validacion de requerido<br />
            para incorporarla debe ser seteada de la siguiente manera:<br />
            dataAttributes: new Dictionary<string, string> { { "validation-req-msg", "mensaje a utilizar" } }
        </li>
        <li>
            <span class="bold">dd-min-date</span><br />
            Sirve para setear una fecha por defecto en el componente, <br />
            adicionalmente valida que la fecha del componente sea menor o igual a la ingresada.<br />
            Viene por defecto en el helper de fecha parametro minDate
        </li>
        <li>
            <span class="bold">dd-max-date</span><br />
            Sirve para setear una fecha por defecto en el componente, <br />
            adicionalmente valida que la fecha del componente sea mayor o igual a la ingresada.<br />
            Viene por defecto en el helper de fecha parametro maxDate
        </li>
        <li>
            <span class="bold">dd-less-date</span><br />
            Sirve para setear el nombre del componente que contenga una fecha (ya sea componente de fecha, hidden, etc) por defecto en el componente, <br />
            adicionalmente valida que la fecha del componente sea mayor o igual a la ingresada.<br />
            Viene por defecto en el helper de fecha parametro lessThanNameDate.<br />
            Debe tener el formato de fecha utilizado por el banco
        </li>
        <li>
            <span class="bold">dd-greater-date</span><br />
            Sirve para setear el nombre del componente que contenga una fecha (ya sea componente de fecha, hidden, etc) por defecto en el componente, <br />
            adicionalmente valida que la fecha del componente sea menor o igual a la ingresada.<br />
            Viene por defecto en el helper de fecha parametro greatherThanNameDate.<br />
            Debe tener el formato de fecha utilizado por el banco
        </li>
        <li>
            <span class="bold">data-validation-regex</span><br />
            Sirve para validar el contenido del input con una expresion regular<br />
            para incorporarla debe ser seteada de la siguiente manera:<br />
            dataAttributes: new Dictionary<string, string> { { "validation-regex", "mascara a utilizar" } }
        </li>
        <li>
            <span class="bold">data-validation-regex-msg</span><br />
            Sirve para cambiar el mensaje por defecto al validar el contenido del input con una expresion regular<br />
            para incorporarla debe ser seteada de la siguiente manera:<br />
            dataAttributes: new Dictionary<string, string> { { "validation-regex-msg", "mensaje a utilizar" } }
        </li>

    </ul>
</div>
<br />