@using IDB.Presentation.MVC4.Helpers
@using IDB.Architecture.Language
@using IDB.MVCControls.General.Helpers

@model IDB.MW.Application.GlobalModule.ViewModels.WorkflowViewModel

@Confluence.LabelMainTitle(Model.ModuleName, dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "lblWFHeaderCode" } })
<div class="row row-body-40">
    <div class="col-md-12 pt20">
        <div class="pull-left box_subtitle"><h4 class="headingh2 title_tag">@Model.WorkflowName</h4></div>
        <div class="pull-right">
                @Html.Partial("Partials/Controls/WorkflowButtons")
        </div>
    </div>
</div>
