@section css{
    @Styles.Render("~/Content/MappingProgressDocument")
}

<div class="clauses_add_doc">
    <div class="idb-content-page k-window k-widget k-content content-document">
        @{Html.RenderAction("IndexDocumentRelationship", "Document", new { area = string.Empty, iframeMode = true});}
    </div>
</div>