#disclosureDocumentTable thead.first tr {
    border-bottom: 2px solid #FFF;
}

#disclosureDocumentTable thead.first tr th {
    background-color: #193a6e;
}

#disclosureDocumentTable thead.last tr th {
    background-color: #22509d;
}

button.commentIcon {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAUBAMAAAB7UtADAAAAKlBMVEUAAAD/dw3/eBD/ehL/fxv/gR7/jDL/l0b/pWD/rW3/xZn/yqD/0Kz///9cRfLsAAAAAXRSTlMAQObYZgAAAEBJREFUeF5jwA3YBUGgAMwWhACwsPRdENgIkmCUBbMvClCPjTAfZm/uFUG4eySvCDDAgOIRBHthMILNIciAGwAAIxg2e6zv6KcAAAAASUVORK5CYII=');
    height: 20px;
    width: 22px;
    border: 0;
}

button.noCommentIcon {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAUCAYAAACJfM0wAAAAT0lEQVR42mNgGBYgOzv7PymYJoYSZThM0aFDh/4TC0BqCRoOU0AqGDV41GAKDKZ6OiY256G7lKrZmqggIKeAIjoIiAXIBlLVYPSgYhg2AAAT4ZYRvHJwDQAAAABJRU5ErkJggg==');
    height: 20px;
    width: 22px;
    border: 0;
}

.inputComment .buttonTrash {
    margin-top: -5px !important;
}

.linedown {
    border-bottom: 1px solid #D9D9D9;
}