@{
    Layout = "../../Shared/_Layout.cshtml";
}

<div>
    @Confluence.LabelMainTitle(Localization.GetText("TCM.TCU.TcmUniverse.Header"))
</div>
<div class="mt100">
    <ul>
        <li class="mt50">@Confluence.Label(Localization.GetText("TCM.TCU.TcmUniverse.AllOperationMHF"))</li>
        <li class="mt50">@Confluence.Label(Localization.GetText("TCM.TCU.TcmUniverse.AllOperationADM"))</li>
        <li class="mt50">@Confluence.Label(Localization.GetText("TCM.TCU.TcmUniverse.AllOperationMIf"))</li>
    </ul>
</div>