.k-grid .k-pager-numbers {
    float: right;
    cursor: default;
}

.task-legend {
    border-bottom: solid 1px #000000;
    font-weight: bold;
}

.task-header {
    font-weight: bold;
    font-size: 1em;
}

.mod_style table tbody tr.k-detail-row {
    color: #333333;
    font-size: 0.75em;
    background-color: white;
    width: 100%;
}

    .mod_style table tbody tr.k-detail-row:hover {
        color: #333333;
        font-size: 0.75em;
        background-color: white;
        width: 100%;
    }

textarea {
    width: 80%;
}

a.k-icon {
    background: url("../../../Images/Modulos/tables/flecha_abajo_azul_oscuro_table.png") no-repeat scroll 92% 1.3em transparent;
    font-family: "Arial";
    font-weight: bold;
}

a.k-iconUp {
    background: url("../../../Images/Modulos/tables/flecha_arriba_azul_table.png") no-repeat scroll 92% 1.3em transparent !important;
}

.k-pager-wrap {
    width: 95%;
}

.k-pager-nav {
    display: none;
}

span.k-pager-info {
    display: none;
}

th.k-header {
    border-color: black;
}

tbody tr:nth-child(even) {
    background: white;
}

.grid tbody tr:nth-child(even) {
    background: #FFFFFF;
}

.grid tbody tr:nth-child(even):hover {
    background: #FFFFFF;
}

div.k-content {
    border-style: none !important;
    border: 0px;
}

li.k-item {    
    border-style: none !important;
    border: 0px;
}
