.tableNormal thead tr th {
  border: solid 1px white !important;
}

.DemLeft {
  text-align: left !important;
}

.DemResizable {
  resize: both !important;
}

.DemSubtitleGroup {
  font-size: 18px !important; 
  font-family: 'OpenSans-Bold' !important; 
  color: #000 !important; 
  margin: 0; 
  line-height: 32px;
}

.DemSubtitleGroupSub {
  font-size: 16px !important; 
  font-weight: 600;
  display:block;
  line-height: 24px;
}

.DemLastUpdateMargin {
  margin-right: 25px !important;
}

.DemTableHeaderLevel1 {
  background-color: #cccccc !important;
}

.DemTableHeaderLevel1 td .labelNormal{
    font-weight: bold;
}

.DemTableHeaderLevel2 {
  /*background-color: #949494 !important;*/
  /*border: solid 1px white !important;*/
}
.DemTableHeaderLevel2 td .labelNormal{
  font-weight: bold;
}

.DemTableHeaderLevel3 {
  /*background-color: #BCBCBC !important;*/
  /*border: solid 1px white !important;*/
}

.DemChildPadding {
  padding-left:30px !important;
}

.DemInputRow {
  height: 56px !important;
}

.DemList {
  display: block;
}

.DemList li {
  display: inline;
  vertical-align:central;
}

.DemList li:first-child {
  margin-right:10px;
}

.DemCommentText {
  width:100%;
  height:100px;
}

.DemListComments {
  padding-left:0px;
  padding-top:10px;
  padding-bottom:10px;
  margin-top:10px;
  display:block;
  position:relative;
}

.DemListComments li {
  list-style-type:none;
  display: inline;
  margin-left:0;
  padding-left:0;
  margin-right: 30px;
}

.IconTr {
  position:relative;
}

.DemListCommentsIcon {
  width:24px;
  height:24px;
  position:absolute;
  right:-60px;
  display:block;
  z-index:100000;
}

.DemListCommentsIconTd {
  width:1px;
  height:1px;
  position:absolute;
  right:0px;
  display:block;
  z-index:100000;
}

.DemListCommentsIconTdContent {
  width:24px;
  height:24px;
  position:absolute;
  left:-42px;
  top:10px;
  display:block;
  z-index:120000;
}

.DemComment {
  background-color:#ebebe4;
  padding: 10px 20px;
  line-height: 21px;
}

.DemCommentEditInput{
}

.DemInsert{
  display:none;
}

span.commentIcon {
  background-image: url('images/new.comment.icon.png');
  height: 10px;
  width: 10px;
  display: inline-block;
  background-repeat: no-repeat;
  width: 42px;
  height: 27px;
}

.uno {
  display:none;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: .75s;
}

.animated.bounceIn,
.animated.bounceOut {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0,-4px,0);
  }
}

.bounce {
  animation-name: bounce;
  transform-origin: center bottom;
}

.DemIconList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items:center;
}

.aRight {
  text-align:right;
}

.mod {
  right:-10px;
}

.DemFontLink {
  font-size:12px;
}

.inputComment .parsley-errors-list {
  margin-bottom:20px;
}

.noFloat {
  float:none;
}

.DemSubtitleAlignment {
  vertical-align: baseline!important;
}

.is-relative{
  position: relative;
}

span.is-relative div.informationBox-container {
  position: absolute;
  top: -5px;
  left: -40px;
}

.biggerInformationBox {
  top: 10%;
  position: absolute;
  left: -2530%;
  width: 800px;
}

.addButtonRight {
  margin-right: -40px!important;
}

.commentsRate textarea, .commentsClassification textarea {
  width: 300%!important;
}

.inlineDiv {
  display: inline;
}

.inlineDivRight {
  display: inline;
  float: right;
}

.sameLineIcons {
  display: inline-block;
  width: 95px;
}

.labelExpired span label {
  font-family: OpenSans-Regular !important;
  color: #ccc !important;
}

.justifiedText {
  text-align: justify;
}

.demItemBold {
    font-weight: bold;
}
.level2 {
    display:block;
    word-wrap: break-word;
}
.level1 {
    font-weight:bold;
}
.iconDemNew {
    width:42px;
    height:27px;
    display:block;
    position: absolute;
    left: -50px;
    overflow:hidden;
}
.labelDemExtra {
    font-family: 'OpenSans-Bold';
    font-size: 13px !important;
    color: #1f251f !important;
}
.labelDemExtraTwo {
    font-family: 'OpenSans-Regular';
    font-size: 13px !important;
    color: #666666 !important;
}
.showNewCommentLastVersion .inputComment{
    margin-top:10px;
    margin-bottom:10px;
}
span[data-pagemode="read"] .inputComment, span[data-pagemode="edit"] .inputComment{
    margin-bottom:10px;
    margin-top:10px;
}
.tree span:only-child {
    width: 2px !Important;
    height: 100% !Important;
    left: 10px !Important;
    background-color: #eee !Important;
}
.deleteButtonNewComment
{
    width: 93% !important;
    float: right !important;
    margin-bottom: 10px;
}
.deleteButtonNewComment .buttonTrash {
    margin-top:15px;
    box-shadow: 0 3px 6px rgba(255,255,255,0.16), 0 3px 6px rgba(36,36,36,0.23);
}
.inputComment textarea{
    margin-bottom:10px !Important;
}
@media screen and (min-width: 992px) and (max-width: 1100px) {
    .DemLastUpdateMargin{
         width:10%;
    }
}
@media screen and (min-width: 1101px) {
    .DemLastUpdateMargin{
         width:11%;
    }
}
.commentListStrategy {
    background-color:white;
     margin-left: 0px;
     margin-right:0px;
     padding-top:0px;
     padding-left:80px;
}
.commentListStrategy .textAreaLabelAndInput {
    background-color:#eff8ff;
    border:1px solid #eff8ff;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 5px;
    color:#707783;
    line-height:21px;
}
.inputCommentListEdit {
    padding-left:70px;
}
.inputCommentListEdit .textAreaLabelAndInput{
    background-color:#eff8ff;
    border:1px solid #EEE;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 5px;
    color:#707783;
    line-height:21px;
}

.inputCommentList{
    padding-bottom:0px;
    
}
.newMark {
    padding-left:70px;
    list-style-type:none;
}
span[data-pagemode=edit] .newMark .textAreaLabelAndInput {
    border: none !important;
    box-shadow: 0 3px 6px rgba(255,255,255,0.16), 0 3px 6px rgba(36,36,36,0.23);
}
span[data-pagemode=edit] .newMark .inputTextarea  {
    height:auto;
}
.oldCommment {
    list-style-type:none;
}
.lastComment ul {
    list-style-type:none;
}
span[data-pagemode="edit"] .oldComment .textAreaLabelAndInput {
    border:none;
}
.LabelsGroup .lgCont .labelNormal {
    font-size:14px !important;
}
.labelDataExtra, .labelDataExtraTwo {
    font-size:14px !important;
}
.labelDataExtraTwo {
    color:#707783 !important;
}
#tableRiskMatrix ul, #tableEconomicAnalysis ul, #tableMonitoringAndEvaluation ul, #tableCountrySystems ul, #tableEvaluability ul, #tableRiskMatrix ul, #tableMitigationMeasures ul, #tableIDBInvolvement ul, #tableTechnicalAssistance ul, #tableImpactEvaluation ul{
    list-style-type:none;
}

#tableRiskMatrix .userData .labelNormal, #tableEconomicAnalysis .userData .labelNormal, #tableMonitoringAndEvaluation .userData .labelNormal, #tableCountrySystems .userData .labelNormal, #tableEvaluability .userData .labelNormal, #tableRiskMatrix .userData .labelNormal, #tableMitigationMeasures .userData .labelNormal, #tableIDBInvolvement .userData .labelNormal, #tableTechnicalAssistance .userData .labelNormal, #tableImpactEvaluation .userData .labelNormal {
    font-size:14px !important;
}
.oldComment textarea {
    width:100%;
}
.lblRequiredDEM label {
    font-family: 'OpenSans-Regular'!important;
}
.myCommentBlue{
    background-color:#f0f7ff !important;
    color:#707783;
    width:100% !important;
    border:none;
    margin-right:0;
    border:6px solid #f0f7ff !important;
    height: 9.83em!important;
    overflow: auto;
}
.oldCommentGray {
    background-color:white !important;
    border:6px solid #CCC !important;
    color:#707783;
    height: 9.83em!important;
    overflow: auto;
}
.borderLightBlue {
    background-color:white !important;
    border:6px solid #f0f7ff !important;
    height: 9.83em!important;
    overflow: auto;
}
.pd6 {
    padding: 6px !important;
}
.formattedText {
    white-space: pre-line;
}
li.oldComment {
    list-style-type:none;
}

.blueArrow {
    color: #0066CC;
}

.paddingLeftStrategicCommentsBox {
    padding-left: 2.5%!important;
}

.cdrTextAreaWidth {
    width: 97%!important;
}

.paddingLeftRisksCommentsBox {
    padding-left: 4%!important;
}

.iconAddNew {
    background: url('../../../images/icons/New-Comment-Icon.png') no-repeat; 
    border: 1px solid #cbdcf2; min-width: 50px; 
    height: 27px; 
    border-radius: 8px;
    padding: 0 10px;margin-top:0px; 
    background-position:16px 5px; 
    margin-right:12px;
}

.userData {
    width: 100%;
    margin-left: auto;
    margin-right: 0px;
    padding-bottom: 4px;
    padding-left: 0;
    margin-top: 0px;
    text-align: right;
}

.countryStrategyComments {
    padding-left: 2%!important;
}

.resultsMatrixImpactIndicatorsSA{
    padding-left: 78px !important;
}

.alignmenttextArea {
    margin-left: 38px;
}

.linkCommentsCountry {
    margin-left: 12px;
}

.deleteCommentIndicatorCountry {
    margin-left: 40px;
}

.contributionNewComment{
    margin-left: 25px;
}

.showCommentsAlignment{
    margin-left:25px;
}

.commentIndicatorCountryContribution {
    margin-left: 40px;
}

.paddingPRisksCommentsBox {
    padding-left: 3%!important;
}

.riskMatrixComment {
    margin-left: 38px;
}

.riskTrashDeleteComment {
    margin-left: 38px;
}

.risksCommentsLabel {
    padding-left: 3%!important;
}

.saLightBlueComments {
    margin-left: 40px;
}

.enviromentalPerfomancetRisksCommentsBox {
    padding-left: 3%!important;
}

.hiddenBorder {
    border: hidden !important;
}