/**
 * ui_gl_004 Id's
 * Mon, 17 feb 2014
 * eSmart Group
 */

#ui_gl_004{}

#showFilterButtonGlobal004{}

#searchBoxContainerGlobal004{}


#ui_gl_004 .kendoDatePicker,
#ui_gl_004 .kendoDropDown,
#ui_gl_004 input[type="text"]{
    width: 100%;
}

#tableUIGL004 tr th:first-child,
#tableUIGL004 tr td:first-child,
#tableUIGL004 tr th:nth-child(2),
#tableUIGL004 tr td:nth-child(2),
#tableUIGL004 tr th:nth-child(3),
#tableUIGL004 tr td:nth-child(3){
    width: 12%;
}

#tableUIGL004 tr th:last-child,
#tableUIGL004 tr td:last-child{
    width: 5%;
}

#ui_gl_004 .kendoDropDown{width: 100%;}
#ui_gl_004 .k-picker-wrap{padding: 2px 0;}
#ui_gl_004 .k-select{ display: inline-block; position: absolute; right: 0; text-decoration: none; top: 2px; vertical-align: top; }
#ui_gl_004 .k-dropdown-wrap { display: block !important; cursor: pointer;padding: 2px 0;}
#ui_gl_004 .k-dropdown{ display: inline-block; cursor: pointer;border: none !important; }
.k-state-hover { background-position: inherit !important; background-color: #eff4fb; }

.k-popup.k-list-container { border-right: 1px solid #CCDCF2; border-left: 1px solid #CCDCF2; border-bottom: 1px solid #CCDCF2; border-radius: 0 !important; }
