@model string
@{
    Layout = "~/Areas/SupervisionPlan/Views/Shared/_Layout.cshtml";
}

@section CSS {
    <link href="~/Content/overrides/SupervisionPlanOverride.css" rel="stylesheet" />
}

    <div class="row col-md-12 mb20">
        @Confluence.LabelMainTitle(Localization.GetText("SP.Summary.TextTitle"))
    </div>

    <div class="row col-md-12 mb20">
    @Localization.GetText("SP.PMR.SupervisionPlan.LinkMessage")
    </div>

    <div class="row col-md-12 mb20">
    <a href="@Url.Action("Summary", "SupervisionPlan", new { operationNumber = Model })">@Localization.GetText("SP.PMR.SupervisionPlan.Link")</a>
    </div>