@using IDB.Presentation.MVC4.Helpers
@using IDB.Architecture.Language;

@if (ViewBag.HasWritePermission)
{
    <div class="col-md-12 text-right">
        <span data-pagemode="read">
            @Confluence.ButtonLink(text: Localization.GetText("OP.MS.Cancel"), action: "returnSearch", name: "returnSearch01", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnReturnSearch01" } })
        </span>
        <span data-pagemode="edit">
            @Confluence.ButtonLink(text: Localization.GetText("OP.MS.Cancel"), action: "returnSearch", name: "returnSearch02", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnReturnSearch02" } })
            @Confluence.ButtonBlue(text: Localization.GetText("OP.MS.MissionsButtons.SaveRequestApproval"), action: "saveNewRequestMissions", name: "saveNewRequestMissions01", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnsaveNewRequestMissions01" } })
            @Confluence.ButtonBlue(text: Localization.GetText("OP.MS.Save"), action: "saveNewMissions", name: "saveNewRequestMissions02", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnsaveNewRequestMissions02" } })
        </span>
    </div>
}