
@if (IDBContext.Current.HasPermission(Permission.DELIVERABLES_WRITE))
{
    <div data-id="headerButtons" class="text-right">
        <div data-pagemode="read">
            @Confluence.ButtonBlue(Localization.GetText("OP.DL.Edit"), null, "edit")
        </div>

        <div data-pagemode="edit">
            @Confluence.ButtonLink(Localization.GetText("OP.DL.Cancel"), null, "cancel")
            @Confluence.ButtonOrange(Localization.GetText("OP.DL.Save"), null, "save")
        </div>
    </div>
}