<div data-id="headerButtons" class="floatRight">
    <div data-pagemode="read">
        @Confluence.ButtonBlue(Localization.GetText("TCM.FR.FindingsAndRecommendations.Edit"), name: "btnEditProgress", action: "edit", dataAttributes: new Dictionary<string, string>() {{"idb-fieldname", "btnEditProgress"}})
    </div>
    <div data-pagemode="edit">
        @Confluence.ButtonLink(Localization.GetText("TCM.FR.FindingsAndRecommendations.Cancel"), action: "cancel")
        @Confluence.ButtonOrange(Localization.GetText("TCM.FR.FindingsAndRecommendations.Save"), action: "save")
    </div>
</div>