@using IDB.Presentation.MVC4.Helpers

@model  List<IDB.MW.Domain.Models.Security.FieldAccessModel>

<div data-id="headerButtons" class="floatRight">
    @if (SecurityHelper.IsVisible(Model, "btnEditProject"))
    {
        <div data-pagemode="read">
            <button class="buttonBlue" name="btnEditProject" data-idb-fieldname="btnEditProject" onclick="edit()">@Localization.GetText("TCM.FR.FindingsAndRecommendations.Edit")</button>
        </div>
    }
  
    <div data-pagemode="edit">
        @Confluence.ButtonLink(Localization.GetText("TCM.FR.FindingsAndRecommendations.Cancel"), action: "cancel")
        @Confluence.ButtonOrange(Localization.GetText("TCM.FR.FindingsAndRecommendations.Save"), action: "save")
    </div>
</div>