<div data-id="headerButtons" class="floatRight mr10">
    <div data-pagemode="read">
        @Confluence.ButtonWhite(Localization.GetText("TCM.FR.FindingsAndRecommendations.VerifyContent"), action: "verifyContent")
    </div>
</div>