@using IDB.Presentation.MVC4.Models.Modal
@using IDB.Presentation.MVC4.General

<div id="dimensions-container">
    <div id="dimensions-link-modal" class="hide">

        <table class="tableNormal" border="1">
            <thead>
                <tr>
                    <th class="StyleWidth10p">Dimensions</th>
                    <th class="StyleWidth40p">Dimensions Description</th>
                    <th class="StyleWidth10p">Categories</th>
                    <th class="StyleWidth40p">Examples</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="4">Technical-Sectorial dimensions</td>
                    <td rowspan="4">Competition</td>
                    <td>Project Design</td>
                    <td>
                        <p>a. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        <p>b. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        <p>c. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        <p>d. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        <p>e. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    </td>
                </tr>
                <tr>
                    <td class="StyleColorLavender">Project Monitoring &amp; evaluation</td>
                    <td class="StyleColorLavender">
                        <p>a. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        <p>b. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        <p>c. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        <p>d. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        <p>e. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        <p>f. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        <p>g. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        <p>h. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    </td>
                </tr>
                <tr>
                    <td>Natural causes or disasters</td>
                    <td>
                        <p>a. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    </td>
                </tr>
                <tr>
                    <td class="StyleColorLavender">Environmental factors</td>
                    <td class="StyleColorLavender">
                        <p>a. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">Organizational and Managenial dimensions</td>
                    <td rowspan="2">Refers to the arrangements that attribute responsibilities and roles related to the management of the project cycle: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</td>
                    <td>Project management capacity</td>
                    <td>
                        <p>a. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        <p>b. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        <p>c. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        <p>d. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    </td>
                </tr>
                <tr>
                    <td class="StyleColorLavender">Intra/Inter corrdination</td>
                    <td class="StyleColorLavender"><p>a. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="StyleColorLavender"></td>
                    <td class="StyleColorLavender">
                        <p>b. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        <p>c. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    </td>
                </tr>
                <tr>
                    <td>Dimensions related to Public Processes/Actors</td>
                    <td>Refers to the arrangements that attribute responsibilities and roles related to the management of the project cycle: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</td>
                    <td>Stakeholder priorities</td>
                    <td>
                        <p>a. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        <p>b. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    </td>
                </tr>
                <tr class="StyleColorLavender">
                    <td>Dimensions related to LEgal and Policy Aspects</td>
                    <td>Refers to the arrangements that attribute responsibilities and roles related to the management of the project cycle: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</td>
                    <td>Approval or legislative ratification of the Project and/or loan agreemen signature</td>
                    <td>
                        <p>a. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        <p>b. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        <p>c. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        <p>d. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    </td>
                </tr>
                <tr>
                    <td rowspan="3">Fiduciary dimensions</td>
                    <td rowspan="3">Refers to the arrangements that attribute responsibilities and roles related to the management of the project cycle: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</td>
                    <td>Acquisitions and procurement - bidding stage</td>
                    <td>
                        <p>a. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        <p>b. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        <p>c. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        <p>d. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        <p>e. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    </td>
                </tr>
                <tr>
                    <td>Acquisitions and procurement - provider performance and supervision</td>
                    <td>
                        <p>f. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        <p>g. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    </td>
                </tr>
                <tr>
                    <td class="StyleColorLavender">Cost and Budgetary Aspects</td>
                    <td class="StyleColorLavender">
                        <p>a. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        <p>b. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        <p>c. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        <p>d. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

    <span data-name="open-popup-button-container">
        @Display.AddModalButton(new ModalViewModel(
            contentSelector: "#dimensions-link-modal",
            title: Localization.GetText("List of dimensions and categories with examples"),
            type: CssClass.ModalInformationNoIcon,
            moveOriginalContent: true,
            name: "dimensions" + "open-popup-btn",
            closeOnOverlay: false,
            allowClose: true,
            actionOnClose: ""))
    </span>

</div>