@using System.Globalization

@using IDB.MW.Application.CPDModule.ViewModels.CSProgressToDate
@using IDB.MVCControls.DataTable.Helpers
@using IDB.MW.Application.CPDModule.ViewModels.Core

@model CSPDUseOfCountrySystemsTabViewModel


@{


    var config = Html.RenderDataTable(Model.StrengtheningInitiatives);
    config.TableClass = "tableNormal";
    config.Name("strengtheningInitiativesTable")
    .PrimaryKey(m => m.RowId.ToString(CultureInfo.InvariantCulture))
    .AddPrimaryKeyToName(false)
    .UseDataTableNet(false)
    .UsePageMode(false)
    .Columns(columns =>
    {
        columns.Bound(c => c.System)
        .Header(Localization.GetText("CPD.CSProgressToDate.UseOfCountrySystemes.StrengtheningInitiatives.Systems"))
        .CssHeaderClass("w175")
        .Persistent();

        columns.Template(DrawMultiDropdown)
        .Header(Localization.GetText("CPD.CSProgressToDate.UseOfCountrySystemes.StrengtheningInitiatives.InterventionsPerformed"))
        .CssHeaderClass("")
        .Persistent();

        columns.Bound(c => c.Comment)
        .Header(Localization.GetText("CPD.CSProgressToDate.UseOfCountrySystemes.StrengtheningInitiatives.Comments"))
        .CssHeaderClass("w300")
        .Persistent();
        
    });
}

@Html.Partial("Controls/DataTable", config)

@helper DrawMultiDropdown(SystemRowViewModel model)
{
    <ul class="list-without-style mb5">
        @foreach (var option in model.ForeSeenActionNames)
        {
            <li>@Confluence.LabelBold(option)</li>
        }
    </ul>
}