@using IDB.MW.Application.TCAbstractModule.ViewModels.TCAbstractService;

@model NotifyFundCoordinatorRowViewModel

<div class="row notify-fund-row font-body">
    <div class="col-md-5">
        <div data-pagemode="edit">
            @Input.DropDown(
                Model.ApplicableFundId,
                "applicableFund",
                ViewBag.NotifyFundCoordinatorFundList,
                valuePropertyName: "TrustFundingId",
                textPropertyName: "FundCodeFundName",
                validateOnChange: true,
                attributes: new Dictionary<string, string>
                {
                    { "data-parsley-noRepeatValue", "[name=applicableFund]" },
                    { "data-parsley-fundWithUser", "" }
                })
        </div>
    </div>
    <div class="col-md-5" style="padding-left:27px;">
        <div data-pagemode="edit">
            @Input.DropDown(
                ViewBag.EnumMapping[Model.DecisionId],
                "fundDecision",
                ViewBag.NotifyFundCoordinatorDecisionList,
                showEmptyOption: false)
        </div>
    </div>
    <div class="col-md-2" style="padding-left:40px;">
        <div data-pagemode="edit">
            @ControlTemplates.InputCheckbox(Model.Notify, "selected", forceValidation: false)
        </div>
    </div>
</div>