@model IDB.MW.Application.OPUSModule.ViewModels.CreationFormService.CreationFormViewModel

<tr data-id="0" class="custom-even odd" role="row">
    <td class="hide">
        <span data-pagemode="edit">
            <input type="hidden" name="CountryRelatedId" value="0" />
        </span>
    </td>
    <td>
        <span data-pagemode="edit">
            @Confluence.InputDropDown(
                value: Model.SelectedAssociatedCountriesRoleList,
                name: "associatedCountriesRole",
                elements: Model.AssociatedCountriesRoleList,
                dataAttributes: new Dictionary<string, string>()
                    { { "idb-fieldname", "ddlAssCountRole" } })
        </span>
    </td>
    <td>
        <span data-pagemode="edit">
            @Confluence.InputDropDownMulti("listCountry",
                ViewBag.Countries,
                width: "100%",
                required: false,
                placeholder: "N/A",
                values: Model.SelectedCountries)
        </span>
    </td>
    <td>
        <span data-pagemode="edit">
            @Confluence.ButtonTrash(null, null, "removeRow",
                dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "btnDeleteCountry" } })
        </span>
    </td>
</tr>