@{
    var jquerySelector = "{\"BasicFilter\":{\"basic\":\"[name='operationType']\"}};";
    jquerySelector += "{\"BasicFilter\":{\"basic\":\"[name='LendingType']\"}};";
    jquerySelector += "{\"ElementFilter\":{\"closest\":\"tr\",\"find\":\"[name='RoleOrganizationalUnit']\"}};";
    jquerySelector += "{\"BasicFilter\":{\"basic\":\"[name='Intruments']\"}};";
    jquerySelector += "{\"BasicFilter\":{\"basic\":\"[name='MIFNSGInst']\"}}";

}

<tr data-id="0" class="custom-even odd" role="row">
    <td>
        <span data-pagemode="edit" class="">
            @Confluence.InputDropDown(
                null,
                "RoleOrganizationalUnit",
                ViewBag.RoleList, width: "100%",
                dataAttributes: new Dictionary<string, string>() {
                    { "idb-fieldname", "ddlOrgUnitRole" }
                })
        </span>
    </td>
    <td>
        <span data-pagemode="edit" class="">
            @Confluence.InputDropDownAsync(
                null, 
                "OrganizationalUnit",
                Url.Action("GetOrganizationalUnits", "View", new { 
                    area = "Opus" }),
                width: "100%",
                dataAttributes: new Dictionary<string, string>() {
                    { "idb-fieldname", "ddlOrgUnit" }},
                evalGuaranteed: true,
                dependenceComponentSelectors: jquerySelector)
        </span>
    </td>
    <td class="hide">
        <span data-pagemode="edit">
            <input type="hidden" name="OrganizationalUnitRowId" value="0" />
        </span>
    </td>
    <td>
        <span data-pagemode="edit">
            @Confluence.ButtonTrash(
                null,
                null,
                "removeRow",
                dataAttributes: new Dictionary<string, string>() {
                    { "idb-fieldname", "btnDeleteOrgUnit" }
                })
        </span>
    </td>
</tr>