<tr>
    <td id="countryRegion" style="text-align: center"><label class="labelNormal">@ViewBag.CountryRegion</label></td>
    <td id="adminDistrict" style="text-align: center"><label class="labelNormal">@ViewBag.AdminDistrict</label></td>
    <td id="locality" style="text-align: center"><label class="labelNormal">@ViewBag.Locality</label></td>
    <td style="text-align: center">@Confluence.ButtonTrash(null, name: "deleteSubnationalItems")</td>
</tr>

