

<h2>CPD ASPOSE Proof of concept</h2>

@Confluence.ButtonWord(action: "butonActive")
<br />
@Confluence.ButtonWord(action: "butonActiveCPD")

<script type="text/javascript">
        function butonActive() {
            window.open("@Url.Action("ExportDocCPD", "DocumentCPD", new { area = "CPD" })", "_blank")
        }
    function butonActiveCPD() {
        window.open("@Url.Action("ExportDocCPD", "DocumentCPD", new { area = "CPD" })", "_blank")
    }
</script>