@using System.Globalization

@using IDB.MW.Infrastructure.Configuration
@using IDB.MVCControls.DataTable.Helpers
@using IDB.MVCControls.DataTable.Models
@using IDB.MVCControls.General.Helpers
@using IDB.MW.Application.SGPModule.ViewModels

@model ProcurementLevelViewModel


@{
    var appSettings = ConfigurationServiceFactory.Current.GetApplicationSettings();
    var formatDate = appSettings.FormatDate;
    
    var config = Html.RenderDataTable(Model.BasicData)
        .Name("BasiData")
        .AddPrimaryKeyToName(false)
        .PrimaryKey(x => x.TaskBucketId.ToString(CultureInfo.InvariantCulture))
        .UseDataTableNet(true)
        .UsePageMode(false)
        .Columns(columns =>
        {
          columns.Template(c => Confluence.LabelLink(c.ApprovalNumber, "AgencyLink"))
                .Orderable(false)
                .CssClass("colApprovalNumber")
                .CssHeaderClass("colApprovalNumber")
                .Header(Localization.GetText("COMMON.ApprovalNumber"))
                .Hidden(false);
          columns.Bound(c => c.ExecutingAgency)
                .Orderable(false)
                .CssClass("")
                .CssHeaderClass("")
                .Header(Localization.GetText("SGP.Label.ExecutingAgency"))
                .Hidden(false);            
          columns.Bound(c => c.StatusName)
                .Orderable(false)
                .CssClass("colStatus textalign-center")
                .CssHeaderClass("colStatus")
                .Header(Localization.GetText("COMMON.Status"))
                .Hidden(false);           
          columns.Bound(c => FormatHelper.Format(c.LastNonObjectionDate, formatDate))
                .Orderable(false)
                .CssClass("colLastNonObjDate textalign-center")
                .CssHeaderClass("colLastNonObjDate")
                .Header(Localization.GetText("SGP.Label.LastNonObjectionDate"))
                .Hidden(false); 
          columns.Bound(c => c.LastNonObjectionUser)
                .Orderable(false)
                .CssClass("colLastNonObjBy")
                .CssHeaderClass("colLastNonObjBy")
                .Header(Localization.GetText("SGP.Label.LastNonObjectionBy"))
                .Hidden(false);                         
        })
;

    config.TableClass = "tableNormal";               
        
}

<table class="table-transparent">
    <tr>
        <td class="table-transparent-text">
            <div class="mb10 aligment">
                @Confluence.LabelMainSubTitle(Localization.GetText("SGP.Label.BasicData"))
            </div>
        </td>
    </tr>
</table>

<div class="row">
    <div class="col-xs-12">
        @Html.Partial("Controls/DataTable", config)
    </div>
</div>
