
<div data-id="headerButtons" class="float-right">
	<div data-type="contentButtons" data-id="button-edit">
        @Confluence.ButtonBlue(Localization.GetText("Common.Edit"), name: "EditPlan")
    </div>
</div>



