
<div class="leyend">
    <div class="">
        @Confluence.LabelBold(Localization.GetText("SGP.Label.Legend"))
    </div>
    <div class="leyend-box">
        @Confluence.Label(Localization.GetText("SGP.Label.NonObjectionComplete"))
    </div>
    <div class="leyend-box row-yellow">
        @Confluence.Label(Localization.GetText("SGP.Label.DraftPendingChanged"), htmlClass: "color-link")
    </div>
    <div class="leyend-box">
        @Confluence.Label(Localization.GetText("SGP.Label.ProcessClosed"), htmlClass: "row-grey")
    </div>
    <div class="clearfix"></div>
</div>