

<script>
    $(document).ready(function () {
        $("#CancelWarningDialog").click(function () {
            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $(".ui-widget-overlay").remove();
            $(".k-window").remove();
        });
    });    
</script>
<div style="padding: 20px;">
    @ViewBag.Message
</div>
<div class="pie pieReassign">
    <div class="botones">
        <a title="@Localization.GetText("Cancel")" class="cancel" id="CancelWarningDialog" href="javascript:void(0)">@Localization.GetText("Cancel")</a>
    </div>
</div>

