<p>@Confluence.InputTextArea("", "biggerText", ViewBag.inputID, null, false, false, null, false, null, null, "855px", "600px")</p>
@Confluence.ButtonBlue("Update Content", "closeBiggerText", "closeTextModal")
