@using IDB.MW.Application.SGPModule.ViewModels.ProcurementDetail
@using IDB.MW.Domain.StoredProcedures.Outputs.SGP

@model ProcurementDetailViewModel

@{
    var statusInfo = Model.ViewContainer.GetValue<GetProcurementStatusInfoOutput>("StatusInfo");
    if (statusInfo == null)
    {
        statusInfo = new GetProcurementStatusInfoOutput();
    }
    
    var showCancelButton = Model.Header.ShowCancelButton;
    var showCancelSubject = Model.Header.ShowDeclareInegibilitySubCancelButton;
    var showCancelNotSubject = Model.Header.ShowDeclareInegibilityNotSubCancelButton;
    var canCancelProcess = Model.ViewContainer.GetValue<bool>("canCancelProcess");
    var canDeclareInegibilty = Model.ViewContainer.GetValue<bool>("canDeclareInegibilty"); 
}

<div data-id="headerButtons" class="float-right">
    <div data-type="contentButtons">
        @if ((showCancelSubject || showCancelNotSubject) && canDeclareInegibilty)
        {
            @Confluence.ButtonBlue(Localization.GetText("SGP.Label.DeclareIngeibility"), name: "Ineligibility", disabled: !statusInfo.CAN_INELIGIBILITY || !showCancelButton)
        }
         
        @if (showCancelButton && canCancelProcess)
        { 
         @Confluence.ButtonBlue(Localization.GetText("SGP.Button.CancelProcess"), name: "CancelProcess", disabled: !statusInfo.CAN_CANCEL || (!showCancelSubject || !showCancelNotSubject))
        }
    </div>
</div>
