        #main-task-grid {
        }

        .k-header {
            color: #ffffff;
        }

        .k-grid-header {
            background-color: #264a7f;
            display: block;
            font-size: 0.75em;
            color: #FFFFFF;
            font-family: "OpenSans-Bold";
            padding: 1em 0 1em 0.8em;
        }

        .k-grid-header-wrap table colgroup col {
            width: 16%;
        }

        .k-grid-content table colgroup col {
            width: 16%;
        }

        .grid2 thead tr th {
            color: white;
        }

        /* Styles for validation helpers */
        .field-validation-error {
            color: #ff0000;
            font-size: 13px;
        }

        .field-validation-valid {
            display: none;
        }

        .input-validation-error {
            border: 1px solid #ff0000 !important;
            background-color: white !important;
        }

        .validation-summary-errors {
            font-weight: bold;
            color: #ff0000;
        }

        .validation-summary-valid {
            display: none;
        }

        .statementErrorLocation {
            padding-top: 30px;
        }

        div.vex.vex-theme-default div.vex-close {
            right: 20px !important;
            top: 20px !important;
            border: 0 !important;
        }

        div.vex.vex-theme-default div.vex-close:before {
            background: none !important;
        }