        #main-task-grid {
        }

        .k-header {
            color: #ffffff;
        }

        .k-grid-header {
            background-color: #264a7f;
            display: block;
            font-size: 0.75em;
            color: #FFFFFF;
            font-family: "OpenSans-Bold";
            padding: 1em 0 1em 0.8em;
        }

        .k-grid-header-wrap table colgroup col {
            width: 16%;
        }

        .k-grid-content table colgroup col {
            width: 16%;
        }

        .grid2 thead tr th {
            color: white;
        }