.box-list li { float: left; width: 20%; position: relative; cursor: pointer; background-color: #F6F6F6; border: 1px solid #EEE; margin: 15px 1%; padding: 15px 1%; height: 120px;border-radius: 5px; }
.box-list h2 { font-weight:bold; padding-bottom:4px }
.box-list .bottom { position:absolute; bottom:10px; font-size:90%}

#ui_gl_009{}
#ui_gl_009 .kendoDatePicker,
#ui_gl_009 .kendoDropDown{
    width: 100%;
}
#ui_gl_009 input[type="text"]{
    width: 94.5%;
}
.k-state-default {
    font-size: medium !important;
}
.convergence-kendo-ddl {
    font-size: small !important;
}

ul.optionList .k-dropdown-wrap .k-input {
    font-size: 14px !important;
}