.hideItem
{
    display:none;
}

.showItem
{
    display:compact;
}

.DescriptionBox
{
padding:20px;
}


.buttonCustom 
{
    width:150px;
    font-size:14px;
}

.containerButtons 
{
    width: 940px;
}


.boxradio {
display: inline; 
background-color: #FDFDFD; 
padding: 3px;
margin-right: 5px; 
border: solid 1px #ccc; 
border-radius: 5px;
}

.disabledbutton 
{
   background: #8D8D8D;
}
.disabledbutton:hover 
{
    background: #8D8D8D; 
}

.PaddingRadio 
{
padding-left:5px;
padding-right:5px;
}