/**
 * ui_pmi_001_table Id's
 * Wed, 04 december 2013
 * eSmart Group
 */

#ui_pmi_001_table{}

#ui_pmi_001_table .grid thead th:last-child{
    border-right: 2px solid #000000;
}

#ui_pmi_001_table .grid thead tr:first-child th:last-child{
    border-right: none;
}

#ui_pmi_001_table .grid tbody tr td:first-child, #ui_pmi_001_table .grid thead tr:first-child th:first-child{
    text-align: left;
    padding-left: 2%;
    width: 45%;
}