@using IDB.MW.Application.MrBlueModule.ViewModels.DynamicQuestionnaire

@model AnswerViewModel
@{
    var selectedValues = Model.Question.Value;
    var selectedValuesInt = new List<int>();
    if (!string.IsNullOrWhiteSpace(selectedValues))
    {
        selectedValuesInt = selectedValues.Split(',').Select(x => int.Parse(x)).ToList();
    }
}
<div class="esgAnswerContainer" data-answerid="@Model.AnswerId">
    @Confluence.InputCheckbox(name : Model.Question.QuestionCode, isChecked : selectedValuesInt.Contains(Model.AnswerId), dataAttributes : new Dictionary<string, string> { { "persist-answerId", Model.AnswerId.ToString() }, { "persist-questionId", Model.QuestionId.ToString() }, { "persist-questionGroupId", Model.Question.QuestionGroupId.ToString() } }.Concat(Model.Question.ValidationAttributes).ToDictionary(k => k.Key, v => v.Value), label : Model.Text, id : Model.Question.QuestionCode)
</div>
