@using IDB.MW.Application.MrBlueModule.ViewModels.DynamicQuestionnaire

@model AnswerViewModel

@{
    DateTime defaultValue;
    var result = DateTime.TryParse(Model.Question.Value, out defaultValue);
}


<div class="esgAnswerContainer" data-answerId="@Model.AnswerId">
    @Confluence.InputDatePicker(result ? (DateTime?) defaultValue : null, Model.Question.QuestionCode, id : Model.Question.QuestionCode, dataAttributes : new Dictionary<string, string> { { "persist-answerId", Model.AnswerId.ToString() }, { "persist-questionId", Model.QuestionId.ToString() }, { "persist-questionGroupId", Model.Question.QuestionGroupId.ToString() } }.Concat(Model.Question.ValidationAttributes).ToDictionary(k => k.Key, v => v.Value), required : Model.Question.IsMandatory)
</div>