@using IDB.MW.Application.MrBlueModule.ViewModels.DynamicQuestionnaire

@model AnswerViewModel

@{
    int defaultValue;
    var result = int.TryParse(Model.Question.Value, out defaultValue);
}

<div class="esgAnswerContainer" data-answerId="@Model.AnswerId">
    @Confluence.InputNumber(result ? (int?) defaultValue : null, Model.Question.QuestionCode, dataAttributes : new Dictionary<string, string> { { "persist-answerId", Model.AnswerId.ToString() }, { "persist-questionId", Model.QuestionId.ToString() }, { "persist-questionGroupId", Model.Question.QuestionGroupId.ToString() } }.Concat(Model.Question.ValidationAttributes).ToDictionary(k => k.Key, v => v.Value), required : Model.Question.IsMandatory)
</div>