@model IDB.MW.Business.VMRModule.DTOs.AdditionalFieldsModels.ChangeDurationModel

@if (Model != null && Model.Check != null && Model.Check.IsVisible)
{
    <div class="mt15" data-action-parent="@Model.OptionParent">
        @Confluence.InputCheckbox(
            Model.Check.BoolValue,
            Model.Check.FieldName,
            label: Model.Check.Label,
            disabled: Model.Check.IsReadOnly)
        
        @if (Model.Comment != null)
        {
            <div class="row ml65 mt10 hide" data-parent="@Model.Check.FieldName">
                @Confluence.LabelsGroup(Model.Comment.Label,
                    Confluence.InputTextArea(
                        Model.Comment.TextValue,
                        Model.Comment.FieldName,
                        width: "90%",
                        height: "60px",
                        maxLength: Model.Comment.MaxLength != 0 ?
                            Model.Comment.MaxLength : (int?) null,
                        required: Model.Comment.IsRequired,
                        disabled: Model.Comment.IsReadOnly)
                    , false)
            </div>
        }
    </div>
}