@model IDB.MW.Business.VMRModule.DTOs.AdditionalFieldsModels.CommentModel

@if (Model != null && Model.Comment != null)
{
    <div class="mt15">
        @if (Model.Comment != null && Model.Comment.IsVisible)
        {
            @Confluence.LabelsGroup(Model.Comment.Label,
                Confluence.InputTextArea(
                    Model.Comment.TextValue,
                    Model.Comment.FieldName,
                    width: "100%",
                    height: "60px",
                    maxLength: Model.Comment.MaxLength != 0 ?
                            Model.Comment.MaxLength : (int?)null,
                    required: Model.Comment.IsRequired,
                    isReadOnly: Model.Comment.IsReadOnly)
                , false)
        }
    </div>
}