@model IDB.MW.Business.VMRModule.DTOs.AdditionalFieldsModels.EligibilityGrantedModel

@if (Model != null && Model.EligibilityGranted != null)
{
    <div >
        @Confluence.LabelsGroup(
            Localization.GetText("VMR.MM.MeetingRoom.EligibilityGranted"), Model.EligibilityGranted.IsReadOnly
                ? Confluence.LabelGetBool(Model.EligibilityGranted.BoolValue)
                : Confluence.InputCheckbox(Model.EligibilityGranted.BoolValue,
                    Model.EligibilityGranted.FieldName,
                    label: Model.EligibilityGranted.Label),
            false)
    </div>

}