@model IDB.MW.Business.VMRModule.DTOs.AdditionalFieldsModels.PoaRequiredModel

@if (Model != null && Model.PoaRequired != null)
{
    <div>
        @Confluence.LabelsGroup(
            Localization.GetText("VMR.MM.MeetingRoom.PoaRequired"), Model.PoaRequired.IsReadOnly
                ? Confluence.LabelGetBool(Model.PoaRequired.BoolValue)
                : Confluence.InputCheckbox(Model.PoaRequired.BoolValue,
                    Model.PoaRequired.FieldName,
                    label: Model.PoaRequired.Label),
            false)
    </div>
}