.mod_tabla_impacts .selects {
    width: 5.5em;
}

.mod_tabla_impacts .year {
    width: 5.5em;
    text-align: center;
}

.minimizeTable .plegableSeparator .hide {
    text-indent: -100000px;
}

.tableOperator .hide {
    z-index: 1;
}

.deleteYear {
    cursor: pointer;
    border: 2px solid #a1a1a1;
    font-weight: bold;
    margin-left: 4px;
    margin-top: 6px;
    border-radius: 0.4em;
    width: 1.2em;
    height: 1.6em;
}

.selectCustom {
    width: 5.5em;
}

.selectCustomDissag {
    width: 20em;
}

.cellpaddingDissag {
    border-collapse: separate;
    border-spacing: 0.5em;
}

.disaggregationButton {
    width: 29em;
}

.dato05.thEOPImpacts {
    width: 5.5em;
    text-align: center;
    vertical-align: middle;
}

.dato06.thBaselineImpacts {
    width: 7em;
    text-align: center;
}

.actionbar .static {
}

.actionBarDisagg {
    position: absolute !important;
    display: none;
    background-color: #FFF;
    z-index: 5;
    left: 3%;
    width: 93.6%;
    padding: 0.5em 1.7%;
    box-shadow: 0px 3px 7px #999999;
    margin-top: 4px;
}

.ici.disabled {
    background-color: grey !important;
    color: black !important;
}

.auto {
    font-size: xx-small;
}

.page-number {
    border: 1px solid #F7F7F7;
    color: #FFFFFF;
    display: block;
    float: left;
    margin-right: 3px;
    padding: 1px 5px 1px;
    text-decoration: none;
    font-size: 1em;
    background-color: #3275C7;
    cursor: pointer;
}

.pagingFooter {
    background-color: #F5F5F5;
    float: right;
}

.pagingFooterRight {
    float: right;
    width: auto;
    margin-right: 10px;
}

.pagingFooterLeft {
    float: left;
    width: 50%;
    color: #6E6E6E;
}

.availableChampions {
    padding: 4px;
    padding-left: 8px;
    color: #1691D3;
}

.currentPage {
    color: #3275C7;
    background-color: #FFFFFF;
    cursor: default;
}

.divtblFooter {
    min-height: 20px;
    padding: 10px;
}

#impactsContainer ul.optionList .k-input {
    padding: 0 0.5em 0 0;
    margin-left: -4px;
}

#impactsContainer ul.optionList .k-icon {
    margin-top: 13px;
}

#impactsContainer ul.optionList .small {
    font-size: 13px;
}

.k-list-container.k-popup.k-group.k-reset {
    width: 100px !important;
}

.spaceTableImpact{
    height:18px;
}