.content-item {
    margin-left: 60px;
}

.documentSupportDownloadIcon {
    background: #ffffff url("../../../Images/icons/downloadSupportDocumentIcon.png") no-repeat center center;
}

.operationButton {
    width: 30px;
    height: 25px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #cbdcf2;
}

.plus {
    margin-top: 10px;
    color: #264A7F;
}

textarea {
    resize: none !important;
}

.ui-helper-hidden-accessible div {
    display: none !important;
}
