.vo-dropdown-container {
    display: inline-block;
    vertical-align: middle;
}

.vo-dropdown-wrap .vo-input {
    border: solid;
    color: #656668;
    font-size: 14px;
    height: 1.65em;
    line-height: 1.65em;
    margin: 7px;
    padding: .177em 0;
    text-indent: 4px;
    height: 51px;
}

.vo-dropdown-container .vo-input {
    border-width: 3px;
    display: block;
    font-family: inherit;
    outline: 0;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAHlBMVEUAAAAJd84Jd84Jd84Jd84Jd84Jd84Jd84Jd84Jd85qQ66KAAAACXRSTlMAzyDvUI+AvxDqu47EAAAAS0lEQVR4Xo3GMQ5AQBgF4SFklVqdZG+g02l1rqHbI7iCEMm7rby/VviaGf6oFHrq2b1GWD030Ho2gEE6sSxNWCMthP0hkAqB7uDLC/ieE8tmCigzAAAAAElFTkSuQmCC') transparent no-repeat right;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 204px;
    text-indent: 24.01px;
    font-weight: bolder;
}

.vo-dropdown-wrap {
    background: #ffffff;
    background-position: 0 center;
    background-repeat: repeat;
    border: 1px solid #ccc;
    border-style: solid;
    border-width: 1px;
    display: block;
    padding: 0 0.5em 0 0;
}

.images {
    overflow-x: hidden;
    background: #F2F2F2;
    padding: 10px 5px;
    border: solid 1px #CCC;
    float: left;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}

    .images .images-container {
        white-space: nowrap;
        position: relative;
    }

    .images img {
        border: solid 1px #000;
        height: 95px;
    }

    .images a {
        position: relative;
    }

.paginator {
    clear: both;
    padding: 10 0 0 20px;
    margin-top: 10px;
    position: relative;
}

    .paginator input {
        height: 114px;
        width: 56px;
        opacity: 0.2;
        position: relative;
        z-index: 10;
    }

        .paginator input:hover {
            opacity: 1;
        }

        .paginator input.right-paginate {
            position: relative;
        }

.carrousel {
    margin: 0 20px;
}

    .carrousel .images {
        position: relative;
        z-index: 5;
    }

    .carrousel.hide {
        visibility: hidden;
    }

.img-block {
    display: inline-block;
}

.k-widget.k-window {
    z-index: 20;
    background: #FFF !important;
    border-radius: 12px;
}


.k-overlay {
    z-index: 10;
    opacity: 0.7 !important;
}

.k-window-titlebar.k-header.warning {
    background: #e19c23 !important;
}

.img-modal{
    max-width:400px;
}

.title-maps {
    font-weight: bolder;
}

.square-MandatoryInformation {
    max-width:65%;
    text-align: left; 
    background: #f6f7f8; 
    border-style: solid;
    border-color: red; 
    border-width: 2px; 
    padding: 5px 5px 5px 10px
}

.insideSquare-MandatoryInformation {
    margin-top:5px; 
    font-weight: bold; 
    font-size: 65%
}
