<script id="predefinedIndicator-template" type="text/x-handlebars-template">
    {{#each this}}
    <tr>
        <td>
            <input type="radio" name='_predefinedToLink' value="{{this.PredefinedIndicatorId}}" data-bind='' />
        </td>
        <td>{{IndicatorNumber}}
        </td>
        <td>{{NameEn}}
        </td>
        <td>{{UnitOfMeasureEn}}
        </td>
        <td>
            <a href='javascript:void(0)' onclick="showDetail({{this.PredefinedIndicatorId}})">@Localization.GetText("Detail")</a>
        </td>
    </tr>
    {{/each}}
</script>

<script id="indicatorDetail-template" type="text/x-handlebars-template">

    <div id="predefIndicatorContainer" style="padding-left: 0.7em; padding-right: 0.7em;">
        <div class="verticalMargin20 horizontalPadding20">
            <div class=" relative h50px w100">
                <div class="absolute w48">
                    <div class="relative w100">
                        <div class="absolute w30">
                            <div class="disabledColor font075em">Type of indicator</div>
                            <div class="boldFont font08em">{{#cutString  TypeText 37 }}{{/cutString}}</div>
                        </div>
                        <div class="absolute w30 left34">
                            <div class="disabledColor font075em">Priority area</div>
                            <div class="boldFont font08em">{{#cutString  PriorityAreaText 37 }}{{/cutString}}</div>
                        </div>
                        <div class="absolute w30 absRight">
                            <div class="disabledColor font075em">Indicator number</div>
                            <div class="boldFont font08em">{{#cutString  IndicatorNumber 37 }}{{/cutString}}</div>
                        </div>
                    </div>
                </div>
                <div class="absolute w48 absRight">
                    <div class="relative w100">
                        <div class="absolute w30">
                            <div class="disabledColor font075em">Unit of measure</div>
                            <div class="boldFont font08em">{{#cutString  UnitOfMeasureEn 37 }}{{/cutString}}</div>
                        </div>
                        <div class="absolute w30 left34">
                            <div class="disabledColor font075em">Indicator name</div>
                            <div class="boldFont font08em">{{#cutString  NameEn 37 }}{{/cutString}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <!-- Grid start -->
        <div class="verticalMargin20">
            <table id="tableUIRM024" class="grid w100">
                <tbody class="grayColor alignLeft">
                    <tr>
                        <td class="noPadding">
                            <table class="w100">
                                <tr style="background-color: #f6f6f6">
                                    <td>Technical Fields</td>
                                    <td class="w10">
                                        <input type="button" class="noBorder operationButton arrow cursorPointer" onclick="showHideTechnicalFields(this);" /></td>
                                </tr>
                                <tr class="backgroundFFFFFF predefToogleTechnicalContent" data-visible="false" style="display: none">
                                    <td colspan="2" class="verticalPadding20 horizontalPadding20">
                                        {{#compare TechnicalFields.length 0 operator="<="}}
                                            <div class="verticalPadding20 relative h50px w100">
                                                <div class="absolute w60">
                                                    <div class="relative w100">
                                                        <div class="absolute w32-5">
                                                            <div class="disabledColor ">MDG goal or target (Y/N)</div>
                                                            <div class="boldFont blackColor"></div>
                                                        </div>
                                                        <div class="absolute w32-5 left34">
                                                            <div class="disabledColor ">Level of disaggregation</div>
                                                            <div class="boldFont blackColor"></div>
                                                        </div>
                                                        <div class="absolute w32-5 absRight">
                                                            <div class="disabledColor ">Outputs related to this outcome</div>
                                                            <div class="boldFont blackColor"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="verticalPadding20 relative h100px w100">
                                                <div class="absolute w45">
                                                    <div class="disabledColor ">Assumptions</div>
                                                    <div class="boldFont blackColor"></div>
                                                </div>
                                                <div class="absolute w45 absRight">
                                                    <div class="disabledColor ">Rationale</div>
                                                    <div class="boldFont blackColor"></div>
                                                </div>
                                            </div>
                                        {{/compare}}

                                        {{#compare TechnicalFields.length 0 operator=">"}}
                                        <div class="verticalPadding20 relative h50px w100">
                                            {{#each TechnicalFields}}
                                                <div class="absolute w60">
                                                    <div class="relative w100">

                                                        <div class="absolute w32-5">
                                                            <div class="disabledColor ">MDG goal or target (Y/N)</div>
                                                            <div class="boldFont blackColor">{{#compare Code "MDF" operator="=="}}{{#cutString  Value 37 }}{{/cutString}}{{/compare}}</div>
                                                        </div>

                                                        <div class="absolute w32-5 left34">
                                                            <div class="disabledColor ">Level of disaggregation</div>
                                                            <div class="boldFont blackColor">{{#compare Code "DISSAG" operator="=="}} {{#cutString  Value 37 }}{{/cutString}} {{/compare}}</div>
                                                        </div>


                                                        <div class="absolute w32-5 absRight">
                                                            <div class="disabledColor ">Outputs related to this outcome</div>
                                                            <div class="boldFont blackColor">{{#compare Code "RELAT-OUTP" operator="=="}} {{#cutString  Value 37 }}{{/cutString}} {{/compare}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {{/each}}
                                        </div>
                                        <div class="verticalPadding20 relative h100px w100">
                                            {{#each TechnicalFields}}
                                                 
                                                    <div class="absolute w45">
                                                        <div class="disabledColor ">Assumptions</div>
                                                        <div class="boldFont blackColor">{{#compare Code "ASSUM" operator="=="}} {{#cutString  Value 37 }}{{/cutString}} {{/compare}}</div>
                                                    </div>
                                            <div class="absolute w45 absRight">
                                                <div class="disabledColor ">Rationale</div>
                                                <div class="boldFont blackColor">{{#compare Code "RATION" operator="=="}} {{#cutString  Value 37 }}{{/cutString}} {{/compare}}</div>
                                            </div>
                                            {{/each}}
                                        </div>
                                        {{/compare}}

                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td class="noPadding">
                            <table class="w100">
                                <tr>
                                    <td>Disaggregation</td>
                                    <td class="w10">
                                        <input type="button" class="noBorder operationButton arrow cursorPointer" onclick="showHideDisaggregations(this);" /></td>
                                </tr>
                                <tr class="backgroundFFFFFF predefToogleDissagContent" data-visible="false" style="display: none">
                                    <td colspan="2" class="verticalPadding20 paddingLeft20 paddingRight0">
                                        <table class="w100">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        @Localization.GetText("Disaggregation")
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each Disaggregations}}
                                            <tr>
                                                <td>{{#cutString  NameEn 120 }}{{/cutString}}</td>
                                            </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="verticalMargin20 rightAlign w100">
            <input type="button" class="button blueButton" onclick="backToSearch();" value="Back">
        </div>
    </div>
</script>
