@using IDB.Presentation.MVC4.Helpers
@model  List<IDB.MW.Domain.Models.Security.FieldAccessModel>

<div data-id="headerButtons" class="floatRight">
    @if (SecurityHelper.IsVisible(Model, "btnEditOutcomeDetails"))
    {
        <div data-pagemode="read">
            @Confluence.ButtonBlue(Localization.GetText("TCM.Edit"), action: "edit", dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "btnEditOutcomeDetails" } })
        </div>
    }
   
    <div data-pagemode="edit">
        @if (SecurityHelper.IsVisible(Model, "btnCancelOutcomeDetails"))
        {
            @Confluence.ButtonLink(Localization.GetText("TCM.Cancel"), null, "cancel", dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "btnCancelOutcomeDetails" } })
        }
        @if (SecurityHelper.IsVisible(Model, "btnSaveOutcomeDetails"))
        {
            @Confluence.ButtonOrange(Localization.GetText("TCM.Save"), null, "save", dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "btnSaveOutcomeDetails" } })
        }
    </div>
</div>
