@model IDB.MW.Application.TCM.ViewModels.ResultsMatrix.Outcomes.OutcomeIndicatorDetailViewModel

@{
    var hasRmWritePermission = IDBContext.Current.HasPermission(Permission.TC_RESULT_MATRIX_WRITE_PERMISSIONS);
    var hasRmAdminPermission = IDBContext.Current.HasPermission(Permission.TC_RESULTS_MATRIX_ADMIN_PERMISSION);
}

<div class="header mb20">
    <div class="row">
        <div class="col-md-12">
            <div class="floatLeft" data-pagemode="read">
                @Confluence.Navigation(Confluence.LabelMainTitle(Localization.GetText("TCM.Outcome.IndicatorDetail")), Url.Action("Index", "Outcomes", new { area = "TCM" }))
            </div>
            <div class="floatLeft" data-pagemode="edit">
                <div class="badge01a">
                    <button data-url="@Url.Action("index", "Outcomes", new { area="TCM" })" onclick="redirect(this)"><span class="left"></span></button>
                    @Confluence.LabelMainTitle(Localization.GetText("TCM.Outcome.IndicatorDetail"))
                </div>
            </div>
            @if (hasRmWritePermission || hasRmAdminPermission)
            {
                @Html.Partial("Partials/DetailButtons", Model.FieldAccessList)
            }
        </div>
    </div>
</div>
