a.button-actions-documents {    
    font-size: 13px;
    line-height: 13px;
    color: #024588;
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid rgb(203, 220, 242);
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    text-decoration: none;
    margin-left: 2px;
    margin-right: 2px;
}
    a.button-actions-documents:hover {
        color: #024588;
        border: 1px solid rgb(203, 220, 242);
        background-color: rgb(239, 244, 251);
        text-decoration: none;
    }

    a.button-actions-documents-disabled {
        background-color: #EEEEEE;
    }
.th-actions {
    width: 170px;
}
.search-results-pd {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
#search-document-form input {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    font-size: 14px;
    height: 35px;
}