@model IDB.MW.Application.OPUSModule.ViewModels.FinancialDataPreparationService.FinancialDataPreparationViewModel

@if (Model != null)
{
    <div style="margin-top: 110px; margin-left: 10px; width: 90%;">
        <div class="jqchart" id="jqChart-@Model.ActivityPlanId" style="height: 350px; width: 240px"></div>
    </div>
}