@using IDB.Presentation.MVC4.Helpers
@model IDB.MW.Domain.Models.Disbursement.IProjectionViewModel
@{
    Layout = null;

    var dropdownYearSelection = Model.ProjectedYearsList != null ?
        Html.BuildSelectItemList(Model.ProjectedYearsList, o => o.ToString(), o => o.ToString()) :
        new List<SelectListItem>();

    var textTitle = Localization.GetText("Disbursement.ReferenceInformation");
}
<div>
    <div class="col-md-12 pl0 mb10">
        @Confluence.LabelSubTitleGroup(textTitle, htmlClass: "floatLeft")
        @Confluence.InputDropDown(DateTime.Now.Year.ToString(), "dropdownYearSelection", dropdownYearSelection, required: false, showEmptyOption: false, placeholder: null,width: "300", htmlClass: "floatLeft pl15", orderAsc: false)
        
    </div>
    <div id="reference-information-table">
        @Html.Partial("~/Areas/Disbursement/Views/Shared/_GridReferenceInformation.cshtml", (IDB.MW.Domain.Models.Disbursement.IProjectionViewModel)Model)
    </div>
   
</div>