<script type="text/javascript">   
    $(document).ready(function () {
        var model = $("#hidGraphModel").attr('data-json');
        GraphMonthlyProyections($.parseJSON(model));
    });

    function GraphMonthlyProyections(model)
    {
        var newModel = {
            OperationNumber: model.OperationNumber,
            ActualAgreed: model.ActualAgreed,
            Group: model.Group,
            CurrentProjectionMonth: model.CurrentProjectionMonth,
            CurrentDisbursementExpirationDate: model.CurrentDisbursementExpirationDate,
            ExchangeRate: model.ExchangeRate,
            ExchangeRates: model.ExchangeRates,
            IsExecution: model.IsExecution,
            LoanNumber: model.LoanNumber,
            LoanNumbers: model.LoanNumbers,
            ProjectedYears: model.ProjectedYears,
            ProjectedMonths: model.ProjectedMonths,
            AllLoansProjectedMonths: model.AllLoansProjectedMonths
        };

        _mvcajax.request({
            url: '@Url.Action("GetGraphMonthlyProyections")',
            type: 'post',
            data: { graphData: newModel },
            waiting_element: jQuery('#monthlyAcumulated_graph_container')
        });
    }

</script>
<div id="monthlyAcumulated_graph_container">
    <div class="verticalMargin20 ui-jqchart" id="monthlyAcumulated_graph" style="width:100%; display: none;">
    </div>
</div>
