<script type="text/javascript">
    $(document).ready(function () {
        var model = $("#hidGraph").attr('data-json');
        ProjectLifeGraph($.parseJSON(model));
    });

    function ProjectLifeGraph(model)
    {
        var newModel = {
            OperationNumber: model.OperationNumber,
            Group: model.Group,
            IsExecution : model.IsExecution,
            CurrentDisbursementExpirationDate : model.CurrentDisbursementExpirationDate,
            ProjectedMonths : model.ProjectedMonths,
            AllLoansProjectedMonths : model.AllLoansProjectedMonths
        };

        _mvcajax.request({
            url: '@Url.Action("GetGraphData")',
            type : 'post',
            data: { graphData: newModel },
            waiting_element: jQuery('#projected_graph_container')
        });
    }

</script>
<div id="projected_graph_container">
    <div class="verticalMargin20 ui-jqchart" id="projected_graph" style="width:100%; display: none;">
    </div>
</div>
