<div class="mt10">
    <span class="classification yellow inline-block ml10 mr10"></span>
    <span class="smallFont">
        @Localization.GetText("Disbursement.Leyend.Project")
    </span>
</div>
<div>
    <span class="classification gray inline-block ml10 mr10"></span>
    <span class="smallFont">
        @Localization.GetText("Disbursement.Leyend.Actual")
    </span>
</div>

