@using IDB.MW.Application.CountryStrategyModule.ViewModels.ResultMatrix

@model  ObjectiveViewModel

@{
    var attributes = new Dictionary<string, string>();
    if (Model.ComponentId == 0)
    {
        attributes.Add("id", "new-");
    }
    else
    {
        attributes.Add("id", Model.ComponentId.ToString());
    }

    if (Model.ObjectiveId == 0)
    {
        attributes.Add("persist-objectiveId", "new-");
    }
    else
    {
        attributes.Add("persist-objectiveId", Model.ObjectiveId.ToString());
    }

}

<div class="boxlanguage">
    <div class="floatLeft">
        <ul>
            <li dd-lang="en" onclick="multiLenguague(this)">
                <span class="langText">
                    <label class="labelNormal langText">EN</label>
                </span>
                <span class="asteriskColor">*</span>
                <span class="glyphicon glyphicon-play"></span>
            </li>
            <li dd-lang="es" onclick="multiLenguague(this)">
                <span class="langText">
                    <label class="labelNormal langText">ES</label>
                </span>
                <span class="asteriskColor">*</span>
                <span class="glyphicon"></span>
            </li>
            <li dd-lang="pt" onclick="multiLenguague(this)">
                <span class="langText">
                    <label class="labelNormal langText">PT</label>
                </span>
                <span class="glyphicon"></span>
            </li>
            <li dd-lang="fr" onclick="multiLenguague(this)">
                <span class="langText">
                    <label class="labelNormal langText">FR</label>
                </span>
                <span class="glyphicon"></span>
            </li>
        </ul>
    </div>
    <div dd-lang="en" class="contentboxlanguage">
        @Confluence.InputTextArea(Model.CountryStrategicObjective, name: "countryStrategicObjective", dataAttributes: attributes, maxLength: 500)
    </div>
    <div dd-lang="es" class="contentboxlanguage hide">
        @Confluence.InputTextArea(Model.CountryStrategicObjectiveES, name: "countryStrategicObjectiveES", dataAttributes: attributes, maxLength: 500)
    </div>
    <div dd-lang="pt" class="contentboxlanguage hide">
        @Confluence.InputTextArea(Model.CountryStrategicObjectivePT, name: "countryStrategicObjectivePT", dataAttributes: attributes,required: false, maxLength: 500)
    </div>
    <div dd-lang="fr" class="contentboxlanguage hide">
        @Confluence.InputTextArea(Model.CountryStrategicObjectiveFR, name: "countryStrategicObjectiveFR", dataAttributes: attributes, required: false, maxLength: 500)
    </div>
</div>