@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.MVCControls.DataTable.Helpers
@using System.Globalization
@using IDB.MW.Infrastructure.Configuration
@using IDB.MVCControls.DataTable.Models
@using IDB.Architecture.Language
@using IDB.MW.Application.MrBlueModule.ViewModels.Star

@model StarDashboardViewModel

<div class="row mb20">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                @Confluence.LabelSubTitleGroup(Localization.GetText("MrBlue.StarDashboard.Draft.Title"))
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 contextualHelp" style="margin-bottom:5px;">
                <p>@MrBlue.LabelHelper(Localization.GetText("MrBlue.StarDashboard.Draft.InstructionClick"))</p>
            </div>
        </div>
        @if(Model.StarHistory != null)
        {
            var configDraft = Html.RenderDataTable(Model.StarDraft);
            configDraft.Name("draftTableStar")
            .PrimaryKey(m => m.RowId.ToString(CultureInfo.InvariantCulture))
            .AddPrimaryKeyToName(false)
            .Columns(columns =>
            {
                columns.Bound(c => c.Reporter)
                .Persistent()
                .Header(Localization.GetText("MrBlue.StarDashboard.Draft.CreatedBy"));

                columns.Bound(c => c.LastUpdate)
                .Persistent()
                .Header(Localization.GetText("MrBlue.StarDashboard.Draft.LastUpdateDate"))
                .ColumnName("Modified");

                columns.Bound(c => c.CreationDate)
                .Persistent()
                .Header(Localization.GetText("MrBlue.StarDashboard.Draft.CreationDate"));

                columns.Template(columnAction)
               .Persistent()
               .Header(Localization.GetText("MrBlue.StarDashboard.Draft.Action"))
               .Center();
             
            });

            configDraft.TableClass = "tableNormal selectedRowTable";

            @Html.Partial("Controls/DataTable", configDraft)
        }
    </div>
</div>
@helper columnAction(StarDraftRowViewModel viewModel)
{
    if(ViewBag.WriteRole)
    {
        @MrBlue.TableButonTrash(Url.Action("StarDeleteReport", "Star", new { area = "MrBlue", versionId = viewModel.RowId }));
    }
}
