@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.MVCControls.DataTable.Helpers
@using System.Globalization
@using IDB.MW.Infrastructure.Configuration
@using IDB.MVCControls.DataTable.Models
@using IDB.Architecture.Language
@using IDB.MW.Application.MrBlueModule.Enums
@using IDB.MW.Application.MrBlueModule.ViewModels.Star
@using IDB.Presentation.MVC4.Areas.MrBlue.Models

@model StarDashboardViewModel

@if(Model != null)
{
    <input type="hidden" id="hidViewModel" value="@ViewBag.SerializedViewModel" />


    if(!string.IsNullOrEmpty(Model.SafeguardPerfomanceText))
    {
        <div class="row mb20">
            <div class="col-md-12">
                 @Confluence.LabelsGroup(Localization.GetText("MrBlue.Star.SafeguardPerfomance"), 
                 contentAlways : Model.SafeguardPerfomanceText)
            </div>
        </div>
    }

    if(Model.StarHistory != null)
    {

    <!--History-->
        <div data-name="starHistory">
            <div class="row mb20">
                <div class="col-md-12">
                    @Html.Partial("Partials/StarDashboardHistoryTable", Model)
                </div>
            </div>
        </div>
    }
    if(Model.StarDraft != null)
    {

    <!--DraftSTARs-->
        <div data-name="starDraft">
            <div class="row mb20">
                <div class="col-md-12">
                    @Html.Partial("Partials/StarDashboardDraftTable", Model)
                </div>
            </div>
        </div>
    }
}
