@using IDB.MW.Infrastructure.SecurityService.Enums
@using IDB.MW.Infrastructure.Configuration
@using IDB.MVCControls.General.Helpers

@model Dictionary<string, ActionEnum[]>

@{
    var devMode = ConfigurationServiceFactory.Current.GetApplicationSettings().IsDevelopmentMode;
}

@if(devMode && ( Model != null ) && ( Model.Count > 0 ))
{
    foreach(var item in Model)
    {
        var arguments = string.Join(",", item.Value.Select(x => ( (int) x ).ToString()));
        <button class="button01" name="name" onclick="@string.Format("SetPermission({0})", arguments)">
            <span class="button-text">@item.Key.HtmlEncode()</span>
        </button>
    }

    <script type="text/javascript">
        function SetPermission() {
            var url = '@Url.Action("SetMockGlobalPermission", new { area = "Indicators" })';
            var response = postUrlWithOptions(url, { dataType: 'json' }, { actions: arguments });
            showMessage(response.responseJSON.ErrorMessage, true);
        }
    </script>
}