@using IDB.MW.Infrastructure.Configuration
@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.MVCControls.DataTable.Helpers
@using IDB.MW.Application.MrBlueModule.ViewModels.SupervisionReport
@using IDB.Architecture.Language
@using System.Globalization
@using IDB.MW.Infrastructure.SecurityService.Enums

@model SupervisionReportDashboardViewModel

<div class="row mb20">
    <div class="col-md-12">
        <div class="row mb20">
            <div class="col-md-12">
                @Confluence.LabelSubTitleGroup(Localization.GetText("MrBlue.SupervisionReport.DraftReports"))
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @{
                    var config = Html.RenderDataTable(Model.SupervisionReportDraft);
                    config.Name("supervisionReportDraft")
                        .PrimaryKey(c => c.RowId.ToString(CultureInfo.InvariantCulture))
                        .AddPrimaryKeyToName(false)
                        .Columns(columns =>
                        {
                            columns.Bound(c => c.Reporter)
                            .Persistent()
                            .Header(Localization.GetText("MrBlue.SupervisionReport.Reporter"))
                            .ColumnName("reporter");

                            columns.Bound(c => String.Format("{0} - {1}",
                                c.SupervisionDateFrom,
                                c.SupervisionDateTo))
                            .Persistent()
                            .Header(Localization.GetText("MrBlue.SupervisionReport.SupervisionDates"))
                            .ColumnName("supervisionDates");

                            columns.Bound(c => c.CreatedOn)
                            .Persistent()
                            .Header(Localization.GetText("MrBlue.SupervisionReport.CreationDate"))
                            .ColumnName("createdOn");

                            columns.Template(ActionDraft)
                            .Persistent()
                            .Header(Localization.GetText("Action"))
                            .ColumnName("action")
                            .Center();
                        });
                    config.TableClass = "tableNormal selectedRowTable";
                }
                @Html.Partial("Controls/DataTable", config)
            </div>
        </div>
    </div>
</div>

@helper ActionDraft(SupervisionReportDraftRowViewModel viewModel)
{   
    if (ViewBag.WriteRole) {
        @MrBlue.TableButonTrash(Url.Action("SupervisionReportDeleteReport", "SupervisionReport", new { area = "MrBlue", versionId = viewModel.RowId }))
    }
}