.buttonExpaned {
    float: left;
    padding-top: 0;
    padding-left: 0;
}

.informationBox {
    min-height: 90px !important;
}

.glyphicon.glyphicon-arrow-right {
    font-size: 19px;  
    float:right;
    cursor: pointer;
}

.glyphicon.glyphicon-arrow-left {
    font-size: 19px;
    float:left;
    cursor: pointer;
}

.borderbottom2solideeedee {
    border-bottom: 2px solid #eeedee;
}

.tabsMenuHeader {
    margin-top: 10px;
}

.tabsMenuHeader ul.tabs {
    display: table;
}

.tabsMenuHeader ul.tabs li{
    display:table-cell;
    vertical-align:bottom;
    float:none;
    padding: 10px 10px !important;
}

.disabled {
    cursor: no-drop !important;
}

.textdecorationunderline {
    text-decoration: underline;
}

.padding1215 {
    padding: 12px 15px;
}
.padding20 {
    padding: 20px;
}

.vex-modalFooter {
    margin-top: 20px;
}

.displayNone {
    display: none;
}

.w100p {
    width: 100%;
}

.questionnairemodulecontainer div.informationBox-container {
    float: left;
    margin-left: 0px;
}

.Pagination {
    min-width: inherit !important;
    width: inherit !important;
    max-width: inherit !important;
}


.documentDownloadSize{
    max-width:45px;    
    display: inline-block;
}