@*@if (ViewBag.HasWritePermission)*@
@using IDB.MW.Application.ESW_CIPModule.ViewModels;
@using IDB.Presentation.MVC4.Helpers;
@model ProposalViewModel

<div class="col-md-12 text-right">

    <span data-pagemode="read">

        @if (Model.HasProposalWritePermission && Model.HasProposalEnabledStatusForWritePermission &&
            SecurityHelper.IsVisible(Model.FieldAccessList, "btnEditProposal"))
        {
            @Confluence.ButtonBlue(text: Localization.GetText("R6.Proposal.AnnualAllocation.Edit"), action: "editProposal", name: "returnSearch01", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnEditProposal" } })
        }
    </span>

    <span data-pagemode="edit">

        @Confluence.ButtonLink(text: Localization.GetText("R6.Proposal.AnnualAllocation.Cancel"), action: "cancelProposal", name: "cancelProposal", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnCancelProposal" } })

        @Confluence.ButtonOrange(text: Localization.GetText("R6.Proposal.AnnualAllocation.Save"), action: "saveOnly", name: "saveProposal", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnSaveProposal" } })

        @if (Model.HasProposalSubmitPermission && Model.HasProposalWritePermission)
        { 
            @Confluence.ButtonOrange(text: Localization.GetText("R6.Proposal.AnnualAllocation.SaveSubmit"), action: "saveAndSubmit", name: "saveAndSubmit", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnSaveAndSubmitProposal" } }, disabled: true)
        }
    </span>

</div>       

   