@using IDB.MW.Application.ESW_CIPModule.ViewModels;

@model ProposalViewModel
<div class="row grouping-section hideContent">
    <div class="col-md-12 ">
        @Html.Partial("Partials/Proposals/PButtons" , Model)
        <div data-pagemode="edit" class="text-right">
            @Confluence.InputCheckbox(Model.IsReadyForSubmission, "ReadyForSubmission", "chkReadyForSubmission", Localization.GetText("R6.Proposal.Proposal.ProposalReadyforSubmission"))
        </div>
    </div>
</div>

