@using IDB.MW.Infrastructure.Configuration
@using IDB.MW.Domain.Values

@model IDB.MW.Application.OPUSModule.ViewModels.OperationDataService.BasicDataViewModel

@{
    var formatDate = ConfigurationServiceFactory.Current.GetApplicationSettings().FormatDate;
}
<div class="row row-header">
    <div class="col-md-12 subtitleGroup">
        @Localization.GetText("OP.OD.TabBasicData.RelatedOperations.Title")
    </div>
</div>

<div class="row row-body-40">
    <div class="col-md-12">
        @foreach (var item in Model.Relationships)
        {
            <table id="relationsTable" class="tableNormal" style="margin-bottom: 18px" name="relationsTable">
                <thead>
                    @Html.Partial("ReadPartial/_TableRelationsHeader", item)
                </thead>
                <tbody>
                    @if (item.HasParent)
                    {
                        @Html.Partial(
                            "ReadPartial/_TableRelationsRowParent",
                            item.RelatedOperations.First(),
                            new ViewDataDictionary { { "OperTypeCode", Model.OperationTypeCode } })
                    }
                    <tr>
                        @if (item.HasParent)
                        {
                            <td class="tree"><span></span></td>
                        }
                        <td colspan="9" class="subnivel">
                            <div>
                                @Html.Partial("ReadPartial/_TableRelationsNotParent", item)
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        }
    </div>
</div>