@using IDB.MW.Infrastructure.Configuration
@using IDB.MW.Application.CPDModule.ViewModels.ProductProfile
@using IDB.MW.Infrastructure.Configuration
@using IDB.Presentation.MVC4.Helpers

@model ProductDataViewModel

@{
    var configurationServiceFactory = ConfigurationServiceFactory.Current.GetApplicationSettings();
    var isPermissionsActive = configurationServiceFactory.ActiveCPDPermissions;
}

    <div data-id="headerButtons" class="float-right">
        @if (SecurityHelper.IsVisible(Model.FieldAccessList, "cpd-basic-data-edit-control") || !isPermissionsActive)
        {
            if (!Model.IsOperationClosed)
            {
                <div data-type="contentButtons" data-id="read-BasicData">
                    @Confluence.ButtonBlue(Localization.GetText("Common.Edit"), name: "edit-BD")
                </div>
            }
            else
            {
                if (!Model.BasicData.POPRAssociatedIsApproved && Model.BasicData.IsCPDRelatedCoordinated)
                {
                    <div data-type="contentButtons" data-id="read-BasicData">
                        @Confluence.ButtonBlue(Localization.GetText("Common.Edit"), name: "edit-BD")
                    </div>
                }
            }

        }
        @if (!Model.IsOperationClosed)
        {
            if (SecurityHelper.IsVisible(Model.FieldAccessList, "cpd-responsibility-data-edit-control") || !isPermissionsActive)
            {
                <div data-type="contentButtons" data-id="read-RespData">
                    @Confluence.ButtonBlue(Localization.GetText("Common.Edit"), name: "edit-RD")
                </div>
            }
        }
    </div>
