@using IDB.MW.Application.CPDModule.ViewModels.ProductProfile

@model  ResponsibilityDataViewModel

<div class="row mb30">
    <div class="col-md-12">
        @Html.Partial("ReadPartial/ResponsibleUnitPartial", Model.ResponsibilityUnits)
    </div>
</div>
<div class="row mb30">
    <div class="col-md-12">
        @Html.Partial("ReadPartial/OperationTeamPartial", Model.OperationTeam)
    </div>
</div>
