/* title principal */
.titlePrincipal {font-size: 32px; margin: 0; font-family: 'OpenSans-Light'; color: #333;}

/* title group */
.titleGroup {font-size: 27px; font-family: 'OpenSans-Regular'; color: #000; margin: 0; line-height: 32px;}

/* title sub group */
.subtitleGroup {font-size: 18px; font-family: 'OpenSans-Bold'; color: #000; margin: 0; line-height: 32px;}
    .subtitleGroup .labelNormal {font-size: 18px; font-family: 'OpenSans-Bold';}

/* label normal and bold */
.labelNormal {font-size: 14px; font-family: 'OpenSans-Light'; color: #333;}
    .labelNormal.bold {font-weight: bold; font-family: 'OpenSans-Bold';}
    
/* label normal and cursive */
.labelNormal.labelCursive {font-family: 'OpenSans-Italic', 'OpenSans-Regular'; font-weight: 400; font-style: italic; font-size: 11px; color: #666666;}
    .labelNormal.labelCursive.bold {font-weight: bold; font-family: 'OpenSans-Bold';}

/* attribute section label*/
.attributesSectionLabel { margin-left: 15px; margin-bottom: 30px; margin-top: 30px; }
    .attributesGroupLabel { margin-bottom: 30px; }
    .attributeRightColumnGray { padding-left: 16px; padding-right: 16px; }
    .attributeRightColumnGray:not(:last-child) { border-right: 1px #bbbbbc solid; }
    .row-eq-height { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
    .LendingParent {font-weight: bold;}
    .LendingChild {padding-left: 20px;}
    .LendingChild .labelNormal {color: #707783 !important;}
    .LendingParent div.LabelsGroup,.LendingChild div.LabelsGroup {min-height: 30px;}

/* labels group */
.LabelsGroup { min-height: 60px;}
    .LabelsGroup label.lgTit { display: block; }
    .LabelsGroup label.lgTit, .LabelsGroup label.lgTit * {font-family: 'OpenSans-Regular'; font-size: 14px; color: #707783 !important; margin-bottom: 5px;}
    .LabelsGroup label.lgTit .asteriskColor {display: initial; color: #ff3333 !important; position: absolute; }
        .LabelsGroup .lgCont, .LabelsGroup .lgCont * {font-family: 'OpenSans-Bold'; font-size: 13px !important; color: #1f251f !important;}
        .LabelsGroup .lgCont .labelNormal {word-wrap: break-word;}
        .LabelsGroup .lgCont .inputSearch.lupa input {height: 35px; padding-top: 6px; padding-bottom: 6px; }
        .LabelsGroup .lgCont .inputSearch.lupa button {top: 2px; height: 35px;}
        .LabelsGroup .lgCont .glyphicon {font-family: 'Glyphicons Halflings' !important;color: #fff !important;}
        .LabelsGroup .lgCont .dropdown.open .valueText {font-family: 'OpenSans-Bold'; font-size: 13px !important; color: #588ed1 !important;}
        .LabelsGroup .lgCont .chosen-container .search-choice span {font-family: 'OpenSans-Bold'; font-size: 13px !important; color: #fff !important;}
        .LabelsGroup .lgCont .datepicker-default:not([disabled]):focus {font-family: 'OpenSans-Bold'; font-size: 13px !important; color: #fff !important;}
        .LabelsGroup .lgCont ul.parsley-errors-list li {font-family: "OpenSans-Regular" !important; font-size: 14px !important; color: #333333 !important;}
    .decimalLiteral .LabelsGroup .lgCont { text-align: right;}

/* Nueva seccion agrupada */
.grouping-section { width: 100%; margin-bottom: 20px; display: inline-block; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex;-webkit-flex-wrap: wrap; flex-wrap: wrap;}
    .grouping-section .col-md-12, .grouping-section .col-md-11, .grouping-section .col-md-10, .grouping-section .col-md-9,
    .grouping-section .col-md-8, .grouping-section .col-md-7, .grouping-section .col-md-6, .grouping-section .col-md-5,
    .grouping-section .col-md-4, .grouping-section .col-md-3, .grouping-section .col-md-2, .grouping-section .col-md-1 { padding: 0;}
    .grouping-section .col-md-12 { margin-bottom: 16px; }
    .grouping-section .pl16 { padding-left: 16px; }
    .grouping-section .lbltitle { color: #000; font-size: 18px; font-family: 'OpenSans-Bold';}
    .grouping-section .lblcontent, .grouping-section .lblcontent * { color: #707783; font-size: 14px; font-family: 'OpenSans-Regular';}
        .grouping-section .lblcontent .asteriskColor {color: #ff3333 !important;}
        .grouping-section .lblcontent.col-md-12 { margin-bottom: 6px; }
    .grouping-section .lblvalue.col-md-12 { padding-left: 0; text-align: left;}
    .grouping-section .lblvalue { padding-left: 16px; text-align: right;}
    .grouping-section .lblvalue, .grouping-section .lblvalue * { color: #000 !important; font-size: 14px !important; font-family: 'OpenSans-Regular'; margin-top: 0;}
        .grouping-section .lblvalue .glyphicon {font-family: 'Glyphicons Halflings' !important;}
        .grouping-section .lblvalue .dropdown.open .valueText {font-family: 'OpenSans-Bold'; font-size: 13px !important; color: #588ed1 !important;}
        .grouping-section .lblvalue .chosen-container .search-choice span {font-family: 'OpenSans-Bold'; font-size: 13px !important; color: #fff !important;}
        .grouping-section .lblvalue .datepicker-default:not([disabled]):focus {font-family: 'OpenSans-Bold'; font-size: 13px !important; color: #fff !important;}
        .grouping-section .lblvalue .dropdown, .grouping-section .lblvalue input, .grouping-section .lblvalue textarea { width: 100%; }
    .grouping-section .lineGrayLeft { border-left-width: 1px; border-left-color: #bbbbbc; border-left-style: solid; padding-left: 16px;}
    .grouping-section .lineGrayRight { border-right-width: 1px; border-right-color: #bbbbbc; border-right-style: solid; padding-right: 16px;}
    .grouping-section .groupColumn {padding-left: 16px; padding-right: 16px;}
    .grouping-section .groupColumn:not(:last-child) {border-right: 1px #bbbbbc solid;}
    .grouping-section .groupColumn.col-md-12 {border-right: 0;}