/* tabs */
.tabs {margin: 0; padding: 0; display: inline-block; margin-bottom: 26px; border-bottom: 1px solid #eeedee; width: 100%;}
    .tabs > li {list-style-type: none; float: left; padding: 13px 32px; font-size: 14px; font-family: 'OpenSans-Regular'; color: #0074dd; border-bottom: 1px solid #eee; cursor: pointer; top: 1px; position: relative;}
    .tabs > li.active {color: #333; border-bottom: 1px solid #0074dd; font-family: 'OpenSans-SemiBold';}
    .tabs > li.active > a {color: #333; font-family: 'OpenSans-SemiBold';}
    .tabs > li:hover {border-bottom: 1px solid #999;}
    .tabs > li.active:hover {color: #323332; border-bottom: 1px solid #0074dd;}
    .tabs > li > a { text-decoration: none; font-size: 14px; font-family: 'OpenSans-Regular'; color: #0074dd;}
 
/* information */
.informationplace {display: inline-block; width: 100%;}
    .informationplace .icoInformation {float: left;}
    .informationplace .information-text {margin-left: 40px; line-height: 30px;}
.information img {margin-left: 18px;}
    .informationBox {border: 1px solid #3b74c3; background-color: #e7eef8; padding: 15px 60px 40px 25px; color: #000; position: absolute; display: none; width: 80%; min-height: 200px; z-index: 1000; left: 10%; overflow-y: auto;}
    .informationBox-background { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: white; opacity: .50; -webkit-opacity: .5; -moz-opacity: .5; filter: alpha(opacity=50); z-index: 1000; }
    .informationBox-close {position: absolute; right: 15px; border-radius: 14px; font-family: 'OpenSans-Semibold'; font-size: 14px; color: #fff; text-align: center; background-color: #3275c7; border: none; display: block; height: 28px; width: 28px;}
    .informationBox-background.active, .informationBox.active { display: block; }
    .informationBox-container, .informationBox-container:hover, .informationBox-container:active {height: 32px; width: 32px; border: none; margin: 0; cursor: pointer; display: inline-block; margin-left: 10px;}
    .icoInformation {background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAM1BMVEUAAAAJd9AJd9AJd9AJd9AJd9AJd9AJd9AJd9AJd9AJd9AJd9AJd9AJd9AJd9AJd9AJd9BLKC4vAAAAEHRSTlMAECAwQFBgcICPn6+/z9/vIxqCigAAAOdJREFUeF69ktGywyAIRKtVJYqy//+1t1owJpOZvt19ynBg14iv/5KLdFSi6J5gqDDVcIeesateHaIM0CiHfLTB5b3RNGDxFsNX/hZAZp7L0dpl+TdrdgLQHBj5m3X42gLgW+3VgaKdFaJFHuNm5NcxRqIZze8MsNUC0aG8q/sBkGLgbC1aZiDZ1cmJ6cTRovmGl8sdr0wC6gNumhnWBe7Yr98VIF+wRjY9xBpnAYT1roa3LaJNjqlR6kA/163c5JtuZAWhp0WzqPXO0fNnwIWjw+hSEuySeH+qZYP08NRdKgyAS1L4W39WWREKYBQcJQAAAABJRU5ErkJggg==') /*./images/informationIcon.png*/ no-repeat;height: 32px; width: 32px;}

/* box filter */
.filterNormal {background-color: #e9e9e9; border: 1px solid  #c6c6c6; padding: 15px; display: inline-block; width: 100%;}
    .filterNormal.blank {background-color: #fff; padding: 15px;}

/* box floatBox */
.floatBox {background-color: transparent; border: 3px solid #e9e9e9; padding: 10px; display: inline-block; width: 100%; border-radius: 5px; margin-bottom: 10px}

/* imagen scale */
.img-flag {display:inline-block; width:30px; height: 32px;}
.img-flag.transition {-webkit-transform: scale(2); -moz-transform: scale(2); -o-transform: scale(2); transform: scale(2); z-index: 999;}

/* document box */
.document-box .documentLabel {width: 100%; word-wrap: break-word; height: 100%;}
.document-box .documentLabel.selected .greenCheck {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAARVBMVEX///8qymsqymsqymsqymsqymsqymsqymv///8qymvY9eTy/PY3zXSi6L9S1IfX9eO979Ff15Bt25l63qPk+OyI4axF0X4IE4j/AAAACHRSTlMAECCAkMDQ8HYZOywAAACESURBVHhebZFZDsMgDESJQ5wZliRd73/UBkKpVfF+LD0xNhhXEa88US+uM69srHNT00LDMlWptFBrln+cHcSIFEIp4ryRB/ZSvO34ALarKztbRGblku9yIuCZrIy4MwM3WpkRX0Bmow3agR6mtiul+AvTO/mO7mHK6JmjhYxXN17y8Ds+o/0Lw7EdgR8AAAAASUVORK5CYII=") no-repeat;
    width: 20px;
    height: 20px;
    top: 5px;
    right: -10px;
    display: inline-block;
    position: absolute;
}

.uploadContainer {
    margin-bottom: 40px;
    padding: 14px 0;
    text-align: left;
    width: 371px;
    margin-left: 258px;
}

.uploadContainerError {
    top: -30px;
    position: relative;
}

div.overflowContainer {
    overflow-y: auto;
    overflow-x: hidden;
    height: 370px;
}

.contentDocuments p { color: #999!important; font-family: 'OpenSans-Italic'; font-size: 14px; margin: 21px 0; text-align: center; font-weight: 400;
    line-height: 1.2;}

/* box users*/
.boxUser {min-width: 150px; max-width: 275px; border: 1px solid #d7e3f4; padding: 12px 10px; border-radius: 5px; color: #333333; font-size: 12px; margin: 5px; float: left; }
    .boxUser.boxUserSimple {border-left: none;border-top: none;border-bottom: none; border-radius: 0;}
    .boxUser.boxUserSimple:last-child { border-right: none;}
        .boxUser .boxUserName { font-family: 'OpenSans-Light'; font-size: 18px; line-height: 1.5em; }
        .boxUser .boxUserUser { font-style: italic; margin-bottom: 15px; }
        .boxUser .boxUserRol { font-family: 'OpenSans-Bold'; margin-bottom: 5px; }
        .boxUser .boxUserOrg { font-family: 'OpenSans'; }

/* Modal bootstrap base for IDB */
.modal.in .modal-dialog {width: auto; max-width: 900px;}
.modal-content { border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; box-shadow: none; background-color: #fff;}
.modal-header { cursor: pointer; padding: 10px 15px; border-top-left-radius: 6px; border-top-right-radius: 6px; border-bottom-left-radius: 0; border-bottom-right-radius: 0;}
    .modal-header h3 { color: #fff; font-family: 'OpenSans-Light'; font-size: 24px; font-weight: 500; }
    .modal-header .close { border: 1px solid; border-radius: 25px; border-color: #666; width: 25px; height: 25px; margin-top: 5px; padding-left: 1px; opacity: initial; }
    .modal-header .close:hover { opacity: 0.5; }
        .modal-header .close i.fa.fa-times {color: #fff; font-size: 18px; top: -1px; position: relative; }
        .modal-header .modal-title i.fa { margin-right: 15px; }
.modal-body { font-size: 18px; color: #333333; line-height: 1.2em; }
.modal-footer { border-top: 1px solid #eeeeee; }
div[data-modal-content] { display: none; }
.modal-backdrop { opacity: 0.00000001 !important; }

/* Theme Modal  */
.modal-dialog.errorModal .modal-header {background-color: #ea4f35;}
    .modal-dialog.errorModal .modal-header .close { border-color: #87200e; }
.modal-dialog.successModal .modal-header {background-color: #24aa59;}
    .modal-dialog.successModal .modal-header .close { border-color: #156435; }
.modal-dialog.warningModal .modal-header {background-color: #e19c23;}
    .modal-dialog.warningModal .modal-header .close { border-color: #ca8400; }
.modal-dialog.infoModal .modal-header {background-color: #22509d;}



/* Modal Bootstrap Documents */

.modal.in .modal-dialog.infoModal .container-fluid { padding-left: 0; padding-right: 0 }


/* Validation */
.validation-element {
        display: block;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #EA4F35;
    padding-top: 10px;
    padding-bottom: 8px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASBAMAAACk4JNkAAAAElBMVEXqTzXqTzXqTzXqTzXqTzXqTzUu3sowAAAABXRSTlMAMGDw80qfdysAAABYSURBVHheRY7RCYAwDAWvTlCpAwjiAAodQHACy9t/FdP8vJ+QXMjLwVGBcsOiC2jaOTUqpeujK2CTRpY1x1joDVSZUBORMBFskh7ceYsvnOJkf7OBrWz6AzTQHRduuF1nAAAAAElFTkSuQmCC') /*./images/validation-error.png*/;
    background-repeat: no-repeat;
    background-size: 12px;
    padding-left: 22px;
    background-position-y: 13px;
    font-family: "OpenSans-Regular";
    font-size: 14px;
    color: #333333;
}

.validation-fail {
    border: solid #ea4f35 1px !important;
}