/* tables */
.tableNormal {width: 100%; border-collapse: collapse;}
    .tableNormal thead tr {height: 40px;}
    .tableNormal thead tr th {border: solid 1px #05162a; font-family: OpenSans-Bold; font-size: 12px; color: #ffffff; vertical-align: middle; background-color: #193a6e; text-align: center; padding-left: 10px; padding-right: 10px; height: 1em; line-height: 1em;border-right-color: white;}
    .tableNormal thead tr th:last-child { border-right-color: black; }
    .tableNormal thead tr th:hover {background-color:#22509d;}
    .tableNormal thead tr th:active {background-color:#193a6e;}
    .tableNormal thead tr th.tree:hover,
    .tableNormal > thead > tr:first-child:hover {background-color:transparent;}

    .tableNormal tbody tr {height: 40px;}
    .tableNormal tbody tr.lineup > td {border-top: 3px solid #0076e1;}
    .tableNormal tbody tr.linedown > td {border-bottom: 3px solid #0076e1;}
    .tableNormal tbody tr[data-id]:hover {background-color: #ddd !important;}
    .tableNormal tbody tr td {height: 40px; font-family: OpenSans-Regular; font-size: 12px; color: #333333; vertical-align: middle; padding: 10px;}
    .tableNormal tbody tr td .labelNormal {font-family: OpenSans-Regular; font-size: 12px;}
    .tableNormal thead tr td {height: 40px; font-family: OpenSans-Regular; font-size: 12px; color: #333333; vertical-align: middle; text-align: left; padding-left: 10px; padding-right: 10px;}
    .tableNormal tbody tr[data-row-parent-id] { display: none;}
    .tableNormal tbody tr[data-row-parent-id].showChildRow { display: table-row !important;}
    .tableNormal tbody tr[data-row-parent-id].showChildRowPermanent { display: table-row !important;}
    .tableNormal tr[data-id]:nth-child(odd) {background-color: #ffffff;}
    .tableNormal tr[data-id]:nth-child(even) {background-color: #f6f7f8;}
    .tableNormal tr[data-id]:last-child td {border-bottom: 2px solid #edeff2; border-right: 2px solid #fff;}
    .tableNormal tr:last-child td.tree {border: none;}
    .tableNormal tbody tr td.subnivel {padding-right: 0; padding-left: 0; background-color: #fff;}

    .tableNormal .tree {background-color: #fff;border: none !important; width: 30px; padding: 0 10px 0 0; vertical-align: top; text-align: left;}
    .tableNormal .tree span {width: 2px; height: 100%; position: relative; left: 10px; background-color: #eee; display: block;}
    .tableNormal .tree.son span {margin-left: -30px;}
    .tableNormal tr:last-child td.tree span {height: 50%;}
    .tableNormal .tree div.number { display: none;}
    .tableNormal .treeNumber { text-align: right;width: 20px;background-color: #fff;font-weight: bold;font-size: 12px;}

    .tableNormal tr:last-child .treeNumber {border-bottom: none !important;}
    .tableNormal tr:last-child .tableNormal td.tree span {height: 100%;}
    .tableNormal tr:last-child .tableNormal tr:last-child td.tree span {height: 50%;}
    .tableNormal tr:last-child .tableNormal tr:last-child td.tree.son span {height: 100%;}
    .tableNormal tr:last-child .tableNormal td.tree span + span.selected {height: 2px;top: -50%;}
    .tableNormal tr .tree span + span.selected {height: 2px; width:75%; top: -50%;}
    .tableNormal tr .tree.son span + span.selected {width: 40px;}
    .tableNormal tr:last-child .tree span + span.selected {top: 0;}
    .tableNormal tr:last-child .tableNormal tr:last-child .tree span + span.selected {top: 0;}
    .tableNormal tr:last-child .tableNormal tr:last-child .tree.son span + span.selected {height: 2px; top: -21px;}
    .tableNormal .tree.icon div {color: #000; text-align: center; margin-bottom: 2px;}
    .tableNormal .tree.icon .treeNum { margin-top: -20px; height: 30%;}
    .tableNormal .tree.icon span.icon {width: 20px; height: 20px; background-color: #eee; color: #123b70; display: inline-block; text-align: center; font-size: 1.5em; line-height: 1em; cursor: pointer; font-family: 'OpenSans-Bold'; left: 0; z-index: 2;}
    .tableNormal .tree.icon span.icon:hover {background-color: #eff4fb; color: #123b70; outline: 1px solid #0076e1 !important;}
    .tableNormal .tree.icon span.icon:active, .tableNormal .tree.icon span.icon:focus {background-color: #123b70; color: #fff; outline: 1px solid #123b70 !important;}
    .tableNormal .tree.icon span.icon + span {display: inline-block; width: 2px; left: 10px;}
    .tableNormal.endSpacing {margin-bottom: 18px}
    .tableNormal tr .tree.son span { height: 100%; top: -50%; left: 10px;}
    .tableNormal tr .tree.son span + span.selected {top: -50%;}
    .tableNormal.lineNonStop .tree.icon span.icon + span { height: calc(100% - 20px);}
    .tableNormal.lineNonStop span.selected { height: 0 !important;width: 0 !important;top: 0 !important;}
    .tableNormal.lineNonStop tr:last-child td.tree span {height: 100%;}
    .tableNormal.lineNonStop tr:last-child .tableNormal tr:last-child td.tree span {height: 100%;}
    .tableNormal.lineNonStop .tree.icon span.icon {margin-top: 50%;}
    .tableNormalBorder td {border-bottom: 2px solid #edeff2;}
    .tableNormal tr.customRowOdd { background-color: #ffffff !important;}
    .tableNormal tr.customRowEven {background-color:#f6f7f8 !important;}
    .tableNormal .noBackground, .tableNormal .noBackground:hover  {border: none; background-color: #fff;}
    .tableNormal.tableSelectable tr[data-id].row-selected {background-color: #cee4f5;}
    .noBorder td {border-bottom: none !important;}
    .tableNormal tr .tree.last span {
            height: 50% !important;
    }

    .tableNormal tr .tree.last span + span.selected {
        top: 0 !important;
        height: 2px !important;
    }

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
       .tableNormal .tree.icon span.icon + span {left: 10px;}
       .subnivel .tableNormal .tree.icon span.icon + span {left: 9px;}
    }

/* skin grey */    
    .tableNormal.skinGray .tree {background-color: #fff;}
    .tableNormal.skinGray thead tr th{background-color: #666;}
    .tableNormal.skinGray thead tr th:hover {background-color:#888;}
    .tableNormal.skinGray thead tr th:active {background-color:#666;}
    .tableNormal.skinGray thead tr th.tree:hover {background-color:transparent;}

/* skin lightBlue */    
    .tableNormal.skinLigthBlue .tree {background-color: #fff;}
    .tableNormal.skinLigthBlue thead tr th{background-color: #22509d;}
    .tableNormal.skinLigthBlue thead tr th:hover {background-color:#3275c7;}
    .tableNormal.skinLigthBlue thead tr th:active {background-color:#22509d;}
    .tableNormal.skinLigthBlue thead tr th.tree:hover {background-color:transparent;}

/* Pagination */
.Pagination {text-align: right;}
    .Pagination div {cursor: pointer; height: 32px; min-width: 32px; font-family: OpenSans-Regular; color: #333333; font-size: 12px; padding: 10px; border-bottom: solid 2px #fbf7f8; display: inline-block; text-align: center; line-height: 0.6em;}
    .Pagination div:hover {background-color: #f6f7f8;}
    .Pagination .Pagination_Active {font-family: OpenSans-Bold; border-bottom: solid 2px #0b78cf;}
    .Pagination .NoActive {cursor: default}
    .Pagination .NoActive:hover {background: none;}

.dataTables_paginate .paginate_button.disabled {cursor: default !important;}
.dataTables_paginate .paginate_button {cursor: pointer !important; height: 32px !important; min-width: 32px !important; font-family: OpenSans-Regular !important; color: #333333 !important; font-size: 12px !important; padding: 10px !important; border-bottom: solid 2px #fbf7f8 !important; display: inline-block !important; text-align: center !important; line-height: 0.6em !important; margin-left: 0 !important; border-left: 0 !important; border-top: 0 !important; border-right: 0 !important;}
.dataTables_paginate .paginate_button.current {font-family: 'OpenSans-Bold' !important; border-bottom: solid 2px #0b78cf !important;}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover { border: none;}

/* Sortable */
.sort {cursor: pointer; word-wrap: break-word; padding-right: 20px !important;}
/*collapse*/    .sort.sortAsc { background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAHlBMVEUAAAAJd84Jd84Jd84Jd84Jd84Jd84Jd84Jd84Jd85qQ66KAAAACXRSTlMAECBQgI+/z+965QBbAAAAQElEQVQIW43GIRZAABAFwPG97Yqu6IIbuMBy/8MIRMGk4cswIah+c+xPxq6NsHIRTmaiFtJih0PSUEtqgqH9cAM8jwQgdaAJVQAAAABJRU5ErkJggg=='); background-repeat:no-repeat; background-position: center right;}
/*expand*/    .sort.sortDes { background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAHlBMVEUAAAAJd84Jd84Jd84Jd84Jd84Jd84Jd84Jd84Jd85qQ66KAAAACXRSTlMAzyDvUI+AvxDqu47EAAAARElEQVQIW2NgIAIwzgQDAQYmSxA9WYGBwRPEmALUywpiBIAMkZw5cyLYMOWZM43ADJaZMx0gxmdOg1rDXgBlcDRgtRgA+J4Ty75I6zsAAAAASUVORK5CYII='); background-repeat:no-repeat; background-position: center right; }
/*Collapsible*/   .sort.sortTing { background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAADSSURBVHjapJIxDoJAEEUfBBuOYGHCESg08QbGytIL2HgBqCio8AI0XsAjeAMTG45AQuERaCDBZkhW2GUh/mSzM39+fnZmx+m6DhV+XKjpWu5PT9RZ+KP3MGMF3CU+AY1O5E4YRMBRTmQSmQwOQKLkiXCzDDZALi2o7eRSsxo8gEDDB1KzDtEDCkNrI70z/MalcPkToyf5cfGe2I+2zsKdbQYtsDUYvOa0cAZKDV9KzWpQAdfB6jbCVXOH+ARSJU+FY84e9LgBeyVmqUEDXJRYi+8AgIAnB5DjxG4AAAAASUVORK5CYII='); background-repeat:no-repeat; background-position: center right; }
    .sort.disableSort {cursor:no-drop; }    
    
/* skin grey */   
.tableNormal.skinGray .sort.sortAsc { background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QkLEzIO33XjqAAAAElJREFUOMtjYBjUQElJ6b+SktJ/fGqYKLWEEZ/tyPx79+4xEm0ALmdjM4SRWM24DKFuGBCyHZsrGEnVjG4IIzmakQ1hYhgFFAMAyQga1zXzID4AAAAASUVORK5CYII=');}
.tableNormal.skinGray .sort.sortDes { background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QkLEzMlatIrqQAAAFJJREFUOMvtk0EKwCAQA2d9Sv7/pnxFT4VqFa14KTT3mQ2BhT8BICnvwLYjHWmw08J2VII3kgt+CFYkdxjg3AYrLdrrQ0FP0oOnkZRnm6Tv/0IBn28a1/Fb6M4AAAAASUVORK5CYII='); }
.tableNormal.skinGray .sort.sortTing { background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QkLEzMRS2bfHAAAAG1JREFUOMtj/P//PwMy4Ko4D2dLrg75z8DAwPA8dA0jTOxbhyGKeiYGHACmGZ2NDnAaQCxgImQ7IVcwooeBsrLyf3w23r17l5H2XiAFYHiB7i5gQRcYeoGIYQByuidGjolYhbgMpl0YINuIz1sAzyIr6XGA6X4AAAAASUVORK5CYII='); }

/* skin grey */   
.tableNormal.skinLigthBlue .sort.sortAsc { background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QkLFBU0xvOe+gAAALtJREFUOMtjYBhowIxPUkyquoib10776+fD53CpYSFgQS8DA8MXBgaGObgUMOGzHcr8LyZVvYkkL4hJVc9gYGCognLZGRgY+Lh57f5//Xz4OLpaRiyaHRgYGPZjMfc5AwND1KtnrQcIeWEZDtdKMjAw1OMNAzGp6mKoQlzAQUyq+gxWL0D9nU5k9B949azVER6IYlLVkxkYGAIZGBh4iTRAgZvX7t/Xz4cPwbyQQ8Dp2EATwyhgYGBgYAAAL50oDg+mpMYAAAAASUVORK5CYII=');}
.tableNormal.skinLigthBlue .sort.sortDes { background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QkLFBcOMsklygAAAJBJREFUOMtjYBgFjAwMDAxiUtX/ydH86lkrIxOU/ZwiF0Bd8YyBgUGSFNsZGBgYmJAEpBgYGA6QohnFBUgu2c/AwOBAjGYUFyCB6XgsL0YXYEYX+Pr58FVuXjsZBgYGIzSp3FfPWifiDEQsXlnDwMAQDOXOfPWsNYPkKBKTqn4GjR2cgIWAGT0MDAzHB3deAACxCiR0gaRLvwAAAABJRU5ErkJggg=='); }
.tableNormal.skinLigthBlue .sort.sortTing { background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QkLFBgf3+EZ9wAAAMhJREFUOMutkbEKwjAYhL+Kk5DZwWew4FOIc3BMVx/ARcRRQXQWXJziaFYHX8LJR3AQugW71kWlliY26E0/x+Vy/39RnucU0Zqc37PQ5gikVsnkxWXL3oe+gQNCmz0wAJTQZuzSOQ2AbmFOggyENjkQF6j4yX03ENqMPGtN6yTYetZahNygFqJyjaH4OUGzTLQ7M2+k23Ue/TVBlcHJoz98NbBK9l2vrZLDWke0SkZAWsEFtbAC7sAF2NVuofDjWmgDkFklNy7dA7qXNBFV+JJkAAAAAElFTkSuQmCC'); }