@{
    Layout = "~/Areas/Global/Views/Shared/_Layout.cshtml";
}

<script type="text/x-kendo-template" id="operation-column">
    <a href="@ViewBag.OpDetailURL#=OperationNumber#" target="_parent">
        #=OperationNumber#
    </a>
    <div>#=OperationName#</div>
</script>

<script type="text/x-kendo-template" id="created-column">
    #=kendo.toString(StartDate,"dd MMM yy")#
</script>

<script type="text/x-kendo-template" id="template">
    <div class="tabstrip">

    </div>
</script>

<script type="text/x-kendo-template" id="templateTask">
    <table style="width:100%">
        <tr>
            <td hidden="hidden">
                <p>#=WorkflowInstanceTaskId#</p>
            </td>
            <td style="width:25%">
                <p>#=TaskNameEn#</p>
            </td>
            <td style="width:13%">
                <p>#=FullName#</p>
            </td>
            <td style="width:13%">
                <p>#=Username#</p>
            </td>
            <td style="width:12%">
                # if(kendo.toString(StartDate,"dd MMM yy") != null){ #
                <p>#=kendo.toString(StartDate,"dd MMM yy")#</p>
                # }
                else{ #
                <p></p>
                # } #
            </td>
            <td style="width:12%">
                # if(kendo.toString(Due,"dd MMM yy") != null){ #
                <p>#=kendo.toString(Due,"dd MMM yy")#</p>
                # }
                else{ #
                <p></p>
                # } #
            </td>
            <td style="width:10%">
                <p>#=Status#</p>
            </td>
            <td style="width:15%">
                # if(ActivateChangeGroup === "" && ChangeGroupAssignPermission === true && MainWorkflowInstanceTask === true){ #
                <button class="buttonChange" title="@Localization.GetText("Global.Workflows.Change.Group.Assign")" onclick="showChangeGroupModal($(this))"><span class="icon"></span></button>
                # } #
            </td>
        </tr>
    </table>
</script>

<script type="text/x-kendo-template" id="templateComment">
    <table style="width:100%">
        <tr>
            <td style="width:15%">
                <p>#=kendo.toString(Modified,"dd MMM yy")#</p>
            </td>
            <td style="width:85%">
                <p>#=ModifiedBy#</p>
            </td>
        </tr>
        <tr>
            <td style="width:100%" colspan="2">
                <textarea rows="4" cols="80" readonly="readonly">#=Text#</textarea>
            </td>
        </tr>
    </table>
</script>

<script type="text/x-kendo-template" id="templateClause">
<table style="width:100%">
    <tr>
        <td style="width:20%">
            <p>#=ClauseNumber#</p>
        </td>
        <td style="width:100%">
            <p>#=ClauseDescription#</p>
        </td>
    </tr>
</table>
</script>

<script type="text/javascript">
    $(document).on("click", '[data-idb-fieldname="ddlSearchRoles"] button', function() {
        $('[data-idb-fieldname="ddlSearchRoles"]').addClass('open');
    });

    function showChangeGroupModal(row) {
        clear();
        var workflowInstanceTaskId = row.closest('tr').find('td:first p').text();
        row.addClass('selected');
        $('input[name="hdWorkflowInstanceTaskId"]').attr("value", workflowInstanceTaskId);
        $('#modalChangeGroup').modal('show');
        allowMultiPopUp();
    }

    function saveChangeGroup() {
        var newRole = $('input[name="searchRoles"]').val();
        var workflowInstanceTaskId = parseInt($('input[name="hdWorkflowInstanceTaskId"]').val());
        postUrlWithOptions(
                '@Url.Action("SaveChangeRoles", "Workflows", new { area = "Global" })',
                { async: true },
                { newRole: newRole, workflowInstanceTaskId: workflowInstanceTaskId })
            .done(function (data) {
                if (data !== false) {
                    $('#modalChangeGroup').modal('toggle');
                    $('.selected').closest('tr').find('td:first').next().find('p').text(newRole);
                    $('.selected').removeClass('selected');
                    clear();
                }
            });
    }

    function clear() {
        $('input[name="searchRoles"]').val('');
        $('input[name="searchRoles_text"]').val('');
    }
</script>