<!-- Sección de botones pre definidos para modo edit y modo read -->
<div class="col-md-12 mb40 mt10">
    <div class="pull-right">
        <div data-pagemode="read">
            @Confluence.ButtonBlue(Localization.GetText("OP.OD.Edit"), action: "edit")
        </div>
        <div data-pagemode="edit" class="hide">
            @Confluence.ButtonOrange(Localization.GetText("OP.OD.Cancel"), action: "cancel")
        </div>
    </div>
</div>

<!-- Sección donde va codigo razor (por ejemplo calculos o declaracion de variables globales de la pagina) -->
@{
    //Layout que carga los archivos necesarios para trabajar con framework.js
    Layout = "~/Areas/Styles/Views/Shared/_Layout_Legacy.cshtml";

}

<!-- Sección donde se pueden hacer funciones para ser utilizado en los helper -->
@functions {

}

<!-- Sección para incluir archivos css o escribir css en duro para hacer pruebas -->
@section CSS{
    <style type="text/css">        
         
    </style>
}

<!-- Sección para incluir archivos js o escribir js en duro para hacer pruebas -->
@section JS{
    <script type="text/javascript">
        /* funciones por defecto del edit y read mode*/
        function edit() {
            enterEditMode(false, $(document), false, false, false);
        }

        function cancel() {
            exitEditMode(false, $(document), false, false, false);
        }

    </script>
}

<!-- Sección para diseñar un helper y hacer pruebas -->
@helper Helper(string text)
{
    <span>algo</span>
}

<!-- Seccion limpia donde incluir todo el html para realizar las pruebas -->