<!-- Sección donde va codigo razor (por ejemplo calculos o declaracion de variables globales de la pagina) -->
@{

}

<!-- Sección donde se pueden hacer funciones para ser utilizado en los helper -->
@functions {

}

<!-- Sección para incluir archivos css o escribir css en duro para hacer pruebas -->
@section CSS{
<style type="text/css">

</style>
}

<!-- Sección para incluir archivos js o escribir js en duro para hacer pruebas -->
@section JS{
<script type="text/javascript">

</script>
}

<!-- Sección para diseñar un helper y hacer pruebas -->
@helper Helper(string text)
{
<span>algo</span>
}

<!-- Seccion limpia donde incluir todo el html para realizar las pruebas -->