.titlePendingChanges {
    padding-bottom: 5px;
    padding-right: 20px;
    padding-top: 20px;
    font-size: smaller;
    font-weight: bold;
}

.loadingImg {
    top: 30%;
    left: 55%;
    margin: auto;
    position: fixed;
}

.loadingDiv {
    top: 34%;
    left: 54.5%;
    margin: auto;
    position: fixed;
}

.mod_tabla_impacts .k-toolbar .k-button- {
    height: 40px;
    width: 15%;
    padding: 1em 1em;
}

.setTitleBlockCRF {
    text-align: center;
    width: 10%;
    display: inline-block;
}

.blockCRF {
    color: #000;
    font-size: 0.9em;
}

.setTDBlockCRF {
    display: inline-block;
    text-align: left !important;
    padding: 0.2em 0 0.5em 0 !important;
    vertical-align: middle;
    width: 88%;
}

.setTDBlockCRF p {
    margin: 0;
    line-height: 1.0;
    margin-bottom: 1em; 
    margin-top: 1em;
}

.iconPopup {
    float: left;
    font-size: 25px;
    padding-right: 15px;
    margin-top: 15px;
}

.contentWarningPopup {
    background-color: #e19c23;
    height: 60px;
    margin-top: 15px;
    border-radius: 10px;
    font-size: 0.7em;
    color: white;
}

.editingBTN {
    float: right;
    padding-bottom: 2em;
    padding-right: 3.5em;
}

.verticalAlignMiddle {
    vertical-align: middle !important;
}

.verticalAlignBottom {
    vertical-align: bottom !important;
}

.editPhysicalBtnShow {
    padding-left: 5px;
    font-size: 0.75em;
}

.ui-button {
    border: 1px solid #EDEFF2 !important;
}

.ui-button:hover {
    border-color: #03386C !important;
}

.displayNone {
    display: none;
}

.displayBlock {
    display: block;
}

.displayTableCaption {
    display: table-caption;
}

.ouputTable {
    line-height: 22px;
    border-style: hidden
}

.toolTipDisaggregation {
    float: none;
    margin-right: 30px;
    font-size: 1.5em;
}

.borderTableDisaggregation {
    border: 1px solid #E0E0E0 !important;
}

.txtAreaDisaggregation {
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #3a72c3;
    min-height: 4.3em;
    font-family: "OpenSans-Bold";
    font-size: 1em;
    padding: 0.417em !important;
    text-align: left;
    resize: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

.txtPredefined {
    color: #333;
    display: block;
    font-style: italic;
    font-family: "OpenSans-Light";
}

.minHeight90px {
    min-height: 90px;
}

.w15p {
    width: 15% !important;
}

.bcGray {
    background-color: gainsboro !important;
}

.inactiveIndicator {
    color: #999 !important;
    background-color: #DBDBDB !important;
}

.inactiveIndicator a {
    color: #999 !important;
}

.styleContentReport {
    text-align: right;
    width: 97%;
}

.styleExportReport {
    color: white;
    border-radius: 4px;

.lh15 {
    line-height: 1.5;
}

#pfield {
    font-size: 12px;
    background-color: rgb(230, 231, 232) !important;
    color: rgb(102, 102, 102); 
    border-color: rgb(230, 231, 232);
}

#pafield {
    font-size: 12px;
    background-color: rgb(255, 255, 255) !important;
    color: rgb(102, 102, 102); 
    border-color: rgb(255, 255, 255);
    width:100%;
    padding-right:0px; 
    padding-left:0px; 
}

#acfield {
    font-size: 12px;
    background-color: rgb(222, 233, 247) !important;
    color: rgb(102, 102, 102); 
    border-color: rgb(222, 233, 247);
}

.flagCrfStyle {
    margin-bottom: 1em;
    margin-top: 1em;
    line-height: 1.0;
}

.styleTable {
    border-collapse: separate;
    border-spacing: 0.4em;
}

ul.optionList .k-dropdown-wrap .k-select {
    line-height: 2.5em !important;
}

ul.optionList.small .k-dropdown-wrap .k-select {
    line-height: 3em !important;
}