/**
 * Grid layout
 */
table{
    border-spacing: 0;
}

table.gridVerifyContent{
    border-spacing: 0;
    font-size: 0.75em;
    /*border-collapse: collapse;*/
    width:99%;
}

/*.grid{
    text-align: center;
}*/

.gridVerifyContent td{
    vertical-align: middle;
    padding: 5px 10px;
}

.gridVerifyContent thead, .statsHeader{
    background: #1F396C;
    color: #ffffff;
    font-family: "OpenSans-Bold";
}



.gridVerifyContent thead tr{
    font-family: "OpenSans-Bold";
    height: 40px;
    line-height: 1.4;
}

.gridVerifyContent thead tr th:hover, .gridVerifyContent thead tr td.gridHeader:hover{
    background-color: #22509d;
    cursor: pointer;
}

.gridVerifyContent thead tr td.gridHeader{
    border-bottom: 2px solid #000000;
    border-right: 2px solid #000000;
    vertical-align: middle;
    font-weight: bold;
    padding: 0 5px;
}

.gridVerifyContent thead tr th .gridSubHeader{

}

.gridVerifyContent thead tr th{
    border-right: 2px solid #000000;
    padding: 5px 10px 5px;
    text-align: left;
    vertical-align: bottom;
}

.statsHeader{
    padding: 10px;
}

.gridVerifyContent thead th.header {
    background: url("../Images/controls/unsortArrow.png") no-repeat right center;
}

.gridVerifyContent thead tr.subHeader th.header:last-child {
    border-right: 2px solid #000000;
}

.gridVerifyContent thead th.headerSortDown {
    background: url("../Images/controls/sortDown.png") no-repeat right center;
}

.gridVerifyContent thead th.headerSortUp {
    background: url("../Images/controls/sortUp.png") no-repeat right center;
}

.gridVerifyContent thead th:last-child{
    border: none;
}

.gridVerifyContent tbody {

}

.gridVerifyContent.noInnerPadding td{
    padding: 0;
}

.gridVerifyContent tbody tr:hover, .gridVerifyContent tbody tr:nth-child(even):hover, .gridVerifyContent tbody tr:nth-child(even):hover{
    background: #EEEFF3;
}

.gridVerifyContent tbody tr:nth-child(even){
    background: #F6F7F9;
}


.gridVerifyContent tbody tr:nth-child(odd) .innerGrid tr:nth-child(even):hover{
    background: #EEEFF3;
}

.gridVerifyContent tbody tr:nth-child(odd) .innerGrid tr:nth-child(even){
    background: #ffffff;
}

.gridVerifyContent tbody tr{
    height: 40px;
}

.gridVerifyContent tbody tr.expanded, .gridVerifyContent tbody tr.expanded a{
    background: #0977D0;
    color: #FFFFFF;
}

.gridVerifyContent textarea{
    width: 98%;
}

.gridVerifyContent.draggable tbody td:first-child{
    background: url("../Images/icons/dragIcon.png") no-repeat 5px center;
    text-align: right;
}

.innerGrid{
    border-spacing:0;
    border-collapse:collapse;
}

.innerGrid tr:last-child{
    display: none;
}

.innerGrid tr.expanded:last-child{
    display: block;
}

.statusContainer 
{
    padding-left: 2em;
    width:auto;
}

.successStatus {
    background-image:url("../../../../Images/Modulos/ResultsMatrix/check.png");
    width:20px;
    height:20px;
}

.warningStatus {
    background-image:url("../../../../Images/Modulos/ResultsMatrix/warning.png");
    width:20px;
    height:20px;
}

.errorStatus {
    background-image:url("../../../../Images/Modulos/ResultsMatrix/critical.png");
    width:20px;
    height:20px;
}

.contentContainer 
{
    padding-top:1.5em;
    padding-left:0.4em;
    padding-bottom:1.5em
}

.acronymContainer {
    font-size:0.75em;
    border-spacing: 0.4em;
}

.acronymTd {
    vertical-align: bottom;
    padding-left: 1.2em;
}

.compilanceTh 
{
    width:3em;
}

.paginationContainer 
{
    width:99%;
    text-align:right;
    cursor:pointer;
    padding-top:0.8em;

}

.paginationContainer a
{
    font-size:0.8em;
    font-weight:bold;
    margin-left:0.5em;
}

.spaceTableImpact{
    height:18px;
}