/**
 * ui_pmi_004 Id's
 * Tue, 05 december 2013
 * eSmart Group
 */

#ui_pmi_004{}

#ui_pmi_004 .grid tbody tr td:first-child{
    width: 10%;
}

#ui_pmi_004 .grid tbody tr td:nth-child(2){
    width: 15%;
}

#ui_pmi_004 .grid tbody tr td:nth-child(3){
    color: #000000;
    font-weight: bold;
}

#ui_pmi_004 .grid tbody tr td:nth-child(4){
    text-align: left;
    padding-left: 2%;
    width: 48%;
}