@using IDB.Presentation.MVC4.Helpers
@{
    var data = new List<System.Web.Mvc.SelectListItem>();

    for (var i = 0; i < 100; i++)
    {
        data.Add(new System.Web.Mvc.SelectListItem()
        {
            Text = "texto " + i,
            Value = i.ToString()
        });
    }
}

<div>
    
        Choose Predefined Indicator:
        @Confluence.InputDropDown(null, "dropdown", data, required: false, placeholder: "")

</div>
