<div>
    <span>@Localization.GetText("TCM.RO.ReassignOutcomeIndicator.OutcomeStatement")</span>
    <br />
    <b>{{ReassigIndicatorParameters.CurrentOutcome.Statement}}</b>
    <br /><br /><br />
    <span>@Localization.GetText("TCM.RO.ReassignOutcomeIndicator.OutcomeIndicator")</span>
    <br />
    <b>{{ReassigIndicatorParameters.CurrentOutcomeIndicator.Definition}}</b>
    <br /><br /><br />
    <span>@Localization.GetText("TCM.RO.ReassignOutcomeIndicator.ReassignOutcomeIndicatorStatement")</span>
    <br /><br />
    <div>
        <div class="dropdown" ng-form="Reassign_Outcome_indicator" style="width: 100%">
            <button class="btn btn-default dropdown-toggle" type="button" id="id-Reassign_Outcome_indicator" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-click="PassByAngular()?cargaDropDown(this):''" onkeydown="dropdownNavigation(this, event)" dd-find="">
                <span class="valueText ng-binding" ng-attr-class="valueText">{{ReassigIndicatorParameters.SelectableOutcomes.length > 2 ? ReassigIndicatorParameters.SelectableOutcomes[0].Statement : ReassigIndicatorParameters.SelectableOutcomes[1].Statement}}</span>
                <span class="caret"></span>
            </button>
            <input ng-model="ReassigIndicatorParameters.SelectedOutcomeToReassign.OutcomeId" type="hidden" name="Reassign_Outcome_indicator" ng-required="true" class="ng-pristine ng-untouched ng-valid ng-valid-required" required="required">
            <ul class="dropdown-menu" aria-labelledby="id-Reassign_Outcome_indicator">
                <li ng-repeat="outcome in ReassigIndicatorParameters.SelectableOutcomes" class="ng-scope">
                    <a dd-value="{{outcome.OutcomeId}}" ng-click="SetOutcomeToReassign(ReassigIndicatorParameters.CurrentOutcomeIndicator, outcome)" class="ng-binding">{{outcome.Statement}}</a>
                </li>
            </ul>
        </div>
        <div ng-show="Reassign_Outcome_indicator.$invalid" class="ng-hide">
            <ul class="parsley-errors-list filled">
                <li class="listError">
                    <span class="p">
                        @Localization.GetText("TCM.Outputs.RequiredMessage")
                    </span>
                </li>
            </ul>
        </div>
        </div>
</div>
