
<script>
    $(document).ready(function () {
        $("#lnkCancelSaveChanges").click(function () {
            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $(".ui-widget-overlay").remove();
            $(".k-window").remove();
        });

        $("#btnSaveChanges").click(function () {
            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $(".ui-widget-overlay").remove();
            $(".k-window").remove();
            SaveChanges();
        });
    });
</script>

@{
    var confirmMessage = int.Parse(ViewData["changesCount"].ToString()) <= 1 ? Localization.GetText("TCM.RCMW.RegisterChanges.TextMessage") : Localization.GetText("TCM.RCMW.RegisterChangesMany.TextMessage");
}

<div style="padding: 20px;">
    @confirmMessage
</div>
<div class="pie pieReassign">
    <div class="botones">
        <a title="@Localization.GetText("TCM.RCMW.RegisterChanges.Cancel")" class="cancel" id="lnkCancelSaveChanges" href="javascript:void(0)"> @Localization.GetText("TCM.RCMW.RegisterChanges.Cancel")</a>
        <label for="delete">
            <input type="button" value=" @Localization.GetText("TCM.RCMW.RegisterChanges.Save")" class="btn-primary" id="btnSaveChanges">
        </label>
    </div>
</div>
