li.select2-selection__choice {
    background-color: #25509D !important;
    color: white !important;
    white-space: normal !important;
    border-color: rgb(34, 80, 157) !important;
    max-width: 100% !important;
    float: left !important;
    position: relative !important;
    width: 95% !important;
}

span.select2-selection__choice__remove {
    color: white !important;
}