<div class="row mb5">
    <div class="col-xs-12 font12">
        <span class="italicStyle">
            @Confluence.LabelHelper(Localization.GetText("TCP.FirmProcurement.Legend.CommitFunds.TotalFundsCurrentlyAvailable"))
           
        </span>
        @Confluence.LabelHelper(Localization.GetText("TCP.FirmProcurement.Legend.CommitFunds.ValueCalculated"))
    </div>
</div>
<div class="row mb5">
    <div class="col-xs-12 font12 bold">
        @Confluence.LabelHelper(Localization.GetText("TCP.FirmProcurement.Legend.CommitFunds.TotalFundsUndisbursedCommitments"))
    </div>
</div>

