@using System.Globalization;
@using IDB.MW.Infrastructure.Configuration
@using IDB.MVCControls.DataTable.Helpers
@using IDB.MVCControls.DataTable.Models
@using IDB.MVCControls.General.Helpers

@using IDB.MW.Application.BEOProcurementModule.ViewModels.FirmProcurement

@model SimpleDocViewModel

<table class="table-transparent mb10">
    <tr>
        <td class="table-transparent-text">
            <div class="mb5 aligment">
                @Confluence.LabelMainSubTitle(Model.Title)
            </div>
            <div class="">
                @Confluence.Label(Model.SubTitle)
            </div>
        </td>

        @if (Model.HasLink && !string.IsNullOrWhiteSpace(Model.LinkURL))
        {
            <td class="table-transparent-buttons">
                @Confluence.LabelLinkBlank(
                    text: Localization.GetText("TCP.FirmProcurement.Link.ViewTemplates"),
                    url: Model.LinkURL,
                    name: "viewTemplatesLink",
                    htmlClass: "bold")
            </td>
        }
    </tr>
</table>

<div class="row mb20">
    <div class="col-xs-12">
        @DocumentManagement.DynamicTable(Model.TableName, Model.TableName, Model.SimpleTable, false, false)
    </div>
</div>