@model IDB.MW.Domain.Models.Architecture.TCM.TCMValidationWorkFlow.ValidationProcessModel
<div >
    <div style="margin-bottom: 2%;">
        @Confluence.LabelMainTitle(Localization.GetText("TCM.VP.ValidationProcess.ValidationProcess"))
    </div>

    @if (!Model.IsCndOperation)
    { 
        <div style="margin-bottom: 5%;">
           @Confluence.Label(Localization.GetText("TCM.VP.ValidationProcess.TcReportingPeriod"))
            <div>
                <br />
                @Confluence.Label(Model.CodeCycle, htmlClass: "bold")
            </div>
        </div>
    }
</div>
