

<div class="vex vex-theme-default vex-theme-warning">
    <div class="vex-overlay">
        <div class="vex-content">
            <h3 class="h3-padding modalWarning">Warning</h3>

            <div class="vex-dialog-form">
                <div class="vex-dialog-message">@Confluence.Label("Mensaje")</div>
            </div>
        </div>
    </div>

</div>
