
<script>
    $(document).ready(function () {

        $("#btnWarningPredef").click(function () {

            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $(".ui-widget-overlay").remove();
            $(".k-window").remove();

            // Get url to display modal window
            var urlRoute = $("#hdnPredefinedIndicatorUrl").val() + "?predefinedIndicatorId=@ViewData["indicatorId"]&module=@ViewData["module"]";
                                        // Display modal window to remove impact from the server side
                                        $(window.parent.document).find('body').append('<div class="ui-widget-overlay ui-front"></div>');
                                        $("body").append('<div class="ui-widget-overlay ui-front"></div>');
                                        $("body").append('<div class="dinamicModal"></div>');
                                        var title = "Link To Predefined Indicator";
                                        var dialog = $(".dinamicModal").kendoWindow({
                                            width: "800px",
                                            title: title,
                                            draggable: false,
                                            resizable: false,
                                            content: urlRoute,
                                            pinned: true,
                                            actions: [
                                                "Close"
                                            ],
                                            modal: true,
                                            visible: false,
                                            open: function (e) {
                                            },
                                            refresh: function (e) {
                                                var currentWindow = this;

                                                /**
                                                * Jira ID: CON-397
                                                * Fix Description: remove warning messages that dispa
                                                * Attended by: Jhon Astaiza 
                                                * Date: 20/06/2014
                                                * Begin Fix
                                                **/
                                                var messagesCollection = $(".messages");
                                                if (messagesCollection != null && messagesCollection.length > 1) {
                                                    $(messagesCollection[1]).remove();
                                                }
                                                /**
                                                * End Fix
                                                **/

                                                var mainHtmlContent = this.content();
                                                var barLoadingHtmlContent = "";
                                                barLoadingHtmlContent += '<div id="loadingpredefIndContainer" style="display:block;text-align:center;margin-top: 1.5em;margin-bottom: 1.5em;">';
                                                barLoadingHtmlContent += '<div style="margin-bottom: 0.5em;"><span style="color: #2476CB">Loading</span></div>'
                                                barLoadingHtmlContent += '<div>';
                                                barLoadingHtmlContent += '<img style="vertical-align: middle" src="/Images/Modulos/ResultsMatrix/ajax-bar-loader.gif" />';
                                                barLoadingHtmlContent += '</div>';
                                                barLoadingHtmlContent += '</div>';

                                                this.content(barLoadingHtmlContent);

                                                $("#loadingpredefIndContainer").delay(600).fadeOut(function () {
                                                    currentWindow.content(mainHtmlContent);
                                                });

                                                
                                            },
                                            close: function () {
                                                $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
                                                $(".ui-widget-overlay").remove();
                                                $(".k-window").remove();
                                                $(window.parent.document).find('body').find(".ui-widget-overlay.ui-front").remove();
                                            }
                                        }).data("kendoWindow");
                                        //$(".k-window-titlebar").addClass("warning");
                                        //$(".k-window-title").addClass("ico_warning");
                                        //dialog.center();
                                        dialog.open();

                                        

        });


        $("#btnWarningPredefNo").click(function () {

            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $(".ui-widget-overlay").remove();
            $(".k-window").remove();

        });



    });


</script>

<div class="contentImpacts">
Please note that the Unit of Measure of the indicator and any disaggregation associated will be replaced with the information of the predefined indicator. Would you like to proceed?
</div>
<div class="pie pieReassign">
    <div class="botones">
        <a title="Cancel" class="cancel" id="btnWarningPredefNo" href="javascript:void(0)">@Localization.GetText("Cancel")</a>
        <label for="delete">
            <input type="button" value="Accept" class="btn-primary" id="btnWarningPredef">
        </label>
    </div>
</div>
