body {
    overflow: hidden;
}

.botones {
    float: right;
}

.right.link {
    margin-right: 0.833em;
    padding-top: 0.333em;
    font-size: 1em;
    font-family: "OpenSans-Semibold";
    color: #3972c3;
}

.pie {
    padding: 10px;
    box-sizing: border-box;
}

    .pie input {
        float: none;
    }

.k-widget.k-window {
    background-color: transparent;
    position: relative;
    top: auto !important;
    left: auto !important;
    box-shadow: none;
    margin: 0;
}

.idb-content-page k-window k-widget k-content {
    height: auto;
    position: relative;
    overflow: hidden;
}

.clauses_add_doc .mod_operationTeamMember .preguntaDelete {
    width: 90%;
    margin: 1.5em auto !important;
}