.AlignTitles {
    padding-left: 30px;
}

.verticalMargin10 {
    margin-left: 20px;
    margin-bottom: 20px;
}

.alignFilterButtonRight {
    float: right;
}

.headingh2 {
    margin: 1.575em 0 0 0.95em;
    width: 47% !important;
    padding-left: 5px;
}

.width75p {
    width: 75% !important;
}

.headingh2Document {
    width: 67%;
    display: inline-block;
    float: left;
    margin-left: -1em !important;
}

.operationData .dataTitle {
    margin-bottom: 10px;
}

.mod_contenido_central .operationData {
    padding: 0 0 0 3%;
    width: 100%;
    padding-top: 1.5em;
}

.mod_tabla_impacts table {
    margin: 0;
    display: table;
    clear: none;
    border-collapse: collapse;
    width: 99%;
}

.MarginBox {
    margin-top: 10px;
}

.marginRight80 {
    margin-right: 80px;
}

.leftMargin30 {
    margin-left: 30px;
}

.minHeightResponsible {
    height: 45px !important;
}

.marginLabelBottom {
    display: block;
    margin-bottom: 10px;
}

input.TextBoxEvaluation {
    width: 94%;
    padding: 0 0.5em;
    height: 2.1875em;
    border: 1px solid #CCCCCC;
    text-align: left;
}

.borderTitle {
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

    .borderTitle:focus {
        border-radius: 5px;
        border: 2px solid #85b1f3;
    }

.mod_tabla {
    clear: both;
    display: table;
    width: 43.75em;
    margin: 0 0;
}

.mod_tabla_impacts {
    margin: 0 !important;
}

.mod_style table th a {
    padding: 1em .2em;
}

.mod_style table th {
    text-align: center;
    border-left: 1px solid #E0E0E0;
    font-size: .8em !important;
}

.mod_style table td {
    border: 1px solid #E0E0E0 !important;
    padding: .5em .4%;
    text-align: left;
    vertical-align: middle;
    font-size: 1.2em !important;
    color: #707783;
    font-family: inherit !important;
}

.mod_style .k-toolbar .k-button.newIndicator {
    background: url("../../../Images/Modulos/tables/cruz_azul.png") no-repeat scroll 1em center white;
    border: 2px solid #EDEFF2;
    border-radius: 5px;
    color: #202520;
    float: left;
    font-size: 0.75em;
    margin: 1.5em 0;
    min-height: 1.5625em;
    width: 25em;
}

.mod_contenido_central .btn-1 {
    margin: 1.5em .5em .5em 1em;
    float: left;
}

.mod_style .k-toolbar .k-button- {
    padding: .3em 8.4em;
}

.mod_style .k-toolbar {
    margin-top: 4em;
}

.verifyButton {
    color: #FFF;
    width: 160px !important;
    text-align: center !important;
}

.buttonsPanelContainer {
    width: 94%;
}

.btnEvaluations {
    border-radius: 0;
    cursor: pointer;
    float: right !important;
    font-family: 'OpenSans-Regular';
    font-size: 0.75em;
    padding: 0;
    width: 14em !important;
}

.btn-secondary {
    float: left !important;
    margin-right: 0 !important;
    margin-left: 10px;
}

.CancelledEvaluations {
    margin: 0;
    background-color: #22509d;
}

.changedTxt {
    width: 100%;
    margin-top: 0;
}

.iconDelete {
    margin-top: 10px;
    margin-left: 40px;
}

.iconDeleteCreate {
    margin-top: 9px;
    margin-left: 40px;
}

.iconDeleteClon {
    margin-top: 10px;
    margin-left: 40px;
}

.lblDoc {
    margin-left: 20px;
    font-size: .9em !important;
}

.marginTop30px {
    margin-top: 30px;
}

.displayBlock {
    display: block;
}

.h30px {
    height: 30px;
}

.showTxt {
    font-size: 0.75em;
    cursor: default;
    padding-left: 10px;
}

.labelCustom {
    color: #707783;
    font-size: 1em;
    width: 90%;
}

.w110p {
    width: 110%;
}

.w55p {
    width: 55%;
}

.w95 {
    width: 95% !important;
}

.k-input {
    font-size: 13px !important;
}

.MultiSelectCustom {
    font-size: 12px;
    color: #707783;
}

.k-popup .k-list .k-item {
    line-height: 2em;
    font-size: 13px !important;
}

option {
    padding: 3px;
}

.mod_contenido_central .btnModMargin {
    margin: 0 15px 0 0;
}

.btn-action-group {
    border: none;
}

.checkAllPanelContainer {
    width: 94%;
    padding-bottom: 10px;
}

.filtersPanelContainer {
    width: 98%;
}

.checkersPanelContainer {
    width: 94%;
}

.tableContainer {
    width: 100%;
    margin-left: 0 !important;
}

.imageMargins {
    margin: -3px 4px 0 4px;
}

.buttonMargins {
    margin: 0 4px 0 4px;
}

.operationButton {
    background-color: transparent;
    border: 1px solid #cbdcf2;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.addOne {
    background: url('../../../Images/icons/blueCross.png') no-repeat center center transparent;
    padding: 6px 14px;
}

.editingButtonsEdit {
    height: 70px;
    margin-left: -10px;
    margin-right: 165px;
    width: 200px;
}

.floatRight {
    float: right !important;
}

.editingButtonsEditFunding {
    padding-right: 0;
}

.editingButtonsEditDocument {
    padding-right: 0;
    margin-right: -350px;
    margin-top: -100px;
}

.aStyle {
    display: none;
}

.marginBtnDetails {
    margin-right: 60px !important;
}

.verticalMargin30 {
    margin-bottom: 30px;
    margin-top: 30px;
}

.tdResults {
    font-size: 10pt;
}

.width200px {
    width: 200px;
}

.width40p {
    width: 40%;
}

.filters {
    font-size: 14px !important;
}

span.k-dropdown {
    background-image: none;
}

.k-animation-container .k-calendar-container {
    width: 214px !important;
}

    .k-animation-container .k-calendar-container .k-content {
        font-size: 1.2em !important;
    }

.datepicker {
    font-size: 1.2em !important;
}

.k-dropdown {
    border-width: 0;
    cursor: pointer;
    display: inline-block;
    overflow: visible;
    position: relative;
    vertical-align: middle;
    width: 12.4em;
}

.k-widget {
    font-family: inherit;
    font-size: 100%;
    line-height: normal;
    outline: 0;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.k-dropdown .k-icon {
    background: url('../../../Images/icons/comboRow.png') no-repeat scroll center;
    vertical-align: middle;
    color: transparent;
}

.k-icon {
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    line-height: 0;
    overflow: hidden;
    text-align: center;
    text-indent: -3333px;
    width: 16px;
}

.k-dropdown-wrap .k-select {
    border: 0;
    color: inherit;
    display: inline-block;
    font: inherit;
    height: 100%;
    line-height: 2em;
    min-height: 1.65em;
    -moz-box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: 0;
    vertical-align: middle;
    width: 1.9em;
}

.k-dropdown-wrap .k-input {
    border: 0;
    color: #656668;
    font-size: 14px;
    height: 1.65em;
    line-height: 1.65em;
    margin: 0;
    padding: .177em 0;
    text-indent: 4px;
}

.k-dropdown .k-input {
    background: transparent;
    border-width: 0;
    display: block;
    font-family: inherit;
    outline: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.k-dropdown-wrap {
    background: #ffffff;
    background-position: 0 center;
    background-repeat: repeat;
    border: 1px solid #ccc;
    border-style: solid;
    border-width: 1px;
    display: block;
    padding: 0 1.9em 0 0;
}

.dateSelect {
    max-width: 100%;
    float: none;
    margin: 0;
}

    .dateSelect .k-widget .k-picker-wrap .k-select {
        width: 7%;
        padding: .3em 2% !important;
    }

    .dateSelect .k-widget .k-picker-wrap input.datepicker {
        font-size: 1.3em;
        padding: .4em 2% !important;
        margin: 0;
        width: 96% !important;
    }

    .dateSelect .k-widget .k-picker-wrap .k-select .k-icon.k-i-calendar {
        display: block;
        height: 2em;
        width: 16px;
        float: right;
    }

    .dateSelect .k-widget .k-picker-wrap.k-state-default {
        border-radius: 0;
    }

.ReadValue {
    color: #1f251f;
    font-weight: bold;
    font-family: "OpenSans-Bold";
}

.ReadValueTitle {
    font-size: 1.8em;
    width: 80%;
    padding: .5% 1%;
}

.VerticalButton {
    vertical-align: bottom;
}

.VerticalButtonDetails {
    vertical-align: top;
    margin-top: 75px;
}

.container {
    height: auto;
    width: 100%;
}

.operatorBar, .tableOperator {
    top: 1.6em !important;
}

.minimizeTable {
    width: 100% !important;
}

select option {
    width: 98%;
    white-space: normal;
    border: 1px solid #fbfbfb;
}

.k-content-frame {
    border: 0;
    width: 100%;
    height: 100% !important;
}

.removeIcon {
    background: #ffffff url("../../../Images/icons/removeIcon.png") no-repeat center center;
    padding: 9px;
    margin-left: 7px;
}

.tableGrid .k-state-disabled {
    background: #EBEBE4 !important;
}

#OtherTopicsOfEvaluationsBlock {
    margin-top: 88px;
}

*.documentsEvaluation td.editable {
    background-image: url("./../../../Images/icons/editOperationIcon.png");
    background-position: 95% center;
    background-repeat: no-repeat;
    padding-right: 30px;
    cursor: pointer;
}

.evaluation-tracking-block.Cancelled .documentsEvaluation td.editable {
    background-image: none;
}

*.documentsEvaluation td.k-edit-cell.editable {
    background-image: none;
    padding-right: 5px;
}

*.documentsEvaluation td.long {
    white-space: nowrap !important;
}

.evaluation-tracking-block.Cancelled *.documentsEvaluation td {
    background: #EBEBE4 !important;
}

*.documentsEvaluation td.long input {
    width: 90px !important;
}

.evaluation-tracking-block.Cancelled .table_outputs .minimizeTable,
.evaluation-tracking-block.Cancelled .table_outputs .k-pager-wrap {
    background-color: rgba(0,0,0,0.05);
}

.evaluation-tracking-msg {
    text-align: left;
    font-size: 11pt;
    padding: 30px 20px;
}

.k-window-actions .k-icon.k-i-close {
    visibility: hidden;
}

.minimizeTable .minimizeBar .tableOperator {
    background: url("./../../../Images/Modulos/tables/icon_minimizeTables.png") no-repeat center 0 1px #DDD;
    width: 1.5em;
    height: 1.5em;
    left: -0.7em;
    border: 0.1em solid #DDD;
}

    .minimizeTable .minimizeBar .tableOperator:hover {
        border: 0.1em solid #0076e1;
        background-color: #EFF4FB;
    }

    .minimizeTable .minimizeBar .tableOperator.active {
        background: url("./../../../Images/modulos/tables/icon_maximizeTables.png") no-repeat center -1px #123b70;
        border: 0.1em solid #123b70;
    }

.MethodologyWidth {
    width: 140%;
}

.marginLeft120p {
    margin-left: 110%;
}

.marginLeft60p {
    margin-left: 60%;
}
