@using IDB.MW.Domain.Models.Pagination;
@using IDB.MW.Domain.Models.Global;
@model DataSourceResult<MyTasksViewModel>

<div class="operationsHeigth">
    <ol>
        @foreach (var task in Model.Data)
        {
            <li>
                <a href="@task.TaskUrl">@getName(task)</a>
            </li>
        }
    </ol>
</div>
<div class="text-right">
    <a href="@Url.Action("Index", "Tasks", new {area = "Global"})">See All</a>
</div>


@functions{

    static MvcHtmlString getName(MyTasksViewModel task)
    {
        string result;
        switch (Localization.CurrentLanguage)
        {
            case Language.ES:
                result = task.TaskNameEs;
                break;
            default:
                result = task.TaskNameEn;
                break;
        }

        return new MvcHtmlString(result);
    }
    

}
