@using IDB.MVCControls.DataTable.Helpers
@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers

@model List<IDB.MW.Application.PCRModule.ViewModels.ChecklistService.PCRValidationsRowViewModel>


@{
    var config = Html.RenderDataTable(Model)
        .Name("checklistTable")
        .Columns(columns =>
        {
            columns.Bound(c => c.User).Persistent().Header(Localization.GetText("PCR.Checklist.TabValidation.Checklist.ColUser"));
            columns.Bound(c => c.Date, f => FormatHelper.Format(f)).Persistent().Header(Localization.GetText("PCR.Checklist.TabValidation.Checklist.ColDate"));
            columns.Bound(c => c.ChecklistValidationStatus).Persistent().Header(Localization.GetText("PCR.Checklist.TabValidation.Checklist.ColStatus"));
            columns.Bound(c => c.Stage).Persistent().Header(Localization.GetText("Stage"));
            columns.Bound(c => c.Version).Persistent().Header(Localization.GetText("PCR.Checklist.TabValidation.Documents.ColVersion"));
            columns.Bound(c => c.Score, f => FormatHelper.Format(f, "#0.00")).Persistent().Header(Localization.GetText("PCR.Checklist.TabValidation.Checklist.ColScore"));
            columns.Bound(c => c.Category).Persistent().Header(Localization.GetText("PCR.Checklist.TabValidation.Checklist.ColCategory"));
            columns.Template(
                @<div>
                    <button class="btn btn-sm exportXls" data-id="@item.PCRId" data-action="downloadChecklist"></button>
                    @if (item.PCRDocumentReference != null)
                    {
                        <button class="btn btn-sm word"
                                data-docnum="@item.PCRDocumentReference"
                                data-action="downloadPCRDoc"></button>
                    }
                    @if (ViewBag.LastPCRRedo == item.PCRId && ViewBag.IsActiveRedo && !Model.First().IsRejected)
                    {
                        <span data-tooltip-title="" data-tooltip="Re-do">
                            <button class="btn btn-sm redo"
                                    data-id="@item.PCRId"
                                    data-action="activeRedoChecklist"></button>
                        </span>
                    }
                </div>).Persistent().Header(Localization.GetText("PCR.Checklist.TabValidation.Checklist.ColAction"));
        });
}

@Html.Partial("Controls/DataTable", config)
