@using IDB.MVCControls.DataTable.Helpers
@using NPOI.SS.UserModel
@model List<IDB.MW.Application.AttributesModule.ViewModels.AttributesService.RowSearchAttributeViewModel>
    @if (Model != null)
    {
        if (Model.Count > 0 || Model.Count == 0)
        {
            if (Model.Count == 0)
            {
                <div id="msgResult" class="col-md-12 mb20">@Confluence.Label(Model.Count +"")@Localization.GetText("OPUS.Search.Results")</div>
            }
            else
            {
                <div id="msgResult" class="col-md-12 mb20">@Confluence.Label(Model.Count + "")@Localization.GetText("OPUS.Search.Results")</div>
            }

            <div class="dataTable">
                @{
            var config = Html.RenderDataTable(Model);
            config.Name("AttributeTable")
                .AddPrimaryKeyToName(false)
                .Columns(columns =>
                {
                    columns.Bound(c => c.AttributeId).Hidden(true);
                    columns.Bound(c => c.Code).Header(Localization.GetText("MD.Management.Table.Code"));
                    columns.Template(c => Confluence.ButtonLink(c.NameAttribute, dataNavigation: Url.Action(controllerName: "AttributeView", actionName: "AttributeEdit", routeValues: new { id = c.AttributeId }))).Header(Localization.GetText("OP.AM.Grid.Name")).CssClass("text-left");
                    columns.Bound(c => c.OperationType).Header(Localization.GetText("OP.CR.CreationForm.BD.OperationType"));
                    columns.Bound(c => c.RelationshipType).Header(Localization.GetText("OP.CR.RelatedOperation.RelationshipType"));
                    columns.Bound(c => c.Section).Header(Localization.GetText("TCM.MC.Filter.Section"));
                    columns.Template(c => Confluence.LabelGetDate(c.ExpirationDate != DateTime.MinValue ? c.ExpirationDate : (DateTime?)null)).Header(Localization.GetText("TC.FundInformation.BasicData.ExpirationDate"));

                });

            config.TableClass = "tableNormal endSpacing";

            @Html.Partial("Controls/DataTable", config)
                }
            </div>
        }
    }
