@using IDB.MVCControls.DataTable.Helpers

@model IDB.MW.Application.VERModule.ViewModels.VersionHistoryViewModel


<div id="resultsPerPageVersionHistory" class="col-md-12">
    <div class="pull-left">
        @Confluence.Label(Localization.GetText("GLOBAL.RESUTLS.PER.PAGE"))
        @Confluence.InputDropDown("999999", "ddlResultsVHis",
            (List<SelectListItem>)ViewBag.ResultsPerPageList, placeholder: null, showEmptyOption: false,
            orderAsc: false, required: false)
    </div>
</div>

    <div class="col-md-12 mb20 mt10">
        @{
            var versionHistoryTable = Html.RenderDataTable(Model.VersionHistoryTable);
            versionHistoryTable.Name("versionHistoryTable")
                .Columns(columns =>
                {
                    columns.Template(c => Confluence.Label(c.Order.ToString())).Center()
                        .Header(Localization.GetText("VER.Homepage.TabVersionHistory.SLNo")).Orderable(true);
                    columns.Template(c => Confluence.LabelLink(c.PackageVersion, "lnkPackageVersion", "showDataVersionHistoryModal", dataAttributes:
                        new Dictionary<string, string> { { "packageId", c.PackageVersionId.ToString() }, { "idb-fieldname", "lnkPackageVersion" } })).Left()
                        .Header(Localization.GetText("VER.Homepage.TabVersionHistory.PackageVersion")).Orderable(true);
                    columns.Template(c => Confluence.LabelGetDate(c.LastUpdated)).Center()
                        .Header(Localization.GetText("VER.Homepage.TabVersionHistory.LastUpdated")).Orderable(true);
                });
            versionHistoryTable.TableClass = "tableNormal endSpacing";

            @Html.Partial("Controls/DataTable", versionHistoryTable)
        }
    </div>

<div data-id="ModalVersionHistory">
    <button data-id="buttonVersionHistory" class="hide"
            data-modal-allowclose="true"
            data-custom-modal="newVersionHistoryModal"
            data-custom-modal-style=""
            data-custom-modal-title="@Localization.GetText("VER.Homepage.TabVersionHistory.PackageVersion")"
            data-custom-modal-validate="false"
            data-custom-modal-closeonoverlayclick="false"></button>
</div>

<div id="newVersionHistoryModal" class="modalBody">
    
</div>
   
