<table class="tableNormal mt10" id="FindingAndRecommendationTable">
    <thead>
        <tr>
            <th class="">cycle</th>
            <th class="">Stage</th>
            <th class="">Categories</th>
            <th class="">Dimensions</th>
            <th class="">Last Update</th>
            <th class=""></th>
        </tr>
    </thead>
    <tbody id="trFR">
        <tr data-id="0">
            <td class="paddingTopBottom">First period Jan-Jun 2015</td>
            <td class="paddingTopBottom">Approved/Pending Eligibility</td>
            <td class="paddingTopBottom">Project Design - Environmental Factors - Natural Causes or Disasters</td>
            <td class="paddingTopBottom">Technical-Sectorial Dimensions</td>
            <td class="paddingTopBottom">17 May 2016</td>
            <td class="paddingTopBottom">@Confluence.ButtonShowRow()</td>
        </tr>

        <tr data-id="1" class="original-value-row">
            <td class="paddingTopBottom">Second period Jan-Dec 2014</td>
            <td class="paddingTopBottom">Approved/Pending Eligibility</td>
            <td class="paddingTopBottom">Stakeholder Priorities</td>
            <td class="paddingTopBottom">Organizational and Managerial Dimensions</td>
            <td class="paddingTopBottom">20 May 2016</td>
            <td class="paddingTopBottom">@Confluence.ButtonShowRow()</td>
        </tr>
        <tr data-row-parent-id="1">
            <td class="original-value-row paddingTopBottom">Findings</td>
            <td class="paddingTopBottom" colspan="5">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
        </tr>
        <tr data-row-parent-id="1">
            <td class="original-value-row paddingTopBottom">Recommendations</td>
            <td class="paddingTopBottom" colspan="5">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
        </tr>
        <tr data-row-parent-id="1">
            <td class="original-value-row paddingTopBottom" rowspan="2"></td>
            <td class="original-value-row" colspan="5"><b>Has the issue caused a Delay in the operation?</b> Yes</td>
        </tr>
        <tr data-row-parent-id="1">
            <td class="paddingTopBottom" colspan="5" style="padding: 0;">
                <table class="tableNormal skinGray">
                    <thead>
                        <tr>
                            <th>Type of Delay</th>
                            <th>Name</th>
                            <th class="w150">Is the issue resolved?</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>Outcome Delay</td>
                        <td>Outcome/Output</td>
                        <td>Yes</td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr data-id="2">
            <td class="paddingTopBottom">First period Jan-Jun 2015</td>
            <td class="paddingTopBottom">Approved/Pending Eligibility</td>
            <td class="paddingTopBottom">Cost and Budgetary Apects</td>
            <td class="paddingTopBottom">Fiduciary Dimensions</td>
            <td class="paddingTopBottom">21 May 2016</td>
            <td class="paddingTopBottom">@Confluence.ButtonShowRow()</td>
        </tr>
        <tr data-row-parent-id="2">
            <td class="paddingTopBottom">Findings</td>
            <td class="original-value-row paddingTopBottom" colspan="5">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
        </tr>
        <tr data-row-parent-id="2">
            <td class="paddingTopBottom">Recommendations</td>
            <td class="original-value-row paddingTopBottom" colspan="5">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
        </tr>
        <tr data-row-parent-id="2">
            <td class="paddingTopBottom" rowspan="2"></td>
            <td class="" colspan="5"><b>Has the issue caused a Delay in the operation?</b> Yes</td>
        </tr>
        <tr data-row-parent-id="2">
            <td class="paddingTopBottom" colspan="5" style="padding: 0;">
                <table class="tableNormal skinGray">
                    <thead>
                        <tr>
                            <th>Type of Delay</th>
                            <th>Name</th>
                            <th class="w150">Is the issue resolved?</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>Outcome Delay</td>
                        <td>Outcome/Output</td>
                        <td>Yes</td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr data-id="3" class="original-value-row">
            <td class="paddingTopBottom">Second period Jan-Dec 2014</td>
            <td class="paddingTopBottom">Approved/Execution</td>
            <td class="paddingTopBottom">Project Manager Capacity</td>
            <td class="paddingTopBottom">Organizational and Managerial Dimensions</td>
            <td class="paddingTopBottom">20 May 2016</td>
            <td class="paddingTopBottom">@Confluence.ButtonShowRow()</td>
        </tr>
    </tbody>
</table>