@using IDB.Presentation.MVC4.Helpers

@model  List<IDB.MW.Domain.Models.Security.FieldAccessModel>

<tr data-id="0" class="custom-even" role="row">
    <td class="hide" data-pagemode="edit">
        <input type="hidden" name="innovationId" value="0">
    </td>
    @if (SecurityHelper.IsVisible(Model, "ddlTypeInnovation"))
    {
        <td data-pagemode="edit">
            @Confluence.InputDropDown(null, "typeInnovation", ViewBag.TypeInnovation, width: "100%", dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "ddlTypeInnovation" } })
        </td>
    }
    @if (SecurityHelper.IsVisible(Model, "txtKeyInnovation"))
    {
        <td>
            <span data-pagemode="edit" class="showDataEdit">
                @Confluence.InputRichText(null, "keyInnovation", width: "100%", height: "60px", maxLength: 3500, placeholder: Localization.GetText("TCM.FR.FindingsAndRecommendations.TextKeyInnovation"), dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "txtKeyInnovation" } })
            </span>
        </td>
    }

    
    <td>
        <span data-pagemode="edit" class="showDataEdit">
            @Confluence.InputRichText(null, "extentSuccess", width: "100%", height: "60px", maxLength: 3500, placeholder: Localization.GetText("TCM.FR.FindingsAndRecommendations.TextExtentSuccess"))
        </span>
    </td>

    <td data-pagemode="edit">
        @Confluence.ButtonTrash(null, "removeInnovation", "removeRow")
    </td>
</tr>