

@{
    ViewBag.Title = "Changed Fullfillment Date";
}

<script>
    $(document).ready(function () {
        $("#CancelWarningDialog").click(function () {
            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $(".ui-widget-overlay").remove();
            $(".k-window").remove();
        });

        $("#actionConfirmed").click(function () {
            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $("#target").submit();
            $(".ui-widget-overlay").remove();
            $(".k-window").remove();

            idbg.lockUi(null, true);
        });
    });
</script>


<div style="padding: 20px;">
     @Localization.GetText("The fulfillment date is different to the expiration date, are you sure that you want to save it?")
</div>
<div class="pie pieReassign">
    <div class="botones">
        <a title="@Localization.GetText("Cancel")" class="cancel" id="CancelWarningDialog" href="javascript:void(0)">@Localization.GetText("Cancel")</a>
        <label for="deleteItem">
            <input type="button" value=" @Localization.GetText("OK")" class="btn-primary" id="actionConfirmed">
        </label>
    </div>
</div>