

@{
    ViewBag.Title = "Changed Fullfillment Date";
}

<script>
    $(document).ready(function () {
        $("#actionConfirmed").click(function () {
            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $(".ui-widget-overlay").remove();
            $(".k-window").remove();
        });

    });
</script>


<div style="padding: 20px;">
     @Localization.GetText("Different user of final validation user should send the request")
</div>
<div class="pie pieReassign">
    <div class="botones">
        <label for="AnulationAction">
            <input type="button" value=" @Localization.GetText("OK")" class="btn-primary" id="actionConfirmed">
        </label>
    </div>
</div>