@using IDB.MW.Application.SGPModule.ViewModels.ProcurementDetail

@model CancelProcessViewModel


<div class="row">
    <div class="col-xs-12">
        @Confluence.Label(Localization.GetText("SGP.Label.Reason"))
    </div>
    <div class="col-xs-12">
        @Confluence.LabelCursive(Localization.GetText("SGP.Label.PleaseBeSuccintPoint"))
    </div>
    <div class="col-xs-12">
        @Confluence.InputTextArea(Model.Reason, "reason-cancelProcess", width: "100%", maxLength: 1000, height: "100px")
    </div>
</div>
