
<div data-id="headerButtons" class="float-right">
    <div data-type="contentButtons">
        @Confluence.ButtonBlue(Localization.GetText("SGP.Label.DeclareIngeibility"), name: "Ineligibility")
        @Confluence.ButtonBlue(Localization.GetText("SGP.Button.CancelProcess"), name: "CancelProcess")
    </div>
</div>
