@model String

<button class="buttonLink" name="cancelDisclosure" ng-click="Cancel('@Model')">
    @Localization.GetText("IM.Cancel")
</button>

<span ng-show="ESGDisclosureDocument.DocumentESGDisclosure.length > 0 &&
    (ESGDisclosureDocument.HasESGRoleToWrite || ESGDisclosureDocument.HasTeamLeaderRole)">

    @Confluence.ButtonOrange(
        text: Localization.GetText("IM.Save"),
        dataAttributes: new Dictionary<string, string>() { { "ng-click", "Save($index)" } })

    @Confluence.ButtonOrange(
        text: Localization.GetText("TC.SaveAndSend"),
        dataAttributes: new Dictionary<string, string>() { { "ng-click", "SaveAndSend($index)" } })
</span>