#tblAllocation .filtered { display: none; }
.tableNormal table tbody tr td { font-size : 10px !important; }

.tableNormal th {
    font-size: 7px;
}

table#tblAllocation.tableNormal th,
table#tblAllocation.tableNormal td {
    padding: 2px;
}

table#tblAllocation.tableNormal .inputText {
    width: 60px !important;
}