@using System.Configuration
@using System.Web.Mvc.Html
@model IDB.Presentation.MVC4.Models.Mainframe.MainframeViewModel
@{
    Layout = IsAjax ? null : "~/Views/Shared/_LayoutMainframe.cshtml";
    var hasSideMenu = Model.CurrentPage.LeftMenu != null;

    var baseUrl = (Model.CurrentPage.MenuLessUrl ?? Model.CurrentPage.ActiveMenu.UrlKey);
    var url = ConfigurationManager.AppSettings["BasePath"] + baseUrl;

    //code exception for reporting services TODO: Remove when reporying server is called inside this MVC project
    url = baseUrl.StartsWith("http") ? baseUrl : url;

}
<div class="row-eq-height">
    @if (hasSideMenu)
    {
        <div class="nomargin collapse in collap nopadding sideBar">
            @Html.Partial("~/Views/Mainframe/Partials/MainLeftSideMenu.cshtml", Model)
        </div>
    }
    <div id="mainLayoutOperationContent" class="mainContent">
        <div id="iframeLoader">
            <iframe id="mainframe_ContentIframe"
                    name="someFrame"
                    src="@url"
                    width="100%" height="780" scrolling="no" marginheight="30" marginwidth="30" frameborder="0"></iframe>
        </div>
    </div>
</div>

@section scripts{
    @if (IsAjax)
    {
        <script>
        var changeBasePath = @Model.ChangeBasePath.ToString().ToLower();
        </script>
    }
}