
@using System.Security.Claims
@using System.Web.Mvc.Html
@using Claim = System.Security.Claims.Claim

@{
    Layout = "~/Views/Shared/_LayoutMainframeEmpty.cshtml";
    var identity = (ClaimsIdentity)HttpContext.Current.User.Identity;
    IEnumerable<Claim> claimsList = identity.Claims;
}
<dl class="dl-horizontal">
    @foreach (var claim in claimsList)
    {
        <dt title="@claim.Type">
            @claim.Type
            <button type="button"
                    class="btn btn-link btn-xs"
                    aria-label="Copy to clipboard"
                    title="Copy to clipboard"
                    data-clipboard-text="@claim.Value">
                <span class="glyphicon glyphicon glyphicon-copy" aria-hidden="true"></span>
            </button>
        </dt>

        <dd>@claim.Value</dd>
    }
</dl>

