@using System.Configuration
@model IDB.Presentation.MVC4.Models.Mainframe.MainframeViewModel
@{
    Layout = "~/Views/Shared/_LayoutMainframe.cshtml";
    ViewBag.Title = Model.OperationNumber;
    var hasSideMenu = Model.CurrentPage.LeftMenu != null;
    var url = ConfigurationManager.AppSettings["BasePath"] + Model.CurrentPage.ActiveMenu.UrlKey;

    if (!string.IsNullOrEmpty(Model.CurrentPage.MenuLessUrl))
    {
        url = ConfigurationManager.AppSettings["BasePath"] + Model.CurrentPage.MenuLessUrl;
    }

    var actionName = string.Empty;
    var controllerName = string.Empty;
    var areaName = string.Empty;
    bool isSinglePage = false;

    if (Model.CurrentPage != null && Model.CurrentPage.ActiveMenu != null)
    {
        isSinglePage = !Model.CurrentPage.ActiveMenu.IsInIframe;
        actionName = Model.CurrentPage.ActiveMenu.ActionName;
        controllerName = Model.CurrentPage.ActiveMenu.ControllerName;
        areaName = Model.CurrentPage.ActiveMenu.AreaName;
    }
}

@Html.Partial("~/Views/Mainframe/Partials/MainOperationHeader.cshtml", Model)

<div class="row-eq-height">
    @if (hasSideMenu)
    {
        <div class="nomargin collapse in collap nopadding sideBar">
            @Html.Partial("~/Views/Mainframe/Partials/MainLeftSideMenu.cshtml", Model)
        </div>
    }
    <div id="mainLayoutOperationContent" class="mainContent">
        @if (isSinglePage)
        {
            @Html.Action(actionName, controllerName, new {area = areaName, operationNumber = Model.OperationNumber});
        }
        else
        {
            <iframe id="mainframe_ContentIframe"
                    name="someFrame"
                    src="@url"
                    width="100%" height="780" scrolling="no" marginheight="30" marginwidth="30" frameborder="0"></iframe>
        }
    </div>
</div>