#addActivityModal > .warningModal {
    width : 500px;
    margin-right:50%;
}
#addActivityModal > .warningModal h3 {
    text-align: left;
}

.tittleResponsePlan{
    margin-left:30px;
}

li > a{
    text-decoration : none;
}

.removeMarginTop{
    margin-top:0px!important;
}

.documentDownloadSize{
    max-width:45px;
    display: inline-block;
}

.statusHigh{
    background-color:red;
}

.statusMedHigh{
    background-color:#FFC000;
}

.statusMedlow{
    background-color:#FFFF00;
}

.statuslow{
    background-color:#92D050;
}

.topZero{
    top:0% !important;
}

.high50{
    height:50% !important;
}
div.circle-icon {
    margin-right:5px;
}

.tblRiskResponsePlan{
    margin-top:10px;
}

.lineRisksImportant {
    display:block !important;
}

.highZero{
    height:0px !important;
}

.displayRowImportant{
    display: table-row !important;
}

.notShowResponsePlan{
    display:none;
}