@using IDB.Presentation.MVC4.Services.Core.DynamicFormsHelper
@model IDB.MW.Application.Core.ViewModels.FormRendering.FieldDataViewModel

@{
    
    if (Model!=null)
    {
        Model.Attributes = Model.Attributes ?? new List<KeyValuePair<string, string>>();
        Model.CssClass = "someClass";
        <div class="@Model.CssClass">
            @Html.Partial("FormRendering/Controls/" + Model.FieldType.ToString() + "Control")
        </div>
    }
}

