@using IDB.Presentation.MVC4.Services.Core.DynamicFormsHelper
@model IDB.MW.Application.Core.ViewModels.FormRendering.FieldDataViewModel

    <div class="LabelsGroup">
        <div data-pagemode="edit" class="lgCont">
            <label class="lgTit">@Model.Title</label>
            @Confluence.InputTextArea(
                Model.InitialValue,
                Model.Name,
                Model.Name,
                500,
                true,
                false,
                Model.CssClass,
                false,
                null,
                Model.Attributes.ToDictionary(x => x.Key, x => x.Value),
                width: "100%",
                height: "50px")
        </div>

    </div>

    <div class="hide">
        <input type="hidden" class="justification-text" value="@Model.InitialValue" />
    </div>
