@using IDB.Architecture.Language;

@model IDB.MW.Application.PMR.Models.CreatePortfolioViewModel

<div class="header">
    <div class="grouping-section">
        @Confluence.LabelMainTitle(text: Localization.GetText("AP.PMR.Portfolio.CreatePortfolioPMR"))
    </div>
    <div class="row grouping-section">
        <div class="col-md-6 text-left">
            @Confluence.LabelMainSubTitle(
                text: Localization.GetText("AP.PMR.Portfolio.CurrentCycle") +
                    ": " + Model.CurrentPMRCycle + " - " + Model.PmrCycleName)
        </div>
        <div class="col-md-6 text-right">
            @Confluence.ButtonExcel(
                name: "downloadPortfolio",
                action: "downloadPortfolio",
                disabled: false)
        </div>
    </div>
</div>
