<div class="footer">
    <div class="row grouping-section">
        <div class="col-md-6 text-left">
            @Confluence.ButtonBlue(
                text: Localization.GetText("AP.PMR.Portfolio.Reset"),
                action: "resetPortfolio",
                name: "resetPortfolio")
        </div>
        <div class="col-md-6 text-right">
            @Confluence.ButtonBlue(
                text: Localization.GetText("Common.Save"),
                action: "saveDraftPortfolio",
                name: "saveDraftPortfolio")
            @Confluence.ButtonBlue(
                text: Localization.GetText("AP.PMR.Portfolio.CreatePortfolio"),
                action: "createPortfolio",
                name: "createPortfolio")
        </div>
    </div>
</div>
