@section CSS
{
    <link rel="stylesheet" href="@Url.Content("~/Content/Modules/EvaluationTracking/DocumentAdd.css")" />
}
<script type="text/javascript" src="@Url.Content("~/Scripts/modal/modal.js")"></script>
@{
    var close = (object)ViewBag.closeWindow;
}
@if (close == null)
{

}
<script type="text/javascript">
    var iframeMode = true;
</script>
<div class="clauses_add_doc">
    <div class="idb-content-page k-window k-widget k-content ">
        @{Html.RenderAction("IndexDocumentRelationship", "Document",
    new { area = "", iframeMode = false, businessAreaCode = "BA_RESULTS_MATRIX" });}
    </div>
</div>