@model IDB.MW.Domain.Models.Architecture.EvaluationTracking.EvaluationTrackingModel
@{
    ViewBag.Title = "Index";
    bool isLessTaskFive = ViewBag.isLessTaskFive ?? false;
}

<div class="mod_contenido_central">
    <h3 class="headingh2">@Localization.GetText("Evaluation Tracking")</h3>
    <div class="editingButtons marginRight2Con5">
        @if (Model.ResultsMatrix.ValidationStage.NameEn == "Draft"
            && Html.HasPermission("Evaluation Tracking Write"))
        {
            <a href="@(Url.Action("NewEditEvaluation", "EvaluationTracking",
                new { area = "EvaluationTracking", operationNumber = IDBContext.Current.Operation }))"
                title="@Localization.GetText("Edit")" class="btn btn-primary"><span>@Localization.GetText("Edit")</span></a>
        }
    </div>
</div>