@using IDB.MW.Application.CountryStrategyModule.Enums
@using IDB.Presentation.MVC4.Helpers
@using IDB.MW.Application.CountryStrategyModule.ViewModels.MonitoringResultMatrix

@model CSObjectiveDetailViewModel

@if (!Model.IsExpired && SecurityHelper.IsVisible(Model.FieldAccessList, "cs-monitoring-edit-control"))
{ 
    <div data-id="headerButtons" class="float-right" data-idb-fieldname="cs-monitoring-edit-control">
        @Confluence.ButtonBlue(Localization.GetText("Common.Edit"), name: "edit")
    </div>
}