@model IDB.MW.Domain.Models.Security.FieldAccessModel
<div data-id="headerButtons" class="text-right" data-idb-fieldname="btnEditDocumentsTab">
    <div data-pagemode="read">
        @if (Model != null && Model.IsVisible && ViewBag.EditableScreen == true)
            {
            @Confluence.ButtonBlue(Localization.GetText("VMR.MM.MeetingRoom.Edit"), null, "edit", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnEditDocumentsTab" } })
        }
        @Confluence.ButtonBlue(Localization.GetText("VER.GLOBAL.DOWNLOAD.ZIP"), action: "downloadDocumentZipVmr", dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "btnDownloadZip" } })
    </div>
    @if (Model != null && Model.IsVisible && ViewBag.EditableScreen == true)
    {
        <div data-pagemode="edit">
            @Confluence.ButtonLink(Localization.GetText("VMR.MM.MeetingRoom.Cancel"), null, "cancel")
            @Confluence.ButtonOrange(Localization.GetText("VMR.MM.MeetingRoom.Save"), null, "save")
        </div>
    }
</div>