@if (ViewBag.EditableScreen == true)
{
    <div data-id="headerButtons" class="text-right" data-idb-fieldname="btnEditParticipantsTab">
        <div data-pagemode="read">
            @Confluence.ButtonBlue(Localization.GetText("VMR.MM.MeetingRoom.Edit"), null, "edit", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnEditParticipantsTab" } }) 
        </div>

        <div data-pagemode="edit">
            @Confluence.ButtonLink(Localization.GetText("VMR.MM.MeetingRoom.Cancel"), null, "cancel")
            @Confluence.ButtonOrange(Localization.GetText("VMR.MM.MeetingRoom.Save"), null, "save")
        </div>
    </div>
}