@model IDB.MW.Application.VMRModule.ViewModels.VmrCommentSaveViewModel
<div data-id="headerButtons" class="text-left" style="margin-top: -20px;" data-idb-fieldname="btnTreeCommentsTab">
    @Confluence.ButtonLink(Localization.GetText("VMR.MM.MeetingRoom.Cancel"), "cancelButtonTree", "cancelButtonTree", dataAttributes: new Dictionary<string, string> { { "source", Model.TreeLevel.ToString() } })
    @Confluence.ButtonOrange(Localization.GetText("VMR.MM.MeetingRoom.Save"), null, "saveComment", dataAttributes: new Dictionary<string, string> { { "source", Model.TreeLevel.ToString() } })
</div>