.buttonCancel{   
    margin-right: 5em;    
    width: 10%;
    text-align: center;
}
.buttonContinue{
    margin-left: 5em;   
    width: 10%;
    text-align: center;
}
.pieWarning {
    width: 95%;
    float: left;
}
.k-window  div.k-window-content
{
    overflow: hidden;
}
