@using IDB.MW.Application.CPDModule.ViewModels.ProductProfile

@model  ResponsibilityDataViewModel
@Confluence.InputHidden(ViewBag.SerializedResponsibilityDataViewModel, name: "hideViewModel")
<div class="row mb30">
    <div class="col-md-12">
        @Html.Partial("EditPartial/ResponsibleUnitPartial", Model.ResponsibilityUnits)
    </div>
</div>
<div class="row mb30">
    <div class="col-md-12">
        @Html.Partial("EditPartial/OperationTeamPartial", Model.OperationTeam)
    </div>
</div>