<script>
    $(document).ready(function () {

        $("#lnkCancelSaveChanges").click(function () {
            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $(".ui-widget-overlay").remove();
            $(".k-overlay").remove();
            $(".k-window").remove();
        });

        $("#btnSaveChanges").click(function () {
            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $(".ui-widget-overlay").remove();
            $(".k-window").remove();
            SaveChanges();
        });
    });
</script>

<div style="padding: 20px;">
    @Localization.GetText("Only Findings and Recommendations related to the current cycle can be edited")
</div>
<div class="pie pieReassign">
    <div class="botones">
        <a title="@Localization.GetText("Cancel")" class="cancel" id="lnkCancelSaveChanges" href="javascript:void(0)"> @Localization.GetText("Cancel")</a>

    </div>
</div>