@using IDB.Architecture.Language
@using NewConfluence
@using IDB.Presentation.MVC4.Helpers

@model IDB.Presentation.MVC4.Models.Documents.OperationLevelDocumentViewModel

<div id="documentSection" data-target ="@Url.Action("AddGeneralDocumentReference", "Document", new { operationNumber = Model.OperationNumber})">
    @DocumentManagement.DynamicTable("localDocumentsTable", "localDocumentsTable", Model.Table, Model.DisplayUploadDocument, true)
</div>