@using IDB.Architecture.Language;
@using IDB.MVCControls.General.Helpers;
@using IDB.Presentation.MVC4.Helpers;

@model IDB.Presentation.MVC4.Models.Documents.OperationLevelDocumentViewModel


<div class="row mt10">
    @DocumentManagement.DynamicTable("keyDocuments", "keyDocuments", Model.Table, false, false)
</div>

@if (Model.DisplayUploadKeyDocument)
{
    <div>
        @DocumentManagement.Modal(new IDB.Presentation.MVC4.Models.Documents.SearchDocumentModalViewModel
           {
               SearchModalId = "documentModal",
               MultipleSelection = false,
               TargetFunction = "addKeyDocument",
               BusinessAreaCode = "BA_LIFE_CYCLE",
               OperationNumber = Model.OperationNumber,
               IsKeyDocument = true
           })
    </div>
}