@using IDB.Architecture.Language
@using IDB.Presentation.MVC4.Models.DocumentManagement

@model IDB.Presentation.MVC4.Models.Documents.OperationLevelDocumentViewModel

@DocumentManagement.DiscloseForm()

<div class="row pb20 pt20 mb150">
    @using (Ajax.BeginForm("CheckDisclosableDocument", "Disclose",
                                new PublishDocumentViewModel
                                {
                                    OperationNumber = Model.OperationNumber
                                },
                                new AjaxOptions()
                                {
                                    HttpMethod = "Post",
                                    OnBegin = "publishBegin",
                                    OnFailure = "publishFail",
                                    OnSuccess = "publishSuccess"
                                },
                                new
                                {
                                    id = "frmPublishDocument",
                                    @class = "filterNormal"
                                }))
    {
        <label class="labelNormal bold">@Localization.GetText("Doc Number")</label>
        <input name="DocumentNumber" type="text" data-force-parsley-validation="true"
               id="DocumentNumber" data-parsley-required="true" required="required"
               class="inputText" autocomplete="off">
        <input class="buttonBlue" onclick="checkDisclosableDocument()" type="button" value='@Localization.GetText("DM.Publish")'>
    }

</div>
