
<div class="col-md-12 mt30 text-right pr0">
    @Confluence.ButtonExcel("xls", "downloadOperationBudgetDocument")
    @Confluence.ButtonPdf("pdf", "downloadOperationBudgetDocument")
</div>

<div class="col-md-12 mt30 text-right pr0">
    @Confluence.ButtonBlue(
        text: Localization.GetText("SP.OperationBudget.link.dashboard"),
        action: "openSupervisionPlanDashboard",
        htmlClass: "bold")
</div>