@using IDB.MW.Application.DEMModule.ViewModels

@model AlignmentContributionDemViewModel

<input type="hidden" id="hidCountryDataViewModel" value="@Model.SerializedViewModelCountry" />
<div class="row mb10">
    <div class="grouping-section mb0">
            <div class="col-md-12 mt10 pl15">
                @Confluence.Label(Localization.GetText("R6.DEM.CountryDevelopmentResults.Instructions"), htmlClass: "titleLabel")
            </div>
    </div>
</div>

@Html.Partial("~/Areas/DEM/Views/View/Partials/Tabs/Country/CountryIndicatorsDem.cshtml", Model)


