@using IDB.MW.Domain.Contracts.ModelRepositories.Supervision.PMI
@model bool

<script>
    $(document).ready(function () {
        $("#lnkCancelWorkFlow").click(function () {
            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $(".ui-widget-overlay").remove();
            $(".k-window").remove();
            $(".k-overlay").remove();
        });

        $("#btnStartWorkFlow").click(function () {
            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $(".ui-widget-overlay").submit();
            $(".k-window").remove();
            SendReq();
        });
    });
</script>

@{
    var isMatrixChangesValid = bool.Parse(ViewData["isMatrixChangesValid"].ToString()); // is this really required?
    var wfStart = ViewData["WFStart"].ToString();
}

@{
    var confirmMessage =
    ViewData["WFStart"].ToString() == PMIConfirmationMessage.TL_COMPLETED ? Localization.GetText("This action will send the Progress Monitoring Report to your supervisors for validation. Please note that, if necessary, you can still cancel this action and use the \"Verify Content\" functionality to ensure the correctness and completeness of the data.  Do you want to proceed with the validation of the PMR Cycle?") :
    ViewData["WFStart"].ToString() == PMIConfirmationMessage.COMBINED ? Localization.GetText("This action sends the Start- up plan and Progress Monitoring Report to your supervisors for validation. You may verify the content of the information by using the \"verify content function.\" To do so, you must cancel first. Would you like to proceed with the validation?") :
    ViewData["WFStart"].ToString() == PMIConfirmationMessage.PMI_WARNING || 
        ViewData["WFStart"].ToString() == PMIConfirmationMessage.PMI_RESTRICT ?
        (Model ? Localization.GetText("PMI.Warning.TLCompleted.Startup.CycleSeptember") : 
            Localization.GetText("PMI.Warning.Message1")) :
    //StartUp Plan
    Localization.GetText("This action sends the Start- up plan for validation. You may verify the content of the information by using the \"verify content function.\" To do so, you must cancel first. Would you like to proceed with the Start-up plan validation?");
}
<div style="padding: 20px;">
    @Html.Raw(confirmMessage)
</div>
<div class="pie pieReassign">
    <div class="botones">
        <a title="@Localization.GetText("Cancel")" class="cancel" id="lnkCancelWorkFlow" href="javascript:void(0)">@Localization.GetText("Cancel")</a>
        <label for="delete">
            @if (
                ((wfStart == PMIConfirmationMessage.TL_COMPLETED ||
                wfStart == PMIConfirmationMessage.COMBINED) && isMatrixChangesValid) ||
                wfStart != PMIConfirmationMessage.PMI_RESTRICT)
            {
                <input type="button" value=" @Localization.GetText("Continue") " class=" btn-primary" id="btnStartWorkFlow">
            }

        </label>
    </div>
</div>

