<!DOCTYPE html>
<html>
<head>
   <meta name="viewport" content="width=device-width" />
   <title>Warning</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/esmartGeneral.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/general.css")" />
</head>
<body class="backgroundFFFFFF">
   <form id="form">
           <div class="padding20" style="margin: auto; text-align: center;">
             <h2>
               <p>@Localization.GetText("This operation does not have an approval date, therefore there are not indicators available")</p>
            </h2>
            <img src="@Url.Content("~/Images/Modulos/assets/Mistakeimage.png")" Style="width:150px; height:150px; "/>
            <br />
         </div>
             
   </form>
</body>
</html>

