<div>
    <table class="tableNormal">
        <thead>
        <tr>
            <th>@Localization.GetText("SP.Summary.ModalMilestone.ComponentName")</th>
            <th>@Localization.GetText("SP.Summary.ModalMilestone.OutputName")</th>
            <th>@Localization.GetText("SP.Summary.ModalMilestone.Add")</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>ComponenName</td>
            <td>OutputName</td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
