@using IDB.MW.Application.CPDModule.ViewModels.CSProgressToDate;
@using IDB.Presentation.MVC4.Areas.CPD.Models

@model ProgressToDateViewModel

<div data-id="headerButtons" class="float-right">
    @if (ViewBag.ActiveTab == NavigationAttributes.TAB_NAME_PROGRESSTODATE)
    {
        <div data-type="contentButtons" data-id="edit-ProgressDate">
            @Confluence.ButtonLink(Localization.GetText("Common.Cancel"), name: "cancel-PTD")
            @Confluence.ButtonOrange(Localization.GetText("Common.Save"), name: "save-PTD")
        </div>
    }
    @if (ViewBag.ActiveTab == NavigationAttributes.TAB_NAME_PD_USEOFCS)
    {
        <div data-type="contentButtons" data-id="edit-UseCS">
            @Confluence.ButtonLink(Localization.GetText("Common.Cancel"), name: "cancel-UseCS")
            @Confluence.ButtonOrange(Localization.GetText("Common.Save"), name: "save-UseCS")
        </div>
    }
</div>