/* Custom Pagination */
.page-number {
    border: 1px solid #F7F7F7;
    color: #FFFFFF;
    display: block;
    float: left;
    margin-right: 3px;
    padding: 1px 5px 1px;
    text-decoration: none;
    font-size: 0.8em;
    background-color: #1F396C;
    cursor: pointer;
}

.pagingFooter {
    background-color: #F5F5F5;
    float: right;
}

.pagingFooterRight {
    float: right;
    width: auto;
    margin-right: 10px;
}

.pagingFooterLeft {
    float: left;
    width: 50%;
    color: #6E6E6E;
}

.availableChampions {
    padding: 4px;
    padding-left: 8px;
    color: #1691D3;
}

.currentPage {
    color: #3275C7;
    background-color: #FFFFFF;
    cursor: default;
}

.divtblFooter {
    min-height: 20px;
    padding: 10px;
}
