@using IDB.MW.Application.CountryStrategyModule.ViewModels.ResultMatrix

@model  ObjectiveViewModel

<div class="boxlanguage">
    <div class="floatLeft">
        <ul>
            <li dd-lang="en" onclick="multiLenguague(this)">
                <span class="langText">
                    <label class="labelNormal langText">EN</label>
                </span>
                <span class="asteriskColor">*</span>
                <span class="glyphicon glyphicon-play"></span>
            </li>
            <li dd-lang="es" onclick="multiLenguague(this)">
                <span class="langText">
                    <label class="labelNormal langText">ES</label>
                </span>
                <span class="asteriskColor">*</span>
                <span class="glyphicon"></span>
            </li>
            <li dd-lang="pt" onclick="multiLenguague(this)">
                <span class="langText">
                    <label class="labelNormal langText">PT</label>
                </span>
                <span class="glyphicon"></span>
            </li>
            <li dd-lang="fr" onclick="multiLenguague(this)">
                <span class="langText">
                    <label class="labelNormal langText">FR</label>
                </span>
                <span class="glyphicon"></span>
            </li>
        </ul>
    </div>
    <div dd-lang="en" class="contentboxlanguage">
        @Confluence.LabelLink(Model.CountryStrategicObjective,
            name: "linkMonitoringByObjective",
            htmlClass: "text-left",
            dataAttributes:
            new Dictionary<string, string> { { "objectiveId", Model.ObjectiveId.ToString() } })
    </div>
    <div dd-lang="es" class="contentboxlanguage hide">
        @Confluence.LabelLink(Model.CountryStrategicObjectiveES,
            name: "linkMonitoringByObjective",
            htmlClass: "text-left",
            dataAttributes:
            new Dictionary<string, string> { { "objectiveId", Model.ObjectiveId.ToString() } })
    </div>
    <div dd-lang="pt" class="contentboxlanguage hide">
        @Confluence.LabelLink(Model.CountryStrategicObjectivePT,
            name: "linkMonitoringByObjective",
            htmlClass: "text-left",
            dataAttributes:
            new Dictionary<string, string> { { "objectiveId", Model.ObjectiveId.ToString() } })
    </div>
    <div dd-lang="fr" class="contentboxlanguage hide">
        @Confluence.LabelLink(Model.CountryStrategicObjectiveFR,
            name: "linkMonitoringByObjective",
            htmlClass: "text-left",
            dataAttributes:
            new Dictionary<string, string> { { "objectiveId", Model.ObjectiveId.ToString() } })
    </div>
</div>