@using IDB.MW.Application.CountryStrategyModule.ViewModels.ResultMatrix
@using IDB.MW.Application.CountryStrategyModule.Enums
@using IDB.Presentation.MVC4.Helpers

@model ResultMatrixViewModel

@if (Model.Status == CountryStrategicStatusEnum.Draft &&
    SecurityHelper.IsVisible(Model.FieldAccessList, "cs-result-matrix-edit-control"))
{
    <div data-id="headerButtons" class="float-right" data-idb-fieldname="cs-result-matrix-edit-control">
        @Confluence.ButtonBlue(Localization.GetText("Common.Edit"), name: "edit")
    </div>
}
