@using IDB.MW.Application.CountryStrategyModule.ViewModels.ResultMatrix
@using IDB.Presentation.MVC4.Areas.CountryStrategy.HtmlHelpers
@using System.Globalization
@using IDB.MVCControls.DataTable.Helpers
@using NewConfluence

@model List<ExpectedOutcomeIndicatorViewModel>
@{
    var config = Html.RenderDataTable(Model);
    config.TableClass = "tableNormal tableResultsMatrix";
    config.Name("Outcomes")
    .PrimaryKey(x => x.ExpectedOutcomeId.ToString(CultureInfo.InvariantCulture))
    .UseDataTableNet(false)
    .UsePageMode(false)
    .AddPrimaryKeyToName(false)
    
    .Columns(columns =>
    {
        columns.Bound(c => c.ExpectedOutcome)
            .Persistent()
            .Header(Localization.GetText("CS.ResultMatrix.ExpectedOutcome"))
            .Attribute("rowspan", x => x.RowSpanIndicatos.ToString())
            .CssClassDynamic(c => GetClassOutcome(c.IsInitialOutcome))
            .CssClass("padding5pxCell borderButtonGray");

        columns.Bound(c => c.Indicator)
            .Persistent()
            .Header(Localization.GetText("CS.ResultMatrix.Indicator"))
            .CssClassDynamic(c => GetClassBorderGray(c.LastRowOutcome));


        columns.Bound(c => c.UnitOfMeasure)
            .Persistent()
            .Header(Localization.GetText("CS.ResultMatrix.UnitMeasure"))
            .CssClassDynamic(c => GetClassBorderGray(c.LastRowOutcome));

        columns.Bound(c => c.Baseline)
            .Persistent()
            .Header(Localization.GetText("CS.ResultMatrix.Baseline"))
            .CssClassDynamic(c => GetClassBorderGray(c.LastRowOutcome));

        columns.Bound(c => c.BaselineYear)
            .Persistent()
            .Header(Localization.GetText("CS.ResultMatrix.BaselineYear"))
            .CssClassDynamic(c => GetClassBorderGray(c.LastRowOutcome));

        columns.Bound(c => c.Source)
            .Persistent()
            .Header(Localization.GetText("CS.ResultMatrix.Source"))
            .HeaderAttribute("style", "width: 70px;")
            .CssClassDynamic(c => GetClassBorderGray(c.LastRowOutcome));

        columns.Template(AlignmentToCRF)
            .Persistent()
            .Header(Localization.GetText("CS.ResultMatrix.AlignmentCRF"))
            .HeaderAttribute("style","width: 15%;")
            .CssClassDynamic(c => GetClassBorderGray(c.LastRowOutcome));
    });
}

@Html.Partial("Controls/DataTable", config)


@helper AlignmentToCRF(ExpectedOutcomeIndicatorViewModel model)
{
    <div class="lblvalue bold" style="margin-left:15px; font-size:11px !important;">
        @if (model.LinkedIndicators.Any())
        {
            <ul class="linked-indicators">
                @foreach (var indicator in model.LinkedIndicators)
                {
                    <li title="@(getCRFType(indicator, ViewBag.CRFIndicators))" class="@(getCRFType(indicator, ViewBag.CRFIndicators))">@FunctionConfluence.GetSelectedText(indicator.ToString(), ViewBag.CRFIndicators)</li>
                }
            </ul>
        }
    </div>
}

@functions{     
    private static string getCRFType(int indicatorId, List<SelectListItem> indicators)
    {
        var crfType = "";
        var indicator = indicators.Where(x => x.Value == indicatorId.ToString());
        crfType = indicator.Select(x => x.Group.Name).First();
        return crfType;
    }
    
    private static string GetClassOutcome(bool IsInitialOutcome)
    {
        var classOutcome = string.Empty;

        if (!IsInitialOutcome)
        {
            classOutcome = "hide";
        }
        return classOutcome;
    }

    private static string GetClassBorderGray(bool LastRowOutcome)
    {
        var classOutcome = string.Empty;

        if (LastRowOutcome)
        {
            classOutcome = "borderButtonGray";
        }
        return classOutcome;
    }
}
