@using IDB.MW.Application.CountryStrategyModule.ViewModels.ResultMatrix
@using IDB.MW.Application.CountryStrategyModule.Enums
@using IDB.MW.Infrastructure.Configuration
@using IDB.MVCControls.General.Helpers
@using IDB.Presentation.MVC4.Helpers

@model PortfolioModeViewModel

@if (Model.ResultMatrix.Status != CountryStrategicStatusEnum.Expired && Model.IsCurrentOperationActive && SecurityHelper.IsVisible(Model.FieldAccessList, "cs-portfolio-edit-control"))
{
    <div data-id="headerButtons" class="float-right">
        @Confluence.ButtonBlue(Localization.GetText("Common.Edit"), name: "edit", dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "cs-portfolio-edit-control" } })
    </div>
}