@using IDB.Architecture.Language
@model IDB.MW.Application.ConvergenceValidationsModule.ViewModels.VerifyContentViewModel

<div class="row">
    @if (Model.VerifyContent.Any())
    {
        <table class="tableNormal tableNormalBorder" id="verifyContentTable">
            <thead>
                <tr>
                    <th>@Localization.GetText("VER.VerifyContent.Title.Validation")</th>
                    <th class="w40">@Localization.GetText("VER.VerifyContent.Title.Result")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var verify in Model.VerifyContent)
                {
                    @Html.Partial("Controls/ConvergenceValidation/ModalVerifyContentTableRow", verify)
                }
            </tbody>
        </table>
    }
    else
    {
        <div align="center">
            <h4>@Localization.GetText("VER.GLOBAL.MSG.NO.ITEMS.PENDING")</h4>
        </div>
    }
</div>