
<script type="text/javascript">
    
    $(document).ready(function () {
        $("#CancelDelete").click(function () {
            var modal = $(".dinamicModal").data("kendoWindow");
            modal.close();
            $(".ui-widget-overlay").remove();
        });
        $("#ConfirmDelete").click(function (event) {
            event.preventDefault();
            
            $("#ConfirmDelete").addClass('disabled');
            $("#ConfirmDelete").prop('disabled', true);
            
            var route = $('.ac-DeletePlan').attr("data-route"); 
            route += "?planVersionId=" + $("#main-form").find("#PlanVersionId").attr("value") + "&year=" + $("#main-form").find("#Year").attr("value") + "&operationNumber=" + $("#main-form").find("#OperationNumber").attr("value");
            location.href = route; 

            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $("body").find(".ui-widget-overlay").remove();
        });
    });
</script>
<div class="padding20 popUpBody">
    <div class="marginBottom2">
        <div>
             @Localization.GetText("This action cannot be undone, are you sure you wish to continue?")
        </div>
        <div class="rightAlign absolute right1 verticalPadding10 w60">
            <input type="button" class="button blueButton" id="ConfirmDelete" value="@Localization.GetText("Delete")" />
            <input type="button" class="button blueButton" id="CancelDelete" value="@Localization.GetText("Cancel")" />
        </div>
    </div>
</div>