

<div class="padding20 popUpBody">
    <div class="marginBottom2">
        <div>
             @Localization.GetText("This action will change current view to the selected year, creating a Supervision Plan if it does not previously exist.")
        </div>
        <div class="rightAlign absolute right1 verticalPadding10 w60">
            <input type="button" class="button blueButton" id="ConfirmCreation" value="@Localization.GetText("OK")" />
            <input type="button" class="button blueButton" id="CancelCreation" value="@Localization.GetText("Cancel")" />
        </div>
    </div>
</div>
