@if (ViewBag.Permission != false || ViewBag.AttributePermission != false)
{
    <div class="header">
        <div class="row">
            <div class="col-md-12">
                <h3 class="titlePrincipal">@Localization.GetText("R6.DEL.AuthorizationData.Subdelegation.Attributes")</h3>
            </div>
        </div>
    </div>
    <div id="PageContent"
         data-parsley-validate="data-parsley-validate"
         data-parsley-excluded="[disabled]">
        @Html.Partial("Partials/AttributeListFilterPartials")
        @*ATTRIBUTE TABLE*@
        <div id="tableAttributeMain">
        </div>
    </div>

    <div class="footer">

    </div>
}
@section scripts{

    <script type="text/javascript">

        function edit(source) {
            var success = enterEditMode(false, $("#attributeListFilterPartial"), false);
            if (success) {
                enterEditMode(false, $('[data-id=headerButtons]'), false);
            }
        }

        function cleanAttributeButton() {
            cleanfilter();
            $("#msgResult").remove();
            $("#AttributeTable_wrapper").remove();
        }

        function cleanfilter() {
            $("#id-SearchAttribute").FirstorDefault();
            $("[name='OperationType']").Clean();
            $("[name='RelationshipType']").Clean();
            $("#id-Section").FirstorDefault();
            $("[name='ExpiredCheckInclude']").prop('checked', false);
            $("[name='SearchAttribute_text']").val("");
            $("[name='SearchAttribute']").val("");
        }

        function searchAttributeFilter(source) {
            var content = $(source).closest('[name="searchAttributeContent"]');
            var searchAttributeId = parseInt(content.find('[name="SearchAttribute"]').val()) ? parseInt(content.find('[name="SearchAttribute"]').val()) : -1;
            var searchOperationType = parseInt(content.find('[name="OperationType"]').val()) ? parseInt(content.find("[name='OperationType']").val()) : -1;
            var searchRelationshipType = parseInt(content.find('[name="RelationshipType"]').val()) ? parseInt(content.find("[name='RelationshipType']").val()) : -1;
            var searchSection = parseInt(content.find('[name="Section"]').val()) ? parseInt(content.find('[name="Section"]').val()) : -1;
            var searchExpirationDate = content.find('[name="ExpiredCheckInclude"]').is(':checked');

            $('#AttributeTable').remove();
            $('div.Pagination[dd-table=AttributeTable]').remove();

            postUrlWithOptions("@Url.Action("SearchAttributeFilter", "AttributeView")", { async: false }, { 'searchAttributeId': searchAttributeId, 'searchOperationType': searchOperationType, 'searchRelationshipType': searchRelationshipType, 'searchSection': searchSection, 'searchExpirationDate': searchExpirationDate })
                .done(function (data) {
                    var resultSearchPanel = $('#tableAttributeMain');
                    resultSearchPanel.html(data);
                    bindHandlers(resultSearchPanel);
                    $("#AttributeTable").paginationConfluense(10);
                });
            return false;
        }
        function newAttribute() {
            window.location.href = '@Url.Action(controllerName: "AttributeView", actionName: "AttributeEdit", routeValues: new {area = "AdministrationSecondPhase", id = "0" })';
        }
    </script>
}