
.risksList .cajaGeneralFilter2 { margin-left: 5%; width:89%; padding: 16px 16px 10px; height:233px; margin-bottom: 15px; }
.risksList .smallFilter2 {float:left; width: 22.4%;}
.risksList .k-input {font-family: "OpenSans-Italic" !important;}

.risksList .cajaGeneralFilter2 a.advancedSearchFilter2 { width: 100%; float: left; color: #AAAAAA; height: 35px; overflow: hidden; border-radius: 5px; background: url("../Images/Modulos/filter/flecha-abajo-azul.png") no-repeat 95% center white; border: 1px solid #ccc; }
.risksList .cajaGeneralFilter2 a.advancedSearchFilter2 span { float: left; font-family: "OpenSans-Italic" !important; padding: 0.5em 0 0.5em 0.5em; }
.risksList .cajaGeneralFilter2 a.advancedSearchFilter2.activo { color: #FFFFFF; background: url("../Images/Modulos/filter/flecha-arriba-blanca.png") no-repeat 95% center #0d306e; }

.risksList .cajaGeneralFilter2 ul li.bigFilter2 { float: left; width: 30%; margin: 0 0 0.9375em 2em; }
.risksList .cajaGeneralFilter2 ul li.bigFilter2.datePicker { margin-left: 2.5%; }
.risksList .cajaGeneralFilter2 ul li.bigFilter2.datePicker .textoDatepicker { padding: 0.7em 2% 0em 0em; float: left; }
.risksList .cajaGeneralFilter2 ul li.bigFilter2.datePicker .dateSelect { width: 100%; max-width: none; }
.risksList .cajaGeneralFilter2 ul li.bigFilter2.datePicker .dateSelect .k-widget { width: 47%; }
.risksList .cajaGeneralFilter2 ul li.mediumFilter2 { float: left; width: 48%; margin: 0 0 0.9375em 2em; }
.risksList .cajaGeneralFilter2 ul li.mediumFilter2:first-child { margin-left: 0; }
.risksList .cajaGeneralFilter2 ul li.smallFilter2 { float: left; width: 22.4%; margin: 0 0 0.9375em 3.2%; }
.risksList .cajaGeneralFilter2 ul li.smallFilter2:first-child { margin-left: 0; }
.risksList .cajaGeneralFilter2 ul li.smallFilter2.smallDatepicker { width: 44.8%; margin-left: 6.55%; }
.risksList .cajaGeneralFilter2 ul li.smallFilter2.smallDatepicker:first-child { margin-left: 0; }

.risksList .cajaGeneralFilter2 input.textoGrandeFilter2 { width:  72%; background: #FFFFFF; border-radius: 5px; padding: 0 0.5em; color:#AAAAAA; font-size:14px; font-family: "OpenSans-Italic" !important; min-height: 2.1875em; margin-bottom: 2.1875em; border: 1px solid #CCDCF2; }
.risksList .cajaGeneralFilter2 input.textoGrandeFilter2.no-margin { margin: 0; }

.risksList .mod_tabla table tbody tr {font-size:0.85em !important; }

.risksList .verticalMargin10 {margin-top:10px 0}
.risksList .inline-block {display:inline-block; vertical-align:top;}
.risksList .w33 {width: 33%;}
.risksList .w18 {width: 18%;}
.risksList .margin-left{margin-left:3%;}
.risksList .expanded {background:#0977D0;color:#FFFFFF;}
.risksList .expanded  a{background:#0977D0;color:#FFFFFF;}
.risksList .expanded:hover {background:#0977D0 !important;color:#FFFFFF;}
#docTableUIRI001 { margin-left:4.8%; width:90%; float: left;}
#commentTableUIRI001 { margin-left:4.8%; width:90%;}
#commentTableUIRI001_edit { margin-left:4.8%; width:90%;}
#commentTableUIRI002_edit { margin-left:4.8%; width:90%;}
#tableSortUIRI001_edit { margin-left:4.8%; width:90%;}
#docTableUIRI001_edit { margin-left:4.8%; width:90%; float:left;}
#OperationRiskLevelId{width:250px !important;}

.font1-5em{
    font-family:"OpenSans-Light";
    font-size: 1.5em;
}
.grayBorder{   border: 1px solid #CCCCCC; }
textarea{
    border: 1px solid #CCCCCC;
    font-family: 'OpenSans-Regular';
    font-size: 100%;
    margin: 0;
    overflow:hidden;
    resize: none;
    white-space: normal;
	padding: 10px;
}


.deleteTextButton{
    background: #ffffff url("../../../Images/icons/removeIcon.png") no-repeat 5px center;
    border: 1px solid #cbdcf2;
    border-radius: 5px;
    color: #0F336F;
    cursor: pointer;
    font-size: 0.8em;
    font-weight: bold;
    padding: 5px 10px 5px 25px;
}
.operationButton:hover, .deleteTextButton:hover{
    background-color: #eff4fb;
}
.TabCombo {
        margin-top: 4px;
        margin-left: 5px;
        margin-right: 20px;
        margin-bottom: 10px;
    }

    .noborders {
        margin-left: 15px; 
    }

    .StatusRiskColorItem {
        float: left;
        width: 16px;
        height: 16px;
        background-color: #ff6a00;
        padding: 0 0 0 0px;
        margin: 0 0 0 0px;
        border: 0 0 0 0px;
        position:absolute; 
    }

.Tx_DescriptionStyleBasic 
{
    padding: 4px;
    text-shadow: 1px;
    font-family: Verdana; 
    font-size:12px;
    color: #716e6e;  
    width: 94%; 
}

.separatorDropDownRisk 
{
    padding: 0px 0px 5px 5px; 
    width: 19%; 
    text-shadow: 1px;
    font-size: 15px; 
    font-family: Verdana;     
    color: #716e6e;
    height: 40px; 
}

.ContentCombosRisk 
{   
    padding:  5px 0 5px 5px; 
    width:96%; 
}



.SelectRiskStyle 
{
    font-size: 12px; 
}

    .SelectRiskStyle p 
    {
        width: 50px; 
        padding-left: 5px;  
    }

.SelectItemRiskStyle 
{
    width: 200px; 
}

.OperationLetterRiskIndicator 
{
    font-weight: bold;  
    text-shadow: 0 0 0 0px; 
}






