/**
 * Wed, 30 Octuber 2013
 * eSmart Group
 * Kendo theme for everis  ui widget kendo-based (comboBox, datePicker, etc)
 */

.kendoDropDown{

}

.kendoComboBox{

}

.kendoDatePicker{

}

/*Styling comboBoxes*/
.k-dropdown-wrap, .k-popup.k-list-container, .k-picker-wrap, .k-calendar{
    background: #ffffff;
    border: 1px solid #ccc;
}

.k-picker-wrap .k-select{
    border: none;
}

.k-picker-wrap .k-select .k-icon{
    background: url('../../../Images/icons/datePicker.png') no-repeat scroll -35px center transparent;
    border: none;
}

.k-picker-wrap.k-state-active, .k-picker-wrap.k-state-active .k-select{
    background: #162F6C;
}

.k-picker-wrap .kendoDatePicker{
    color: #CDCDCD;
    background: transparent;
}


.k-picker-wrap.k-state-active .k-select .k-icon{
    background-position: -3px center;
}

.k-picker-wrap.k-state-active{}

.k-combobox, .k-dropdown{
}

.k-combobox .k-icon, .k-dropdown .k-icon{
    background: url('../../../Images/Modulos/filter/flecha-abajo-azul.png') no-repeat scroll center 0 transparent; 
    color:white;
}

.k-dropdown-wrap .k-input{
    color: #656668;
    font-size: 14px;
    height: 25px;
    margin: 0;
    padding: 0;
}

.k-popup .k-list .k-item{
    color: #656668;
    margin: 0;
    padding: 0 5px;
}

.k-popup .k-list .k-item.k-state-hover{
    background: #EEEFF3;
    border: none;
    color: #656668;
}

.k-popup .k-list .k-state-selected{
    color: #FFFFFF;
    border: none;
    background: #0977D0;
}

.k-picker-wrap, .k-calendar{
    border-radius: 3px;
    overflow: hidden;
}

.k-calendar{
    background: #ffffff;
    box-shadow: 2px 4px 10px 0px #ccc;
}
.k-calendar-container{
    background: transparent;
    border: 1px solid transparent;
    padding-bottom: 3px!important;
}

.k-calendar th{
    border-bottom: none;
}

.k-calendar tbody .k-state-selected, .k-calendar tbody td:hover{
    border-radius: 3px;
    background: #162F6C;
}

.k-calendar .k-content a.k-link{
    color: #000000;
    padding: 2px;
    text-align: center;
}

.k-calendar tbody .k-state-selected a.k-link, .k-calendar tbody td:hover a.k-link{
    color: #FFFFFF;
}

.k-calendar .k-content .k-other-month a.k-link{
    color: #CDCDCD;
}

.k-animation-container .k-link{
    color: #000000;
}