@model bool
<div data-id="headerButtons" class="text-right" data-idb-fieldname="btnEditBscDt">
    <br />
    <div data-pagemode="read">
        @if (Model)
        {
            @Confluence.ButtonBlue(Localization.GetText("AD.RE.Test"), "testRule", "testRule")
        }
        @Confluence.ButtonBlue(Localization.GetText("OP.OD.Edit"), null, "edit")
    </div>
    <div data-pagemode="edit">
        @Confluence.ButtonLink(Localization.GetText("OP.OD.Cancel"), null, "cancel")
        @Confluence.ButtonOrange(Localization.GetText("OP.OD.Save"), null, "saveRuleEng")
    </div>
</div>
