@using IDB.MW.Application.Core.ViewModels

@model List<MasterDataViewModel>

<div class="list-group" style="border-radius: 4px; border: 1px solid #ddd; overflow-y: auto; height:200px">
    @foreach (var item in Model)
    {
        <a href="#" class="list-group-item" dd-value="@item.Code">
            @item.Code - @item.GetLocalizedName(Localization.CurrentLanguage)
        </a>
    }
</div>