@using IDB.Presentation.MVC4.Helpers
@model IDB.MW.Application.AdministrationModule.ViewModels.RuleEngService.RuleEngGroupViewModel
@{
    var dropdownMasterType = Model.MasterType != null ?
        Html.BuildSelectItemList(Model.MasterType,
            o => o.Type,
            o => o.MasterTypeId.ToString()).ToList() :
        new List<SelectListItem>();
}
<div data-id="searchPanel">
    @Confluence.LabelsGroup(
        Localization.GetText("AD.RE.MasterType"),

        Confluence.InputDropDownAutoComplete(
            null,
            "masterTypeResult",
            dropdownMasterType,
            required: false,
            width: "500px",
            showButton: true,
            buttonAction: "showAllTypes",
            dataAttributes: new Dictionary<string, string>()
                {
                    { "idb-fieldname", "ddlMasterTypeResult" }
                }),
        false)

    <div class="LabelsGroup mt10">
        <label class="lgTit">@Localization.GetText("OP.MD.SE.Title")</label>
        <span class="lgContent" data-id="masterDataPanel">
        </span>
    </div>
</div>