@model IDB.MW.Application.AdministrationModule.Messages.RuleEngService.RuleEngTestRulesResponse

@foreach (var row in Model.TestRuleResult)
{
    <tr>
        <td>
            @row.OperationId.ToString()
        </td>
        <td>
            @row.OperationNumber
        </td>
    </tr>
}
@Confluence.InputHidden(Model.SqlSentence, "SqlSentence")