@model IDB.MW.Domain.Models.Architecture.ResultMatrix.Impacts.ImpactModel
@{
    ViewBag.Title = "Index";
}


<li>@Model.ImpactId</li>
<li>@Model.Observations</li>
<li>@Model.Statement</li>
<li>@Model.ResultsMatrixId</li>
