/**
 * ui_se_001-results_matrix Id's
 * Mon, 13 january 2014
 * eSmart Group
 */


#ui_se_001-results_matrix{
    
}

#searchBoxContainerSearchesResultsMatrix{
    
}

#searchBoxContainerSearchesResultsMatrix .kendoDropDown,
#searchBoxContainerSearchesResultsMatrix .kendoDatePicker{
    width: 100%;
}

#keywordFilterSearches

#allDepartmentFilterSearches{}

#allDivisionFilterSearches{}

#allCountryDepartmentFilterSearches{}

#allCountryFilterSearches{}

#operationTypeFilterSearches{}

#operationSubtypeFilterSearches{}

#overallStageFilterSearches{}

#teamMemberKeywordFilterSearches{}

#teamMemeberKeywordFilterSearches{}

#fundFilterSearches{}

#approvalYearFilterSearches{}

#searchFilterSearchesContainer .bold .k-input{
    font-weight: bold;
}

#outcomeImpactOutputKeywordFilterSearches{}

#pmrValidationStageFilterSearches{}

#proGenderProEtnicityFlagsFilterSearches{}

#pmrRequieredFilterSearches{}

#resultsTableResultsMatrixUISE001{}

#resultsTableResultsMatrixUISE001 tbody tr td,
#resultsTableResultsMatrixUISE001 thead tr th{
    width: 8.3%
}

.grid thead tr th {
        border-right: 1px solid #000000;
        padding: 5px 10px 5px;
        text-align: left;
        vertical-align: bottom;
    }

    .k-grid-header .k-header {
        overflow: hidden;
        border-style: solid;
        border-width: 0 0 1px 1px;
        padding: .5em .6em .4em .6em;
        font-weight: normal;
        white-space: nowrap;
        text-overflow: ellipsis;
        background-color: #264a7f;
    }

    .k-grid-header {
        padding-right: 0px !important;
    }

        .k-grid-header .k-header .k-link {
            display: block;
            min-height: 18px;
            line-height: 18px;
            margin: -0.5em -0.6em -0.4em -0.6em;
            padding: .5em .6em .4em .6em;
        }

    .k-pager-wrap .k-grid-pager .k-widget {
    }

    .k-grid td {
        border-style: none;
        border-width: 0 0 0 1px;
        padding: .4em .6em;
        overflow: hidden;
        line-height: 1.6em;
        vertical-align: middle;
        text-overflow: ellipsis;
    }

    .k-block, .k-widget, .k-inline-block, .k-textbox > input, .k-input[type="text"], .k-input[type="number"], .k-textbox, .k-picker-wrap .k-input, .k-button, .k-draghandle {
        font-size: 100%;
        font-family: inherit;
        border-style: none;
        border-width: 1px;
        -webkit-appearance: none;
        width: 100%;
    }

    .k-pager-numbers .k-link:hover {
    /* padding: 0 7px; */
     border-style: none; 
    /* border-width: 1px; */
    /* line-height: 22px; */
    }

    .k-pager-numbers .k-state-selected {
    border-style: solid;
    border-width: 1px;
    line-height: 22px;
    padding: 0 7px;
    -moz-border-radius: 0px;
     -webkit-border-radius: 0px; 
    -o-border-radius: 0px;
     border-radius: 0px; 
    border-bottom-color: #3B73C3;
    border-bottom-width: 2px;
    }

    .k-pager-numbers .k-state-selected:hover {
        background-color:white;
    }