/**
 * ui_se_001-supervision Id's
 * Mon, 13 january 2014
 * eSmart Group
 */

#ui_se_001-supervision{}

#searchBoxContainerSearchesSupervision{
    
}

#searchBoxContainerSearchesSupervision .kendoDropDown,
#searchBoxContainerSearchesSupervision .kendoDatePicker{
    width: 100%;
}

#keywordFilterSearches

#allDepartmentFilterSearches{}

#allDivisionFilterSearches{}

#allCountryDepartmentFilterSearches{}

#allCountryFilterSearches{}

#operationTypeFilterSearches{}

#operationSubtypeFilterSearches{}

#overallStageFilterSearches{}

#teamMemberKeywordFilterSearches{}

#teamMemeberKeywordFilterSearches{}

#fundFilterSearches{}

#approvalYearFilterSearches{}

#searchFilterSearchesContainer .bold .k-input{
    font-weight: bold;
}

#supervisionPlanValidationStatusFilterSearches{}

#resultsTableSupervisionUISE001{}

#resultsTableSupervisionUISE001 thead tr th,
#resultsTableSupervisionUISE001 tbody tr td{
    width: 9.09%;
}