/**
 * ui_se_001-environmental_and_risks Id's
 * Mon, 13 january 2014
 * eSmart Group
 */

#ui_se_001-environmental_and_risks{}

#searchBoxContainerSearchesEnvironmentalAndRisks{
    
}

#searchBoxContainerSearchesEnvironmentalAndRisks .kendoDropDown,
#searchBoxContainerSearchesEnvironmentalAndRisks .kendoDatePicker{
    width: 100%;
}

#keywordFilterSearches

#allDepartmentFilterSearches{}

#allDivisionFilterSearches{}

#allCountryDepartmentFilterSearches{}

#allCountryFilterSearches{}

#operationTypeFilterSearches{}

#operationSubtypeFilterSearches{}

#overallStageFilterSearches{}

#teamMemberKeywordFilterSearches{}

#teamMemeberKeywordFilterSearches{}

#fundFilterSearches{}

#approvalYearFilterSearches{}

#searchFilterSearchesContainer .bold .k-input{
    font-weight: bold;
}

#overallOperationRiskFilterReports{}

#environmentalAndSocialRiskFilterReports{}

#environmentalAndSocialImpactCategoryFilterReports{}

#resultsTableEnvironmentalAndRisksUISE001{
    
}

#resultsTableEnvironmentalAndRisksUISE001 thead tr th,
#resultsTableEnvironmentalAndRisksUISE001 tbody tr td{
    width: 8.3%;
}