/**
 * ui_se_001-contract_and_financial Id's
 * Mon, 13 january 2014
 * eSmart Group
 */

#ui_se_001-contract_and_financial{}

#searchBoxContainerSearchesEnvironmentalAndRisks{
    
}

#searchBoxContainerSearchesContractAndFinancial .kendoDropDown,
#searchBoxContainerSearchesContractAndFinancial .kendoDatePicker{
    width: 100%;
}

#keywordFilterSearches

#allDepartmentFilterSearches{}

#allDivisionFilterSearches{}

#allCountryDepartmentFilterSearches{}

#allCountryFilterSearches{}

#operationTypeFilterSearches{}

#operationSubtypeFilterSearches{}

#overallStageFilterSearches{}

#teamMemberKeywordFilterSearches{}

#teamMemeberKeywordFilterSearches{}

#fundFilterSearches{}

#approvalYearFilterSearches{}

#searchFilterSearchesContainer .bold .k-input{
    font-weight: bold;
}

#contractStatusRiskFilterReports{}

#numberOfDaysForClauseExpirationFilterSearches{}

#projectableOperationsFilterReports{}

#lastDisbursementDateFromFilterReports{}

#lastDisbursementDateToFilterReports{}

#resultsTableContractAndFinancialUISE001{}

#resultsTableContractAndFinancialUISE001 thead tr th,
#resultsTableContractAndFinancialUISE001 tbody tr td{
    width: 10%;
}