/**
 * ui_se_001-visualization Id's
 * Mon, 13 january 2014
 * eSmart Group
 */

#ui_se_001-visualization{}

#searchBoxContainerSearchesVisualization{
    
}

#searchBoxContainerSearchesVisualization .kendoDropDown,
#searchBoxContainerSearchesVisualization .kendoDatePicker{
    width: 100%;
}

#keywordFilterSearches

#allDepartmentFilterSearches{}

#allDivisionFilterSearches{}

#allCountryDepartmentFilterSearches{}

#allCountryFilterSearches{}

#operationTypeFilterSearches{}

#operationSubtypeFilterSearches{}

#overallStageFilterSearches{}

#teamMemberKeywordFilterSearches{}

#teamMemeberKeywordFilterSearches{}

#fundFilterSearches{}

#approvalYearFilterSearches{}

#searchFilterSearchesContainer .bold .k-input{
    font-weight: bold;
}

#visualOutputKeywordFilterSearches{}

#firstAdministrativeLevelFilterSearches{}

#secondAdministrativeLevelFilterSearches{}

#thirdAdministrativeLevelFilterSearches{}

#egilibleOperationsGeoLocationInformationFilterSearches{}

#resultsTableVisualizationUISE001{}

#resultsTableVisualizationUISE001 thead tr th, 
#resultsTableVisualizationUISE001 tbody tr td{
    width: 10%;
}