@using IDB.MW.Application.VERModule.ViewModels
@using IDB.Presentation.MVC4.Helpers


@model List<VerUserViewModel>
    @{

        var userListItems = Model.Select(o => new MultiSelectListItem
        {
            Value = o.IdUserName != null ? o.IdUserName.ToString() : null,
            Text = o.Username,
            Selected = o.IsSelected
        }).ToList();
        <span data-pagemode="edit">
        @Confluence.InputDropDownMulti("CurrentRowParticipant", userListItems, width: "100px", disabled: !Model.Any())
        @Confluence.InputHidden(Model.Count.ToString(), "VerRoleTaskCount")
    </span>
}