<div class="pull-right">
    <div id="headerButtons" data-id="headerButtons" class="right-buttons hide">
        <div data-pagemode="read">
            @Confluence.ButtonBlue(Localization.GetText("OP.FD.Edit"), null, "edit")
        </div>

        <div data-pagemode="edit">
            @Confluence.ButtonWhite(Localization.GetText("OP.RP.ControlInformation.Cancel"), action: "cancel")
            @Confluence.ButtonOrange(Localization.GetText("OP.RP.ControlInformation.Save"), action: "save")
        </div>
    </div>
</div>