    <div class="pull-right">
        <div id="headerButtons" data-id="headerButtons" class="right-buttons">
            <div data-pagemode="read">
                @Confluence.ButtonBlue(Localization.GetText("OP.RP.CreateNewAndModifyRolePermission.Edit"), null, "edit")
            </div>

            <div data-pagemode="edit">
                
                @Confluence.ButtonLink(Localization.GetText("OP.RP.CreateNewAndModifyRolePermission.Cancel"), null, ViewBag.Create == true ? "cancelNew" : "cancel")
                @Confluence.ButtonOrange(Localization.GetText("OP.RP.CreateNewAndModifyRolePermission.Save"), null, "save")
            </div>
        </div>
    </div>