@using IDB.MW.Application.SGPModule.ViewModels.ProcurementDetail
@using IDB.MW.Domain.StoredProcedures.Outputs.SGP

@model ProcurementDetailViewModel

@{
    var statusInfo = Model.ViewContainer.GetValue<GetProcurementStatusInfoOutput>("StatusInfo");
    var canEditSGP = Model.ViewContainer.GetValue<bool>("canEditSGP");
    var canEditChecklist = (Model.ChecklistTab.ProcurementStartDate != null && Model.ChecklistTab.ProcurementEndDate != null) ? "true" : "false";
    var isProcFiduciary = Model.ViewContainer.GetValue<bool>("isProcFiduciary");

    if ((statusInfo != null) && statusInfo.CAN_EDIT && (canEditSGP && !isProcFiduciary))
    {
        <div data-id="headerButtons" class="float-right">
            <div data-type="contentButtons" data-id="#linktabChecklist">
                @Confluence.ButtonBlue(Localization.GetText("Common.Edit"), name: "edit-Checklist", dataAttributes: new Dictionary<string, string> { { "canEditChecklist", canEditChecklist } })
            </div>
        </div>
    }
}
