@using IDB.MW.Application.VMRModule.ViewModels

@model List<CommentViewModel>

@{
    int countRows = ViewBag.CountRows ?? 0;
}

@Confluence.InputHidden(countRows.ToString(), "countRowsHelper")

@if (Model != null && Model.Any())
{
    foreach (var element in Model)
    {
        <div class="sectionCommentGroup">
            @Html.Partial("Partials/CommentPartial/Comment", element)
        </div>
    }
}